- organizations = (@organizations || Organization.organization_customers)

.row
  .col-md-12
    = form_tag contracts_path(contracts_callback: "search_customers", from_where: from_where), remote: true, method: :get, class: "form-horizontal" do
      .col-md-3
        .col-md-12
          %strong Customer Name
        .col-md-12
          / = text_field_tag "name", params[:name], placeholder: "Customer Name", class: "form-control"
          = text_field_tag "organization_customers[name]", (params[:organization_customers] and params[:organization_customers][:name]), :placeholder => "Customer Name", class: "form-control"
      .col-md-3
        .col-md-12
          %strong Account Number
        .col-md-12
          = text_field_tag "organization_customers[account.account_no]", (params[:organization_customers] and params[:organization_customers]["account.account_no"]), :placeholder => "Account Number", class: "form-control"
      .col-md-3
        .col-md-12
          %strong Customer Code
        .col-md-12
          = text_field_tag "organization_customers[account.code]", (params[:organization_customers] and params[:organization_customers]["account.code"]), :placeholder => "Customer Code", class: "form-control"
      / .col-md-3
      /   .col-md-12
      /     %strong Industry Type
      /   .col-md-12
      /     = select_tag "organization_customers[industry_type.id]", options_from_collection_for_select(IndustryType.all, :id, :name, (params[:organization_customers] and params[:organization_customers]["industry_type.id"])), include_blank: true, class: "form-control parent_class"
      .col-md-12
        %br/
        .col-md-1
          .search
            = submit_tag "Search", name: "search", class: "btn btn-sm btn-success"
