= simple_form_for @action, url: update_action_admins_path do |f|
  .row
    .col-md-3
      = f.input :action_no
    .col-md-9
      = f.input :action_description
  .row
    .col-md-3
      = f.input :task_id
    .col-md-3
      %strong group
      = f.select :groups_id, options_from_collection_for_select(Role.all, :id, :name)
  .row
    .col-md-8
      = f.submit "Save", class: "btn btn-success pull-right", id: "submit_new_action"