%h3 Additional Charge
= simple_form_for @additional_charge, url: update_additional_charge_admins_path do |f|
  .row{style: "margin-top:15px;"}
    .col-md-6
      = f.input :additional_charge
  .row
    .col-md-6
      = f.input :default_cost_price
  .row
    .col-md-6
      = f.input :default_estimated_price
  .row{style: "margin-top:20px;"}
    .col-md-6
      = f.submit "Save", class: "btn btn-success pull-right", id: "submit_new_additional_charge"