= simple_form_for @currency, url: update_currency_admins_path do |f|
  .row
    .col-md-6
      = f.input :currency
    .col-md-3
      = f.input :code
  .row
    .col-md-3
      = f.input :symbol
    .col-md-3
      = f.input :base_currency, wrapper: :append
  .row
    .col-md-6
      = f.submit "Save", class: "btn btn-success pull-right", id: "submit_new_currency"