%h3 Reason
= simple_form_for @reason, url: update_reason_admins_path do |f|
  .row{style: "margin-top:15px;"}
    .col-md-2
      = f.input :hold, wrapper: :append
    .col-md-2
      = f.input :sla_pause, wrapper: :append
    .col-md-3
      = f.input :re_assign_request, wrapper: :append
    .col-md-2
      = f.input :terminate_job, wrapper: :append
    .col-md-3
      = f.input :terminate_spare_part, wrapper: :append
  .row
    .col-md-2
      = f.input :warranty_extend, wrapper: :append
    .col-md-2
      = f.input :spare_part_unused, wrapper: :append
    .col-md-3
      = f.input :reject_returned_part, wrapper: :append
    .col-md-2
      = f.input :reject_close, wrapper: :append
    .col-md-3
      = f.input :adjust_terminate_job_payment, wrapper: :append
  .row
    .col-md-6
      = f.input :reason, input_html: {rows: 1}
  .row{style: "margin-top:20px;"}
    .col-md-6
      = f.submit "Save", class: "btn btn-success pull-right", id: "submit_new_reason"
