= simple_nested_form_for @sbu, url: sbu_update_admins_path do |f|
  .row
    .col-md-6
      = f.input :sbu
  .row
    %h4 Add Engineer
  .row
    = f.simple_fields_for :sbu_engineers do |engineer|
      .row.col-md-12
        .col-md-6
          = engineer.association :engineer, collection: User.all.uniq{|e| e.id}.map{|e| [(e.first_name ? "#{e.name_title} #{e.first_name}" : e.email), e.id]}
          .add_sign
            = engineer.link_to_remove do
              %span.glyphicon.glyphicon-remove-sign
    .row.col-md-12
      .col-md-6
        = f.link_to_add :sbu_engineers do
          %span.glyphicon.glyphicon-plus-sign
    = f.submit "Save", class: "btn btn-success pull-right", id: "submit_new_sbu"