= simple_form_for @sla, url: update_sla_admins_path do |f|
  .row
    / .col-md-4
    /   = f.select :created_by, User.all.uniq{|e| e.id}.map{|e| [(e.first_name ? "#{e.name_title} #{e.first_name}" : e.email), e.id]}
    .col-md-3
      = f.input :sla_time
    .col-md-3
      = f.input :created_by,  as: :hidden, input_html: {value: current_user.id}

  .row
    .col-md-8
      = f.input :description


  .row{style: "margin-top:20px;"}
    .col-md-8
      = f.submit "Save", class: "btn btn-success pull-right", id: "submit_new_sla"