= simple_form_for @spare_part_status_action, url: update_spare_part_status_action_admins_path do |f|
  .row
    .col-md-3
      = f.input :code
    .col-md-6
      = f.input :name
  .row
    .col-md-3
      = f.input :manufacture_type_index
    .col-md-3
      = f.input :store_nc_type_index  
    .col-md-3
      = f.input :store_ch_type_index
    .col-md-3
      = f.input :on_loan_type_index
  .row
    .col-md-12
      = f.submit "Save", class: "btn btn-success pull-right", id: "submit_new_spare_part_status_action"