= simple_form_for @ticket_status, url: update_ticket_status_admins_path do |f|
  .row
    .col-md-4
      = f.input :code
    .col-md-4
      = f.input :name
    .col-md-4
      = f.input :colour
  .row
    .col-md-11
      = f.submit "Save", class: "btn btn-success pull-right", id: "submit_new_ticket_status"