= simple_form_for @workflow_mappings, url: update_workflow_mappings_admins_path do |f|
  .row
    .col-md-3
      = f.input :process_name
    .col-md-6
      = f.input :task_name

  .row
    .col-md-4
      = f.input :url
    .col-md-4
      = f.input :screen
    .col-md-4
      = f.input :first_header_title

  .row
    .col-md-4
      = f.input :second_header_title_name
    .col-md-4
      = f.input :input_variables
    .col-md-4
      = f.input :output_variables
      
  .row
    .col-md-9
      = f.submit "Save", class: "btn btn-success pull-right", id: "submit_new_workflow_mappings"