%h3 New GRN
- if @srr_item
  - inventory_product = @srr_item.inventory_product
  - inventory = inventory_product.inventories.find_by_store_id session[:store_id]
  - url = initiate_grn_for_srr_admins_inventories_path( srr_item_id: @srr_item.try(:id) )

.row
  .col-md-2
    %h4 GRN Info
  .col-md-10
    %dl.dl-horizontal
      %dt GRN No:
      %dd= CompanyConfig.first.next_sup_last_grn_no.to_s.rjust(5, INOCRM_CONFIG["inventory_grn_no_format"])
      %dt Created at:
      %dd= DateTime.now.strftime(INOCRM_CONFIG["short_date_format"])
      %dt Created by:
      %dd= current_user.full_name

%hr
.row
  .col-md-2
    %h4 SRR Info
  .col-md-10
    %dl.dl-horizontal
      %dt SRR No:
      %dd= @srr_item.srr.formatted_srr_no
      %dt Created at:
      %dd= @srr_item.srr.formated_created_at
      %dt Created By:
      %dd= @srr_item.srr.created_by_user_full_name
      %dt Store:
      %dd= @srr_item.srr.store_name
      %dt Returned quantity:
      %dd= @srr_item.quantity
      %dt Unit:
      %dd= @srr_item.currency.code
      %dt Total cost:
      %dd= @srr_item.total_cost
%hr

= simple_nested_form_for @srr_item, url: url, method: :post, remote: true, html: {class: "validate_form"} do |g|
  = g.input :current_user_id, as: :hidden, input_html: {value: current_user.id }

  .row
    .col-md-2
      %h4 Product Info

    .col-md-10
      %dl.dl-horizontal
        %dt Item Code:
        %dd= inventory_product.generated_item_code
        %dt Item Description:
        %dd= inventory_product.description
        %dt PO Remarks:
        %dd= inventory.remarks
        %dt Rack:
        %dd=inventory.inventory_bin.inventory_shelf.inventory_rack.description
        %dt Shelf:
        %dd=inventory.inventory_bin.inventory_shelf.description
        %dt BIN:
        %dd=inventory.inventory_bin.description
        %dt Stock In Hand:
        %dd=inventory.stock_quantity
        %dt Remarks:
        %dd= inventory_product.inventory_product_info.remarks
  %hr
  .row
    .col-md-2
      %h4 Remarks
    .col-md-10
      = g.input :remarks, label: false
  %hr

  - @srr_item.srr_item_sources.each do |srr_item_source|
    .row
      .col-md-2
        %h4 GIN Info
        = label_tag "accept", "Accept"
        = check_box_tag "srr_item_source[#{srr_item_source.id}][accept]", 1, false, onchange: "Inventories.show_serial_info(this, '#{srr_item_source.id}');"
      .col-md-10
        .row
          .col-md-6
            %dl.dl-horizontal
              %dt GIN No:
              %dd= srr_item_source.gin_source.gin_item.gin.formatted_gin_no
              %dt Created at:
              %dd= srr_item_source.gin_source.gin_item.gin.formated_created_at
              %dt Created By:
              %dd= srr_item_source.gin_source.gin_item.gin.created_by_user_full_name
              %dt Store:
              %dd= srr_item_source.gin_source.gin_item.gin.store_name
              %dt Remarks
              %dd= text_area_tag "grn_item[#{srr_item_source.id}][remarks]", nil, class: "form-control"
    %hr
    - if srr_item_source.gin_source.grn_serial_item.present?
      .row
        .col-md-2
          %h4 Serial Item: #{ srr_item_source.gin_source.grn_serial_item.inventory_serial_item.generated_serial_no }
        .col-md-10
          %dl.dl-horizontal
            %dt Serial No:
            %dd= srr_item_source.gin_source.grn_serial_item.inventory_serial_item.generated_serial_no
            %dt Unit cost
            %dd= text_field_tag "grn_item[#{srr_item_source.id}][unit_cost]", nil, class: "valid_accept_#{srr_item_source.id}"
            %dt Scavenge
            %dd= check_box_tag "inventory_serial_item[#{srr_item_source.id}][scavenge]"
            %dt Part not completed
            %dd= check_box_tag "inventory_serial_item[#{srr_item_source.id}][part_not_completed]"
            %dt Damage
            %dd= check_box_tag "inventory_serial_item[#{srr_item_source.id}][damage]", 1, false, onchange: "Inventories.hide_damaged_reason(this, '#{srr_item_source.id}');"
            .damage_reason.hide
              = hidden_field_tag "damage_request_source[#{srr_item_source.id}][request_quantity]", 1
              %dt Damage Reason
              %dd= select_tag "damage_request[#{srr_item_source.id}][damage_reason_id]", options_from_collection_for_select(InventoryReason.where(damage: true), 'id', 'reason')
            %dt Used
            %dd= check_box_tag "inventory_serial_item[#{srr_item_source.id}][used]"
            %dt Repaired
            %dd= check_box_tag "inventory_serial_item[#{srr_item_source.id}][repaired]"
            %dt Reserved
            %dd= check_box_tag "inventory_serial_item[#{srr_item_source.id}][reserved]"

        .col-md-2
          %h4 Warranty
        .col-md-10
          .row
            - srr_item_source.gin_source.grn_serial_item.inventory_serial_item.inventory_warranties.each do |warranty|
              .col-md-6
                %dl.dl-horizontal
                  %dt Type:
                  %dd= warranty.inventory_warranty_type.name

    - elsif srr_item_source.gin_source.grn_batch.present?
      .row
        .col-md-2
          %h4 Serial Batch - batch no:#{srr_item_source.gin_source.grn_batch.inventory_batch.batch_no}
        .col-md-10
          %dl.dl-horizontal
            %dt Lot No:
            %dd= srr_item_source.gin_source.grn_batch.inventory_batch.lot_no
            %dt Batch No:
            %dd= srr_item_source.gin_source.grn_batch.inventory_batch.batch_no
            %dt Manufactured Date:
            / %dd= srr_item_source.gin_source.grn_batch.inventory_batch.manufatured_date.to_date.strftime(INOCRM_CONFIG["short_date_format"])
            %dd= srr_item_source.gin_source.grn_batch.inventory_batch.manufatured_date.try(:strftime, "%Y-%m-%d")
            %dt Expiry Date:
            %dd= srr_item_source.gin_source.grn_batch.inventory_batch.expiry_date.try(:strftime, "%Y-%m-%d")
            %dt GIN Quantity:
            %dd= srr_item_source.gin_source.gin_item.issued_quantity
            %dt GIN Cost:
            %dd= srr_item_source.gin_source.gin_item.standard_cost
            %dt Returned Quantity:
            %dd= srr_item_source.gin_source.returned_quantity
            %dt Damage Quantity:
            %dd= text_field_tag "damage_request_source[#{srr_item_source.id}][request_quantity]"
            .damage_reason.hide
              %dt Damage Reason
              %dd= select_tag "damage_request[#{srr_item_source.id}][damage_reason_id]", options_from_collection_for_select(InventoryReason.where(damage: true), 'id', 'reason')
            %dt Unit cost
            %dd= text_field_tag "grn_item[#{srr_item_source.id}][unit_cost]"
            %br/
            .col-md-8
              = collapse_wrapper collapse_id: "warranty_info", labelledby: "warranty_info_labelledby" do
                = collapse collapse_type: "info", labelledby: "warranty_info_labelledby", header_content: "Warranty Information", collapse_link: "warranty_info_link", collapse_id: "warranty_info" do
                  %dl.dl-horizontal
                    - srr_item_source.gin_source.grn_batch.inventory_batch.inventory_batch_warranties.each do |batch_warranty|
                      %dt Type:
                      %dd= batch_warranty.inventory_warranty.inventory_warranty_type.name
                      %dt Start At:
                      %dd= batch_warranty.inventory_warranty.start_at.try(:strftime, "%Y-%m-%d")
                      %dt End At:
                      %dd= batch_warranty.inventory_warranty.end_at.try(:strftime, "%Y-%m-%d")
                      %dt Period Part (In months):
                      %dd= batch_warranty.inventory_warranty.period_part
                      %dt Period Labour (In months):
                      %dd= batch_warranty.inventory_warranty.period_labour
                      %dt Period On-sight (In months):
                      %dd= batch_warranty.inventory_warranty.period_onsight
                      %dt Remarks:
                      %dd= batch_warranty.inventory_warranty.remarks

    - else
      .row
        .col-md-2
          %h4 GRN No: #{srr_item_source.gin_source.grn_item.grn.grn_no_format }
        .col-md-10
          %dl.dl-horizontal
            %dt Damage quantity:
            %dd= text_field_tag "damage_request_source[#{srr_item_source.id}][request_quantity]"
            .damage_reason.hide
              %dt Damage Reason
              %dd= select_tag "damage_request[#{srr_item_source.id}][damage_reason_id]", options_from_collection_for_select(InventoryReason.where(damage: true), 'id', 'reason')
              %dt Damage quantity:
              %dd= text_field_tag "damage_request[#{srr_item_source.id}][request_quantity]"
            %dt Unit cost
            %dd= text_field_tag "grn_item[#{srr_item_source.id}][unit_cost]"
    %hr

  .row
    .col-md-12
      = g.submit "Save", class: "btn btn-sm btn-success", data: {disable_with: "Please wait..."}