- Organization
= simple_form_for @grn, url: create_grn_admins_inventories_path, method: :post do |f|
  = f.input :po_id, as: :hidden
  .row
    .col-md-2
      = f.association :supplier, collection: Organization.suppliers
    - unless params[:po_item_id].present?
      .col-md-2
        = f.input :po_no, label: "PO No"
    .col-md-12
      = f.input :remarks
    .col-md-12
      = f.submit "Save", class: "btn btn-sm btn-success"