.row
  .col-md-12
    = panels panel_type: "success", header_content: "GRN no: #{CompanyConfig.first.next_sup_last_grn_no.to_s.rjust(5, INOCRM_CONFIG["inventory_grn_no_format"])}" do

      %h4 Purchase Order Info
      %dl.dl-horizontal
        %dt Supplier
        %dd= @po.supplier.name
        %dt PO. No
        %dd= @po.formated_po_no
        %dt PO. Date
        %dd= @po.created_at.try(:strftime, INOCRM_CONFIG["short_date_format"])
        %dt Delivery date
        %dd= @po.delivery_date.try(:strftime, INOCRM_CONFIG["short_date_format"])
        %dt Remarks
        %dd= simple_format @po.remarks
        %dt Delivery to
        %dd= @po.deliver_to
        %dt Created at
        %dd= @po.created_at.try(:strftime, INOCRM_CONFIG["short_date_format"])
        %dt Created by
        %dd= @po.created_by_user_full_name

      %h4 Purchase Order items
      %table.table.table-bordered
        %thead
          %tr
            %th{colspan: 3} PO item
            %th{colspan: 5} Product
          %tr
            %th Quantity
            %th Unit cost
            %th Unit cost GRN
            %th product no
            %th model no
            %th Serial no
            %th Description
            %th Action
        %tbody
          - @po.inventory_po_items.where(closed: false).each do |po_item|

            - if !po_item.inventory_prn_item.inventory_product.non_stock_item
              %tr
                %td= po_item.quantity
                %td= number_with_precision po_item.unit_cost, precision: 2
                %td= number_with_precision po_item.unit_cost_grn, precision: 2
                %td= po_item.inventory_prn_item.inventory_product.product_no
                %td= po_item.inventory_prn_item.inventory_product.model_no
                %td= po_item.inventory_prn_item.inventory_product.generated_item_code
                %td= po_item.inventory_prn_item.inventory_product.description
                %td
                  - if po_item.inventory_prn_item.inventory_product.inventories.any?
                    = link_to "Select", grn_admins_inventories_path(purchase_order: "select_po_item", po_item_id: po_item.id), remote: true, class: "po_item_select_link", id: "po_item_#{po_item.id}"
                  - else
                    No inventories

      #grn_item_frame