= collapse_wrapper collapse_id: "grn_form_collapse", labelledby: "grn_form_collapse_labelledby" do
  = collapse collapse_type: "info", labelledby: "grn_form_collapse_search", header_content: "Search Inventories", collapse_link: "grn_form_collapse_search_inv", collapse_id: "grn_form_collapse", collapse_in: "in" do
    .row
      .col-md-12
        %fieldset
          %legend Search Inventories
          #search_frame
            = form_tag grn_admins_inventories_path(purchase_order: "search_inventory"), remote: true, method: :get, class: "form-horizontal" do
              = hidden_field_tag :issue_part, params[:issue_part]
              = hidden_field_tag :select_frame, params[:select_frame]
              = hidden_field_tag :checked_value, params[:checked_value]
              .row
                = hidden_field_tag "store_id", params[:store_id]
                / .col-md-3.store
                .col-md-12.brand
                  = label_tag InventoryCategoryCaption.first.caption
                  = select_tag "search_inventory[inventory_product][category1_id]", options_from_collection_for_select(InventoryCategory1.all, :id, :name, (params[:search_inventory] and params[:search_inventory][:category1_id])), include_blank: true, class: "form-control", id: "search_inventory_brand"
                .col-md-12.product
                  = label_tag InventoryCategoryCaption.second.caption
                  = select_tag "search_inventory[inventory_product][category2_id]", option_groups_from_collection_for_select(InventoryCategory1.all, :inventory_category2s, :id, :id, :name, (params[:search_inventory] and params[:search_inventory][:category2_id])), include_blank: true, class: "form-control", id: "search_inventory_product"
                .col-md-12.category
                  = label_tag InventoryCategoryCaption.third.caption
                  = select_tag "search_inventory[inventory_product][category3_id]", option_groups_from_collection_for_select(InventoryCategory2.all, :inventory_category3s, :id, :id, :name), include_blank: true, class: "form-control", id: "search_inventory_mst_inv_product_category3_id"
              .row.small_scale_margin-top1
                .col-md-4.serial_code
                  = text_field_tag "search_inventory[inventory_product][generated_serial_no]", (params[:search_inventory] and params[:search_inventory][:inventory_product][:generated_serial_no]), :placeholder => "Serial Code", class: "form-control"
                .col-md-4.item_code
                  = text_field_tag "search_inventory[inventory_product][generated_item_code]", (params[:search_inventory] and params[:search_inventory][:inventory_product][:generated_item_code]), :placeholder => "Item Code", class: "form-control"
                .col-md-4.part_no
                  = text_field_tag "search_inventory[inventory_product][spare_part_no]", (params[:search_inventory] and params[:search_inventory][:inventory_product][:spare_part_no]), :placeholder => "Part No", class: "form-control"
                .col-md-12.small_scale_padding-top1
                .col-md-4.model_no
                  = text_field_tag "search_inventory[inventory_product][model_no]", (params[:search_inventory] and params[:search_inventory][:inventory_product][:model_no]), :placeholder => "Model No", class: "form-control"
                .col-md-4.product_no
                  = text_field_tag "search_inventory[inventory_product][product_no]", (params[:search_inventory] and params[:search_inventory][:inventory_product][:product_no]), :placeholder => "Product No", class: "form-control"
                .col-md-4.description
                  = text_field_tag "search_inventory[inventory_product][description]", (params[:search_inventory] and params[:search_inventory][:inventory_product][:description]), placeholder: "Description", class: "form-control"

              .row.small_scale_margin-top1
                .col-md-1
                  .search
                    = submit_tag "Search", class: "btn btn-sm btn-warning", name: "search"

  = collapse collapse_type: "info", labelledby: "grn_form_collapse_search", header_content: "Search inventory result", collapse_link: "grn_form_collapse_search_link", collapse_id: "grn_form_collapse" do
    .row
      .col-md-12
        #search_inventory_result

  = collapse collapse_type: "info", labelledby: "grn_form_collapse_frame", header_content: "GRN items", collapse_link: "grn_form_collapse_frame_link", collapse_id: "grn_form_collapse" do
    .row
      .col-md-4
        %strong GRN No:
        = CompanyConfig.first.next_sup_last_grn_no.to_s.rjust(5, INOCRM_CONFIG["inventory_grn_no_format"])
      .col-md-4
        %strong Created by:
        = current_user.full_name
      .col-md-4
        %strong Created at:
        = DateTime.now.strftime("#{INOCRM_CONFIG['short_date_format']} #{INOCRM_CONFIG['time_format']}")
    .row
      .col-md-12
        #added_grns
    .row
      .col-md-12
        #grn_item_frame
