- pos = @pos

%h2 Searched PO's

= paginate pos, remote: true, method: :get

%table.table.table-hover
  %thead
    %tr
      %th No
      %th Store
      %th Supplier Name
      %th PO. No
      %th PO. Date
      %th Delivery date
      %th Remarks
      %th Created by
      %th Action
  %tbody
    - @pos.each_with_index do |po, index|
      %tr
        %td
          - if params[:page]
            = (index+1)+ 10*(params[:page].to_i-1)
          - else
            = (index+1)
        %td= po.store_name
        %td= po.supplier.name
        %td= po.formated_po_no
        %td= po.formated_created_at
        %td= po.delivery_date and po.delivery_date.to_date.try(:strftime, INOCRM_CONFIG['short_date_format'])
        %td= simple_format po.remarks
        %td= po.created_by_user_full_name
        %td= link_to "Select", grn_admins_inventories_path(purchase_order: "select_po", po_id: po.id), remote: true, id: "po_#{po.id}", class: "po_select_link"

= paginate pos, remote: true, method: :get

#po_frame