- render_frame = "grn_frame"

- if params[:po_item_id] or params[:inventory_product_id]
  - render_frame = "grn_item_frame"

- if params[:search_inventory]
  - render_frame = "search_inventory_result"
  $("a[href='#grn_form_collapse_search_link']").trigger("click");

- if params[:purchase_order] == "select_inventory"
  if(!$("#grn_form_collapse_frame_link").is(".in")) {
  $("a[href='#grn_form_collapse_frame_link']").trigger("click");
  }

- if params[:next] or params[:cancel]
  - if @grn_item.errors.present?
    $("##{render_frame}").html("#{ j render 'admins/inventories/grn/grn_item' }");
  - else
    - if Rails.cache.fetch([:po_item_ids]).to_a.count > 0 or Rails.cache.fetch([:inventory_product_ids]).to_a.count > 0
      $("##{render_frame}").html("#{j render 'admins/inventories/grn/grn_form' }");


    - else
      $("##{render_frame}").html("");

- else
  $("##{render_frame}").html("#{ j render 'admins/inventories/grn/'+@render_template }");
  Admins.import_csv_upload();

- if !params[:purchase_order].present? and params[:inventory_product_id].present?
  - @selected_grns_for_without_po = true
  $("#added_grns").html("#{j render 'admins/inventories/grn/select_inventory' }");

- if params[:po_id]
  $(".po_select_link").css("pointer-events", "inherit").text("Select").parents("tr").eq(0).removeClass("warning");
  $("#po_#{params[:po_id]}").css("pointer-events", "none").text("Selected").parents("tr").eq(0).addClass("warning");
- elsif params[:po_item_id] or params[:inventory_product_id]
  - if params[:next]
    - if @grn_item.errors.present?
      alert("#{@grn_item.errors.full_messages.join(', ')}");
      $("#po_item_#{params[:po_item_id]}, #i_product_#{params[:inventory_product_id]}").css("pointer-events", "inherit").text("Errors!").parents("tr").eq(0).removeAttr("class").addClass("danger");
    - else
      $("#po_item_#{params[:po_item_id]}, #i_product_#{params[:inventory_product_id]}").css("pointer-events", "inherit").text("Success").parents("tr").eq(0).removeAttr("class").addClass("success");

  - elsif params[:cancel]
    $("#po_item_#{params[:po_item_id]}, #i_product_#{params[:inventory_product_id]}").css("pointer-events", "inherit").text("Removed").parents("tr").eq(0).removeAttr("class").addClass("danger");
  - else
    $(".po_item_select_link").each(function(){$(this).css("pointer-events", "inherit").parents("tr").eq(0).removeClass("warning");});
    $("#po_item_#{params[:po_item_id]}, #i_product_#{params[:inventory_product_id]}").css("pointer-events", "none").text("Selected").parents("tr").eq(0).addClass("warning");


$('.datepicker').datepicker({
format: "yyyy-m-dd",
todayBtn: true,
todayHighlight: true
});

$(".po_item_select_link, .po_select_link").click(function(){
Tickets.ajax_loader();
});

- if params[:purchase_order] == "no"
  Inventories.filter_product();
  Inventories.filter_category();
  Inventories.filter_store();

Tickets.remove_ajax_loader();

$("a[rel~=popover], .has-popover").popover();