- if params[:new_bulk_upload_serial].present? or params[:clear_import].present?
  - content_for :content_for_sheet do
    - if Rails.cache.fetch([ :serial_item, :i_product, params[:inventory_product_id].to_i ]).present?
      = link_to "Clear", upload_grn_file_admins_inventories_path(clear_import: true, inventory_product_id: params[:inventory_product_id].to_i), remote: true, class: "clear_import"

    = initiate_table table_type: "table-bordered" do
      = table_header ["Serial No", "CT No"]
      = multi_table_body do
        - Rails.cache.fetch([ :serial_item, :i_product, params[:inventory_product_id].to_i ]).to_a.each do |is|
          = multi_table_row [is.serial_no, is.ct_no]

  - if params[:new_bulk_upload_serial].present?
    $("#bulk_serial_item_render").modal("hide");
    $(".fileinput-button").addClass('hide');
  - else
    $(".fileinput-button").removeClass('hide');

  $(".control-buttons").html("#{j content_for :content_for_sheet}");
- else
  $("#bulk_serial_item_render").modal({backdrop: "static"});
  $("#bulk_serial_item_render .modal-body").html("#{j render 'admins/inventories/grn/bulk_serial_items'}");

  - content_for :content_for_sheet do
    = initiate_table table_type: "table-bordered" do
      = table_header ["Serial No", "CT No"]
      = multi_table_body do
        - (@sheet.last_row - 1).times.each do |r|
          = multi_table_row @sheet.row(r+2)

  $("#result_sheet").html('#{j content_for :content_for_sheet}');

  $('#bulk_serial_item_render').on('hidden.bs.modal', function (e) {
  $(".import_csv_wrapper").empty();
  })

  $('.datepicker').datepicker({
  format: "yyyy-m-dd",
  todayBtn: true,
  todayHighlight: true
  });