- srns = @srns
- if @store
  .row
    .col-md-12
      %fieldset
        %legend Search SRN: #{@store.name}
        #search_frame
          = form_tag prn_admins_inventories_path(srn: "search_srn"), remote: true, method: :get, class: "form-horizontal" do
            .row
              = hidden_field_tag "store_id", params[:store_id_with_srn]
              = hidden_field_tag "search_inventory[srn_item][srn.store_id]", params[:store_id_with_srn]
              / .col-md-3.store
              .col-md-12.brand
                = label_tag InventoryCategoryCaption.first.caption
                = select_tag "search_inventory[srn_item][inventory_product.category1_id]", options_from_collection_for_select(InventoryCategory1.all, :id, :name, nil), include_blank: true, class: "form-control", id: "search_inventory_brand"
              .col-md-12.product
                = label_tag InventoryCategoryCaption.second.caption
                = select_tag "search_inventory[srn_item][inventory_product.category2_id]", option_groups_from_collection_for_select(InventoryCategory1.all, :inventory_category2s, :id, :id, :name, nil), include_blank: true, class: "form-control", id: "search_inventory_product"
              .col-md-12.category
                = label_tag InventoryCategoryCaption.third.caption
                = select_tag "search_inventory[srn_item][inventory_product.category3_id]", option_groups_from_collection_for_select(InventoryCategory2.all, :inventory_category3s, :id, :id, :name), include_blank: true, class: "form-control", id: "search_inventory_mst_inv_product_category3_id"
            .row.small_scale_margin-top1
              .col-md-4.srn_no
                = text_field_tag "search_inventory[srn_item][srn.formatted_srn_no]",nil, :placeholder => "Srn No", class: "form-control"
              .col-md-4.item_code
                = text_field_tag "search_inventory[srn_item][inventory_product.generated_item_code]", nil, :placeholder => "Item Code", class: "form-control"
              .col-md-4.product_no
                = text_field_tag "search_inventory[srn_item][inventory_product.product_no]", nil, :placeholder => "Product No", class: "form-control"
            .row.small_scale_margin-top1
              .col-md-1
                .search
                  = submit_tag "Search", class: "btn btn-sm btn-warning", name: "search"
        #search_result

- else
  .list-group#store-list
    %h2.small_scale_padding-bottom1 Select Store
    - Organization.stores.each do |store|
      = link_to prn_admins_inventories_path(store_id_with_srn: store.id, with_srn: "yes"),  remote: true, class: "list-group-item" do
        %h4.list-group-item-heading{id: "store_name_#{store.id}"}= store.name
        .list-group-item-text{id: "store_desc_#{store.id}"}= simple_format store.description