- if @store
  = simple_nested_form_for @prn, url: "#" do |f|
    = f.input :created_by, as: :hidden, input_html: {value: current_user.id}
    = f.input :prn_no, as: :hidden, input_html: {value: CompanyConfig.first.next_sup_last_prn_no}
    .row
      .col-md-6
        %strong PRN No:
        = CompanyConfig.first.next_sup_last_prn_no.to_s.rjust(5, INOCRM_CONFIG["inventory_prn_no_format"])
      .col-md-6.text-right
        %strong Created by:
        = current_user.full_name
        %br/
        %strong Created at:
        = DateTime.now.strftime("%Y-%m-%d %H:%M")

      .col-md-3
        = f.input :required_at, as: :string, input_html: {class: "datepicker"}
      .col-md-9
        = f.input :remarks, input_html: {value: nil}
        = simple_format f.object.remarks

      .col-md-12
        = f.simple_fields_for :inventory_prn_items do |i|
          .row
            .col-md-3
              = i.input :quantity, label: "Requested quantity"
            .col-md-9
              = i.input :remarks
      .col-md-12
        = f.link_to_add :inventory_prn_items do
          %span.glyphicon.glyphicon-plus-sign
          Add Item

      .col-md-12
        = f.submit "Save", class: "btn btn-sm btn-success"
- else

  .list-group#store-list
    - Organization.stores.each do |store|
      = link_to prn_admins_inventories_path(store_id: store.id), class: "list-group-item" do
        %h4.list-group-item-heading{id: "store_name_#{store.id}"}= store.name
        .list-group-item-text{id: "store_desc_#{store.id}"}= simple_format store.description