/ - render_frame = "main_prn"

/ $("##{render_frame}").html("#{ j render 'admins/inventories/prn/'+@render_template }");
/ $("#prn_frame").addClass("hide");


- if params[:srn] == "yes"
  $("#main_prn").html("#{ j render 'admins/inventories/prn/'+@render_template }");
  $("#prn_frame").addClass("hide");

- if params[:srn] == "no"
  $("#main_prn").html("#{ j render 'admins/inventories/prn/'+@render_template }");
  $("#prn_frame").addClass("hide");

- if params[:with_srn] == "no"
  $("#main_prn").html("#{ j render 'admins/inventories/prn/main_prn' }");

- if params[:with_srn] == "yes"
  $("#main_prn").html("#{ j render 'admins/inventories/prn/with_srn' }");

- if params[:srn] == "search_srn"
  $("#search_result").html("#{ j render 'admins/inventories/prn/search_srn_results' }");


$("a[rel~=popover], .has-popover").popover();
Tickets.initial_loaders();
Tickets.remove_ajax_loader();

$('.datepicker').datepicker({
format: "yyyy-m-dd",
todayBtn: true,
todayHighlight: true
});