/ - render_frame = "main_prn"

/ $("##{render_frame}").html("#{ j render 'admins/inventories/prn/'+@render_template }");
/ $("#prn_frame").addClass("hide");


- if params[:srn] == "yes"
  $("#main_prn").html("#{ j render 'admins/inventories/prn/'+@render_template }");
  $("#prn_frame").addClass("hide");

- if params[:srn] == "no"
  $("#main_prn").html("#{ j render 'admins/inventories/prn/'+@render_template }");
  $("#prn_frame").addClass("hide");

- if params[:with_srn] == "no"
  $("#main_prn").html("#{ j render 'admins/inventories/prn/main_prn' }");

- if params[:with_srn] == "yes"
  $("#main_prn").html("#{ j render 'admins/inventories/prn/with_srn' }");
  Inventories.filter_product();
  Inventories.filter_category();
  Inventories.filter_store();

- if params[:srn] == "search_srn"
  - if params[:load_more].present?
    - if @srn_items.present?
      - content_for :load_more_link, flush: true do
        = link_to "Load more", prn_admins_inventories_path(srn: "search_srn", query: params[:query], page: (session[:page] || 2), store_id: params[:store_id], load_more: true), remote: true

      $("#load_more_link").html("#{j yield :load_more_link }")

      $("#srn_item_list").append("#{ j render 'admins/inventories/prn/srns' }");

    - else
      $("#load_more_link").empty();


  - else
    $("#search_result").html("#{ j render 'admins/inventories/prn/search_srn_results' }");


- if params[:close_prn].present?
  $("#close_prn").modal();
  $("#close_prn .modal-body").html("#{j render 'admins/inventories/prn/close_prn', prn: @prn}");

$("a[rel~=popover], .has-popover").popover();
Tickets.initial_loaders();
Tickets.remove_ajax_loader();
$('.chosen-select').chosen();