- prn = @prn
.row
  .col-md-12
    = panels panel_type: "#{prn.closed ? 'danger' : 'success'}", header_content: "PRN No: #{prn.formated_prn_no}" do

      %h4
        - if prn.closed
          %span.label.label-danger Closed
        PRN Info
      %dl.dl-horizontal
        %dt PRN No
        %dd= prn.formated_prn_no
        %dt PO. Date
        %dd= prn.created_at.try(:strftime, INOCRM_CONFIG["short_date_format"])
        %dt Remarks
        %dd= simple_format prn.remarks
        %dt Created at
        %dd= prn.created_at.try(:strftime, INOCRM_CONFIG["short_date_format"])
        %dt Created by
        %dd= prn.created_by_user_full_name
        %dt Support Ticket No
        %dd= prn.support_ticket_no

      %h4.small_scale_padding-top1 PRN Items
      %table.table.table-bordered
        %thead
          %tr
            %th{colspan: 1}
            %th{colspan: 4} Product
            %th{colspan: 3} PRN item
          %tr
            %th No
            %th Item Code
            %th Description
            %th Model no
            %th Product no
            %th SRN (s)
            %th Quantity
            %th Remarks
        %tbody
          - prn.inventory_prn_items.each_with_index do |prn_item, index|
            %tr{class: "#{'danger' if prn_item.closed}", title: "#{'Closed' if prn_item.closed}"}
              %td= (index+1)
              %td= prn_item.inventory_product.try(:generated_item_code)
              %td= prn_item.inventory_product.try(:description)
              %td= prn_item.inventory_product.try(:model_no)
              %td= prn_item.inventory_product.try(:product_no)
              %td
                - prn_item.srn_items.each do |srn_item|
                  = link_to srns_admins_inventories_path(srn_id: srn_item.srn.id), target: "_blank" do
                    = srn_item.formatted_srn_no
                  %br/

              %td= prn_item.quantity
              %td= prn_item.remarks

= link_to "Remove", close_prn_admins_inventories_path(prn_id: prn.id, close_prn: true), remote: "true"

#close_prn.modal.fade{tabindex: -1, role: "dialog", "aria-labelledby" => "close_po_id", "aria-hidden" => true}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title Do you want to delete this PRN?
      .modal-body
      .modal-footer