= simple_form_for create_so_po, url: "#" do |f|
  .row
    .col-md-4
      = f.input :po_no, label: "PO No"
    .col-md-4
      = f.input :po_date, label: "PO Date", as: :string, input_html: {class: "datepicker"}
  .row
    .col-md-4
      = f.input :so_no, label: "Sales Order No"
    .col-md-4
      = f.input :amount, label: "Amount($)"
  
  .row#remove_id2
  
  .row
    %table.table.table-hover
      %thead
        %tr
          %th No
          %th Event No
          %th Event Closed Date
          %th Order No
          %th Date Ordered
          %th Part No
          %th Description
          %th Note
          %th Ticket No
          %th Serial No
          %th Expected Amount
          %th Amount ($)
          %th 
      %tbody

        - ticket_spare_part.each_with_index do |part, index|
          %tr.hide
            %th{:scope => "row"} #{index+1}
            %td= part.ticket_spare_part_manufacture.try(:event_no)
            %td= part.ticket_spare_part_manufacture.try(:issued_at)
            %td= part.ticket_spare_part_manufacture.try(:order_no)
            %td= part.ticket_spare_part_manufacture.try(:issued_at)
            %td= part.ticket_spare_part_manufacture.try(:spare_part_id)
            %td= part.try(:spare_part_description)
            %td= simple_format part.try(:note)
            / %td 
            /   = link_to "#", class: "has-tooltip", data: {toggle: "tooltip", placement: "left"}, title: " #{part.try(:note)}" do
            /     = simple_format part.try(:note)
            %td
              #{part.ticket_id.to_s.rjust(6, INOCRM_CONFIG["ticket_no_format"])}
            %td= part.try(:spare_part_no)
            %td
              = part.ticket_spare_part_manufacture.try(:payment_expected_manufacture)
              = check_box_tag "ticket_spare_part_ids[]", "#{part.id}", false, id: "ticket_spare_part_#{part.id}", disabled: true, class: "hide"
            %td
            %td
              %button.remove_id2{:value => "#{part.id}", id: "remove_me_#{part.id}"} Remove
  

  .row
    .col-md-6
      = f.input :note
  .row.pull-right{style: "margin-bottom: 10px;"}
    .col-md-3
      = f.submit "Submit", class: "btn btn-success pull-right", id: "submit_so_po_sales_order"
    .col-md-3
      = link_to "Cancel","#"
      / = link_to "Cancel","#", onclick: "$('#estimation_wrapper').empty(); return false;"x



