- display_results = @display_results
- inventories = @inventories
.modal-header
  %h3 Select inventory
.modal-body
  #search_frame
    = form_tag search_inventories_inventories_path, remote: true, method: :get do
      .row
        .col-md-3.store
          = label_tag "Store"
          = select_tag "search_inventory[store_id]", options_from_collection_for_select(Organization.stores, :id, :name, (params[:search_inventory] and params[:search_inventory][:store_id])), include_blank: true
        .col-md-3.brand
          = label_tag InventoryCategoryCaption.first.caption
          = select_tag "search_inventory[brand]", options_from_collection_for_select(InventoryCategory1.all, :id, :name, (params[:search_inventory] and params[:search_inventory][:brand])), include_blank: true
        .col-md-3.product
          = label_tag InventoryCategoryCaption.second.caption
          = select_tag "search_inventory[product]", option_groups_from_collection_for_select(InventoryCategory1.all, :inventory_category2s, :name, :id, :name, (params[:search_inventory] and params[:search_inventory][:product])), include_blank: true
        .col-md-3.category
          = label_tag InventoryCategoryCaption.third.caption
          = select_tag "search_inventory[mst_inv_product][category3_id]", option_groups_from_collection_for_select(InventoryCategory2.all, :inventory_category3s, :name, :id, :name, (params[:search_inventory] and params[:search_inventory][:mst_inv_product][:category3_id])), include_blank: true
      .row.small_scale_margin-top1
        .col-md-2.serial_code
          = #label_tag "Serial Code"
          = text_field_tag "search_inventory[mst_inv_product][serial_no]", (params[:search_inventory] and params[:search_inventory][:mst_inv_product][:serial_no]), :placeholder => "Serial Code", style: "width: 100%;"
        .col-md-2.part_no
          = #label_tag "Part No"
          = text_field_tag "search_inventory[mst_inv_product][spare_part_no]", (params[:search_inventory] and params[:search_inventory][:mst_inv_product][:spare_part_no]), :placeholder => "Part No", style: "width: 100%;"
        .col-md-2.model_no
          = #label_tag "Model No"
          = text_field_tag "search_inventory[mst_inv_product][model_no]", (params[:search_inventory] and params[:search_inventory][:mst_inv_product][:model_no]), :placeholder => "Model No", style: "width: 100%;"
        .col-md-3.product_no
          = #label_tag "Product No"
          = text_field_tag "search_inventory[mst_inv_product][product_no]", (params[:search_inventory] and params[:search_inventory][:mst_inv_product][:product_no]), :placeholder => "Product No", style: "width: 100%;"
        .col-md-3.description
          = text_field_tag "search_inventory[mst_inv_product][description]", (params[:search_inventory] and params[:search_inventory][:mst_inv_product][:description]), placeholder: "Description", style: "width: 100%;"

      .row.small_scale_margin-top1
        .col-md-1
          .search
            = submit_tag "Search", class: "btn btn-sm btn-success"



  - if display_results
    %hr
    %table.table.table-striped
      %thead
        %tr
          %th Product Index
          %th Store
          %th Item Code
          %th Item Description
          %th Model No
          %th Product No
          %th Part No
          %th Unit
          %th Available Qnty
      %tbody
      - inventories.each_with_index do |inventory, index|
        %tr
          %td= index+1 #inventory.inventory_product.id
          %td= inventory.organization.name
          %td= inventory.inventory_product.generated_item_code
          %td= inventory.inventory_product.description
          %td= inventory.inventory_product.model_no
          %td= inventory.inventory_product.product_no
          %td= inventory.inventory_product.spare_part_no
          %td= inventory.inventory_product.inventory_unit.unit
          %td= inventory.available_quantity
          %td= link_to "select", inventory_in_modal_inventories_path(select_inventory: true, inventory_id: inventory.id, select_frame: session[:select_frame]), remote: true

.modal-footer
  = link_to "Close", "#", class: "btn btn-default", "data-dismiss" => "modal"