- display_results = @display_results
- inventory_products = @inventory_products
- inventories = @inventories
- non_inventory_products = @non_inventory_products
- non_stock_products = @non_stock_products
.modal-header
  %h3 Select inventory products
.modal-body
  #search_frame
    = form_tag search_inventories_inventories_path, remote: true, method: :get do
      = hidden_field_tag :issue_part, params[:issue_part] 
      = hidden_field_tag :select_frame, params[:select_frame] 
      = hidden_field_tag :checked_value, params[:checked_value] 
      .row
        .col-md-3.store
          = label_tag "Store"
          = select_tag "search_inventory[store_id]", options_from_collection_for_select(Organization.stores, :id, :name, (params[:search_inventory] and params[:search_inventory][:store_id]))
        .col-md-3.brand
          = label_tag InventoryCategoryCaption.first.caption
          = select_tag "search_inventory[brand]", options_from_collection_for_select(InventoryCategory1.all, :id, :name, (params[:search_inventory] and params[:search_inventory][:brand])), include_blank: true
        .col-md-3.product
          = label_tag InventoryCategoryCaption.second.caption
          = select_tag "search_inventory[product]", option_groups_from_collection_for_select(InventoryCategory1.all, :inventory_category2s, :name, :id, :name, (params[:search_inventory] and params[:search_inventory][:product])), include_blank: true
        .col-md-3.category
          = label_tag InventoryCategoryCaption.third.caption
          = select_tag "search_inventory[mst_inv_product][category3_id]", option_groups_from_collection_for_select(InventoryCategory2.all, :inventory_category3s, :name, :id, :name, (params[:search_inventory] and params[:search_inventory][:mst_inv_product][:category3_id])), include_blank: true
      .row.small_scale_margin-top1
        .col-md-2.serial_code
          = text_field_tag "search_inventory[mst_inv_product][serial_no]", (params[:search_inventory] and params[:search_inventory][:mst_inv_product][:serial_no]), :placeholder => "Serial Code", style: "width: 100%;"
        .col-md-2.part_no
          = text_field_tag "search_inventory[mst_inv_product][spare_part_no]", (params[:search_inventory] and params[:search_inventory][:mst_inv_product][:spare_part_no]), :placeholder => "Part No", style: "width: 100%;"
        .col-md-2.model_no
          = text_field_tag "search_inventory[mst_inv_product][model_no]", (params[:search_inventory] and params[:search_inventory][:mst_inv_product][:model_no]), :placeholder => "Model No", style: "width: 100%;"
        .col-md-3.product_no
          = text_field_tag "search_inventory[mst_inv_product][product_no]", (params[:search_inventory] and params[:search_inventory][:mst_inv_product][:product_no]), :placeholder => "Product No", style: "width: 100%;"
        .col-md-3.description
          = text_field_tag "search_inventory[mst_inv_product][description]", (params[:search_inventory] and params[:search_inventory][:mst_inv_product][:description]), placeholder: "Description", style: "width: 100%;"

      .row.small_scale_margin-top1
        .col-md-1
          .search
            = submit_tag "Search", class: "btn btn-sm btn-success"



  - if display_results
    = tab_panel do
      = tab_nav_tab({id: "inventory_in_modal"}, {inventory_tab: {active_class: "active", content: "Inventory"}, non_inventory_tab: {content: "Non inventory"}, non_stock_tab: {content: "Non stock"}})
      .tab-content
        = tab_content tabpointer: :inventory_tab, active_class: "active" do
          %table.table.table-striped
            %thead
              %tr
                %th No
                %th Item Code
                %th Item Description
                %th Model No
                %th Product No
                %th Part No
                %th Unit
                %th Type
                %th Available Qnty
                %th Select
            %tbody
            - inventories.each_with_index do |inventory, index|
              %tr
                %td= index+1
                %td= inventory.inventory_product.generated_item_code
                %td= inventory.inventory_product.description
                %td= inventory.inventory_product.model_no
                %td= inventory.inventory_product.product_no
                %td= inventory.inventory_product.spare_part_no
                %td= inventory.inventory_product.inventory_unit.unit
                %td= inventory.inventory_product.inventory_product_info ? (inventory.inventory_product.inventory_product_info.need_serial ? "Serial" : (inventory.inventory_product.inventory_product_info.need_batch ? "Batch" : "")) : ""

                %td= inventory.available_quantity
                %td= link_to("Select", inventory_in_modal_inventories_path(select_inventory: true, inventory_id: inventory.id, select_frame: session[:select_frame], issue_part: params[:issue_part]), remote: true)
        
        = tab_content tabpointer: :non_inventory_tab do
          %table.table.table-striped
            %thead
              %tr
                %th No
                %th Item Code
                %th Item Description
                %th Model No
                %th Product No
                %th Part No
                %th Unit
                %th Type
                %th Select
            %tbody
            - inventory_products.each_with_index do |inventory_product, index|
              %tr
                %td= index+1
                %td= inventory_product.generated_item_code
                %td= inventory_product.description
                %td= inventory_product.model_no
                %td= inventory_product.product_no
                %td= inventory_product.spare_part_no
                %td= inventory_product.inventory_unit.unit
                %td= inventory_product.inventory_product_info ? inventory_product.inventory_product_info.need_serial ? "Serial" : (inventory_product.inventory_product_info.need_batch ? "Batch" : "") : "No product info"
                %td= link_to("Select", inventory_in_modal_inventories_path(select_inventory: true, inventory_product_id: inventory_product.id, select_frame: session[:select_frame], issue_part: params[:issue_part]), remote: true)

        = tab_content tabpointer: :non_stock_tab do
          %table.table.table-striped
            %thead
              %tr
                %th No
                %th Item Code
                %th Item Description
                %th Unit
                %th Select
            %tbody
            - non_stock_products.each_with_index do |non_stock, index|
              %tr
                %td= index+1
                %td= non_stock.generated_item_code
                %td= non_stock.description
                %td= non_stock.inventory_unit.unit
                %td= link_to("Select", inventory_in_modal_inventories_path(select_inventory: true, non_inventory_product_id: non_stock.id, select_frame: session[:select_frame], issue_part: params[:issue_part]), remote: true)

.modal-footer
  = link_to "Close", "#", class: "btn btn-default", "data-dismiss" => "modal"