.row.grid_perfect
  .col-md-4
    = link_to inventory_location_admins_inventories_path, "role" => "button",class: "btn btn-default btn-lg btn-block grid_button" do
      %i.fa.fa-thumb-tack
      Inventory Location
  .col-md-4
    = link_to inventory_category_admins_inventories_path, "role" => "button",class: "btn btn-default btn-lg btn-block grid_button" do
      %i.fa.fa-sitemap
      Category
    
  .col-md-4
    = link_to inventory_product_admins_inventories_path, "role" => "button",class: "btn btn-default btn-lg btn-block grid_button" do
      %i.fa.fa-cubes
      Inventory Product

.row.grid_perfect
  .col-md-4
    = link_to inventory_product_condition_admins_inventories_path, "role" => "button",class: "btn btn-default btn-lg btn-block grid_button" do
      %i.fa.fa-pencil-square-o 
      Product Condition
  .col-md-4
    = link_to inventory_disposal_method_admins_inventories_path, "role" => "button",class: "btn btn-default btn-lg btn-block grid_button" do
      %i.fa.fa-truck
      Disposal Method
  .col-md-4
    = link_to inventory_reason_admins_inventories_path, "role" => "button",class: "btn btn-default btn-lg btn-block grid_button" do
      %i.fa.fa-comments-o
      Reason
.row.grid_perfect
  .col-md-4
    = link_to inventory_manufacture_admins_inventories_path, "role" => "button",class: "btn btn-default btn-lg btn-block grid_button" do
      %i.fa.fa-share-square-o
      Manufacture
  .col-md-4
    = link_to inventory_unit_admins_inventories_path, "role" => "button",class: "btn btn-default btn-lg btn-block grid_button" do
      %i.fa.fa-archive
      Unit
    
  