%h3 Reason
= simple_nested_form_for @inventory_reason, url: update_inventory_reason_admins_path do |i|
  .row{style: "margin-top: 15px; "}
    .col-md-3
      = i.input :srn_issue_terminate, wrapper: :append
    .col-md-3
      = i.input :damage, wrapper: :append
    .col-md-3
      = i.input :srr, wrapper: :append
    .col-md-3
      = i.input :disposal, wrapper: :append
  .row
    .col-md-4
      = i.input :created_by,  as: :hidden, input_html: {value: current_user.id}
      = i.input :updated_by,  as: :hidden, input_html: {value: current_user.id}
      
  .row
    .col-md-7
      = i.input :reason
  .row{style: "margin-top:20px;"}
    .col-md-7
      = i.submit "Save", class: "btn btn-success pull-right", id: "submit_new_inventory_reason"

#accordion.panel-group
  - @inventory_reason_all.each_with_index do |inv_reason, index|
    .panel.panel-info
      .panel-heading
        %h3.panel-title
          %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "##{index}"}
            #{index+1} inventory reason : #{inv_reason.reason}
      .panel-collapse.collapse.in{:id => "#{index}"}
        .panel-body
          .row.col-md-12
            = link_to "#", class: "inline_edit load_style", data: {type: "textarea", resource: "inventory_reason", name: "reason", url:inline_update_inventory_reason_admins_path(inventory_reason: inv_reason.id), "original-title" => "Update reason", value: ""}, style: "line-height: 6px;" do
              = inv_reason.reason
