%h3 Inventory Disposal Method
= simple_nested_form_for @inventory_disposal_method, url: update_inventory_disposal_method_admins_path do |d|
  .row{style: "margin-top: 15px; "}
    .col-md-8
      = d.input :disposal_method
    .col-md-4
      = d.input :created_by, as: :hidden
      = d.input :updated_by, as: :hidden
  .row{style: "margin-top:20px;"}
    .col-md-8
      = d.submit "Save", class: "btn btn-success pull-right", id: "submit_new_inventory_disposal_method"
#accordion.panel-group
  - @inventory_disposal_method_all.each_with_index do |disposal, index|
    .panel.panel-info
      .panel-heading
        %h3.panel-title
          %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "##{index}"}
            #{index+1} inventory disposal method: #{disposal.disposal_method}
          - unless disposal.is_used_anywhere?
            = link_to delete_disposal_method_admins_path(disposal_id: disposal.id),  :data => { :confirm => 'Are you sure?' } do
              %span.glyphicon.glyphicon-trash
      .panel-collapse.collapse.in{:id => "#{index}"}
        .panel-body
          .row.col-md-12
            .col-md-2
              %strong disposal method:
            .col-md-6
              = link_to "#", class: "inline_edit load_style", data: {type: "textarea", resource: "inventory_disposal_method", name: "disposal_method", url:inline_update_disposal_method_admins_path(disposal_method: disposal.id), "original-title" => "Update disposal method", value: ""}, style: "line-height: 6px;" do
                = disposal.disposal_method
