- if @inventory
  $("#inventory_modal").modal('hide');

  - @content_for = capture do
    %dl.dl-horizontal
      %dt Store
      %dd
        = @inventory.organization.name
      %dt Item Code
      %dd
        = @inventory.inventory_product.serial_no
      %dt Item Description
      %dd
        = @inventory.inventory_product.description
      %dt Model No
      %dd
        = @inventory.inventory_product.model_no
      %dt Product No
      %dd
        = @inventory.inventory_product.product_no
      %dt Part No
      %dd
        = @inventory.inventory_product.spare_part_no
      %dt Available Qnty
      %dd
        = @inventory.available_quantity


  $(".#{session[:select_frame]}").html('#{j @content_for}');
  $("#store_id").val("#{session[:store_id]}");
  $("#mst_store_id").val("#{session[:mst_store_id]}");
  $("#inv_product_id").val("#{session[:inv_product_id]}");
  $("#mst_inv_product_id").val("#{session[:mst_inv_product_id]}");

- else
  $("#inventory_modal").modal();
  $("#inventory_modal .modal-content").html("#{j render 'inventory_in_modal'}");

Inventories.filter_product();
Inventories.filter_category();
Inventories.filter_store();