
%h3 Inventory Product
= simple_nested_form_for @inventory_product, url: inventory_product_admins_path(create: true) do |f|
  .row
    .col-md-3.brand
      = label_tag InventoryCategoryCaption.first.caption
      = select_tag "search_inventory[brand]", options_from_collection_for_select(InventoryCategory1.where(active: true), :id, :name, (params[:search_inventory] and params[:search_inventory][:brand])), include_blank: true
    .col-md-3.product
      = label_tag InventoryCategoryCaption.second.caption
      = select_tag "search_inventory[product]", option_groups_from_collection_for_select(InventoryCategory1.where(active: true), :active_inventory_category2s, :id, :id, :name, (params[:search_inventory] and params[:search_inventory][:product])), include_blank: true
    .col-md-3.category
      = label_tag InventoryCategoryCaption.third.caption
      = f.association :inventory_category3, collection: InventoryCategory2.all, as: :grouped_select, group_method: :active_inventory_category3s, group_label_method: :id, label_method: :name, value_method: :id, label: false
  .row
    .col-md-3
      = f.input :serial_no, input_html: {value: InventorySerialItem.last.serial_no}
    .col-md-3
      = f.input :serial_no_order, input_html: {value: InventoryProduct.all.count + 1}
    .col-md-3
      = f.input :sku
    .col-md-3
      = f.input :legacy_code
  .row
    .col-md-6
      = f.input :description
  .row
    .col-md-3
      = f.input :model_no
    .col-md-3
      = f.input :product_no
    .col-md-3
      = f.input :spare_part_no
    .col-md-3
      = f.input :non_stock_item
      / = check_box_tag(:non_stock_item)
      / = label_tag(:non_stock_item, "non stock item")
  .row
    .col-md-3
      = f.input :fifo, wrapper: :append
    .col-md-3
      = f.input :active, wrapper: :append
    .col-md-3
      = f.input :spare_part, wrapper: :append
    .col-md-3
      = f.label "Unit : "
      = f.select :unit_id, InventoryUnit.where(active: true).uniq{|i| i.id}.map{|o| [o.unit, o.id]}

  .row
    = f.input :created_by, as: :hidden, input_html: {value: current_user.id}
    = f.input :updated_by, as: :hidden, input_html: {value: current_user.id}
  %hr
  .row
    = f.simple_fields_for :inventory_product_info do |d|
      .row
        .col-md-3
          = d.label "Picture:"
          = d.file_field :picture, accept: 'image/png,image/gif,image/jpeg,application/pdf'
        .col-md-3
          = d.label "Secondary Unit : "
          = d.select :secondary_unit_id, InventoryUnit.where(active: true).uniq{|i| i.id}.map{|o| [o.unit, o.id]}
        .col-md-3
          = check_box_tag(:issue_fractional_allowed)
          = label_tag(:issue_fractional_allowed, "Issue Fractional Allowed")
          / = d.input :issue_fractional_allowed, wrapper: :append
        .col-md-3
          = check_box_tag(:per_secondery_unit_conversion)
          = label_tag(:per_secondery_unit_conversion, "Per Secondery Unit Conversion")
          / = d.input :per_secondery_unit_conversion
      .row
        .col-md-3
          = check_box_tag(:need_serial)
          = label_tag(:need_serial, "Need Serial")
        .col-md-3
          = check_box_tag(:need_batch)
          = label_tag(:need_batch, "Need Batch")
        .col-md-3
          = d.label "Country:"
          = d.select :country_id, ProductSoldCountry.all.map {|c| [c.Country, c.id]}, label: "Country"
        .col-md-3
          = d.label "Manufacture:"
          = d.select :manufacture_id, Manufacture.where(active: true).map {|c| [c.manufacture, c.id]}, label: "Manufacture"
      .row
        .col-md-3
          = d.input :average_cost
        .col-md-3
          = d.input :standard_cost
        .col-md-3
          = d.label "Currency:"
          = d.select :currency_id, Currency.all.map {|c| [c.currency, c.id]}, label: "Currency"
      .row.hide
        .col-md-6
          = d.input :remarks

  .row{style: "margin-bottom:20px;"}
    .col-md-8
      = f.submit "Save", class: "btn btn-success pull-right", id: "submit_new_inventory_product", data: {disable_with: "Please wait..."}

#accordion.panel-group
  - @inventory_product_all.each_with_index do |inv_product, index|
    .panel.panel-info
      .panel-heading
        %h3.panel-title
          %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "##{index}"}
            Inventory Product Serial No : #{inv_product.serial_no}
            - unless inv_product.is_used_anywhere?
              = link_to delete_inventory_product_form_admins_path(product_id: inv_product.id),  :data => { :confirm => 'Are you sure?' } do
                %span.glyphicon.glyphicon-trash
      .panel-collapse.collapse.in{:id => "#{index}"}
        .panel-body
          .row.col-md-12
            .col-md-2
              %strong Serial No:
            .col-md-4
              = link_to "#", class: "inline_edit", data: {type: "text", resource: "inventory_product", name: "serial_no", url:inline_update_admins_path(product_id: inv_product.id), "original-title" => "Update serial no", value: ""}, style: "line-height: 6px;" do
                = inv_product.serial_no
            .col-md-2
              %strong Serial No Order:
            .col-md-4
              = link_to "#", class: "inline_edit", data: {type: "text", resource: "inventory_product", name: "serial_no_order", url:inline_update_admins_path(product_id: inv_product.id), "original-title" => "Update serial no order", value: ""}, style: "line-height: 6px;" do
                = inv_product.serial_no_order
          .row.col-md-12
            .col-md-2
              %strong Legacy code:
            .col-md-4
              = link_to "#", class: "inline_edit", data: {type: "text", resource: "inventory_product", name: "legacy_code", url:inline_update_admins_path(product_id: inv_product.id), "original-title" => "Update legacy code", value: ""}, style: "line-height: 6px;" do
                = inv_product.legacy_code
            .col-md-2
              %strong sku:
            .col-md-4
              = link_to "#", class: "inline_edit", data: {type: "text", resource: "inventory_product", name: "sku", url:inline_update_admins_path(product_id: inv_product.id), "original-title" => "Update sku", value: ""}, style: "line-height: 6px;" do
                = inv_product.sku
          .row.col-md-12
            .col-md-2
              %strong Model No:
            .col-md-4
              = link_to "#", class: "inline_edit", data: {type: "text", resource: "inventory_product", name: "model_no", url:inline_update_admins_path(product_id: inv_product.id), "original-title" => "Update model no", value: ""}, style: "line-height: 6px;" do
                = inv_product.model_no
            .col-md-2
              %strong Product No:
            .col-md-4
              = link_to "#", class: "inline_edit", data: {type: "text", resource: "inventory_product", name: "product_no", url:inline_update_admins_path(product_id: inv_product.id), "original-title" => "Update product no", value: ""}, style: "line-height: 6px;" do
                = inv_product.product_no
          .row.col-md-12
            .col-md-2
              %strong  Spare part No:
            .col-md-4
              = link_to "#", class: "inline_edit", data: {type: "text", resource: "inventory_product", name: "spare_part_no", url:inline_update_admins_path(product_id: inv_product.id), "original-title" => "Update spare part no", value: ""}, style: "line-height: 6px;" do
                = inv_product.spare_part_no
            .col-md-2
              %strong Description:
            .col-md-4
              = link_to "#", class: "inline_edit", data: {type: "textarea", resource: "inventory_product", name: "description", url:inline_update_admins_path(product_id: inv_product.id), "original-title" => "Update product description", value: ""}, style: "line-height: 6px;" do
                = inv_product.description

          .row.col-md-12
            .col-md-2
              %strong spare part:
            .col-md-4
              = link_to "#", class: "inline_edit", data: {type: "select", source: {1=>"Yes",0=>"No"}, resource: "inventory_product", name: "spare_part", url: inline_update_admins_path(product_id: inv_product.id), "original-title" => "Update spare part"} do
                = inv_product.spare_part && "Yes" || "No"
            .col-md-2
              %strong unit:
            .col-md-4
              = link_to "#", class: "inline_edit", data: {type: "select", source: InventoryUnit.where(active: true).collect{|invunit| {value: invunit.id, text: invunit.unit}}, resource: "inventory_product", name: "unit_id", url: inline_update_admins_path(product_id: inv_product.id), "original-title" => "Update rack name"} do
                = inv_product.inventory_unit.try(:unit)

          .row.col-md-12
            .col-md-2
              %strong fifo:
            .col-md-4
              = link_to "#", class: "inline_edit", data: {type: "select", source: {1=>"Yes",0=>"No"}, resource: "inventory_product", name: "fifo", url: inline_update_admins_path(product_id: inv_product.id), "original-title" => "Update fifo"} do
                = inv_product.fifo && "Yes" || "No"
            .col-md-2
              %strong active:
            .col-md-4
              = link_to "#", class: "inline_edit", data: {type: "select", source: {1=>"Yes",0=>"No"}, resource: "inventory_product", name: "active", url: inline_update_admins_path(product_id: inv_product.id), "original-title" => "Update active"} do
                = inv_product.active && "Yes" || "No"
            - if inv_product.inventory_product_info.present?
              .row.col-md-12
                .col-md-2
                  %strong  Secondary unit:
                .col-md-4
                  = link_to "#", class: "inline_edit", data: {type: "select", source: InventoryUnit.where(active: true).collect{|unit| {value: unit.id, text:  unit.unit}}, resource: "inventory_product_info", name: "secondary_unit_id", url: inline_update_product_info_admins_path(product_id: inv_product.inventory_product_info.product_id), "original-title" => "Update secondary unit"} do
                    = inv_product.inventory_product_info.inventory_unit.try(:unit)
                .col-md-2
                  %strong  Manufacture:
                .col-md-4
                  = link_to "#", class: "inline_edit", data: {type: "select", source:Manufacture.where(active: true).collect{|m| {value: m.id, text:  m.manufacture}}, resource: "inventory_product_info", name: "manufacture_id", url: inline_update_product_info_admins_path(product_id: inv_product.inventory_product_info.product_id), "original-title" => "Update product info manufacture"} do
                    = inv_product.inventory_product_info.manufacture.try(:manufacture)
              .row.col-md-12
                .col-md-2
                  %strong  Country:
                .col-md-4
                  = link_to "#", class: "inline_edit", data: {type: "select", source: ProductSoldCountry.all.collect{|c| {value: c.id, text:  c.Country}}, resource: "inventory_product_info", name: "country_id", url: inline_update_product_info_admins_path(product_id: inv_product.inventory_product_info.product_id), "original-title" => "Update inventory country"} do
                    = inv_product.inventory_product_info.product_sold_country.try(:Country)
                .col-md-2
                  %strong Currency:
                .col-md-4
                  = link_to "#", class: "inline_edit", data: {type: "select", source: Currency.all.collect{|c| {value: c.id, text:  c.currency}}, resource: "inventory_product_info", name: "currency_id", url: inline_update_product_info_admins_path(product_id: inv_product.inventory_product_info.product_id), "original-title" => "Update product info Currency"} do
                    = inv_product.inventory_product_info.currency.try(:currency)
              .row.col-md-12
                .col-md-2
                  %strong  Average cost:
                .col-md-4
                  = link_to "#", class: "inline_edit", data: {type: "text", resource: "inventory_product_info", name: "average_cost", url:inline_update_product_info_admins_path(product_id: inv_product.inventory_product_info.product_id), "original-title" => "Update Average cost", value: ""}, style: "line-height: 6px;" do
                    = number_with_precision inv_product.inventory_product_info.try(:average_cost), precision: 2
                .col-md-2
                  %strong Standard cost:
                .col-md-4
                  = link_to "#", class: "inline_edit", data: {type: "text", resource: "inventory_product_info", name: "standard_cost", url:inline_update_product_info_admins_path(product_id: inv_product.inventory_product_info.product_id), "original-title" => "Update Standard cost", value: ""}, style: "line-height: 6px;" do
                    = number_with_precision inv_product.inventory_product_info.try(:standard_cost), precision: 2

              .row.col-md-12
                .col-md-3
                  %strong Issue Fractional Allowed:
                .col-md-3
                  = link_to "#", class: "inline_edit", data: {type: "select", source: {1=>"Yes",0=>"No"}, resource: "inventory_product", name: "issue_fractional_allowed", url: inline_update_admins_path(product_id: inv_product.inventory_product_info.product_id), "original-title" => "Update Issue Fractional Allowed"} do
                    = inv_product.inventory_product_info.issue_fractional_allowed && "Yes" || "No"
                .col-md-3
                  %strong Per Secondery Unit Conversion :
                .col-md-3
                  = link_to "#", class: "inline_edit", data: {type: "select", source: {1=>"Yes",0=>"No"}, resource: "inventory_product", name: "per_secondery_unit_conversion", url: inline_update_admins_path(product_id: inv_product.inventory_product_info.product_id), "original-title" => "Update Per Secondery Unit Conversion"} do
                    = inv_product.inventory_product_info.per_secondery_unit_conversion && "Yes" || "No"
              .row.col-md-12
                .col-md-3
                  %strong Need Serial:
                .col-md-3
                  = link_to "#", class: "inline_edit", data: {type: "select", source: {1=>"Yes",0=>"No"}, resource: "inventory_product", name: "need_serial", url: inline_update_admins_path(product_id: inv_product.inventory_product_info.product_id), "original-title" => "Update Need Serial"} do
                    = inv_product.inventory_product_info.need_serial && "Yes" || "No"
                .col-md-3
                  %strong Need Batch:
                .col-md-3
                  = link_to "#", class: "inline_edit", data: {type: "select", source: {1=>"Yes",0=>"No"}, resource: "inventory_product", name: "need_batch", url: inline_update_admins_path(product_id: inv_product.inventory_product_info.product_id), "original-title" => "Update Need Batch"} do
                    = inv_product.inventory_product_info.need_batch && "Yes" || "No"