%h3 Inventory Product Condition
= simple_nested_form_for @inventory_product_condition, url: update_inventory_product_condition_admins_path do |c|
  .row{style: "margin-top: 15px; "}
    .col-md-8
      = c.input :condition
    .col-md-4
      = c.input :created_by,  as: :hidden, input_html: {value: current_user.id}
      = c.input :updated_by,  as: :hidden, input_html: {value: current_user.id}
  .row{style: "margin-top:20px;"}
    .col-md-8
      = c.submit "Save", class: "btn btn-success pull-right", id: "submit_new_inventory_product_condition"