- if @inventory or @inventory_product or @non_stock
  $("#inventory_modal").modal('hide');
  - @inventory_product = @non_stock if @non_stock.present?
  - content_for :content_for do
    %dl.dl-horizontal
      - unless @non_stock
        %dt Store
        %dd
          = @inventory ? @inventory.organization.name : Organization.find(session[:requested_store_id]).name
      %dt Item Code
      %dd
        = @inventory ? (@inventory_product or @inventory.inventory_product).generated_item_code : @inventory_product.generated_item_code
      %dt Item Description

      %dd
        = @inventory ? (@inventory_product or @inventory.inventory_product).description : @inventory_product.description
      %dt Model No
      %dd
        = @inventory ? (@inventory_product or @inventory.inventory_product).model_no : @inventory_product.model_no
      %dt Product No
      %dd
        = @inventory ? (@inventory_product or @inventory.inventory_product).product_no : @inventory_product.product_no
      %dt Part No
      %dd
        = @inventory ? (@inventory_product or @inventory.inventory_product).spare_part_no : @inventory_product.spare_part_no
      - unless @non_stock
        %dt Available Qnty
        %dd
          = @inventory.available_quantity if @inventory

    - if session[:select_frame] == "request_from"
      .row.small_scale_margin0
        .requested_quantity_wrapper.col-md-6
          = label_tag "Required Quantity"
          = text_field_tag "requested_quantity", 1, class: "form-control", readonly: ((@inventory_product or @inventory.inventory_product) and (@inventory_product or @inventory.inventory_product).inventory_product_info.need_serial), required: true, min: 1, number: true

  $(".#{session[:select_frame]}").html('#{j content_for :content_for}');
  - if session[:select_frame] == "request_from"
    $("#store_id, #ticket_on_loan_spare_part_store_id").val("#{session[:store_id]}");
    $("#inv_product_id, #ticket_on_loan_spare_part_inv_product_id").val("#{session[:inv_product_id]}");

  - elsif session[:select_frame] == "main_product"
    $("#mst_store_id").val("#{session[:mst_store_id]}");
    $("#mst_inv_product_id, #ticket_on_loan_spare_part_main_inv_product_id").val("#{session[:mst_inv_product_id]}");

  $("#request_from_select").attr("href", "/inventories/inventory_in_modal?select_frame=request_from&checked_value="+$('.request_part_request_from .radio-inline input:checked').val())

- else
  - session[:store_id] = session[:mst_store_id] = nil if params[:modified]
  $("#inventory_modal").modal();
  $("#inventory_modal .modal-content").html("#{j render 'inventory_in_modal'}");

- if @main_part_serial
  $("#main_part_serial").html("#{j render 'tickets/tickets_pack/issue_store_part/inventory_serial_serials'}");

- if params[:checked_value] == "NS"
  $(".store").addClass("hide");
  $("a[href='#non_stock_tab']").trigger('click');
  $("a[href='#non_inventory_tab'], a[href='#inventory_tab']").addClass('hide');
- else
  $("a[href='#non_stock_tab']").addClass('hide');

Inventories.filter_product();
Inventories.filter_category();
Inventories.filter_store();
Inventories.hide_last_purchase_prices();

Tickets.remove_ajax_loader();

$("a[rel~=popover], .has-popover").popover();
