%h3 Inventory Location
= simple_nested_form_for @inventory_rack, url: update_inventory_location_admins_path do |f|
  .panel.panel-primary
    .panel-heading
      %h3.panel-title Rack
    .panel-body
      .row
        .col-md-6
          = f.input :description, input_html: {rows: 1}
        .col-md-6
          = f.label "Organization:"
          = f.select :location_id, Organization.all.uniq{|o| o.id}.map{|o| [(o.name ? "#{o.name}" : o.short_name), o.id]}
        .col-md-6
          = f.label "aisle_image"
          = f.file_field :aisle_image, accept: 'image/png,image/gif,image/jpeg,application/pdf'
        .col-md-6
          = f.input :created_by, as: :hidden, input_html: {value: current_user.id}
          = f.input :updated_by, as: :hidden, input_html: {value: current_user.id}
        .col-md-12
          .row
            = f.simple_fields_for :inventory_shelfs do |inventory_shelf|
              .panel.panel-danger
                .panel-heading
                  %h3.panel-title Shelf
                .panel-body
                  .row.col-md-12
                    .col-md-6
                      = inventory_shelf.input :description
                    .col-md-6
                      = inventory_shelf.input :created_by, as: :hidden, input_html: {value: current_user.id}
                      = inventory_shelf.input :updated_by, as: :hidden, input_html: {value: current_user.id}
                      .add_sign
                        = inventory_shelf.link_to_remove do
                          %span.glyphicon.glyphicon-remove-sign
                  .row.col-md-12
                    = inventory_shelf.simple_fields_for :inventory_bins do |inventory_bin|
                      .panel.panel-info
                        .panel-heading
                          %h3.panel-title Bin
                        .panel-body
                          .row.col-md-12
                            .col-md-6
                              = inventory_bin.input :description
                            .col-md-6
                              = inventory_bin.input :created_by, as: :hidden, input_html: {value: current_user.id}
                              = inventory_bin.input :updated_by, as: :hidden, input_html: {value: current_user.id}
                              .add_sign
                                = inventory_bin.link_to_remove do
                                  %span.glyphicon.glyphicon-remove-sign
                    .row.col-md-12
                      .col-md-12
                        = inventory_shelf.link_to_add :inventory_bins do
                          %span.glyphicon.glyphicon-plus-sign Add a Bin
            .row.col-md-12
              .col-md-12
                = f.link_to_add :inventory_shelfs do
                  %span.glyphicon.glyphicon-plus-sign Add a Shelf
      .row{style: "margin-top:20px;"}
        .col-md-11
          = f.submit "Save", class: "btn btn-success pull-right", id: "submit_new_inventory_location"






























/ = simple_nested_form_for @inventory_rack, url: update_inventory_location_admins_path do |f|
/   .row
/     %fieldset
/       %legend Create New Rack

/       .row
/         .col-md-6
/           = f.input :description, input_html: {rows: 1}
/         .col-md-6
/           = f.label "Organization:"
/           = f.select :location_id, Organization.all.uniq{|o| o.id}.map{|o| [(o.name ? "#{o.name}" : o.short_name), o.id]}
/       .row
/         .col-md-6
/           = f.label "aisle_image"
/           = f.file_field :aisle_image, accept: 'image/png,image/gif,image/jpeg,application/pdf'
/           / = f.input :aisle_image
/         .col-md-6
/           = f.input :created_by, as: :hidden, input_html: {value: current_user.id}
/           = f.input :updated_by, as: :hidden, input_html: {value: current_user.id}

/       .row
/         = f.simple_fields_for :inventory_shelfs do |inventory_shelf|
/           %fieldset
/             %legend create a new shelf 
/             .row.col-md-12
/               .col-md-6
/                 = inventory_shelf.input :description
/               .col-md-6
/                 = inventory_shelf.input :created_by, as: :hidden, input_html: {value: current_user.id}
/                 = inventory_shelf.input :updated_by, as: :hidden, input_html: {value: current_user.id}
/                 .add_sign
/                   = inventory_shelf.link_to_remove do
/                     %span.glyphicon.glyphicon-remove-sign
/             .row.col-md-12
/               = inventory_shelf.simple_fields_for :inventory_bins do |inventory_bin|
/                 %fieldset
/                   %legend create a new bin
/                   .row.col-md-12
/                     .col-md-6
/                       = inventory_bin.input :description
/                     .col-md-6
/                       = inventory_bin.input :created_by, as: :hidden, input_html: {value: current_user.id}
/                       = inventory_bin.input :updated_by, as: :hidden, input_html: {value: current_user.id}
/                       .add_sign
/                         = inventory_bin.link_to_remove do
/                           %span.glyphicon.glyphicon-remove-sign
/               .row.col-md-12
/                 .col-md-12
/                   = inventory_shelf.link_to_add :inventory_bins do
/                     %span.glyphicon.glyphicon-plus-sign Add a Bin
/         .row.col-md-12
/           .col-md-12
/             = f.link_to_add :inventory_shelfs do
/               %span.glyphicon.glyphicon-plus-sign Add a Shelf

/   .row{style: "margin-top:20px;"}
/     .col-md-12
/       = f.submit "Save", class: "btn btn-success pull-right", id: "submit_new_inventory_location"

