%h3 Inventory Product Condition
= simple_nested_form_for @inventory_product_condition, url: update_inventory_product_condition_admins_path(create: true) do |c|
  .row{style: "margin-top: 15px; "}
    .col-md-8
      = c.input :condition
    .col-md-4
      = c.input :created_by,  as: :hidden, input_html: {value: current_user.id}
      = c.input :updated_by,  as: :hidden, input_html: {value: current_user.id}
  .row{style: "margin-top:20px; margin-bottom:20px;"}
    .col-md-8
      = c.submit "Save", class: "btn btn-success pull-right", id: "submit_new_inventory_product_condition"
%h3 Inventory Product Conditions
#accordion.panel-group
  - @inventory_product_condition_all.each_with_index do |inv_product_condition, index|
    .panel.panel-info
      .panel-heading
        %h3.panel-title
          %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "##{index}"}
            Condition: #{inv_product_condition.condition}
            / #{inv_product_condition.condition}
            / inventory product #{index+1} : #{inv_product_condition.condition}
            / = link_to "#", class: "inline_edit load_style", data: {type: "text", resource: "product_condition", name: "condition", url:inline_update_product_condition_admins_path(product_condition_id: inv_product_condition.id), "original-title" => "Update product condition", value: ""}, style: "line-height: 6px;" do
      .panel-collapse.collapse.in{:id => "#{index}"}
        .panel-body
          .row
            .col-md-1
              %strong Condition:
            .col-md-4
              = link_to "#", class: "inline_edit load_style", data: {type: "text", resource: "product_condition", name: "condition", url:inline_update_product_condition_admins_path(product_condition_id: inv_product_condition.id), "original-title" => "Update product condition", value: ""}, style: "line-height: 6px;" do
                = inv_product_condition.condition
            .col-md-3
              %strong Inventory Serial Items #{inv_product_condition.inventory_serial_items.count}
            .col-md-3
              %strong Inventory Serial Parts #{inv_product_condition.inventory_serial_parts.count}
            .col-md-1
              - unless inv_product_condition.is_used_anywhere?
                = link_to delete_product_condition_admins_path(product_condition_id: inv_product_condition.id),  :data => { :confirm => 'Are you sure?' } do
                  %span.glyphicon.glyphicon-trash