= simple_nested_form_for @sbu, url: sbu_admins_employees_path(create: true), html: {class: "validate_form"}, method: :post do |f|
  .row
    .col-md-4
      = f.input :sbu
    .col-md-6
      .row
        %h4 Add Engineer
      .row
        = f.simple_fields_for :sbu_engineers do |engineer|
          .col-md-6
            = engineer.association :engineer, collection: User.all.uniq{|e| e.id}.map{|e| [(e.first_name ? "#{e.name_title} #{e.first_name}" : e.email), e.id]}
            .add_sign
              = engineer.link_to_remove do
                %span.glyphicon.glyphicon-remove-sign
        = f.link_to_add :sbu_engineers do
          %span.glyphicon.glyphicon-plus-sign
  .row{style: "margin-bottom:20px;"}
    .col-md-8
      = f.submit "Save", class: "btn btn-success pull-right", id: "submit_new_sbu"

#accordion.panel-group
  - @sbu_all.each_with_index do |sbu, index|
    .panel.panel-info
      .panel-heading
        %h3.panel-title
          %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "##{index}"}
            #{sbu.sbu}
          - unless sbu.is_used_anywhere?
            = link_to delete_admin_sbu_admins_employees_path(sbu_id: sbu.id),method: :delete,  :data => { :confirm => 'Are you sure?' } do
              %span.glyphicon.glyphicon-trash

      .panel-collapse.collapse.in{:id => "#{index}"}
        .panel-body
          .row.col-md-12
            .col-md-1
              %strong Sbu:
            .col-md-4
              = link_to "#", class: "inline_edit load_style", data: {type: "text", resource: "sbu", name: "sbu", url: sbu_admins_employees_path(edit: true, sbu_id: sbu.id), "original-title" => "Update Admin Sbu", value: ""}, style: "line-height: 6px;" do
                = sbu.sbu
          .row.col-md-12
            - sbu.engineers.each do |engineer|
              .panel.panel-danger
                .panel-heading
                  %h3.panel-title
                    %span Engineer: #{engineer.user_name}
                    = link_to delete_admin_sbu_engineer_admins_employees_path(user_id: engineer.id, sbu_id: sbu.id),method: :delete,  :data => { :confirm => 'Are you sure?' } do
                      %span.glyphicon.glyphicon-trash
                .panel-body
                  .row.col-md-12
                    .col-md-1
                      %strong Engineer:
                    .col-md-9
                      = link_to "#", class: "inline_edit", data: {type: "select", source: User.all.collect{|a| {value: a.id, text: a.user_name}}, resource: "sbu_engineer", name: "engineer_id", url: sbu_admins_employees_path(edit: true, engineer_id: engineer.id), "original-title" => "Update Admin Sbu"} do
                        = engineer.try(:user_name)