%fieldset
  %legend SBU
  = simple_nested_form_for @sbu, url: sbu_admins_employees_path, html: {class: "validate_form"}, method: :post do |f|
    = hidden_field_tag :sbu_id, f.object.id
    .row
      .col-md-12
        = f.input :sbu, label: "SBU", required: true
      .col-md-12
        %h4 Add Engineer(s)
        = f.simple_fields_for :sbu_engineers do |engineer|
          .row
            .col-md-1
              %div{class: "#{'add_sign' unless engineer.object.persisted?}"}
                = engineer.link_to_remove do
                  %span.glyphicon.glyphicon-remove-sign
            .col-md-11
              - if engineer.object.persisted?
                = engineer.object.engineer.full_name
              - else
                = engineer.association :engineer, label_method: :full_name, input_html: {class: "chosen-select"}, collection: User.select{|u| u.roles.any?{|r| r.bpm_module_roles.any?{|b| b.code == "supp_engr"} } unless SbuEngineer.where(engineer_id: u.id).present?}
        = f.link_to_add :sbu_engineers, onclick: "setTimeout(function(){Organizations.enable_chosen()}, 200); return false;" do
          %span.glyphicon.glyphicon-plus-sign
    .row
      .col-md-8
        = f.submit "Save", class: "btn btn-success btn-sm", id: "submit_new_sbu", name: "#{params[:edit_more] ? 'update' : 'create'}"

= collapse_wrapper collapse_id: "emp_sbu_list", labelledby: "emp_sbu_labelledby" do
  - @sbu_all.each_with_index do |sbu, index|
    = collapse collapse_type: "info", labelledby: "labelledby_#{sbu.id}", header_content: sbu.sbu, collapse_link: "emppayment_termlink_#{sbu.id}", collapse_id: "emp_sbu_list" do
      .pull-right
        - unless sbu.is_used_anywhere?
          = link_to delete_admin_sbu_admins_employees_path(sbu_id: sbu.id), method: :delete, rel: "tooltip", :data => { :confirm => 'Are you sure?', toggle: "tooltip", placement: "bottom" }, title: "Delete" do
            %span.glyphicon.glyphicon-trash

      .row.col-md-12
        .col-md-2.pull-right
          = link_to sbu_admins_employees_path(edit_more: true, sbu_id: sbu.id), method: :post do
            %span.glyphicon.glyphicon-pencil Edit More>>
      .row.col-md-12
        .col-md-1
          %strong SBU:
        .col-md-4
          = link_to "#", class: "inline_edit", data: {type: "text", resource: "sbu", name: "sbu", url: sbu_admins_employees_path(edit: true, sbu_id: sbu.id), "original-title" => "Update Admin Sbu", value: sbu.sbu} do
            = sbu.sbu
      .row.col-md-12
        = collapse_wrapper collapse_id: "ticket_sbuengineer_list", labelledby: "tic_sbuengineer_labelledby" do
          - sbu.engineers.each do |engineer|
            = collapse collapse_type: "danger", labelledby: "labelledby_#{engineer.id}", header_content: "Engineer: #{engineer.full_name}", collapse_link: "ticpsbuengineerlink_#{engineer.id}", collapse_id: "ticket_sbuengineer_list" do
              .pull-right
                / - unless sbu.is_used_anywhere?
                = link_to delete_admin_sbu_engineer_admins_employees_path(user_id: engineer.id, sbu_id: sbu.id), method: :delete, rel: "tooltip", :data => { :confirm => 'Are you sure?', toggle: "tooltip", placement: "bottom" }, title: "Delete" do
                  %span.glyphicon.glyphicon-trash
              .row.col-md-12
                .col-md-1
                  %strong Engineer:
                .col-md-9
                  = link_to "#", class: "inline_edit", data: {type: "select", source: User.all.collect{|a| {value: a.id, text: a.email}}, resource: "sbu_engineer", name: "engineer_id", url: sbu_admins_employees_path(edit: true, engineer_id: engineer.id), "original-title" => "Update Admin SBU"} do
                    = engineer.try(:full_name)