
- tickets = @tickets

%h3 Customer Inquire
.row
  .col-md-12
    %form{:action => customer_inquire_tickets_path, :method => "get"}
      .row
        .col-md-3
          = label_tag "Ticket No"
          = text_field_tag "ticket_no", params[:ticket_no]
        .col-md-3
          = label_tag "Serial No"
          = text_field_tag "serial_no", params[:serial_no]
        .col-md-3
          = submit_tag "Search", :name => nil

  .row
    .col-md-12
      %table.table.table-striped
        %thead
          %tr
            %th No
            %th Ticket Date
            %th Ticket No
            %th Customer
            %th Serial No
            %th Product Brand
            %th Product Category
            %th Product No
            %th
        %tbody
          - tickets.each_with_index do |ticket, index|
            - index += 1
            %tr
              %td #{index}
              %td #{ticket.created_at.to_date }
              %td #{ticket.id}
              %td #{ticket.try(:customer).try(:name)}
              %td
                - ticket.try(:products).each do |product|
                  #{product.serial_no}
                  %br
              %td
                - ticket.try(:products).each do |product|
                  #{product.product_brand.name}
                  %br
                
              %td
                - ticket.try(:products).each do |product|
                  #{product.product_category.name}
                  %br
              %td
                - ticket.try(:products).each do |product|
                  #{product.product_no}
                  %br
              %td
                = link_to "Select", ticket_path(ticket.id)