- return_pending_count = 0
- un_closed_event_count = 0
= simple_nested_form_for ticket, url: "#", method: :post, remote: true do |f|
  .row.col-md-12.col-xs-12
    .col-md-6.col-xs-6
      Ticket Complete (Approved To Close):
      = f.check_box :ticket_close_approved
    .col-md-6.col-xs-6
      = f.label "Reject Reason"
      = f.select :hold_reason_id, Reason.all.map {|r| [r.reason,r.id] }, include_blank: true
  .row.col-md-12.col-xs-12
    %fieldset
      %legend
        Parts Ordered
      .row.col-md-12.col-xs-12
        .col-md-3.col-xs-3
          Replaced parts
        .col-md-4.col-xs-4
          = f.simple_fields_for :ticket_spare_parts do |t_sp_p|
            - if t_sp_p.object.part_returned == false
              - return_pending_count += 1
          %strong No of Return pending events: #{return_pending_count}
        .col-md-3.col-xs-3
          = f.simple_fields_for :ticket_spare_parts do |t_sp_p|
            - if t_sp_p.object.request_from == 'M'
              - if t_sp_p.object.ticket_spare_part_manufacture.event_closed == 0
                - un_closed_event_count += 1
          %strong No of un-closed events: #{un_closed_event_count}
      .row.col-md-12.col-xs-12
        %table.table
          %thead
            %tr
              %th No
              %th Part No
              %th Description
              %th Request Type
              %th Status
              %th Return Accepted
              %th Event No
              %th Event Closed
              %th Return Part
              %th Note
              %th Approved
          %tbody
            = f.simple_fields_for :ticket_spare_parts do |tsp|
              %tr
                %th #{tsp.object.id}
                %td #{tsp.object.spare_part_no}
                %td #{tsp.object.spare_part_description}
                %td #{tsp.object.request_from}
                %td #{tsp.object.spare_part_status_action.name}
                - if tsp.object.returned_part_accepted == 1
                  %td Yes
                -else
                  %td No
                - if tsp.object.request_from == 'M'
                  %td #{tsp.object.ticket_spare_part_manufacture.event_no}
                - else
                  %td -
                - if tsp.object.request_from == 'M'
                  - if tsp.object.ticket_spare_part_manufacture.event_closed == 1
                    %td Yes
                  - else
                    %td No
                - else
                  %td -
                %td #{tsp.object.return_part_serial_no}
                %td
                  %span.has-tooltip{ :title => strip_tags(tsp.object.note)}
                    = truncate(simple_format("#{tsp.object.note}"), escape: false, length: 10)
                %td
                  = tsp.check_box :close_approved
      .row.col-md-12.col-xs-12
        %p FSR Information
        = f.simple_fields_for :ticket_fsrs do |fsr|
          %button.btn.btn-info{"data-target" => "##{fsr.object.id}", "data-toggle" => "collapse", :type => "button"} FSR #{fsr.object.id.to_s.rjust(6, INOCRM_CONFIG["fsr_no_format"])}
          .collapse{:id => "#{fsr.object.id}"}
            .col-md-12
              %fieldset
                %legend
                  FSR #{fsr.object.id.to_s.rjust(6, INOCRM_CONFIG["fsr_no_format"])}
                .col-md-12
                .col-md-4
                  %p Work Started : #{fsr.object.work_started_at.try(:strftime, "%Y-%m-%d %H:%M")}
                .col-md-4
                  %p Work Finished : #{fsr.object.work_finished_at.try(:strftime, "%Y-%m-%d %H:%M")}
                .col-md-4
                  %p FSR No : #{fsr.object.id.to_s.rjust(6, INOCRM_CONFIG["fsr_no_format"])}
                .col-md-4
                  Hours Worked(hours) : #{fsr.object.hours_worked}
                .col-md-4
                  Down Time(hours) : #{fsr.object.down_time}
                .col-md-4
                  Travel(hours) : #{fsr.object.travel_hours}
                .col-md-12{style: "margin-top: 15px;"}
                  %strong For Invocing
                .col-md-12{style: "margin-top: 15px;"}
                  .col-md-6
                    Engineer Time Travel : #{fsr.object.engineer_time_travel}
                  .col-md-6
                    Engineer Time On-Sight :#{fsr.object.engineer_time_on_site}
                  .col-md-6
                    Other Charges Mileage : #{fsr.object.other_mileage}
                  .col-md-6
                    Other Charges Repaires : #{fsr.object.other_repairs}
                  .col-md-12
                    Resolution : #{fsr.object.resolution}
                  .col-md-12
                    Level of Completion : #{fsr.object.completion_level}
                .col-md-12{style: "margin-top: 15px;"}
                  %p Replaced Parts
                  .col-md-12
                    %table.table
                      %thead
                        %tr
                          %th No
                          %th Part No
                          %th Description
                          %th Return
                          %th Return Part
                          %th Event No.
                          %th Event Closed
                      %tbody
                        = f.simple_fields_for :ticket_spare_parts do |tsp|
                          %tr
                            %th #{tsp.object.id}
                            %td #{tsp.object.spare_part_no}
                            %td #{tsp.object.spare_part_description}
                            - if tsp.object.returned_part_accepted == 1
                              %td Yes
                            -else
                              %td No
                            %td #{tsp.object.return_part_serial_no}
                            - if tsp.object.request_from == 'M'
                              %td #{tsp.object.ticket_spare_part_manufacture.event_no}
                            - else
                              %td -
                            - if tsp.object.request_from == 'M'
                              - if tsp.object.ticket_spare_part_manufacture.event_closed == 1
                                %td Yes
                              - else
                                %td No
                            - else
                              %td -
                .col-md-12{style: "margin-top: 15px;"}
                  / = f.simple_fields_for "ticket_fsrs_attributes[]", @ticket.ticket_fsrs.first do |fsr|
                  .col-md-3
                    = fsr.label "Approved"
                    = fsr.check_box :approved
                  .col-md-9
                    = fsr.input :remarks
      .row.col-md-12.col-xs-12{style: "margin-top:20px; margin-bottom:20px;"}
        .col-md-6.col-xs-6
          = f.label "Job Belongs to:"
          = f.select :owner_engineer_id, SbuEngineer.all.uniq{|e| e.engineer.id}.map{|e| [(e.engineer.first_name ? "#{e.engineer.mst_title.try(:title)} #{e.engineer.first_name}" : e.engineer.email), e.engineer.id]}
        .col-md-6.col-xs-6
          = f.submit "Save", class: "btn btn-success"
          %button.btn.btn-default{:type => "button"} Cancel