.navbar-default
  .sidebar-nav
    %ul#side-menu.nav

      %li
        = link_to about_us_admins_path, class: "text6 #{current_page?(action: 'about_us') ? 'active' : ''}" do
          %span.icon-cube
          About us

      %li
        = link_to organizations_admins_path, class: "text6 #{current_page?(action: 'organizations') ? 'active' : ''}" do
          %span.icon-sitemap
          Organizations

      %li
        = link_to "#", class: "text6" do
          %span.icon-group
          Users

      %li.with_submenu
        = link_to total_tickets_admins_path, class: "text6 dropdown-label" do
          %span.icon-tty
          Tickets

        = link_to "#submenu", "role" => "button", "data-toggle" => "collapse", "aria-expanded" => "false", "aria-controls" => "collapseExample", class: "text6 pull-right" do
          %span.icon-chevron-left

        .collapse#submenu
          %ul.nav.child-level
            %li
              = link_to "#", class: "text5" do
                %span.icon-group
                Brand
            %li
              = link_to "#", class: "text5" do
                %span.icon-group
                Category
            %li
              = link_to "#", class: "text5" do
                %span.icon-group
                Accessories
            %li
              = link_to "#", class: "text5" do
                %span.icon-group
                Extra-remarks
            %li
              = link_to tickets_problem_category_admins_path, class: "text5 #{current_page?(action: 'problem_category') ? 'active' : ''}" do
                %span.icon-group
                Problem categories
            %li
              = link_to "#", class: "text5" do
                %span.icon-group
                Q & A's
            %li
              = link_to "#", class: "text5" do
                %span.icon-group
                Reasons

      %li
        = link_to "#", class: "text6" do
          %span.icon-paper-plane-o
          Roles

      %li
        = link_to "#", class: "text6" do
          %span.icon-shield
          Permissions

      %li
        = link_to "#", class: "text6" do
          %span.icon-exchange
          Sales

      %li
        = link_to "#", class: "text6" do
          %span.icon-list-alt
          Inventory