- accessory = Accessory.order("id ASC")

.row
  .col-md-2
    %ul.nav.nav-tabs{role: "tablist",class: "tabs-left"}
      - accessory.each do |accessory|
        %li= link_to accessory.accessory, "##{accessory.id}-tab-list", role: "tab", data: {toggle: "tab"}
  .col-md-10
    .tab-content
      - accessory.each do |accessory|
        .tab-pane{id: "#{accessory.id}-tab-list"}
          - accessory.ticket_accessories.each do |accessories|
            = collapse_wrapper collapse_id: "#{accessories.id}-collapse-list" do
              = collapse collapse_type: "info", collapse_id: "#{accessories.id}-collapse-list" , header_content: "#{accessories.note}",collapse_link: "accessories_link_#{accessories.id}" do

                .row.col-md-12
                  Ticket No: #{accessories.ticket_id.to_s.rjust(6, INOCRM_CONFIG["ticket_no_format"])}
                .row.col-md-12
                  Status: #{accessories.ticket.ticket_status.name}
                .row.col-md-12
                  Type: #{accessories.ticket.ticket_type.name}
                .row.col-md-12
                  Updated: #{accessories.ticket.updated_at.try :strftime, "%Y-%m-%d %H:%M"}