- users = @users
.row
  - users.each do |user|
    = link_to profile_user_path(user.id),:target => "_blank" do
      .col-md-3
        .panel.panel-default
          .panel-boby.padding1
            .row
              .col-md-4
                = image_tag (user.avatar.thumb.url || "no_image.jpg"), class: "img-responsive img-thumbnail"

              .col-md-8
                .text5 #{user.mst_title.try(:title)} #{user.first_name} #{user.last_name}
                %em= user.designation.try(:name)

            .row.margin-top1
              .col-md-12
                %strong NIC :
                %em= user.NIC
                %br/
                %strong EPF No :
                %em= user.epf_no
                %br/
                %strong Date Joined :
                %em= user.date_joined_at.try(:strftime, "%Y-%m-%d")
                %br/
                %strong Email:
                %em= user.email