- users = @users
.row
  - users.each do |user|
    = link_to profile_user_path(user.id),:target => "_blank" do
      .col-md-3
        .panel.panel-default
          .panel-boby{style: "padding:5% 0%;padding-right:5%;"}
            .row.padding-left1
              .col-md-12
                .row
                  .col-md-4
                    = image_tag (user.avatar.thumb.url || "no_image.jpg"), class: "img-responsive img-thumbnail"

                  .col-md-8.text4.padding-top1
                    .row
                      .col-md-12
                        / %strong #{user.mst_title.title}
                        %strong= user.first_name
                        %strong= user.last_name
                    .row.margin-top1
                      .col-md-12
                        %strong= user.designation.name

                .row.margin-top1
                  .col-md-12
                    %strong NIC :
                    %em= user.NIC
                .row
                  .col-md-12
                    %strong EPF No :
                    %em= user.epf_no
                .row
                  .col-md-12
                    %strong Date Joined :
                    %em= user.date_joined_at.try(:strftime, "%Y-%m-%d")
                .row
                  .col-md-12
                    %strong Email:
                    %em= user.email