#new_cus_quo
  %h3 Invoice
  = simple_nested_form_for invoice, url: update_invoice_invoices_path(action_type: @action_type), method: :post do |f|
    = hidden_field_tag :invoice_id, f.object.id

    = hidden_field_tag :process_id, Rails.cache.fetch(["/tickets/estimate_job_final", params[:task_id]])[:process_id]
    = hidden_field_tag :task_id, Rails.cache.fetch(["/tickets/estimate_job_final", params[:task_id]])[:task_id]
    = hidden_field_tag :owner, Rails.cache.fetch(["/tickets/estimate_job_final", params[:task_id]])[:owner]
    - Rails.cache.fetch(["/tickets/estimate_job_final", params[:task_id]])[:bpm_input_variables].each do |bpm_input_variable|
      = hidden_field_tag bpm_input_variable[0], bpm_input_variable[1]

    .col-md-3
      %strong Invoice no   #{ (CompanyConfig.first.sup_last_invoice_no.to_i+1).to_s.rjust(6, INOCRM_CONFIG["invoice_no_format"])}
      %br
      %strong Currency
      = ticket.ticket_currency.code
      %br/
      = f.input :deducted_amount
      = label_tag "Payment term"
      = f.association :payment_term, label: false
      = f.input :note
      = f.input :customer_sent, wrapper: :append
      = f.input :canceled, wrapper: :append

    .col-md-9
      %table.table.table-responsive.table-condensed.table-bordered
        %thead
          %tr
            %th
            %th
            %th
            %th{colspan: 3, class: "text-center"} Estimated amount (#{ticket.ticket_currency.code})
          %tr
            %th No
            %th Requested at
            %th Description
            %th #{ticket.ticket_repair_type.code == 'EX' ? 'Repaired by' : 'No of parts' }
            %th #{ticket.ticket_repair_type.code == 'EX' ? 'Repair' : 'Parts' }
            %th Additional
            %th Tax
            %th Total
            %th Min. adv. payment
            %th Status
            %th invoiced
            %th Attach

        %tbody
          - @estimations.each_with_index do |estimation, index|
            - estimation_external_present = estimation.ticket_estimation_externals.present?

            %tr.row_class{:style => "background-color:#{estimation.invoiced.to_i > 0 ? '#99ff66' : ''};"}
              %td
                = index+1
              %td= estimation.requested_at.getlocal.try(:strftime, "%b %d, %Y %H:%M")
              %td.has-popover{title: "Description", data: {"toggle" => "popover", "title" => "Popover title", "trigger" => "hover", "content" => (estimation_external_present ? estimation.ticket_estimation_externals.first.description : estimation.ticket_estimation_parts.first.ticket_spare_part.spare_part_description)}}= truncate (estimation_external_present ? estimation.ticket_estimation_externals.first.description : estimation.ticket_estimation_parts.first.ticket_spare_part.spare_part_description), length: 20
              %td
                - if estimation_external_present
                  = estimation.ticket_estimation_externals.first.try(:organization).try(:name)
                - else
                  = estimation.ticket_estimation_parts.count
              %td
                - if estimation.approval_required
                  - if estimation_external_present
                    = number_with_precision estimation.ticket_estimation_externals.sum(:approved_estimated_price), precision: 2
                  - else
                    = number_with_precision estimation.ticket_estimation_parts.sum(:approved_estimated_price), precision: 2
                - else
                  - if estimation_external_present
                    = number_with_precision estimation.ticket_estimation_externals.sum(:estimated_price), precision: 2
                  - else
                    = number_with_precision estimation.ticket_estimation_parts.sum(:estimated_price), precision: 2

              %td.additional
                - if estimation.approval_required
                  = number_with_precision estimation.ticket_estimation_additionals.sum(:approved_estimated_price), precision: 2
                - else
                  = number_with_precision estimation.ticket_estimation_additionals.sum(:estimated_price), precision: 2
              %td.tax
                - if estimation_external_present
                  = estimation.ticket_estimation_externals.inject(0){ |i, k| i+k.ticket_estimation_external_taxes.sum(:approved_tax_amount).to_f } + estimation.ticket_estimation_additionals.inject(0){ |i, k| i+k.ticket_estimation_additional_taxes.sum(:approved_tax_amount).to_f }

                - else
                  = estimation.ticket_estimation_parts.inject(0){ |i, k| i+k.ticket_estimation_part_taxes.sum(:approved_tax_amount).to_f } + estimation.ticket_estimation_additionals.inject(0){ |i, k| i+k.ticket_estimation_additional_taxes.sum(:approved_tax_amount).to_f }
              %td.sub_amount
                - if estimation.approval_required
                  - if estimation_external_present
                    = number_with_precision(estimation.ticket_estimation_externals.sum(:approved_estimated_price) + estimation.ticket_estimation_additionals.sum(:approved_estimated_price), precision: 2)
                  - else
                    = number_with_precision(estimation.ticket_estimation_parts.sum(:approved_estimated_price) + estimation.ticket_estimation_additionals.sum(:approved_estimated_price), precision: 2)
                - else
                  - if estimation_external_present
                    = number_with_precision(estimation.ticket_estimation_externals.sum(:estimated_price) + estimation.ticket_estimation_additionals.sum(:estimated_price), precision: 2)
                  - else
                    = number_with_precision(estimation.ticket_estimation_parts.sum(:estimated_price) + estimation.ticket_estimation_additionals.sum(:estimated_price), precision: 2)
              %td.min_adv_payment
                - if estimation.approval_required
                  = number_with_precision estimation.approved_adv_pmnt_amount.to_f, precision: 2
                - else
                  = number_with_precision estimation.advance_payment_amount.to_f, precision: 2
              %td= estimation.estimation_status.name

              %td.quoted_value
                = estimation.invoiced

              %td= check_box_tag 'estimation_ids[]', estimation.id, (invoice.persisted? ? invoice.ticket_estimation_ids.include?(estimation.id) : true), class: "action"

      %h4 Termination charge
      %table.table.table-responsive.table-condensed.table-bordered
        %thead
          %tr
            %td No
            %td Payment term
            %td Payment term default amount
            %td Amount before adjust
            %td Amount
            %td type
            %td Attach

        %tbody
          - @act_terminate_job_payments.each_with_index do |act_terminate_job_payment, index|
            %tr
              %td= index+1
              %td= act_terminate_job_payment.payment_item.try :name
              %td= act_terminate_job_payment.payment_item.try :default_amount
              %td #{act_terminate_job_payment.amount_before_adjust} (#{act_terminate_job_payment.currency.code})
              %td.job_payment_amount= act_terminate_job_payment.amount
              %td= check_box_tag 'act_terminate_job_payment_ids[]', act_terminate_job_payment.id, (invoice.persisted? ? invoice.act_terminate_job_payment_ids.include?(act_terminate_job_payment.id) : true), class: "action"

      %h4 Payment received
      %table.table.table-responsive.table-condensed.table-bordered
        %thead
          %tr
            %td No
            %td Received at
            %td Received by
            %td note
            %td type
            %td Amount

        %tbody
          - @ticket_payment_receiveds.each_with_index do |ticket_payment_received, index|
            %tr
              %td= index+1
              %td= ticket_payment_received.received_at.try :strftime, "%b %d, %Y %H:%M"
              %td= ticket_payment_received.received_by_user.email
              %td= ticket_payment_received.note
              %td= ticket_payment_received.ticket_payment_received_type.try(:name)
              %td #{ticket_payment_received.amount} (#{ticket_payment_received.currency.code})

    .col-md-12
      .row
        .col-md-2
          %strong Sub. total:
        .col-md-1
          #sub_amount
      .row
        .col-md-2
          %strong Total tax:
        .col-md-1
          #total_tax
      .row
        .col-md-2
          %strong Total amount:
        .col-md-1
          #final_total_amount
      .row
        .col-md-2
          %strong Minimum payment:
        .col-md-1
          #min_adv_payment
      .row
        .col-md-2
          %strong Amount to be paid:
        .col-md-1
          #amount_to_be_paid

    .col-md-4.pull-left{style: "margin-bottom: 20px;"}
      .col-md-2
        = link_to "Cancel","#", onclick: "$('#estimation_wrapper').empty(); return false;"
      .col-md-2
        %button.btn.btn-info{:type => "button"} Print
      .col-md-2
        = f.submit "Save", class: "btn btn-success"
