%h3 New Contract
= simple_nested_form_for @contract, url: contracts_path(save: true), html: {class: "validate_form"}, method: :post, remote: true do |f|
  = hidden_field_tag :contract_id, @contract.id

  = f.input :customer_id, as: :hidden
  = f.input :created_by, as: :hidden, input_html: {value: current_user.id}

  - if @contract.errors.any?
    .row
      .col-md-12
        %ul
          - @contract.errors.full_messages.each do |error|
            %li= error
  .row
    .col-md-3
      = f.input :contract_no
    .col-md-3
      = f.association :ticket_contract_type, input_html: {required: true}
    .col-md-2
      = f.input :hold, wrapper: :append
    .col-md-2
      = f.input :contract_b2b, wrapper: :append, label: "Back to back contract"
    .col-md-2
      / = f.input :, wrapper: :append
  .row
    .col-md-2
      = f.association :currency, label_method: :code
    .col-md-4
      = f.input :amount
    .col-md-3
      = f.input :contract_start_at,as: :string, required: true,input_html: {class: "datepicker"}
    .col-md-3
      = f.input :contract_end_at, as: :string, required: true, input_html: {class: "datepicker"}

    .col-md-3
      = f.association :sla_time, required: true, label_method: :description
  .row
    .col-md-8
      = f.input :remarks
    .col-md-2
      / =f.input :attach_docorm
    %hr
    .col-md-12
      = f.simple_fields_for :contract_products do |c|
        - c.object.build_product
        = c.simple_fields_for :product do |p|
          .row
            .col-md-2
              = p.association :product_brand, required: true
            .col-md-2
              = p.association :product_category, required: true
            .col-md-4
              = p.input :serial_no, required: true
            .col-md-2
              = p.input :model_no
            .col-md-2
              = p.input :product_no
          .row
            .col-md-2
              = p.input :corporate_product, wrapper: :append
            .col-md-3
              = p.association :product_pop_status
            .col-md-4
              = p.input :pop_note
          .row
            .col-md-3
              = p.association :product_sold_country, label_method: :code
            .col-md-6
              = c.input :remarks
            .col-md-3
              /= c.input :remarks

          .col-md-2.small_scale_padding-top3
            = c.link_to_remove  class: "remove_c_t_v_link", title: "Remove" do
              %button.btn.btn-danger Remove
          %hr

      = f.link_to_add "Add Product", :contract_products, class: "btn btn-sm btn-success"
  .row
  .row
    %hr
    .col-md-12
      = f.submit "Save", class: "btn btn-sm btn-success", remote: true

