- organization = @organization
- contracts = @contracts

/ - contract_products = if params[:from_where] == "new_ticket"
/   - @contract_products.to_a.select{|c| (c.ticket_contract.contract_start_at.to_date .. c.ticket_contract.contract_end_at.to_date).include?(Date.today)}
/ - else
/   - @contract_products.to_a.uniq{|c| c.contract_id }

.row
  .col-md-12
    .row
      .col-md-2
        %h4 Customer
      .row
      %br
      .col-md-5
        %dl.dl-horizontal
          %dt Customer Name:
          %dd= organization.name
          %dt Address:
          %dd
            - organization.addresses.primary_address.each do |address|
              = address.full_address
          %dt Account no:
          %dd
          %dt Customer code:
          %dd= organization.code
          %dt Industry type:
          %dd= organization.industry_type.name
      .col-md-5
        %dl.dl-horizontal
          %dt Created at:
          %dd= organization.created_at.try(:strftime, INOCRM_CONFIG['short_date_format'])
          %dt Created by:
          %dd= organization.created_by_user.try(:full_name)
          %dt Under contract:
          %dd
      %br

    %table.table.table-bordered
      %thead
        %tr
          %th No
          %th Created At
          %th Contract No
          %th Owner Dep.
          %th Start Date
          %th Exp Date
          %th Hold
          %th Active
          %th Amount
          %th Currency
          %th Contract Type
          %th No Of Products
          %th Created By
          %th Action
      %tbody
        - contracts.each_with_index do |con, index|
          %tr
            %td
              - if params[:page]
                = (index+1)+ 10*(params[:page].to_i-1)
              - else
                = (index+1)
            %td= con.created_at.try(:strftime, INOCRM_CONFIG['short_date_format'])
            %td= con.contract_no
            %td= con.organization.name
            %td= con.contract_start_at.try(:strftime, INOCRM_CONFIG['short_date_format'])
            %td= con.contract_end_at.try(:strftime, INOCRM_CONFIG['short_date_format'])
            %td
              - chk_hold = boolean_in_word con.hold, "Yes", "No"
              - if chk_hold == "Yes"
                %font{:color => "green"} Yes
              - else
                %font{:color => "red"} No
            %td= boolean_in_word con.dynamic_active, "Yes", "No"
            %td= con.amount
            %td= con.ticket_currency.try(:code)
            %td= con.ticket_contract_type.name
            %td= con.products.count
            %td= con.created_by_user.full_name

            %td
              / - if params[:from_where] == "new_ticket"
              /   / %td= link_to "Select", contracts_path(select_contract: true, contract_id: con.id, customer_id: organization.id), remote: true
              /   = link_to "Select", find_by_serial_tickets_path(contract_id: con.ticket_contract.id, serial_search: con.product.serial_no), remote: true, method: :post
              / - else
              = link_to "Edit", contracts_path(edit_create: true, contract_id: con.id, customer_id: con.organization.id), remote: true, onclick: "Tickets.ajax_loader(); return false;"
    %br
    - unless params[:from_where] == "new_ticket"
      = link_to "New Contract", contracts_path(edit_create: true, customer_id: organization.id), remote: true, class: "btn btn-sm btn-warning", onclick: "Tickets.ajax_loader(); return false;"
    %br
    %br
/ #contractedit
