- organization = @organization
- created_warranty = Rails.cache.read([:created_warranty, request.remote_ip.to_s, session[:time_now]])
-time = Time.now.getutc
.row
  .col-md-12
    .row
      .col-md-2
        %h3 Customer
      .row
      %br
      .col-md-5
        %dl.dl-horizontal
          %dt Customer Name:
          %dd= organization.name
          %dt Address:
          %dd
            - organization.addresses.primary_address.each do |address|
              = address.full_address
          %dt Account no:
          %dd= organization.account.account_no
          %dt Customer code:
          %dd= organization.account.code
          %dt Industry type:
          %dd= organization.industry_type.name
      .col-md-5
        %dl.dl-horizontal
          %dt Created at:
          %dd= organization.created_at.try(:strftime, INOCRM_CONFIG['short_date_format'])
          %dt Created by:
          %dd= organization.created_by_user.try(:full_name)
      %br

- if params[:from_where] == "cus_product_ticket"
  - if organization.products.present?
    %hr
    / = paginate products, remote: true, method: :get
    %table.table.table-hover
      %thead
        %tr
          %th No
          %th Name
          %th Product Brand
          %th Product Category
          %th Model No
          %th Product No
          %th Serial Number
          %th Corporate Product
          %th Action

      %tbody
        - organization.products.each_with_index do |product, index|
          - if product.persisted?
            %tr
              %td
                - if params[:page]
                  = (index+1)+ 10*(params[:page].to_i-1)
                - else
                  = (index+1)
              %td= product.name
              %td= product.product_brand.name
              %td= product.product_category.name
              %td= product.model_no
              %td= product.product_no
              %td= product.serial_no
              %td= boolean_in_word product.corporate_product, "Yes", "No"
              %td
                -if product.ticket_contracts.none?{|c| c.dynamic_active }
                  = link_to "Select", find_by_serial_tickets_path(serial_search: product.serial_no), remote: true, method: :post
    %hr
-else
  %h3 Product Details
  = simple_nested_form_for organization, url: save_cus_products_contracts_path(save_product: true), html: {class: "validate_form"}, method: :post, remote: true, multipart: true do |o|

    - if organization.errors.present?
      %ul
        - organization.errors.full_messages.each do |error|
          %li= error

    = o.simple_fields_for :products do |f| # "products_attributes[]", o.object.products.build
      - if f.object.id.present?
        .panel-group#accordion{ role: "tablist", "aria-multiselectable"=>"true"}
          .panel.panel-info
            .panel-heading{role: "tab", id: "headingOne_#{f.object.id}"}
              %h4.panel-title
                %a{"aria-controls" => "collapseOne_#{}", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne_#{f.object.id}", :role => "button", onclick:"Tickets.dynamically_filter_select(this, 'parent', 'panel-info', '#{f.object.try(:category1_name)}', '#{f.object.try(:category2_name)}');"}
                  Product: #{f.object.product_brand.try(:name)}: #{f.object.category_full_name("|")}: #{f.object.serial_no}
            .panel-collapse.collapse{"aria-labelledby" => "headingOne_#{f.object.id}", :id => "collapseOne_#{f.object.id}", :role => "tabpanel"}

              / = collapse collapse_type: "info", labelledby: "labelledby_#{f.object.id}", header_content: "Product: #{f.object.product_brand.try(:name)}:#{f.object.product_category.try(:name)}:#{f.object.serial_no}", collapse_link: "invunitlink_#{f.object.id}", collapse_id: "products_collapse" do
              - product = f.object
              .panel-body
                - if f.object.tickets.any?
                  .row
                    .col-md-4
                      = label_tag "Serial No :"
                      = product.serial_no
                  .row
                    .col-md-6
                      = label_tag "Product Brand :"
                      = product.product_brand.try(:name)
                  .row
                    .col-md-6
                      = label_tag "Category :"
                      = product.product_category.try(:name)
                  .row
                    .col-md-2
                      = label_tag "Model No :"
                      = product.model_no
                  .row
                    .col-md-2
                      = label_tag "Product No :"
                      = product.product_no
                  .row
                    .col-md-4
                      = label_tag "Name :"
                      = product.name
                  .row
                    .col-md-8
                      = label_tag "Description :"
                      = product.description
                - else
                  .row
                    .col-md-4
                      = f.input :serial_no, required: true
                  .row.product_cat
                    .select_wrapper
                      .col-md-3
                        = f.association :product_brand, required: true, input_html: {class: "product_brand"}
                      .col-md-3
                        %font{:color => "#90032A"}
                          = label_tag "Product Category 1"
                          = select_tag "search_product_category1", option_groups_from_collection_for_select(ProductBrand.all, :product_category1s, :name, :id, :name, "#"), include_blank: true, class: "product_category1 form-control"
                      .col-md-3
                        %font{:color => "#90032A"}
                          = label_tag "Product Category 2"
                          = select_tag "search_product_category2", option_groups_from_collection_for_select(ProductCategory1.all, :product_category2s, :name, :id, :name, "#"), include_blank: true, class: "product_category2 form-control"

                      / .col-md-3
                      /   = label_tag "Product Category 3"
                      /   = select_tag "search_product_category3", option_groups_from_collection_for_select(ProductCategory2.all, :product_categories, :name, :id, :name, "#"), include_blank: true, class: "product_category form-control"
                      .col-md-3
                        = f.association :product_category, collection: ProductCategory2.all, as: :grouped_select, group_method: :product_categories, required: true, input_html: {class: "product_category chosen-select", onchange: "Tickets.product_name(this);"}, label: "Product Category 3"
                  .row
                    .col-md-2
                      = f.input :model_no
                    .col-md-2
                      = f.input :product_no
                  .row.pro_name
                    .col-md-4
                      = f.input :name, input_html: {class: "product_name"}
                    .col-md-8
                      =f.input :description
                .row
                  .col-md-4
                    = f.association :location_address, collection: ([organization] + organization.members), as: :grouped_select, group_method: :addresses, label_method: :full_address, required: true
                %fieldset
                  %legend POP
                  .row
                    .col-md-3
                      = f.association :product_pop_status
                    .col-md-4
                      = f.input :pop_note
                    .col-md-3
                      = f.association :product_sold_country, label_method: :Country
                    - if f.object.persisted?
                      .col-md-3
                        %strong.small_scale_padding-bottom3{style: "display: block;"} POP note document
                        - if f.object.pop_doc_url.present?
                          = link_to f.object.pop_doc_url.file.filename, f.object.pop_doc_url.url, target: "_blank"

                        = f.label "Upload pop note"
                        / = f.file_field :pop_doc_url, accept: 'image/png,image/gif,image/jpeg,application/pdf', class: "product_pop_doc_url", data: {class: "pop_doc_url_wrapper"}
                        = f.file_field :pop_doc_url, accept: 'image/png,image/gif,image/jpeg,application/pdf'
                        / #preview_of_pop_doc_url{style: "word-wrap: break-word;"}

                        / .pop_doc_url_wrapper
                %fieldset
                  %legend Corparate Product
                  .row
                    .col-md-4
                      = f.input :corporate_product, wrapper: :append
                    .col-md-4
                      = f.input :dn_number
                    .col-md-4
                      = f.input :invoice_number
                  .row
                    .col-md-4
                      = f.input :invoice_date, as: :string, input_html: {class: "datepicker", value: f.object.invoice_date.try(:strftime, INOCRM_CONFIG["short_date_format"])}
                    .col-md-4
                      = f.input :date_installation, as: :string, input_html: {class: "datepicker", value: f.object.date_installation.try(:strftime, INOCRM_CONFIG["short_date_format"])}
                    = hidden_field_tag :owner_customer_id, organization.id

                %fieldset
                  %legend Warranty
                  %table.table.table-responsive.table-condensed.table-bordered
                    %thead
                      %tr
                        %th
                        %th{colspan: 2} Warranty date
                        %th{colspan: 3} Period in month
                        %th Warranty
                        %th{colspan: 2} Care Pack
                        %th
                      %tr
                        %th
                        %th Start
                        %th End
                        %th Part
                        %th labour
                        %th Onsite
                        %th Type
                        %th Product number
                        %th Reg number
                        %th Note
                        / %th Function

                    %tbody
                      - f.object.warranties.order("created_at ASC").each do |warranty|
                        %tr
                          %td
                            = link_to delete_warrenty_contracts_path(warranty_id: warranty.id), method: :delete, rel: "tooltip", :data => { :confirm => 'Are you sure?', toggle: "tooltip", placement: "bottom" }, title: "Delete" do
                              %span.glyphicon.glyphicon-trash
                          %td= warranty.start_at.to_date.strftime("%b %d, %Y")
                          %td= (warranty.end_at && warranty.end_at.to_date.strftime("%b %d, %Y"))
                          %td= warranty.period_part
                          %td= warranty.period_labour
                          %td= warranty.period_onsight
                          %td= warranty.warranty_type.try(:name)
                          %td= warranty.care_pack_product_no
                          %td= warranty.care_pack_reg_no
                          %td= warranty.note
                
                = f.simple_fields_for :warranties do |w| # "products_attributes[]", w.object.warranties.build
                  - if w.object.new_record?
                    %fieldset
                      %h3 New Warranty
                      = w.input :product_serial_id, as: :hidden, input_html: {value: f.object.id}
                      .row
                        .col-md-6
                          = w.association :warranty_type, as: :radio_buttons, wrapper: :append, collection: WarrantyType.first(2), checked: WarrantyType.find_by_code("MW").id
                        .col-md-6
                          .strong
                            Warranty date format
                          %select.selectpicker{:name => "selValue", class: "small_scale_margin-top1"}
                            %option dd M, yyyy
                            %option dd, yyyy, M
                            %option M, yyyy, dd
                            %option M, dd, yyyy
                            %option yyyy, M, dd
                            %option yyyy, dd, M
                      .row
                        .col-md-6
                          = w.input :start_at, as: :string, input_html: {class: "datepicker"}
                        .col-md-6
                          = w.input :end_at, as: :string, input_html: {class: "datepicker"}
                      .row
                        .col-md-4
                          = w.input :period_part, input_html: {min: "0", class: "only_float"}, label: "Parts Warannty Period (Months):"
                        .col-md-4
                          = w.input :period_labour, input_html: {min: "0", class: "only_float"}, label: "Labour Warannty Period (Months):"
                        .col-md-4
                          = w.input :period_onsight, label: "Corporate on-site", input_html: {min: "0", class: "only_float"}, label: "On-Sight Warannty Period (Months):"
                      .row
                        .col-md-3
                          = w.input :care_pack_product_no, label: "Care pack product number: "
                        .col-md-3
                          = w.input :care_pack_reg_no, label: "Care pack / Agreement  Reg. No:  "
                        .col-md-6
                          = w.input :note, input_html: {rows: 1}, label: "Warranty Note:"
                      .row
                        .col-md-2.small_scale_padding-top3
                          = w.link_to_remove  class: "remove_c_t_v_link",:data => { :confirm => 'Are you sure?', toggle: "tooltip", placement: "bottom" }, title: "Remove" do
                            %button.btn.btn-danger Remove
                = f.link_to_add "Add Warrenty", :warranties, class: "btn btn-sm btn-warning", onclick: "var _this = this; setTimeout(function(){Tickets.date_picker_call(); return false;}, 200)"
                %br
                .row
                  .col-md-8
                    = f.input :note
                .row
                  .col-md-2.small_scale_padding-top3
                    = f.link_to_remove  class: "remove_c_t_v_link",:data => { :confirm => 'Are you sure?', toggle: "tooltip", placement: "bottom" }, title: "Remove" do
                      %button.btn.btn-danger Remove

        %br
      - else
        .panel-body
          .row
            %h4 New Product
          .row
            .col-md-4
              = f.input :serial_no, required: true
          .row.product_cat
            .select_wrapper
              .col-md-3
                = f.association :product_brand, required: true, input_html: {class: "product_brand"}
              .col-md-3
                %font{:color => "#90032A"}
                  = label_tag "Product Category 1"
                  = select_tag "search_product_category1", option_groups_from_collection_for_select(ProductBrand.all, :product_category1s, :name, :id, :name, "#"), include_blank: true, class: "product_category1 form-control"
              .col-md-3
                %font{:color => "#90032A"}
                  = label_tag "Product Category 2"
                  = select_tag "search_product_category2", option_groups_from_collection_for_select(ProductCategory1.all, :product_category2s, :name, :id, :name, "#"), include_blank: true, class: "product_category2 form-control"
                
              / .col-md-3
              /   = label_tag "Product Category 3"
              /   = select_tag "search_product_category3", option_groups_from_collection_for_select(ProductCategory2.all, :product_categories, :name, :id, :name, "#"), include_blank: true, class: "product_category form-control"
              .col-md-3
                = f.association :product_category, collection: ProductCategory2.all, as: :grouped_select, group_method: :product_categories, required: true, input_html: {class: "product_category chosen-select", onchange: "Tickets.product_name(this);"}, label: "Product Category 3"
          .row
            .col-md-2
              = f.input :model_no
            .col-md-2
              = f.input :product_no
          .row.pro_name
            .col-md-4
              = f.input :name, input_html: {class: "product_name"}
            .col-md-8
              =f.input :description
          .row
            .col-md-4
              = f.association :location_address, collection: ([organization] + organization.members), as: :grouped_select, group_method: :addresses, label_method: :full_address, required: true
          
          %fieldset
            %legend POP
            .row
              .col-md-3
                = f.association :product_pop_status
              .col-md-4
                = f.input :pop_note
              .col-md-3
                = f.association :product_sold_country, label_method: :Country
              .col-md-3
                %strong.small_scale_padding-bottom3{style: "display: block;"} POP note document
                = f.label "Upload pop note"
                / = f.file_field :pop_doc_url, accept: 'image/png,image/gif,image/jpeg,application/pdf', class: "product_pop_doc_url", data: {class: "pop_doc_url_wrapper"}
                = f.file_field :pop_doc_url, accept: 'image/png,image/gif,image/jpeg,application/pdf'
                / #preview_of_pop_doc_url{style: "word-wrap: break-word;"}


                / .pop_doc_url_wrapper


          %fieldset
            %legend Corparate Product
            .row
              .col-md-4
                = f.input :corporate_product, wrapper: :append
              .col-md-4
                = f.input :dn_number
              .col-md-4
                = f.input :invoice_number
            .row
              .col-md-4
                = f.input :invoice_date, as: :string, input_html: {class: "partatepicker", value: f.object.invoice_date.try(:strftime, INOCRM_CONFIG["short_date_format"])}
              .col-md-4
                = f.input :date_installation, as: :string, input_html: {class: "datepicker", value: f.object.date_installation.try(:strftime, INOCRM_CONFIG["short_date_format"])}
              = hidden_field_tag :owner_customer_id, organization.id



          %fieldset
            %legend Warranty
            = f.simple_fields_for :warranties do |w| # "products_attributes[]", w.object.warranties.build
              - if w.object.new_record?
                %fieldset
                  %h3 New Warranty
                  = w.input :product_serial_id, as: :hidden, input_html: {value: f.object.id}
                  .row
                    .col-md-6
                      = w.association :warranty_type, as: :radio_buttons, wrapper: :append, collection: WarrantyType.first(2), checked: WarrantyType.find_by_code("MW").id
                    .col-md-6
                      .strong
                        Warranty date format
                      %select.selectpicker{:name => "selValue", class: "small_scale_margin-top1"}
                        %option dd M, yyyy
                        %option dd, yyyy, M
                        %option M, yyyy, dd
                        %option M, dd, yyyy
                        %option yyyy, M, dd
                        %option yyyy, dd, M
                  .row
                    .col-md-6
                      = w.input :start_at, as: :string, input_html: {class: "datepicker"}
                    .col-md-6
                      = w.input :end_at, as: :string, input_html: {class: "datepicker"}
                  .row
                    .col-md-4
                      = w.input :period_part, input_html: {min: "0", class: "only_float"}
                    .col-md-4
                      = w.input :period_labour, input_html: {min: "0", class: "only_float"}
                    .col-md-4
                      = w.input :period_onsight, label: "Corporate on-site", input_html: {min: "0", class: "only_float"}
                  .row
                    .col-md-3
                      = w.input :care_pack_product_no, label: "Care pack product number"
                    .col-md-3
                      = w.input :care_pack_reg_no, label: "Care pack reg number"
                    .col-md-6
                      = w.input :note, input_html: {rows: 1}
                  .row
                    .col-md-2.small_scale_padding-top3
                      = w.link_to_remove  class: "remove_c_t_v_link",:data => { :confirm => 'Are you sure?', toggle: "tooltip", placement: "bottom" }, title: "Remove" do
                        %button.btn.btn-danger Remove
            = f.link_to_add "Add Warrenty", :warranties, class: "btn btn-sm btn-warning", onclick: "var _this = this; setTimeout(function(){Tickets.date_picker_call(); return false;}, 200)"


          %br
          .row
            .col-md-8
              = f.input :note
        .row
          .col-md-2.small_scale_padding-top3
            = f.link_to_remove  class: "remove_c_t_v_link",:data => { :confirm => 'Are you sure?', toggle: "tooltip", placement: "bottom" }, title: "Remove" do
              %button.btn.btn-danger Remove
      %hr

        .row
          #selectedproducts
    = o.link_to_add "Add Product", :products, class: "btn btn-sm btn-warning", onclick: "var _this = this; setTimeout(function(){Tickets.multi_pop_url_doc_upload(); Tickets.dynamically_filter_select(_this, 'prev'); return false;}, 200)"
    
    %button.btn.btn-info{"data-target" => "#productsModel", "data-toggle" => "modal", :type => "button"} Select Product

    %hr
    = o.submit "Save", class: "btn btn-sm btn-success", remote: true, data: {disable_with: "Please wait..."}




/ .panel-group#accordion{ role: "tablist", "aria-multiselectable"=>"true"}
/   - .each do |product|
/     .panel.panel-default
/       .panel-heading{role: "tab", id: "headingOne_#{}"}
/       %h4.panel-title
/         %a{"aria-controls" => "collapseOne_#{}", "aria-expanded" => "true", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne_#{}", :role => "button"}
/           Collapsible Group Item #1
/       .panel-collapse.collapse.in{"aria-labelledby" => "headingOne_#{}", :id => "collapseOne_#{}", :role => "tabpanel"}
/         .panel-body




#productsModel.modal.fade{:role => "dialog"}
  .modal-dialog.modal-lg
    / Modal content
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
        %h3.modal-title Search Product
      .modal-body
        / = form_tag "#", method: :post, remote: true do
        = form_tag search_product_contracts_path(from_where: params[:from_where]), method: :get, remote: true do
          .col-md-10
            = text_field_tag "query", params[:query], class: "form-control", placeholder: "Type any. for target seach"
          .col-md-2
            = submit_tag "Search", :name => "search_product", class: "btn btn-sm btn-success"
        .col-md-12
          #searchproduct
      .modal-footer
        .col-md-12
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
          / = submit_tag "Done", :name => "done", class: "btn btn-sm btn-success btn-primary"


= javascript_tag do
  $('#productsModel').on('hidden.bs.modal', function (e) {
  $("#searchproduct").empty();
  })
