- organizations = (@organizations || Organization.organization_customers)
- print_object = @print_object

.row
  .col-md-12
    =label_tag "Number of Customers: "
    = organizations.total
- if organizations.present?
  .row
    .col-md-12
      = paginate organizations, remote: true, method: :get

      %table.table.table-hover.table-responsive
        %thead
          %tr
            %th No
            %th Name
            %th Account No
            %th Code
            %th Industry Type
            %th Action
        %tbody
          - organizations.each_with_index do |org, index|
            %tr{ title: "#{'There is no valid address for this customer. Please add address and able to select' unless org.addresses.present? }"}
              %td
                - if params[:page]
                  = (index+1)+ 10*(params[:page].to_i-1)
                - else
                  = (index+1)
              %td= org.name
              %td= org.account.account_no
              %td= org.account.code
              %td= org.industry_type.name
              - if params[:from_where] == "new_ticket"
                %td
                  = link_to_if org.addresses.present?, "Select", contracts_path(organization_id: org.id, select_ticket: true, from_where: params[:from_where]), remote: true, onclick: "Tickets.ajax_loader(); return false;" do
                    Create address

              - elsif params[:from_where] == "cus_product"
                %td= link_to "Select", contracts_path(organization_id: org.id, select_product: true, from_where: params[:from_where]), remote: true, onclick: "Tickets.ajax_loader(); return false;"

              - elsif params[:from_where] == "cus_product_ticket"
                %td
                  = link_to_if (org.products.present? {|p| p.persisted?} and org.addresses.any?), "Select", contracts_path(organization_id: org.id, select_product_ticket: true, from_where: params[:from_where]), remote: true, onclick: "Tickets.ajax_loader(); return false;"  do
                    No Products Or Address

              - else
                %td= link_to "Select", contracts_path(organization_id: org.id, select: true, from_where: params[:from_where]), remote: true, onclick: "Tickets.ajax_loader(); return false;"

      = paginate organizations, remote: true, method: :get