- organization = @organization
- cus_product = @cus_product
.row
  .col-md-12
    .row
      .col-md-2
        %h3 Customer
      .row
      %br
      .col-md-5
        %dl.dl-horizontal
          %dt Customer Name:
          %dd= organization.name
          %dt Address:
          %dd
            - organization.addresses.primary_address.each do |address|
              = address.full_address
          %dt Account no:
          %dd= organization.account.account_no
          %dt Customer code:
          %dd= organization.get_code
          %dt Industry type:
          %dd= organization.industry_type.name
      .col-md-5
        %dl.dl-horizontal
          %dt Created at:
          %dd= organization.created_at.try(:strftime, INOCRM_CONFIG['short_date_format'])
          %dt Created by:
          %dd= organization.created_by_user.try(:full_name)
      %br

- if params[:from_where] == "cus_product_ticket"
  - if organization.products.present?
    %hr
    / = paginate products, remote: true, method: :get
    %table.table.table-hover
      %thead
        %tr
          %th No
          %th Product Brand
          %th Product Category
          %th Serial Number
          %th Model No
          %th Product No
          %th Corporate Product
          %th Product Sold Country
          %th Action

      %tbody
        - organization.products.each_with_index do |product, index|
          - if product.persisted?
            %tr
              %td
                - if params[:page]
                  = (index+1)+ 10*(params[:page].to_i-1)
                - else
                  = (index+1)
              %td= product.product_brand.name
              %td= product.product_category.name
              %td= product.serial_no
              %td= product.model_no
              %td= product.product_no
              %td= product.corporate_product
              %td= product.product_sold_country.try(:Country)
              %td= link_to "Select", find_by_serial_tickets_path(serial_search: product.serial_no), remote: true, method: :post
    %hr
-else
  %h3 Product Details
  = simple_nested_form_for organization, url: save_cus_products_contracts_path(save_product: true), html: {class: "validate_form"}, method: :post, remote: true do |o|
    = o.simple_fields_for :products do |f|
      - if f.object.id.present?
        = collapse collapse_type: "info", labelledby: "labelledby_#{f.object.id}", header_content: "Product: #{f.object.product_brand.try(:name)}:#{f.object.product_category.try(:name)}:#{f.object.serial_no}", collapse_link: "invunitlink_#{f.object.id}", collapse_id: "products_collapse" do
          - if f.object.tickets.any?
            - product = f.object

            %dl.dl-horizontal
              %dt Product Name
              %dd= product.name
              %dt Product Description
              %dd= product.description
              %dt Product Brand
              %dd= product.product_brand.try(:name)
              %dt Product Category
              %dd= product.product_category.try(:name)
              %dt Serial No
              %dd= product.serial_no
              %dt Model No
              %dd= product.model_no
              %dt Product No
              %dd= product.product_no
              %dt Corporate Product
              %dd= boolean_in_word product.corporate_product, "Yes", "No"
              %dt Product Pop Status
              %dd= product.product_pop_status.try(:name)
              %dt Pop Note
              %dd= product.pop_note
              %dt Product Sold Country
              %dd= product.product_sold_country.try(:code)
              %dt POP note document
              - if f.object.pop_doc_url.present?
                %dd= link_to(product.pop_doc_url.file.try(:filename), product.pop_doc_url.url, target: "_blank")
              %dt Note
              %dd= product.note

          -else
            .row
              .col-md-4
                = f.input :name
              .col-md-8
                =f.input :description
            .row
              .col-md-2
                = f.association :product_brand, required: true, include_blank: false
              .col-md-2
                = f.association :product_category, required: true, include_blank: false
              .col-md-4 
                = f.input :serial_no, required: true
              .col-md-2
                = f.input :model_no
              .col-md-2
                = f.input :product_no
            .row
              .col-md-3
                = f.input :date_installation, as: :string, required: true,input_html: {class: "datepicker", value: f.object.date_installation.try(:strftime, INOCRM_CONFIG["short_date_format"])}

            %br
            %br
            .row
              .col-md-3
                / = c.association :sla_time, required: true, label_method: :description, include_blank: false, label: "SLA"
                = f.association :product_sold_country, label_method: :Country
              .col-md-2
                = f.input :corporate_product, wrapper: :append
              .col-md-3
                = f.association :product_pop_status
              .col-md-4
                = f.input :pop_note

                = hidden_field_tag :owner_customer_id, organization.id

              - if f.object.persisted?
                .col-md-3
                  %strong.small_scale_padding-bottom3{style: "display: block;"} POP note document
                  #preview_of_pop_doc_url{style: "word-wrap: break-word;"}
                    - if f.object.pop_doc_url.present?
                      = link_to f.object.pop_doc_url.file.filename, f.object.pop_doc_url.url, target: "_blank"

                    = f.label "Upload pop note"
                    = f.file_field :pop_doc_url, accept: 'image/png,image/gif,image/jpeg,application/pdf', class: "product_pop_doc_url", data: {class: "pop_doc_url_wrapper"}

                  .pop_doc_url_wrapper
            %br
            .row
              .col-md-8
                = f.input :note

            .col-md-2.small_scale_padding-top3
              = f.link_to_remove  class: "remove_c_t_v_link",:data => { :confirm => 'Are you sure?', toggle: "tooltip", placement: "bottom" }, title: "Remove" do
                %button.btn.btn-danger Remove

        %br
      - else
        .row
          %h4 New Product
        .row
          .col-md-4
            = f.input :name
          .col-md-8
            =f.input :description
        .row
          .col-md-2
            = f.association :product_brand, required: true, include_blank: false
          .col-md-2
            = f.association :product_category, required: true, include_blank: false
          .col-md-4
            = f.input :serial_no, required: true
          .col-md-2
            = f.input :model_no
          .col-md-2
            = f.input :product_no
        .row
          .col-md-3
            = f.input :date_installation, as: :string, required: true,input_html: {class: "datepicker", value: f.object.date_installation.try(:strftime, INOCRM_CONFIG["short_date_format"])}
        %br
        .row
          .col-md-3
            = f.association :product_sold_country, label_method: :Country
          .col-md-2
            = f.input :corporate_product, wrapper: :append
          .col-md-3
            = f.association :product_pop_status
          .col-md-4
            = f.input :pop_note

            = hidden_field_tag :owner_customer_id, organization.id

          - if f.object.persisted?
            .col-md-3
              %strong.small_scale_padding-bottom3{style: "display: block;"} POP note document
              #preview_of_pop_doc_url{style: "word-wrap: break-word;"}
                - if f.object.pop_doc_url.present?
                  = link_to f.object.pop_doc_url.file.filename, f.object.pop_doc_url.url, target: "_blank"

                = f.label "Upload pop note"
                = f.file_field :pop_doc_url, accept: 'image/png,image/gif,image/jpeg,application/pdf', class: "product_pop_doc_url", data: {class: "pop_doc_url_wrapper"}

              .pop_doc_url_wrapper

        %br
        .row
          .col-md-8
            = f.input :note
        .row
          .col-md-2.small_scale_padding-top3
            = o.link_to_remove  class: "remove_c_t_v_link",:data => { :confirm => 'Are you sure?', toggle: "tooltip", placement: "bottom" }, title: "Remove" do
              %button.btn.btn-danger Remove
      %hr

        .row
          #selectedproducts
    = o.link_to_add "Add Product", :products, class: "btn btn-sm btn-warning", onclick: "setTimeout(function(){Tickets.multi_pop_url_doc_upload(); return false;}, 200)"
    
    %button.btn.btn-info{"data-target" => "#productsModel", "data-toggle" => "modal", :type => "button"} Select Product

    %hr
    = o.submit "Save", class: "btn btn-sm btn-success", remote: true, data: {disable_with: "Please wait..."}





#productsModel.modal.fade{:role => "dialog"}
  .modal-dialog.modal-lg
    / Modal content
    .modal-content
      .modal-header
        %button.close{"data-dismiss" => "modal", :type => "button"}
        %h3.modal-title Search Product
      .modal-body
        / = form_tag "#", method: :post, remote: true do
        = form_tag search_product_contracts_path(from_where: params[:from_where]), method: :get, remote: true do
          .col-md-10
            = text_field_tag "query", params[:query], class: "form-control", placeholder: "Type any. for target seach"
          .col-md-2
            = submit_tag "Search", :name => "search_product", class: "btn btn-sm btn-success"
        .col-md-12
          #searchproduct
      .modal-footer
        .col-md-12
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
          / = submit_tag "Done", :name => "done", class: "btn btn-sm btn-success btn-primary"


= javascript_tag do
  $('#productsModel').on('hidden.bs.modal', function (e) {
  $("#searchproduct").empty();
  })
