- products = @products

%br/

- if products.present?
  = paginate products, remote: true, method: :get
  %table.table.table-hover
    %thead
      %tr
        %th No
        %th Serial No
        %th Customer Name
        %th Hold
        %th Active
        %th Action
    %tbody
      - products.each_with_index do |p, index|
        %tr
          %td
            - if params[:page]
              = (index+1)+ 10*(params[:page].to_i-1)
            - else
              = (index+1)
          %td= p.serial_no
          - if p.ticket_contracts.last.present?
            %td= p.ticket_contracts.last.organization.try(:name)
            %td= boolean_in_word p.ticket_contracts.last.try(:hold), "Yes", "No"
            %td
          - else
            %td
            %td
            %td
          %td= link_to "Select"
  = paginate products, remote: true, method: :get