- products = @cached_products
- organization_for_location = @organization_for_location
- contract_id = @contract_id
- if products.present?
  %h3 Selected Products

  .col-md-12
    %table.table.table-hover
      %thead
        %tr
          %th No
          %th Serial No
          - if params[:from_where] != "cus_product"
            %th Amount
            %th Discount Amount
            %th Start Date
            %th End Date
            %th B2B Contract
            %th Installed Address
            %th Installed Location
            %th Remarks

          %th Action

      %tbody
        - products.each_with_index do |p, index|
          - content_for :products_brief, flush: true do
            %ul
              %li
                %strong Product Brand :
                #{p.product_brand.name}
            %ul
              %li
                %strong Product Category :
                #{p.product_category.name}
            %ul
              %li
                %strong Product No :
                #{p.product_no}
            %ul
              %li
                %strong Model No :
                #{p.model_no}           
          %tr
            %td{ "type"=> "button", "class"=> "btn btn-link has-popover", "data-toggle"=> "popover", "title"=> "#{p.serial_no}", "data-content"=> yield(:products_brief), "data-html" => "true", "data-trigger" => "hover", "data-placement" => "right" }
              - if params[:page]
                = (index+1)+ 10*(params[:page].to_i-1)
              - else
                = (index+1)
              %td=p.serial_no
            - if params[:from_where] != "cus_product"
              %td= text_field_tag "contract_product_additional_params[#{p.id}][amount]",0, class: "form-control cus_product_amount", required: true
              %td= text_field_tag "contract_product_additional_params[#{p.id}][discount_amount]",0, class: "form-control cus_product_disamount", required: true
              %td= text_field_tag "contract_product_additional_params[#{p.id}][contract_start_at]",Date.today, class: "datepicker form-control", required: true
              %td= text_field_tag "contract_product_additional_params[#{p.id}][contract_end_at]",Date.today, class: "datepicker form-control", required: true
              %td= check_box_tag "contract_product_additional_params[#{p.id}][contract_b2b]",nil, class: "form-control cus_product_disamount", required: true
              %td= select_tag "contract_product_additional_params[#{p.id}][location_address_id]", options_from_collection_for_select(organization_for_location.addresses, :id, :full_address, nil), class: "form-control chosen-select", include_blank: true
              %td= select_tag "contract_product_additional_params[#{p.id}][installed_location_id]", options_from_collection_for_select(organization_for_location.addresses, :id, :full_address, nil), class: "form-control chosen-select", include_blank: true
              %td= text_area_tag "contract_product_additional_params[#{p.id}][remarks]", nil, class: "form-control"

            %td
              - if params[:from_where] == "cus_product"
                = link_to "Remove", submit_selected_products_contracts_path(remove_cus_product: true, selected_product: p.id, from_where: params[:from_where]), remote: true, class: "btn btn-sm btn-warning", method: :post
              - else
                - if params[:new_contract]
                  = link_to "View", contracts_path(view_product: true, serial_product: true, product_id: p.id), remote: false, class: "btn btn-sm btn-warning", target: "_blank"
                  = link_to "Remove", submit_selected_products_contracts_path(remove: true, selected_product: p.id, organization_id:organization_for_location.id, new_contract: params[:new_contract]), remote: true, class: "btn btn-sm btn-danger", method: :post
                - else
                  = link_to "View", contracts_path(view_product: true, view_serial_product: true, product_id: p.id, contract_id:contract_id.id), remote: false, class: "btn btn-sm btn-warning", target: "_blank"
                  = link_to "Remove", submit_selected_products_contracts_path(remove: true, selected_product: p.id,organization_id:organization_for_location.id, contract_id:contract_id.id), remote: true, class: "btn btn-sm btn-danger", method: :post