- products = @cached_products

- if products.present?
  %h3 Selected Products

  .col-md-12
    %table.table.table-hover
      %thead
        %tr
          %th No
          %th Serial No
          %th Product No
          %th Model No
          %th Product Brand
          %th Product Category
          %th Action

      %tbody
        - products.each_with_index do |p, index|
          %tr
            %td
              - if params[:page]
                = (index+1)+ 10*(params[:page].to_i-1)
              - else
                = (index+1)
            %td= p.serial_no
            %td= p.product_no
            %td= p.model_no
            %td= p.product_brand.name
            %td= p.product_category.name
            %td
              - if params[:from_where] == "cus_product"
                = link_to "Remove", submit_selected_products_contracts_path(remove_cus_product: true, selected_product: p.id, from_where: params[:from_where]), remote: true, class: "btn btn-sm btn-warning", method: :post
              - else
                = link_to "Remove", submit_selected_products_contracts_path(remove: true, selected_product: p.id), remote: true, class: "btn btn-sm btn-warning", method: :post