#contract_alert.alert.alert-success.alert-dismissable.fade.in.hide{role: "alert"}
  %button{class: "close", "aria-label" => "Close", data: {dismiss: "alert"}}
    %span &times;

  #content
= collapse_wrapper collapse_id: "contracts_form_collapse", labelledby: "contracts_form_collapse_labelledby" do
  .row
    %h3 Contracts
  .row
    %ul.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", :href => "#tab1", title: "Non Contract"} Search By Customer
      %li
        %a{"data-toggle" => "tab", :href => "#tab2", title: "Non Contract"} Search By Contract
    .tab-content
      #tab1.tab-pane.fade.in.active
        .row.small_scale_padding-top1
          .container
            = collapse collapse_type: "info", labelledby: "contracts_form_collapse_search_customers", header_content: "Search Customers", collapse_link: "contracts_form_collapse_search_customers_link", collapse_id: "contracts_form_collapse", collapse_in: "in" do
              .col-md-12#searchform
                / =render 'searchform'
                =render 'customerlist'
              .col-md-12#customerlist
            = collapse collapse_type: "info", labelledby: "contracts_form_collapse_contracts", header_content: "Contracts", collapse_link: "contracts_form_collapse_contracts_link", collapse_id: "contracts_form_collapse" do
              .col-md-12#contractlist
            = collapse collapse_type: "info", labelledby: "contracts_form_collapse_form", header_content: "Contracts Details", collapse_link: "contracts_form_collapse_form_link", collapse_id: "contracts_form_collapse" do
              / .col-md-12#contractform
              .col-md-12#contractedit

      #tab2.tab-pane.fade
        .row.small_scale_padding-top1
          .container
            = collapse collapse_type: "info", labelledby: "contracts_form_collapse_search_contracts", header_content: "Search Contracts", collapse_link: "contracts_form_collapse_search_contracts_link", collapse_id: "contracts1_form_collapse", collapse_in: "in" do
              .col-md-12#searchform
                / =render 'searchform'
              %br
                =render 'search_contract'
              .col-md-12#search_contract
            = collapse collapse_type: "info", labelledby: "contracts_form_collapse_form", header_content: "Contracts Details", collapse_link: "contracts_form_collapse_form_link1", collapse_id: "contracts_form_collapse", collapse_in: "in"  do
              / .col-md-12#contractform
              .col-md-12#contractedit1
