- if params[:product] and params[:product][:pop_doc_url]
  $("#preview_of_pop_doc_url").html("#{@new_product.pop_doc_url.file.filename if @new_product.pop_doc_url.present?}");
  $(".pop_doc_url_wrapper").empty();



- if params[:search_contract_details].present?
  $("#search_contract").html("#{j render 'contracts/contracts_searched_list.html'}");
  $("#search_contract").removeClass("hide");




- if params[:search].present?
  $("#customerlist").html("#{j render 'contracts/customersearchedlist'}");
  $("#contractlist").addClass("hide");
  $("#contractedit").addClass("hide");
  $("#customerlist").removeClass("hide");
  $("#contract_alert").addClass("hide");


- elsif params[:search_cus_product].present?
  $("#customerlist1").html("#{j render 'contracts/customersearchedlist'}");
  $("#contractlist1").addClass("hide");
  $("#contractedit1").addClass("hide");

- elsif params[:select].present?
  $("#contractlist").removeClass("hide");
  $("#contractlist").html("#{j render 'contracts/contractslist'}");
  $("a[href='#contracts_form_collapse_contracts_link']").trigger("click");

- elsif params[:select_ticket].present?
  $("#contractlist").removeClass("hide");
  $("#contractlist").html("#{j render 'contracts/ticket_contracts_list'}");
  $("a[href='#contracts_ticket_form_collapse_search_customers_link']").trigger("click");

- elsif params[:select_product].present?
  $("#contractlist").removeClass("hide");
  $("#contractlist").html("#{j render 'contracts/cus_products'}");
  $("a[href='#contracts_ticket_form_collapse_search_customers_link']").trigger("click");
  Inventories.filter_product();
  Inventories.filter_category();
  Tickets.dynamically_filter_select_for_new();
  $("a[href='#contracts_ticket_form_collapse_contracts_link']").trigger("click");

- elsif params[:select_product_ticket].present?
  $("#contractlist1").removeClass("hide");
  $("#contractlist1").html("#{j render 'contracts/cus_products'}");
  $("a[href='#contracts_ticket_form_collapse_search_customers_link']").trigger("click");

- elsif params[:edit_create].present?
  $("#contractedit").removeClass("hide");
  $("#contractedit").html("#{j render 'contracts/contractform'}");
  $("a[href='#contracts_form_collapse_form_link']").trigger("click");

  DocumentAttachment.generated_document_upload();

- elsif params[:edit_create_contract].present?
  $("#contractedit1").removeClass("hide");
  $("#contractedit1").html("#{j render 'contracts/contractform'}");
  / $("a[href='#contracts_form_collapse_form_link1']").trigger("click");
  / $("a[href='#contracts_form_collapse_search_contracts_link']").trigger("click");


- elsif params[:select_contract].present?
  $("#contractselect").html("#{j render 'cont racts/contractproducts'}");

- elsif params[:search_product].present?
  $("#searchproduct").html("#{j render 'contracts/searchproduct'}");

- elsif params[:search_product_contract].present?
  $("#searchproduct").html("#{j render 'contracts/searchproduct'}");
  
- elsif params[:done].present?
  $("#searchproduct").html("#{j render 'contracts/contractform'}");

- elsif params[:save].present?

- elsif params[:save_product].present?
  - if params[:ajax_upload].present?
  - else
    - if @organization.errors.any?
      alert("#{@organization.errors.full_messages.join(', ')}");
    - else
      $("#contractedit").empty();
      $("#contractlist").addClass("hide");
      $("#customerlist").addClass("hide");
      $("#contract_alert #content").html("successfully saved");
      $("#contract_alert").removeClass("hide");
      $("a[href='#contracts_ticket_form_collapse_search_customers_link']").trigger("click");



Tickets.initial_loaders();
Contracts.disabled_datepicker();
Tickets.remove_ajax_loader();
Tickets.multi_pop_url_doc_upload();
Tickets.disabled_end_at();
Tickets.filter_select_new_product();
Tickets.filter_bill_address();

$("#ticket_contract_contract_end_at").prop('disabled', ($("#ticket_contract_contract_end_at").val() == ''));
$("a[rel~=popover], .has-popover").popover();