- product = @product
- contract_product = @contract_product

%br
%h3 View product
%br
.row
  .col-md-2
    %h4 Product Information
  .col-md-5
    %dl.dl-horizontal
      %dt Serial No:
      %dd= product.serial_no
      %hr
      %dt Product Brand:
      %dd= product.product_brand.try(:name)
      %hr
      %dt Product Category:
      %dd= product.category_full_name_index
      %hr
      %dt Product Name:
      %dd= product.try(:name)
      %hr
      %dt Product Pop Status:
      %dd= product.product_pop_status.try(:name)
      %hr
      %dt Pop Note:
      %dd= product.pop_note
      - if !params[:serial_product]
        %hr
        %dt Sla Time:
        %dd= product.sla_time.try(:time_with_description)
      - if !params[:view_serial_product] && !params[:serial_product]
        %hr
        %dt Installed Location:
        %dd= contract_product.installed_location.try(:name)
        %dt Installed Address:
        %dd= contract_product.location_address.try(:full_address)
        %hr
        %dt Amount:
        %dd= contract_product.try(:amount)
        %hr
        %dt Discount Amount:
        %dd= contract_product.try(:discount_amount)

  .col-md-5
    %dl.dl-horizontal
      %dt Model No:
      %dd= product.model_no
      %hr
      %dt Product No:
      %dd= product.product_no
      %hr
      %dt Product Description:
      %dd= product.description
      %hr
      %dt POP note document:
      %dd= link_to(product.pop_doc_url.file.try(:filename), product.pop_doc_url.url, target: "_blank")
      %hr
      %dt Product Sold Country:
      %dd= product.product_sold_country.try(:country_code_with_name)
      %hr
      %dt Corporate Product:
      %dd= boolean_in_word product.corporate_product, "Yes", "No"
      - if !params[:serial_product]
        %hr
        %dt Remarks:
        %dd=simple_format @contract_product.remarks