- inventory_product = @inventory_serial_item.inventory_product
- inventory = @inventory_serial_item.inventory

.row
  .col-md-6
    %strong GRN No:
    = CompanyConfig.first.next_sup_last_grn_no.to_s.rjust(5, INOCRM_CONFIG["inventory_grn_no_format"])
    .br
    %strong Store:
    = inventory.organization.name
  .col-md-6.text-right
    %strong Created at:
    = Time.now.strftime(INOCRM_CONFIG["short_date_format"])
    .br
    %strong Created by:
    = current_user.full_name

.row
  %fieldset
    %legend Main Part
    .row
      .col-md-3
        %h3 Info
      .col-md-9
        .col-md-6
          %dl.dl-horizontal
            %dt Main Item Code:
            %dd= inventory_product.generated_item_code
            %dt Item Description:
            %dd= inventory_product.description
            %dt Rack:
            %dd= inventory.inventory_bin.inventory_shelf.inventory_rack.description
            %dt Shelf:
            %dd= inventory.inventory_bin.inventory_shelf.description
            %dt Bin:
            %dd= inventory.inventory_bin.description
            %dt Stock in Hand:
            %dd= inventory.stock_quantity

        .col-md-6
          %dl.dl-horizontal
            %dt Serial No:
            %dd= @inventory_serial_item.serial_no
            %dt CT No:
            %dd= @inventory_serial_item.ct_no
            %dt Manufactured Date:
            %dd= @inventory_serial_item.manufatured_date.try :strftime, INOCRM_CONFIG["short_date_format"]
            %dt Expiry Date:
            %dd= @inventory_serial_item.expiry_date.try :strftime, INOCRM_CONFIG["short_date_format"]
            %dt Condition:
            %dd= @inventory_serial_item.product_condition.condition
            %dt Scavange:
            %dd= @inventory_serial_item.scavenge

      .row
        .col-md-3
        .col-md-9
          %hr
          - content_for :more_details, flush: true do
            %span.label.label-info= boolean_in_word @inventory_serial_item.scavenge, "Scavenge", ""
            %span.label.label-info= boolean_in_word @inventory_serial_item.parts_not_completed, "Part not completed", ""
            %span.label.label-info= boolean_in_word @inventory_serial_item.damage, "Damaged", ""
            %span.label.label-info= boolean_in_word @inventory_serial_item.used, "Used", ""
            %span.label.label-info= boolean_in_word @inventory_serial_item.repaired, "Repaired", ""
            %span.label.label-info= boolean_in_word @inventory_serial_item.reserved, "Reserved", ""
            = simple_format @inventory_serial_item.remarks
          .col-md-1{ "type"=> "button", "class"=> "btn btn-link has-popover", "data-toggle"=> "popover", "title"=> "More Details", "data-content"=> yield(:more_details), "data-html" => "true", "data-trigger" => "hover", "data-placement" => "right" } More Details

    %hr
    .row
      .col-md-3
        %h3 Warranties
      .col-md-9
        - @inventory_serial_item.inventory_warranties.each_with_index do |inventory_warranty, index|
          %dl.dl-horizontal
            %dt Type:
            %dd=inventory_warranty.inventory_warranty_type.name
            %dt Start At:
            %dd= inventory_warranty.created_at.strftime(INOCRM_CONFIG["short_date_format"])
            %dt End At:
            %dd= inventory_warranty.end_at.strftime(INOCRM_CONFIG["short_date_format"])
            %dt Period Part:
            %dd= inventory_warranty.period_part
            %dt Period Labour:
            %dd= inventory_warranty.period_labour
            %dt Period On-Sight:
            %dd= inventory_warranty.period_onsight
            %dt Remarks:
            %dd= simple_format inventory_warranty.remarks
    %hr
    .row
      .col-md-3
        %h3 Additional Costs
      .col-md-9
        .row
          .col-md-6
            %strong GRN Current Cost:
          .col-md-6
            %strong Currency:
        %hr
        = simple_nested_form_for @inventory_serial_item, url: create_grn_for_main_part_admins_inventories_path(inventory_serial_item_id: @inventory_serial_item.id ), html: {class: "validate_form"} do |f|
          = hidden_field_tag :store_id, @store.id, id: "store1_id"
          - if @inventory_serial_item.errors.any?
            .row
              - @inventory_serial_item.errors.full_messages.each do |error|
                .col-md-12= error

          .row
            = f.simple_fields_for :inventory_serial_items_additional_costs do |c|
              - if c.object.persisted?
                .col-md-2
                  %strong Cost:
                  = c.object.cost
                .col-md-3
                  %strong Note:
                  = c.object.note
                .col-md-3
                  %strong Created at:
                  = c.object.created_at.strftime(INOCRM_CONFIG["short_date_format"])
                .col-md-3
                  %strong Created by:
                  = c.object.created_by_user.try(:full_name)
              - else
                = c.input :currency_id, as: :hidden, input_html: {value: f.object.grn_serial_items.first.grn_item.currency_id}
                = c.input :created_by, as: :hidden, input_html: {value: current_user.id}
                .col-md-5
                  = c.input :cost, as: :string
                .col-md-5
                  = c.input :note
              .col-md-2.padding-top1
                = c.link_to_remove class: "remove_c_t_v_link", title: "Remove item additional cost" do
                  %button.btn.btn-danger{:type => "button"} Remove
              %hr

            = f.link_to_add :inventory_serial_items_additional_costs, class: "col-md-12" do
              %button.btn.btn-success{:type => "button"} Add

    %hr
    .row
      .col-md-3
        %h3 Remarks
      .col-md-9
        %textarea.form-control{:rows => "2"}

= simple_nested_form_for @inventory_serial_item, url: create_grn_for_main_part_admins_inventories_path(inventory_serial_item_id: @inventory_serial_item.id ), html: {class: "validate_form"} do |f|
  = hidden_field_tag :store_id, @store.id, id: "store1_id"

  - if inventory_product.inventory_product_info.need_serial and !inventory_product.inventory_product_info.need_batch

    = f.simple_fields_for :inventory_serial_parts do |p|
      - if p.object.persisted?
        %fieldset
          %legend Serial part: #{p.object.serial_no}
          %h4 Product Info
          .row
            .col-md-3
              %strong Serial No: 
              = p.object.inventory_product.generated_item_code
            .col-md-3
              %strong Model No: 
              = p.object.inventory_product.model_no
            .col-md-3
              %strong Product No: 
              = p.object.inventory_product.product_no
            .col-md-3
              %strong Created by: 
              = p.object.inventory_product.created_by_user.full_name
          %hr
          %h4 Serial part info
          .row
            .col-md-6
              .row
                .col-md-6
                  %strong Serial No:
                  = p.object.serial_no
                .col-md-6
                  %strong CT No:
                  = p.object.ct_no
                .col-md-6
                  %strong Manufactured date:
                  = p.object.manufatured_date.try :strftime, INOCRM_CONFIG["short_date_format"]
                .col-md-6
                  %strong Expiry date:
                  = p.object.expiry_date.try :strftime, INOCRM_CONFIG["short_date_format"]
                .col-md-6
                  = p.association :product_condition, label_method: :condition, required: true, include_blank: false
                .col-md-6
                  / = p.association :inventory_serial_item_status, label: "Status"
                
            .col-md-5
              .row
                .col-md-12
                  = simple_format p.object.remarks
            .col-md-6
              .row
                - [:damage, :scavenge, :used, :repaired, :reserved, :added, :parts_not_completed].each do |flag|
                  .col-md-3
                    %span.label{class: "label-#{p.object.send(flag) ? 'success' : 'default' }"}= flag.to_s
              %hr
              .help-block <span class='label label-success'>Green</span> background means active. Ex: part is damaged. <span class='label label-default'>Grey</span> brackground means inactive, Ex: part is not damaged
          %fieldset
            %legend Grn
            - p.object.grn_serial_parts.each do |gs|
              .row
                .col-md-3
                  %strong Unit cost:
                  = gs.grn_item.unit_cost
                .col-md-3
                  %strong Currency:
                  = gs.grn_item.currency.currency
                .col-md-3
                  %strong Main part Serial No:
                  = gs.inventory_serial_item.serial_no
                .col-md-3
                  %strong Main part CT No:
                  = gs.inventory_serial_item.ct_no
                .col-md-12
                  %strong Remarks:
                  = simple_format gs.grn_item.remarks
              %hr

          %fieldset
            %legend Part Additional Costs
            - p.object.inventory_serial_part_additional_costs.each do |additional_cost|
              .row
                .col-md-2
                  %strong Warranty type:
                  = additional_cost.cost
                .col-md-10
                  %strong Note:
                  = additional_cost.note                  

      - else
        .row
          %fieldset
            %legend
            .row
              .col-md-3
                %h3 Part
              .col-md-9
                = p.input :product_id, as: :hidden, input_html: {class: "dynamic_main_product_id"}
                = p.input :created_by, as: :hidden, input_html: {value: current_user.id}
                .row
                  .col-md-6
                    .product_info
                  .col-md-6
                    %dl.dl-horizontal
                      %dt Received Quantity:
                      %dd
                      %dt Item Code:
                      %dd
                      %dt Item Description
                      %dd
                %hr
                .col-md-6
                  .row
                    .col-md-6
                      = p.input :serial_no, required: true
                    .col-md-6
                      = p.input :ct_no, label: "CT No"
                    .col-md-6
                      = p.input :manufatured_date, as: :string, input_html: {class: "datepicker", value: p.object.manufatured_date.try(:strftime, INOCRM_CONFIG["short_date_format"])}
                    .col-md-6
                      = p.input :expiry_date, as: :string, input_html: {class: "datepicker", value: p.object.expiry_date.try(:strftime, INOCRM_CONFIG["short_date_format"])}
                    .col-md-6
                      = p.association :product_condition, label_method: :condition
                    .col-md-6
                      = p.association :inventory_serial_item_status, label: "Status"
                .col-md-5
                  .row
                    .col-md-12
                      = p.input :scavenge, wrapper: :append
                    .col-md-12
                      = p.input :damage, wrapper: :append
                    .col-md-12
                      = p.input :used, wrapper: :append
                    .col-md-12
                      = p.input :repaired, wrapper: :append
                    .col-md-12
                      = p.input :reserved, wrapper: :append
                    .col-md-12
                      = p.input :added, wrapper: :append, label: "Add as upgrade"
                    .col-md-12
                      = p.input :parts_not_completed, wrapper: :append
                .col-md-10
                  = p.input :remarks
                .col-md-1.add_sign
                  = p.link_to_remove title: "Remove Serial Part" do
                    %button.btn.btn-danger{:type => "button"} Remove

            %hr
            .row
              .col-md-3
                %h3 Warranties
              .col-md-9
                = p.simple_fields_for :inventory_serial_part_warranties do |w|
                  - w.object.build_inventory_warranty unless w.object.inventory_warranty.present?
                  = w.simple_fields_for :inventory_warranty do |iw|
                    = iw.input :created_by, as: :hidden, input_html: {value: current_user.id }
                    .col-md-8
                      .row
                        .col-md-6
                          = iw.association :inventory_warranty_type, include_blank: false, label: "Warranty Type"
                        .col-md-6
                          = iw.input :period_part, label: "Period Part"
                        .col-md-6
                          = iw.input :start_at, as: :string, input_html: {class: "datepicker", value: iw.object.start_at.try(:strftime, INOCRM_CONFIG["short_date_format"])}
                        .col-md-6
                          = iw.input :end_at, as: :string, input_html: {class: "datepicker", value: iw.object.end_at.try(:strftime, INOCRM_CONFIG["short_date_format"])}
                        .col-md-6
                          = iw.input :period_labour, label: "Period Labour (In months)"
                        .col-md-6
                          = iw.input :period_onsight, label: "Period On-Sight (In months)"
                    .col-md-10
                      = iw.input :remarks
                    .col-md-2.padding-top1
                      = iw.link_to_remove  class: "remove_c_t_v_link", title: "Remove item additional cost" do
                        %button.btn.btn-danger{:type => "button"} Remove
                .col-md-12
                  = p.link_to_add :inventory_serial_part_warranties, class: "col-md-12", onclick: "Inventories.add_warranty_click(this);" do
                    %span.glyphicon.glyphicon-plus-sign
                    Add part warranty
            
            %hr
            .row
              .col-md-3
                %h3 Additional Costs
              .col-md-9
                = p.simple_fields_for :inventory_serial_part_additional_costs do |c|
                  = c.input :currency_id, as: :hidden, input_html: { value: f.object.grn_serial_items.first.grn_item.currency_id }
                  = c.input :created_by, as: :hidden, input_html: {value: current_user.id }
                  .col-md-5
                    = c.input :cost, as: :string
                  .col-md-5
                    = c.input :note
                  .col-md-1.padding-top1
                    = c.link_to_remove  class: "remove_c_t_v_link", title: "Remove item additional cost" do
                      %button.btn.btn-danger{:type => "button"} Remove
                .col-md-12
                  = p.link_to_add "Add part cost", :inventory_serial_part_additional_costs

        / = panels panel_type: "info", header_content: "Grn item" do
        /   .row
        /     - p.object.grn_serial_parts.build unless p.object.grn_serial_parts.any?
        /     = p.simple_fields_for :grn_serial_parts do |gp|
        /       - gp.object.build_grn_item unless gp.object.build_grn_item.present?

        /       = gp.input :serial_item_id, as: :hidden, input_html: { value: @inventory_serial_item.id }
        /       = gp.simple_fields_for :grn_item do |g|
        /         = g.input :recieved_quantity, as: :hidden, input_html: {value: 1}
        /         = g.input :remaining_quantity, as: :hidden, input_html: {value: 1}
        /         = g.input :current_unit_cost, as: :hidden, input_html: {value: 0}
        /         = g.input :currency_id, as: :hidden, input_html: {value: f.object.grn_serial_items.first.grn_item.currency_id}
        /         = g.input :product_id, as: :hidden, input_html: {class: "applicable_product_id"}

        /         = g.input :current_user_id, as: :hidden, input_html: {value: current_user.id}
        /         = g.input :main_product_id, as: :hidden, input_html: {class: "applicable_product_id"}
        /         .col-md-2
        /           = g.input :unit_cost, as: :string, required: true
        /         .col-md-10
        /           = g.input :remarks

    .row.small_scale_padding-top1
      = f.link_to_add :inventory_serial_parts, class: "col-md-12", id: "add_serial_part", onclick: "Inventories.search_product_for_part(this); return false;", data: {storeId: @store.id, id: "store1_id", modalId: "modal_for_main_part", remote: "true", selectpath: "", selectoptions: "onclick:Inventories.assign_i_product(this, 'modal_for_main_part', 'add_serial_part');"} do
        %button.btn.btn-success{:type => "button"} Add Serial Part

  .row.small_scale_padding-top1
    .col-md-12
      = f.input :remarks, input_html: {value: nil}
      = simple_format f.object.remarks
  .row
    .col-md-12.text-right.small_scale_margin-bottom1
      = f.submit "Save", class: "btn btn-sm btn-success"

#modal_for_main_part.modal.fade{tabindex: -1, role: "dialog", "aria-labelledby" => "modal_for_main_part", "aria-hidden" => true}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title Select Product
      .modal-body
      .modal-footer