- inventory_product = @inventory_serial_item.inventory_product
- inventory = @inventory_serial_item.inventory

.row
  .col-md-6
    %strong GRN No:
    = CompanyConfig.first.next_sup_last_grn_no.to_s.rjust(5, INOCRM_CONFIG["inventory_grn_no_format"])
    .br
    %strong Store:
    = inventory.organization.name
  .col-md-6.text-right
    %strong Created at:
    = Time.now.strftime(INOCRM_CONFIG["short_date_format"])
    .br
    %strong Created by:
    = current_user.full_name

%fieldset
  %legend Main Unit
  .row
    .col-md-3
      %h4 Info
    .col-md-9
      .col-md-6
        - content_for :more_details, flush: true do
          %ul
            - if @inventory_serial_item.scavenge
              %li= "Scavenge"
            - if @inventory_serial_item.parts_not_completed
              %li= "Part not completed"
            - if @inventory_serial_item.damage
              %li= "Damaged"
            - if @inventory_serial_item.used
              %li= "Used"
            - if @inventory_serial_item.repaired
              %li= "Repaired"
            - if @inventory_serial_item.reserved
              %li= "Reserved"


        %dl.dl-horizontal
          %dt Serial No:
          %dd= @inventory_serial_item.serial_no
          %dt CT No:
          %dd= @inventory_serial_item.ct_no
          %dt Manufactured Date:
          %dd= @inventory_serial_item.manufatured_date.try :strftime, INOCRM_CONFIG["short_date_format"]
          %dt Expiry Date:
          %dd= @inventory_serial_item.expiry_date.try :strftime, INOCRM_CONFIG["short_date_format"]
          %dt Condition:
          %dd= @inventory_serial_item.product_condition.condition
          %dt More
          %dd{ "class"=> "has-popover", "data-toggle"=> "popover", "title"=> "More Details", "data-content"=> yield(:more_details), "data-html" => "true", "data-trigger" => "hover", "data-placement" => "bottom" } >>
      .col-md-6
        %dl.dl-horizontal
          %dt Main Item Code:
          %dd= inventory_product.generated_item_code
          %dt Item Description:
          %dd= inventory_product.description
          %dt Rack:
          %dd= inventory.inventory_bin.inventory_shelf.inventory_rack.description
          %dt Shelf:
          %dd= inventory.inventory_bin.inventory_shelf.description
          %dt Bin:
          %dd= inventory.inventory_bin.description
          %dt Stock in Hand:
          %dd= inventory.stock_quantity

      %hr
      .col-md-12
        = simple_format inventory.remarks
  %hr
  .row
    .col-md-3
      %h4 Warranties
    .col-md-9
      - @inventory_serial_item.inventory_warranties.each_with_index do |inventory_warranty, index|
        %dl.dl-horizontal
          %dt Type:
          %dd=inventory_warranty.inventory_warranty_type.name
          %dt Start At:
          %dd= inventory_warranty.created_at.strftime(INOCRM_CONFIG["short_date_format"])
          %dt End At:
          %dd= inventory_warranty.end_at.strftime(INOCRM_CONFIG["short_date_format"])
          %dt Period Part:
          %dd= inventory_warranty.period_part
          %dt Period Labour:
          %dd= inventory_warranty.period_labour
          %dt Period On-Sight:
          %dd= inventory_warranty.period_onsight
          %dt Remarks:
          %dd= simple_format inventory_warranty.remarks
  %hr
  = simple_nested_form_for @inventory_serial_item, url: create_grn_for_main_part_admins_inventories_path(inventory_serial_item_id: @inventory_serial_item.id ), html: {class: "validate_form"} do |f|
    = hidden_field_tag :store_id, @store.id

    - if @inventory_serial_item.errors.any?
      .row
        - @inventory_serial_item.errors.full_messages.each do |error|
          .col-md-12= error

    .row
      .col-md-3
        %h4 Additional Costs
      .col-md-9
        .row
          .col-md-6
            %strong GRN Current Cost:
            = @grn_item.current_unit_cost
          .col-md-6
            %strong Currency:
            = @grn_item.currency.currency

    .row
      = f.simple_fields_for :inventory_serial_items_additional_costs do |c|
        .col-md-2.small_scale_padding-top3
          = c.link_to_remove class: "remove_c_t_v_link", title: "Remove item additional cost" do
            %button.btn.btn-danger Remove
        - if c.object.persisted?
          .col-md-2
            %strong Cost:
            = c.object.cost
          .col-md-3
            %strong Note:
            = c.object.note
          .col-md-3
            %strong Created at:
            = c.object.created_at.strftime(INOCRM_CONFIG["short_date_format"])
          .col-md-3
            %strong Created by:
            = c.object.created_by_user.try(:full_name)
        - else
          = c.input :currency_id, as: :hidden, input_html: {value: f.object.grn_serial_items.first.grn_item.currency_id}
          = c.input :created_by, as: :hidden, input_html: {value: current_user.id}
          .col-md-5
            = c.input :cost, as: :string, input_html: {value: 0, class: "after_two_decimal"}
          .col-md-5
            = c.input :note

      = f.link_to_add :inventory_serial_items_additional_costs, class: "col-md-12 small_scale_padding-bottom2" do
        %button.btn.btn-success Add


    - if inventory_product.inventory_product_info.need_serial and !inventory_product.inventory_product_info.need_batch

      = f.simple_fields_for :inventory_serial_parts do |p|
        %fieldset
          %legend Serial part: #{p.object.serial_no}
          .row
            - if p.object.persisted?
              .col-md-12
                .row
                  .col-md-3
                    %h4 Serial part info
                  .col-md-9
                    %dl.dl-horizontal
                      %dt Serial No:
                      %dd= p.object.serial_no
                      %dt CT No:
                      %dd= p.object.ct_no
                      %dt Manufactured date:
                      %dd= p.object.manufatured_date.try :strftime, INOCRM_CONFIG["short_date_format"]
                      %dt Expiry date:
                      %dd= p.object.expiry_date.try :strftime, INOCRM_CONFIG["short_date_format"]
                      %dt Product condition
                      %dd= p.object.product_condition.condition
                      %dt Status
                      %dd= p.object.inventory_serial_item_status.name
                %hr
                .row
                  .col-md-3
                    %h4 Product Info
                  .col-md-9
                    %dl.dl-horizontal
                      %dt Serial No:
                      %dd= p.object.inventory_product.generated_serial_no
                      %dt Model No: 
                      %dd= p.object.inventory_product.model_no
                      %dt Product No: 
                      %dd= p.object.inventory_product.product_no
                      %dt Created by: 
                      %dd= p.object.inventory_product.created_by_user.full_name
                %hr
                .row
                  .col-md-3
                    %h4 Remarks
                  .col-md-9
                    = simple_format p.object.remarks
                %hr
                .row
                  .col-md-3
                    %h4 More
                  .col-md-9
                    %dl.dl-horizontal
                      %dt Damaged:
                      %dd= boolean_in_word p.object.damage, "Yes", "No"
                      %dt Scavenged: 
                      %dd= boolean_in_word p.object.scavenge, "Yes", "No"
                      %dt Used: 
                      %dd= boolean_in_word p.object.used, "Yes", "No"
                      %dt Repaired: 
                      %dd= boolean_in_word p.object.repaired, "Yes", "No"
                      %dt Reserved: 
                      %dd= boolean_in_word p.object.reserved, "Yes", "No"
                      %dt Added: 
                      %dd= boolean_in_word p.object.added, "Yes", "No"
                      %dt Parts not completed: 
                      %dd= boolean_in_word p.object.parts_not_completed, "Yes", "No"

                %hr
                .row
                  .col-md-3
                    %h4 Additional costs
                  .col-md-9
                    .row
                      - p.object.inventory_serial_part_additional_costs.each do |additional_cost|
                        .col-md-6
                          %dl.dl-horizontal
                            %dt Cost:
                            %dd= additional_cost.cost
                            %dt Note:
                            %dd= additional_cost.note
                %hr
                .row
                  .col-md-3
                    %h4 GRN Cost
                  .col-md-9
                    %dl.dl-horizontal
                      - p.object.grn_serial_parts.active_serial_parts.each do |grn_serial_part|
                        %dt Cost (#{grn_serial_part.grn_item.currency.code}):
                        %dd= grn_serial_part.grn_item.current_unit_cost


            - else
              = p.input :product_id, as: :hidden, input_html: {class: "dynamic_main_product_id"}
              = p.input :created_by, as: :hidden, input_html: {value: current_user.id}
              = p.input :inv_status_id, as: :hidden, input_html: {value: 1}
              .col-md-12
                .row
                  .col-md-3
                    %h4 Product
                  .col-md-9
                    .product_info

                    .small_scale_padding-bottom2
                      %strong Status:
                      = InventorySerialItemStatus.first.name

                    .row
                      .col-md-7
                        .row
                          .col-md-6
                            - p.object.grn_serial_parts.build
                            = p.simple_fields_for :grn_serial_parts do |gs|
                              - gs.object.build_grn_item
                              = gs.simple_fields_for :grn_item do |g|
                                = g.input :current_unit_cost, as: :string, label: "GRN Unit Cost #{inventory_product.inventory_product_info.currency.code}", required: true, input_html: {class: "after_two_decimal"}

                          .col-md-6
                            = p.input :serial_no, required: true
                          .col-md-6
                            = p.input :ct_no, label: "CT No"
                          .col-md-6
                            = p.input :manufatured_date, as: :string, input_html: {class: "datepicker", value: p.object.manufatured_date.try(:strftime, INOCRM_CONFIG["short_date_format"])}
                          .col-md-6
                            = p.input :expiry_date, as: :string, input_html: {class: "datepicker", value: p.object.expiry_date.try(:strftime, INOCRM_CONFIG["short_date_format"])}
                          .col-md-6
                            = p.association :product_condition, collection: ProductCondition.where(active: true),label_method: :condition, required: true
                      .col-md-5
                        .row
                          .col-md-12
                            = p.input :scavenge, wrapper: :append
                          .col-md-12
                            = p.input :damage, wrapper: :append
                          .col-md-12
                            = p.input :used, wrapper: :append
                          .col-md-12
                            = p.input :repaired, wrapper: :append
                          .col-md-12
                            = p.input :reserved, wrapper: :append
                          .col-md-12
                            = p.input :added, wrapper: :append, label: "Add as upgrade", input_html: {readonly: true, checked: true}
                          .col-md-12
                            = p.input :parts_not_completed, wrapper: :append
                %hr
                .row
                  .col-md-3
                    %h4 Remarks
                  .col-md-9
                    = p.input :remarks


                %hr
                .row
                  .col-md-3
                    %h4 Warranties
                  .col-md-9
                    = p.simple_fields_for :inventory_serial_part_warranties do |w|
                      - w.object.build_inventory_warranty unless w.object.inventory_warranty.present?
                      = w.simple_fields_for :inventory_warranty do |iw|
                        = iw.input :created_by, as: :hidden, input_html: {value: current_user.id }
                        .row
                          .col-md-4
                            = iw.association :inventory_warranty_type, collection: InventoryWarrantyType.where(active: true),include_blank: false, label: "Warranty Type"
                          .col-md-4
                            = iw.input :start_at, as: :string, input_html: {class: "datepicker", value: iw.object.start_at.try(:strftime, INOCRM_CONFIG["short_date_format"])}
                          .col-md-4
                            = iw.input :end_at, as: :string, input_html: {class: "datepicker", value: iw.object.end_at.try(:strftime, INOCRM_CONFIG["short_date_format"])}
                          .col-md-4
                            = iw.input :period_part, label: "Period Part"
                          .col-md-4
                            = iw.input :period_labour, label: "Period Labour (In months)"
                          .col-md-4
                            = iw.input :period_onsight, label: "Period On-Sight (In months)"
                          .col-md-12
                            = iw.input :remarks
                          .col-md-1
                            = iw.link_to_remove  class: "remove_c_t_v_link", title: "Remove item additional cost" do
                              %button.btn.btn-danger Remove
                        %hr

                    = p.link_to_add :inventory_serial_part_warranties, class: "btn btn-success btn-sm", onclick: "Inventories.add_warranty_click(this);" do
                      Add part warranty
                  
                %hr
                .row
                  .col-md-3
                    %h4 Additional Costs
                  .col-md-9
                    = p.simple_fields_for :inventory_serial_part_additional_costs do |c|
                      = c.input :currency_id, as: :hidden, input_html: { value: inventory_product.inventory_product_info.currency_id }
                      = c.input :created_by, as: :hidden, input_html: {value: current_user.id }
                      .row
                        .col-md-2.small_scale_padding-top3
                          = c.link_to_remove  class: "remove_c_t_v_link", title: "Remove item additional cost" do
                            %button.btn.btn-danger Remove
                        .col-md-4
                          = c.input :cost, as: :string, label: "Cost (#{inventory_product.inventory_product_info.currency.symbol})"
                        .col-md-6
                          = c.input :note
                      %hr

                    = p.link_to_add "Add part cost", :inventory_serial_part_additional_costs, class: "btn btn-sm btn-success"

              .col-md-1.add_sign
                = p.link_to_remove title: "Remove Serial Part" do
                  %button.btn.btn-danger Remove

      = f.link_to_add :inventory_serial_parts, id: "add_serial_part", onclick: "Inventories.search_product_for_part(this); return false;", data: {storeId: "undefined", id: "store1_id", modalId: "modal_for_main_part", remote: "true", selectpath: "", selectoptions: "onclick:Inventories.assign_i_product(this, 'modal_for_main_part', 'add_serial_part');<>from_where:part_of_main_unit"} do
        %button.btn.btn-success Add Serial Part

    .row.small_scale_padding-top1
      .col-md-12
        = f.input :remarks, label: "Main Unit Remarks", input_html: {value: nil}
        = simple_format f.object.remarks
    .row
      .col-md-12.small_scale_margin-bottom1
        = f.submit "Save", class: "btn btn-sm btn-success"

#modal_for_main_part.modal.fade{tabindex: -1, role: "dialog", "aria-labelledby" => "modal_for_main_part", "aria-hidden" => true}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title Select Product
      .modal-body
      .modal-footer