%h2 Log in

= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .input-group.small_scale_padding-bottom2
    .input-group-addon.glyphicon.glyphicon-envelope
    = f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email"
  .input-group.small_scale_padding-bottom2
    .input-group-addon.glyphicon.glyphicon-eye-close
    = f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password"

  - if devise_mapping.rememberable?
    .checkbox
      %label
        = f.check_box :remember_me
        Remember me
  .input-group.small_scale_padding-bottom2
    = f.submit "Log in", class: "btn btn-default navbar-btn"
  = render "users/shared/links"
