#inventory_frame
  %h4 Select Store
  %ul
    - @stores.each do |store|
      %li= link_to store.name, inventory_admins_inventories_path(store_id: store.id), remote: true
%hr
= collapse_wrapper collapse_id: "inventory_list", labelledby: "inv_labelledby" do
  - @inventory_all.each do |inventory|
    = collapse collapse_type: "info", labelledby: "labelledby", header_content: "product: #{inventory.inventory_product.generated_item_code} - store: #{inventory.organization.name}", collapse_link: "invlink_#{inventory.id}", collapse_id: "inventory_list" do
      .row
        .col-md-3
          %strong Store:
          = inventory.organization.name
        .col-md-3
          %strong Product:
          = inventory.inventory_product.serial_no
        .col-md-3
          %strong Stock quantity:
          = link_to "#", class: "inline_edit", data: {type: "text", resource: "inventory", name: "stock_quantity", url: inventory_admins_inventories_path(edit: true, inventory_id: inventory.id), "original-title" => "Update Product Category"} do
            = inventory.stock_quantity
        .col-md-3
          %strong Reserved quantity:
          = link_to "#", class: "inline_edit", data: {type: "text", resource: "inventory", name: "reserved_quantity", url: inventory_admins_inventories_path(edit: true, inventory_id: inventory.id), "original-title" => "Update Product Category"} do
            = inventory.reserved_quantity
        .col-md-3
          %strong Available quanitity:
          = link_to "#", class: "inline_edit", data: {type: "text", resource: "inventory", name: "available_quantity", url: inventory_admins_inventories_path(edit: true, inventory_id: inventory.id), "original-title" => "Update Product Category"} do
            = inventory.available_quantity
        .col-md-3
          %strong Reorder level:
          = link_to "#", class: "inline_edit", data: {type: "text", resource: "inventory", name: "reorder_level", url: inventory_admins_inventories_path(edit: true, inventory_id: inventory.id), "original-title" => "Update Product Category"} do
            = inventory.reorder_level
        .col-md-3
          %strong Reorder quantity:
          = link_to "#", class: "inline_edit", data: {type: "text", resource: "inventory", name: "reorder_quantity", url: inventory_admins_inventories_path(edit: true, inventory_id: inventory.id), "original-title" => "Update Product Category"} do
            = inventory.reorder_quantity
        .col-md-3
          %strong Maximum quantity:
          = link_to "#", class: "inline_edit", data: {type: "text", resource: "inventory", name: "max_quantity", url: inventory_admins_inventories_path(edit: true, inventory_id: inventory.id), "original-title" => "Update Product Category"} do
            = inventory.max_quantity
        .col-md-3
          %strong Safety stock quanitity:
          = link_to "#", class: "inline_edit", data: {type: "text", resource: "inventory", name: "safty_stock_quantity", url: inventory_admins_inventories_path(edit: true, inventory_id: inventory.id), "original-title" => "Update Product Category"} do
            = inventory.safty_stock_quantity
        .col-md-3
          %strong Lead time in days:
          = link_to "#", class: "inline_edit", data: {type: "text", resource: "inventory", name: "lead_time_in_days", url: inventory_admins_inventories_path(edit: true, inventory_id: inventory.id), "original-title" => "Update Product Category"} do
            = inventory.lead_time_in_days
        .col-md-3
          %strong Created by:
          = inventory.created_by_user.email
        .col-md-6
          %strong Bin description:
          = inventory.inventory_bin.try(:description)
        .col-md-12
          %strong Remarks:
          = link_to "#", class: "inline_edit", data: {type: "text", resource: "inventory", name: "remarks", url: inventory_admins_inventories_path(edit: true, inventory_id: inventory.id), "original-title" => "Update Product Category"} do
            = inventory.remarks