.row
  #product_load
    %ul.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", :href => "#tab1"} Contact Person 1
      %li
        %a{"data-toggle" => "tab", :href => "#tab2"} Contact Person 2
    .tab-content
      #tab1.tab-pane.fade.in.active
        .row.small_scale_padding-top1
          .container
            = simple_nested_form_for organization_contact_person, url: create_organization_contact_person_organization_path(organization_id: organization_contact_person.organization.id, cp_num:"cp1"), method: :post, html: {class: "validate_form"} do |oc|
              .row
                = panels panel_type: "success", header_content: "Add Contact Person 1" do

                  = oc.association :mst_title, collection: MstTitle.where(active: true),required: true, include_blank: false, label:"Title", wrapper_html: {class: "col-md-4"}, input_html: {class: "chosen-select"}
                  .col-md-2
                  = oc.association :contact_person_type, required: true, include_blank: false, wrapper_html: {class: "col-md-4"}, input_html: {class: "chosen-select"}

                  = oc.input :name, wrapper_html: {class: "col-md-6"}, input_html: {class: "has-tooltip", data: {toggle: "tooltip", placement: "left"}, title: "Person Name"}, required: true, include_blank: false

                  = oc.input :email, wrapper_html: {class: "col-md-6"}, input_html: {class: "has-tooltip", data: {toggle: "tooltip", placement: "left"}, title: "Email Address"}

                  = oc.input :mobile, wrapper_html: {class: "col-md-6"}, input_html: {class: "has-tooltip", data: {toggle: "tooltip", placement: "left"}, title: "Mobile Number"}

                  = oc.input :telephone, wrapper_html: {class: "col-md-6"}, input_html: {class: "has-tooltip", data: {toggle: "tooltip", placement: "left"}, title: "Fixed Line"}

                  = oc.input :designation, wrapper_html: {class: "col-md-6"}, input_html: {class: "has-tooltip", data: {toggle: "tooltip", placement: "left"}, title: "Designation"}

                  = oc.input :note, wrapper_html: {class: "col-md-12"}, input_html: {class: "has-tooltip", data: {toggle: "tooltip", placement: "left"}, title: "Note"}

                  = oc.hidden_field :organization_id

                  / = f.submit "Add new Contact", class: "btn btn-success pull-right", id: "submit_new_contact_person"
                  = oc.submit "Save", name: "save", class: "col-md-2 btn btn-success pull-left"

      #tab2.tab-pane.fade
        .row.small_scale_padding-top1
          .container
            = simple_nested_form_for organization_contact_person, url: create_organization_contact_person_organization_path(organization_id: organization_contact_person.organization.id, cp_num:"cp2"), method: :post, html: {class: "validate_form"} do |oc|
              .row
                = panels panel_type: "success", header_content: "Add Contact Person 2" do

                  = oc.association :mst_title,collection: MstTitle.where(active: true), required: true, include_blank: false, label:"Title", wrapper_html: {class: "col-md-4"}, input_html: {class: "chosen-select"}
                  .col-md-2
                  = oc.association :contact_person_type, required: true, include_blank: false, wrapper_html: {class: "col-md-4"}, input_html: {class: "chosen-select"}

                  = oc.input :name, wrapper_html: {class: "col-md-6"}, input_html: {class: "has-tooltip", data: {toggle: "tooltip", placement: "left"}, title: "Person Name"}, required: true

                  = oc.input :email, wrapper_html: {class: "col-md-6"}, input_html: {class: "has-tooltip", data: {toggle: "tooltip", placement: "left"}, title: "Email Address"}

                  = oc.input :mobile, wrapper_html: {class: "col-md-6"}, input_html: {class: "has-tooltip", data: {toggle: "tooltip", placement: "left"}, title: "Mobile Number"}

                  = oc.input :telephone, wrapper_html: {class: "col-md-6"}, input_html: {class: "has-tooltip", data: {toggle: "tooltip", placement: "left"}, title: "Fixed Line"}

                  = oc.input :designation, wrapper_html: {class: "col-md-6"}, input_html: {class: "has-tooltip", data: {toggle: "tooltip", placement: "left"}, title: "Designation"}

                  = oc.input :note, wrapper_html: {class: "col-md-12"}, input_html: {class: "has-tooltip", data: {toggle: "tooltip", placement: "left"}, title: "Note"}

                  = oc.hidden_field :organization_id

                  / = f.submit "Add new Contact", class: "btn btn-success pull-right", id: "submit_new_contact_person"
                  = oc.submit "Save", name: "save", class: "col-md-2 btn btn-success pull-left"