.row.margin-none
  .col-md-5
    Name :
    = link_to "#", class: "inline_edit", data: {type: "text", resource: "organization_contact_person", name: "name",url: update_organization_contact_person_organization_path(organization_contact_person_id: organization_contact_person.id), "original-title" => "Update Details"} do
      = organization_contact_person.name
    %br/
    Email :
    = link_to "#", class: "inline_edit", data: {type: "text", resource: "organization_contact_person", name: "email",url: update_organization_contact_person_organization_path(organization_contact_person_id: organization_contact_person.id), "original-title" => "Update Details"} do
      = organization_contact_person.email
    %br/
    Mobile :
    = link_to "#", class: "inline_edit", data: {type: "text", resource: "organization_contact_person", name: "mobile", url: update_organization_contact_person_organization_path(organization_contact_person_id: organization_contact_person.id), "original-title" => "Update Details"} do
      = organization_contact_person.mobile
    %br/    
    Telephone :
    = link_to "#", class: "inline_edit", data: {type: "text", resource: "organization_contact_person", name: "telephone",url: update_organization_contact_person_organization_path(organization_contact_person_id:organization_contact_person.id), "original-title" => "Update Details"} do
      = organization_contact_person.telephone
    %br/
    Note :
    = link_to "#", class: "inline_edit", data: {type: "text", resource: "organization_contact_person", name: "note", url: update_organization_contact_person_organization_path(organization_contact_person_id: organization_contact_person.id), "original-title" => "Update Details"} do
      = organization_contact_person.note
    %br/

    / type id and title id
  %hr