.row
  .col-md-12
    .panel.panel-default
      -ticket.user_ticket_actions.each do |action|
        - if action.persisted?
          .panel-heading
            .row
              .col-md-3
                Activity:
                = action.task_action.action_description
              .col-md-3
                Date Time:
                = action.action_at.getlocal.strftime "%Y-%m-%d %H:%M"
              .col-md-3
                %p By: #{Rails.cache.fetch([:action_by, action.action_by]){User.find(action.action_by)}.user_name}
              .col-md-3
                %p Re-Open: #{action.re_open_index > 0 ? 'Yes ('+action.re_open_index+')' : 'No'}
          -if action.task_action.action_no == 2
            .panel-body
              .row
                .col-md-3
                  Sbu: #{action.user_assign_ticket_actions.first.try(:sbu).try(:sbu)}
                .col-md-3
                  Assign to: #{User.find(action.user_assign_ticket_actions.first.assign_to).user_name}
                .col-md-3
                  -if action.user_assign_ticket_actions.first.recorrection == true
                    Recorrection: Yes
                  -else
                    Recorrection: No
                .col-md-3
                  -if action.user_assign_ticket_actions.first.recorrection == true
                    Regional Support Center Job: Yes
                  -else
                    Regional Support Center Job: No
          -if action.task_action.action_no == 4
            .panel-body
              .row
                .col-md-6
                  Regional Support Center: #{action.assign_regional_support_centers.first.regional_support_center.organization.name}
                .col-md-6
                  Created At: #{action.assign_regional_support_centers.first.created_at.strftime("%Y-%m-%d %H:%M")}