- ticket = @ticket

= collapse_wrapper collapse_id: "fsr_ticket_info_id" do
  - ticket.ticket_spare_parts.each do |ticket_spare_part|

    = collapse collapse_type: "info", header_content: "Ticket spare part: #{ticket_spare_part.spare_part_no} - #{ticket_spare_part.spare_part_description} - FSR ID: #{ticket_spare_part.fsr_id}", collapse_link: "ticket_spare_part_fsr_link_#{ticket_spare_part.id}", collapse_id: "fsr_ticket_info_id", labelledby: "ticket_spare_part_lby_fsr#{ticket_spare_part.id}" do

      .row
        .col-md-3
          %strong Work started at:
          #{ticket_spare_part.try(:ticket_fsr).try(:work_started_at)}
        .col-md-3
          %strong Work finished at:
          #{ticket_spare_part.try(:ticket_fsr).try(:work_finished_at)}
        .col-md-3
          %strong Hours worked:
          #{ticket_spare_part.try(:ticket_fsr).try(:hours_worked)}
        .col-md-3
          %strong Down time:
          #{ticket_spare_part.try(:ticket_fsr).try(:down_time)}