%strong Payment Received

%table.table.table-hover
  %thead
    %tr
      %th No
      %th Received at
      %th Received By
      %th Note
      %th Payment Type
      %th Amount
      %th Invoice No
      %th Action

  %tbody
    - ticket.ticket_payment_receiveds.each_with_index do |payment, index|
      %tr
        %th{:scope => "row"} #{index+1}
        %td= payment.try(:received_at).try(:strftime, "%d %b, %Y")
        %td= User.find_by_id(payment.try(:received_by)).try(:full_name)
        %td= payment.try(:note)
        %td= payment.ticket_payment_received_type.try(:name)
        %td= number_to_currency payment.try(:amount), delimiter: ",", unit: payment.currency.code, format: "%u %n"
        %td
        -if payment.ticket_invoice.present?
          = payment.ticket_invoice.try(:invoice_no).to_s.rjust(6, INOCRM_CONFIG['invoice_no_format'])
        %td
          = link_to "#", onclick: "Users.request_printer_application('receipt', '#{payment.id}', 'receipt_request_type', 'print_receipt_tag_value', 'print_receipt'); false;", id: "receipt_print", data: {disable_with: "Printing..."}, class: "btn btn-default" do
            = ticket.ticket_print_count.to_i > 0 ? "Re-Print Receipt" : "Print Receipt"

-if ticket.final_invoice.present?
  %table.table.table-responsive.table-condensed.table-bordered.small_scale_margin-top1
    %thead
      %tr
        %th{colspan: 6} Invoice
        %th{colspan: 6} Total
      %tr
        %th No
        %th Created by
        %th Created at
        %th Customer sent
        %th Canceled
        %th Currency
        %th Cost
        %th Esti. Amount
        %th Tax
        %th Deduction
        %th Advance received
        %th Net payment
        %th Action
    %tbody
      %tr
        %td= ticket.final_invoice.invoice_no.to_s.rjust(6, INOCRM_CONFIG["invoice_no_format"])
        %td= ticket.final_invoice.created_by_ch_eng.try(:email)
        %td= ticket.final_invoice.created_at.try(:strftime, "%Y-%m-%d %H:%M")
        %td= boolean_in_word ticket.final_invoice.customer_sent, "Yes", "No"
        %td= boolean_in_word ticket.final_invoice.canceled, "Yes", "No"
        %td= ticket.final_invoice.currency.code
        %td= number_to_currency ticket.final_invoice.total_cost, delimiter: ",", unit: ticket.ticket_currency.code, format: "%u %n"
        %td= number_to_currency ticket.final_invoice.total_amount, delimiter: ",", unit: ticket.ticket_currency.code, format: "%u %n"
        %td= number_to_currency ticket.final_invoice.ticket_invoice_total_taxes.sum(:amount), delimiter: ",", unit: ticket.ticket_currency.code, format: "%u %n"
        %td= number_to_currency ticket.final_invoice.total_deduction, delimiter: ",", unit: ticket.ticket_currency.code, format: "%u %n"
        %td= number_to_currency ticket.final_invoice.total_advance_recieved, delimiter: ",", unit: ticket.ticket_currency.code, format: "%u %n"
        %td= number_to_currency ticket.final_invoice.net_total_amount, delimiter: ",", unit: ticket.ticket_currency.code, format: "%u %n"
        %td
          = link_to "#", onclick: "Users.request_printer_application('ticket_invoice', '#{ticket.final_invoice.id}', 'receipt_request_type', 'print_ticket_invoice_tag_value', 'print_invoice'); false;", id: "ticket_invoice", data: {disable_with: "Printing..."}, class: "btn btn-default" do
            = ticket.ticket_print_count.to_i > 0 ? "Re-Print Invoice" : "Print Invoice"