%strong Payment Recieved

%table.table.table-hover
  %thead
    %tr
      %th No
      %th Received at
      %th Recieved By
      %th Note
      %th Payment Type
      %th Amount
      %th Inoice No

  %tbody
    - ticket.ticket_payment_receiveds.each_with_index do |payment, index|
      %tr
        %th{:scope => "row"} #{index+1}
        %td= payment.try(:received_at).try(:strftime, "%d %b, %Y")
        %td= User.find_by_id(payment.try(:received_by)).try(:full_name)
        %td= payment.try(:note)
        %td= payment.ticket_payment_received_type.try(:name)
        %td= number_to_currency payment.try(:amount), delimiter: ",", unit: payment.currency.code, format: "%u %n"
        %td
        -if payment.ticket_invoice.present?
          = payment.ticket_invoice.try(:invoice_no).to_s.rjust(6, INOCRM_CONFIG['invoice_no_format'])