.col-md-2.col-xs-12.col-sm-2{style: "padding-left:0;"}
  = tab_nav_tab({class: "tabs-left", id: "secondary_tab"}, job_info: {content: "Job Info", active_class: "active job_c"}, contacts: {content: "Customer", active_class: "customer_c"}, warranties: {content: "Warranties", active_class: "warranties_c"}, history: {content: "History", active_class: "history_c"}, join: {content: "Join", active_class: "join_c"}, q_and_a: {content: "Q & A", active_class: "qa_C"}, parts_odered: {content: "Parts Ordered", active_class: "parts_odered_c"}, estimation: {content: "Estimation", active_class: "estimation_c"},payment_recived: {content: "Payment Recived", active_class: "payment_recived_c"}, fsr: {content: "FSR", active_class: "fsr_c"}, activity_history: {content: "Activity History", active_class: "activity_history_c"})
.col-md-10.col-xs-12.col-sm-10
  .tab-content
    = tab_content tabpointer: :job_info, active_class: "active" do
      = render "tickets/job_info", product: product, ticket: ticket
    = tab_content tabpointer: :contacts do
      = render "users/view_customer", customer: customer, ticket: ticket
    = tab_content tabpointer: :warranties do
      = render "warranties/select_warranties", warranties: warranties
    = tab_content tabpointer: :history do
      #histories_pagination
        = render "tickets/view_histories", histories: histories
    = tab_content tabpointer: :join do
      #join_pagination
        = render "tickets/join", join_tickets: join_tickets, ticket: ticket
    = tab_content tabpointer: :q_and_a do
      = render "q_and_as/q_and_a", ge_q_and_as: ge_q_and_as, pr_q_and_as: pr_q_and_as
.row
  .col-md-10{style: "clear: both;position: relative;"}
    %strong Extra Remarks:
    %p 
    %strong Remarks:
    %p #{simple_format ticket.remarks}
  .col-md-1.pull-right.text-right.small_scale_padding-top1
    = link_to "#" do
      %button.btn.btn-default.btn-xs{:type => "button" , :style=>"color:green;"}
        %span.glyphicon.glyphicon-print{"aria-hidden" => "true"}
          %strong Print
  .col-md-1.pull-right.text-right.small_scale_padding-top1
    = link_to "/assets/Support Ticket Resolution Process Diagram.jpg", :target => "_blank" do
      %button.btn.btn-info.btn-xs{:type => "button"}
        %strong Workflow