.view_ticket_header
  .row.margin-none{style: "background-color: ##{ticket.ticket_status.colour};"}
    .fixed
      .col-md-2.small_scale_padding-top8
        Ticket No :#{ticket.ticket_no.to_s.rjust(6, INOCRM_CONFIG["ticket_no_format"])}
      .col-md-2.small_scale_padding-top4
        - if ticket.status_hold
          .label.label-danger HOLD
        - if ticket.re_open_count.to_i > 0
          .btn.btn-xs.btn-primary
            RE-OPEN
            %span.badge= ticket.re_open_count.to_i
        - if ticket.ticket_terminated
          .label.label-danger TERMINATED
      .col-md-2.small_scale_padding-top8
        %strong Sereial No: #{product.serial_no }
      .col-md-2.pull-right.text-right.small_scale_padding-top8
        %p Status: #{ticket.ticket_status.name}
      .col-md-3.pull-right.text-right.small_scale_padding-top8
        %strong Resolve status: #{ticket.ticket_status_resolve.try(:name)}

.view_ticket_body
  .row
    .fixed
      .col-md-3.small_scale_padding-top8
        .panel-group
          .panel.panel-info
            .panel-body{style: "background-color: ##{ticket.ticket_status.colour};"}
              Engineer:
              %span.has-tooltip{:title => "#{ticket.owner_engineer_id and User.find(ticket.owner_engineer_id).user_name}", "data-placement" => "bottom"}
                =truncate("#{ticket.owner_engineer_id and User.find(ticket.owner_engineer_id).user_name}", length: 17, title: 'View Agent Data', 'data-toggle' => 'tooltip')
              %br
              Job finished at: #{ticket.job_finished_at.try :strftime, "%Y-%m-%d %H:%M"}
              %br
              Job started at:  #{ticket.job_started_at.try :strftime, "%Y-%m-%d %H:%M"}
            .panel-heading 
              Engineer
      .col-md-3.small_scale_padding-top8
        .panel-group
          .panel.panel-info
            .panel-body{style: "background-color: ##{ticket.ticket_status.colour};"}
              SLA time: #{pluralize ticket.slatime, 'Hr'}
              %br
              Started at: 
              %br
              Finished at: #{ticket.sla_finished_at.try :strftime, "%Y-%m-%d %H:%M"}
              %br
              Remaining:
            .panel-heading 
              SLA
      .col-md-3.small_scale_padding-top8
        .panel-group
          .panel.panel-info
            .panel-body{style: "background-color: ##{ticket.ticket_status.colour};"}
              Created at: #{ticket.created_at.try :strftime, "%Y-%m-%d %H:%M"}
              %br
              Created by: #{ticket.created_by and User.find(ticket.created_by).user_name}
              %br
              Type: #{ticket.ticket_type.name}
              %br
              Updated: #{ticket.updated_at.try :strftime, "%Y-%m-%d %H:%M"}
            .panel-heading 
              Ticket info
      .col-md-3.small_scale_padding-top8
        .panel-group
          .panel.panel-info
            .panel-body{style: "background-color: ##{ticket.ticket_status.colour};"}
              Logged at: #{ticket.created_at.try :strftime, "%Y-%m-%d %H:%M"}
              %br
                Logged by: 
                %span.has-tooltip{:title => "#{current_user.email}"}
                  =truncate("#{current_user.email}", length: 17)
              Priority: #{INOCRM_CONFIG["priority"].key ticket.priority}
              %br
              Status: #{ticket.ticket_status.name}
            .panel-heading 
              Logged
             