.col-md-2.col-xs-12.col-sm-2{style: "padding-left:0;"}
  = tab_nav_tab({class: "tabs-left", id: "secondary_tab"}, job_info: {content: "Job Info", active_class: "active job_c"}, contacts: {content: "Customer", active_class: "customer_c"}, warranties: {content: "Warranties", active_class: "warranties_c"}, history: {content: "Product History", active_class: "history_c"}, join: {content: "Join", active_class: "join_c"}, q_and_a: {content: "Q & A", active_class: "qa_C"}, parts_odered: {content: "Parts Ordered", active_class: "parts_odered_c"}, estimation: {content: "Estimation", active_class: "estimation_c"},payment_recived: {content: "Payment Recived", active_class: "payment_recived_c"}, fsr: {content: "FSR", active_class: "fsr_c"}, activity_history: {content: "Activity History", active_class: "activity_history_c"})
.col-md-10.col-xs-12.col-sm-10
  .tab-content
    = tab_content tabpointer: :job_info, active_class: "active" do
      = render "tickets/job_info", product: product, ticket: ticket
    = tab_content tabpointer: :contacts do
      = render "users/view_customer", customer: customer, ticket: ticket
    = tab_content tabpointer: :warranties do
      = render "warranties/select_warranties", warranties: warranties
    = tab_content tabpointer: :history do
      #histories_pagination
        = render "tickets/view_histories", histories: histories
    = tab_content tabpointer: :join do
      #join_pagination
        = render "tickets/join", join_tickets: join_tickets, ticket: ticket
    = tab_content tabpointer: :q_and_a do
      = render "q_and_as/q_and_a", ge_q_and_as: ge_q_and_as, pr_q_and_as: pr_q_and_as
    = tab_content tabpointer: :parts_odered do
      this is sample ticket
      / = render "tickets/tickets_pack/parts_ordered/parts_ordered",ticket: ticket
    = tab_content tabpointer: :estimation do
      = render "tickets/tickets_pack/estimation",ticket: ticket
    = tab_content tabpointer: :payment_recived do
      = render "tickets/tickets_pack/payment_recived",ticket: ticket
    = tab_content tabpointer: :fsr do
      = render "tickets/tickets_pack/fsr",ticket: ticket
    = tab_content tabpointer: :activity_history do
      = render "tickets/tickets_pack/activity_history", ticket: ticket, customer: customer
/ .row{style: "clear: both;position: relative; margin-left:202px; margin-right:2px"}
/   %hr
/   .col-md-2.col-xs-2.col-sm-2.small_scale_margin-left1
/     %h4 Extra Remarks
/   .col-md-5.col-xs-5.col-sm-5
/     %dl.dl-horizontal
/       - if ticket.ticket_extra_remarks.present?
/         - ticket.ticket_extra_remarks.each do |ticket_extra_remark|
/           %dt= ticket_extra_remark.extra_remark.try(:extra_remark)
/           %dd= ticket_extra_remark.note
/       -else
/         %dd{:style=>"font-style: italic;"} Doesn't exist extra remarks..
/ .row{style: "clear: both;position: relative; margin-left:202px; margin-right:2px"}
/   %hr
/   .col-md-1.col-xs-1.col-sm-1.small_scale_margin-left1
/     %h4 Remarks
/   .col-md-6.col-xs-6.col-sm-6
/     %dl.dl-horizontal
/       -if ticket.remarks.present?
/         %dd= simple_format ticket.remarks
/       -else
/         %dd{:style=>"font-style: italic;"} Doesn't exist remarks..
/ .row{style: "clear: both;position: relative; margin-left:202px; margin-right:2px"}
/   %hr
/   .col-md-3.col-xs-3.col-sm-3.small_scale_margin-left1
/     %h4 Resolution Summary
/   .col-md-4.col-xs-4.col-sm-4
/     %dd= ticket.resolution_summary
/ .row
/   .col-md-1.pull-right.text-right.small_scale_padding-top1.small_scale_padding-bottom1
/     = link_to "#", onclick: "Users.request_printer_application('ticket', '#{ticket.id}', 'ticket_request_type', 'print_ticket_tag_value', 'print_ticket'); false;", id: "ticket_print", data: {disable_with: "Printing..."}, class: "btn btn-default" do
/       = ticket.ticket_print_count.to_i > 0 ? "Re-Print" : "Print"

/   .col-md-1.pull-right.text-right.small_scale_padding-top1.small_scale_padding-bottom1
/     = link_to workflow_diagram_tickets_path(ticket_id: ticket.id), :target => "_blank" do
/       %button.btn.btn-info.btn-xs{:type => "button"}
/         %strong Workflow