.view_ticket_header
  .row.margin-none{style: "background-color: ##{ticket.try(:ticket_status).try(:colour)};"}
    .fixed
      .col-md-2.small_scale_padding-top1
        Ticket No :#{ticket.ticket_no.to_s.rjust(6, INOCRM_CONFIG["ticket_no_format"])}
      .col-md-2.small_scale_padding-top1.small_scale_padding-bottom4
        - if ticket.status_hold
          .label.label-danger HOLD
        - if ticket.re_open_count.to_i > 0
          .btn.btn-xs.btn-primary
            RE-OPEN
            %span.badge= ticket.re_open_count.to_i
        - if ticket.ticket_terminated
          .label.label-danger TERMINATED
      .col-md-2.small_scale_padding-top1
        %strong Serial No: #{product.serial_no }
      .col-md-2.pull-right.text-right.small_scale_padding-top1
        %strong Priority: #{INOCRM_CONFIG["priority"].key ticket.priority} #{"(Terminated)" if ticket.ticket_terminated}
      /   %p Status: #{ticket.ticket_status.name}
      .col-md-3.pull-right.text-right.small_scale_padding-top1
        %strong Resolve status: #{ticket.ticket_status_resolve.try(:name)}

.view_ticket_body
  .row
    .col-md-3.small_scale_padding-top1
      .panel-group
        .panel{style: "border: 1px solid #dddddd;"}
          .panel-body{style: "background-color: ##{ticket.ticket_status.colour};"}
            %strong Engineer:
            %span.has-tooltip{:title => "#{ticket.owner_engineer_id and User.cached_find_by_id(ticket.owner_engineer_id).email}", "data-placement" => "bottom"}
              =truncate("#{ticket.owner_engineer_id and User.cached_find_by_id(ticket.owner_engineer_id).email}", length: 17, title: 'View Agent Data', 'data-toggle' => 'tooltip')
            %br
            %strong Job started at:
            #{ticket.job_started_at.try :strftime, "%Y-%m-%d %H:%M"}
            %br
            %strong Job finished at:
            #{ticket.job_finished_at.try :strftime, "%Y-%m-%d %H:%M"}
            %br
            %strong Customer chargeable:
            = ticket.cus_chargeable ? "Yes" : "No"
          .panel-heading{style: "text-align: center"}
            Engineer
    .col-md-3.small_scale_padding-top1
      .panel-group
        .panel{style: "border: 1px solid #dddddd;"}
          .panel-body{style: "background-color: ##{ticket.ticket_status.colour};"}
            %strong SLA time:
            #{pluralize ticket.slatime, 'Hr'}
            %br
            %strong Started at: 
            %br
            %strong Finished at:
            #{ticket.sla_finished_at.try :strftime, "%Y-%m-%d %H:%M"}
            %br
            %strong Remaining:
          - if ticket.reason.sla_pause == true
            .panel.panel-danger
              .panel-heading{style: "text-align: center"}
                SLA Pause
          - else
            .panel-heading{style: "text-align: center"}
              SLA

    .col-md-3.small_scale_padding-top1
      .panel-group
        .panel{style: "border: 1px solid #dddddd;"}
          .panel-body{style: "background-color: ##{ticket.ticket_status.colour};"}
            %strong Created at:
            #{ticket.created_at.try :strftime, "%Y-%m-%d %H:%M"}
            %br
            %strong Created by:
            #{ticket.created_by and User.find(ticket.created_by).user_name}
            %br
            %strong Type:
            #{ticket.ticket_type.name}
            %br
            %strong Updated:
            #{ticket.updated_at.try :strftime, "%Y-%m-%d %H:%M"}
          .panel-heading{style: "text-align: center"}
            Ticket info
    .col-md-3.small_scale_padding-top1
      .panel-group
        .panel{style: "border: 1px solid #dddddd;"}
          .panel-body{style: "background-color: ##{ticket.ticket_status.colour};"}
            %strong Logged at:
            #{ticket.created_at.try :strftime, "%Y-%m-%d %H:%M"}
            %br
            %strong Logged by: 
            %span.has-tooltip{:title => "#{current_user.email}"}
              =truncate("#{current_user.email}", length: 17)
            %br
            %strong Resolve status:
            = ticket.ticket_status_resolve.try(:name)
            %br
            %strong Status:
            #{ticket.ticket_status.name}
          .panel-heading{style: "text-align: center;"}
            Logged