= link_to "Workflow", workflow_diagram_tickets_path(ticket_id: ticket.id ), :target => "_blank", class: "btn btn-info"
- if ticket.status_id == TicketStatus.find_by_code("OPN").id and ticket.ticket_workflow_processes.empty?
  |
  = link_to "Regenerate workflow", regenerate_workflow_tickets_path(ticket_id: ticket.id ), class: "btn btn-danger"

- ticket.ticket_engineers.group_by{ |t| t.re_open_index }.map { |k, v| { re_open_index: k, eng_set: v.group_by{|v1| v1.channel_no.to_i }.map{ |k1, rr| { channel_no: k1, channeled_eng_set: rr.map{ |r| {name: r.user.full_name, image: r.user.avatar.url, contact_info: r.user.primary_phone_number.try(:contact_info), id: r.id, order_no: r.order_no, channel_no: r.channel_no, ticket_id: r.ticket_id, deletable: r.deletable?, workflow_process_id: r.ticket_workflow_process.try(:process_id), process_status: r.status.to_i, task_description: r.task_description} }.sort{ |p, n| p[:order_no].to_i <=> n[:order_no].to_i } } } } }.each do |indexed_ticket_engineer|
  %fieldset
    %legend Re-Open: #{indexed_ticket_engineer[:re_open_index]}
    .row
      - indexed_ticket_engineer[:eng_set].each do |eng_set|
        .col-md-2.col-sm-2.assign-group
          %strong Channel: #{eng_set[:channel_no]}
          - eng_set[:channeled_eng_set].each do |channeled_eng_set|
            - color = if channeled_eng_set[:process_status] == 1
              - "green"
            - elsif channeled_eng_set[:process_status] > 1
              - "orange"
            - elsif channeled_eng_set[:workflow_process_id] == params[:process_id]
              - "red"
            - else
              - "inherit"


            - content_for :engineer, flush: true do
              =channeled_eng_set[:task_description]
            .assign-engineers{ "type"=> "button", "class"=> "btn btn-link has-popover", "data-toggle"=> "popover", "title"=> "Task Description", "data-content"=> yield(:engineer), "data-html" => "true", "data-trigger" => "hover", "data-placement" => "right" }
              = link_to workflow_diagram_tickets_path(ticket_id: ticket.id, workflow_process_id: channeled_eng_set[:workflow_process_id], engineer_id: channeled_eng_set[:id] ), :target => "_blank" do
                .thumbnail
                  <img src="#{channeled_eng_set[:image] || '/assets/no_image.jpg'}" />
                  %strong{style: "color: #{color};"}= channeled_eng_set[:name]
                  </br>

                  = channeled_eng_set[:contact_info]

              .vertical_line