- ticket = @ticket
- product = @product
- warranties = @warranties
- customer = ticket.customer
- histories = @histories
- join_tickets = @join_tickets
- pr_q_and_answers = @q_and_answers
- ge_q_and_as = @ge_q_and_answers
- uri = URI(request.url)
= render "tickets/tickets_pack/ticket_header", ticket: ticket, product: product

= tab_panel do
  = tab_nav_tab({class: "small_scale_margin-bottom2"}, ticket_info: {content: "Ticket info"}, assign_ticket: {content: "Assign ticket", active_class: "active"})
  .tab-content
    = tab_content tabpointer: :ticket_info do
      = tab_panel do
        = render "tickets/tickets_pack/ticket_info", ticket: ticket, product: product, customer: customer, warranties: warranties, histories: histories, join_tickets: join_tickets, ge_q_and_as: ge_q_and_as, pr_q_and_as: pr_q_and_answers
    = tab_content tabpointer: :assign_ticket, active_class: "active" do

      = simple_nested_form_for ticket, url: update_assign_ticket_tickets_path, method: :post do |f|
        = hidden_field_tag :process_id, Rails.cache.fetch([uri.path, params[:task_id]])[:process_id]
        = hidden_field_tag :task_id, Rails.cache.fetch([uri.path, params[:task_id]])[:task_id]
        = hidden_field_tag :owner, Rails.cache.fetch([uri.path, params[:task_id]])[:owner]
        - Rails.cache.fetch([uri.path, params[:task_id]])[:bpm_input_variables].each do |bpm_input_variable|
          = hidden_field_tag bpm_input_variable[0], bpm_input_variable[1]

        = f.simple_fields_for "user_ticket_actions_attributes[]", @user_ticket_action do |u|
          = u.input :action_id, as: :hidden
          = u.input :action_by, as: :hidden, input_html: {value: current_user.id}
          = u.input :re_open_index, as: :hidden, input_html: {value: ticket.re_open_count}

          = u.simple_fields_for "assign_regional_support_centers_attributes[]", @assign_regional_support_center do |ar|
            = u.simple_fields_for :user_assign_ticket_action do |ua|
              .row
                .col-md-3.small_scale_padding-top2
                  = ua.input :recorrection, wrapper: :append, input_html: {id: "pass_to_re_correction"}
                .col-md-3.small_scale_padding-top2.pass_to_recorrection_hiddible
                  = f.input :regional_support_job, label: "Regional Support Job", wrapper: :append
                .col-md-2
                  = f.association :ticket_type, as: :radio_buttons, wrapper: :append, input_html: {class: "ticket_type"}
                .col-md-2
                  = f.association :onsite_type, include_blank: false

                .col-md-2
                  .strong Job type
                  = f.select :job_type_id, options_from_collection_for_select(JobType.all, :id, :name), {}, {class: "form-control"}

              .pass_to_recorrection_hiddible
                .row
                  .regional_visible
                    .col-md-6
                      = ar.association :regional_support_center, collection: RegionalSupportCenter.where(active: true).collect{|r| [r.organization.name, r.id]}, input_html: {id: "regional_support_center"}
                    .col-md-6
                      = label_tag "Engineer", nil, class: "assign_to_for_regional_label"
                      = ua.select :assign_to, option_groups_from_collection_for_select(RegionalSupportCenter.all, :engineers, :id, :id, :full_name), {include_blank: false}, id: "assign_to_for_regional", class: "form-control"

                  .regional_hiddibles.hide
                    .col-md-6
                      %strong Assign SBU
                      = ua.select :sbu_id, options_from_collection_for_select(Sbu.all, :id, :sbu), {include_blank: true}, id: "assign_sbu", class: "form-control"
                    .col-md-6
                      %strong Engineer
                      = ua.select :assign_to, option_groups_from_collection_for_select(Sbu.all, :engineers, :sbu, :id, :full_name), {include_blank: false}, id: "assign_to", class: "form-control"

        .row
          .col-md-12
            = f.input :remarks, input_html: {value: nil}, placeholder: "Please enter remarks"
            %p= simple_format ticket.remarks

        = f.submit "Save", data: {disable_with: "Please wait..."}, class: "btn btn-success small_scale_margin-top1 small_scale_margin-bottom1"


%hr
%script{ type: "text/x-handlebars", id: "application"}
  {{#link-to "groups" "#{ticket.id}" activeClass="hide"}} show Channels {{/link-to}}

  {{outlet}}

%script{ type: "text/x-handlebars", id: "groups" }
  .row
    {{#each model.engs as |eng|}}
    .col-md-1.col-sm-2.assign-group
      %strong Channel: {{eng.eng_set.lastObject.channel_no}}
      {{#each eng.eng_set as |subEng|}}
      .assign-engineers
        {{#group-list ticketId="#{ticket.id}" ticketEng=subEng }}
        .controls
          <span class="glyphicon glyphicon-remove" aria-hidden="true" title="Remove engineer from list" {{action 'removeTicketEng' subEng }}>
          </span>
        {{/group-list}}

        .vertical_line
      {{/each}}
      .add_engineer
        {{#link-to "groups.new" (query-params order_no=eng.eng_set.lastObject.order_no channel_no=eng.eng_set.lastObject.channel_no ticket_id=eng.eng_set.lastObject.ticket_id) }}
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" title="Add Engineer"></span>
        {{/link-to}}

      %hr

    {{/each}}

    {{#link-to "groups.new" (query-params order_no=0 channel_no=model.new_channel_no ticket_id="#{ticket.id}") }} new group {{/link-to}}

  {{outlet}}

%script{type: "text/x-handlebars", id: "groups/new"}
  {{#unless model.newObj.channel_no}}
  {{#link-to "groups.new" (query-params order_no=null channel_no=null ticket_id=null) }}
  <span class="glyphicon glyphicon-refresh" aria-hidden="true" title="Please refresh and click add icon to view form"></span>
  Refresh
  {{/link-to}}
  {{/unless}}

  {{ new-group obj=model.newObj sbuArray=model.sbus assignTo=assignTo ticketId="#{ticket.id}" processId="#{Rails.cache.fetch([uri.path, params[:task_id]])[:process_id]}" saveForm=( action 'saveNewObj' ) }}

%script{type: "text/x-handlebars", id: "components/new-group"}
  %h4 Assign Engineer
  %strong New Entry for Channel {{obj.channel_no}} order {{obj.order_no}}
  {{#if obj.channel_no}}
  < form >
  .row
    .col-sm-6
      <label for="Assign SBU" class="required control-label">Assign SBU</label>
      {{select-box optionArray=sbuArray click=(action (mut obj.sbu_id) value="target.value") }}

    .col-sm-6
      <label for="Assign to" class="required control-label">Assign to</label>
      {{select-box optionArray=assignTo click=(action (mut obj.assign_to) value="target.value") }}

    .col-sm-12
      %h4 Support Engineers
      .row

        {{#each obj.subEng as |se|}}
        .col-sm-11
          <label for="Assign">Assign</label>
          {{select-box optionArray=assignTo click=(action (mut se.user_id) value="target.value") }}

        .col-sm-1.small_scale_margin-top3
          <span class="glyphicon glyphicon-minus-sign" aria-hidden="true" title="Remove Sub Engineer" {{action 'removeSubEng' se }}></span>

        {{/each}}

    .col-sm-6.small_scale_margin-top2.small_scale_margin-bottom2
      <span class="glyphicon glyphicon-plus-sign" aria-hidden="true" title="Add Sub Engineer" {{action 'addSubEng' obj }}></span>

  .row
    .col-md-1
      <button type="submit" class="btn btn-sm btn-primary" disabled={{disableSaveBtn}} {{ action saveForm }} >Add</button>
    .col-md-1
      {{#link-to "groups" "#{ticket.id}"}} Cancel {{/link-to}}

  </ form >
  {{/if}}

%script{type: "text/x-handlebars", id: "components/select-box"}
  {{optionArray}}
  <option  > </option>
  {{#each optionArray as |option|}}
  <option value={{ option.id }} > {{option.name}} </option>
  {{/each}}

%script{type: "text/x-handlebars", id: "components/group-list"}
  .thumbnail
    <img src={{if imageNotAvailable '/assets/no_image.jpg' ticketEng.image }} />
    %strong {{ticketEng.name}}
    {{yield}}