/ = product
- ticket = @ticket
- product = @product
- warranties = @warranties
- customer = ticket.customer
- histories = @histories
- join_tickets = @join_tickets
- pr_q_and_answers = @q_and_answers
- ge_q_and_as = @ge_q_and_answers
= render "tickets/tickets_pack/ticket_header", ticket: ticket, product: product

= tab_panel do
  = tab_nav_tab({class: "small_scale_margin-bottom2"}, ticket_info: {content: "Ticket info"}, estimate_job: {content: "Estimate external job", active_class: "active"})
  .tab-content
    = tab_content tabpointer: :ticket_info do
      = tab_panel do
        = render "tickets/tickets_pack/ticket_info", ticket: ticket, product: product, customer: customer, warranties: warranties, histories: histories, join_tickets: join_tickets, ge_q_and_as: ge_q_and_as, pr_q_and_as: pr_q_and_answers

    = tab_content tabpointer: :estimate_job, active_class: "active" do

      .row
        .col-md-12
          %strong Type of warranty: #{ticket.warranty_type.name}
        .col-md-12{style: "margin-top: 20px;"}
          = simple_nested_form_for ticket, url: update_estimate_job_inventories_path, method: :put do |f|
            = hidden_field_tag :ticket_id, ticket.id
            = hidden_field_tag :process_id, session[:process_id]
            = hidden_field_tag :task_id, session[:task_id]
            = hidden_field_tag :owner, session[:owner]

            = f.simple_fields_for :ticket_estimations do |t|
              - if t.object.status_id == EstimationStatus.find_by_code("RQS").id and t.object.ticket_estimation_externals.present?
                = hidden_field_tag :ticket_estimation_id, t.object.id

                = t.simple_fields_for :ticket_estimation_externals do |te|
                  .row
                    = hidden_field_tag :ticket_estimation_external_id, te.object.id
                    .col-md-3
                      = te.association :organization, label: "Repaired by (Organization)"
                    .col-md-2
                      = te.input :cost_price, input_html: {class: "est_external_cost_price only_float", oninput: "Inventories.calculate_cost_price();"}
                      .append_cost_price.hide
                    .col-md-2
                      = te.input :estimated_price, input_html: {class: "est_external_estimated_price only_float", oninput: "Inventories.calculate_cost_price();"}
                      .append_estimated_price.hide
                    .col-md-2
                      = te.input :warranty_period, input_html: {class: "only_float"}, label: "Warranty period (in months)"
                    .col-md-2
                      %strong Profit:
                      .append_profit_margin{style: "font-weight:bold;font-size:125%;"}


                .row
                  .col-md-12
                    %fieldset
                      %legend Estimation additionals

                      = t.simple_fields_for :ticket_estimation_additionals do |ta|
                        = ta.input :ticket_id, as: :hidden, input_html: {value: ticket.id}
                        .col-md-6
                          .row
                            .col-md-1.padding-top1{style: "margin-right:-4%;"}
                              = ta.link_to_remove class: "remove_c_t_v_link" do
                                %span.glyphicon.glyphicon-remove-sign
                            .col-md-3
                              = ta.association :additional_charge, :label =>"Repair by", label_method: :additional_charge, value_method: :id
                            .col-md-3
                              = ta.input :cost_price, input_html: {class: "est_add_cost_price only_float", oninput: "Inventories.calculate_cost_price();"}
                              .append_cost_price.hide

                            .col-md-3
                              = ta.input :estimated_price, input_html: {class: "est_add_estimated_price only_float", oninput: "Inventories.calculate_cost_price();"}
                              .append_estimated_price.hide
                            .col-md-2
                              %strong Profit:
                              .append_profit_margin{style: "font-weight:bold;font-size:125%;"}

                      .row
                        .col-md-12
                          = t.link_to_add :ticket_estimation_additionals, class: "col-md-12" do
                            %span.glyphicon.glyphicon-plus-sign
                            Add estimation additionals
                .row
                  .col-md-3
                    = t.input :id, as: :hidden
                    = t.input :advance_payment_amount , input_html: {class: "only_float"}

                  .col-md-3.col-md-offset-6
                    %strong Total cost price:
                    %span#total_cost_price
                    %br
                    %strong Total estimated price:
                    %span#total_estimated_price
                    %br
                    %strong Total profit:
                    %span#total_margin_price{style: "font-weight:bold;"}
                    %span (
                    %span#db_margin{style: "font-weight:bold;"}= CompanyConfig.first.try(:sup_external_job_profit_margin).to_f
                    %span )
                    %span %

                  .col-md-12
                    = t.input :note

                = label_tag "Estimation complete"
                = check_box_tag :estimation_completed

                = f.submit "Save", class: "btn btn-success"