/ = product
- uri = URI(request.url)
- ticket = @ticket
- product = @product
- warranties = @warranties
- customer = ticket.customer
- histories = @histories
- join_tickets = @join_tickets
- pr_q_and_answers = @q_and_answers
- ge_q_and_as = @ge_q_and_answers
= render "tickets/tickets_pack/ticket_header", ticket: ticket, product: product

= tab_panel do
  = tab_nav_tab({class: "small_scale_margin-bottom2"}, ticket_info: {content: "Ticket info"}, estimate_job: {content: "Estimate external job", active_class: "active"})
  .tab-content
    = tab_content tabpointer: :ticket_info do
      = tab_panel do
        = render "tickets/tickets_pack/ticket_info", ticket: ticket, product: product, customer: customer, warranties: warranties, histories: histories, join_tickets: join_tickets, ge_q_and_as: ge_q_and_as, pr_q_and_as: pr_q_and_answers

    = tab_content tabpointer: :estimate_job, active_class: "active" do
      .row
        .col-md-12
          %strong Type of warranty: #{ticket.warranty_type.name}
        .col-md-12.head_estimated_price_class{style: "margin-top: 20px;"}
          = simple_nested_form_for ticket, url: update_estimate_job_inventories_path, method: :put do |f|
            = hidden_field_tag :ticket_id, ticket.id
            = hidden_field_tag :process_id, Rails.cache.fetch([uri.path, params[:task_id]])[:process_id]
            = hidden_field_tag :task_id, Rails.cache.fetch([uri.path, params[:task_id]])[:task_id]
            = hidden_field_tag :owner, Rails.cache.fetch([uri.path, params[:task_id]])[:owner]
            - Rails.cache.fetch([uri.path, params[:task_id]])[:bpm_input_variables].each do |bpm_input_variable|
              = hidden_field_tag bpm_input_variable[0], bpm_input_variable[1]

            = f.simple_fields_for :ticket_estimations do |t|
              = t.input :current_user_id, as: :hidden, input_html: {value: current_user.id}
              - if t.object.status_id == EstimationStatus.find_by_code("RQS").id and t.object.ticket_estimation_externals.present?
                = hidden_field_tag :ticket_estimation_id, t.object.id

                .estimate_extend_with_tax
                  = t.simple_fields_for :ticket_estimation_externals do |te|
                    %strong Description:
                    = te.object.description
                    %hr/
                    .row.head_estimated_price_class
                      = hidden_field_tag :ticket_estimation_external_id, te.object.id
                      .col-md-3
                        = te.association :organization, label: "Repaired by (Organization)"
                      .col-md-2
                        = te.input :cost_price, label: "Cost Price (#{ticket.ticket_currency.code})", as: :string, input_html: {class: "value_class only_float", oninput: "Inventories.calculate_cost_price(this);"}
                        .append_cost_price.hide
                          = number_with_precision te.object.cost_price, precision: 2
                      .col-md-2
                        = te.input :estimated_price, label: "Estimated Price (#{ticket.ticket_currency.code})", as: :string, input_html: {class: "estimation_value only_float", oninput: "Inventories.calculate_cost_price(this);"}
                        .append_estimated_price.hide
                          = te.object.estimated_price.to_f
                      .col-md-3
                        = te.input :warranty_period, input_html: {class: "only_float"}, label: "Warranty period (in months)"
                      .col-md-2
                        %strong Profit (%):
                        .append_profit_margin{style: "font-weight:bold;font-size:125%;"}

                    .panel-group
                      .panel.panel-success
                        .panel-heading Taxes
                        .panel-body.tax_wrapper
                          = te.simple_fields_for :ticket_estimation_external_taxes do |ee|

                            .row.parent_class_set
                              .add_sign.col-md-3{style: "padding-top:2.5%;"}
                                = ee.link_to_remove class: "remove_c_t_v_link" do
                                  %span.glyphicon.glyphicon-remove-sign

                              .col-md-3
                                = label_tag "Tax"
                                %br/
                                = ee.select :tax_id, Tax.all.map{|p| ["#{p.tax} (#{p.tax_rates.find_by_active(true).try(:rate).to_f}%)", p.id, {"data-default-amount" => p.tax_rates.find_by_active(true).try(:rate).to_f}]}, {include_blank: true}, {class: "payment_item_select tax_rate_calculation", onchange: "Inventories.payment_amount_select(this); return false;"}

                              .col-md-4
                                = ee.input :estimated_tax_amount, label: "Estimated tax amount (#{ticket.ticket_currency.code})", as: :string, input_html: {class: "estimated_tax_amount_class"}
                              .col-md-4
                                = ee.input :tax_rate,  as: :hidden, input_html: {id: "tax_rate_hidden_field_id", class: "payment_item_value"}

                          = te.link_to_add :ticket_estimation_external_taxes, class: "small_scale_padding-right2" do
                            %span.glyphicon.glyphicon-plus-sign
                            Tax

                .row
                  .col-md-12
                    .panel-group
                      .panel.panel-info
                        .panel-heading Estimation additionals
                        .panel-body
                          = t.simple_fields_for :ticket_estimation_additionals do |ta|
                            = ta.input :ticket_id, as: :hidden, input_html: {value: ticket.id}
                            .row.estimate_extend_with_tax
                              .col-md-1.small_scale_padding-top2
                                = ta.link_to_remove class: "remove_c_t_v_link", onclick: "Inventories.remove_cost_estimation(this); return false;" do
                                  %span.glyphicon.glyphicon-remove-sign
                              .col-md-3
                                = label_tag "Additional charge"
                                %br/
                                = ta.select :additional_charge_id, AdditionalCharge.all.map{|p| [p.additional_charge, p.id, {"data-default-amount" => p.default_cost_price.to_f, "data-estimation-amount" => p.default_estimated_price.to_f}]}, {include_blank: true}, {class: "payment_item_select", onchange: "Inventories.payment_amount_select(this); return false;"}
                              .col-md-3
                                = ta.input :cost_price, label: "Cost Price (#{ticket.ticket_currency.code})", as: :string, input_html: {class: "value_class payment_item_value", oninput: "Inventories.calculate_cost_price(this);"}
                                .append_cost_price.hide
                                  = number_with_precision ta.object.cost_price, precision: 2

                              .col-md-3
                                = ta.input :estimated_price, label: "Estimated Price (#{ticket.ticket_currency.code})", as: :string, input_html: {class: "estimation_value estimated_value est_add_estimated_price", oninput: "Inventories.calculate_cost_price(this);"}
                                .append_estimated_price.hide
                                  = number_with_precision ta.object.estimated_price, precision: 2
                              .col-md-2
                                %strong Profit(%):
                                .append_profit_margin{style: "font-weight:bold;font-size:125%;"}
                              .col-md-12
                                .panel-group
                                  .panel.panel-success
                                    .panel-heading Additional taxes
                                    .panel-body
                                      = ta.simple_fields_for :ticket_estimation_additional_taxes do |e|

                                        .row.parent_class_set
                                          .add_sign.col-md-3{style: "padding-top:2.5%;"}
                                            = e.link_to_remove class: "remove_c_t_v_link" do
                                              %span.glyphicon.glyphicon-remove-sign

                                          .col-md-3
                                            = label_tag "Tax"
                                            %br/
                                            = e.select :tax_id, Tax.all.map{|p| ["#{p.tax} (#{p.tax_rates.find_by_active(true).try(:rate).to_f}%)", p.id, {"data-default-amount" => p.tax_rates.find_by_active(true).try(:rate).to_f}]}, {include_blank: true}, {class: "payment_item_select tax_rate_calculation", onchange: "Inventories.payment_amount_select(this); return false;"}
                                          .col-md-3
                                            = e.input :estimated_tax_amount, label: "Estimated Tax Amount (#{ticket.ticket_currency.code})", as: :string, input_html: {class: "estimated_tax_amount_class"}
                                          .col-md-3
                                            = e.input :tax_rate,  as: :hidden, input_html: { class: "payment_item_value"}

                                      = ta.link_to_add :ticket_estimation_additional_taxes, class: "small_scale_padding-right2" do
                                        %span.glyphicon.glyphicon-plus-sign
                                        Tax

                          = t.link_to_add :ticket_estimation_additionals do
                            %span.glyphicon.glyphicon-plus-sign
                            Estimation additionals
                .row
                  .col-md-3
                    = t.input :id, as: :hidden
                    = t.input :advance_payment_amount, label: "Advance Payment Amount (#{ticket.ticket_currency.code})", as: :string, input_html: {class: "only_float", oninput: "Inventories.limit_payment_required(this); return false;"}, label: "Required advance payment amount"

                  .col-md-3.col-md-offset-6
                    %strong Total cost price:
                    %span#total_cost_price 0
                    %br
                    %strong Total estimated price:
                    %span#total_estimated_price.for_payment_limit 0
                    %br
                    %strong Total profit (%):
                    %span#total_margin_price{style: "font-weight:bold;"}
                    %span (
                    %span#db_margin{style: "font-weight:bold;"}= CompanyConfig.first.try(:sup_external_job_profit_margin).to_f
                    %span )

                  .col-md-12
                    = t.input :note

                = label_tag "Estimation complete"
                = check_box_tag :estimation_completed

                = f.submit "Save", class: "btn btn-success"