/ = product
- uri = URI(request.url)
- ticket = @ticket
- product = @product
= render "tickets/tickets_pack/ticket_header", ticket: ticket, product: product

= tab_panel do
  = tab_nav_tab({class: "small_scale_margin-bottom2"}, ticket_info: {content: "Ticket info"}, low_margin_estimate: {content: "Low margin estimate", active_class: "active"})
  .tab-content
    = tab_content tabpointer: :ticket_info do
      = tab_panel do
        = render "tickets/tickets_pack/ticket_info", ticket: ticket, product: product

    = tab_content tabpointer: :low_margin_estimate, active_class: "active" do

      .row
        .col-md-12
          = simple_nested_form_for ticket, url: update_low_margin_estimate_inventories_path, method: :put do |f|

            = hidden_field_tag :process_id, Rails.cache.fetch([uri.path, params[:task_id]])[:process_id]
            = hidden_field_tag :task_id, Rails.cache.fetch([uri.path, params[:task_id]])[:task_id]
            = hidden_field_tag :owner, Rails.cache.fetch([uri.path, params[:task_id]])[:owner]
            - Rails.cache.fetch([uri.path, params[:task_id]])[:bpm_input_variables].each do |bpm_input_variable|
              = hidden_field_tag bpm_input_variable[0], bpm_input_variable[1]

            = f.simple_fields_for :ticket_estimations do |t|

              - if t.object.status_id == EstimationStatus.find_by_code("RQS").id and t.object.ticket_estimation_externals.present?
                - estimate_currency = t.object.currency.code
                = hidden_field_tag :ticket_estimation_id, t.object.id

                .estimate_extend_with_tax
                  = t.simple_fields_for :ticket_estimation_externals do |te|
                    = t.input :id, as: :hidden
                    = hidden_field_tag :ticket_estimation_external_id, te.object.id
                    .row.head_estimated_price_class
                      .col-md-3
                        %strong Repaired by:
                        = te.object.organization.name
                      .col-md-2
                        %strong Description:
                        = te.object.description
                    %hr
                    .row
                      .col-md-3
                        %strong Warranty period:
                        = te.object.warranty_period
                      .col-md-3
                        %strong Cost price (#{estimate_currency}):
                        .panel.panel-default
                          .panel-body.small_scale_padding2
                            .label.label-info= number_with_precision te.object.cost_price, precision: 2
                      .col-md-3
                        %strong Estimated price (#{estimate_currency}):
                        .panel.panel-default
                          .panel-body.small_scale_padding2
                            .est_estimated_amount.label.label-warning= number_with_precision te.object.estimated_price, precision: 2
                      .col-md-3
                        %strong Approved amount (#{estimate_currency}):
                        = te.input :approved_estimated_price, as: :string, label: false, input_html: {value: te.object.estimated_price, class: "estimation_value only_float", oninput: "Inventories.calculate_cost_price(this);", data: { initValue: te.object.estimated_price.to_f }}

                      .col-md-12
                        .panel-group
                          .panel.panel-success
                            .panel-heading Taxes
                            .panel-body.tax_wrapper
                              = te.simple_fields_for :ticket_estimation_external_taxes do |ee|

                                .row.parent_class_set
                                  .add_sign.col-md-3{style: "padding-top:2.5%;"}
                                    = ee.link_to_remove class: "remove_c_t_v_link", onclick: "Inventories.remove_tax_from_estimation(this)" do
                                      %span.glyphicon.glyphicon-remove-sign

                                  .col-md-3
                                    = label_tag "Tax"
                                    %br/
                                    = ee.select :tax_id, Tax.all.map{|p| ["#{p.tax} (#{p.tax_rates.find_by_active(true).try(:rate).to_f}%)", p.id, {"data-default-amount" => p.tax_rates.find_by_active(true).try(:rate).to_f}]}, {include_blank: true}, {class: "payment_item_select tax_rate_calculation", onchange: "Inventories.payment_amount_select(this); return false;"}

                                  .col-md-3
                                    %strong{style: "margin-bottom: 5px; display: inline-block;"} Estimated tax amount (#{estimate_currency}):
                                    .panel.panel-default
                                      .panel-body.small_scale_padding2
                                        .label.label-info= ee.object.estimated_tax_amount

                                  .col-md-4
                                    = ee.input :approved_tax_amount, as: :string, input_html: {class: "estimated_tax_amount_class", value: ee.object.estimated_tax_amount, oninput: "Inventories.add_tax_value(this)", data: {initvalue: ee.object.estimated_tax_amount.to_f } }, label: "Approved tax amount (#{estimate_currency})"
                                  .col-md-4
                                    = ee.input :tax_rate,  as: :hidden, input_html: {id: "tax_rate_hidden_field_id", class: "payment_item_value"}

                              = te.link_to_add :ticket_estimation_external_taxes, class: "small_scale_padding-right2" do
                                %span.glyphicon.glyphicon-plus-sign
                                Tax

                  .row
                    .col-md-12
                      %fieldset
                        %legend Estimation additionals

                        = t.simple_fields_for :ticket_estimation_additionals do |ta|
                          = ta.input :ticket_id, as: :hidden, input_html: {value: ticket.id}
                          .col-md-12.head_estimated_price_class.estimate_extend_with_tax
                            .row.estimate_extend_with_tax
                              .col-md-3.col-xs-3.col-sm-3
                                %strong{style: "margin-bottom: 5px; display: inline-block;"} Additional charge:
                                .panel.panel-success
                                  .panel-body.small_scale_padding2
                                    = ta.object.additional_charge.try(:additional_charge)
                              .col-md-3.col-xs-3.col-sm-3

                                %strong{style: "margin-bottom: 5px; display: inline-block;"} Cost price (#{number_with_precision estimate_currency, precision: 2}):
                                .panel.panel-success
                                  .panel-body.small_scale_padding2
                                    .label.label-info= ta.object.cost_price
                              .col-md-3.col-xs-3.col-sm-3
                                %strong{style: "margin-bottom: 5px; display: inline-block;"} Estimated price (#{number_with_precision estimate_currency, precision: 2}):
                                .panel.panel-success
                                  .panel-body.small_scale_padding2
                                    .est_estimated_amount.label.label-warning= number_with_precision ta.object.estimated_price, precision: 2
                              .col-md-3.col-xs-3.col-sm-3
                                = ta.input :approved_estimated_price, as: :string, input_html: {value: ta.object.estimated_price, class: "estimation_value only_float", oninput: "Inventories.calculate_cost_price(this);", data: {initvalue: ta.object.estimated_price.to_f }}, label: "Approved estimated price (#{estimate_currency})"

                              .col-md-12
                                .panel-group
                                  .panel.panel-success
                                    .panel-heading Taxes
                                    .panel-body.tax_wrapper
                                      = ta.simple_fields_for :ticket_estimation_additional_taxes do |e|
                                        .row.parent_class_set
                                          .add_sign.col-md-3{style: "padding-top:2.5%;"}
                                            = e.link_to_remove class: "remove_c_t_v_link", onclick: "Inventories.remove_tax_from_estimation(this)" do
                                              %span.glyphicon.glyphicon-remove-sign

                                          .col-md-3
                                            = label_tag "Tax"
                                            %br/
                                            = e.select :tax_id, Tax.all.map{|p| ["#{p.tax} (#{p.tax_rates.find_by_active(true).try(:rate).to_f}%)", p.id, {"data-default-amount" => p.tax_rates.find_by_active(true).try(:rate).to_f}]}, {include_blank: true}, {class: "payment_item_select tax_rate_calculation", onchange: "Inventories.payment_amount_select(this); return false;"}
                                          .col-md-3
                                            %strong{style: "margin-bottom: 5px; display: inline-block;"} Estimated tax amount:
                                            .panel.panel-success
                                              .panel-body.small_scale_padding2
                                                .label.label-info= e.object.estimated_tax_amount
                                          .col-md-3
                                            = e.input :approved_tax_amount, as: :string, input_html: {class: "estimated_tax_amount_class", value: e.object.estimated_tax_amount, oninput: "Inventories.add_tax_value(this)", data: {initvalue: e.object.estimated_tax_amount.to_f} }, label: "Approved tax amount (#{estimate_currency})"
                                          .col-md-3
                                            = e.input :tax_rate,  as: :hidden, input_html: { class: "payment_item_value"}

                                      = ta.link_to_add :ticket_estimation_additional_taxes, class: "small_scale_padding-right2" do
                                        %span.glyphicon.glyphicon-plus-sign
                                        Add tax

                  .row
                    .col-md-12
                      = t.input :note, input_html: {value: nil}
                      = simple_format t.object.note
                  .row
                    .col-md-6
                      %strong Adv. payment amount (#{estimate_currency}):
                      = t.object.advance_payment_amount
                    .col-md-6
                      = t.input :approved_adv_pmnt_amount, as: :string, label: "Approved adv. payment amount (#{estimate_currency} #{estimate_currency})", input_html: {data: {prev: t.object.approved_adv_pmnt_amount.to_f}, oninput: "Inventories.approved_amount_calculation(this) return false;", value: t.object.advance_payment_amount }

                .row

                  - total_cost = [t.object.ticket_estimation_parts.sum(:cost_price), t.object.ticket_estimation_additionals.sum(:cost_price), t.object.ticket_estimation_externals.sum(:cost_price)].sum

                  - total_estimation = [t.object.ticket_estimation_parts.sum(:estimated_price), t.object.ticket_estimation_additionals.sum(:estimated_price), t.object.ticket_estimation_externals.sum(:estimated_price)].sum

                  - total_tax = [ t.object.ticket_estimation_parts.to_a.sum{ |p| p.ticket_estimation_part_taxes.sum(:estimated_tax_amount)}, t.object.ticket_estimation_additionals.to_a.sum{ |p| p.ticket_estimation_additional_taxes.sum(:estimated_tax_amount)}, t.object.ticket_estimation_externals.to_a.sum{ |p| p.ticket_estimation_external_taxes.sum(:estimated_tax_amount)}].sum

                  .col-md-5.pull-right
                    %table.table.table-striped
                      %thead
                        %tr
                          %th
                          %th{class: "text-right"} Estimated
                          %th{class: "text-right"} Approved

                      %tbody{class: "text-right"}
                        %tr
                          %td Total cost
                          %td= number_with_precision total_cost, precision: 2
                          %td#total_cost_price= number_with_precision total_cost, precision: 2
                        %tr
                          %td Total estimation
                          %td= number_with_precision total_estimation, precision: 2
                          %td#total_estimated_price.for_payment_limit= number_with_precision total_estimation, precision: 2
                        %tr
                          %td Total tax
                          %td= number_with_precision total_tax, precision: 2
                          %td#total_tax_price.for_payment_limit{ data: { initValue: total_tax }}= number_with_precision total_tax, precision: 2
                        %tr
                          %td Total amount with tax
                          %td= number_with_precision (total_estimation+total_tax), precision: 2
                          %td#total_amount_with_tax= number_with_precision (total_estimation+total_tax), precision: 2
                        %tr
                          %th{class: "text-right"}
                            Total profit
                            %span (
                            %span#db_margin{style: "font-weight:bold;"}= CompanyConfig.first.try(:sup_external_job_profit_margin).to_f
                            %span %)
                          %th{class: "text-right"}
                            %span{class: "#{'red' if CompanyConfig.first.try(:sup_external_job_profit_margin).to_f > (total_estimation / total_cost - 1)*100 }"}= number_with_precision (total_estimation / total_cost - 1)*100, precision: 2
                            %span %
                          %th{class: "text-right"}
                            %span#total_margin_price{class: "#{'red' if CompanyConfig.first.try(:sup_external_job_profit_margin).to_f > (total_estimation / total_cost - 1)*100 }"}= number_with_precision (total_estimation / total_cost - 1)*100, precision: 2
                            %span %

                = label_tag "Estimation complete"
                = check_box_tag :estimation_completed

                = f.submit "Save", class: "btn btn-success"