/ = product
- ticket = @ticket
- product = @product
- warranties = @warranties
- customer = ticket.customer
- histories = @histories
- join_tickets = @join_tickets
- pr_q_and_answers = @q_and_answers
- ge_q_and_as = @ge_q_and_answers
= render "tickets/tickets_pack/ticket_header", ticket: ticket, product: product

= tab_panel do
  = tab_nav_tab({class: "small_scale_margin-bottom2"}, ticket_info: {content: "Ticket info"}, assign_ticket: {content: "Resolution", active_class: "active"})
  .tab-content
    = tab_content tabpointer: :ticket_info do
      = tab_panel do
        = render "tickets/tickets_pack/ticket_info", ticket: ticket, product: product, customer: customer, warranties: warranties, histories: histories, join_tickets: join_tickets, ge_q_and_as: ge_q_and_as, pr_q_and_as: pr_q_and_answers
    = tab_content tabpointer: :assign_ticket, active_class: "active" do
      = tab_panel do
        = render "tickets/tickets_pack/resolution/ticket_resolution", ticket: ticket, product: product, customer: customer, warranties: warranties
        = render "tickets/tickets_pack/resolution/re_assign"
        = render "tickets/tickets_pack/resolution/request_on_loan_spare_part"
        = render "tickets/tickets_pack/resolution/request_spare_part"
        = render "tickets/tickets_pack/resolution/current_activity"