= simple_nested_form_for estimation, url: update_estimation_part_tickets_path, method: :post do |f|
  = hidden_field_tag :process_id, session[:process_id]
  = hidden_field_tag :task_id, session[:task_id]
  = hidden_field_tag :owner, session[:owner]
  - session[:bpm_input_variables].each do |bpm_input_variable|
    = hidden_field_tag bpm_input_variable[0], bpm_input_variable[1]

  = label_tag "Estimation complete"
  = check_box_tag :estimation_completed

  = f.input :note, input_html: {value: nil}
  = simple_format estimation.note

  = f.simple_fields_for :ticket_estimation_parts do |t|
    %fieldset
      %legend Part No #{t.object.ticket_spare_part.try(:spare_part_no)}
      .row
        .col-md-12
          Part No : #{t.object.ticket_spare_part.try(:spare_part_no)}
      .row
        .col-md-4
          Part Description : #{t.object.ticket_spare_part.try(:spare_part_description)}

    = t.association :supplier
    = t.input :cost_price
    = t.input :estimated_price
    = t.input :warranty_period

  = f.simple_fields_for :ticket_estimation_additionals do |a|
    = a.input :ticket_id, as: :hidden, input_html: {value: estimation.ticket.id}
    = a.association :additional_charge, value_method: :id, label_method: :additional_charge
    = a.input :cost_price
    = a.input :estimated_price
    = a.link_to_remove "Remove"
  = f.link_to_add "Add", :ticket_estimation_additionals
  = f.input :advance_payment_amount
  = f.submit "Save", class: "btn btn-success btn-sm"
