= paginate @gins, remote: true, method: :get

- if @gins.any?
  %hr
  %table.table.table-hover
    %thead
      %tr
        %th No
        %th Store
        %th Sales Order No
        %th GIN No
        %th GIN Date
        %th SRN No
        %th SRN Date
        %th Remarks
        %th GIN Issued by
        %th Action
    %tbody
      - @gins.each_with_index do |gin, index|
        %tr
          %td
            - if params[:page]
              = (index+1)+ 10*(params[:page].to_i-1)
            - else
              = (index+1)
          %td= gin.store_name
          %td= gin.srn.so_no
          %td= gin.formatted_gin_no
          %td= gin.created_at.to_date.strftime(INOCRM_CONFIG["short_date_format"])
          %td= gin.srn.formatted_srn_no
          %td= gin.srn.created_at.to_date.strftime(INOCRM_CONFIG["short_date_format"])
          %td= gin.remarks
          %td= gin.created_by_user_full_name
          %td= link_to "Select", srr_admins_inventories_path(gin_id: gin.id)

= paginate @gins, remote: true, method: :get