#search_frame_gin
  = form_tag search_gins_admins_searches_path, method: :get, class: "form-horizontal", remote: @remote do
    = hidden_field_tag "from_where", params[:action]
    = hidden_field_tag "select_path", ((@select_options and @select_options['select_path']))
    .row.small_scale_margin-bottom1
      .col-md-4
        = label_tag "Store"
        = select_tag "search_gins[gin][store.id]", options_from_collection_for_select(Organization.stores, :id, :name, nil), include_blank: true, class: "form-control", id: "search_gins_brand", include_blank: false
      .col-md-4
        = label_tag "GIN No", "GIN No"
        = text_field_tag "search_gins[gin][formatted_gin_no]", nil, :placeholder => "GIN No", class: "form-control"
      .col-md-4
        = label_tag "SRN No", "SRN No"
        = text_field_tag "search_gins[gin][srn.formatted_srn_no]", nil, :placeholder => "SRN No", class: "form-control"
    .row
      .col-md-3
        = label_tag "GIN Date from", "GIN Date from"
        = text_field_tag "gin_range_from", params[:gin_range_from], class: "form-control datepicker", placeholder: "Select To date"
      .col-md-3
        = label_tag "GIN Date to", "GIN Date to"
        = text_field_tag "gin_range_to", params[:gin_range_to], class: "form-control datepicker", placeholder: "Select To date"
      .col-md-3
        = label_tag "SRN Date from", "SRN Date from"
        = text_field_tag "srn_range_from", params[:srn_range_from], class: "form-control datepicker", placeholder: "Select To date"
      .col-md-3
        = label_tag "SRN Date to", "SRN Date to"
        = text_field_tag "srn_range_to", params[:srn_range_to], class: "form-control datepicker", placeholder: "Select To date"

    .row.small_scale_margin-top1
      .col-md-1
        .search
          = submit_tag "Search", class: "btn btn-sm btn-warning", name: "search"

#result_gins