- uri = URI(request.url)
%fieldset
  %legend Terminate Job
  = simple_nested_form_for ticket, url: update_terminate_job_ticket_path(ticket), method: :post do |f|
    = hidden_field_tag :process_id, session[:process_id]
    = hidden_field_tag :task_id, session[:task_id]
    = hidden_field_tag :owner, session[:owner]

    / = hidden_field_tag :process_id, Rails.cache.fetch([uri.path, params[:task_id]])[:process_id]
    / = hidden_field_tag :task_id, Rails.cache.fetch([uri.path, params[:task_id]])[:task_id]
    / = hidden_field_tag :owner, Rails.cache.fetch([uri.path, params[:task_id]])[:owner]
    / - Rails.cache.fetch([uri.path, params[:task_id]])[:bpm_input_variables].each do |bpm_input_variable|
    /   = hidden_field_tag bpm_input_variable[0], bpm_input_variable[1]

    .row
      .col-md-6
        %strong Terminate Reason :
        #{ticket_action.ticket_terminate_job.try(:reason).try(:reason)}
      .col-md-6
        - if ticket_action.ticket_terminate_job.try(:foc_requested) == true
          %strong FOC Requested


    = f.simple_fields_for :ticket_terminate_job do |rf|
      .row
        .col-md-6
          %strong Approval

      .row
        .col-md-6
          = rf.input :foc_requested, as: :radio_buttons, collection: {"FOC" => false, "Payment required" => true}, wrapper: :append,label: false, onClick: "alert('hi!');"

    .row.col-md-12
      = f.simple_fields_for :ticket_terminate_job_payments do |tf|
        .row
          = tf.input :ticket_id, as: :hidden, input_html: {value: ticket.id}
          = tf.input :amount, wrapper_html: {class: "col-md-4"}
          = tf.association :payment_item, wrapper_html: {class: "col-md-4"}
          = tf.input :currency_id, as: :hidden, input_html: {value: Currency.find_by_base_currency(true).id}

          .add_sign.col-md-4{style: "padding-top:2.5%;"}
            = tf.link_to_remove class: "remove_c_t_v_link" do
              %span.glyphicon.glyphicon-remove-sign
              %br

    .row.col-md-12
      = f.link_to_add :ticket_terminate_job_payments, class: "small_scale_padding-right2" do
        %span.glyphicon.glyphicon-plus-sign
        Add payment

    .row
      .col-md-12
        %strong All Payments Recieved - Total Amount :
        #{f.object.ticket_payment_receiveds.sum(:amount)}

    .row
      .col-md-4
        .payment_req
          = f.input :final_amount_to_be_paid, input_html: {class: "only_float"}

    = f.input :remarks, input_html: {value: nil}
    = simple_format ticket.remarks

    = f.submit "Save", class: "btn btn-success"