- uri = URI(request.url)
%fieldset
  %legend Terminate Job FOC
  = simple_nested_form_for ticket, url: update_terminate_foc_approval_invoices_path, method: :post do |f|

    = hidden_field_tag :process_id, Rails.cache.fetch([uri.path, params[:task_id]])[:process_id]
    = hidden_field_tag :task_id, Rails.cache.fetch([uri.path, params[:task_id]])[:task_id]
    = hidden_field_tag :owner, Rails.cache.fetch([uri.path, params[:task_id]])[:owner]
    - Rails.cache.fetch([uri.path, params[:task_id]])[:bpm_input_variables].each do |bpm_input_variable|
      = hidden_field_tag bpm_input_variable[0], bpm_input_variable[1]

    .row
      .col-md-3
        = label_tag "Approve FOC"
        = check_box_tag :approve_foc, true, true, id: "approve_foc_check"
      .col-md-9
        = label_tag "Deducted amount"
        = text_field_tag :deducted_amount, ( f.object.final_invoice and f.object.final_invoice.total_amount.to_f ), id: "deducted_amount_text"
      .col-md-12
        = f.input :remarks, input_html: {value: nil}
        = simple_format ticket.remarks

    = f.submit "Save", class: "btn btn-success"