= simple_nested_form_for form_grn_item, url: update_return_store_part_inventories_path, method: :post do |f|

  = hidden_field_tag :process_id, Rails.cache.fetch([uri.path, params[:task_id]])[:process_id]
  = hidden_field_tag :task_id, Rails.cache.fetch([uri.path, params[:task_id]])[:task_id]
  = hidden_field_tag :owner, Rails.cache.fetch([uri.path, params[:task_id]])[:owner]
  - Rails.cache.fetch([uri.path, params[:task_id]])[:bpm_input_variables].each do |bpm_input_variable|
    = hidden_field_tag bpm_input_variable[0], bpm_input_variable[1]

  - if f.object.new_record?
    = link_to "change product", inventory_in_modal_inventories_path(select_frame: "request_from"), id: "request_from_select", remote: true
    .request_from
    %br/
    = f.input :product_id, as: :hidden, input_html: {id: "inv_product_id"}

  = f.input :currency_id, as: :hidden, input_html: {value: currency_id}
  = hidden_field_tag :grn_item_id, f.object.id

  .row
    .col-md-2
      %strong Serial No:
      = ticket_spare_part.return_part_serial_no
    .col-md-2
      %strong Ct No:
      = ticket_spare_part.return_part_ct_no
    .col-md-2
      %strong Part status:
      = ticket_spare_part.spare_part_status_use.name

    - if ticket_spare_part.unused_reason.present? and ticket_spare_part.spare_part_status_use.code != "USD"
      .col-md-2
        %strong Unused reason:
        = ticket_spare_part.unused_reason.reason
    - if ticket_spare_part.is_a?(TicketOnLoanSparePart)
      -if ticket_spare_part.return_part_damage
        .col-md-3
          %strong Return part damage:
          %br/
          = ticket_spare_part.return_part_damage_reason.try(:reason)
    - else
      -if ticket_spare_part.ticket_spare_part_store.return_part_damage
        .col-md-3
          %strong Return part damage:
          %br/
          = ticket_spare_part.ticket_spare_part_store.return_part_damage_reason.try(:reason)

  .damage_reason_wrapper
    = label_tag "Damage"
    = check_box_tag :damage_reason_check, true, false, class: "damage_reason_check"
    = label_tag "Damage reason", "Damage reason", class: "damage_reason_label"
    = select_tag :damage_reason, options_from_collection_for_select(InventoryReason.where(damage: true, active: true), "id", "reason"), class: "damage_reason", include_blank: false
  .row
    = f.input :unit_cost, wrapper_html: {class: "col-md-3"}, input_html: {value: grn_cost}, required: true
    .col-md-12
      = label_tag "Remarks"
      %textarea{class: "text optional form-control", name: "note"}
      = simple_format ticket_spare_part.note
  .row
    .col-md-1= f.submit "Save", class: "btn btn-success btn-sm", data: {disable_with: "Please wait..."}