= form_tag update_return_store_part_inventories_path do
  = hidden_field_tag :process_id, Rails.cache.fetch([uri.path, params[:task_id]])[:process_id]
  = hidden_field_tag :task_id, Rails.cache.fetch([uri.path, params[:task_id]])[:task_id]
  = hidden_field_tag :owner, Rails.cache.fetch([uri.path, params[:task_id]])[:owner]
  - Rails.cache.fetch([uri.path, params[:task_id]])[:bpm_input_variables].each do |bpm_input_variable|
    = hidden_field_tag bpm_input_variable[0], bpm_input_variable[1]

  = select_tag "reject_reason", options_from_collection_for_select(Reason.where(reject_returned_part: true), "id", "reason")

  .col-md-12
    = label_tag "Remarks"
    %textarea{class: "text optional form-control", name: "note"}
    = simple_format ticket_spare_part.note

  = submit_tag "Reject", class: "btn btn-danger bt-sm"