.row
  .col-md-12
    %strong Recieve Returned Part
.row{style: "margin-top:10px;"}
  .col-md-6
    %strong Date Issued:
    #{spare_part.ticket_spare_part_store.try(:store_issued_at).try(:strftime, "%Y-%m-%d")}
  .col-md-6
    %strong Date Returned: xxxx
    / #{onloan_spare_part.try(:part_returned_at).try(:strftime, "%Y-%m-%d")}
  .col-md-6
    %strong Issued By:
    #{User.find_by_id(spare_part.ticket_spare_part_store.try(:store_issued_by)).try(:user_name)}
  .col-md-6
    %strong Returned By: xxxx
    / #{User.find_by_id(onloan_spare_part.try(:part_returned_by)).try(:user_name)}

.row{style: "margin-top:15px;"}
  .col-md-12
    %strong Issued Part
.row{style: "margin-top:10px;"}
  .col-md-12
    %strong Part No:
    #{spare_part.try(:spare_part_no)}
  .col-md-12
    %strong Part Description:
    #{spare_part.try(:spare_part_description)}

.row{style: "margin-top:20px;"}
  .col-md-6
    .row
      .col-md-12
        %strong Store:
        #{spare_part.ticket_spare_part_store.try(:store).try(:name)}
    .row
      .col-md-12
        %strong Item Code :
        #{spare_part.ticket_spare_part_store.try(:inventory_product).try(:serial_no)}
        - # generated_item_code!
    .row
      .col-md-12
        %strong Item Description:
        #{spare_part.ticket_spare_part_store.try(:inventory_product).try(:description)}
    .row
      .col-md-12
        %strong Unit :
        #{spare_part.ticket_spare_part_store.try(:inventory_product).try(:inventory_unit).try(:unit)}

    .row
      .col-md-4
        %strong Serial No :
        #{spare_part.ticket_spare_part_store.try(:inventory_product).try(:serial_no)}
        / #{spare_part.try(:ticket_spare_part_store).try(:main_inventory_product).try(:serial_no)}
      .col-md-4
        %strong CT No :
        xxxx.xxx

    .row
      .col-md-12
        .row
          .col-md-12
            %a{"data-toggle" => "collapse", "href"=>"#issued_part"}
              more info

        .row.small_scale_margin-bottom1
          #issued_part.collapse
            .col-md-12
              %fieldset
                .row
                  .col-md-12
                    %strong GRN Date: issued_part
                .row
                  .col-md-12
                    %strong Batch No: xxxxxx
                  .col-md-6
                    %strong Lot No: xxxx
                .row
                  .col-md-12
                    %strong Status: xxx
                    / #{SparePartStatusAction.find_by_id(onloan_spare_part.try(:status_action_id)).try(:name)}
                .row
                  .col-md-6
                    %strong Scavenge: xxx
                  .col-md-6
                    %strong Parts Completed: xxxx
                .row
                  .col-md-12
                    %strong Damage:
                    #{Reason.find_by_id(spare_part.ticket_spare_part_store.try(:return_part_damage_reason_id)).try(:reason)}
                .row
                  .col-md-12
                    %strong Repaired: xxxx
                .row
                  .col-md-12
                    %strong Remarks: xxxxx
  .col-md-6
    .row
      .col-md-12
        %strong
          %u Main Product of the Part

    .row
      .col-md-12
        %strong Item Code:
        #{spare_part.ticket_spare_part_store.try(:inventory_product).try(:serial_no)}
    .row
      .col-md-12
        %strong Item Description:
        #{spare_part.ticket_spare_part_store.try(:inventory_product).try(:description)}
    .row
      .col-md-12
        %strong Unit :
        #{spare_part.ticket_spare_part_store.try(:inventory_product).try(:inventory_unit).try(:unit)}
    .row
      .col-md-4
        %strong Serial No :
        #{spare_part.ticket_spare_part_store.try(:inventory_product).try(:serial_no)}
      .col-md-4
        %strong CT No :
        xxxx.xxx

    .row
      .col-md-12
        .row
          .col-md-6
            %a{"data-toggle" => "collapse", "href"=>"#main_part"}
              more info

        .row.small_scale_margin-bottom1
          #main_part.collapse
            .col-md-12
              %fieldset
                .row
                  .col-md-12
                    %strong GRN Date: main_part
                    xxx
                .row
                  .col-md-12
                    %strong Batch No: xxxxx
                  .col-md-6
                    %strong Lot No: xxxx
                .row
                  .col-md-12
                    %strong Status: xxxx
                    / #{SparePartStatusAction.find_by_id(onloan_spare_part.try(:status_action_id)).try(:name)}
                .row
                  .col-md-6
                    %strong Scavenge: xxxxx
                  .col-md-6
                    %strong Parts Completed: xxxx
                .row
                  .col-md-12
                    %strong Damage:
                    #{Reason.find_by_id(spare_part.ticket_spare_part_store.try(:return_part_damage_reason_id)).try(:reason)}
                .row
                  .col-md-12
                    %strong Repaired: xxxx
                .row
                  .col-md-12
                    %strong Remarks: xxxxx

.row
  .col-md-12
    .row
      .col-md-6
        %strong
          %u Returned Part
    .row
      .col-md-4
        %strong Serial No :
        #{spare_part.try(:return_part_serial_no)}
      .col-md-4
        %strong CT No :
        #{spare_part.try(:return_part_ct_no)}

    .row.small_scale_margin-bottom1
      .col-md-4
        %strong Use Status of the part: 
        #{Reason.find_by_id(spare_part.try(:status_use_id)).try(:reason)}

      .col-md-4
        %strong Un Used Reason:
        #{Reason.find_by_id(spare_part.try(:unused_reason_id)).try(:reason)}
    .row
      .col-md-12
        %hr
        = simple_nested_form_for spare_part, url: "#", method: :post do |f|
          = f.simple_fields_for :ticket_spare_part_store do |s|
            .row
              = s.input :return_part_damage , as: :boolean , wrapper_html: {class: "col-md-3"}, wrapper: :append

              = s.association :return_part_damage_reason, collection: Reason.where(reject_returned_part: true).map{|r| [r.reason, r.id]},include_blank: true, label: "Damage Reason : ", wrapper_html: {class: "col-md-3"}
              / = f.input :returned_part_accepted, as: :radio_buttons, collection: {"Same Part Returned" => true, "Different Part Returned" => false}, label:false, wrapper: :append, wrapper_html: {class: "col-md-4"}
          .row
            .col-md-8
              = f.input :note, label: "Note", input_html: {value: nil}
              = simple_format spare_part.note


          .row.small_scale_margin-bottom1
            .col-md-4
              = f.submit "Save", class: "btn btn-success"