.row
  .col-md-2
    %h4 Info :
  .col-md-5
    %dl.dl-horizontal
      %dt Stock Quantity:
      %dd= number_with_precision inventory.stock_quantity, precision: 2
      %dt Rack:
      %dd= inventory.inventory_bin.try(:inventory_shelf).try(:inventory_rack).try(:description)
      %dt Created At:
      %dd= inventory.created_at.try(:strftime, INOCRM_CONFIG['short_date_format'])
      %dt Available Quantity:
      %dd= inventory.available_quantity
      %dt Shelf:
      %dd= inventory.inventory_bin.try(:inventory_shelf).try(:description)
      %dt Created By:
      %dd= inventory.created_by_user.full_name
      %dt Reserved Quantity:
      %dd= number_with_precision inventory.reserved_quantity, precision: 2
      %dt Bin:
      %dd= inventory.inventory_bin.try(:description)
      %dt Updated At:
      %dd= inventory.updatd_at.try(:strftime, INOCRM_CONFIG['short_date_format'])
      %dt Reorder Level:
      %dd= number_with_precision inventory.reorder_level, precision: 2
  .col-md-5
    %dl.dl-horizontal
      %dt Lead Time In Days:
      %dd= inventory.lead_time_in_days
      %dt Updated By:
      %dd= inventory.updated_by_user.try(:full_name)
      %dt Reorder Quantity:
      %dd= number_with_precision inventory.reorder_quantity, precision: 2
      %dt Reorder Period In Days:
      %dd= inventory.reorder_period_in_days
      %dt Safty Stock Quantity:
      %dd= number_with_precision inventory.safty_stock_quantity, precision: 2
      %dt Max Quantity:
      %dd= number_with_precision inventory.max_quantity, precision: 2
      %dt Remarks:
      %dd= simple_format inventory.remarks