.row
  .col-md-2
    %h4 Info :
    = image_tag (product.inventory_product_info.picture.url || "no_product.png"), class: "img-responsive padding-top1 padding-bottom1 view_img_product"

  .col-md-5
    %dl.dl-horizontal
      %dt Brand:
      %dd= product.category1_name
      %dt Product:
      %dd= product.category2_name
      %dt Category:
      %dd= product.category3_name
      %dt Serial Code:
      %dd= product.generated_serial_no
      %dt Item Code:
      %dd= product.generated_item_code
      %dt Item Description:
      %dd= product.try(:description)
      %dt Unit:
      %dd= product.inventory_unit.unit
      %dt SKU:
      %dd= product.sku
      %dt Legacy code:
      %dd= product.legacy_code
      %dt Model no:
      %dd= product.model_no
      %dt Product no:
      %dd= product.product_no
      %dt Spare part no:
      %dd= product.spare_part_no
      %dt FIFO:
      %dd= boolean_in_word product.fifo, "Yes", "No"
      %dt Active:
      %dd= boolean_in_word product.active, "Yes", "No"
      %dt Non stock item:
      %dd= boolean_in_word product.non_stock_item,"Yes", "No"
      %dt Spare part:
      %dd= boolean_in_word product.spare_part,"Yes", "No"
      %dt Secondary unit:
      %dd= product.inventory_product_info.secondary_unit_id
  .col-md-5
    %dl.dl-horizontal
      %dt S. u. conv.:
      %dd= product.inventory_product_info.secondery_unit_convertion
      %dt P. s. u. conv.:
      %dd= boolean_in_word product.inventory_product_info.per_secondery_unit_conversion, "Yes", "No"
      %dt Country:
      %dd= product.inventory_product_info.try(:product_sold_country).try(:Country)
      %dt Manufacture:
      %dd= product.inventory_product_info.try(:manufacture).try(:manufacture)
      %dt abc class:
      %dd= product.inventory_product_info.try(:abc_class)
      %dt Issue f. allowed:
      %dd= boolean_in_word product.inventory_product_info.issue_fractional_allowed, "Yes", "No"
      %dt Need serial:
      %dd= boolean_in_word product.inventory_product_info.need_serial, "Yes", "No"
      %dt Need Batch:
      %dd= boolean_in_word product.inventory_product_info.need_batch, "Yes", "No"
      %dt Average cost:
      %dd= number_with_precision product.inventory_product_info.average_cost, precision: 2
      %dt Standard cost:
      %dd= product.inventory_product_info.standard_cost
      %dt Currency:
      %dd= product.inventory_product_info.currency.currency
      %dt Remarks:
      %dd= product.inventory_product_info.remarks
      %dt Created By:
      %dd= product.created_by_from_user
      %dt Created At:
      %dd= product.created_at.try(:strftime, "%Y-%m-%d")
      %dt Updated By:
      %dd= product.updated_by_from_user
      %dt Updated At:
      %dd= product.try(:updated_at).try(:strftime, "%Y-%m-%d")