.row
  .col-md-3
    %strong Brand:
    = product.category1_name
  .col-md-3
    %strong Product:
    = product.category2_name
  .col-md-3
    %strong Category:
    = product.category3_name
  .col-md-3
    %strong Serial Code:
    = product.generated_serial_no
  .col-md-12
    %hr
  .col-md-3
    %strong Item Code:
    = product.generated_item_code
  .col-md-3
    %strong Item Description:
    = product.try(:description)
  .col-md-3
    %strong Unit:
    = product.inventory_unit.unit
  .col-md-3
    %strong SKU:
    = product.sku
  .col-md-12
    %hr
  .col-md-3
    %strong Legacy code:
    = product.legacy_code
  .col-md-3
    %strong Model no:
    = product.model_no
  .col-md-3
    %strong Product no:
    = product.product_no
  .col-md-3
    %strong Spare part no:
    = product.spare_part_no
  .col-md-12
    %hr
  .col-md-3
    %strong FIFO:
    = boolean_in_word product.fifo, "Yes", "No"
  .col-md-3
    %strong Active:
    = boolean_in_word product.active, "Yes", "No"
  .col-md-3
    %strong Non stock item:
    = boolean_in_word product.non_stock_item,"Yes", "No"
  .col-md-3
    %strong Spare part:
    = boolean_in_word product.spare_part,"Yes", "No"
  .col-md-12
    %hr
  .col-md-3
    %strong Secondary unit:
    = product.inventory_product_info.secondary_unit_id
  .col-md-3
    %strong{title: "Secondery unit convertion"} S. u. conv.:
    = product.inventory_product_info.secondery_unit_convertion
  .col-md-3
    %strong{title: "Per secondery unit conversion"} P. s. u. conv.:
    = boolean_in_word product.inventory_product_info.per_secondery_unit_conversion, "Yes", "No"
  .col-md-3
    %strong Country:
    = product.inventory_product_info.try(:product_sold_country).try(:Country)
  .col-md-12
    %hr
  .col-md-3
    %strong Manufacture:
    = product.inventory_product_info.try(:manufacture).try(:manufacture)
  .col-md-3
    %strong abc class:
    = product.inventory_product_info.try(:abc_class)
  .col-md-2
    %strong{title: "Issue fractional allowed"} Issue f. allowed:
    = boolean_in_word product.inventory_product_info.issue_fractional_allowed, "Yes", "No"
  .col-md-2
    %strong Need serial:
    = boolean_in_word product.inventory_product_info.need_serial, "Yes", "No"
  .col-md-2
    %strong Need Batch:
    = boolean_in_word product.inventory_product_info.need_batch, "Yes", "No"
  .col-md-12
    %hr
  .col-md-3
    %strong Average cost:
    = number_with_precision product.inventory_product_info.average_cost, precision: 2
  .col-md-3
    %strong Standard cost:
    = product.inventory_product_info.standard_cost
  .col-md-3
    %strong Currency:
    = product.inventory_product_info.currency.currency
  .col-md-3
    %strong Remarks:
    = simple_format product.inventory_product_info.remarks
  .col-md-12
    %hr
  .col-md-2
    %strong Created By:
    = product.created_by_from_user
  .col-md-2
    %strong Created At:
    = product.created_at.try(:strftime, "%Y-%m-%d")
  .col-md-2
    %strong Updated By:
    / = User.find_by_id(product.try(:updated_by)).try(:user_name)}
    = product.updated_by_from_user
  .col-md-2
    %strong Updated At:
    = product.try(:updated_at).try(:strftime, "%Y-%m-%d")
  .col-md-4
    = image_tag (product.inventory_product_info.picture.url || "no_product.png"), class: "img-responsive padding-top1 padding-bottom1 view_img_product"