- pr = @inv_pro
- inventories = @store ? pr.inventories.where(store_id: @store.id) : pr.inventories
.row
  .col-md-12
    %strong Store:
    %span
      - if @store.present?
        = @store.name
      - else
        All stores

  .col-md-12
    = panels panel_type: "success", header_content: "#{pr.generated_item_code}" do
      .row
        .col-md-3
          %strong Item Code:
          = pr.generated_item_code
        .col-md-6
          %strong Item Description:
          = pr.description
        .col-md-3
          %strong Issue type:
          = boolean_in_word pr.fifo, "FIFO", "No FIFO"
        .col-md-3
          %strong Stock quantity:
          = inventories.sum(:stock_quantity)
        .col-md-3
          %strong Reserved quantity:
          = inventories.sum(:reserved_quantity)
        .col-md-3
          %strong Unit:
          = pr.inventory_unit.unit
        .col-md-3
          %strong Currency:
          = pr.inventory_product_info.currency_type