- if @store or params[:all]
  = render "inventories/inventory_products/search_inventory"

- else

  .list-group
    = link_to inventories_admins_searches_path(all: true), class: "list-group-item" do
      %h4.list-group-item-heading All Stores
      .list-group-item-text All Stores
    - Organization.stores.each do |store|
      = link_to "javascript:void(0);", onclick: "Inventories.search_product_for_part(this); return false;", data: {storeId: store.id, id: "store_id", modalId: "modal_for_main_part", remote: "true", selectpath: "", selectoptions: "from_where:prn<>compulsory_single_path:#{inventories_admins_searches_path}<>backdrop:true"}, class: "list-group-item", remote: true do
        %h4.list-group-item-heading= store.name

        .list-group-item-text= simple_format store.description

  #modal_for_main_part.modal.fade{tabindex: -1, role: "dialog", "aria-labelledby" => "modal_for_main_part", "aria-hidden" => true}
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          %h4.modal-title Select Product
        .modal-body
        .modal-footer