.row
  .col-md-12
    = form_tag search_results_admins_searches_path, method: :get, class: "form-horizontal" do
      %h2.small_scale_padding-bottom1 Search Returns
      .form-group
        = hidden_field_tag :request, params[:request] = "search_returns"
        = label_tag "Store", "Store", class: "col-md-2 control-label"
        .col-md-10
          = select_tag :store_id, options_from_collection_for_select(Organization.stores, :id, :name, params[:store_id]), include_blank: false, class: "form-control"
      .form-group
        = label_tag "Type", "Type", class: "col-md-2 control-label"
        .col-md-10
          = select_tag "type", options_for_select([["GIN", "gin"], ["SRR", "srr"], ["GRN", "grn"] ], params[:type]), class: "form-control"
      .form-group
        = label_tag "No", "No", class: "col-md-2 control-label"
        .col-md-10
          = text_field_tag "type_no", params[:type_no], :placeholder => "No", class: "form-control"
      .form-group
        = label_tag "Date From", "Date From", class: "col-md-2 control-label"
        .col-md-10
          = text_field_tag "from_date", params[:from_date], placeholder: "Date From", class: "form-control datepicker"
      .form-group
        = label_tag "Date To", "Date To", class: "col-md-2 control-label"
        .col-md-10
          = text_field_tag "to_date", params[:to_date], placeholder: "Date To", class: "form-control datepicker"
      .col-md-1.pull-right
        = link_to "Reset", search_returns_admins_searches_path, class: "btn btn-warning"
      .col-md-1.pull-right
        = submit_tag "Search", class: "btn btn-success", name: "search"
- if @history
  %h2.small_scale_padding-top1 Searched Results #{params[:type].upcase}
  = paginate @raw_history, remote: false, method: :get
  - @history.each_with_index do |h, index|
    %fieldset
      %legend
      .row 
        .col-md-1
          %strong
            = h[:type]
        .col-md-3
          %strong No:
          = h[:no]
        .col-md-3
          %strong Created At:
          = h[:created_at]
        .col-md-3
          %strong Created By:
          = h[:created_by]
        .col-md-2
          - if h[:type] == "GIN"
            = link_to gins_admins_inventories_path(gin_id: h[:id]), "role" => "button",class: "btn btn-info" do
              View
          - elsif h[:type] == "SRR"
            = link_to srrs_admins_inventories_path(srr_id: h[:id]), "role" => "button",class: "btn btn-info" do
              View
          - elsif h[:type] == "GRN"
            = link_to search_grn_admins_searches_path(grn_callback: "select_grn",grn_id: h[:id], cost_change: true), "role" => "button",class: "btn btn-info" do
              View
        .col-md-12
          - h[:extra_objects].each_with_index do |e, index|
            %fieldset
              %legend
              .row
                .col-md-1
                  %strong
                    = e[:type]
                .col-md-3
                  %strong No:
                  = e[:no]
                .col-md-3
                  %strong Created At:
                  = e[:created_at]
                .col-md-3
                  %strong Created By:
                  = e[:created_by]
                .col-md-2
                  - if e[:type] == "GIN"
                    = link_to gins_admins_inventories_path(gin_id: e[:id]), "role" => "button",class: "btn btn-info" do
                      View
                  - elsif e[:type] == "SRR"
                    = link_to srrs_admins_inventories_path(srr_id: e[:id]), "role" => "button",class: "btn btn-info" do
                      View
                  - elsif e[:type] == "GRN"
                    = link_to search_grn_admins_searches_path(grn_callback: "select_grn",grn_id: e[:id]), "role" => "button",class: "btn btn-info" do
                      View
