.row
  .col-md-12
    = form_tag search_results_admins_searches_path, method: :get, class: "form-horizontal" do
      %h2.small_scale_padding-bottom1 Search By
      .form-group
        = hidden_field_tag :request, params[:request] = "search_issues"
        = label_tag "Store", "Store", class: "col-md-2 control-label"
        .col-md-10
          = select_tag :store_id, options_from_collection_for_select(Organization.stores, :id, :name, params[:store_id]), include_blank: false, class: "form-control"
      .form-group
        = label_tag "Type", "Type", class: "col-md-2 control-label"
        .col-md-10
          = select_tag "type", options_for_select([ ["SRN", "srn"], ["GIN", "gin"] ], params[:type]), class: "form-control"
      .form-group
        = label_tag "No", "No", class: "col-md-2 control-label"
        .col-md-10
          = text_field_tag "type_no", params[:type_no], placeholder: "No", class: "form-control"
      .form-group
        = label_tag "Date From", "Date From", class: "col-md-2 control-label"
        .col-md-10
          = text_field_tag "from_date", params[:from_date], placeholder: "Date From", class: "form-control datepicker"
      .form-group
        = label_tag "Date To", "Date To", class: "col-md-2 control-label"
        .col-md-10
          = text_field_tag "to_date", params[:to_date], placeholder: "Date To", class: "form-control datepicker"
      .col-md-1.pull-right
        = link_to "Reset", "#", onclick: "Searches.reset_searchissues(this);", class: "btn btn-warning"
      .col-md-1.pull-right
        = submit_tag "Search", class: "btn btn-success", name: "search"
- if @history
  %h2.small_scale_padding-top1 Searched Results #{params[:type].upcase}
  - @history.each_with_index do |h, index|
    %fieldset
      %legend
      .row 
        .col-md-3
          %strong No:
          = h[:no]
        .col-md-3
          %strong Created At:
          = h[:created_at]
        .col-md-3
          %strong Created By:
          = h[:created_by]
        .col-md-3
          - if params[:type].upcase == "SRN"
            = link_to srns_admins_inventories_path(srn_id: h[:id]), "role" => "button",class: "btn btn-info" do
              View
          - elsif params[:type].upcase == "GIN"
            = link_to gins_admins_inventories_path(gin_id: h[:id]), "role" => "button",class: "btn btn-info" do
              View