-store = @store
-inventory_batch_id = @inventory_batch_id
-product = inventory_batch_id.inventory_product
%h4.strong Store: #{Inventory.find_by_store_id(store).store_name}

= collapse_wrapper collapse_id: "select_batch_form_collapse", labelledby: "select_batch_form_collapse_labelledby" do
  = collapse collapse_type: "warning", labelledby: "select_batch_form_collapse_search", header_content: "Product", collapse_link: "select_batch_form_collapse_product", collapse_id: "select_batch_form_collapse" do
    .row
      .col-md-8
        .row
          .col-md-3
            Brand: #{product.category2_name}
          .col-md-3
            Product: #{product.category3_name}
          .col-md-3
            Category: #{product.category2_name}
          .col-md-3
            Serial Code: #{product.generated_serial_no}
        .row
          .col-md-6
            Item Code: #{product.generated_item_code}
          .col-md-6
            Item Description: #{product.try(:description)}
        .row
          .col-md-6
            Unit: #{product.inventory_unit.unit}
          .col-md-6
            sku: #{product.try(:sku)}
        .row
          .col-md-12
            legacy code: #{product.try(:legacy_code)}
        .row
          .col-md-3
            model no: #{product.try(:model_no)} 
          .col-md-3
            product no: #{product.try(:product_no)} 
          .col-md-3
            fifo: #{product.fifo == true ? "Yes" : "No"}
          .col-md-3
            active: #{product.active == true ? "Yes" : "No"}
        .row
          .col-md-3
            non stock item: #{product.non_stock_item == true ? "Yes" : "No"}
          .col-md-3
            spare part: #{product.spare_part == true ? "Yes" : "No"}
          .col-md-3
            spare part no: #{product.try(:spare_part_no)}
        .row{style:"margin-top: 10px;"}
          .col-md-4
            secondary unit: #{product.inventory_product_info.try(:secondary_unit_id)}
          .col-md-4
            secondery unit convertion: #{product.inventory_product_info.try(:secondery_unit_convertion)} 
          .col-md-4
            per secondery unit conversion: #{product.inventory_product_info.try(:per_secondery_unit_conversion) == true ? "Yes" : "No"}
        .row
          .col-md-4
            country: #{product.inventory_product_info.try(:product_sold_country).try(:Country)}
          .col-md-4
            manufacture: #{product.inventory_product_info.try(:manufacture).try(:manufacture)}
          .col-md-4
            abc class: #{product.inventory_product_info.try(:abc_class)}
        .row
          .col-md-4
            issue fractional allowed: #{product.inventory_product_info.issue_fractional_allowed == true ? "Yes" : "No"}
          .col-md-4
            need serial: #{product.inventory_product_info.need_serial == true ? "Yes" : "No"}
          .col-md-4
            need Batch:  #{product.inventory_product_info.need_batch == true ? "Yes" : "No"}
        .row
          .col-md-4
            average cost: #{number_with_precision product.inventory_product_info.try(:average_cost), precision: 2} 
            / = number_with_precision product.inventory_product_info.try(:average_cost), precision: 2
          .col-md-4
            standard cost: #{product.inventory_product_info.try(:standard_cost)}
          .col-md-4
            currency: #{product.inventory_product_info.try(:currency).currency}
        .row
          .col-md-4
            Remarks: #{product.inventory_product_info.try(:remarks)}
      .col-md-4
        .row
          Created By : #{User.find_by_id(product.created_by).try(:user_name)}
        .row
          Created At : #{product.created_at.try(:strftime, "%Y-%m-%d")}
        .row
          Updated By : #{User.find_by_id(product.try(:updated_by)).try(:user_name)}
        .row
          Updated At : #{product.try(:updated_at).try(:strftime, "%Y-%m-%d")}
        .row
          = link_to image_tag((product.inventory_product_info.try(:picture) || "no_image.jpg"), class: "img-responsive padding-top1 padding-bottom1 view_img_product"), "#"

  = collapse collapse_type: "warning", labelledby: "select_batch_form_collapse_search", header_content: "Inventory Infomation", collapse_link: "select_batch_form_collapse_inv_info", collapse_id: "select_batch_form_collapse" do
    .row
      .col-md-4
        Stock Quantity: #{number_with_precision inventory_batch_id.inventory.stock_quantity, precision: 2}
      .col-md-4
        Rack: #{inventory_batch_id.inventory.try(:inventory_bin).try(:inventory_shelf).try(:inventory_rack).try(:description)}
      .col-md-4
        Created At: #{inventory_batch_id.inventory.created_at.try(:strftime, "%Y-%m-%d")}
    .row
      .col-md-4
        Available Quantity: #{inventory_batch_id.inventory.available_quantity}
      .col-md-4
        Shelf: #{inventory_batch_id.inventory.try(:inventory_bin).try(:inventory_shelf).try(:description)}
      .col-md-4
        Created By: #{User.find_by_id(inventory_batch_id.inventory.created_by).try(:user_name)}
    .row
      .col-md-4
        Reserved Quantity: #{number_with_precision inventory_batch_id.inventory.reserved_quantity, precision: 2}
      .col-md-4
        Bin: Shelf: #{inventory_batch_id.inventory.try(:inventory_bin).try(:description)}
      .col-md-4
        Updated At: #{inventory_batch_id.inventory.try(:updatd_at).try(:strftime, "%Y-%m-%d")}
    .row
      .col-md-4
        Reorder Level: #{number_with_precision inventory_batch_id.inventory.try(:reorder_level), precision: 2}
      .col-md-4
        Lead Time In Days: #{inventory_batch_id.inventory.try(:lead_time_in_days)}
      .col-md-4
        Updated By: #{User.find_by_id(inventory_batch_id.inventory.try(:updated_by)).try(:user_name)}
    .row
      .col-md-4
        Reorder Quantity: #{number_with_precision inventory_batch_id.inventory.try(:reorder_quantity), precision: 2}
      .col-md-4
        Reorder Period In Days: #{inventory_batch_id.inventory.try(:reorder_period_in_days)}
      .col-md-4
        Safty Stock Quantity: #{number_with_precision inventory_batch_id.inventory.try(:safty_stock_quantity), precision: 2}
    .row
      .col-md-4
        Max Qquantity: #{number_with_precision inventory_batch_id.inventory.try(:max_quantity), precision: 2}
      .col-md-8
        Remarks: #{inventory_batch_id.inventory.try(:remarks)}

  = collapse collapse_type: "warning", labelledby: "select_batch_form_collapse_search", header_content: "Batch Item", collapse_link: "select_batch_form_collapse_batch_item", collapse_id: "select_batch_form_collapse" do
    .row
      .col-md-3
        Serial No: #{inventory_batch_id.batch_no}
      .col-md-3
        Manufatured Date: #{inventory_batch_id.try(:manufatured_date)}
      .col-md-3
        Lot No: #{inventory_batch_id.try(:lot_no)}
      .col-md-3
        Expiry Date: #{inventory_batch_id.try(:expiry_date).try(:strftime, "%Y-%m-%d")}
    .row
      .col-md-3
        Remarks : #{inventory_batch_id.try(:remarks)}
    .row
    - inventory_batch_id.inventory_batch_warranties.each do |b_warranty|
      .col-md-12
        %fieldset{style:"background-color: #FFE4C4;"}
          %legend.h4 #{b_warranty.inventory_warranty.inventory_warranty_type.name}
          .row
            .col-md-4
              Start At: #{b_warranty.inventory_warranty.try(:start_at).try(:strftime, "%Y-%m-%d")}
            .col-md-4
              End At: #{b_warranty.inventory_warranty.try(:end_at).try(:strftime, "%Y-%m-%d")}
            .col-md-4
              Period Part: #{b_warranty.inventory_warranty.try(:period_part)}
          .row
            .col-md-4
              Period Labour: #{b_warranty.inventory_warranty.try(:period_labour)}
            .col-md-4
              Period On-Sight: #{b_warranty.inventory_warranty.try(:period_onsight)}
            .col-md-4
              Remarks: #{b_warranty.inventory_warranty.try(:remarks)}

  = collapse collapse_type: "warning", labelledby: "select_batch_form_collapse_search", header_content: "Cost", collapse_link: "select_batch_form_collapse_cost", collapse_id: "select_batch_form_collapse", collapse_in: "in" do
    - inventory_batch_id.grn_items.each do |grn_item|
      .row
        .col-md-4
          Currency: #{grn_item.currency.currency}
        .col-md-4
          Current GRN cost: #{number_with_precision grn_item.current_unit_cost, precision: 2}
        .col-md-4
          GRN No: #{grn_item.grn.grn_no.to_s.rjust(5, INOCRM_CONFIG["inventory_grn_no_format"])}
      .row
        .col-md-4
          GRN Date:#{grn_item.grn.created_at.try(:strftime, "%Y-%m-%d %H:%M")}
        .col-md-4
          GRN By:#{grn_item.grn.created_by_user.full_name}
        
      .row
        .col-md-8
          GRN Remarks: #{grn_item.grn.remarks}
      - if grn_item.grn_item_current_unit_cost_histories.any?
        .row{style: "margin-top:15px;"}
          .col-md-12{style: "background-color: #98FB98; text-align:center"}
            %strong GRN Cost Adgestments
          .col-md-12
            - grn_item.grn_item_current_unit_cost_histories.each_with_index do |hcost, index|
              .row
                .col-md-1
                .col-md-2
                  =index+1
                .col-md-3
                  Date: #{hcost.try(:created_at).try(:strftime, "%Y-%m-%d %H:%M")}
                .col-md-3
                  Cost: #{number_with_precision hcost.current_unit_cost, precision: 2}
                .col-md-3
                  Done by: #{hcost.created_by_user.full_name}


