- store = @store
- inventory_serial_part = @inventory_serial_part
- main_item = inventory_serial_part.inventory_serial_item
- product = inventory_serial_part.inventory_product
- inventory = inventory_serial_part.inventory_serial_item.inventory


= collapse_wrapper collapse_id: "select_serial_part_form_collapse", labelledby: "select_serial_part_form_collapse_labelledby" do

  = collapse collapse_type: "info", labelledby: "main_part_form_collapse_search", header_content: "Main item", collapse_link: "main_part_form_collapse_product", collapse_id: "select_serial_part_form_collapse" do
    %h4.strong
      Store:
      - if @store.present?
        = @store.name
      - else
        All stores

    .row
      .col-md-3
        %strong Item code:
        = main_item.inventory_product.generated_item_code
      .col-md-3
        %strong Item description:
        = main_item.inventory_product.description
      .col-md-3
        %strong Serial No:
        = main_item.inventory_product.generated_serial_no
      .col-md-3
        %strong Manufactured date:
        = main_item.manufatured_date.try(:strftime, INOCRM_CONFIG["short_date_format"])
      .col-md-3
        %strong Model No:
        = main_item.inventory_product.model_no
      .col-md-3
        %strong Product No:
        = main_item.inventory_product.product_no
      .col-md-3
        %strong CT No:
        = main_item.ct_no
      .col-md-3
        %strong Expiry date:
        = main_item.expiry_date.try(:strftime, INOCRM_CONFIG["short_date_format"])
      .col-md-3
        %strong Condition
        = main_item.product_condition.condition

  = collapse collapse_type: "info", labelledby: "select_serial_part_form_collapse_search", header_content: "Product", collapse_link: "select_serial_part_form_collapse_product", collapse_id: "select_serial_part_form_collapse" do
    = render "admins/searches/inventory/product_info", product: product

  = collapse collapse_type: "info", labelledby: "select_serial_part_form_collapse_search", header_content: "Serial Item (part)", collapse_link: "select_serial_part_form_collapse_batch_item", collapse_id: "select_serial_part_form_collapse" do
    .row
      .col-md-3
        %strong Serial No:
        = inventory_serial_part.serial_no
      .col-md-3
        %strong Manufatured Date:
        = inventory_serial_part.manufatured_date.try(:strftime, INOCRM_CONFIG["short_date_format"])
      .col-md-3
        %strong Lot No:
        = inventory_serial_part.ct_no
      .col-md-3
        %strong Expiry Date:
        = inventory_serial_part.expiry_date.try(:strftime, INOCRM_CONFIG["short_date_format"])
    .row
      .col-md-3
        %strong Remarks :
        = simple_format inventory_serial_part.remarks
    .row
    - inventory_serial_part.inventory_serial_part_warranties.each do |b_warranty|
      .col-md-12
        %fieldset
          %legend.h4= b_warranty.inventory_warranty.inventory_warranty_type.name
          .row
            .col-md-4
              %strong Start At:
              = b_warranty.inventory_warranty.start_at.try(:strftime, INOCRM_CONFIG["short_date_format"])
            .col-md-4
              %strong End At:
              = b_warranty.inventory_warranty.end_at.try(:strftime, INOCRM_CONFIG["short_date_format"])
            .col-md-4
              %strong Period Part:
              = b_warranty.inventory_warranty.period_part
          .row
            .col-md-4
              %strong Period Labour:
              = b_warranty.inventory_warranty.period_labour
            .col-md-4
              %strong Period On-Sight:
              = b_warranty.inventory_warranty.period_onsight
            .col-md-4
              %strong Remarks:
              = simple_format b_warranty.inventory_warranty.remarks

  = collapse collapse_type: "info", labelledby: "select_serial_part_form_collapse_search", header_content: "Cost", collapse_link: "select_serial_part_form_collapse_cost", collapse_id: "select_serial_part_form_collapse" do
    - inventory_serial_part.grn_items.each do |grn_item|
      .row
        .col-md-3
          %strong Currency:
          = grn_item.id
          = grn_item.currency.currency
        .col-md-3
          %strong Current GRN cost:
          = number_with_precision grn_item.current_unit_cost, precision: 2
        .col-md-3
          %strong GRN No:
          = grn_item.grn.grn_no.to_s.rjust(5, INOCRM_CONFIG["inventory_grn_no_format"])
        .col-md-3
          %strong GRN Date:
          = grn_item.grn.created_at.try(:strftime, "%Y-%m-%d %H:%M")
        .col-md-3
          %strong GRN By:
          = grn_item.grn.created_by_user.full_name
        .col-md-3
          %strong GRN remaining quantity:
          = number_with_precision grn_item.remaining_quantity, precision: 2
        .col-md-5
          %strong GRN Remarks:
          = simple_format grn_item.grn.remarks

        = simple_nested_form_for main_item, url: create_additional_cost_admins_inventories_path(type: "InventorySerialPart", id: main_item.id, store_id: @store.try(:id), serial_part_id: inventory_serial_part.id), method: :post, html: {class: "validate_form"} do |i|
          = i.input :id, as: :hidden
          = i.simple_fields_for :inventory_serial_parts do |f|
            / - f.object.inventory_serial_part_additional_costs.build if f.object.new_record?
            .col-md-12
              = f.simple_fields_for :inventory_serial_part_additional_costs do |g|
                = g.input :currency_id, as: :hidden, input_html: {value: grn_item.currency.id}
                .row
                  = g.input :created_by, as: :hidden, input_html: {value: current_user.id}
                  .col-md-1.small_scale_padding-top3
                    = g.link_to_remove "remove"
                  .col-md-3
                    = g.input :cost, as: :string
                  .col-md-3
                    = g.input :note
                  - if g.object.persisted?
                    .col-md-3
                      .strong Created by
                      = g.object.created_by_user.full_name
                    .col-md-2
                      .strong Date
                      = g.object.created_at.try(:strftime, "%Y-%m-%d")
            .col-md-12
              = f.link_to_add :inventory_serial_part_additional_costs, title: "Add new Additional Cost" do
                %span.glyphicon.glyphicon-plus
                Add
          .col-md-12
            = i.submit "Save", class: "btn btn-sm btn-success"

      - if @inventory_serial_item_part_add_cost.present?
        .row{style: "margin-top:15px;"}
          .col-md-12.pull-right
            = link_to action_inv_serial_item_part_addcost_admins_searches_path(inventory_serial_item_part_id: inventory_serial_part.id, store: store, new_add: true), method: :post, rel: "tooltip", :data => { toggle: "tooltip", placement: "left" }, title: "Add new Additional Cost" do
              %span.glyphicon.glyphicon-plus
              Add
          .col-md-12{style: "background-color: #98FB98; text-align:center"}
            %strong Additional Costs
          .col-md-12
            %table.table.table-hover
              %thead
                %tr
                  %th No
                  %th Date
                  %th Currency
                  %th Cost
                  %th Note
                  %th By
                  %th
              %tbody
                - @inventory_serial_item_part_add_cost.each_with_index do |cost, index|
                  %tr
                    %td= index+1
                    %td= cost.created_at.try(:strftime, INOCRM_CONFIG["short_date_format"])
                    %td= product.inventory_product_info.try(:currency).currency
                    %td= cost.cost
                    %td= cost.note
                    %td= cost.created_by_user.full_name
                    %td
                      / = link_to "#", "role" => "button",class: "btn btn-info" do
                      /   Edit
                      = cost.id
                      = link_to delete_inv_sitem_part_additional_cost_admins_searches_path(inventory_serial_item_part_id: inventory_serial_part.id, store: store, ad_cost_id: cost.id), method: :delete, rel: "tooltip", :data => { :confirm => 'Are you sure?', toggle: "tooltip", placement: "bottom" }, title: "Delete" do
                        %span.glyphicon.glyphicon-trash

                      = link_to action_inv_serial_item_part_addcost_admins_searches_path(inventory_serial_item_part_id: inventory_serial_part.id, store: store, load: true, ad_cost_id: cost.id), method: :post, rel: "tooltip", title: "Edit" do
                        %span.glyphicon.glyphicon-pencil

                      / = link_to delete_inv_sitem_part_additional_cost_admins_searches_path(inventory_serial_item_part_id: inventory_serial_item_part_id.id, store: store, ad_cost_id: cost.id), "role" => "button",class: "btn btn-info" do
                      /   Delete
              = paginate @inventory_serial_item_part_add_cost, remote: false, method: :get




      / / /===================================================================


      - if grn_item.grn_item_current_unit_cost_histories.any?
        .row{style: "margin-top:15px;"}
          .col-md-12{style: "background-color: #98FB98; text-align:center"}
            %strong GRN Cost Adgestments
          .col-md-12
            - grn_item.grn_item_current_unit_cost_histories.each_with_index do |hcost, index|
              .row
                .col-md-1
                .col-md-2
                  =index+1
                .col-md-3
                  Date: #{hcost.try(:created_at).try(:strftime, "%Y-%m-%d %H:%M")}
                .col-md-3
                  Cost: #{number_with_precision hcost.current_unit_cost, precision: 2}
                .col-md-3
                  Done by: #{hcost.created_by_user.full_name}