- store = @store
- inventory_non_serial_non_batch = @inventory_non_serial_non_batch
- product = inventory_non_serial_non_batch.inventory_product
- inventories = @store ? product.inventories.where(store_id: @store.id) : product.inventories

%h4.strong
  Store:
  - if @store.present?
    = @store.name
  - else
    All stores


= collapse_wrapper collapse_id: "select_non_serial_non_batch_form_collapse", labelledby: "select_non_serial_non_batch_form_collapse_labelledby" do
  = collapse collapse_type: "info", labelledby: "select_non_serial_non_batch_form_collapse_search", header_content: "Product", collapse_link: "select_non_serial_non_batch_form_collapse_product", collapse_id: "select_non_serial_non_batch_form_collapse" do
    = render "admins/searches/inventory/product_info", product: product

  = collapse collapse_type: "info", labelledby: "select_non_serial_non_batch_form_collapse_search", header_content: "Inventory Infomation", collapse_link: "select_non_serial_non_batch_form_collapse_inv_info", collapse_id: "select_non_serial_non_batch_form_collapse" do

    - inventories.each do |inventory|
      = render "admins/searches/inventory/inventory_info", inventory: inventory
      %hr

  = collapse collapse_type: "info", labelledby: "select_non_serial_non_batch_form_collapse_search", header_content: "Cost", collapse_link: "select_non_serial_non_batch_form_collapse_cost", collapse_id: "select_non_serial_non_batch_form_collapse", collapse_in: "in" do
    .row
      .col-md-4
        %strong Currency:
        = inventory_non_serial_non_batch.currency.currency
      .col-md-4
        %strong Current GRN cost:
        = number_with_precision inventory_non_serial_non_batch.current_unit_cost, precision: 2
      .col-md-4
        %strong GRN No:
        = inventory_non_serial_non_batch.grn.grn_no.to_s.rjust(5, INOCRM_CONFIG["inventory_grn_no_format"])
    .row
      .col-md-4
        %strong GRN Date:
        = inventory_non_serial_non_batch.grn.created_at.try(:strftime, "%Y-%m-%d %H:%M")
      .col-md-4
        %strong GRN By:
        = inventory_non_serial_non_batch.grn.created_by_user.full_name

    .row
      .col-md-8
        %strong GRN Remarks:
        = inventory_non_serial_non_batch.grn.remarks
    - if inventory_non_serial_non_batch.grn_item_current_unit_cost_histories.any?
      .row{style: "margin-top:15px;"}
        .col-md-12{style: "background-color: #98FB98; text-align:center"}
          %strong GRN Cost Adgestments
        .col-md-12
          - inventory_non_serial_non_batch.grn_item_current_unit_cost_histories.each_with_index do |hcost, index|
            .row
              .col-md-1
              .col-md-2
                =index+1
              .col-md-3
                %strong Date:
                = hcost.try(:created_at).try(:strftime, "%Y-%m-%d %H:%M")
              .col-md-3
                %strong Cost:
                = number_with_precision hcost.current_unit_cost, precision: 2
              .col-md-3
                %strong Done by:
                = hcost.created_by_user.full_name