- store = @store
- inventory_batch = @inventory_batch
- product = inventory_batch.inventory_product
- inventory = inventory_batch.inventory

%h4.strong
  Store:
  - if @store.present?
    = @store.name
  - else
    All stores

= collapse_wrapper collapse_id: "select_batch_form_collapse", labelledby: "select_batch_form_collapse_labelledby" do
  = collapse collapse_type: "info", labelledby: "select_batch_form_collapse_search", header_content: "Product", collapse_link: "select_batch_form_collapse_product", collapse_id: "select_batch_form_collapse" do
    = render "admins/searches/inventory/product_info", product: product

  = collapse collapse_type: "info", labelledby: "select_batch_form_collapse_search", header_content: "Inventory Infomation", collapse_link: "select_batch_form_collapse_inv_info", collapse_id: "select_batch_form_collapse" do
    = render "admins/searches/inventory/inventory_info", inventory: inventory

  = collapse collapse_type: "info", labelledby: "select_batch_form_collapse_search", header_content: "Batch Item", collapse_link: "select_batch_form_collapse_batch_item", collapse_id: "select_batch_form_collapse" do
    .row
      .col-md-3
        %strong Lot No:
        = inventory_batch.lot_no
      .col-md-3
        %strong Manufatured Date:
        = inventory_batch.manufatured_date.try(:strftime, "%Y-%m-%d")
    .row
      .col-md-3
        %strong Batch No:
        = inventory_batch.batch_no

      .col-md-3
        %strong Expiry Date:
        = inventory_batch.expiry_date.try(:strftime, "%Y-%m-%d")
    .row
      .col-md-3
        %strong Remarks :
        = simple_format inventory_batch.remarks
    .row
    - inventory_batch.inventory_batch_warranties.each do |b_warranty|
      .col-md-12
        %fieldset{style:"background-color: #FFE4C4;"}
          %legend.h4 #{b_warranty.inventory_warranty.inventory_warranty_type.name}
          .row
            .col-md-4
              %strong Start At:
              = b_warranty.inventory_warranty.start_at.try(:strftime, "%Y-%m-%d")
            .col-md-4
              %strong End At:
              = b_warranty.inventory_warranty.end_at.try(:strftime, "%Y-%m-%d")
            .col-md-4
              %strong Period Part:
              = b_warranty.inventory_warranty.period_part
          .row
            .col-md-4
              %strong Period Labour:
              = b_warranty.inventory_warranty.period_labour
            .col-md-4
              %strong Period On-Sight:
              = b_warranty.inventory_warranty.period_onsight
            .col-md-4
              %strong Remarks:
              = simple_format b_warranty.inventory_warranty.remarks

  = collapse collapse_type: "info", labelledby: "select_batch_form_collapse_search", header_content: "Cost", collapse_link: "select_batch_form_collapse_cost", collapse_id: "select_batch_form_collapse", collapse_in: "in" do
    - inventory_batch.grn_items.each do |grn_item|
      .row
        .col-md-4
          %strong Currency:
          = grn_item.currency.currency
        .col-md-4
          %strong Current GRN cost:
          = number_with_precision grn_item.current_unit_cost, precision: 2
        .col-md-4
          %strong GRN No:
          = grn_item.grn.grn_no.to_s.rjust(5, INOCRM_CONFIG["inventory_grn_no_format"])
      .row
        .col-md-4
          %strong GRN Date:
          = grn_item.grn.created_at.try(:strftime, "%Y-%m-%d %H:%M")
        .col-md-4
          %strong GRN By:
          = grn_item.grn.created_by_user.full_name
        
      .row
        .col-md-8
          %strong GRN Remarks:
          #{simple_format grn_item.grn.remarks}
      - if grn_item.grn_item_current_unit_cost_histories.any?
        .row{style: "margin-top:15px;"}
          .col-md-12{style: "background-color: #98FB98; text-align:center"}
            %strong GRN Cost Adgestments
          .col-md-12
            - grn_item.grn_item_current_unit_cost_histories.each_with_index do |hcost, index|
              .row
                .col-md-1
                  = index+1
                .col-md-3
                  %strong Date:
                  = hcost.created_at.try(:strftime, "%Y-%m-%d %H:%M")
                .col-md-3
                  %strong Cost:
                  = number_with_precision hcost.current_unit_cost, precision: 2
                .col-md-3
                  %strong Done by:
                  = hcost.created_by_user.full_name


