- store = @store
- inventory_serial_item = @inventory_serial_item
- product = inventory_serial_item.inventory_product
- inventory = inventory_serial_item.inventory

%h4.strong
  Store:
  - if @store.present?
    = @store.name
  - else
    All stores

= collapse_wrapper collapse_id: "select_serial_item_form_collapse", labelledby: "select_serial_item_form_collapse_labelledby" do
  = collapse collapse_type: "info", labelledby: "select_serial_item_form_collapse_search", header_content: "Product", collapse_link: "select_serial_item_form_collapse_product", collapse_id: "select_serial_item_form_collapse" do
    = render "admins/searches/inventory/product_info", product: product

  = collapse collapse_type: "info", labelledby: "select_serial_item_form_collapse_search", header_content: "Inventory Infomation", collapse_link: "select_serial_item_form_collapse_inv_info", collapse_id: "select_serial_item_form_collapse" do
    = render "admins/searches/inventory/inventory_info", inventory: inventory

  = collapse collapse_type: "info", labelledby: "select_serial_item_form_collapse_search", header_content: "Serial Item Item", collapse_link: "select_serial_item_form_collapse_batch_item", collapse_id: "select_serial_item_form_collapse" do
    .row
      .col-md-3
        %strong Serial No:
        #{inventory_serial_item.serial_no}
      .col-md-3
        %strong Manufatured Date:
        #{inventory_serial_item.try(:manufatured_date)}
      .col-md-3
        %strong CT No:
        #{inventory_serial_item.try(:ct_no)}
      .col-md-3
        %strong Expiry Date:
        #{inventory_serial_item.try(:expiry_date).try(:strftime, "%Y-%m-%d")}
    .row
      .col-md-3
        %strong Remarks:
        #{simple_format inventory_serial_item.try(:remarks)}
    .row
    - inventory_serial_item.inventory_serial_warranties.each do |b_warranty|
      .col-md-12
        %fieldset{style:"background-color: #FFE4C4;"}
          %legend.h4 #{b_warranty.inventory_warranty.inventory_warranty_type.name}
          .row
            .col-md-4
              %strong Start At:
              #{b_warranty.inventory_warranty.try(:start_at).try(:strftime, "%Y-%m-%d")}
            .col-md-4
              %strong End At:
              #{b_warranty.inventory_warranty.try(:end_at).try(:strftime, "%Y-%m-%d")}
            .col-md-4
              %strong Period Part:
              #{b_warranty.inventory_warranty.try(:period_part)}
          .row
            .col-md-4
              %strong Period Labour:
              #{b_warranty.inventory_warranty.try(:period_labour)}
            .col-md-4
              %strong Period On-Sight:
              #{b_warranty.inventory_warranty.try(:period_onsight)}
            .col-md-4
              %strong Remarks:
              #{simple_format b_warranty.inventory_warranty.try(:remarks)}

  = collapse collapse_type: "info", labelledby: "select_serial_item_form_collapse_search", header_content: "Cost", collapse_link: "select_serial_item_form_collapse_cost", collapse_id: "select_serial_item_form_collapse" do
    - inventory_serial_item.grn_serial_items.active_serial_items.each do |grn_serial_item|
      .row
        .col-md-4
          %strong Currency:
          = grn_serial_item.grn_item.currency.currency
        .col-md-4
          %strong Current GRN cost:
          = number_with_precision grn_serial_item.grn_item.current_unit_cost, precision: 2
        .col-md-4
          %strong GRN No:
          = grn_serial_item.grn_item.grn.grn_no.to_s.rjust(5, INOCRM_CONFIG["inventory_grn_no_format"])
      .row
        .col-md-4
          %strong GRN Date:
          = grn_serial_item.grn_item.grn.created_at.try(:strftime, "%Y-%m-%d %H:%M")
        .col-md-4
          %strong GRN By:
          = grn_serial_item.grn_item.grn.created_by_from_user
        .col-md-4
          %strong GRN remaining quantity:
          = number_with_precision grn_serial_item.grn_item.remaining_quantity, precision: 2 #{grn_serial_item.grn_item.grn_items.sum(:remaining_quantity)}
        
      .row
        .col-md-12
          %strong GRN Remarks:
          = simple_format grn_serial_item.grn_item.grn.remarks

        = simple_nested_form_for inventory_serial_item, url: create_additional_cost_admins_inventories_path(type: "InventorySerialItem", id: inventory_serial_item.id), method: :post, html: {class: "validate_form"} do |f|
          = f.input :id, as: :hidden
          .col-md-12
            = f.simple_fields_for :inventory_serial_items_additional_costs do |g|
              = g.input :currency_id, as: :hidden, input_html: {value: grn_serial_item.grn_item.currency.id}
              .row
                = g.input :created_by, as: :hidden, input_html: {value: current_user.id}
                .col-md-1.small_scale_padding-top3
                  = g.link_to_remove "remove"
                .col-md-3
                  = g.input :cost, required: true
                .col-md-3
                  = g.input :note
                - if g.object.persisted?
                  .col-md-3
                    .strong Created by
                    = g.object.created_by_user.try(:full_name)
                  .col-md-2
                    .strong Date
                    = g.object.created_at.try(:strftime, "%Y-%m-%d")
          .col-md-12
            = f.link_to_add :inventory_serial_items_additional_costs, title: "Add new Additional Cost" do
              %span.glyphicon.glyphicon-plus
              Add
          .col-md-12
            = f.submit "Save", class: "btn btn-sm btn-success"

      - if grn_serial_item.grn_item.grn_item_current_unit_cost_histories.any?

        .row{style: "margin-top:15px;"}
          .col-md-12{style: "background-color: #98FB98; text-align:center"}
            %strong GRN Cost Adgestments
          .col-md-12
            - grn_serial_item.grn_item.grn_item_current_unit_cost_histories.each_with_index do |hcost, index|
              .row
                .col-md-1
                .col-md-2
                  =index+1
                .col-md-3
                  %strong Date:
                  #{hcost.try(:created_at).try(:strftime, "%Y-%m-%d %H:%M")}
                .col-md-3
                  %strong Cost:
                  #{number_with_precision hcost.current_unit_cost, precision: 2}
                .col-md-3
                  %strong Done by:
                  #{hcost.created_by_user.full_name}

  = collapse collapse_type: "info", labelledby: "select_serial_item_form_collapse_search", header_content: "Parts", collapse_link: "select_serial_item_form_collapse_parts", collapse_id: "select_serial_item_form_collapse" do

    .row
      .col-md-1{style: "text-align:center"}
        %strong No
      .col-md-1
        %strong GRN No.
      .col-md-1
        %strong GRN Date
      .col-md-1
        %strong Serial No
      .col-md-1
        %strong CT NO
      .col-md-1
        %strong Condition
      .col-md-1
        %strong Status
      .col-md-2
        %strong Parts Not Completed
      .col-md-1
        %strong Scavange
      .col-md-1
        %strong Damaged
      .col-md-1
        %strong Select
    %hr

    - @inventory_serial_parts.each_with_index do |inventory_serial_part, index|
      - content_for :inventory_serial_part_more, flush: true do
        %ul
          %li
            %strong Used
            = boolean_in_word inventory_serial_part.used, "Yes", "No"
          %li
            %strong Repaired
            = boolean_in_word inventory_serial_part.repaired, "Yes", "No"
          %li
            %strong Reserved
            = boolean_in_word inventory_serial_part.reserved, "Yes", "No"
          %li
            %strong Added
          - if inventory_serial_part.manufatured_date
            %li
              %strong Manufactured date:
              #{inventory_serial_part.manufatured_date.to_date.strftime(INOCRM_CONFIG["short_date_format"])}
          - if inventory_serial_part.expiry_date
            %li
              %strong Expiry date:
              #{inventory_serial_part.expiry_date.to_date.strftime(INOCRM_CONFIG["short_date_format"])}

          - inventory_serial_part.grn_serial_parts.active_serial_parts.each do |grn_serial_part|
            %li
              %strong Currency
              = grn_serial_part.grn_item.currency.currency
            %li
              %strong GRN Cost
              = number_with_precision grn_serial_part.grn_item.current_unit_cost, precision: 2
            %li
              %strong Available
              = grn_serial_part.grn_item.remaining_quantity
          %li
            %strong Additional Cost
            = number_with_precision inventory_serial_part.inventory_serial_part_additional_costs.sum(:cost), precision: 2
          %li
            %strong Total Cost
            - tot_cost = inventory_serial_part.inventory_serial_part_additional_costs.sum(:cost) + inventory_serial_part.grn_serial_parts.active_serial_parts.inject(0){|i, k| i+ k.grn_item.remaining_quantity*k.grn_item.current_unit_cost}
            = number_with_precision tot_cost, precision: 2

        %strong Remarks:
        #{simple_format inventory_serial_part.remarks}
      .row
        .col-md-1{ "type"=> "button", "class"=> "btn btn-link has-popover", "data-toggle"=> "popover", "title"=> "Serial Item id: #{inventory_serial_part.serial_item_id}", "data-content"=> yield(:inventory_serial_part_more), "data-html" => "true", "data-trigger" => "hover", "data-placement" => "top" }
          - if params[:page]
            = (index+1) + 10*(params[:page].to_i-1)
          - else
            = (index+1)
        - inventory_serial_part.grn_serial_parts.active_serial_parts.each do |grn_serial_part|
          .col-md-1
            = grn_serial_part.grn_item.grn.grn_no_format
          .col-md-1
            = grn_serial_part.grn_item.grn.created_at.to_date.strftime(INOCRM_CONFIG["short_date_format"])
        .col-md-1
          = inventory_serial_part.serial_no
        .col-md-1
          = inventory_serial_part.ct_no
        .col-md-1
          = inventory_serial_part.product_condition.condition
        .col-md-1
          = inventory_serial_part.inventory_serial_item_status.try(:name)
        .col-md-2
          = boolean_in_word inventory_serial_part.parts_not_completed, "Yes", "No"
        .col-md-1
          = boolean_in_word inventory_serial_part.scavenge, "Yes", "No"
        .col-md-1
          = boolean_in_word inventory_serial_part.damage, "Yes", "No"
        .col-md-1
          = link_to "Select", inventories_admins_searches_path(select_action: "select_inventory_serial_part_more", inventory_serial_part_id: inventory_serial_part.id, store_id: @store.try(:id) )
          
      %hr