= render "admins/searches/inventory/serial_batch_non_header"

= paginate @inventory_batches, remote: false, method: :get

.row
  .col-md-1
    %strong No
  .col-md-1
    %strong GRN No
  .col-md-1
    %strong GRN Date
  .col-md-1
    %strong Batch No
  .col-md-1
    %strong Lot No
  .col-md-1
    %strong Available Quantity
  .col-md-1
    %strong Damage Quantity
  .col-md-2
    %strong Currency
  .col-md-1.text-right
    %strong Unit Cost
  .col-md-1.text-right
    %strong Total Cost
  .col-md-1
    %strong Select
%hr

- @inventory_batches.each_with_index do |inventory_batch, index|
  - content_for :grn_more, flush: true do
    - if inventory_batch
      %ul
        - if inventory_batch.manufatured_date
          %li
            %strong Manufactured date:
            #{inventory_batch.manufatured_date.to_date.strftime(INOCRM_CONFIG["short_date_format"])}
        - if inventory_batch.expiry_date
          %li
            %strong Expiry date:
            #{inventory_batch.expiry_date.to_date.strftime(INOCRM_CONFIG["short_date_format"])}
      %strong Remarks:
      #{simple_format inventory_batch.remarks}
  .row
    .col-md-1{ "type"=> "button", "class"=> "btn btn-link has-popover", "data-toggle"=> "popover", "title"=> "Batch No: #{inventory_batch.try(:batch_no)}", "data-content"=> yield(:grn_more), "data-html" => "true", "data-trigger" => "hover", "data-placement" => "bottom" }
      - if params[:page]
        = (index+1) + 10*(params[:page].to_i-1)
      - else
        = (index+1)
    - inventory_batch.grn_batches.each do |grn_batch|
      .col-md-1
        = grn_batch.grn_item.grn.grn_no_format
      .col-md-1
        = grn_batch.grn_item.grn.created_at.to_date.strftime(INOCRM_CONFIG["short_date_format"])
    .col-md-1
      = inventory_batch.batch_no
    .col-md-1
      = inventory_batch.lot_no
    
    - inventory_batch.grn_batches.each do |grn_batch|
      .col-md-1
        = grn_batch.remaining_quantity
      .col-md-1
        = grn_batch.damage_quantity
      .col-md-2
        = grn_batch.grn_item.currency.currency

      .col-md-1.text-right
        = number_with_precision grn_batch.grn_item.current_unit_cost, precision: 2
    .col-md-1.text-right
      = number_with_precision inventory_batch.batch_stock_cost, precision: 2

    .col-md-1
      = link_to "Select", inventories_admins_searches_path(select_action: "select_inventory_batch_more", inventory_batch_id: inventory_batch.id, store_id: @store.try(:id) )
      
  %hr

.row
  .col-md-3.pull-right.text-right
    %strong Total Cost: #{number_with_precision @total_stock_cost, precision: 2}
= paginate @inventory_batches, remote: false, method: :get
