.modal-header
  %h3.margin-none Activate User
= simple_form_for @user, remote: true do |f|
  .modal-body
    .row
      .col-md-3
        = f.input :active, collection: { "Activate" => true, "Deactivate" => false }
      .col-md-9
        = label_tag "Your Password", "Your Password"
        = password_field_tag "current_user_password", nil, placeholder: "password", class: "form-control has-tooltip", data: {toggle: "tooltip", placement: "left"}, title: "Your Password", placeholder: "Your Password"
  .modal-footer
    = link_to "Cancel", "#", data: {dismiss: "modal"}, class: "btn btn-link"
    = f.submit nil, name: @template_params, class: "btn btn-success", data: {disable_with: "Please wait..."}