.row
  = paginate contact_persons, remote: true, method: :post if contact_persons.present?
  .table-responsive.col-md-8.table-stiped.table
    %table.table
      %thead
        %tr
          %th
            Name
          %th
            Contacts
          / %th
          /   Ticket
          %th
            Function
      %tbody
        - contact_persons.each do |contact_person|
          %tr
            %td
              #{contact_person.mst_title.try(:title)} #{contact_person.name}

            %td
              - contact_person.contact_person_contact_types.each do |c_value|
                #{c_value.contact_type.name}: #{c_value.value}
                %br/

            / %td
            /   - contact_person.tickets.each do |ticket|
            /     #{ticket.ticket_no.to_s.rjust(5, INOCRM_CONFIG["ticket_no_format"])} #{ticket.ticket_status.name}
            /   %br/
            /   =link_to "More>>", "#"
            %td
              = link_to "select", "#", onclick: "Tickets.assign_contact_person('#{contact_person.id}', '#{submitted_contact_person}', 'assign_contact_person'); false;"
              = link_to "edit", "#", onclick: "Tickets.assign_contact_person('#{contact_person.id}', '#{submitted_contact_person}', 'edit_create_contact_person'); false;"