.row
  = paginate contact_persons, remote: true, method: :post if contact_persons.present?
  .table-responsive.col-md-8.table-stiped.table
    %table.table
      %thead
        %tr
          %th
            Name
          %th
            Contacts
          / %th
          /   Ticket
          %th
            Function
      %tbody
        - contact_persons.each do |contact_person|
          %tr
            %td
              #{contact_person.full_name}

            %td
              - contact_person.contact_person_contact_types.each do |c_value|
                = c_value.contact_info
                %br/
            %td
              = link_to "select", "#", onclick: "Tickets.assign_contact_person('#{contact_person.id}', '#{submitted_contact_person}', #{@product.id}, #{@ticket_time_now}, 'assign_contact_person'); false;"
              = link_to "edit", "#", onclick: "Tickets.assign_contact_person('#{contact_person.id}', '#{submitted_contact_person}', #{@product.id}, #{@ticket_time_now}, 'edit_create_contact_person'); false;"