.row
  / = paginate customers, remote: true, method: :post, params: {product_id: @product.id, ticket_time_now: @ticket_time_now} if customers.present?

  .table-responsive.col-md-8.table-stiped.table
    %table.table
      %thead
        %tr
          %th
            Name
          %th
            Cotact Person Type
          %th
            Email
          %th
            Mobile
          %th
            Fixed Line
          %th
            Designation
          %th
            Function
      %tbody
        - if product_owner.present?
          - product_owner.organization_contact_persons.each do |contact_person|
            %tr
              %td
                = contact_person.full_name
              %td
                = contact_person.contact_type_name
              %td
                = contact_person.email
              %td
                = contact_person.mobile
              %td
                = contact_person.telephone
              %td
                = contact_person.designation
              %td
                = link_to "select", "#", onclick: "Tickets.assign_contact_person('#{contact_person.id}', '#{submitted_contact_person}', '#{@product.id}', '#{@ticket_time_now}','initiate_contact_person'); false;"