.modal-header
  %h3.margin-none Update Password - security details
= simple_form_for @user, remote: true do |f|
  .modal-body
    = f.input :password, label: false, placeholder: "Password"
    = f.input :password_confirmation, label: false, placeholder: "Confirm new password"
    = f.input :password, label: false, placeholder: "password", input_html: {name: "current_user_password"}
  .modal-footer
    = link_to "Cancel", "#", data: {dismiss: "modal"}, class: "btn btn-link"
    = f.submit nil, name: @template_params, class: "btn btn-success"