.modal-header
  %h3.margin-none Update User name - Primary details
= simple_form_for @user, remote: true do |f|
  .modal-body
    = f.input :user_name, label: false, placeholder: "User name", input_html: {class: "has-tooltip", data: {toggle: "tooltip", placement: "left"}, title: "User Name"}
    .has-tooltip{data: {toggle: "tooltip", placement: "left"}, title: "Designation"}
      = f.association :designation, collection: (current_user.organization.try(:designations) || []), include_blank: false, label: false, input_html: { class: 'chosen-select'}
    .form-group
      = password_field_tag "current_user_password", nil, placeholder: "password", class: "form-control has-tooltip", data: {toggle: "tooltip", placement: "left"}, title: "Password"
  .modal-footer
    = link_to "Cancel", "#", data: {dismiss: "modal"}, class: "btn btn-link"
    = f.submit nil, name: @template_params, class: "btn btn-success"