.row
  %dl.dl-horizontal
    .col-md-6
      %h4 Customer Info
      %dt Customer
      %dd #{customer.name}
      %dt Address
      %dd #{customer.address1} #{customer.address2} #{customer.address3}
      %dt
        - customer.contact_type_values.each do |contact_type_value|
          = contact_type_value.contact_type.try(:name)
          %br
      %dd
        - customer.contact_type_values.each do |contact_type_value|
          = contact_type_value.value
          %br
%hr
.row
  %dl.dl-horizontal
    .col-md-4
      %h4 Contact Person 1
      %dt Name
      %dd #{ticket.contact_person1.name}
      %dt
        - ticket.contact_person1.contact_person_contact_types.each do |contact_person_contact_type|
          = contact_person_contact_type.contact_type.try(:name)
          %br
      %dd
        - ticket.contact_person1.contact_person_contact_types.each do |contact_person_contact_type|
          = contact_person_contact_type.value
          %br
  %dl.dl-horizontal
    .col-md-4
      %h4 Contact Person 2
      %dt Name
      %dd #{ticket.contact_person2.name}
      %dt
        - ticket.contact_person2.contact_person_contact_types.each do |contact_person_contact_type|
          = contact_person_contact_type.contact_type.try(:name)
          %br
      %dd
        - ticket.contact_person2.contact_person_contact_types.each do |contact_person_contact_type|
          = contact_person_contact_type.value
          %br
  %dl.dl-horizontal
    .col-md-4
      %h4 Reporter
      %dt Name
      %dd #{ticket.report_person.name}
      %dt
        - ticket.report_person.contact_person_contact_types.each do |contact_person_contact_type|
          = contact_person_contact_type.contact_type.try(:name)
          %br
      %dd
        - ticket.report_person.contact_person_contact_types.each do |contact_person_contact_type|
          = contact_person_contact_type.value
          %br