.row.small_scale_margin-bottom1
  %dl.dl-horizontal
    .col-md-6
      %h4 Customer Info
      %dt Customer
      %dd #{customer.mst_title.title} #{customer.name.capitalize}
      %dt Address
      %dd #{customer.address1} #{customer.address2} #{customer.address3}
      %dt
        - customer.contact_type_values.each do |contact_type_value|
          = contact_type_value.contact_type.try(:name)
          %br
      %dd
        - customer.contact_type_values.each do |contact_type_value|
          = contact_type_value.value
          %br
.row
  .col-md-4
    %h4 Contact Person 1 #{raw("<span class='text-success'>(Inform to)</span>") if ticket.inform_cp == ticket.contact_person1.id}
    %dt Name
    %dd #{ticket.contact_person1.mst_title.title} #{ticket.contact_person1.name.capitalize}
    - ticket.contact_person1.contact_person_contact_types.each do |contact_person_contact_type|
      %dt= contact_person_contact_type.contact_type.try(:name)
      %dd= contact_person_contact_type.value
  .col-md-4
    %h4 Contact Person 2 #{raw("<span class='text-success'>(Inform to)</span>") if ticket.inform_cp == ticket.contact_person2.id}
    %dt Name
    %dd #{ticket.contact_person2.mst_title.title} #{ticket.contact_person2.name.capitalize}
    - ticket.contact_person2.contact_person_contact_types.each do |contact_person_contact_type|
      %dt= contact_person_contact_type.contact_type.try(:name)
      %dd= contact_person_contact_type.value
  .col-md-4
    %h4 Reporter #{raw("<span class='text-success'>(Inform to)</span>") if ticket.inform_cp == ticket.report_person.id}
    %dt Name
    %dd #{ticket.report_person.mst_title.title} #{ticket.report_person.name.capitalize}
    - ticket.report_person.contact_person_contact_types.each do |contact_person_contact_type|
      %dt= contact_person_contact_type.contact_type.try(:name)
      %dd= contact_person_contact_type.value
.row
  .col-md-12.small_scale_margin-top1
    .alert.alert-success.padding0 Contact By: #{ticket.ticket_contact_type.name}