.row.small_scale_margin-bottom1
  %dl.dl-horizontal
    .col-md-6
      %h4 Customer Info
      %dt Customer
      %dd= customer.full_name
      %dt Address
      %dd= customer.full_address
      %dt
        - customer.contact_type_values.each do |contact_type_value|
          = contact_type_value.contact_type.try(:name)
          %br
      %dd
        - customer.contact_type_values.each do |contact_type_value|
          = contact_type_value.value
          %br
.row
  .col-md-4
    %h4 Contact Person 1 #{raw("<span class='text-success'>(Inform to)</span>") if ticket.inform_cp == 1}
    %dt Name
    %dd #{ticket.contact_person1.mst_title.title} #{ticket.contact_person1.name.capitalize}
    - ticket.contact_person1.contact_person_contact_types.each do |contact_person_contact_type|
      %dt= contact_person_contact_type.contact_type.try(:name)
      %dd= contact_person_contact_type.value
  - if ticket.contact_person2.present?
    .col-md-4
      %h4 Contact Person 2 #{raw("<span class='text-success'>(Inform to)</span>") if ticket.inform_cp == 2}
      %dt Name
      %dd #{ticket.contact_person2.full_name}
      - ticket.contact_person2.contact_person_contact_types.each do |contact_person_contact_type|
        %dt= contact_person_contact_type.contact_type.try(:name)
        %dd= contact_person_contact_type.value
  - if ticket.contact_person2.present?
    .col-md-4
      %h4 Reporter
      %dt Name
      %dd #{ticket.report_person.full_name}
      - ticket.report_person.contact_person_contact_types.each do |contact_person_contact_type|
        %dt= contact_person_contact_type.contact_type.try(:name)
        %dd= contact_person_contact_type.value
.row
  .col-md-12.small_scale_margin-top1
    .alert.alert-success.padding0 Contact By: #{ticket.ticket_contact_type.name}