- address_list = @address_list
.row
  .col-md-4
    = image_tag "no_image.jpg"
    = file_field_tag :file
  .col-md-8
    %h2#user_name= @user.user_name
    #id_primary_details_panel.panel.panel-default
      .panel-heading
        Primary Details
      .panel-body
        .row
          .col-md-10#id_user_name
            = @user.user_name
            %br
            Software Engineer
          .col-md-2#id_user_name_edit
            = link_to "Edit", initiate_user_profile_edit_user_path(template_params: "user_name_primary_details"), data: {toggle: "modal", target: "#user_edit_popup", userid: @user.id}, remote: true

        .row
          .col-md-10#id_user_email
            = @user.email
          .col-md-2#id_user_email_edit
            %a#edit_email_link{ "data-toggle" => "modal", "data-target" => "#user_edit_popup" } Edit

        .row
          .col-md-8
            = address_list.first.try :address
            /= address_list.select{|address| address.primary}.first
            #id_user_tpnum.collapse
              - skip_first = false
              - address_list.each do |a|
                - if skip_first 
                  = "#{a['address']}"
                  %br
                - skip_first = true
          .col-md-2= link_to "More>>", "#id_user_tpnum", data: {toggle: "collapse"} if @address_list.size > 1
          .col-md-2#id_user_tpnum_edit
            %a#edit_tpnum_link{ "data-toggle" => "modal", "data-target" => "#user_edit_popup" } Edit

        .row
          .col-md-8
            = address_list.first.try :address
            /= address_list.select{|address| address.primary}.first
            #id_user_address.collapse
              - skip_first = false
              - address_list.each do |a|
                - if skip_first 
                  = "#{a['address']}"
                  %br
                - skip_first = true
          .col-md-2= link_to "More>>", "#id_user_address", data: {toggle: "collapse"} if @address_list.size > 1
          .col-md-2#id_user_address_edit
            %a#edit_address_link{ "data-toggle" => "modal", "data-target" => "#user_edit_popup" } Edit

    #id_additional_details_panel.panel.panel-default
      .panel-heading
        Additional Details
      .panel-body

    #id_security_details_panel.panel.panel-default
      .panel-heading
        Security
      .panel-body
        .row
          .col-md-10#id_user_pw
            XXXXXXXX
          .col-md-2#id_user_pw_edit
            = link_to "Edit", initiate_user_profile_edit_user_path(template_params: "password_security_details"), data: {toggle: "modal", target: "#user_edit_popup", userid: @user.id}, remote: true

.col-md-1
/ = render "username_edit", mustache: {a: "apple", b: "b"}
/Editing modal
#profile_modal.modal.fade{tabindex: -1, role: "dialog", "aria-labelledby" => "profile_modal", "aria-hidden" => true}
  .modal-dialog
    .modal-content