- user = @user
- address_list = @address_list
- primary_address = @primary_address
- contact_number_list = @contact_number_list
- primary_contact_number = @primary_contact_number
.row
  .col-md-4
    #preview_of_profile_image
      - if user.avatar.present?
        / = link_to_function "remove", "UsersObject.remove_image('#{user.email}')", class: "remove-image text-hide-for-image", title: "Remove profile image"
        = image_tag user.avatar.thumb.url, class: "img-polaroid img-responsive"
      - else
        = image_tag "no_image.jpg", alt: user.user_name, title: "profile image", class: "img-polaroid margin-none img-responsive"
    .upload_button
      = simple_form_for(user, url: upload_avatar_user_path(user), :html => { :method => :put, class: "form-horizontal fixed margin-bottom0" }, remote: true) do |f|
        #profile_image_edit.btn.btn-info.btn-mini.fileinput-button{style: "min-height: 10px;"}
          %span Upload image
          = f.file_field :avatar, accept: 'image/png,image/gif,image/jpeg'

    .profile_image_wrapper


    %script#profile_image_upload{type: "text/x-tmpl"}
      .profile_image_upload.span12
        {%= o.name %}
        .progress
          .progress-bar.progress-bar-success.progress-bar-striped{role: "progressbar", "aria-valuemax" => 100, "aria-valuemin" => 0, "aria-valuenow" => 0}

  .col-md-8
    .row
      .col-md-12
        %h2#user_name.margin-none= user.user_name
        %blockquote
          = user.designation.try :name
          = link_to "Edit", initiate_user_profile_edit_user_path(template_params: "user_name_primary_details"), data: {toggle: "modal", target: "#user_edit_popup", userid: user.id}, remote: true, class: "pull-right"

    = panels panel_type: "default", header_content: "Primary Details (#{user.roles.map{|r| r.name.humanize}.join(', ')})" do
      .row
        .col-md-12#user_email
          = mail_to user.email, user.email
      .row
        .col-md-3.text-right
          Contact Number:
        .col-md-5
          #{primary_contact_number.try :value} (#{primary_contact_number.try :category})
        .col-md-2
          %span
            = link_to "More >>", initiate_user_profile_edit_user_path(template_params: "contact_numbers_primary_details"), data: {toggle: "modal", target: "#user_edit_popup", userid: user.id}, remote: true, class: "pull-right" if contact_number_list.present?
        .col-md-2.pull-right= link_to "Edit", initiate_user_profile_edit_user_path(template_params: "contact_numbers_primary_details"), data: {toggle: "modal", target: "#user_edit_popup", userid: user.id}, remote: true, class: "pull-right"
      .row
        .col-md-3.text-right
          Contact Address:
        .col-md-5
          %address
            %strong
              = primary_address.try :category
            = simple_format(primary_address.try :address)
        .col-md-2
          %span
            = link_to "More >>", initiate_user_profile_edit_user_path(template_params: "addresses_primary_details"), data: {toggle: "modal", target: "#user_edit_popup", userid: user.id}, remote: true, class: "pull-right" if address_list.present?
        .col-md-2.pull-right= link_to "Edit", initiate_user_profile_edit_user_path(template_params: "addresses_primary_details"), data: {toggle: "modal", target: "#user_edit_popup", userid: user.id}, remote: true, class: "pull-right"

    = panels panel_type: "default", id: "id_additional_details_panel", header_content: "Additional Details" do
      .row-fluid
        .row
          .col-md-2.text-right
            Full Name
          .col-md-10
            #{user.name_title} #{user.first_name} #{user.last_name}
        .row
          .col-md-2.text-right
            N.I.C Number
          .col-md-10
            = user.NIC
        .row
          .col-md-2.text-right
            E.P.F Number
          .col-md-10
            = user.epf_no
        .row
          .col-md-2.text-right
            Date joined
          .col-md-10
            = user.date_joined_at.try(:strftime, "%d %b, %Y")
        .row
          .col-md-2.text-right
            Organization
          .col-md-10
            = link_to user.organization.try(:name), user.organization if user.organization

      .pull-right= link_to "Edit", initiate_user_profile_edit_user_path(template_params: "additional_details"), data: {toggle: "modal", target: "#user_edit_popup", userid: user.id}, remote: true

    =panels panel_type: "default", id: "id_security_details_panel", header_content: "Security" do
      .row-fluid
        .row
          XXXXXXXX
      .pull-right= link_to "Edit", initiate_user_profile_edit_user_path(template_params: "password_security_details"), data: {toggle: "modal", target: "#user_edit_popup", userid: user.id}, remote: true

.col-md-1
/ = render "username_edit", mustache: {a: "apple", b: "b"}
/Editing modal
#profile_modal.modal.fade{tabindex: -1, role: "dialog", "aria-labelledby" => "profile_modal", "aria-hidden" => true}
  .modal-dialog
    .modal-content