- uri = URI(request.url)
%fieldset
  %legend Reject extend warranty
  = simple_form_for @reject_warranty_extend, url: extend_warranty_update_reject_extend_warranty_tickets_path, method: :post, html: {class: "validate_form"} do |f|
    = hidden_field_tag :process_id, Rails.cache.fetch([uri.path, params[:task_id]])[:process_id]
    = hidden_field_tag :task_id, Rails.cache.fetch([uri.path, params[:task_id]])[:task_id]
    = hidden_field_tag :owner, Rails.cache.fetch([uri.path, params[:task_id]])[:owner]
    - Rails.cache.fetch([uri.path, params[:task_id]])[:bpm_input_variables].each do |bpm_input_variable|
      = hidden_field_tag bpm_input_variable[0], bpm_input_variable[1]

    .row
      .col-md-3
        = f.association :reject_reason_id, label_method: :reason, value_method: :id, label: "Request reason", collection: Reason.where(warranty_extend: true), include_blank: false
      .col-md-3
        = f.input :reject_note, required: true
      .col-md-6
        = f.input :extended, as: :hidden, input_html: {value: false}
      .col-md-12
        = f.submit "Save", class: "btn btn-success"