- uri = URI(request.url)
%fieldset
  %legend New Warranty
  = simple_form_for @warranty, url: extend_warranty_update_extend_warranty_warranties_path, method: :post do |f|
    = f.input :product_serial_id, as: :hidden, input_html: {value: @product.id}

    = hidden_field_tag :process_id, Rails.cache.fetch([uri.path, params[:task_id]])[:process_id]
    = hidden_field_tag :task_id, Rails.cache.fetch([uri.path, params[:task_id]])[:task_id]
    = hidden_field_tag :owner, Rails.cache.fetch([uri.path, params[:task_id]])[:owner]
    - Rails.cache.fetch([uri.path, params[:task_id]])[:bpm_input_variables].each do |bpm_input_variable|
      = hidden_field_tag bpm_input_variable[0], bpm_input_variable[1]

    .row
      .col-md-6
        = f.association :warranty_type, as: :radio_buttons, wrapper: :append, collection: WarrantyType.where(active: true).first(2), checked: WarrantyType.find_by_code("MW").id
      .col-md-6
        .strong
          Warranty date format
        %select.selectpicker{:name => "selValue", class: "small_scale_margin-top1"}
          %option dd M, yyyy
          %option dd, yyyy, M
          %option M, yyyy, dd
          %option M, dd, yyyy
          %option yyyy, M, dd
          %option yyyy, dd, M
    .row
      .col-md-6
        = f.input :start_at, as: :string, input_html: {class: "datepicker"}
      .col-md-6
        = f.input :end_at, as: :string, input_html: {class: "datepicker"}
    .row
      .col-md-4
        = f.input :period_part, input_html: {min: "0", class: "only_float"}
      .col-md-4
        = f.input :period_labour, input_html: {min: "0", class: "only_float"}
      .col-md-4
        = f.input :period_onsight, label: "Corporate on-site", input_html: {min: "0", class: "only_float"}
    .row
      .col-md-3
        = f.input :care_pack_product_no, label: "Care pack product number"
      .col-md-3
        = f.input :care_pack_reg_no, label: "Care pack reg number"
      .col-md-6
        = f.input :note, input_html: {rows: 1}
    = f.submit "Save", class: "btn btn-info", data: {disable_with: "Please wait..."}