- ticket = @ticket
- product = @product
- estimation = @estimation
- ticket_payment_received = @ticket_payment_received
= render "tickets/tickets_pack/ticket_header", ticket: ticket, product: product

= tab_panel do
  = tab_nav_tab({class: "small_scale_margin-bottom1"}, ticket_info: {content: "Ticket info"}, invoice_for_chargeable: {content: "Invoice For Chargeable", active_class: "active"} )
  .tab-content
    = tab_content tabpointer: :ticket_info do
      = tab_panel do
        = render "tickets/tickets_pack/ticket_info", ticket: ticket, product: product
    = tab_content tabpointer: :invoice_for_chargeable, active_class: "active" do
      = tab_panel do
        = render "tickets/tickets_pack/invoice_for_chargeable/invoice_for_chargeable", estimation: estimation , ticket_payment_received: ticket_payment_received