- if @srr
  = simple_nested_form_for @srr, url: create_srr_admins_inventories_path, html: {class: "validate_form"} do |f|
    = f.input :created_by, as: :hidden
    = f.input :srr_no, as: :hidden, input_html: {value: CompanyConfig.first.next_inv_last_srr_no}
    = f.input :store_id, as: :hidden
    = f.input :requested_module_id, as: :hidden

    .row
      .col-md-12
        - if @srr.errors.any?
          %ul
            - @srr.errors.full_messages.each do |error|
              %li.alert.alert-danger= error
      .col-md-6
        %strong SRR No:
        = CompanyConfig.first.next_inv_last_srr_no.to_s.rjust(5, INOCRM_CONFIG["inventory_srr_no_format"])
        %br/
        %strong Store:
        = f.object.store.name

      .col-md-6.text-right
        %strong Created by:
        = current_user.full_name
        %br/
        %strong Created at:
        = DateTime.now.strftime("%Y-%m-%d %H:%M")
    %hr

    .row
      .col-md-3
        %h4 SRN
      .col-md-9
        %dl.dl-horizontal
          %dt SRN No:
          %dd= @gin.srn.formatted_srn_no
          %dt Required date:
          %dd= @gin.srn.created_at.try(:strftime, INOCRM_CONFIG["short_date_format"])
          %dt Created by:
          %dd= @gin.srn.created_by_user.full_name
          %dt Created at:
          %dd= @gin.srn.created_at.strftime(INOCRM_CONFIG["short_date_format"])
          %dt Remarks:
          %dd= simple_format @gin.srn.remarks

    %hr
    .row
      .col-md-3
        %h4 GIN

      .col-md-9
        %dl.dl-horizontal
          %dt GIN No:
          %dd= @gin.formatted_gin_no
          %dt GIN date:
          %dd= @gin.created_at.try(:strftime, INOCRM_CONFIG["short_date_format"])
          %dt Created by:
          %dd= @gin.created_by_user_full_name
          %dt Created at:
          %dd= @gin.created_at.strftime(INOCRM_CONFIG["short_date_format"])
          %dt Remarks:
          %dd= simple_format @gin.remarks
    %hr

    = f.simple_fields_for :srr_items do |g|
      = g.input :product_id, as: :hidden
      .row
        .col-md-3
          %h4 Product Information
        .col-md-9
          %dl.dl-horizontal
            %dt Item code:
            %dd= g.object.inventory_product.generated_item_code
            %dt Item description:
            %dd= g.object.inventory_product.description
            %dt Requested quantity
            %dd= g.object.inventory_product.srn_items.by_store(f.object.store.id).sum(:quantity)
            %dt Stock in hand
            %dd= g.object.inventory_product.inventories.where(store_id: f.object.store.id).to_a.sum{|i| i.inventory_stock_quantity}
            %dt Order unit
            %dd= g.object.inventory_product.inventory_unit.unit
            %dt Type
            %dd= g.object.inventory_product.product_type

            %dt Issued quantity
            %dd= g.object.srr_item_sources.to_a.sum{|s| s.gin_source.issued_quantity}
            %dt Balance to be issued:
            %dd= g.object.inventory_product.srn_items.by_store(f.object.store.id).sum(:quantity) - g.object.srr_item_sources.to_a.sum{|s| s.gin_source.issued_quantity} + g.object.srr_item_sources.to_a.sum{|s| s.gin_source.returned_quantity}
            %dt Returned quantity
            %dd= g.object.srr_item_sources.to_a.sum{|s| s.gin_source.returned_quantity}

            - if g.object.inventory_product.product_type == "Serial"
              - g.object.inventory_product.inventory_serial_items.each do |serial_item|
                = render "admins/inventories/srr/serial_part_info", serial_item: serial_item

            - elsif g.object.inventory_product.product_type == "Batch"
              - g.object.inventory_product.inventory_batches.each do |batch|
                = render "admins/inventories/srr/batch_info", batch: batch
            - else
              - g.object.inventory_product.grn_items.only_grn_items1.each do |grn_item|
                = render "admins/inventories/srr/non_serial_non_batch_info", grn_item: grn_item

            = g.simple_fields_for :srr_item_sources do |s|

              - if not ["Serial", "Batch"].include?(g.object.inventory_product.product_type)
                %dt Required quantity
                %dd= s.input :returned_quantity, label: false
              - else
                = s.input :returned_quantity, as: :hidden

              %hr
          .col-md-12
            = g.input :remarks

    %hr
    .row
      .col-md-12
        = f.input :remarks



- else
  = render "admins/searches/gin/search_gin"