.row.margin-none
  .fixed.pull-left
    .span3
      = link_to department do
        = image_tag (department.logo.thumb.url || "organization_image.png"), class: "img-polaroid img-responsive ", height: '100%', width: '100%'
  .col-md-11
    = link_to department do
      %div= department.name
    %div= department.short_name
    %div= department.web_site
    = link_to "#" do
      = glyph(:pencil)
      = glyph(:remove)