- total_estimated = total_additional_cost = total_additional_estimated = 0
.row
  .col-md-12
    %h4 Selected external estimation

- estimation.ticket_estimation_externals.each do |estimation_external|
  - if estimation_external.description.present?
    - total_estimated += (estimation.approval_required ? estimation_external.approved_estimated_price : estimation_external.estimated_price).to_i
    %strong Description:
    = estimation_external.description
    %br/
  .row
    .col-md-4
      %strong Status:
      #{estimation.estimation_status.name}
    .col-md-4
      %strong Customer Approval:
      - if estimation.cust_approved
        Approved
      - elsif estimation.cust_approved.is_a? FalseClass
        Rejected

    .col-md-4
      %strong Warranty period (In Months):
      #{estimation_external.warranty_period}
  %hr/
  .row
    .col-md-4
      %strong Repaired By (Organization):
      #{estimation_external.organization.name}
    .col-md-4
      %strong Cost Price (#{estimation.ticket.ticket_currency.code}):
      #{number_with_precision estimation_external.cost_price, precision: 2}
    .col-md-4
      %strong Estimated Price (#{estimation.ticket.ticket_currency.code}):
      #{number_with_precision (estimation.approval_required ? estimation_external.approved_estimated_price : estimation_external.estimated_price), precision: 2}
  - if estimation_external.ticket_estimation_external_taxes.present?
    .panel-group
      .panel.panel-success
        .panel-heading Taxes
        .panel-body.tax_wrapper
          .row
            - estimation_external.ticket_estimation_external_taxes.each do |external_tax|
              .col-md-4
                %strong Tax:
                = external_tax.tax.tax
              .col-md-4
                %strong Tax rate (#{estimation.ticket.ticket_currency.code}):
                = external_tax.tax_rate
              .col-md-4
                %strong Tax amount (#{estimation.ticket.ticket_currency.code}):
                - if estimation.approval_required
                  = external_tax.approved_tax_amount
                - else
                  = external_tax.estimated_tax_amount

- estimation.ticket_estimation_additionals.each do |ticket_estimation_additional|
  .row
    .col-md-4
      %strong Additional Charges:
      #{ticket_estimation_additional.additional_charge.try(:additional_charge)}

    .col-md-4
      %strong Cost Price (#{estimation.ticket.ticket_currency.code}):
      #{number_with_precision ticket_estimation_additional.cost_price, precision: 2}
      - total_additional_cost += (ticket_estimation_additional.cost_price)

    .col-md-4
      %strong Estimated Price (#{estimation.ticket.ticket_currency.code}):
      #{number_with_precision (estimation.approval_required ? ticket_estimation_additional.approved_estimated_price : ticket_estimation_additional.estimated_price), precision: 2}
      - total_additional_estimated += (estimation.approval_required ? ticket_estimation_additional.approved_estimated_price : ticket_estimation_additional.estimated_price).to_i

  - if ticket_estimation_additional.ticket_estimation_additional_taxes.present?
    .panel-group
      .panel.panel-success
        .panel-heading Taxes
        .panel-body.tax_wrapper
          .row
            - ticket_estimation_additional.ticket_estimation_additional_taxes.each do |additional_tax|
              .col-md-4
                %strong Tax:
                = additional_tax.tax.tax
              .col-md-4
                %strong Tax rate (#{estimation.ticket.ticket_currency.code}):
                = additional_tax.tax_rate
              .col-md-4
                %strong Tax amount (#{estimation.ticket.ticket_currency.code}):
                - if estimation.approval_required
                  = additional_tax.approved_tax_amount
                - else
                  = additional_tax.estimated_tax_amount
.row{style: "margin-top:10px;"}
  .col-md-4.col-md-offset-4
    %strong Total Additional Cost  (#{estimation.ticket.ticket_currency.code}): #{number_with_precision total_additional_cost, precision: 2}
  .col-md-4
    %strong Total Additional Estimated Price (#{estimation.ticket.ticket_currency.code}): #{number_with_precision total_additional_estimated, precision: 2}

%hr

.row
  .col-md-12
    %strong Total Estimated Price (#{estimation.ticket.ticket_currency.code}) : #{number_with_precision (total_estimated + total_additional_estimated), precision: 2}
.row
  .col-md-4
    %strong Min. Advance Payment (#{estimation.ticket.ticket_currency.code}):
    = number_with_precision (estimation.approval_required ? estimation.approved_adv_pmnt_amount : estimation.advance_payment_amount), precision: 2
  .col-md-6
    %strong Advance Payment Received (#{estimation.ticket.ticket_currency.code}):
    = number_with_precision estimation.ticket.ticket_payment_receiveds.where(type_id: TicketPaymentReceivedType.find_by_code("AD").id).sum(:amount).to_i, precision: 2

.row
  .col-md-6
    - unless (estimation.estimation_status.code == "EST") and estimation.cust_approval_required and estimation.cust_approved.nil?
      %hr
      %strong Estimation note:
      = simple_format estimation.note

- if params[:template_action] != "ajax_show"
  %hr
  - if (estimation.estimation_status.code == "EST") and estimation.cust_approval_required and estimation.cust_approved.nil?
    %fieldset
      %legend Estimation customer approval
      = simple_form_for estimation, url: update_estimation_external_customer_approval_inventories_path do |f|

        = hidden_field_tag :process_id, Rails.cache.fetch(["/tickets/resolution", params[:task_id]])[:process_id]
        = hidden_field_tag :task_id, Rails.cache.fetch(["/tickets/resolution", params[:task_id]])[:task_id]
        = hidden_field_tag :owner, Rails.cache.fetch(["/tickets/resolution", params[:task_id]])[:owner]
        - Rails.cache.fetch(["/tickets/resolution", params[:task_id]])[:bpm_input_variables].each do |bpm_input_variable|
          = hidden_field_tag bpm_input_variable[0], bpm_input_variable[1]

        = f.input :id, as: :hidden

        = f.input :cust_approved, as: :radio_buttons, collection: {approved: true, rejected: false}, wrapper: :append, label: false, input_html: {class: "approve_radio_button"}
        = f.input :note, input_html: {value: nil}
        = simple_format f.object.note
        - if estimation.ticket_estimation_externals.present?
          .request_part_check
            = label_tag "Request to deliver unit"
            = check_box_tag :request_deliver_unit, true, (estimation.advance_payment_amount.to_f == 0)
        = f.submit "Save", class: "btn btn-success btn-sm"