%strong All Estimations
%table.table.table-responsive.table-condensed.table-bordered
  %thead
    %tr
      %th
      %th
      %th
      %th{colspan: 3, class: "text-center"} Estimated amount (#{ticket.ticket_currency.code})
    %tr
      %th No
      %th Requested date
      %th No of parts
      %th Parts
      %th Additional
      %th Total
      %th Min. advanced payment
      %th Estimation status

  %tbody
    - ticket.ticket_estimations.each do |estimation|
      %tr
        %td
          = link_to load_estimation_inventories_path(estimation_id: estimation.id, estimation_type: "#{ticket.ticket_repair_type.code == 'EX' ? 'external' : 'part' }"), remote: true do
            = estimation.id
        %td= estimation.requested_at
        %td= estimation.ticket_estimation_parts.count
        %td= number_with_precision estimation.ticket_estimation_parts.sum(:estimated_price), precision: 2
        %td= number_with_precision estimation.ticket_estimation_additionals.sum(:estimated_price), precision: 2
        %td= number_with_precision(estimation.ticket_estimation_parts.sum(:estimated_price) + estimation.ticket_estimation_additionals.sum(:estimated_price), precision: 2)
        %td= number_with_precision estimation.advance_payment_amount, precision: 2
        %td= estimation.estimation_status.name

#estimation_ajax_frame