- estimation.ticket_estimation_externals.each do |estimation_external|
  Repaired by: #{estimation_external.repaired_by_id}
  %br/
  Cost price: #{estimation_external.cost_price}
  %br/
  Estimated price (Rs): #{estimation_external.estimated_price}
  %br/
  Profit margin: 
  %br/

%fieldset
  %legend Estimation customer approval
  = simple_form_for estimation, url: update_estimation_customer_approval_inventories_path do |f|
    = f.input :id, as: :hidden
    / = f.input :cust_approved_at, as: :hidden, input_html: {value: DateTime.now}
    = f.input :cust_approved_by, as: :hidden, input_html: {value: current_user.id}

    = f.input :cust_approved, as: :radio_buttons, collection: {approved: true, rejected: false}, wrapper: :append, label: false
    = f.input :note
    = f.submit "Save", class: "btn btn-success btn-sm"