- total_estimation = 0

%strong Selected Estimation
%center.strong.br Status : #{estimation.estimation_status.name}
%center.strong Customer Approval :- #{estimation.cust_approved ? 'Approved' : (estimation.cust_approved.nil? ? '' : 'Rejected') }

- if estimation.cust_approval_required
  approved:
  = estimation.approved
  approved at:
  = estimation.approved_at
  approved by:
  = estimation.approved_by

- estimation.ticket_estimation_parts.each do |estimation_part|
  %fieldset
    %legend Part No #{estimation_part.ticket_spare_part.try(:spare_part_no)}
    .row
      .col-md-12
        Supplier : #{estimation_part.supplier.try :name}
    .row
      .col-md-6
        Cost Price (#{estimation.ticket.ticket_currency.code}) : #{estimation_part.cost_price}
      .col-md-6
        - if estimation.approval_required
          - total_estimation = total_estimation + estimation_part.approved_estimated_price.to_i
          Estimate Price (#{estimation.ticket.ticket_currency.code}) : #{estimation_part.approved_estimated_price}
        - else
          - total_estimation = total_estimation + estimation_part.estimated_price.to_i
          Estimate Price (#{estimation.ticket.ticket_currency.code}) : #{estimation_part.estimated_price}
    .row
      .col-md-12
        Part No : #{estimation_part.ticket_spare_part.try(:spare_part_no)}
    .row
      .col-md-4
        Part Description : #{estimation_part.ticket_spare_part.try(:spare_part_description)}
      .col-md-8
        - if estimation_part.warranty_period
          Warranty Period Months : #{estimation_part.warranty_period}
    .row
      .col-md-4


    - if estimation_part.ticket_spare_part.try(:ticket_spare_part_store).present?
      .row
        .col-md-12
          %strong Requested Part
      .row
        .col-md-12
          Store : #{estimation_part.ticket_spare_part.ticket_spare_part_store.try(:store).try(:name)}
      .row
        .col-md-12
          Item Code : #{estimation_part.ticket_spare_part.ticket_spare_part_store.try(:inventory_product).try(:generated_item_code)}
      .row
        .col-md-12
          Item Description : #{estimation_part.ticket_spare_part.ticket_spare_part_store.try(:inventory_product).try(:description)}
      .row
        .col-md-12
          / Available Qnt : #{estimation_part.ticket_spare_part.ticket_spare_part_store.try(:inventory_product).try(:inventory).try(:available_quantity)}
          Available Qnt: #{estimation_part.ticket_spare_part.ticket_spare_part_store.try(:inventory_product) and estimation_part.ticket_spare_part.ticket_spare_part_store.inventory_product.inventories.where(store_id: estimation_part.ticket_spare_part.ticket_spare_part_store.store_id).first.try(:available_quantity)}
        .col-md-12
          Unit : #{estimation_part.ticket_spare_part.ticket_spare_part_store.try(:inventory_product).try(:inventory_unit).try(:unit)}
    .row
      .col-md-12
        Note : #{simple_format estimation_part.ticket_spare_part.try(:note)}

- estimation.ticket_estimation_additionals.each do |ticket_estimation_additional|
  .row
    .col-md-4
      Additional Charges : #{ticket_estimation_additional.additional_charge.try(:additional_charge)}
    .col-md-4
      Cost Price(#{estimation.ticket.ticket_currency.code}) : #{ticket_estimation_additional.cost_price}
    .col-md-4
      - if estimation.approval_required
        Estimate Price (#{estimation.ticket.ticket_currency.code}) : #{ticket_estimation_additional.approved_estimated_price}
      - else
        Estimate Price (#{estimation.ticket.ticket_currency.code}) : #{ticket_estimation_additional.estimated_price}

.row
  .col-md-4
    / Total (#{estimation.ticket.ticket_currency.code}) : xxxx
  .col-md-4
    Total (#{estimation.ticket.ticket_currency.code}) : #{number_with_precision estimation.ticket_estimation_additionals.sum(:cost_price), precision: 2}
  .col-md-4
    - if estimation.approval_required
      - total_estimation = total_estimation + estimation.ticket_estimation_additionals.sum(:approved_estimated_price).to_i
      Total (#{estimation.ticket.ticket_currency.code}) : #{number_with_precision estimation.ticket_estimation_additionals.sum(:approved_estimated_price), precision: 2}
    - else
      - total_estimation = total_estimation + estimation.ticket_estimation_additionals.sum(:estimated_price).to_i
      Total (#{estimation.ticket.ticket_currency.code}) : #{number_with_precision estimation.ticket_estimation_additionals.sum(:estimated_price), precision: 2}

.row
  .col-md-12
    %strong Total Estimated Price (#{estimation.ticket.ticket_currency.code}) : #{number_with_precision total_estimation, precision: 2}
.row
  .col-md-4
    - if estimation.approval_required
      Min.Advanced Payment (#{estimation.ticket.ticket_currency.code}) : #{number_with_precision estimation.approved_adv_pmnt_amount, precision: 2}
    - else
      Min.Advanced Payment (#{estimation.ticket.ticket_currency.code}) : #{number_with_precision estimation.advance_payment_amount, precision: 2}
  .col-md-4
    Advanced Payment Recieved (#{estimation.ticket.ticket_currency.code}) : #{number_with_precision estimation.ticket_payment_received.try(:amount).to_i, precision: 2}
.row
  .col-md-12
    Note : #{estimation.note}

- if estimation.ticket.ticket_repair_type.code == "EX"
  %fieldset
    %legend Estimation customer approval
    = simple_form_for estimation, url: update_estimation_customer_approval_inventories_path do |f|
      = f.input :id, as: :hidden

      = f.input :cust_approved_by, as: :hidden, input_html: {value: current_user.id}

      = f.input :cust_approved, as: :radio_buttons, collection: {approved: true, rejected: false}, wrapper: :append, label: false
      = f.input :note
      = f.submit "Save", class: "btn btn-success btn-sm"