.modal-dialog.modal-lg
  .modal-content
    .modal-header
      %h4.modal-title Select Batches
    .modal-body
      .row
        .col-md-4
          %strong Item code:
          = @product.generated_item_code
        .col-md-4
          %strong Item description:
          = @product.description
        .col-md-4
          %strong Unit:
          = @product.inventory_unit.unit
        .col-md-4
          %strong Balance Qty to be issued:
          %span#balance_quantity_batch{data: {fixed: (@srn_item.quantity.to_f - @srn_item.gin_items.sum(:issued_quantity))}}= @srn_item.quantity.to_f - @srn_item.gin_items.sum(:issued_quantity)
        .col-md-4
          %strong Stock Qty:
          = @inventory.stock_quantity
        .col-md-4
          %strong Issue type:
          = boolean_in_word @product.fifo, "FIFO", "FILO"
        .col-md-4
          %strong Selected Qty:
          %span#selected_quantity_batch 0

      %hr
      = form_tag batch_or_serial_for_gin_admins_inventories_path(batch_or_serial: "issued_qty", serial_flag: "false"), method: :get, remote: true do
        = hidden_field_tag :srn_item_id, params[:srn_item_id]
        - counter = 0

        .col-md-12= submit_tag "Issue", class: "btn btn-sm btn-success pull-right", id: "issue_button"
        .row
          .col-md-2
            %strong NO
          .col-md-2
            %strong GRN No
          .col-md-2
            %strong Lot No
          .col-md-2
            %strong Batch No
          .col-md-2
            %strong Available quantity
          .col-md-2
            %strong Select

        %hr
        - @grn_items.each do |grn_item|
          - grn_item.grn_batches.where("remaining_quantity > 0").each_with_index do |grn_batch, index1|
            - content_for :batches_more, flush: true do
              %ul
                %li
                  %strong GRN Date:
                  #{grn_batch.grn_item.created_at.try :strftime, INOCRM_CONFIG["short_date_format"]}
                %li
                  %strong Manufactured Date:
                  #{grn_batch.inventory_batch.manufatured_date.try :strftime, INOCRM_CONFIG["short_date_format"]}
                %li
                  %strong Expiry Date:
                  #{grn_batch.inventory_batch.expiry_date.try :strftime, INOCRM_CONFIG["short_date_format"]}
                %li
                  %strong Remarks
                  #{grn_batch.inventory_batch.remarks}

            .row
              .col-md-2{ "type"=> "button", "class"=> "btn btn-link has-popover", "data-toggle"=> "popover", "title"=> "Item code:", "data-content"=> "#{yield(:batches_more)}", "data-html" => "true", "data-trigger" => "hover", "data-placement" => "right" }
                = counter += 1
              .col-md-2
                = grn_item.grn.grn_no.to_s.rjust(5, INOCRM_CONFIG["inventory_grn_no_format"])
              .col-md-2
                = grn_batch.inventory_batch.try(:lot_no)
              .col-md-2
                = grn_batch.inventory_batch.try(:batch_no)
              .col-md-2
                .remaining_quantity_batch= grn_batch.remaining_quantity
              .col-md-2
                = text_field_tag "recieved_quantity[#{grn_batch.id}]", 0, class: "form-control batch_quantity", data: {prevval: 0}
                .hide= check_box_tag "grn_batch_ids[]", grn_batch.id, false, id: "grn_batch_ids_#{grn_batch.id}"
          - if grn_item.grn_batches.where("remaining_quantity > 0").any?
            %hr