= link_to "Re-search", gin_admins_inventories_path
- total_stock_quantity = 0
.row
  .col-md-2
    %h4 GIN
  .col-md-10
    %dl.dl-horizontal
      %dt GIN No:
      %dd
        = CompanyConfig.first.next_sup_last_gin_no.to_s.rjust(5, INOCRM_CONFIG["inventory_gin_no_format"])
      %dt Store:
      %dd
        = @srn.store.name
      %dt Created by:
      %dd
        = current_user.full_name
      %dt Created at:
      %dd
        = DateTime.now.try(:strftime, "%Y-%m-%d %H:%M")
%hr
.row
  .col-md-2
    %h4 SRN
  .col-md-10
    %dl.dl-horizontal
      %dt SRN No:
      %dd= @srn.srn_no.to_s.rjust(5, INOCRM_CONFIG["inventory_srn_no_format"])
      %dt Required Date:
      %dd= @srn.required_at.try(:strftime, "%Y-%m-%d")
      %dt Created at:
      %dd= @srn.created_at.try(:strftime, "%Y-%m-%d")
      %dt Remarks
      %dd= @srn.remarks

%hr
%h4 GIN Items

= simple_nested_form_for @gin, url: create_gin_admins_inventories_path, html: {class: "validate_form"} do |f|
  = f.input :store_id, as: :hidden
  = f.input :srn_id, as: :hidden
  = collapse_wrapper collapse_id: "gin_form_collapse", labelledby: "gin_form_collapse_labelledby" do
    - index = 0
    = f.simple_fields_for :gin_items do |i|
      - index += 1
      = collapse collapse_type: "info", labelledby: "gin_form_collapse_search", header_content: "No: #{index} #{i.object.inventory_product.generated_item_code} #{i.object.inventory_product.description}", collapse_link: "gin_form_collapse_search_inv_#{i.object_id}", collapse_id: "gin_form_collapse" do

        - product = i.object.inventory_product
        - main_product = i.object.main_inventory_product

        - need_serial = product.inventory_product_info.need_serial.present?
        - need_batch = product.inventory_product_info.need_batch.present?

        - inventory = product.inventories.find_by_store_id(f.object.store_id)

        - stock_quantity = inventory.try(:stock_quantity)
        - total_stock_quantity += stock_quantity.to_f

        - if main_product.present?
          - main_inventory = main_product.inventories.find_by_store_id(f.object.store_id)

          - main_stock_quantity = main_inventory.try(:stock_quantity)

          - main_inventory_bin = main_inventory.inventory_bin.description
          - main_inventory_shelf = main_inventory.inventory_bin.inventory_shelf.description
          - main_inventory_rack = main_inventory.inventory_bin.inventory_shelf.inventory_rack.description

        - if inventory.try(:inventory_bin)
          - inventory_bin = inventory.inventory_bin.description
          - inventory_shelf = inventory.inventory_bin.inventory_shelf.description
          - inventory_rack = inventory.inventory_bin.inventory_shelf.inventory_rack.description

        = i.input :product_id, as: :hidden
        = i.input :main_product_id, as: :hidden
        = i.input :srn_item_id, as: :hidden
        = i.input :returnable, as: :hidden
        = i.input :spare_part, as: :hidden

        .row
          .col-md-6
            .row
              .col-md-12
                %h4 Product info
                %dl.dl-horizontal.css_expand_dt
                  %dt Item code:
                  %dd= product.generated_item_code
                  %dt Item description:
                  %dd= product.description
                  %dt Unit:
                  %dd= product.inventory_unit.unit
                  %dt Requested Qty:
                  %dd= i.object.srn_item.quantity.to_f
                  %dt Balanced Qty to be issued:
                  %dd= i.object.srn_item.quantity.to_f - i.object.srn_item.gin_items.sum(:issued_quantity)
                  %dt Stock in hand:
                  %dd
                    %span{class: "label label-#{stock_quantity.to_f <= 0 ? 'danger' : 'default'}"}= stock_quantity.to_f
                  %dt Rack:
                  %dd= inventory_rack
                  %dt Shelf:
                  %dd= inventory_shelf
                  %dt Bin:
                  %dd= inventory_bin

              - if main_product.present?
                .col-md-12
                  %h4 Main Product info
                  %dl.dl-horizontal.css_expand_dt
                    %dt Item code:
                    %dd= main_product.generated_item_code
                    %dt Item description:
                    %dd= main_product.description
                    %dt Unit:
                    %dd= main_product.inventory_unit.unit
                    %dt Stock in hand:
                    %dd
                      %span{class: "label label-#{main_stock_quantity.to_f <= 0 ? 'danger' : 'default'}"}= main_stock_quantity.to_f
                    %dt Rack:
                    %dd= main_inventory_rack
                    %dt Shelf:
                    %dd= main_inventory_shelf
                    %dt Bin:
                    %dd= main_inventory_bin

              .col-md-12
                - if i.object.main_product_id.present?

                  = hidden_field_tag :main_inventory_serial_part_id

                  = link_to "Part of main product", "javascript:void(0)", onclick: "Admins.select_serial_item_or_part_in_srn(this, 'serial_item', '#{i.object.main_product_id}', 'true', #{product.id}); return false;"

              .col-md-12
                - if need_serial and !need_batch
                  = link_to "Add serial item", batch_or_serial_for_gin_admins_inventories_path(store_id: f.object.store_id, product_id: i.object.product_id, srn_item_id: i.object.srn_item_id, batch_or_serial: "serial"), remote: true, style: 'color:#ef0000;'
                - elsif need_batch and !need_serial
                  = link_to "Add batch", batch_or_serial_for_gin_admins_inventories_path(store_id: f.object.store_id, product_id: i.object.product_id, srn_item_id: i.object.srn_item_id, batch_or_serial: "batch"), remote: true
              .col-md-12
                %div{id: "batch_or_serial_frame#{i.object.srn_item_id}"}

          .col-md-6
            .row
              - if !need_serial and !need_batch
                .col-md-12
                  = i.input :issued_quantity, input_html: {onclick: "Tickets.numbersonly()", class: "integer"}
              - else
                = i.input :issued_quantity, as: :hidden, input_html: {id: "issued_quantity_input#{i.object.srn_item_id}", onclick: "Tickets.numbersonly()", class: "integer"}
                .col-md-12
                  %strong Issued quantity
                  %div{id: "issued_quantity_text#{i.object.srn_item_id}"}

              .col-md-12
                = i.association :product_condition, include_blank: false, label_method: :condition, required: true
              .col-md-12
                = i.input :remarks

  - if total_stock_quantity.to_f > 0
    .row
      .col-md-12
        = f.input :remarks, input_html: {value: nil}
        = simple_format f.object.remarks
      .col-md-12
        = f.submit "Save", class: "btn btn-sm btn-success"

#batch_or_serial_modal.modal.fade{tabindex: -1, role: "dialog", "aria-labelledby" => "batch_or_serial_modal", "aria-hidden" => true}

%script{type: "text/html", id: "srn_serial_item"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title Select item
      .modal-body
        %table.table.table-striped
          %thead
            %tr
              %th No
              %th Serial No
              %th CT No
              %th Parts not completed
              %th Damage
              %th Scavenge
              %th Used
              %th Repaired
              %th Status
              %th Action
          %tbody
            {{#items}}
            %tr
              %td {{index}}
              %td {{serialNo}}
              %td {{ctNo}}
              %td {{partsNotCompleted}}
              %td {{damage}}
              %td {{scavenge}}
              %td {{used}}
              %td {{repaired}}
              %td {{status}}
              %td {{{action}}}
            {{/items}}

%script{type: "text/html", id: "srn_serial_part"}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title Select part
      .modal-body
        {{{back}}}
        %table.table.table-striped
          %thead
            %tr
              %th No
              %th Serial No
              %th CT No
              %th Parts not completed
              %th Damage
              %th Scavenge
              %th Used
              %th Repaired
              %th Status
              %th Action
          %tbody
            {{#items}}
            %tr
              %td {{index}}
              %td {{serialNo}}
              %td {{ctNo}}
              %td {{partsNotCompleted}}
              %td {{damage}}
              %td {{scavenge}}
              %td {{used}}
              %td {{repaired}}
              %td {{status}}
              %td {{{action}}}
            {{/items}}

%script{type: "text/html", id: "selected_serial_part"}
  .panel.panel-default
    %h4.panel-heading Part of main product info
    .panel-body
      .row
        .col-md-12
          %h4 Main Part info
          %dl.dl-horizontal
            {{#part}}
            %dt Product Serial No
            %dd {{productSerialNo}}
            %dt Product Description
            %dd {{productDescription}}
            %dt Inventory Name
            %dd {{inventoryName}}
            %dt Serial No
            %dd {{serialNo}}
            {{/part}}
        .col-md-12
          %h4 Main Item info
          %dl.dl-horizontal
            {{#item}}
            %dt Inventory Name
            %dd {{inventoryName}}
            %dt Product Description
            %dd {{productDescription}}
            %dt Product Serial No
            %dd {{productSerialNo}}
            %dt Serial No
            %dd {{serialNo}}
            {{/item}}