.row
  .col-md-6
    %strong GIN No:
    = CompanyConfig.first.next_sup_last_gin_no.to_s.rjust(5, INOCRM_CONFIG["inventory_gin_no_format"])
  .col-md-6
    %strong Created by:
    = current_user.full_name
  .col-md-6
    %strong Store:
    = @srn.store.name
  .col-md-6
    %strong Created at:
    = DateTime.now.try(:strftime, "%Y-%m-%d %H:%M")

%fieldset
  %legend SRN
  .row
    .col-md-6
      %strong SRN No:
      = @srn.srn_no.to_s.rjust(5, INOCRM_CONFIG["inventory_srn_no_format"])
      %br/
      %strong Required Date:
      = @srn.required_at.try(:strftime, "%Y-%m-%d")
      %br/
    .col-md-6
      %strong Created by:
      = @srn.created_by_user.full_name
      %br/
      %strong Created at:
      = @srn.created_at.try(:strftime, "%Y-%m-%d")

%H4 GIN Items
= simple_nested_form_for @gin, url: create_gin_admins_inventories_path, html: {class: "validate_form"} do |f|
  = f.input :store_id, as: :hidden
  = f.input :srn_id, as: :hidden
  = collapse_wrapper collapse_id: "gin_form_collapse", labelledby: "gin_form_collapse_labelledby" do
    - index = 0
    = f.simple_fields_for :gin_items do |i|
      - index += 1
      = collapse collapse_type: "info", labelledby: "gin_form_collapse_search", header_content: "No: #{index} #{i.object.inventory_product.generated_item_code} #{i.object.inventory_product.description}", collapse_link: "gin_form_collapse_search_inv_#{i.object_id}", collapse_id: "gin_form_collapse" do
        - product = i.object.inventory_product
        - need_serial = product.inventory_product_info.need_serial.present?
        - need_batch = product.inventory_product_info.need_batch.present?
        - inventory = product.inventories.find_by_store_id(f.object.store_id)
        - stock_quantity = product.inventories.find_by_store_id(f.object.store_id).try(:stock_quantity)

        - if inventory.try(:inventory_bin)
          - inventory_bin = inventory.inventory_bin.description
          - inventory_shelf = inventory.inventory_bin.inventory_shelf.description
          - inventory_rack = inventory.inventory_bin.inventory_shelf.inventory_rack.description

        = i.input :product_id, as: :hidden
        = i.input :srn_item_id, as: :hidden
        = i.input :returnable, as: :hidden
        = i.input :spare_part, as: :hidden

        %dl.dl-horizontal.css_expand_dt
          %dt Item code:
          %dd= product.generated_item_code
          %dt Item description:
          %dd= product.description
          %dt Unit:
          %dd= product.inventory_unit.unit
          %dt Balanced Qty to be issued:
          %dd= i.object.srn_item.quantity.to_f
          %dt Stock in hand:
          %dd= stock_quantity
          %dt Rack:
          %dd= inventory_rack
          %dt Shelf:
          %dd= inventory_shelf
          %dt Bin:
          %dd= inventory_bin

        .row
          .col-md-12
            - if need_serial and !need_batch
              = link_to "Add serial item", batch_or_serial_for_gin_admins_inventories_path(store_id: f.object.store_id, product_id: i.object.product_id, srn_item_id: i.object.srn_item_id, batch_or_serial: "serial"), remote: true
            - elsif need_batch and !need_serial
              = link_to "Add batch", batch_or_serial_for_gin_admins_inventories_path(store_id: f.object.store_id, product_id: i.object.product_id, srn_item_id: i.object.srn_item_id, batch_or_serial: "batch"), remote: true
          - if !need_serial and !need_batch
            .col-md-2
              = i.input :issued_quantity
          - else
            = i.input :issued_quantity, as: :hidden, input_html: {id: "issued_quantity_input#{i.object.srn_item_id}"}
            .col-md-2
              %strong Issued quantity
              %div{id: "issued_quantity_text#{i.object.srn_item_id}"}

          .col-md-3
            = i.association :product_condition, label_method: :condition, required: true
          .col-md-7
            = i.input :remarks
          .col-md-12
            %div{id: "batch_or_serial_frame#{i.object.srn_item_id}"}

  - if f.object.gin_items.present?
    .row
      .col-md-12
        = f.input :remarks
      .col-md-12
        = f.submit "Save", class: "btn btn-sm btn-success"

#batch_or_serial_modal.modal.fade{tabindex: -1, role: "dialog", "aria-labelledby" => "batch_or_serial_modal", "aria-hidden" => true}