= collapse_wrapper collapse_id: "gin_serial_item_collapse_#{params[:srn_item_id].to_i}", labelledby: "gin_serial_item_collapse_labelledby" do
  - Rails.cache.fetch([:gin, (params[:serial_flag] == 'true' ? :grn_serial_items : :grn_batches), params[:srn_item_id].to_i]).to_a.each do |serial_or_batch_item|
    - serial_or_batch = serial_or_batch_item.try(:inventory_serial_item).present? ? serial_or_batch_item.inventory_serial_item : serial_or_batch_item.inventory_batch

    - serial_no_or_batch_no = if serial_or_batch.is_a? InventorySerialItem
      - serial_or_batch.serial_no
    - else
      - serial_or_batch.batch_no

    = collapse collapse_type: "info", labelledby: "gin_serial_item_collapse_search", header_content: "GRN No: #{serial_or_batch_item.grn_item.grn.grn_no_format} - #{serial_no_or_batch_no} (Created at: #{serial_or_batch_item.grn_item.created_at.try(:strftime, INOCRM_CONFIG['short_date_format'])})", collapse_link: "gin_serial_item_collapse_search_inv_#{serial_or_batch_item.id}", collapse_id: "gin_serial_item_collapse_#{params[:srn_item_id].to_i}" do
      %fieldset
        %legend= serial_no_or_batch_no
        .row
          - if serial_or_batch.is_a? InventorySerialItem
            %dl.dl-horizontal
              %dt Serial No:
              %dd= serial_or_batch.serial_no
              %dt CT No:
              %dd= serial_or_batch.ct_no
              %dt Condition:
              %dd= serial_or_batch.product_condition.condition
              %dt Scavenge:
              %dd= boolean_in_word serial_or_batch.scavenge, "Yes", "No"
              %dt Part not completed:
              %dd= boolean_in_word serial_or_batch.parts_not_completed, "Yes", "No"
              %dt Damaged:
              %dd= boolean_in_word serial_or_batch.damage, "Yes", "No"
              %dt Used:
              %dd= boolean_in_word serial_or_batch.used, "Yes", "No"
              %dt Repaired:
              %dd= boolean_in_word serial_or_batch.repaired, "Yes", "No"
              %dt Reserved:
              %dd= boolean_in_word serial_or_batch.reserved, "Yes", "No"
          - else
            %dl.dl-horizontal
              %dt Batch No:
              %dd= serial_or_batch.batch_no
              %dt Manufactured date:
              %dd= serial_or_batch.manufatured_date.try :strftime, INOCRM_CONFIG["short_date_format"]
              %dt Expiry date:
              %dd= serial_or_batch.expiry_date.try :strftime, INOCRM_CONFIG["short_date_format"]
              %dt Remarks
              %dd= simple_format serial_or_batch.remarks
        - serial_or_batch.inventory_warranties.each do |inventory_warranty|
          %fieldset
            %legend Warranty
            .row
              %dl.dl-horizontal
                %dt Type:
                %dd=inventory_warranty.inventory_warranty_type.name
                %dt Start at:
                %dd=inventory_warranty.start_at.try :strftime, INOCRM_CONFIG["short_date_format"]
                %dt End at:
                %dd=inventory_warranty.end_at.try :strftime, INOCRM_CONFIG["short_date_format"]
                %dt Period part:
                %dd=inventory_warranty.period_part
                %dt Period labour:
                %dd=inventory_warranty.period_labour
                %dt Period On-Sight(months):
                %dd=inventory_warranty.period_onsight
                %dt Remarks:
                %dd=simple_format inventory_warranty.remarks