.row
  .col-md-12
    %fieldset
      %legend Search SRN
      #search_frame
        = form_tag gin_admins_inventories_path(gin_callback: "search_srn"), remote: true, method: :get, class: "form-horizontal" do
          .row
            .col-md-4.brand
              = label_tag "Store"
              = select_tag "search_srn[store_id]", options_from_collection_for_select(Organization.stores, :id, :name, (params[:search_inventory] and params[:search_inventory][:product])), include_blank: true, class: "form-control"
            .col-md-4
              = label_tag "Module"
              = select_tag "search_srn[requested_module_id]", options_from_collection_for_select(BpmModule.all, :id, :name), include_blank: true, class: "form-control"
            .col-md-4
              = label_tag "Sales Order No"
              = text_field_tag "search_srn[so_no]", (params[:search_srn] and params[:search_srn][:so_no]), :placeholder => "SO No", class: "form-control"
          .row.small_scale_margin-top1
            .col-md-3.serial_no
              = text_field_tag "search_srn[srn_items.inventory_product.generated_item_code]", (params[:search_srn] and params[:search_srn]["srn_items.inventory_product.generated_item_code"]), :placeholder => "Item Code", class: "form-control"
            .col-md-3.serial_code
              = text_field_tag "search_srn[srn_no]", (params[:search_srn] and params[:search_srn][:srn_no]), :placeholder => "SRN No", class: "form-control"
            .col-md-3.part_no
              = text_field_tag "search_srn[srn_date_from]", (params[:search_srn] and params[:search_srn][:srn_date_from]), :placeholder => "SRN Date from", class: "form-control datepicker"
            .col-md-3.model_no
              = text_field_tag "search_srn[srn_date_to]", (params[:search_srn] and params[:search_srn][:srn_date_to]), :placeholder => "SRN Date to", class: "form-control datepicker"
          .row.small_scale_margin-top1
            .col-md-3
              = label_tag "Inventory available?" do
                Inventory available?
                .radio
                  %label
                    = radio_button_tag 'search_srn[inventories_available]', "Yes", true
                    Yes
                  %label
                    = radio_button_tag 'search_srn[inventories_available]', "No", false
                    No

          .row.small_scale_margin-top1
            .col-md-1
              .search
                = submit_tag "Search", class: "btn btn-sm btn-warning", name: "search"