= link_to "Re-search", gin_admins_inventories_path
- if srns.any?
  %hr
  = paginate srns, remote: true, method: :get
  %table.table.table-hover
    %thead
      %tr
        %th No
        %th Store
        %th Sales Order No
        %th Quantity Available
        %th SRN No
        %th SRN Date
        %th Required date
        %th Module
        %th Remarks
        %th Created by
        %th Action
    %tbody
      - srns.each_with_index do |srn, index|
        %tr
          %td
            - if params[:page]
              = (index+1)+ 10*(params[:page].to_i-1)
            - else
              = (index+1)
          %td= srn.store.name
          %td= srn.so_no
          %td= srn.inventories_available
          %td= srn.srn_no.to_s.rjust(5, INOCRM_CONFIG["inventory_srn_no_format"])
          %td= srn.created_at.to_date.try(:strftime, INOCRM_CONFIG['short_date_format'])
          %td= (srn.required_at and srn.required_at.to_date.try(:strftime, INOCRM_CONFIG['short_date_format']))
          %td= srn.requested_module.name
          %td= simple_format srn.remarks
          %td= srn.created_by_user_full_name
          - if srn.requested_module.name == "Support"
            %td
          - else
            %td
              - if srn.closed
                Issued
              - else
                = link_to "Issue", gin_admins_inventories_path(gin_callback: "select_srn", srn_id: srn.id), remote: true
  %hr