= link_to "Re-search", gin_admins_inventories_path
- if @srns.any?
  %hr
  %table.table.table-hover
    %thead
      %tr
        %th No
        %th Store
        %th SRN No
        %th SRN Date
        %th Required date
        %th Remarks
        %th Created by
        %th Action
    %tbody
      - @srns.each_with_index do |srn, index|
        %tr
          %td= index+1
          %td= srn.store.name
          %td= srn.srn_no.to_s.rjust(5, INOCRM_CONFIG["inventory_srn_no_format"])
          %td= srn.created_at.try(:strftime, "%Y-%m-%d")
          %td= srn.required_at.try(:strftime, "%Y-%m-%d")
          %td{title: srn.remarks}= srn.remarks.try :truncate, 50
          %td= srn.created_by_user.full_name
          %td= link_to "Select", gin_admins_inventories_path(gin_callback: "select_srn", srn_id: srn.id), remote: true
  %hr