.row
  .col-md-12
    = simple_nested_form_for srn, url: close_srn_admins_inventories_path(srn_id: srn.id, form_param: true), method: :post, html: {class: "validate_form"} do |f|
      = f.input :remarks, input_html: {value: nil}, required: true
      = simple_format f.object.remarks
      / = f.input :closed, as: :hidden, input_html: {value: true}

      .row
        .col-md-2
          %strong Item Code
        .col-md-2
          %strong Description
        .col-md-2
          %strong Model No
        .col-md-2
          %strong Product No
        .col-md-1
          %strong Quantity
        .col-md-2
          %strong Terminate Reason
        .col-md-1
          %strong Close Action

      = f.simple_fields_for :srn_items do |p|
        - unless p.object.closed?
          .row
            .col-md-2
              = p.object.inventory_product.generated_item_code
            .col-md-2
              = p.object.inventory_product.description
            .col-md-2
              = p.object.inventory_product.model_no
            .col-md-2
              = p.object.inventory_product.product_no
            .col-md-1
              = p.object.quantity
            .col-md-2
              = p.association :issue_terminated_reason, label: false, label_method: :reason, collection: InventoryReason.where(srn_issue_terminate: true), required: true
            .col-md-1
              = p.input :issue_terminated, wrapper: :append, label: false

      = f.submit "Close", class: "btn btn-sm btn-success"
      = link_to "Cancel", "#", data: {dismiss: "modal"}, class: "btn btn-link"

= javascript_tag do
  $(".validate_form").validate();