= simple_nested_form_for @srn, url: create_srn_admins_inventories_path, html: {class: "validate_form"} do |f|
  = f.input :created_by, as: :hidden, input_html: {value: current_user.id}
  = f.input :srn_no, as: :hidden, input_html: {value: CompanyConfig.first.next_sup_last_srn_no}
  .row
    .col-md-6
      %strong Srn No:
      = CompanyConfig.first.next_sup_last_srn_no.to_s.rjust(5, INOCRM_CONFIG["inventory_srn_no_format"])
    .col-md-6
      %strong Created by:
      = current_user.full_name
      %br/
      %strong Created at:
      = DateTime.now.strftime("%Y-%m-%d %H:%M")
  = f.association :store, input_html: {onchange: "Inventories.call_from_store(this); return false;"}
  #store_controller.hide
    .row
      .col-md-12
        = link_to "Change store", srn_admins_inventories_path
      .col-md-3
        = f.input :required_at, as: :string, input_html: {class: "datepicker"}
      .col-md-3
        = f.input :so_no, label: "Sales Order No"
      .col-md-3
        = f.association :so_customer, collection: Organization.organization_customers
      .col-md-3
        = f.association :requested_module, required: true
      .col-md-12
        = f.input :remarks
    = f.simple_fields_for :srn_items do |s|
      = s.input :product_id, as: :hidden, input_html: {class: "product_id"}
      = s.input :main_product_id, as: :hidden, input_html: {class: "main_product_id"}
      .row
        .col-md-6
          %h3 Part
          .product_id_output
        .col-md-6
          %h3 Main part
          = link_to "Select main part", "#", class: "mainStoreIdPass", data: {producttype: "main_product_id"}, onclick: "Inventories.search_product(this); return false;"
          .main_product_id_output
      .row
        .col-md-1
          = s.link_to_remove "Remove", class: "srn_item_remove"
        .col-md-2
          = s.input :returnable, wrapper: :append
        .col-md-2
          = s.input :spare_part, wrapper: :append
        .col-md-2
          = s.input :quantity, input_html: {value: (s.object.quantity || 0)}, required: true
        .col-md-5
          = s.input :remarks
    .row
      .col-md-12
        = f.link_to_add "Add", :srn_items, id: "storeIdPass", data: {producttype: "product_id"}, onclick: "Inventories.search_product(this); return false;"
      .col-md-12
        = f.submit "Save", class: "btn btn-success btn-sm"

#search_product.modal.fade{tabindex: -1, role: "dialog", "aria-labelledby" => "search_product", "aria-hidden" => true}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title Select Product
      .modal-body
      .modal-footer

%script{type: "text/html", id: "product_info_mustache"}
  %dl.dl-horizontal
    %dt Item code:
    %dd {{generated_item_code}}
    %dt Item description:
    %dd {{description}}
    %dt Order unit:
    %dd {{unit}}
    %dt Stock in hand:
    %dd {{stock_in_hand}}
    %dt Item type:
    %dd {{item_type}}
  