%h4 Create SRN
= simple_nested_form_for @srn, url: create_srn_admins_inventories_path, html: {class: "validate_form"} do |f|
  = f.input :created_by, as: :hidden, input_html: {value: current_user.id}
  = f.input :srn_no, as: :hidden, input_html: {value: CompanyConfig.first.next_sup_last_srn_no}
  .row
    .col-md-6
      %strong SRN No:
      = CompanyConfig.first.next_sup_last_srn_no.to_s.rjust(5, INOCRM_CONFIG["inventory_srn_no_format"])
    .col-md-6
      %strong Created by:
      = current_user.full_name
      %br/
      %strong Created at:
      = DateTime.now.strftime("#{INOCRM_CONFIG['short_date_format']} #{INOCRM_CONFIG['time_format']}")
  = f.association :store, input_html: {onchange: "Inventories.call_from_store(this); return false;"}
  #store_controller.hide
    .row
      .col-md-12
        %h4#store_name
        = link_to "Change store", srn_admins_inventories_path
      .col-md-3
        = f.input :required_at, as: :string, input_html: {class: "datepicker"}
      .col-md-3
        = f.input :so_no, label: "Sales Order No"
      .col-md-3
        = f.association :so_customer, collection: Organization.customers, label: "SO customer"
      .col-md-3
        = f.association :requested_module, required: true, collection: BpmModule.select{|b| [2, 4].include? b.id }, include_blank: false
      .col-md-12
        = f.input :remarks
    = f.simple_fields_for :srn_items do |s|
      = panels panel_type: "info", header_content: "SRN Items" do
        = s.input :product_id, as: :hidden, input_html: {class: "dynamic_main_product_id"}

        .row
          .col-md-12
            %h3 Item
            .product_info
          .col-md-12.select_main_part
            %h3 Main unit
            / = link_to "Select main part", "#", class: "mainStoreIdPass applyStoreId", data: {producttype: "main_product_id"}, onclick: "Inventories.search_product(this); return false;"
            %div
              .product_info
              = s.input :main_product_id, as: :hidden, input_html: {class: "dynamic_main_product_id"}

            = link_to "Select main part", "#", id: "main_product_id_output_#{s.object.object_id}", class: "mainStoreIdPass applyStoreId", onclick: "Inventories.search_product_for_part(this); return false;", data: {storeId: "undefined", modalId: "search_product", remote: "true", selectpath: "", selectoptions: "onclick:Inventories.assign_i_product(this, 'search_product', 'main_product_id_output_#{s.object.object_id}');<>from_where:prn"}

        .row
          .col-md-12
            = s.input :returnable, wrapper: :append
          .col-md-12
            = s.input :spare_part, wrapper: :append
          .col-md-12
            = s.input :quantity, input_html: {value: s.object.quantity, onclick: "Tickets.numbersonly()", class: "after_two_decimal"}, placeholder: "can't be 0", required: true
          .col-md-12
            = s.input :remarks
          .col-md-12
            = s.link_to_remove "Remove", class: "srn_item_remove"
    .row
      .col-md-6
        / = f.link_to_add "Add", :srn_items, id: "storeIdPass", class: "applyStoreId", data: {producttype: "product_id"}, onclick: "Inventories.search_product(this); return false;"
        = f.link_to_add "Add Item", :srn_items, id: "storeIdPass", class: "applyStoreId", onclick: "Inventories.search_product_for_part(this); return false;", data: {id: "store_id", modalId: "search_product", remote: "true", selectpath: "", selectoptions: "onclick:Inventories.assign_i_product(this, 'search_product', 'storeIdPass');<>from_where:prn"}

      .col-md-6
        = f.link_to_add "Add part of main unit", :srn_items, id: "storeIdPassMainPart", onclick: "Inventories.search_product_for_part(this); return false;", data: {storeId: "undefined", id: "store_id", modalId: "search_product", remote: "true", selectpath: "", selectoptions: "onclick:Inventories.assign_i_product(this, 'search_product', 'storeIdPassMainPart');<>from_where:part_of_main_unit"}
      .col-md-12
        = f.submit "Save", class: "btn btn-success btn-sm"

#search_product.modal.fade{tabindex: -1, role: "dialog", "aria-labelledby" => "search_product", "aria-hidden" => true}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title Select Product
      .modal-body
      .modal-footer

%script{type: "text/html", id: "product_info_mustache"}
  %dl.dl-horizontal
    %dt Item code:
    %dd {{generated_item_code}}
    %dt Item description:
    %dd {{description}}
    %dt Order unit:
    %dd {{unit}}
    %dt Stock in hand:
    %dd {{stock_in_hand}}
    %dt Item type:
    %dd {{item_type}}