= render "admins/inventories/srn/form"
/ %hr

/ = paginate @srn_all, remote: false, method: :get
/ = collapse_wrapper collapse_id: "srn", labelledby: "labelledby" do
/   - @srn_all.each do |srn|
/     = collapse collapse_type: "info", labelledby: "labelledby_#{srn.id}", header_content: srn.srn_no.to_s.rjust(5, INOCRM_CONFIG["inventory_srn_no_format"]), collapse_link: "link_#{srn.id}", collapse_id: "srn" do
/       %dl.dl-horizontal
/         %dt Store:
/         %dd= srn.store.name
/         %dt Srn No:
/         %dd= srn.srn_no.to_s.rjust(5, INOCRM_CONFIG["inventory_srn_no_format"])
/         %dt Create at:
/         %dd= srn.created_at.strftime("%Y-%m-%d %H:%M")
/         %dt Created by:
/         %dd= srn.created_by_user.full_name
/         %dt Remarks:
/         %dd= srn.remarks

/         - srn.srn_items.each do |srn_item|
/           = collapse collapse_type: "success", labelledby: "labelledbyitem_#{srn_item.id}", header_content: "Srn item: #{srn_item.remarks.truncate(20)}", collapse_link: "linkitem_#{srn_item.id}", collapse_id: "srn_item" do
/             %dl.dl-horizontal
/               %dt Quantity:
/               %dd= srn_item.quantity
/               %dt Remarks:
/               %dd= srn_item.remarks
/               %dt Create at:
/               %dd= srn_item.created_at.strftime("%Y-%m-%d %H:%M")
/               %dt Returnable:
/               %dd= boolean_in_word srn_item.returnable, "Yes", "No"
/               %dt Spare part:
/               %dd= boolean_in_word srn_item.spare_part, "Yes", "No"
/             .row
/               .col-md-6
/                 %h4 Part
/                 %dl.dl-horizontal
/                   %dt Item code:
/                   %dd= srn_item.inventory_product.generated_item_code
/                   %dt Item description:
/                   %dd= srn_item.inventory_product.description
/                   %dt Order unit:
/                   %dd= srn_item.inventory_product.inventory_unit.unit
/                   %dt Stock in hand:
/                   %dd= srn_item.inventory_product.inventories.find_by_store_id(srn.store_id).try(:stock_quantity)
/                   %dt Item type:
/                   %dd= srn_item.inventory_product.inventory_product_info.need_serial ? "Serial" : srn_item.inventory_product.inventory_product_info.need_batch ? "Batch" : "Non Serial or Non Batch"

/               - if srn_item.main_inventory_product.present?
/                 .col-md-6
/                   %h4 Main Part
/                   %dl.dl-horizontal
/                     %dt Item code:
/                     %dd= srn_item.main_inventory_product.generated_item_code
/                     %dt Item description:
/                     %dd= srn_item.main_inventory_product.description
/                     %dt Order unit:
/                     %dd= srn_item.main_inventory_product.inventory_unit.unit
/                     %dt Stock in hand:
/                     %dd= srn_item.main_inventory_product.inventories.find_by_store_id(srn.store_id).try(:stock_quantity)
/                     %dt Item type:
/                     %dd= srn_item.main_inventory_product.inventory_product_info.need_serial ? "Serial" : srn_item.main_inventory_product.inventory_product_info.need_batch ? "Batch" : "Non Serial or Non Batch"