- srn = @srn
.row
  .col-md-12
    = panels panel_type: "#{srn.closed ? 'danger' : 'success'}", header_content: "SRN No: #{srn.srn_no}" do

      %h4
        - if srn.closed
          %span.label.label-danger Closed
        SRN Info
      %dl.dl-horizontal
        %dt Store
        %dd= srn.store.name
        %dt SRN No
        %dd= srn.formatted_srn_no
        %dt Sales Order No
        %dd= srn.so_no
        %dt Requested Module
        %dd= srn.requested_module.name
        %dt SRN Date
        %dd= srn.created_at.try(:strftime, INOCRM_CONFIG["short_date_format"])
        %dt Remarks
        %dd= simple_format srn.remarks
        %dt Created at
        %dd= srn.created_at.try(:strftime, INOCRM_CONFIG["short_date_format"])
        %dt Created by
        %dd= srn.created_by_user.full_name
        %dt SO Customer
        %dd= srn.so_customer_name
        - if srn.requested_module.code == "SPT"
          %dt Tickets
          %dd
            - (srn.ticket_spare_part_stores.map{|s| s.ticket_spare_part.ticket } + srn.ticket_on_loan_spare_parts.map{|s| s.ticket }).each do |t|
              = link_to t.support_ticket_no, t, target: "_blank"
              %br/
          - if srn.ticket_spare_part_stores.any?{|s| s.ticket_spare_part.ticket_estimation_parts.any? }
            %dt Available estimations
            %dd
              - (srn.ticket_spare_part_stores.map{|s| s.ticket_spare_part.ticket } + srn.ticket_on_loan_spare_parts.map{|s| s.ticket }).each do |t|
                = link_to "Estimation and Quotation - #{t.support_ticket_no}", resolution_tickets_path(ticket_id: t.id, from_where1: "estimations_quotations"), target: "_blank"


      %h4.small_scale_padding-top1 SRN Items
      %table.table.table-bordered
        %thead
          %tr
            %th{colspan: 1}
            %th{colspan: 4} Product
            %th{colspan: 3} SRN item
          %tr
            %th
            %th Item Code
            %th Description
            %th Product no
            %th Model no
            %th PRN (s)
            %th Quantity
            %th Remarks
        %tbody
          - srn.srn_items.each_with_index do |srn_item, index|
            - content_for :serial_item_more, flush: true do
              - if srn_item.issue_terminated?
                %ul
                  %li
                    %strong Terminated By:
                    = srn_item.issue_terminated_by_user.full_name
                  %li
                    %strong Terminate At:
                    = srn_item.issue_terminated_at.try(:strftime, INOCRM_CONFIG['short_date_format'])
                  %li
                    %strong Terminated Reason:
                    = srn_item.issue_terminated_reason.try(:reason)

            %tr{class: "#{'danger' if srn_item.closed}", title: "#{'Closed' if srn_item.closed}"}
              - if srn_item.issue_terminated?
                %td{ "type"=> "button", "class"=> "btn btn-link has-popover", "data-toggle"=> "popover", "data-content"=> "#{yield(:serial_item_more)}", "data-html" => "true", "data-trigger" => "hover", "data-placement" => "top" }
                  = (index+1)
              - else
                %td= (index+1)
              %td= srn_item.inventory_product.try(:generated_item_code)
              %td= srn_item.inventory_product.try(:description)
              %td= srn_item.inventory_product.try(:product_no)
              %td= srn_item.inventory_product.try(:model_no)
              %td= srn_item.inventory_prn_items.map{|prn_item| prn_item.inventory_prn.formated_prn_no}.uniq.join(", ")
              %td= srn_item.quantity
              %td= srn_item.remarks

- unless srn.closed or params[:from_where] == "no_action"
  - if can?(:create_gin, Organization) and srn.requested_module.code != "SPT"
    = link_to "Issue", gin_admins_inventories_path(gin_callback: "select_srn", srn_id: srn.id, from: "srn_page"), remote: true, class: "btn btn-sm btn-primary"
  - if can?(:create_gin, Organization)
    = link_to "Create PRN", prn_admins_inventories_path, target: "_blank", class: "btn btn-sm btn-primary"
  - if can? :close_srn, Organization and srn.requested_module.code != "SPT"
    = link_to "Terminate", close_srn_admins_inventories_path(srn_id: srn.id, close_srn: true), remote: "true"

#gin_wrapper

#close_srn.modal.fade{tabindex: -1, role: "dialog", "aria-labelledby" => "close_po_id", "aria-hidden" => true}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title Do you want to close this SRN ?
      .modal-body
      .modal-footer