- estimation_part = estimation.ticket_estimation_parts.first
- estimation_additional = estimation.ticket_estimation_additionals.first
.row
  .col-md-12
    %strong
      %u Alert4

.row
  .col-md-12
    %strong
      %u Replaced parts

.row
  .col-md-12
    %fieldset
      %legend Part No 1
      .row
        .col-md-6
          .row
            .col-md-12
              %strong Supplier:
              #{estimation_part.try(:supplier).try(:name)}
          .row
            .col-md-12
              %strong Part No:
              #{spare_part.spare_part_no}
          .row
            .col-md-12
              %strong Part Description:
              #{spare_part.spare_part_description}

        .col-md-6
          .row
            .col-md-12
              %strong  Estimate Price (Rs):
              #{estimation_part.try(:approved_estimated_price)}

          .row
            .col-md-12
              %strong Cost Price (Rs):
              #{estimation_part.try(:cost_price)}
          .row
            .col-md-12
              %strong Wranaty Periad:
              #{estimation_part.try(:warranty_period)}

      .row
        .col-md-12
          %strong
            %u Requested Part
      .row
        .col-md-12
          %strong Store:
          #{spare_part.try(:ticket_spare_part_store).try(:store).try(:name)}

      .row
        .col-md-12
          %strong Item Code:
          #{spare_part.try(:ticket_spare_part_store).try(:inventory_product).try(:serial_no)}

      .row
        .col-md-12
          %strong Item Description:
          #{spare_part.try(:ticket_spare_part_store).try(:inventory_product).try(:description)}

      .row
        .col-md-12
          %strong Unit:
          #{spare_part.try(:ticket_spare_part_store).try(:inventory_product).try(:inventory_unit).try(:unit)}
      .row
        .col-md-12
          %strong Note:
          #{spare_part.note}


.row
  .col-md-12
    %strong Additional Charge:
    #{estimation_additional.additional_charge.additional_charge}

.row
  .col-md-12
    %strong Cost Price(Rs):
    #{estimation_additional.cost_price}

.row
  .col-md-12
    %strong Estimated Price (Rs):
    #{estimation_additional.estimated_price}

.row
  .col-md-12
    %strong Min. Advance Payment (Rs):
    #{estimation.approved_adv_pmnt_amount}

.row
  .col-md-12
    %strong Total Estimate:
    xxx

.row.small_scale_margin-bottom1
  .col-md-12
    %strong Note:
    #{estimation.note}