- if @inventory_serial_parts.present?
  = paginate @inventory_serial_parts, remote: true, method: :get, params: {controller: "inventories", action: "load_serial_and_part", rendering_id: "#main_part_part", per_page: 10, rendering_file: "tickets_pack/issue_store_part/issue_store_part"}

  %hr
  %table.table.table-hover.table-stripped
    %thead
      %tr
        %th No 
        %th Serial No
        %th Status
        %th Not completed
        %th Scavenge
        %th Damage
        %th Used
        %th Repaired
        %th Reserved
        %th CTO No
        %th Date of manufacture
        %th Date of expire
        %th Remarks
        %th Issue
    %tbody
      - @inventory_serial_parts.each_with_index do |inventory_serial_part, index|
        %tr
          %td
            - if params[:page]
              = (index+1)+ 10**(params[:page].to_i-1)
            - else
              = (index+1)
          %td
            = inventory_serial_part.serial_no
          %td
            = inventory_serial_part.inventory_serial_item_status.name
          %td
            = inventory_serial_part.parts_not_completed ? "Not completed" : ""
          %td
            = inventory_serial_part.scavenge ? "Scavenge" : ""
          %td
            = inventory_serial_part.damage ? "Damaged" : ""
          %td
            = inventory_serial_part.used ? "Used" : ""
          %td
            = inventory_serial_part.repaired ? "Repaired" : ""
          %td
            = inventory_serial_part.reserved ? "Reserved" : ""
          %td
            = inventory_serial_part.ct_no
          %td
            = inventory_serial_part.manufatured_date.try(:strftime, "#{INOCRM_CONFIG['short_date_format']} #{INOCRM_CONFIG['time_format']}")
          %td
            = inventory_serial_part.expiry_date
          %td
            = simple_format inventory_serial_part.remarks
          %td
            = radio_button_tag "main_inventory_serial_part_id", inventory_serial_part.id, false, class: "part_of_main_product_checkbox" if inventory_serial_part.inv_status_id == InventorySerialItemStatus.find_by_code("AV").id
- else
  %h4 Approve parts are not available.