- content_for :content_for do
  - @paginated_fifo_grn_serial_items.each_with_index do |grn_serial_item, index|
    .row
      .col-md-1
        - if params[:page]
          = (index+1) + 10*(params[:page].to_i-1)
        - else
          = (index+1)

      .col-md-1= grn_serial_item.grn_item.grn.grn_no
      .col-md-1= grn_serial_item.grn_item.grn.created_at.try(:strftime, INOCRM_CONFIG['short_date_format'])
      .col-md-1= grn_serial_item.grn_item.recieved_quantity
      .col-md-1= grn_serial_item.grn_item.remaining_quantity
      .col-md-1= grn_serial_item.inventory_serial_item.serial_no
      .col-md-1= grn_serial_item.inventory_serial_item.status_name
      .col-md-1= grn_serial_item.inventory_serial_item.product_condition_condition
      / %td= grn_serial_item.inventory_serial_item.batch_no
      / %td= grn_serial_item.inventory_serial_item.lot_no
      / %td= grn_serial_item.inventory_serial_item.parts_not_completed ? "Not completed" : ""
      / %td= grn_serial_item.inventory_serial_item.scavenge ? "Scavenge" : ""
      / %td= grn_serial_item.inventory_serial_item.damage ? "Damaged" : ""
      / %td= grn_serial_item.inventory_serial_item.used ? "Used" : ""
      / %td= grn_serial_item.inventory_serial_item.repaired ? "Repaired" : ""
      / %td= grn_serial_item.inventory_serial_item.reserved ? "Reserved" : ""
      / %td= grn_serial_item.inventory_serial_item.ct_no
      .col-md-1= grn_serial_item.inventory_serial_item.manufatured_date.try(:strftime, INOCRM_CONFIG['short_date_format'])
      .col-md-1= grn_serial_item.inventory_serial_item.expiry_date.try(:strftime, INOCRM_CONFIG['short_date_format'])
      .col-md-1= simple_format grn_serial_item.inventory_serial_item.remarks
      .col-md-1= radio_button_tag "grn_serial_item_id", grn_serial_item.id, false,{class: "seperate_product_ckeckbox"} if @srn_item.try(:quantity) == 1


$("#paginateble_serial_items").append("#{j content_for :content_for}");