- display_select_option = @display_select_option

= label_tag "Select Customer" do
  = radio_button_tag "customer_select", "select", false, class: "radio_for_customer_select", onchange: "Tickets.customer_select('select'); false;"
  Select Customer
= label_tag "New Customer" do
  = radio_button_tag "customer_select", "create", false, class: "radio_for_customer_select", onchange: "Tickets.customer_select('create'); false;"
  New Customer
.row
  .col-md-12
    = link_to "Back", "#"

- if display_select_option
  #new_customer_form
    - if @notice
      .alert.alert-success= @notice
    - elsif customer.errors.present?
      .alert.alert-danger{:role => "alert"}
        %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %ul
          - customer.errors.full_messages.each do |error|
            %li= error
    %fieldset
      %legend New Customer
      = simple_nested_form_for customer, url: create_customer_tickets_path, remote: true do |f|
        = f.input :organization_id, as: :hidden
        .row
          = f.association :mst_title, label:"Title", collection: MstTitle.all.map{|t| [t.title, t.id]},wrapper_html: {class:"col-md-1"}
          = f.input :name, wrapper_html: {class:"col-md-11"}
        .row
          = f.input :address1, wrapper_html: {class:"col-md-4"}
          = f.input :address2, wrapper_html: {class:"col-md-4"}
          = f.input :address3, wrapper_html: {class:"col-md-4"}
        .row
          = f.input :address4, label: "City", wrapper_html: {class:"col-md-6"}
          = f.association :district, label:"District", wrapper_html: {class:"col-md-6"}

        .row
          = f.simple_fields_for :contact_type_values do |fc|
            .col-md-6
              .add_sign
                = fc.link_to_remove class: "remove_c_t_v_link" do
                  %span.glyphicon.glyphicon-remove-sign
              .col-md-4
                %strong Contact Type
                %br/
                = fc.select :contact_type_id, ContactType.all.map {|c| [c.name, c.id]}, {}, class: "col-md-12 small_scale_margin-top5"

              = fc.input :value, wrapper_html: {class:"col-md-7"}

        .add_sign{style: "width: 100%;"}
          = f.link_to_add :contact_type_values, style: "clear: both;display: block;" do
            Add a Contact Type
            %span.glyphicon.glyphicon-plus-sign
        = f.submit "Customer"


#customer_modal.modal.fade{tabindex: -1, role: "dialog", "aria-labelledby" => "customer_modal", "aria-hidden" => true}
  .modal-dialog
    .modal-content