- if @notice
  .alert.alert-success= @notice
%fieldset
  %legend New Customer
  = link_to "Create Product Brand", new_product_brand_tickets_path, remote: true
  = link_to "Create new Product Category", new_product_category_tickets_path, remote: true
  = link_to "Create Product", new_product_tickets_path, remote: true

  = simple_nested_form_for customer, url: "#" do |f|
    .row
      = f.association :mst_title, label:"Title", collection: MstTitle.all.map{|t| [t.title, t.id]},wrapper_html: {class:"col-md-1"}
      = f.input :name, wrapper_html: {class:"col-md-11"}
    .row
      = f.input :address1, wrapper_html: {class:"col-md-3"}
      = f.input :address2, wrapper_html: {class:"col-md-3"}
      = f.input :address3, wrapper_html: {class:"col-md-3"}
      = f.input :address4, label: "City", wrapper_html: {class:"col-md-3"}

    = f.simple_fields_for :contact_type_values do |fc|
      .row
        .col-md-4
          .add_sign
            = fc.link_to_remove do
              %span.glyphicon.glyphicon-remove-sign
          = fc.input :contact_type_id, collection: ContactType.all.map{|c| [c.name, c.id]}, wrapper_html: {style: "width: 95%; float: left;"}
      .row
        = fc.input :value, wrapper_html: {class:"col-md-4"}
    .row
      .col-md-12
        .add_sign.pull-left{style: "width: 100%;"}
          = f.link_to_add :contact_type_values do
            Add a Contact
            %span.glyphicon.glyphicon-plus-sign
    .row
      .col-md-12
        = f.submit "Customer"