- ticket = @ticket

.row
  .col-md-12
    - if @notice
      .alert.alert-success= @notice
    - elsif ticket.errors.present?
      .alert.alert-danger{:role => "alert"}
        %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %ul
          - ticket.errors.full_messages.each do |error|
            %li= error
.row
  .col-md-3
    %span.strong Product Serial:
    %span= product.serial_no
  .col-md-3
    %span.strong Product Brand:
    %span= product.product_brand.name
.row
  .col-md-3
    %span.strong Product No:
    %span= product.product_no
  .col-md-3
    %span.strong Product Category:
    %span= product.product_category.name
.row
  .col-md-4
    %span.strong Product Model:
    %span= product.model_no
  .col-md-12
    %span.strong Pop Note:
    %span= product.pop_note
    %hr

#form_frame
  - ticket.ticket_accessories.build
  = simple_nested_form_for ticket, remote: true do |f|
    = f.input :status_id, as: :hidden
    = f.input :ticket_no, as: :hidden
    = f.input :base_currency_id, as: :hidden, input_html: {value: TicketCurrency.find_by(base_currency: true).try(:id)}
    .row
      .col-md-4
        .col-md-5
          %strong priority
          = f.select :priority, INOCRM_CONFIG["priority"].collect{ |key,value| [ key, value ] }, {:selected => '3'}, class: "col-md-12 small_scale_margin-top5"
        = f.association :problem_category, wrapper_html: {class: "col-md-6"}
        .add_sign
          = link_to create_problem_category_tickets_path(status_param: "initiate"), remote: true, method: :post, title: "Add" do
            %span.glyphicon.glyphicon-plus-sign
      .col-md-8
        = f.input :problem_description

      = f.simple_fields_for :ticket_accessories do |fc|
        .row
          .col-md-12
            = fc.input :ticket_id, as: :hidden
            = fc.association :accessory, label_method: :accessory, value_method: :id, include_blank: false, wrapper_html: {class: "col-md-6"}
            = fc.input :note, wrapper_html: {class: "col-md-5"}
            .add_sign
              = fc.link_to_remove class: "remove_c_t_v_link" do
                %span.glyphicon.glyphicon-remove-sign
    .row
      .col-md-12
        = f.link_to_add :ticket_accessories do
          %span.glyphicon.glyphicon-plus-sign
          Add Accessory
        = link_to create_accessory_tickets_path(status_param: "initiate"), remote: true, method: :post, title: "Create Accessory" do
          %span.glyphicon.glyphicon-plus-sign
          Create Accessory

        
    .row
      = f.input :other_accessories, wrapper_html: {class: "col-md-12"}
    .row
      .col-md-2
        %strong Informed Method
        %br/
        = f.select :informed_method_id, options_from_collection_for_select(InformMethod.all, :id, :name), {},{class: "col-md-12 small_scale_margin-top5"}
      .col-md-2  
        %strong Job Type
        %br/
        = f.select :job_type_id, options_from_collection_for_select(JobType.all, :id, :name), {},{class: "col-md-12 small_scale_margin-top5"}
    .row
      = f.association :ticket_type, as: :radio_buttons, wrapper_html: {class: "col-md-3"}
      = f.association :warranty_type, as: :radio_buttons, wrapper_html: {class: "col-md-6"}
      = f.input :cus_chargeable, as: :radio_buttons, wrapper_html: {class: "col-md-3"}
    = f.submit "Next"
    = link_to "Cancel", new_ticket_path
    = link_to "Back", "#"