- ticket = @ticket
- product_to_day_warranties = product.warranties.select{|w| (w.start_at.to_date..w.end_at.to_date).include?(Date.today)}
- selected_warranty_id = (product_to_day_warranties.present? ? (((product_to_day_warranties.any?{|w| w.warranty_type_id==1} and 1) or (product_to_day_warranties.any?{|w| w.warranty_type_id==2} and 2))) : 4 )

- popnote = capture do
  = link_to "#", class: "inline_edit load_style", data: {type: "textarea", resource: "product", name: "pop_note", url: product_update_tickets_path(product_id: product.id), "original-title" => "Update pop note", value: ""}, style: "line-height: 6px;" do
    = simple_format product.pop_note.to_s.split('<br/>')[0]
  -if product.pop_note.present?
    %button.btn.btn-link.load_more{"data-container" => "body", "data-content" => product.pop_note, "data-placement" => "bottom", "data-toggle" => "popover", "data-trigger" =>"focus", :type => "button"}
      More

- popstatus = link_to "#", class: "inline_edit", data: {type: "select", source: ProductPopStatus.first(3).collect{|category| {value: category.id, text: category.name}}, resource: "product", name: "pop_status_id", url: product_update_tickets_path(product_id: product.id), "original-title" => "Update pop_status"} do
  = product.product_pop_status.name


.row
  .col-md-12
    - if @notice
      .alert.alert-success= @notice
    - elsif ticket.errors.present?
      .alert.alert-danger{:role => "alert"}
        %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %ul
          - ticket.errors.full_messages.each do |error|
            %li= error

#tab_panel1
  = tab_panel do
    = tab_nav_tab({}, product_details: {active_class: "active", content: "Ticket"}, history: {content: "History"})
    .tab-content
      = tab_content active_class: "active", tabpointer: "product_details" do
        .product
          = initiate_table table_type: "table-hover table-bordered"  do
            = table_header ["Serial No", "Brand", "Category", "Model", "Product No", "Country", "POP Status", "POP Note"]
            = table_body [product.serial_no, product.product_brand.name, product.product_category.name, product.model_no, product.product_no, product.product_sold_country.try(:Country), popstatus, popnote]

        #form_frame
          %fieldset
            %legend Ticket
            = simple_nested_form_for ticket, remote: true, :authenticity_token => true, html: {class: "validate_form auto_save_form"} do |f|
              = f.input :status_id, as: :hidden
              = f.input :ticket_no, as: :hidden
              = f.input :base_currency_id, as: :hidden, input_html: {value: TicketCurrency.find_by(base_currency: true).try(:id)}
              .container
                .panel.panel-default.col-md-3.small_scale_margin-right1
                  .panel-body
                    .col-md-12.small_scale_margin-bottom5
                      %strong Priority
                      = f.select :priority, INOCRM_CONFIG["priority"].collect{ |key,value| [ key, value ] }, {:selected => '3'}, class: "col-md-12 small_scale_margin-top3 form-control"
                    .col-md-12
                      .row
                        = f.association :problem_category, wrapper_html: {class: "col-md-11"}, label:"Problem category"
                        .add_sign
                          = link_to create_problem_category_tickets_path(status_param: "initiate"), remote: true, method: :post, title: "Add", onclick: "Tickets.save_cached_ticket(); return false;" do
                            %span.glyphicon.glyphicon-plus-sign
                    .col-md-12
                      %strong Informed method
                      %br/
                      = f.select :informed_method_id, options_from_collection_for_select(InformMethod.all, :id, :name), {},{class: "col-md-12 small_scale_margin-top2 small_scale_margin-bottom5 form-control"}
                    .col-md-12
                      %strong Job type
                      %br/
                      = f.select :job_type_id, options_from_collection_for_select(JobType.all, :id, :name), {},{class: "col-md-12 small_scale_margin-top3 small_scale_margin-bottom5 form-control"}
                    .col-md-12
                      = f.input :problem_description, label:"Problem description", input_html: {rows: 1}

                .panel.panel-default.col-md-3.small_scale_margin-right1
                  .panel-body
                    = f.association :warranty_type, as: :radio_buttons, label: "Ticket warranty type", wrapper_html: {class: "col-md-12 radio_as_list"}, checked: (ticket.warranty_type_id or selected_warranty_id)
                .panel.panel-default.col-md-3.small_scale_margin-right1
                  .panel-body
                    = f.association :ticket_type, as: :radio_buttons, wrapper_html: {class: "col-md-12 radio_as_list"}, input_html: {class: "ticket_type"}, checked: (ticket.ticket_type_id or 1)
                    = f.input :regional_support_job, label: "Regional", wrapper_html: {class: "col-md-12"}, wrapper: :append
                .panel.panel-default.col-md-2
                  .panel-body
                    = f.input :cus_chargeable, label: "Customer Chargeable", as: :radio_buttons, wrapper_html: {class: "radio_as_list"}, required: true
              .container.small_scale_padding-top1
                = f.input :other_accessories, wrapper_html: {class: "col-md-4"}, input_html: {rows: 1}
                .col-md-8
                  = f.simple_fields_for :ticket_accessories do |fc|
                    = fc.association :accessory, label_method: :accessory, value_method: :id, include_blank: false, wrapper_html: {class: "col-md-6"}
                    = fc.input :note, wrapper_html: {class: "col-md-5"}, input_html: {rows: 1}
                    .add_sign
                      = fc.link_to_remove class: "remove_c_t_v_link" do
                        %span.glyphicon.glyphicon-remove-sign
                      
                .col-md-8.pull-right
                  = f.link_to_add :ticket_accessories, class: "accessory_links small_scale_padding-right2" do
                    %span.glyphicon.glyphicon-plus-sign
                    Add accessory
                  = link_to create_accessory_tickets_path(status_param: "initiate"), remote: true, method: :post, title: "Create Accessory", class: "accessory_links", onclick: "Tickets.save_cached_ticket(); return false;" do
                    %span.glyphicon.glyphicon-plus-sign
                    Create accessory

              .row
              .row
              = link_to "Cancel", new_ticket_path, data: {disable_with: "Please wait..."}
              = f.submit "Next", class: "btn btn-success small_scale_margin-top2 small_scale_margin-bottom2", data: {disable_with: "Please wait..."}

      = tab_content tabpointer: "history" do
        #history_pagination
          = render "tickets/histories", histories: @histories