- organization = @organization
- ticket = @ticket
= simple_form_for(ticket) do |f|
  = f.error_notification

  = panels header_content: "Find or Create customer", panel_type: "success" do
    Find By
    - [{value: "customer", id: "customer", label: "Customer", checked: true}, {value: "invoice", id: "invoice", label: "Invoice", checked: false}, {value: "serial_number", id: "serial_number", label: "Product serial number", checked: false}, {value: "related_ticket", id: "related_ticket", label: "Related ticket", checked: false}, {value: "create_customer", id: "create_customer", label: "Create Customer", checked: false}].each do |attr|
      = label_tag attr[:label], class: "small_scale_margin-right1" do
        = radio_button_tag "find_customer", attr[:value], attr[:checked], id: attr[:id], class: "find_customer"
        %span
          = attr[:label]
    #load_for_customer_select_box
      = f.association :customer, label: "Customer", collection: User.customers.map{|user| [user.email, user.id]}, include_blank: false # customer

  .form-inputs
    .row
      .col-md-4
        .radio_button
          = f.input :initiated_through, as: :radio_buttons, collection: Ticket::INITIATED, label: "Initiated through", wrapper: :for_radio_button, input_html: {class: "input_check"}
      .col-md-4
        = f.input :ticket_type, collection: Ticket::TYPES, include_blank: false
      .col-md-4
        = f.input :status, collection: Ticket::STATUS, include_blank: false
    .row
      .col-md-8
        = f.input :subject, input_html: {class: "input_check"}
      .col-md-4
        = f.input :due_date_time, as: :string, input_html: {class: "datetimepicker", value: (DateTime.now+5).strftime("%m/%d/%Y %I:%M %p")}
    .row
      .col-md-4
        = f.association :department, include_blank: false
      .col-md-4
        = f.association :agents, label: "Agent", include_blank: false, collection: ticket.organization.departments, as: :grouped_select, group_method: :users , label_method: :email, value_method: :id  # agent
      .col-md-4
        = f.input :priority, collection: Ticket::PRIORITY, include_blank: false
    .row
      .col-md-12
        = f.input :description, input_html: {class: "input_check"}
    .row
      .col-md-2
        .hello
          = f.simple_fields_for ticket.document_attachments.build, :html => { class: "form-horizontal fixed margin-bottom0" } do |file|
            #ticket_attachment_upload.btn.btn-info.btn-mini.fileinput-button
              %span Attach any file
              = file.file_field :file_path, label: false, placeholder: "Upload any attachment",wrapper_html: {class: "margin-none"}
          = f.input :organization_id, as: :hidden, input_html: {value: organization.id}

      .col-md-10
      .pull-right
        = link_to "Cancel", "#", data: {dismiss: "modal"}, class: "btn btn-link"
        = f.submit "save", class: "btn btn-success"

#customer_modal.modal.fade{tabindex: -1, role: "dialog", "aria-labelledby" => "profile_modal", "aria-hidden" => true}
  .modal-dialog
    .modal-content
      #load_for_model_box

%script{type: "text/html", id: "load_for_customer_select_box_mustache"}
  = render "tickets/load_for_customer_select_box"

%script{type: "text/html", id: "load_for_create_user_for_mustache"}
  = render "tickets/load_create_user"

%script{type: "text/html", id: "load_customer_summary_mustache"}
  = render "tickets/load_customer_summary"