= paginate histories, remote: true, method: :get, params: {controller: "tickets", action: "paginate_ticket_histories"}
%table.table
  %thead
    %tr
      %th
        Ticket number
      %th
        Created_at
      %th
        Created_by
      %th
        status
      %th
        Date resolve
      %th
        Payment pendidng
      %th
        Problem category
      %th
        Problem description
  %tbody
    - histories.each do |history|
      %tr
        %td
          = history.ticket_no.to_s.rjust(6, INOCRM_CONFIG["ticket_no_format"])
        %td
          = history.created_at.try(:strftime, "%m-%d-%Y")
        %td
          = history.created_by
        %td
          = history.ticket_status.name
        %td
          //= history.date_resolve
        %td
          //= history.payment_pending
        %td
          = history.problem_category.try(:name)
        %td
          = history.problem_description