= paginate histories, remote: true, method: :get, params: {controller: "tickets", action: "paginate_ticket_histories"}
%table.table
  %thead
    %tr
      %th
        Ticket number
      %th
        Remarks
      %th
        Problem category
      %th
        Problem description
  %tbody
    - histories.each do |history|
      %tr
        %td
          = history.ticket_no
        %td
          = history.ticket_no
        %td
          = history.remarks
        %td
          = history.problem_category.try(:name)
        %td
          = history.problem_description