= paginate histories, remote: true, method: :get, params: {controller: "tickets", action: "paginate_ticket_histories", rendering_id: "#history_pagination", per_page: 3, rendering_file: "histories"}
%table.table
  %thead
    %tr
      %th
        Ticket no
      %th
        Created at
      %th
        Status
      %th
        Problem category
      %th
        Problem description
      %th
        Closed at
      %th
        Payment pending
      %th
        Created by
  %tbody
    - histories.each do |history|
      %tr
        %td
          = history.ticket_no.to_s.rjust(6, INOCRM_CONFIG["ticket_no_format"])
        %td
          = history.created_at.try(:strftime, "%m-%d-%Y")
        %td
          = history.ticket_status.name
        %td
          = history.problem_category.try(:name)
        %td
          = history.problem_description
        %td
          //= history.date_resolve
        %td
          //= history.payment_pending
        %td
          = User.find(history.created_by).email