/ - display_results = @display_results
/ - inventory_products = @inventory_products
/ - inventories = @inventories
.modal-header
  %h3 Informed To Customer
.modal-body
  = simple_nested_form_for @inform_customer, url: "inform_customer_in_modal_tickets_path", method: :post do |i|
    .row
      .col-md-1
      .col-md-3
        =label_tag "Informed To Customer:"
      .col-md-8
        = i.select :contact_type_id,  TicketContactType.all.map {|c| [c.name, c.id]}
    .row
      .col-md-1
      .col-md-3
        =label_tag "Informed by:"
      .col-md-6
        = current_user.user_name
    .row
      .col-md-1
      .col-md-3
        =label_tag "Informed at:"
      .col-md-6
        = Date.today.try(:strftime, "%Y-%m-%d")
    .row
      .col-md-1
      .col-md-3
        =label_tag "Informed Note:"
      .col-md-6
        = i.input :note, label: false
    .row
      .col-md-9
      .col-md-3
        = i.submit "Save", class: "btn btn-success"
        = i.submit "Cancel", class: "btn btn-default"
.modal-footer
  = link_to "Close", "#", class: "btn btn-default", "data-dismiss" => "modal"