/ - session[:edit_ticket] ||= @edit_ticket
/ - if !@edit_ticket and !request.xhr?
/   - session[:edit_ticket] = false

- remarks = capture do
  = link_to "#", class: "inline_edit load_style", data: {type: "textarea", resource: "ticket", name: "remarks", url: "#", "original-title" => "Update remarks", value: ""}, style: "line-height: 6px;" do
    = simple_format ticket.remarks.to_s.split('<br/>')[0]

  -if ticket.remarks.present?
    %button.btn.btn-link#remarks_popover{"data-container" => "body", "data-content" => ticket.remarks.to_s, "data-placement" => "bottom", "data-toggle" => "popover", "data-trigger" =>"focus", :type => "button","data-html"=>"true",class: "has-popover"}
      More

.row
  .col-md-2
    %h4 Product
  .col-md-10
    %dl.dl-horizontal
      %dt Brand
      %dd= product.product_brand.name
      %dt Category
      %dd= product.product_category.name
      %dt Model number
      %dd= product.model_no
      %dt Product number
      %dd= product.product_no
  %hr
.row
  .col-md-2
    %h4 Accessories
  .col-md-10
    %dl.dl-horizontal
      - ticket.ticket_accessories.each do |a|
        %dd
          = a.accessory.accessory
      %dd.italic= ticket.other_accessories
  %hr
.row
  .col-md-2
    %h4 Ticket Info
  .col-md-5
    %dl.dl-horizontal
      %dt Informed method
      %dd
        = link_to_if current_page?(controller: "tickets", action: "edit_ticket", ticket_id: ticket.id) ,"#{ticket.inform_method.name}", "#" , class: "inline_edit", data: {type: "select", source: InformMethod.first(3).collect{|category| {value: category.id, text: category.name}}, resource: "ticket", name: "pop_status_id", url: "#", "original-title" => "Update inform_method"} do
          = ticket.inform_method.name

      %dt Job type
      %dd
        = link_to_if current_page?(controller: "tickets", action: "edit_ticket", ticket_id: ticket.id) ,"#{ticket.job_type.name}","#", class: "inline_edit", data: {type: "select", source: JobType.first(3).collect{|category| {value: category.id, text: category.name}}, resource: "ticket", name: "job_type_id", url: "#", "original-title" => "Update job_type"} do
          = ticket.job_type.name #ticket.job_type.name

      %dt Ticket type
      %dd #{ticket.ticket_type.name} #{"(Regional support job)" if ticket.regional_support_job}
      %dt Type of warranty
      %dd
        = link_to_if current_page?(controller: "tickets", action: "edit_ticket", ticket_id: ticket.id) ,"#{ticket.warranty_type.name}","#",class: "inline_edit", data: {type: "select", source: WarrantyType.first(3).collect{|category| {value: category.id, text: category.name}}, resource: "ticket", name: "warranty_type_id", url: "#", "original-title" => "Update warranty_type"} do
          = ticket.warranty_type.name #ticket.warranty_type.name

      %dt Customer chargeable
      %dd
        = link_to_if current_page?(controller: "tickets", action: "edit_ticket", ticket_id: ticket.id) ,"#{ticket.cus_chargeable ? 'Yes' : 'No'}","#", class: "inline_edit", data: {type: "select", source: {1=>"Yes",0=>"No"}, resource: "ticket", name: "repair_type_id", url: "#", "original-title" => "Update repair_type"} do
          = ticket.cus_chargeable ? "Yes" : "No" #ticket.cus_chargeable ? "Yes" : "No"

      %dt Repair type
      %dd
        = link_to_if current_page?(controller: "tickets", action: "edit_ticket", ticket_id: ticket.id) ,"#{ticket.repair_type.try(:name)}","#",class: "inline_edit", data: {type: "select", source: RepairType.first(3).collect{|category| {value: category.id, text: category.name}}, resource: "ticket", name: "repair_type_id", url: "#", "original-title" => "Update repair_type"} do
          = ticket.repair_type.try(:name) #ticket.repair_type.try(:name)

  .col-md-5
    %dl.dl-horizontal
      %dt Ticket currency
      %dd= ticket.ticket_currency.currency
      %dt Manufacture currency
      %dd= ticket.manufacture_currency.currency
  %hr
.row
  .col-md-2
    %h4 Problem Info
  .col-md-10
    %dl.dl-horizontal
      %dt Problem Category
      %dd= ticket.problem_category.name
      %dt Problem description
      %dd= ticket.problem_description
  %hr
.row
  .col-md-2
    %h4 POP Info
  .col-md-5
    %dl.dl-horizontal   
      %dt POP status
      %dd
        = product.product_pop_status.name
        = link_to "View POP (#{product.pop_doc_url.file.try :filename})", product.pop_doc_url.url, target: "_blank" if product.pop_doc_url.file.present?
      %dt Sold country
      %dd= product.product_sold_country.try(:Country)
  .col-md-5
    %dl.dl-horizontal
      %dt POP note
      %dd= simple_format product.pop_note
  %hr
.row
  .col-md-2
    %h4 Extra Remarks
  .col-md-10
    - if ticket.ticket_extra_remarks.present?
      - ticket.ticket_extra_remarks.each do |ticket_extra_remark|
        %dt= ticket_extra_remark.extra_remark.try(:extra_remark)
        %dd= ticket_extra_remark.note
  %hr
.row
  .col-md-2
    %h4 Remarks
  .col-md-10
    - if ticket.remarks.present?
      %dd
        = link_to_if current_page?(controller: "tickets", action: "edit_ticket", ticket_id: ticket.id) , remarks do
          = simple_format ticket.remarks
  %hr
.row
  .col-md-2
    %h4 Resolution Summary
  .col-md-10
    %dd= ticket.resolution_summary

/ = params[:controller]
/ %br
/ = params[:action]
/ %br
/ = request.xhr? ? "yes" : "no"

/ %br
/ edit_ticket
/ = current_page?(controller: "tickets", action: "edit_ticket", ticket_id: ticket.id)
/ %br
/ ajax_show
/ = current_page?(controller: "tickets", action: "ajax_show", ticket_id: ticket.id)
