- if params[:edit_ticket]
  = simple_form_for ticket, url: update_edit_ticket_tickets_path, method: :put do |f|
    = f.input :id, as: :hidden

    = hidden_field_tag :process_id, Rails.cache.fetch(["/tickets/edit-ticket", session[:task_id]])[:process_id]
    = hidden_field_tag :task_id, Rails.cache.fetch(["/tickets/edit-ticket", session[:task_id]])[:task_id]
    = hidden_field_tag :owner, Rails.cache.fetch(["/tickets/edit-ticket", session[:task_id]])[:owner]
    - Rails.cache.fetch(["/tickets/edit-ticket", session[:task_id]])[:bpm_input_variables].each do |bpm_input_variable|
      = hidden_field_tag bpm_input_variable[0], bpm_input_variable[1]

    .row
      .col-md-12
        = label_tag "Complete update"
        = check_box_tag :update_complete, true, true, onchange: "Tickets.update_complete(this); return false;"
        = f.submit "Complete update", class: "btn btn-success btn-sm", id: "complete_update_submit"
  %hr
.row
  .col-md-2
    %h4 Product
  .col-md-10
    %dl.dl-horizontal
      %dt Brand
      %dd= product.product_brand.name
      %dt Category
      %dd= product.category_full_name("|")
      %dt Model number
      %dd= product.model_no
      %dt Product number
      %dd= product.product_no
      %dt Serial no
      %dd= product.serial_no
      %dt Name
      %dd= product.name
      %dt Description
      %dd= product.description
  %hr
.row
  .col-md-2
    %h4 Accessories
  .col-md-10
    %dl.dl-horizontal
      - ticket.ticket_accessories.each do |a|
        %dd= a.accessory.accessory
        %dt= a.note.present? ? a.note : '-'
      %dd Other accessories
      %dt.italic= ticket.other_accessories
  %hr
.row
  .col-md-2
    %h4 Ticket Info
  .col-md-5
    %dl.dl-horizontal
      %dt Informed method
      %dd
        = link_to_if params[:edit_ticket],"#{ticket.inform_method.name}", "#" , class: "inline_edit", data: {type: "select", source: InformMethod.where(active: true).first(3).collect{|category| {value: category.id, text: category.name}}, resource: "ticket", name: "pop_status_id", url: update_edit_ticket_tickets_path(ticket_id: ticket.id, edit_ticket: true), "original-title" => "Update inform_method"} do
          = ticket.inform_method.name

      %dt Job type
      %dd
        = link_to_if params[:edit_ticket],"#{ticket.job_type.name}","#", class: "inline_edit", data: {type: "select", source: JobType.where(active: true).first(3).collect{|category| {value: category.id, text: category.name}}, resource: "ticket", name: "job_type_id", url: update_edit_ticket_tickets_path(ticket_id: ticket.id, edit_ticket: true), "original-title" => "Update job_type"} do
          = ticket.job_type.name #ticket.job_type.name

      %dt Ticket type
      %dd #{ticket.ticket_type.name} #{"(Regional support job)" if ticket.regional_support_job} #{ticket.onsite_type.try(:name)}
      %dt Type of warranty
      %dd
        = link_to_if params[:edit_ticket],"#{ticket.warranty_type.name}","#",class: "inline_edit", data: {type: "select", source: WarrantyType.where(active: true).first(3).collect{|category| {value: category.id, text: category.name}}, resource: "ticket", name: "warranty_type_id", url: update_edit_ticket_tickets_path(ticket_id: ticket.id, edit_ticket: true), "original-title" => "Update warranty_type"} do
          = ticket.warranty_type.name #ticket.warranty_type.name

      %dt Customer chargeable
      %dd
        = link_to_if params[:edit_ticket],"#{ticket.cus_chargeable ? 'Yes' : 'No'}","#", class: "inline_edit", data: {type: "select", source: {1=>"Yes",0=>"No"}, resource: "ticket", name: "cus_chargeable", url: update_edit_ticket_tickets_path(ticket_id: ticket.id, edit_ticket: true), "original-title" => "Update cus_chargeable"} do
          = ticket.cus_chargeable ? "Yes" : "No" #ticket.cus_chargeable ? "Yes" : "No"

      %dt Repair type
      %dd
        = link_to_if params[:edit_ticket],"#{ticket.ticket_repair_type.try(:name)}","#",class: "inline_edit", data: {type: "select", source: TicketRepairType.first(3).collect{|category| {value: category.id, text: category.name}}, resource: "ticket", name: "repair_type_id", url: update_edit_ticket_tickets_path(ticket_id: ticket.id, edit_ticket: true), "original-title" => "Update repair_type"} do
          = ticket.ticket_repair_type.try(:name) #ticket.repair_type.try(:name)

  .col-md-5
    %dl.dl-horizontal
      %dt Ticket currency
      %dd= ticket.ticket_currency.currency
      %dt Manufacture currency
      %dd= ticket.manufacture_currency.currency
  %hr
.row
  .col-md-2
    %h4 Problem Info
  .col-md-10
    %dl.dl-horizontal
      %dt Problem Category
      %dd= ticket.problem_category.name
      %dt Problem description
      %dd= ticket.problem_description
  %hr
.row
  .col-md-2
    %h4 POP Info
  .col-md-5
    %dl.dl-horizontal   
      %dt POP status
      %dd
        = link_to "#", class: "inline_edit", data: {type: "select", source: ProductPopStatus.where(active: true).collect{|pop| {value: pop.id, text: pop.name}}, resource: "product", name: "pop_status_id", url: product_update_tickets_path(product_id: product.id ), "original-title" => "Update Pop Status"} do
          = product.product_pop_status.try(:name)
        = link_to "View POP (#{product.pop_doc_url.file.try :filename})", product.pop_doc_url.url, target: "_blank" if product.pop_doc_url.file.present?
      %dt Sold country
      %dd= product.product_sold_country.try(:country_name_with_code)
  .col-md-5
    %dl.dl-horizontal
      %dt POP note
      %dd= simple_format product.pop_note
  %hr
.row
  .col-md-2
    %h4 Extra Remarks
  .col-md-10
    - if ticket.ticket_extra_remarks.present?
      - ticket.ticket_extra_remarks.each do |ticket_extra_remark|
        %dt= ticket_extra_remark.extra_remark.try(:extra_remark)
        %dd= ticket_extra_remark.note
  %hr
.row
  .col-md-2
    %h4 Note
  .col-md-10
    %dd= ticket.try(:note)
  %hr
.row
  .col-md-2
    %h4 Remarks
  .col-md-10
    %dd
      = link_to_if params[:edit_ticket], simple_format(ticket.remarks), "#" , class: "inline_edit", data: {type: "textarea", resource: "ticket", name: "remarks", url: update_edit_ticket_tickets_path(ticket_id: ticket.id, edit_ticket: true), "original-title" => "Update inform_method", value: ""} do
        = simple_format ticket.remarks
      - if ticket.remarks.present?
        %button.btn.btn-link#remarks_popover{"data-container" => "body", "data-content" => ticket.remarks.to_s, "data-placement" => "bottom", "data-toggle" => "popover", "data-trigger" =>"focus", :type => "button","data-html"=>"true",class: "has-popover"}
          More
  %hr
.row
  .col-md-2
    %h4 Resolution Summary
  .col-md-10
    %dd= ticket.resolution_summary