%br
.row
  .col-md-4
    %strong Join Tickets
.row
  .col-md-4
  .col-md-4
    %p No of Join Tickets #{tickets.count}

-tickets.each do |jt|
  .row
    .col-md-4
      Ticket No #{jt.ticket_no}
    .col-md-4
      Ticket Date #{jt.created_at}
    .col-md-4
      Ticket By #{jt.created_by}
  %br 
  .row
    .col-md-4
      Serial No #{jt.products.present? and jt.products.first.serial_no}
  .row 
    .col-md-4
      Description #{jt.product_description}
  .row 
    .col-md-4
      Customer #{jt.customer and jt.customer.name }
  .row 
    .col-md-4
      Contact Person 1 #{jt.contact_person1 and jt.contact_person1.name}
  .row 
    .col-md-4
      Contact Person 2 #{jt.contact_person2 and jt.contact_person2.name}
  .row 
    .col-md-4
      Engineer #{}