%br
.row
  - join_tickets.each do |jt|
    .col-xs-6
      %p Ticket
      .col-md-6.col-md-offset-1
        %p NO #{jt.ticket_no}
        %p Date #{jt.created_at.strftime("%Y-%m-%d")}
        %p By #{jt.created_by}

    .col-xs-12
      %p Product
      .col-md-6.col-md-offset-1
        %p Category #{jt.products.present? and jt.products.first.product_category.name}
        %p Model No #{jt.products.present? and jt.products.first.model_no}
        %p Product No #{jt.products.present? and jt.products.first.product_no}
        %p Serial No #{jt.products.present? and jt.products.first.serial_no}
        %p Description #{jt.problem_description}
        %br
        .col-md-6.col-md-offset-1
          %p Customer #{jt.customer and jt.customer.name }
          %p Contact Person 1 #{jt.contact_person1 and jt.contact_person1.name}
          %p Contact Person 2 #{jt.contact_person2 and jt.contact_person2.name}
          %p Report Person