- joint_tickets = ticket.joint_tickets.collect{|j| j.joint_ticket_id}

.row 
%br
  %font{:size => "2"} Tickets which are logged within last 7 days and not completed listed here.
%br
%br
.row
- customer.tickets.where(logged_at: [(Time.now.beginning_of_day-7.days)..Time.now.end_of_day], job_finished: false).each do |t|
  - unless joint_tickets.include?(t.id)
    - ticket.joint_tickets.build joint_ticket_id: t.id
- if ticket.joint_tickets.present?
  = simple_nested_form_for ticket, url: join_tickets_tickets_path, method: :post, remote: true do |f|
    / = hidden_field_tag "ticket[joint_tickets_attributes][][joint_ticket_id]", nil
    %table.table
      %thead
        %tr
          %th
            Ticket number
          %th
            Ticket date
          %th
            Category
          %th
            Serial number
          %th
            Model number
          %th
            Problem category

      %tbody
        = f.simple_fields_for :joint_tickets do |jt|
          - ticket_detail = customer.tickets.find(jt.object.joint_ticket_id)
          %tr
            %td
              = ticket_detail.ticket_no
            %td
              = ticket_detail.logged_at.to_date.strftime("%m-%d-%Y")
            %td
              = ticket_detail.products.first.product_category.name
            - if ticket_detail.products.first
              %td
                = ticket_detail.products.first.serial_no
              %td
                = ticket_detail.products.first.model_no
            %td
              = ticket_detail.problem_category.try :name
            %td
              = check_box_tag "ticket[joint_tickets_attributes][][joint_ticket_id]", jt.object.joint_ticket_id, joint_tickets.include?(jt.object.joint_ticket_id), class: "checked_row"
    .row
      .col-md-12
        = f.submit "Join ticket", class: "btn btn-info btn-sm pull-right"