- customer = @new_customer
#customer_details
.table-responsive.col-md-6.table-borderless
  %table.table
    %tbody
      %tr
        %td.text-right
          %strong Customer Name:
        %td= customer.name
        %td.text-right
          %strong Problem Category:
        %td=ticket.problem_category.try(:name)
      %tr
        %td.text-right
          %strong Customer Address:
        %td
          = customer.address1
          %br/
          = customer.address2
          %br/
          = customer.address3
          %br/
          = customer.address4
        %td.text-right
          %strong Problem Description:
        %td=ticket.problem_description
%hr
= link_to "contact person", contact_persons_tickets_path, remote: true
#contact_persons
  .row
    .col-md-4
      = label_tag "Select contact person1" do
        = radio_button_tag "contact_person1", "select", false, class: "radio_for_contact_person1", data: {param: "select_contact_person1"}
        Select Contact Person1
      = label_tag "Create contact person1" do
        = radio_button_tag "contact_person1", "create", false, class: "radio_for_contact_person1", onclick: "Tickets.assign_contact_person('', '1', 'initiate_contact_person'); false;", data: {param: "create_contact_person1"}
        Create Contact Person1
      #contact_persons_form1.contact_persons_form
        - if ticket.contact_person1
          #{ticket.contact_person1.mst_title.try(:title)} #{ticket.contact_person1.name}
          - ticket.contact_person1.contact_person_contact_types.each do |ct|
            = ct.contact_type.try(:name)
            = ct.value

    .col-md-4
      = label_tag "Select contact person2" do
        = radio_button_tag "contact_person2", "select", false, class: "radio_for_contact_person2", data: {param: "select_contact_person2"}
        Select Contact Person2
      = label_tag "Create contact person2" do
        = radio_button_tag "contact_person2", "create", false, class: "radio_for_contact_person2", onclick: "Tickets.assign_contact_person('', '2', 'initiate_contact_person'); false;", data: {param: "create_contact_person2"}
        Create Contact Person2
      #contact_persons_form2.contact_persons_form
        - if ticket.contact_person2
          #{ticket.contact_person2.mst_title.try(:title)} #{ticket.contact_person2.name}
          - ticket.contact_person2.contact_person_contact_types.each do |ct|
            = ct.contact_type.try(:name)
            = ct.value

    .col-md-4
      = label_tag "Select report person" do
        = radio_button_tag "report_person", "select", false, class: "radio_for_report_person", data: {param: "select_report_person"}
        Select Report Person
      = label_tag "Create report person" do
        = radio_button_tag "report_person", "create", false, class: "radio_for_report_person", data: {param: "create_report_person"}
        Create Report Person
      #report_persons_form.contact_persons_form
        - if ticket.report_person
          #{ticket.report_person.mst_title.try(:title)} #{ticket.report_person.name}
          - ticket.report_person.contact_person_contact_types.each do |ct|
            = ct.contact_type.try(:name)
            = ct.value

#contact_person.modal.fade{tabindex: -1, role: "dialog", "aria-labelledby" => "contact_person", "aria-hidden" => true}
  .modal-dialog
    .modal-content