- customer = @new_customer
.table-responsive.col-md-6.table-borderless
  %h4 Customer and problem
  %table.table
    %tbody
      %tr
        %td.text-right
          %strong Customer Name:
        %td #{customer.mst_title.try(:name)} #{customer.name}
        %td.text-right
          %strong Problem Category:
        %td=ticket.problem_category.try(:name)
      %tr
        %td.text-right
          %strong Customer Address:
        %td
          = customer.address1
          %br/
          = customer.address2
          %br/
          = customer.address3
          %br/
          = customer.address4
        %td.text-right
          %strong Problem Description:
        %td=ticket.problem_description
      %tr
        %td.text-right
          %strong Costomer Contacts
        %td
          - customer.contact_type_values.each do |ct|
            #{ct.contact_type.try(:name)}: #{ct.value}
            %br/
%hr
.row
  .col-md-12
    = link_to "Back", "#"
= link_to "", contact_persons_tickets_path, remote: true, class: "glyphicon glyphicon-refresh", id: "create_contact_person"
#contact_persons
  .row
    .col-md-4
      = label_tag "Select contact person1" do
        = radio_button_tag "contact_person1", "select", false, class: "radio_for_contact_person1", data: {param: "select_contact_person1"}
        Select Contact Person1
      = label_tag "Create contact person1" do
        = radio_button_tag "contact_person1", "create", false, class: "radio_for_contact_person1", onclick: "Tickets.assign_contact_person('', '1', 'initiate_contact_person'); false;", data: {param: "create_contact_person1"}
        Create Contact Person1
      #contact_persons_form1.contact_persons_form
        - if ticket.contact_person1
          %fieldset
            %strong Name
            #{ticket.contact_person1.mst_title.try(:title)} #{ticket.contact_person1.name}
            %br/
            - ticket.contact_person1.contact_person_contact_types.each do |ct|
              %strong= ct.contact_type.try(:name)
              = ct.value
              %br/


    .col-md-4
      = label_tag "Select contact person2" do
        = radio_button_tag "contact_person2", "select", false, class: "radio_for_contact_person2", data: {param: "select_contact_person2"}
        Select Contact Person2
      = label_tag "Create contact person2" do
        = radio_button_tag "contact_person2", "create", false, class: "radio_for_contact_person2", onclick: "Tickets.assign_contact_person('', '2', 'initiate_contact_person'); false;", data: {param: "create_contact_person2"}
        Create Contact Person2
      #contact_persons_form2.contact_persons_form
        - if ticket.contact_person2
          %fieldset
            %strong Name
            #{ticket.contact_person2.mst_title.try(:title)} #{ticket.contact_person2.name}
            %br/
            - ticket.contact_person2.contact_person_contact_types.each do |ct|
              %strong= ct.contact_type.try(:name)
              = ct.value
              %br/

    .col-md-4
      = label_tag "Select report person" do
        = radio_button_tag "report_person", "select", false, class: "radio_for_report_person", data: {param: "select_report_person"}
        Select Report Person
      = label_tag "Create report person" do
        = radio_button_tag "report_person", "create", false, class: "radio_for_report_person", onclick: "Tickets.assign_contact_person('', '3', 'initiate_contact_person'); false;", data: {param: "create_report_person"}
        Create Report Person
      #report_persons_form.contact_persons_form
        - if ticket.report_person
          %fieldset
            %strong Name
            #{ticket.report_person.mst_title.try(:title)} #{ticket.report_person.name}
            %br/
            - ticket.report_person.contact_person_contact_types.each do |ct|
              %strong= ct.contact_type.try(:name)
              = ct.value
              %br/

  - if ticket.contact_person1 and ticket.contact_person2 and ticket.report_person
    .row
      .col-md-4.pull-right
        = link_to "Next", new_warranty_path, remote: true, class: "btn btn-sm btn-success pull-right"

#contact_person.modal.fade{tabindex: -1, role: "dialog", "aria-labelledby" => "contact_person", "aria-hidden" => true}
  .modal-dialog
    .modal-content