- customer = @new_customer
- customer_contact_types = capture do
  - customer.contact_type_values.each do |contact_type_value|
    %strong= contact_type_value.contact_type.try(:name)
    = contact_type_value.value
    %br/


- priority = link_to "#", class: "inline_edit", data: {type: "select", source: INOCRM_CONFIG["priority"].collect{ |key,value| {value: value, text: key} }, resource: "ticket", name: "priority", url: ticket_update_tickets_path, "original-title" => "Update priority"} do
  = INOCRM_CONFIG["priority"].key(ticket.priority.to_i)

- problemcategory = link_to "#", class: "inline_edit", data: {type: "select", source: ProblemCategory.all.collect{|warranty| {value: warranty.id, text: warranty.name}}, resource: "ticket", name: "problem_category_id", url: ticket_update_tickets_path, "original-title" => "Update problem category"} do
  = ticket.problem_category.name

- problemdescription = link_to "#", class: "inline_edit", data: {type: "text", resource: "ticket", name: "problem_description", url: ticket_update_tickets_path, "original-title" => "Update problem description"} do
  = ticket.problem_description

- warranty = link_to "#", class: "inline_edit", data: {type: "select", source: WarrantyType.all.collect{|warranty| {value: warranty.id, text: warranty.name}}, resource: "ticket", name: "warranty_type_id", url: ticket_update_tickets_path, "original-title" => "Update Warranty type"} do
  = ticket.warranty_type.name

- tickettype = link_to "#", class: "inline_edit", data: {type: "select", source: TicketType.all.collect{|warranty| {value: warranty.id, text: warranty.name}}, resource: "ticket", name: "ticket_type_id", url: ticket_update_tickets_path, "original-title" => "Update ticket type"} do
  = ticket.ticket_type.name

- customerchargeable = link_to "#", class: "inline_edit", data: {type: "select", source: [{value: 1, text: "yes"},{value: 0, text: "no"}], resource: "ticket", name: "cus_chargeable", url: ticket_update_tickets_path, "original-title" => "Update cus chargeable"} do
  - if ticket.cus_chargeable == false
    no
  - else
    yes

- jobtype = link_to "#", class: "inline_edit", data: {type: "select", source: JobType.all.collect{|category| {value: category.id, text: category.name}}, resource: "ticket", name: "job_type_id", url: ticket_update_tickets_path, "original-title" => "Update Job Type"} do
  = ticket.job_type.name

.col-md-2.col-xs-12.col-sm-2{style: "padding-left:0;"}
  = tab_nav_tab({class: "tabs-left", id: "secondary_tab"}, job_info: {content: "Job info", active_class: "job_c"}, customer: {content: "Customer", active_class: "active customer_c"})
.col-md-10.col-xs-12.col-sm-10
  .tab-content
    = tab_content tabpointer: :job_info do
      = initiate_table table_type: "table-hover table-bordered" do
        = table_header ["Priority", "Problem category", "Problem description", "Warranty", "Ticket type", "Customer chargeable", "Job Type"]
        = table_body [priority, problemcategory, problemdescription, warranty, tickettype,customerchargeable, jobtype]
    = tab_content tabpointer: :customer, active_class: "active" do
      = initiate_table table_type: "table-hover table-bordered" do
        = table_header ["Name", "Address", "Contacts"]
        = table_body ["#{customer.mst_title.try(:name)} #{customer.name}", "#{customer.address1}, #{customer.address2}, #{customer.address3}, #{customer.address4}, #{customer.district.try(:name)}", (customer.organization and customer.organization.contact_numbers.first.try(:value))]
      - if customer.organization.present?
        %h4 Organization
        = initiate_table table_type: "table-hover table-bordered" do
          = table_header ["Name", "VAT", "Industry type"]
          = table_body ["#{customer.organization.name}", "#{customer.organization.account.vat_number}", customer.organization.industry_type.try(:name)]

- unless ticket.ticket_contract.present?
  %strong.name_validate Customer
  = label_tag "Select Customer", class: "small_scale_margin-right1 small_scale_margin-left2" do
    = radio_button_tag "customer_select", "select", false, class: "radio_for_customer_select", onchange: "Tickets.customer_select('select', '#{product.id}', '#{@ticket_time_now}'); false;", required:true
    Select
  = label_tag "New Customer" do
    = radio_button_tag "customer_select", "create", false, class: "radio_for_customer_select", onchange: "Tickets.customer_select('create', '#{product.id}', '#{@ticket_time_now}'); false;", required:true
    New

  %hr

= link_to "", contact_persons_tickets_path(product_id: product.id, ticket_time_now: @ticket_time_now), remote: true, class: "glyphicon glyphicon-refresh hide", id: "create_contact_person"
#contact_persons
  .row
    .col-md-4
      %strong.name_validate Contact person1
      = label_tag "Select", class: "small_scale_margin-right1 small_scale_margin-left2" do
        = radio_button_tag "contact_person1", "select", false, class: "radio_for_contact_person1", data: {param: "select_contact_person1", productid: product.id, tickettimenow: @ticket_time_now}
        Select
      = label_tag "Create contact person1" do
        = radio_button_tag "contact_person1", "create", false, class: "radio_for_contact_person1", onclick: "Tickets.assign_contact_person('', '1', '#{product.id}', '#{@ticket_time_now}', 'initiate_contact_person'); false;", data: {param: "create_contact_person1", productid: product.id, tickettimenow: @ticket_time_now}
        Create
      #contact_persons_form1.contact_persons_form
        - if ticket.contact_person1
          %fieldset
            %strong Name
            #{ticket.contact_person1.mst_title.try(:title)} #{ticket.contact_person1.name}
            %br/
            - ticket.contact_person1.contact_person_contact_types.each do |ct|
              %strong= ct.contact_type.try(:name)
              = ct.value
              %br/


    .col-md-4
      %strong Contact person2
      = label_tag "Select contact person2", class: "small_scale_margin-right1 small_scale_margin-left2" do
        = radio_button_tag "contact_person2", "select", false, class: "radio_for_contact_person2", data: {param: "select_contact_person2", productid: product.id, tickettimenow: @ticket_time_now}
        Select
      = label_tag "Create contact person2" do
        = radio_button_tag "contact_person2", "create", false, class: "radio_for_contact_person2", onclick: "Tickets.assign_contact_person('', '2', '#{product.id}', '#{@ticket_time_now}', 'initiate_contact_person'); false;", data: {param: "create_contact_person2", productid: product.id, tickettimenow: @ticket_time_now}
        Create
      #contact_persons_form2.contact_persons_form
        - if ticket.contact_person2
          %fieldset
            %strong Name
            #{ticket.contact_person2.mst_title.try(:title)} #{ticket.contact_person2.name}
            %br/
            - ticket.contact_person2.contact_person_contact_types.each do |ct|
              %strong= ct.contact_type.try(:name)
              = ct.value
              %br/

    .col-md-4
      %strong.name_validate Report person
      = label_tag "Select report person", class: "small_scale_margin-right1 small_scale_margin-left2" do
        = radio_button_tag "report_person", "select", false, class: "radio_for_report_person", data: {param: "select_report_person", productid: product.id, tickettimenow: @ticket_time_now}
        Select
      = label_tag "Create report person" do
        = radio_button_tag "report_person", "create", false, class: "radio_for_report_person", onclick: "Tickets.assign_contact_person('', '3', '#{product.id}', '#{@ticket_time_now}', 'initiate_contact_person'); false;", data: {param: "create_report_person", productid: product.id, tickettimenow: @ticket_time_now}
        Create
      #report_persons_form.contact_persons_form
        - if ticket.report_person
          %fieldset
            %strong Name
            #{ticket.report_person.mst_title.try(:title)} #{ticket.report_person.name}
            %br/
            - ticket.report_person.contact_person_contact_types.each do |ct|
              %strong= ct.contact_type.try(:name)
              = ct.value
              %br/
  .row
    .col-md-12
      = link_to "Back", find_by_serial_tickets_path(serial_search: product.serial_no, contract_id: ticket.contract_id, product_id: product.id, ticket_time_now: @ticket_time_now), remote: true, method: :post, data: {disable_with: "Please wait..."}
      / - if ticket.contact_person1 and ticket.contact_person2 and ticket.report_person
      - if ticket.contact_person1 and ticket.report_person
        = link_to "Next", new_warranty_path(product_id: product.id, ticket_time_now: @ticket_time_now), remote: true, class: "btn btn-sm btn-success  small_scale_margin-top2 small_scale_margin-bottom2", data: {disable_with: "Please wait..."}

#contact_person.modal.fade{tabindex: -1, role: "dialog", "aria-labelledby" => "contact_person", "aria-hidden" => true}
  .modal-dialog
    .modal-content

#customer_modal.modal.fade{tabindex: -1, role: "dialog", "aria-labelledby" => "customer_modal", "aria-hidden" => true}
  .modal-dialog
    .modal-content