- index = 0
= paginate search_customers, remote: true, method: :get, params: {controller: "tickets", action: "paginate_payment_pending_tickets", rendering_id: "#payment_pending_tickets_pagination", per_page: 3, rendering_file: "payment_pending_tickets"}
%table.table.table-striped
  %thead
    %tr
      %th No
      %th Ticket Date
      %th Ticket No
      %th Customer
      %th Serial No
      %th Product Brand
      %th Product Category
      %th Product No
      %th
  %tbody
    - @search_customers.each do |search_customer|
      - search_customer.tickets.each do |ticket|
        - index += 1
        %tr
          / %td #{index}
          %td #{ticket.created_at.to_date }
          %td #{ticket.id}
          %td #{ticket.try(:customer).try(:name)}
          %td
            - ticket.try(:products).each do |product|
              #{product.serial_no}
              %br
          %td
            - ticket.try(:products).each do |product|
              #{product.product_brand.name}
              %br
            
          %td
            - ticket.try(:products).each do |product|
              #{product.product_category.name}
              %br
          %td
            - ticket.try(:products).each do |product|
              #{product.product_no}
              %br
          %td
            = link_to "Select", ticket_path(ticket.id)