- if @notice
  .alert.alert-success= @notice
- elsif product_category.errors.present?
  .alert.alert-danger{:role => "alert"}
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} &times;
    %ul
      - product_category.errors.full_messages.each do |error|
        %li= error
%fieldset
  %legend Create new category
  = simple_form_for product_category, url: create_new_category_tickets_path, remote: true do |f|
    .row
      = f.association :product_brand, wrapper_html: {class: "col-md-4"}
      .add_sign
        = link_to new_product_brand_tickets_path, remote: true, title: "New Product" do
          %span.glyphicon.glyphicon-plus-sign
      .col-md-1
      = f.input :name, wrapper_html: {class:"col-md-4"}
      = f.input :sla_id, as: :hidden
    .row
      .col-md-12
        %strong SLA time
        = label_tag "Select SLA Time" do
          = radio_button_tag "name", "sla_time", false, class: "radio_for_sla", data: {param: "select_sla"}
          Select
        = label_tag "Create SLA Time", class: "small_scale_margin-left2" do
          = radio_button_tag "name", "description", false, class: "radio_for_sla", data: {param: "create_sla"}
          Create
        #sla_content
    .row
      .col-md-12
        = link_to "Back", new_product_tickets_path, remote: true
        = f.submit "Save", class: "btn btn-success small_scale_margin-top2 small_scale_margin-bottom2"

#toggle_sla.modal.fade{tabindex: -1, role: "dialog", "aria-labelledby" => "toggle_sla", "aria-hidden" => true}
  .modal-dialog
    .modal-content
