- product = ticket.products.first

%br
.row
  .col-md-4
    Product brand :-
    %strong
      = product.product_brand.name
  .col-md-6
    Model number :-
    %strong
      = product.model_no
.row
  .col-md-4
    Product category :-
    %strong
      = product.product_category.name
  .col-md-6
    Product number :-
    %strong
      = product.product_no
.row
  .col-md-12
    Problem category :-
    %strong
      = ticket.problem_category.name
.row
  .col-md-12
    Problem description :-
    %strong
      = ticket.problem_description
.row
  .col-md-12
    Accessories :-
    - ticket.ticket_accessories.each do |a|
      %strong
        = a.accessory.accessory
.row
  .col-md-12
    Other accessories :-
    %strong
      = ticket.other_accessories
.row
  .col-md-4
    Informed method :-
    %strong
      = ticket.inform_method.name
  .col-md-6
    Job type :-
    %strong
      = ticket.job_type.name
.row
  .col-md-12
    Ticket type :-
    %strong
      = ticket.ticket_type.name
.row
  .col-md-12
    Type of warranty :-
    %strong
      = ticket.warranty_type.name
.row
  .col-md-12
    Sold country :-
    %strong
      = product.product_sold_country.try(:Country)
.row
  .col-md-5
    .pull-left.small_scale_margin-right1
      Pop note :-
    %strong
      = simple_format product.pop_note.to_s.split('<br/>')[0]
  .col-md-7
    Pop status :-
    %strong
      = product.product_pop_status.name