- if @notice
  .alert.alert-success= @notice
- elsif product_brand.errors.present?
  .alert.alert-danger{:role => "alert"}
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} &times;
    %ul
      - product_brand.errors.full_messages.each do |error|
        %li= error
%fieldset
  %legend Create new product brand
  = simple_nested_form_for product_brand, url: create_product_brand_tickets_path, remote: true do |f|
    .row
      = f.input :name, wrapper_html: {class:"col-md-3"}
      = f.input :parts_return_days, wrapper_html: {class:"col-md-3 press"}, input_html: {min: "0"}
      = f.input :warranty_date_format, wrapper_html: {class:"col-md-3"}, label: "Warranty date format", collection: ["dd M, yyyy","dd, yyyy, M","M, yyyy, dd", "M, dd, yyyy", "yyyy, M, dd", "yyyy, dd, M"]
      .col-md-2
        = label_tag "Currency" 
        = f.select :currency_id, options_from_collection_for_select(Currency.all, :id, :currency), {}
      = f.input :sla_id, as: :hidden
    .row
      .col-md-12
        %strong SLA time
        = label_tag "Select SLA Time" do
          = radio_button_tag "name", "sla_time", false, class: "radio_for_sla", data: {param: "select_sla"}
          Select
        = label_tag "Create SLA Time", class: "small_scale_margin-left2" do
          = radio_button_tag "name", "description", false, class: "radio_for_sla", data: {param: "create_sla"}
          Create
        #sla_content
    .row
      .col-md-12
        = link_to "Back", new_product_tickets_path, remote: true, data: {disable_with: "Please wait..."}
        = f.submit "Save", class: "btn btn-success small_scale_margin-top2 small_scale_margin-bottom2", data: {disable_with: "Please wait..."}

#toggle_sla.modal.fade{tabindex: -1, role: "dialog", "aria-labelledby" => "toggle_sla", "aria-hidden" => true}
  .modal-dialog
    .modal-content