- if @notice
  .alert.alert-success= @notice
%fieldset
  %legend Create New Product Brand
  = link_to "Create Product", new_product_tickets_path, remote: true
  = link_to "Category", new_product_category_tickets_path, class: "glyphicon glyphicon-plus-sign", remote: true
  = simple_form_for product_brand, url: create_product_brand_tickets_path, remote: true do |f|
    = f.input :name, wrapper_html: {class:"col-md-6"}
    = f.input :sla_time, label:"Sla_Time (Hours)", wrapper_html: {class:"col-md-6"}
    = f.input :parts_return_days, wrapper_html: {class:"col-md-6"}
    = f.input :warenty_date_formate, wrapper_html: {class:"col-md-6"}
    = f.input :currency_id, as: :hidden
    = f.submit "Save"