- if @notice
  .alert.alert-success= @notice
- elsif product.errors.present?
  .alert.alert-danger{:role => "alert"}
    %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} &times;
    %ul
      - product.errors.full_messages.each do |error|
        %li= error
%fieldset
  %legend Create New Product
  = simple_form_for product, url: create_product_tickets_path, remote: true do |f|
    .row
      .col-md-6
        = f.association :product_brand, wrapper_html: {style: "width: 95%; float: left;"}
        .add_sign
          = link_to new_product_brand_tickets_path, remote: true, title: "New Product" do
            %span.glyphicon.glyphicon-plus-sign
      .col-md-6
        = f.association :product_category, collection: ProductBrand.all, as: :grouped_select, group_method: :product_categories, input_html: {class: "chosen-select"}, wrapper_html: {style: "width: 95%; float: left;"}
        .add_sign
          = link_to new_product_category_tickets_path, remote: true, title: "New Category" do
            %span.glyphicon.glyphicon-plus-sign
    .row  
      = f.input :serial_no, wrapper_html: {class:"col-md-3"}
      = f.input :model_no, wrapper_html: {class:"col-md-3"}
      = f.input :product_no, wrapper_html: {class:"col-md-3"}
      = f.input :corporate_product, as: :radio_buttons, wrapper_html: {class:"col-md-3"}
    .row
      = f.association :product_pop_status, include_blank: false, wrapper_html: {class:"col-md-3"}
      = f.input :pop_note, wrapper_html: {class:"col-md-9"}
    .row
      .col-md-12
        = f.submit "Next", name: "next_to_customer"
        = link_to "Cancel", new_ticket_path