= link_to "", remarks_tickets_path, remote: true, class: "glyphicon glyphicon-refresh"
#remarks
  = render "warranties/warranty", warranty: @warranty
  %hr
  = simple_form_for ticket, url: finalize_ticket_save_ticket_path(ticket), metho: :post, remote: true do |f|
    = f.input :remarks
    = f.association :ticket_contact_type
    = f.input :inform_cp, as: :select, label: "Inform to", collection: [["Contact Person1", 1], ["Contact Person2", 2]]
    = check_box_tag "first_resolution", nil
    = label_tag "1st Level Resolution"
    = f.input :resolution_summary, label: "Resolution"
    = f.submit "Save", class: "btn btn-success"