#remarks

  = simple_nested_form_for ticket, url: finalize_ticket_save_tickets_path, method: :post, remote: true, html: {class: "validate_form"} do |f|
    = hidden_field_tag :product_id, @product.id
    = hidden_field_tag :ticket_time_now, @ticket_time_now

    .row
      .col-md-2
        %strong Contact By
        %br/
        = f.select :contact_type_id, options_from_collection_for_select(TicketContactType.where(active: true), :id, :name), {}, class: "col-md-12 small_scale_margin-top5"
      .col-md-2
        = f.association :owner_organization, collection: (ticket.ticket_contract.present? ? [ticket.ticket_contract.owner_organization] : ([Organization.owner] + Organization.owner.members) ), include_blank: false, label: "Owner Division"

      - c1_email = @ticket.contact_person1.contact_person_contact_types.find_by_contact_type_id(ContactType.where(active: true).find_by_name("E-mail").id).try(:value)

      .col-md-2
        %strong Informed to
        %br/
        - contact_person_array = [["Contact Person1", 1, {"data-email" => c1_email}]]
        - if ticket.contact_person2.present?
          - c2_email = @ticket.contact_person2.contact_person_contact_types.find_by_contact_type_id(ContactType.where(active: true).find_by_name("E-mail").id).try(:value)
          - contact_person_array.push(["Contact Person2", 2, {"data-email" => c2_email}])
        / = f.select :inform_cp, contact_person_array, {}, class: "col-md-12 small_scale_margin-top5", data:{contactemail}

        = f.select :inform_cp, contact_person_array, {}, include_blank: true, class: "col-md-12 small_scale_margin-top5", onclick: "Tickets.getEmailAddress(); return false;"


      - unless ticket.ticket_contract.present?
        .col-md-2
          = f.association :ticket_currency, label_method: :code, include_blank: false

      .col-md-4.pull-right
        = f.input :note
        = f.input :remarks, label: "Remarks (Internal)"
        = f.simple_fields_for :ticket_extra_remarks do |er|
          = er.input :created_by, as: :hidden, input_html: {value: current_user.id}
          = er.association :extra_remark, collection: ExtraRemark.where(active: true),label_method: :extra_remark, value_method: :id, include_blank: false, wrapper_html: {class: "col-md-6"}
          = er.input :note, wrapper_html: {class: "col-md-5"}, input_html: {rows: 1}
          .add_sign
            = er.link_to_remove class: "remove_c_t_v_link" do
              %span.glyphicon.glyphicon-remove-sign
        .row
          .col-md-12.pull-right
            = f.link_to_add :ticket_extra_remarks, class: "accessory_links small_scale_padding-right2" do
              %span.glyphicon.glyphicon-plus-sign
              Add extra remarks
            = link_to create_extra_remark_tickets_path(status_param: "initiate", product_id: @product.id, ticket_time_now: @ticket_time_now), remote: true, method: :post, title: "Create Accessory", class: "accessory_links", onclick: "Tickets.save_cached_ticket(); return false;" do
              %span.glyphicon.glyphicon-plus-sign
              Create extra remarks
    .row
      .col-md-12
        = check_box_tag "first_resolution", nil, false, class: "first_resolution"
        = label_tag "1st Level Resolution"
        = f.input :resolution_summary, required: true, label: "Resolution", input_html: {class: "ticket_resolution_summary"}

      - if EmailTemplate.find_by_code("NEW_TICKET").try(:active)
        .col-md-12
          = check_box_tag "send_email", true, EmailTemplate.find_by_code("NEW_TICKET").try(:default_enable), onchange: "Tickets.emailSend(); return false;"
          = label_tag "Send Email"
        .col-md-4
          = text_field_tag "email_to", "to:#{@ticket.contact_person1.contact_person_contact_types.find_by_contact_type_id(ContactType.where(active: true).find_by_name("E-mail").id).try(:value)}", placeholder: "Enter email like 'to:a@email.com, cc:b@email.com'", class: "form-control small_scale_margin-bottom2"
          .hint
            Enter email like to:a@email.com, cc:b@email.com, cc:c@email.com. It can be multiple occurance. But to:... email must be one occurance. Please avoid space after to: and cc:

    .row
      .col-md-12
        = link_to "Back", new_warranty_path( product_id: @product.id, ticket_time_now: @ticket_time_now), remote: true, data: {disable_with: "Please wait..."}
        .btn-group
          = f.submit "Save", class: "btn btn-success ", data: {disable_with: "Please wait..."}
          %button.btn.btn-success.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :type => "button"}
            %span.caret
            %span.sr-only Toggle Dropdown
          %ul.dropdown-menu{:role => "menu"}
            %li
              = link_to "Cancel", new_ticket_path

#new_extra_remark.modal.fade{tabindex: -1, role: "dialog", "aria-labelledby" => "new_extra_remark", "aria-hidden" => true}
  .modal-dialog
    .modal-content