#select_contact_persons
  = form_tag create_contact_persons_tickets_path, method: :post, remote: true do
    = label_tag "Search By typing"
    = text_field_tag "search_contact_person", nil, class: "form-control"
    = submit_tag "Search", name: "submit_contact_person"
#contact_persons
  - contact_persons.each do |contact_person|
    = contact_person.mst_title.try(:title)
    = contact_person.name
    = contact_person.address1
    = contact_person.address2
    = contact_person.address3
    = contact_person.address4
    - contact_person.tickets.each do |ticket|
      = ticket.ticket_no
      = ticket.ticket_status.name
    = link_to "select", "#", onclick: "Tickets.assign_contact_person(#{contact_person.id}); false;"
