.modal-header
  = label_tag "Search Customer"
  %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
    %span{"aria-hidden" => "true"} &times;
  = @header
.modal-body
  .row
    .col-lg-12
      #select_contact_persons
        = form_tag new_customer_tickets_path, method: :get, remote: true do
          .input-group
            = text_field_tag "search_customer", nil, class: "form-control", placeholder: "search customer by name or contact value"
            %span.input-group-btn
              = submit_tag "Search", class: "btn btn-default", name: "select_customer"
  %br/
  %ul#myTab.nav.nav-tabs{:role => "tablist"}
    %li.active{:role => "presentation"}= link_to "Customer", "#customer_second_id", role: "tab", data: {toggle: "tab"}
    %li{:role => "presentation"}= link_to "Organization", "#organization", role: "tab", data: {toggle: "tab"}

  .tab-content
    #customer_second_id.tab-pane.active{:role => "tabpanel"}
      #contact_persons
        .row
          = paginate customers, remote: true, method: :get if customers.present?
          .table-responsive.col-md-8.table-stiped.table
            %table.table
              %thead
                %tr
                  %th
                    Name
                  %th
                    Address
                  %th
                    Contacts
                  %th
                    Ticket
                  %th
                    Organization
                  %th
                    Function
              %tbody
                - customers.each do |customer|
                  %tr
                    %td
                      #{customer.mst_title.try(:title)} #{customer.name}
                    %td
                      = customer.address1
                      %br/
                      = customer.address2
                      %br/
                      = customer.address3
                      %br/
                      = customer.address4
                    %td
                      - customer.contact_type_values.each do |c_value|
                        #{c_value.contact_type.name}: #{c_value.value}
                        %br/

                    %td
                      - customer.tickets.each do |ticket|
                        #{ticket.ticket_no.to_s.rjust(5, INOCRM_CONFIG["ticket_no_format"])} #{ticket.ticket_status.name}
                    %td
                      = link_to customer.organization.name, organization_path(customer.organization), target: "_blank" if customer.organization
                    %td
                      = link_to "select", "#", onclick: "Tickets.assign_customer('#{customer.id}', '', 'select'); false;"
                      = link_to "edit", "#", onclick: "Tickets.customer_select('create', '#{customer.id}'); false;; false;"

    #organization.tab-pane{:role => "tabpanel"}
      .row
        .table-responsive.col-md-8.table-stiped.table
          %table.table
            %thead
              %tr
                %th
                  Name
                %th
                  Contacts
                %th
                  Ticket
                %th
                  Customers
            %tbody
              - organizations.last(3).each do |organization|
                %tr
                  %td
                    = organization.name

                  %td
                    %strong Address:
                    #{organization.addresses.primary_address.first}
                    %br/
                    %strong Contact Number:
                    #{organization.contact_numbers.primary_contactnumber.first}

                  %td
                    - organization.customers.each do |customer|
                      #{customer.name} #{link_to "select", "#", onclick: "Tickets.assign_customer('#{customer.id}', '', 'select'); false;"}
                      %br/
                  %td
                    = link_to "select", "#", onclick: "Tickets.assign_customer('', '#{organization.id}', 'create'); false;"

.modal-footer
  %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close