= paginate histories, remote: true, method: :get, params: {controller: "tickets", action: "paginate_ticket_histories", rendering_id: "#histories_pagination", per_page: 2, rendering_file: "view_histories"}
.row
  %dl.dl-horizontal
    - histories.each do |history|
      .col-xs-6.col-md-6
        %h4 Ticket
        %dt No
        %dd
          = link_to history.ticket_no.to_s.rjust(6, INOCRM_CONFIG["ticket_no_format"]), history
        %dt Date
        %dd= history.created_at.try(:strftime, "%m-%d-%Y")
        %dt By
        %dd= history.created_by
        %dt Status
        %dd= history.ticket_status.name
        %dt Problem Category
        %dd= history.problem_category.try(:name)
        %dt Problem Description
        %dd= history.problem_description
        %br
        %dt Customer
        %dd #{history.customer and history.customer.mst_title.title} #{history.customer and history.customer.name.capitalize }
        %dt Contact person1
        %dd #{history.contact_person1 and history.contact_person1.mst_title.title} #{history.contact_person1 and history.contact_person1.name.capitalize}
        %dt Contact person2
        %dd #{history.contact_person2 and history.contact_person2.mst_title.title} #{history.contact_person2 and history.contact_person2.name.capitalize}
        %dt Report person
        %dd #{history.report_person and history.report_person.mst_title.title} #{history.report_person and history.report_person.name.capitalize}
        %br
        %dt Engineer
        %dd
        %dt Reported by
        %dd
        %dt Resolution summary
        %dd
        %br
