= simple_nested_form_for @contract, url: add_edit_contract_tickets_path(create: true), method: :post, html: {class: "validate_form"} do |f|
  .panel.panel-primary
    .panel-heading
      %h3.panel-title Add Edit Contract
    .panel-body
      .row
        .col-md-4
          = f.label "Customer:"
          = f.select :customer_id, Organization.all.map{|a| [a.name, a.id]}
        .col-md-3
          = f.input :contract_no
        .col-md-3
          = f.input :contract_b2b, wrapper: :append
        .col-md-2
          = f.select :sla_id, SlaTime.all.map{|a| [a.sla_time, a.id]}
          = f.input :created_by,  as: :hidden, input_html: {value: current_user.id}
          = f.input :created_at, as: :hidden, input_html: {value: DateTime.now.strftime("%d-%m-%Y %H:%M")}
      .row{style: "margin-top:20px;"}
        .col-md-11
          = f.submit "Save", class: "btn btn-success pull-right", id: "submit_new_add_edit_contract"
      
#contract_list
  - if @contract_all.present?
    - @contract_all.each_with_index do |contract, index|
      .panel.panel-info
        .panel-heading
          %h3.panel-title
            %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "##{index}"}
              #{index+1} Contract No : #{contract.try(:contract_no)}
            - unless contract.is_used_anywhere?
              = link_to delete_add_edit_contract_tickets_path(contract_id: contract.id), method: :delete,  :data => { :confirm => 'Are you sure?' } do
                %span.glyphicon.glyphicon-trash
        .panel-collapse.collapse.in{:id => "#{index}"}
          .panel-body
            .row.col-md-12
              .col-md-3
                %strong Customer:
                = link_to "#", class: "inline_edit", data: {type: "select", source: Organization.all.collect{|customer| {value: customer.id, text: customer.name}}, resource: "ticket_contract", name: "customer_id", url: add_edit_contract_tickets_path(edit: true, contract_id: contract.id), "original-title" => "Update Contract"} do
                  = contract.organization.try(:name)
              .col-md-3
                %strong Contract no:
                = link_to "#", class: "inline_edit", data: {type: "text", resource: "ticket_contract", name: "contract_no", url: add_edit_contract_tickets_path(edit: true, contract_id: contract.id), "original-title" => "Update Contract"} do
                  = contract.try(:contract_no)
              .col-md-3
                %strong Contract b to b:
                = link_to "#", class: "inline_edit", data: {type: "select", source: {1=>"Yes",0=>"No"}, resource: "ticket_contract", name: "contract_b2b", url: add_edit_contract_tickets_path(edit: true, contract_id: contract.id), "original-title" => "Update Contract"} do
                  = contract.contract_b2b && "Yes" || "No"
              .col-md-3
                %strong SLA Time:
                = link_to "#", class: "inline_edit", data: {type: "select", source: SlaTime.all.collect{|sla| {value: sla.id, text: sla.sla_time}}, resource: "ticket_contract", name: "sla_id", url: add_edit_contract_tickets_path(edit: true, contract_id: contract.id), "original-title" => "Update Contract"} do
                  = contract.sla_time.try(:sla_time)