- if @product.persisted?
  - if @product.ticket_contracts.any? and params[:from] == "serial_input"

    - content_for :content_for do
      %table.table
        %thead
          %tr
            %th{class: "text-right"} Brand:
            %th= @product.brand_name
          %tr
            %th{class: "text-right"} Category:
            %th= @product.category_full_name(" - ")
          %tr
            %th{class: "text-right"} Model No:
            %th= @product.model_no
          %tr
            %th{class: "text-right"} Product No:
            %th= @product.product_no
      %table.table
        %thead
          %tr
            %th Customer Name
            %th Contract No
            %th Created at
            %th Start Date
            %th Exp Date
            %th Status
            %th Hold
            %th Active
            %th Action
        %tbody
          - @product.ticket_contracts.select{|c| c.dynamic_active }.each do |c|
            %tr
              %td= c.organization.name
              %td= c.contract_no
              %td= c.formated_created_at
              %td= c.formated_contract_start_at
              %td= c.formated_contract_end_at
              %td= c.status_name
              %td= boolean_in_word c.hold, "Yes", "No"
              %td= boolean_in_word c.dynamic_active, "Yes", "No"
              %td= link_to "Select", find_by_serial_tickets_path(serial_search: @product.serial_no, contract_id: c.id, ticket_time_now: @ticket_time_now), method: :post, remote: true
          %tr
            %td.strong{colspan: 8} Without Active Contract
            %td= link_to "Select", find_by_serial_tickets_path(serial_search: @product.serial_no, ticket_time_now: @ticket_time_now), method: :post, remote: true

    $("#ticket_initiate_options_render").modal({backdrop: "static"});
    $("#ticket_initiate_options_render .modal-body").html("#{j content_for :content_for}");

  - else
    $("#ticket_initiate_options_render").modal('hide');
    $("#product_load").html("#{j render 'tickets/form', product: @product, ticket: @ticket, customer: @customer}");
    $(".ticket_sla_time .sla_time").html("#{@ticket.sla_time.try(:sla_time)} Hr(s)");

    Tickets.product_update();

- else
  - if @product_brands.to_a.any?
    - if @product_categories.to_a.any?
      $("#product_load").html("#{j render 'tickets/product_form', product: @product}");
      Tickets.pop_url_doc_upload();
    - else
      $("#product_load").html("#{j render 'tickets/product_category_form', product_category: @new_product_category}");
  - else
    $("#product_load").html("#{j render 'tickets/product_brand_form', product_brand: @new_product_brand}");

  Tickets.radio_for_sla();

Tickets.autosave_form("new_ticket", "saveTicket");

Tickets.filter_select();

Organizations.enable_chosen();

Tickets.remove_serial_search();

Tickets.popnote_more();

Tickets.remove_ajax_loader();

Tickets.onsite_click();

$(".validate_form").validate();
