- if @product.persisted?
  $("#product_load").html("#{j render 'tickets/form', product: @product, ticket: @ticket, customer: @customer}");
  $(".ticket_sla_time .sla_time").html("#{@ticket.sla_time.try(:sla_time)} Hr(s)");

  Tickets.product_update();
- else
  - if @product_brands.to_a.any?
    - if @product_categories.to_a.any?
      $("#product_load").html("#{j render 'tickets/product_form', product: @product}");
      Tickets.pop_url_doc_upload();
    - else
      $("#product_load").html("#{j render 'tickets/product_category_form', product_category: @new_product_category}");
  - else
    $("#product_load").html("#{j render 'tickets/product_brand_form', product_brand: @new_product_brand}");

  Tickets.radio_for_sla();

Tickets.filter_select();

Organizations.enable_chosen();

Tickets.remove_serial_search();

Tickets.popnote_more();

Tickets.remote_true_loader();