.row.grid_perfect
  .col-md-4
    = link_to reason_admins_path, "role" => "button",class: "btn btn-default btn-lg btn-block grid_button" do
      %i.fa.fa-comments-o
      Reason
  .col-md-4
    = link_to country_admins_path, "role" => "button",class: "btn btn-default btn-lg btn-block grid_button" do
      %i.fa.fa-flag
      Country
  .col-md-4
    = link_to accessories_admins_path, "role" => "button",class: "btn btn-default btn-lg btn-block grid_button" do
      %i.fa.fa-laptop
      Accessory
  
.row.grid_perfect
  .col-md-4
    = link_to additional_charge_admins_path, "role" => "button",class: "btn btn-default btn-lg btn-block grid_button" do
      %i.fa.fa-money
      Additional Charge
  .col-md-4
    = link_to customer_feedback_admins_path, "role" => "button",class: "btn btn-default btn-lg btn-block grid_button" do
      %i.fa.fa-smile-o
      Customer Feedback
  .col-md-4
    = link_to general_question_admins_path, "role" => "button",class: "btn btn-default btn-lg btn-block grid_button" do
      %i.fa.fa-question-circle
      General Question
  
.row.grid_perfect
  .col-md-4
    = link_to payment_item_admins_path, "role" => "button",class: "btn btn-default btn-lg btn-block grid_button" do
      %i.fa.fa-plus-circle
      Payment Item
  .col-md-4
    = link_to sbu_admins_path, "role" => "button",class: "btn btn-default btn-lg btn-block grid_button" do
      %i.fa.fa-asterisk
      Sbu
  .col-md-4
    = link_to regional_support_center_admins_path, "role" => "button",class: "btn btn-default btn-lg btn-block grid_button" do
      %i.fa.fa-sitemap
      Regional
  
.row.grid_perfect
  .col-md-4
    = link_to spare_part_description_admins_path, "role" => "button",class: "btn btn-default btn-lg btn-block grid_button" do
      %i.fa.fa-file-text-o
      Spare Part Description
  .col-md-4
    = link_to ticket_start_action_admins_path, "role" => "button",class: "btn btn-default btn-lg btn-block grid_button" do
      %i.fa.fa-th-list
      Ticket Start Action
  .col-md-4
    = link_to title_admins_path, "role" => "button",class: "btn btn-default btn-lg btn-block grid_button" do
      %i.fa.fa-users
      Title
  
.row.grid_perfect
  .col-md-4
    = link_to sla_admins_path, "role" => "button",class: "btn btn-default btn-lg btn-block grid_button" do
      %i.fa.fa-clock-o
      SLA
  .col-md-4
    = link_to tickets_brands_and_categories_admins_path, "role" => "button",class: "btn btn-default btn-lg btn-block grid_button" do
      %i.fa.fa-apple
      Brand & Categories
  .col-md-4
    = link_to tickets_problem_category_admins_path, "role" => "button",class: "btn btn-default btn-lg btn-block grid_button" do
      %i.fa.fa-exclamation-circle
      Problem & Categories