.row.grid_perfect
  .col-md-4
    = link_to ticket_reason_admins_tickets_path, "role" => "button",class: "btn btn-default btn-lg btn-block grid_button" do
      %i.fa.fa-comments-o
      Reason
  .col-md-4
    = link_to ticket_country_admins_tickets_path, "role" => "button",class: "btn btn-default btn-lg btn-block grid_button" do
      %i.fa.fa-flag
      Country
  .col-md-4
    = link_to ticket_accessories_admins_tickets_path, "role" => "button",class: "btn btn-default btn-lg btn-block grid_button" do
      %i.fa.fa-laptop
      Accessory
  
.row.grid_perfect
  .col-md-4
    = link_to ticket_additional_charge_admins_tickets_path, "role" => "button",class: "btn btn-default btn-lg btn-block grid_button" do
      %i.fa.fa-money
      Additional Charge
  .col-md-4
    = link_to user_customer_feedback_admins_users_path, "role" => "button",class: "btn btn-default btn-lg btn-block grid_button" do
      %i.fa.fa-smile-o
      Customer Feedback
  .col-md-4
    = link_to user_general_question_admins_users_path, "role" => "button",class: "btn btn-default btn-lg btn-block grid_button" do
      %i.fa.fa-question-circle
      General Question
  
.row.grid_perfect
  .col-md-4
    = link_to inventory_payment_item_admins_inventories_path, "role" => "button",class: "btn btn-default btn-lg btn-block grid_button" do
      %i.fa.fa-plus-circle
      Payment Item
  .col-md-4
    = link_to employee_sbu_admins_employees_path, "role" => "button",class: "btn btn-default btn-lg btn-block grid_button" do
      %i.fa.fa-asterisk
      Sbu
  .col-md-4
    = link_to organization_regional_support_center_admins_organizations_path, "role" => "button",class: "btn btn-default btn-lg btn-block grid_button" do
      %i.fa.fa-sitemap
      Regional
  
.row.grid_perfect
  .col-md-4
    = link_to ticket_spare_part_description_admins_tickets_path, "role" => "button",class: "btn btn-default btn-lg btn-block grid_button" do
      %i.fa.fa-file-text-o
      Spare Part Description
  .col-md-4
    = link_to ticket_start_action_admins_tickets_path, "role" => "button",class: "btn btn-default btn-lg btn-block grid_button" do
      %i.fa.fa-th-list
      Ticket Start Action
  .col-md-4
    = link_to user_title_admins_users_path, "role" => "button",class: "btn btn-default btn-lg btn-block grid_button" do
      %i.fa.fa-users
      Title
  
.row.grid_perfect
  .col-md-4
    = link_to ticket_sla_admins_tickets_path, "role" => "button",class: "btn btn-default btn-lg btn-block grid_button" do
      %i.fa.fa-clock-o
      SLA
  .col-md-4
    = link_to inventory_brands_and_category_admins_inventories_path, "role" => "button",class: "btn btn-default btn-lg btn-block grid_button" do
      %i.fa.fa-apple
      Brand & Categories
  .col-md-4
    = link_to inventory_problem_and_category_admins_inventories_path, "role" => "button",class: "btn btn-default btn-lg btn-block grid_button" do
      %i.fa.fa-exclamation-circle
      Problem & Categories