- ticket = @ticket
%h3 New Ticket
.row
  .col-md-6
    .ticket_no
      Ticket No: #{@ticket_no.to_s.rjust(6, INOCRM_CONFIG["ticket_no_format"])}
    .ticket_status
      Status: #{@status.name}
  .col-md-6.pull-right.text-right
    .ticket_logged_at
      Ticket logged at:
      = link_to "#", id: "logged_at_new_ticket", data: {type: "combodate", resource: "ticket", name: "ticket_logged_at", url: ticket_update_tickets_path, value: DateTime.now.strftime("%d-%m-%Y %H:%M"), "original-title" => "Update Logged date"} do
        = DateTime.now.strftime("%d-%m-%Y %H:%M")

      <script>
      setTimeout(function(){
      $('#logged_at_new_ticket').editable({
      mode: "inline",
      format: 'DD-MM-YYYY HH:mm',
      viewformat: 'DD-MM-YYYY HH:mm',
      template: 'D - MMMM - YYYY HH:mm',
      combodate: {
      minYear: 2000,
      maxYear: 2016,
      minuteStep: 1
      },
      });
      }, 2000);
      </script>

    .ticket_logged_by
      Ticket logged by: #{current_user.email}
    .ticket_sla_time
      SLA Time (hrs) :
      %span.sla_time #{ticket.sla_time}
.serial_search
  = form_tag find_by_serial_tickets_path, method: :post, remote: true do
    = label_tag "Search By Serial"
    = text_field_tag :serial_search, nil, class: "form-control"
.row
  .col-md-12
    #product_load

#render_ticket_form