- ticket = @ticket

.row.small_scale_padding-top1
  .container
    %h3 New Ticket
    .row
      .col-md-6
        .ticket_no
          Ticket No: #{@ticket_no.to_s.rjust(6, INOCRM_CONFIG["ticket_no_format"])}
        .ticket_status
          Status: #{@status.name}
      .col-md-6.pull-right.text-right
        .ticket_logged_at
          Ticket logged at:
          = link_to "#", id: "logged_at_new_ticket", data: {type: "combodate", resource: "ticket", name: "logged_at", url: ticket_update_tickets_path, value: @ticket.logged_at.strftime("%d-%m-%Y %H:%M"), "original-title" => "Update Logged date"} do
            = DateTime.now.strftime("%d-%m-%Y %H:%M")

          <script>
          setTimeout(function(){
          $('#logged_at_new_ticket').editable({
          mode: "inline",
          format: 'DD-MM-YYYY HH:mm',
          viewformat: 'DD-MM-YYYY HH:mm',
          template: 'D - MMMM - YYYY HH:mm',
          combodate: {
          minYear: 2000,
          maxYear: 2020,
          minuteStep: 1
          },
          });
          }, 2000);
          </script>

        .ticket_logged_by
          Ticket logged by: #{User.cached_find_by_id(@ticket.logged_by).full_name}
        .ticket_sla_time
          SLA Time (hrs) :
          %span.sla_time #{ticket.sla_time}

.row
  #product_load
    %ul.nav.nav-tabs
      %li.active
        %a{"data-toggle" => "tab", :href => "#tab1"} With Serial
      %li
        %a{"data-toggle" => "tab", :href => "#tab2"} With Contracts
    .tab-content
      #tab1.tab-pane.fade.in.active
        .serial_search.small_scale_margin-top1
          = form_tag find_by_serial_tickets_path, method: :post, remote: true do
            = text_field_tag :serial_search, nil, class: "form-control", placeholder: "Search by serial"

      #tab2.tab-pane.fade
        .row.small_scale_padding-top1
          .container
            = collapse_wrapper collapse_id: "contracts_form_collapse", labelledby: "contracts_ticket_form_collapse_labelledby" do
              = collapse collapse_type: "info", labelledby: "contract_ticket_form_collapse_search_customers", header_content: "Search Customers", collapse_link: "contracts_ticket_form_collapse_search_customers_link", collapse_id: "contracts_form_collapse", collapse_in: "in" do
                %h4 Search Customer
                .col-md-12#searchform
                  = render "tickets/add_ticket_with_contracts/customerlist", from_where: "new_ticket"
                / = render "contracts/customerlist", from_where: "new_ticket"
                .col-md-12#customerlist
              = collapse collapse_type: "info", labelledby: "contracts_ticket_form_collapse_contracts", header_content: "Contracts", collapse_link: "contracts_ticket_form_collapse_contracts_link", collapse_id: "contracts_form_collapse", collapse_in: "in" do
                .col-md-12#contractlist