- ticket = @ticket
%h3 New ticket
.row
  .col-md-6
    .ticket_no
      Ticket No: #{@ticket_no.to_s.rjust(5, INOCRM_CONFIG["ticket_no_format"])}
    .ticket_status
      Status: #{@status.name}
  .col-md-6.pull-right.text-right
    .ticket_logged_at
      Ticket logged at: #{DateTime.now.strftime("%Y-%m-%d %H:%M")}
    .ticket_logged_by
      Ticket logged by: #{current_user.email}
    .ticket_sla_time
      SLA Time: #{ticket.sla_time}
.serial_search
  = form_tag find_by_serial_tickets_path, method: :post, remote: true do
    = label_tag "Search By Serial"
    = text_field_tag :serial_search, nil, class: "form-control"
  %hr
.row
  .col-md-12
    #product_load

#render_ticket_form