- ticket = @ticket
%h3
  #{link_to "Tickets", tickets_path} : ticket # #{ticket.id}
.border-all.small_scale_padding1.small_scale_margin-bottom1.ticket_list
  = render "tickets/ticket", ticket: ticket

.row
  .col-md-12
    .ticket_icons
      = link_to "#", class: "reply", id: "reply", onclick: "Tickets.load_new_comment('reply', #{ticket.id}); false;", data: {to_email: ticket.assigned.try(:email), customer: ticket.customer.email} do
        = image_tag "reply.png"
      = link_to "#", class: "forward", id: "forward" do
        = image_tag "forward.png"
      = link_to "#", class: "note", id: "note" do
        = image_tag "note.png"
      = link_to "#", class: "close_ticket", id: "close_ticket" do
        = image_tag "close.png"
      = link_to "#", class: "watcher", id: "watcher", onclick: "Tickets.load_new_comment('watcher'); false;", data: {to_email: ticket.customer.email} do
        = image_tag "watchers.png"
      = link_to "#", class: "trash", id: "trash" do
        = image_tag "trash.png"

.row
  .col-md-9.small_scale_margin-top1
    .col-md-12.padding0
      #load_new_comment_for_ticket

    .comment_list.col-md-12.small_scale_margin-bottom1.padding0
      - ticket.comments.each do |comment|
        = panels panel_type: "info", header_content: "#{comment.subject}" do
          .col-md-1
            = link_to image_tag((comment.agent.avatar.try(:url) || "no_image.jpg"), alt: comment.agent.full_name, class: "media-object"), profile_user_path(comment.agent)
          .col-md-11
            %italic.text-success= comment.history
            = simple_format comment.content

  .ticket_control.col-md-3.small_scale_margin-top1
    = panels panel_type: "danger", header_content: "Customer Info" do
      .row
        .col-md-3.padding-right0
          = link_to image_tag((ticket.customer.avatar.try(:url) || "no_image.jpg"), alt: ticket.customer.full_name, class: "media-object"), profile_user_path(ticket.customer)
        .col-md-9
          = ticket.customer.full_name
      .row
        .col-md-3.padding-right0
          = image_tag "email.png", style: "width: 32px; height: 32px; float: right;"
        .col-md-9
          = ticket.customer.email
      .row
        .col-md-3.padding-right0
          = image_tag "phone.png", style: "width: 32px; height: 32px; float: right;"
        .col-md-9
          = ticket.customer.primary_phone_number.value
      .pull-right= link_to "More", profile_user_path(ticket.customer), target: "_blank"

    = panels panel_type: "danger", header_content: "Ticket info" do
      = simple_form_for ticket do |t|
        = t.association :department, include_blank: true, prompt: "Please choose department"
        = t.association :agents, label: "Agent", include_blank: true, collection: ticket.organization.departments, as: :grouped_select, group_method: :users, group_label_method: :id , label_method: :email, value_method: :id
        = t.input :due_date_time, as: :string, input_html: {class: "datetimepicker", value: ticket.due_date_time.strftime("%m/%d/%Y %I:%M %p")}
        = t.submit "Update", class: "btn btn-xs btn-success pull-right"


%script{type: "text/html", id: "load_new_comment_form_ticket_mustache"}
  = render "tickets/new_comment_for_ticket"

%script{type: "text/html", id: "comment_mustache"}
  = render "tickets/comment"