- ticket = @ticket
- product = ticket.products.first
- warranties = product.warranties
- customer = ticket.customer
- histories = product.tickets
- join_tickets = Ticket.where(id: ticket.joint_tickets.map(&:joint_ticket_id))
- pr_q_and_answers = ticket.q_and_answers.group_by{|a| a.q_and_a && a.q_and_a.task_action.action_description}.inject({}){|hash, (k,v)| hash.merge(k => {"Problematic Questions" => v})}
- ge_q_and_as = ticket.ge_q_and_answers.group_by{|ge_a| ge_a.ge_q_and_a && ge_a.ge_q_and_a.task_action.action_description}.inject({}){|hash, (k,v)| hash.merge(k => {"General Questions" => v})}

.view_ticket_header
  .row.margin-none.bg-info
    .fixed
      .col-md-5.small_scale_padding-top8
        Ticket No :#{ticket.ticket_no.to_s.rjust(6, INOCRM_CONFIG["ticket_no_format"])}
        &nbsp Status Assigned
      .col-md-2.small_scale_padding-top8
        %strong Sereial No:#{product.serial_no }
      .col-md-2.pull-right.text-right.small_scale_padding-top8
        %p RE-OPEN  
      .col-md-2.pull-right.text-right.small_scale_padding-top8
        %p RE-ASSIGN

.view_ticket_body
  .row
    .col-md-6
      %p Date Sold:
      %p Sold By:
      %br/
      %p SLA:
      %p SLA Time:
      %p SLA started:
      %p SLA finished:

    .col-md-6.pull-right.text-right
      %strong Priority: #{INOCRM_CONFIG["priority"].key ticket.priority}
      %p Logged By: #{current_user.email}
      %p Logged at: #{DateTime.now.strftime("%Y-%m-%d %H:%M")}

= tab_content tabpointer: :ticket_info, active_class: "active" do
  = tab_panel do
    .row
      .col-md-1.col-xs-3.col-sm-1
        = tab_nav_tab({class: "tabs-left sideways", id: "secondary_tab"}, job_info: {content: "job info", active_class: "active"}, contacts: {content: "Customer"}, warranties: {content: "Warranties"}, history: {content: "history"}, join: {content: "join"}, q_and_a: {content: "Q & A"})
      .col-md-11.col-xs-9.col-sm-11
        .tab-content
          = tab_content tabpointer: :job_info, active_class: "active" do
            = render "tickets/job_info", product: product, ticket: ticket
          = tab_content tabpointer: :contacts do
            = render "users/view_customer", customer: customer, ticket: ticket
          = tab_content tabpointer: :warranties do
            = render "warranties/select_warranties", warranties: warranties
          = tab_content tabpointer: :history do
            = render "tickets/view_histories", histories: histories
          = tab_content tabpointer: :join do
            = render "tickets/join", join_tickets: join_tickets
          = tab_content tabpointer: :q_and_a do
            = render "q_and_as/q_and_a", ge_q_and_as: ge_q_and_as, pr_q_and_as: pr_q_and_answers