- ticket = @ticket
= ticket.ticket_no
= INOCRM_CONFIG["priority"].key(ticket.priority.to_i)
= ticket.problem_category.name
= ticket.problem_description
= ticket.warranty_type.name
= ticket.ticket_type.name
= ticket.cus_chargeable
= ticket.inform_method.name
= render "product", ticket: ticket

= tab_panel do
  = tab_nav_tab({id: "top_tab"}, ticket_info: {content: "Ticket", active_class: "active"}, tab2: {content: "tab2"}, tab3: {content: "tab3"}, tab4: {content: "tab4"}, tab5: {content: "tab5"}, tab6: {content: "tab6"})
  .tab-content
    = tab_content tabpointer: :ticket_info, active_class: "active" do
      = tab_panel do
        .row
          .col-md-1.col-xs-3.col-sm-1
            = tab_nav_tab({class: "tabs-left sideways", id: "secondary_tab"}, job_info: {content: "job info", active_class: "active"}, contacts: {content: "Customer"}, warranties: {content: "Warranties"}, history: {content: "history"}, join: {content: "join"}, q_and_a: {content: "Q & A"})
          .col-md-11.col-xs-9.col-sm-11
            .tab-content
              = tab_content tabpointer: :job_info, active_class: "active" do
                = render "tickets/job_info"
              = tab_content tabpointer: :contacts do
                = render "users/view_customer"
              = tab_content tabpointer: :warranties do
                = render "warranties/view_warranties"
              = tab_content tabpointer: :history do
                = render "tickets/view_histories"
              = tab_content tabpointer: :join do
                = render "tickets/join"
              = tab_content tabpointer: :q_and_a do
                = render "q_and_as/q_and_a"
    = tab_content tabpointer: :tab2 do
      sample message