%h4 PO No #{SoPo.find_by_id(@po).try(:po_no).to_s.rjust(5, INOCRM_CONFIG["inventory_po_no_format"])}
.panel.panel-success
  .panel-heading.col-md-12
    .col-md-4
      %strong Sales Order No. #{SoPo.find_by_id(@po).try(:so_no)}
    .col-md-4
      %strong PO No. #{SoPo.find_by_id(@po).try(:po_no).to_s.rjust(5, INOCRM_CONFIG["inventory_po_no_format"])}
    .col-md-4
      %strong PO Date #{SoPo.find_by_id(@po).try(:po_date).try(:strftime, INOCRM_CONFIG['short_date_format'])}
  %table.table
    %thead
      %tr
        %th
          Event No
        %th
          Order No
        %th
          Date Ordered
        %th
          Part No
        %th
          Ticket No
        %th
          Item no
        %th
          Serial No 
        %th
          Payment Expected Amount
        %th
          Description
        %th
          Note
    %tbody
      - if SoPo.find_by_id(@po).try(:so_po_items)
        - SoPo.find_by_id(@po).try(:so_po_items).each do |po_item|
          %tr
            %td
              = po_item.ticket_spare_part.ticket_spare_part_manufacture.try(:event_no)
            %td
              = po_item.ticket_spare_part.ticket_spare_part_manufacture.try(:order_no)
            %td
              = po_item.ticket_spare_part.ticket_spare_part_manufacture.try(:issued_at).try(:strftime, INOCRM_CONFIG['short_date_format'])
            %td
              = po_item.ticket_spare_part.ticket_spare_part_manufacture.try(:spare_part_id)
            %td
              = po_item.ticket_spare_part.ticket.support_ticket_no
            %td
              = po_item.item_no
            %td
              = po_item.ticket_spare_part.try(:spare_part_no)
            %td
              = po_item.ticket_spare_part.ticket_spare_part_manufacture.try(:payment_expected_manufacture)
            %td
              = po_item.ticket_spare_part.try(:spare_part_description)
            %td
              = simple_format po_item.ticket_spare_part.try(:note)