/ %h4 View PO
#po_search_wrapper
  .h2 View PO
  .row
    .col-md-12
      %fieldset
        %legend Search PO
        #search_frame
          = form_tag view_po_tickets_path, method: :get, class: "form-horizontal" do
            .row.small_scale_margin-top1
              .col-md-4.small_scale_margin-top2
                = text_field_tag "po_no_format", params[:po_no_format], :placeholder => "PO No", class: "form-control", id: "po_no_id"
              .col-md-4
                = label_tag "Brand"
                = select_tag "product_brand_id", options_from_collection_for_select(ProductBrand.where(active: true), :id, :name, params[:product_brand_id]), include_blank: true, class: "form-control"
            .row.small_scale_margin-top1
              .col-md-4
                = text_field_tag "range_from", params[:range_from], class: "form-control datepicker", placeholder: "Select From date", id: "po_range_from_id"
              .col-md-4
                = text_field_tag "range_to", params[:range_to], class: "form-control datepicker", placeholder: "Select To date", id: "po_range_to_id"
            .row.small_scale_margin-top1
              .col-md-4
                = text_field_tag "support_ticket_no", nil, :placeholder => "Ticket No", class: "form-control", id: "ticket_no_id"
            .row.small_scale_margin-top1
              .col-md-1
                .search
                  = submit_tag "Search", name: "search", class: "btn btn-sm btn-warning"
              .col-md-1
                .reset
                  = link_to "Reset", "#", onclick: "Tickets.reset_searchpo(); return false;", class: "resetpo"
  - if @pos.any?
    .row
      .col-md-12
        %table.table.table-hover
          %thead
            %tr
              %th No
              %th PO No
              %th SO No
              %th Brand
              %th Amount
              %th Currency
              %th Note
              %th Ticket
              / %th Parts ordered from manufacturer
          %tbody
            - @pos.each_with_index do |po, index|
              %tr
                %td
                  - if params[:page]
                    = link_to (index+1)+ 10*(params[:page].to_i-1), view_po_tickets_path(po_callback: "select_po", po_id: po.id)
                  - else
                    = link_to (index+1), view_po_tickets_path(po_callback: "select_po", po_id: po.id)

                %td= po.po_no_format
                %td= po.so_no
                %td= po.brand_of_product_name
                %th= number_with_precision po.amount, precision: 2
                %td= po.currency_type
                %td= po.note
                %td
                  - po.so_po_items.each do |so|
                    = so.ticket_spare_part.ticket.support_ticket_no#try(:ticket_spare_part).try(:ticket).try(:ticket_id)
                    / = so.support_ticket_no
                / %td= po.ticket.user_ticket_actions.select{|u| u.action_id == 31}.first.try(:formatted_action_date)
          = paginate @pos, remote: false, method: :get
          %hr