%br
- delivered_bundle = @delivered_bundle
.row
  .col-md-4
    %strong Bundle No:
    #{delivered_bundle.brand_name}
  .col-md-4
    %strong Brand:
    #{delivered_bundle.created_at.to_datetime.strftime(INOCRM_CONFIG['long_date_format'])}
  .col-md-4
    %strong Created At:
    #{delivered_bundle.created_at.to_datetime.strftime(INOCRM_CONFIG['long_date_format'])}

.row
  .col-md-4
    %strong Created By:
    #{delivered_bundle.created_by_name}
  .col-md-4
    %strong Delivered At:
    #{delivered_bundle.delivered_at.try(:to_datetime).try(:strftime, INOCRM_CONFIG['long_date_format'])}
  .col-md-4
    %strong Delivered By:
    #{delivered_bundle.delivered_by_name}
.row
  .col-md-12
    %strong Note:
    #{delivered_bundle.note}
%hr

- delivered_bundle = @delivered_bundle
.panel.panel-success
  %table.table
    %thead
      %tr
        %th
          Ticket No
        %th
          Spare Part No
        %th
          Spare Part Description
        %th
          Engineer
        %th
          Event No
        %th
          Return Part Serial No
        %th
          Return Part CT No
        %th
          Used Status
        %th
          Spare Part Note
        %th
          Return accepted Date
    %tbody
      - delivered_bundle.ticket_spare_parts.each do |ticket_spare_part|
        %tr
          %td
            = link_to ticket_spare_part.ticket_serial_no, ticket_path(ticket_spare_part.ticket.id), target: "_blank"
          %td
            = ticket_spare_part.spare_part_no
          %td
            = ticket_spare_part.spare_part_description
          %td
            = ticket_spare_part.engineer_name
          %td
            = ticket_spare_part.spare_part_event_no
          %td
            = ticket_spare_part.return_part_ct_no
          %td
            = ticket_spare_part.return_part_serial_no
          %td
            = ticket_spare_part.ticket_use_status
          %td
            = simple_format ticket_spare_part.note
          %td
            = delivered_bundle.created_at.strftime(INOCRM_CONFIG['long_date_format'])