#grn_search_wrapper
  .row
    .col-md-12
      %fieldset
        %legend Search GRN
        #search_frame
          = form_tag search_grn_admins_searches_path, method: :get, class: "form-horizontal" do
            .row
              .col-md-12.brand
                = label_tag "Store"
                = select_tag :store_id, options_from_collection_for_select(Organization.stores, :id, :name, params[:store_id]), include_blank: true, class: "form-control"
            .row.small_scale_margin-top1
              .col-md-4
                = text_field_tag :grn_no, params[:grn_no], :placeholder => "GRN No", class: "form-control"
              .col-md-4
                = text_field_tag "range_from", params[:range_from], class: "form-control datepicker", placeholder: "Select From date"
              .col-md-4
                = text_field_tag "range_to", params[:range_to], class: "form-control datepicker", placeholder: "Select To date"
            .row.small_scale_margin-top1
              .col-md-1
                .search
                  = submit_tag "Search", class: "btn btn-sm btn-warning"

  - if @grns.any?
    .row
      .col-md-12
        %table.table.table-hover
          %thead
            %tr
              %th No
              %th Store
              %th GRN No
              %th GRN Date
              %th PO No
              %th Supplier
              %th Remarks
              %th Created by
              %th Action
          %tbody
            - @grns.each_with_index do |grn, index|
              %tr
                %td= index+1
                %td= grn.store_name
                %td= grn.grn_no_format
                %td= grn.created_at.to_date.strftime(INOCRM_CONFIG["short_date_format"])
                / %td= grn.try(:po_id).to_s.rjust(5, INOCRM_CONFIG["inventory_po_no_format"])
                %td= grn.po_no
                %td= grn.supplier_name
                %td{title: grn.remarks}= grn.remarks.try :truncate, 50
                %td= grn.created_by_user.try(:full_name)
                %td= link_to "Select", search_grn_admins_searches_path(grn_callback: "select_grn",grn_id: grn.id)
          = paginate @grns, remote: false, method: :get
          %hr