%fieldset
  %legend Action Taken
  #error_msg
  = simple_form_for ticket, url: update_action_taken_ticket_path(ticket), method: :post, html: {id: "action_taken_form"} do |f|
    = hidden_field_tag :process_id, session[:process_id]
    = hidden_field_tag :task_id, session[:task_id]
    = hidden_field_tag :owner, session[:owner]

    = f.simple_fields_for "user_ticket_actions_attributes[]", @user_ticket_action do |uf|
      = uf.input :action_id, as: :hidden, input_html: {value: TaskAction.find_by_action_no(13).id}
      = uf.input :action_at, as: :hidden, input_html: {value: DateTime.now.strftime("%d-%m-%Y %H:%M")}
      = uf.input :action_by, as: :hidden, input_html: {value: current_user.id}
      = uf.input :re_open_index, as: :hidden, input_html: {value: ticket.re_open_count}

      = uf.simple_fields_for :ticket_action_taken do |rf|
        = rf.input :action, required: true, input_html: {id: "action_taken_text"}
    = f.input :remarks, input_html: {value: nil}
    = simple_format ticket.remarks
    = f.input :resolution_summary, input_html: {id: "resolution_summary_text"} if ticket.job_finished

    - if ticket.job_finished and ticket.ticket_close_approval_required
      = label_tag "Request to close the Ticket"
      = f.check_box :ticket_close_approval_requested

    = f.submit "Save", class: "btn btn-success", id: "action_taken_submit"