%fieldset
  %legend Create FSR
  = simple_nested_form_for ticket, url: update_create_fsr_ticket_path(ticket), method: :post do |f|
    .col-md-10
      %strong FSR No: 
    = f.check_box :ticket_fsr
    %strong Print FSR
    = f.input :remarks, input_html: {value: nil}
    = simple_format ticket.remarks
    = f.submit "Save", class: "btn btn-success btn-sm"

