%fieldset
  %legend Create FSR
  = simple_nested_form_for ticket, url: update_create_fsr_ticket_path(ticket), method: :post, html: {id: "create_fsr_form"} do |f|
    - @ticket_fsr_no = CompanyConfig.first.next_sup_last_fsr_no #(TicketFsr.any? ? (TicketFsr.order("created_at ASC").map{|f| f.id.to_i}.max + 1) : 1)

    = hidden_field_tag :process_id, Rails.cache.fetch(["/tickets/resolution", params[:task_id]])[:process_id]
    = hidden_field_tag :task_id, Rails.cache.fetch(["/tickets/resolution", params[:task_id]])[:task_id]
    = hidden_field_tag :owner, Rails.cache.fetch(["/tickets/resolution", params[:task_id]])[:owner]
    - Rails.cache.fetch(["/tickets/resolution", params[:task_id]])[:bpm_input_variables].each do |bpm_input_variable|
      = hidden_field_tag bpm_input_variable[0], bpm_input_variable[1]

    = f.simple_fields_for "user_ticket_actions_attributes[]", @user_ticket_action do |uf|
      = uf.input :action_id, as: :hidden, input_html: {value: TaskAction.find_by_action_no(11).id}
      = uf.input :action_by, as: :hidden, input_html: {value: current_user.id}
      = uf.input :re_open_index, as: :hidden, input_html: {value: ticket.re_open_count}
      = uf.input :action_engineer_id, as: :hidden, input_html: {value: Rails.cache.fetch(["/tickets/resolution", params[:task_id]])[:bpm_input_variables].detect{ |e| e.first == "engineer_id" }.second }

      = uf.simple_fields_for :act_fsr do |rf|
        .row.col.md-12
          .col-md-6
            %p FSR No: #{@ticket_fsr_no.to_s.rjust(6, INOCRM_CONFIG["fsr_no_format"])}
        .row.col.md-12
          .col-md-2{style: "margin-right: -100px;"}
            Print FSR:
            = rf.check_box :print_fsr
          .col-md-0
            = f.simple_fields_for "ticket_fsrs_attributes[]", @ticket_fsr do |tf|
              = tf.input :created_by, as: :hidden, input_html: {value: current_user.id}
              = tf.input :engineer_id, as: :hidden, input_html: {value: Rails.cache.fetch(["/tickets/resolution", params[:task_id]])[:bpm_input_variables].detect{ |e| e.first == "engineer_id" }.second }
              .col-md-4
                = tf.input :form_no

          .col-md-6
            = f.submit "Save", class: "btn btn-success", id: "create_fsr_submit", data: {disable_with: "Please wait..."}
