%fieldset
  %legend Edit FSR
  = select_tag "select_fsr", options_from_collection_for_select(@select_fsrs, :id, :id)
  - if @display_form
    = simple_nested_form_for @ticket_fsr, url: update_edit_fsr_ticket_path(ticket), method: :post do |fsr|
      = fsr.input :ticket_id, as: :hidden
      = hidden_field_tag :ticket_fsr_id, @ticket_fsr.id
      .row
        .col-md-2.small_scale_margin-top2
          %p FSR No: #{fsr.object.id.to_s.rjust(6, INOCRM_CONFIG["fsr_no_format"])}
        .col-md-4
          = fsr.input :work_started_at, as: :string, input_html: {class: "datepicker", value: (@ticket_fsr.work_started_at and @ticket_fsr.work_started_at.strftime("%d %b, %Y"))}
        .col-md-4
          = fsr.input :work_finished_at, as: :string, input_html: {class: "datepicker", value: (@ticket_fsr.work_finished_at and @ticket_fsr.work_finished_at.strftime("%d %b, %Y"))}
      .row
        = fsr.input :hours_worked, wrapper_html: {class: "col-md-5"}
        = fsr.input :down_time, wrapper_html: {class: "col-md-5"}
      .row
        = fsr.input :travel_hours, wrapper_html: {class: "col-md-5"}
      .row
        = fsr.input :engineer_time_travel, wrapper_html: {class: "col-md-5"}
        = fsr.input :engineer_time_on_site, wrapper_html: {class: "col-md-5"}
      .row
        = fsr.input :resolution, input_html: {value: nil}, wrapper_html: {class: "col-md-8"}
        = fsr.input :completion_level, as: :radio_buttons, label: "Completion Level", wrapper_html: {class: "col-md-2 small_scale_margin-top2 small_scale_margin-left3"}, collection: {"Full" => "F","Patial" => "P"}, wrapper: :append
      .row
        .col-md-3
          = simple_format @ticket_fsr.resolution
      = fsr.submit "Save", class: "btn btn-success btn-sm"
