-TaskAction
%fieldset
  %legend HP Case
  =simple_nested_form_for HpCase.new, url: update_hp_case_id_ticket_path(ticket), method: :post do |f|
    .row.col-md-12
      = f.input :case_id, wrapper_html: {class: "col-md-5"}, label: "Case Id"
    .row.col-md-12
      = f.input :case_note, wrapper_html: {class: "col-md-7"}
    = f.input :remarks, input_html: {value: nil}
    = simple_format ticket.remarks
    = f.submit "Save", class: "btn btn-success btn-sm", id: "update_start_action"