%fieldset
  %legend Job Estimate Request (External)
  #error_msg
  = simple_nested_form_for ticket, url: update_job_estimation_request_ticket_path(ticket), method: :post do |f|
    / = hidden_field_tag :process_id, session[:process_id]
    / = hidden_field_tag :task_id, session[:task_id]
    / = hidden_field_tag :owner, session[:owner]

    = hidden_field_tag :process_id, Rails.cache.fetch(["/tickets/resolution", params[:task_id]])[:process_id]
    = hidden_field_tag :task_id, Rails.cache.fetch(["/tickets/resolution", params[:task_id]])[:task_id]
    = hidden_field_tag :owner, Rails.cache.fetch(["/tickets/resolution", params[:task_id]])[:owner]
    - Rails.cache.fetch(["/tickets/resolution", params[:task_id]])[:bpm_input_variables].each do |bpm_input_variable|
      = hidden_field_tag bpm_input_variable[0], bpm_input_variable[1]


    = f.simple_fields_for "user_ticket_actions_attributes[]", @user_ticket_action do |uf|
      = uf.input :action_id, as: :hidden, input_html: {value: TaskAction.find_by_action_no(23).id}
      = uf.input :action_at, as: :hidden, input_html: {value: DateTime.now.strftime("%d-%m-%Y %H:%M")}
      = uf.input :action_by, as: :hidden, input_html: {value: current_user.id}
      = uf.input :re_open_index, as: :hidden, input_html: {value: ticket.re_open_count}
      = uf.input :action_engineer_id, as: :hidden, input_html: {value: Rails.cache.fetch(["/tickets/resolution", params[:task_id]])[:bpm_input_variables].detect{ |e| e.first == "engineer_id" }.second }

      .form-group
        = label_tag "Description"
        = text_area_tag :description, nil, class: "form-control"
      = uf.simple_fields_for :job_estimation do |rf|
        = rf.association :organization, include_blank: false, label: "Repair by"

    = f.simple_fields_for "ticket_estimations_attributes[]", @ticket_estimation do |du|
      = du.input :note, wrapper_html: {style: "clear: both;"}
      = du.input :currency_id, as: :hidden, input_html: {value: ticket.base_currency_id}
      = du.input :status_id, as: :hidden, input_html: {value: EstimationStatus.find_by_code("RQS").id}
      = du.input :requested_at, as: :hidden, input_html: {value: DateTime.now.strftime("%d-%m-%Y %H:%M")}
      = du.input :requested_by, as: :hidden, input_html: {value: current_user.id}


    = f.input :remarks, input_html: {value: nil}
    = simple_format ticket.remarks

    = f.submit "Save", class: "btn btn-success", id: "deliver_unit_submit"