%fieldset
  %legend Recieve Unit
  #error_msg
  = simple_nested_form_for ticket, url: update_recieve_unit_ticket_path(ticket), method: :post, html: {id: "update_deliver_unit_form"} do |f|
    = hidden_field_tag :process_id, session[:process_id]
    = hidden_field_tag :task_id, session[:task_id]
    = hidden_field_tag :owner, session[:owner]

    = f.simple_fields_for "user_ticket_actions_attributes[]", @user_ticket_action do |uf|
      = uf.input :action_id, as: :hidden, input_html: {value: TaskAction.find_by_action_no(25).id}
      = uf.input :action_at, as: :hidden, input_html: {value: DateTime.now.strftime("%d-%m-%Y %H:%M")}
      = uf.input :action_by, as: :hidden, input_html: {value: current_user.id}
      = uf.input :re_open_index, as: :hidden, input_html: {value: ticket.re_open_count}

    = f.simple_fields_for :ticket_deliver_units, @recieve_unit do |du|
      = du.input :received, as: :hidden, input_html: {value: true}
      = du.input :received_at, as: :hidden, input_html: {value: DateTime.now.strftime("%d-%m-%Y %H:%M")}
      .row
        .col-md-12
          Organization: #{@recieve_unit.organization.name}
          %div Unit collection date time: #{@recieve_unit.collected_at.try :strftime, "%d-%m-%Y %H:%M"}
          %div Unit collected by: #{User.find_by_id(@recieve_unit.collected_by).try :email}
          = du.input :note, input_html: {value: nil}
          = simple_format du.object.note
    = f.input :remarks, input_html: {value: nil}
    = simple_format ticket.remarks

    = f.submit "Save", class: "btn btn-success", id: "deliver_unit_submit"