%fieldset
  %legend Request Spare Part
  = simple_nested_form_for ticket, url: update_request_spare_part_ticket_path(ticket), method: :post do |f|
    = f.simple_fields_for "ticket_spare_parts_attributes[]", ticket.ticket_spare_parts.build do |spr|
      .row.col-md-12
        = spr.input :fsr_id, wrapper_html: {class: "col-md-3"}, label: "FSR No"
      .row.col-md-12
        = spr.input :spare_part_no, wrapper_html: {class: "col-md-3"}
      .row.col-md-12
        = spr.input :spare_part_description, wrapper_html: {class: "col-md-3"}, label: "Part Description"
        = spr.label "Customer Chargeable part"
        = spr.check_box :cus_chargeable_part, {}, true, false
      .row.col-md-12
        = spr.input :faulty_serial_no, wrapper_html: {class: "col-md-3"}, label: "Fault Serial No"
      .row.col-md-12
        = spr.input :faulty_ct_no, wrapper_html: {class: "col-md-3"}, label: "Fault CT No"
      .row.col-md-12
        = spr.input :note, wrapper_html: {class: "col-md-6"}, label: "Note"
