%fieldset
  %legend Request On Loan Spare Part
  = simple_nested_form_for @ticket_on_loan_spare_part, url: update_request_on_loan_spare_part_ticket_path(ticket), method: :post do |f|

    = hidden_field_tag :process_id, session[:process_id]
    = hidden_field_tag :task_id, session[:task_id]
    = hidden_field_tag :owner, session[:owner]

    = f.input :ticket_id, as: :hidden
    = f.input :status_action_id, as: :hidden, input_html: {value: SparePartStatusAction.find_by_code("RQT").id}
    = f.input :status_use_id, as: :hidden, input_html: {value: SparePartStatusUse.find_by_code("NAP").id}

    = f.input :store_id, as: :hidden
    = hidden_field_tag :mst_store_id
    = f.input :inv_product_id, as: :hidden
    = f.input :main_inv_product_id, as: :hidden

    = f.association :ticket_spare_part, collection: ticket.ticket_spare_parts.map{|tsp| [tsp.spare_part_no, tsp.id]}, prompt: "Please select spare part"
    .ticket_spare_part_description_wrapper
      - @ticket_on_loan_spare_part.ticket.ticket_spare_parts.each do |ticket_spare_part|
        %div{class: "ticket_spare_part_#{ticket_spare_part.id} hide ticket_spare_part_description"}
          = ticket_spare_part.spare_part_description
    .spare_part_select
      = link_to "select", inventory_in_modal_inventories_path(select_frame: "request_from"), id: "request_from_select", remote: true
      .request_from
      = f.input :part_of_main_product, as: :boolean, checked_value: true, unchecked_value: false
      = link_to "select", inventory_in_modal_inventories_path(select_frame: "main_product"), id: "part_of_main_product_select", remote: true
      .main_product
    = f.input :note
    .col-md-6
      = f.simple_fields_for :ticket do |ft|
        = ft.input :remarks, input_html: {value: nil}, wrapper_html: {class: "col-md-12"}
        = simple_format ft.object.remarks
    = f.submit "Save", class: "btn btn-success"

#inventory_modal.modal.fade{tabindex: -1, role: "dialog", "aria-labelledby" => "inventory_modal", "aria-hidden" => true}
  .modal-dialog.modal-lg
    .modal-content