%fieldset
  %legend Start Action
  = simple_nested_form_for ticket, url: update_start_action_ticket_path(ticket), method: :post do |f|
    .row
      .col-md-12
        %h5.strong Start at: #{DateTime.now.strftime('%Y-%m-%d %H:%M')}
        = f.input :job_started_at, as: :hidden, input_html: {value: DateTime.now.strftime("%Y-%m-%d %H:%M")}
    .row
      = f.association :ticket_start_action, label_method: :action, value_method: :id, wrapper_html: {class: "col-md-5"}
      = f.input :job_start_note, wrapper_html: {class: "col-md-7"}
    = f.input :remarks, input_html: {value: nil}
    = simple_format ticket.remarks
    = f.submit "Save", class: "btn btn-success btn-sm"