%fieldset
  %legend Terminate Reason
  = simple_nested_form_for ticket, url: update_terminate_job_ticket_path(ticket), method: :post do |f|
    = hidden_field_tag :process_id, session[:process_id]
    = hidden_field_tag :task_id, session[:task_id]
    = hidden_field_tag :owner, session[:owner]

    = f.simple_fields_for "user_ticket_actions_attributes[]", @user_ticket_action do |uf|
      = uf.input :action_id, as: :hidden, input_html: {value: TaskAction.find_by_action_no(7).id}
      = uf.input :action_at, as: :hidden, input_html: {value: DateTime.now.strftime("%d-%m-%Y %H:%M")}
      = uf.input :action_by, as: :hidden, input_html: {value: current_user.id}
      = uf.input :re_open_index, as: :hidden, input_html: {value: ticket.re_open_count}

      = uf.simple_fields_for :ticket_terminate_job do |rf|
        = rf.association :reason, required: true, include_blank: false, label_method: :reason, value_method: :id
        = rf.input :foc_requested, as: :radio_buttons, collection: {"FOC" => false, "Payment required" => true}, wrapper: :append

      = uf.simple_fields_for :ticket_terminate_job_payments do |tf|
        = tf.input :ticket_id, as: :hidden, input_html: {value: ticket.id}
        = tf.input :amount
        = tf.association :payment_item
        = tf.input :currency_id, as: :hidden, input_html: {value: Currency.find_by_base_currency(true).id}

        .add_sign
          = tf.link_to_remove class: "remove_c_t_v_link" do
            %span.glyphicon.glyphicon-remove-sign

      = uf.link_to_add :ticket_terminate_job_payments, class: "small_scale_padding-right2" do
        %span.glyphicon.glyphicon-plus-sign
        Add payment

    = f.input :remarks, input_html: {value: nil}
    = simple_format ticket.remarks

    = f.submit "Save", class: "btn btn-success"