-if ticket.user_ticket_actions.first.task_action.action_no == 5
  %form
    .form-group
      = label_tag "Action" 
      = select :action_no, options_from_collection_for_select(ticket.user_ticket_actions.all, :id, :action_id), {}
    .form-group
      %label Note
      %textarea.form-control
    .form-inline
      .col-md-4.checkbox
        %label
          %input{:type => "checkbox"}
            Re Assign
      %button.btn.btn-default{:type => "submit"} Start
    .form-group
      %label Reason
      %input.form-control{:type => "text"}
-else
  .form-inline
    .col-md-6
      = label_tag "Ticket Type" 
      In-House / On Site
    .col-md-6
      = label_tag "Repair Type" 
      = radio_button_tag(:r_type, "internal")
      = label_tag(:r_type_internal, "Internal Repair")
      = radio_button_tag(:r_type, "external")
      = label_tag(:r_type_aexternal, "External Repair")
  .form-group
    %label Activity
    %select{:class => "activity_id"}
      %option{:value => "1"} Re Assign
      %option{:value => "2"} Create FSR
      %option{:value => "3"} Action Taken
      %option{:value => "4"} Delever Unit
      %option{:value => "5"} Terminate Job
      %option{:value => "5"} Edit FSR (Un Approved)
      %option{:value => "6"} Request Spare Parts
  .form-group
    %label Resolution Summary
    %textarea.form-control