%fieldset
  %legend Un Hold
  = simple_form_for ticket, url: update_un_hold_ticket_path(ticket), method: :post do |f|
    = hidden_field_tag :process_id, session[:process_id]
    = hidden_field_tag :task_id, session[:task_id]
    = hidden_field_tag :owner, session[:owner]

    = f.simple_fields_for "user_ticket_actions_attributes[]", @user_ticket_action do |uf|
      = uf.input :action_id, as: :hidden, input_html: {value: TaskAction.find_by_action_no(9).id}
      = uf.input :action_at, as: :hidden, input_html: {value: DateTime.now.strftime("%d-%m-%Y %H:%M")}
      = uf.input :action_by, as: :hidden, input_html: {value: current_user.id}
      = uf.input :re_open_index, as: :hidden, input_html: {value: ticket.re_open_count}

    = f.input :status_hold, as: :hidden, input_html: {value: false}

    = f.submit "Save", class: "btn btn-success"

hold at
hold by
hold reason
sla pause
hold time duration