- serial_items = @serial_items
%strong Store: #{@store}
.row
  .col-md-12
    = form_tag search_inventory_serial_item_admins_searches_path, method: :get, class: "form-horizontal" do
      %h4.small_scale_padding-bottom1 Search Inventory Serial Item
      .form-group
        = label_tag "Store", "Store", class: "col-md-2 control-label"
        .col-md-10
          = select_tag "search_inventory[remaining_grn_items][grn][store_id]", options_from_collection_for_select(Organization.stores, :id, :name, (params[:search_inventory] and params[:search_inventory][:remaining_grn_items][:grn][:store_id])), include_blank: true, class: "form-control"
      .form-group
        .col-md-2.control-label
          = label_tag InventoryCategoryCaption.first.caption
        .col-md-10
          = select_tag "search_inventory[inventory_product][category1_id]", options_from_collection_for_select(InventoryCategory1.where(active: true), :id, :name, (params[:search_inventory] and params[:search_inventory][:inventory_product][:category1_id])), include_blank: true, class: "form-control", id: "search_inventory_brand"
      .form-group
        .col-md-2.control-label
          = label_tag InventoryCategoryCaption.second.caption
        .col-md-10
          = select_tag "search_inventory[inventory_product][category2_id]", option_groups_from_collection_for_select(InventoryCategory1.where(active: true), :active_inventory_category2s, :id, :id, :name, (params[:search_inventory] and params[:search_inventory][:inventory_product][:category2_id])), include_blank: true, class: "form-control", id: "search_inventory_product"
      .form-group
        .col-md-2.control-label
          = label_tag InventoryCategoryCaption.third.caption
        .col-md-10
          = select_tag "search_inventory[inventory_product][category3_id]", option_groups_from_collection_for_select(InventoryCategory2.all, :active_inventory_category3s, :id, :id, :name, (params[:search_inventory] and params[:search_inventory][:inventory_product][:category3_id])), include_blank: true, class: "form-control", id: "search_inventory_mst_inv_product_category3_id"  
      .form-group
        .col-md-2.control-label
          = label_tag "Serial Code", "Serial Code"
        .col-md-4
          = text_field_tag "search_inventory[generated_serial_no]", (params[:search_inventory] and params[:search_inventory][:generated_serial_no]), :placeholder => "Serial Code", class: "form-control"
        .col-md-2.control-label
          = label_tag "Item Code", "Item Code"
        .col-md-4
          = text_field_tag "search_inventory[inventory_product][generated_item_code]", (params[:search_inventory] and params[:search_inventory][:inventory_product][:generated_item_code]), :placeholder => "Item Code", class: "form-control"

      .form-group
        .col-md-2.control-label
          = label_tag "Part No", "Part No"
        .col-md-4
          = text_field_tag "search_inventory[inventory_product][spare_part_no]", (params[:search_inventory] and params[:search_inventory][:inventory_product][:spare_part_no]), :placeholder => "Part No", class: "form-control"
        .col-md-2.control-label
          = label_tag "Model No", "Model No"
        .col-md-4
          = text_field_tag "search_inventory[inventory_product][model_no]", (params[:search_inventory] and params[:search_inventory][:inventory_product][:model_no]), :placeholder => "Model No", class: "form-control"

      .form-group
        .col-md-2.control-label
          = label_tag "Description", "Description"
        .col-md-4
          = text_field_tag "search_inventory[inventory_product][description]", (params[:search_inventory] and params[:search_inventory][:inventory_product][:description]), placeholder: "Description", class: "form-control"
        .col-md-2.control-label
          = label_tag "Product No", "Product No"
        .col-md-4
          = text_field_tag "search_inventory[inventory_product][product_no]", (params[:search_inventory] and params[:search_inventory][:inventory_product][:product_no]), :placeholder => "Product No", class: "form-control"

      .form-group
        .col-md-2.control-label
          = label_tag "Serial No", "Serial No"
        .col-md-4
          = text_field_tag "search_inventory[serial_no]", (params[:search_inventory] and params[:search_inventory][:serial_no]), :placeholder => "Serial No", class: "form-control"
        .col-md-2.control-label
          = label_tag "CT No", "CT No"
        .col-md-4
          = text_field_tag "search_inventory[ct_no]", (params[:search_inventory] and params[:search_inventory][:ct_no]), :placeholder => "CT No", class: "form-control"
      .col-md-1.pull-right
        = link_to "Reset", search_inventory_serial_item_admins_searches_path, class: "btn btn-warning"
      .col-md-1.pull-right
        = submit_tag "Search", class: "btn btn-success", name: "search"

%h2.small_scale_padding-top1 All Items
= paginate serial_items, remote: false, method: :get

%table.table
  %thead
    %tr
      %th No
      %th Item code
      %th Serial No
      %th CT No
      / %th Condition
      %th Status
      %th{title: "Parts Not Completed"} P.N. Completed
      %th Currency
      %th Current GRN Cost
      %th Addition Cost
      %th Total Cost
      %th Action
  %tbody
    - serial_items.each_with_index do |serial_item, index|
      - content_for :serial_item_more, flush: true do
        %ul
          %li
            %strong Scavenge:
            = boolean_in_word serial_item.scavenge, "Yes", "No"
          %li
            %strong Damaged
            = boolean_in_word serial_item.damage, "Yes", "No"

          %li
            %strong Repaired
            = boolean_in_word serial_item.repaired, "Yes", "No"
          %li
            %strong Reserved
            = boolean_in_word serial_item.reserved, "Yes", "No"
          %li
            %strong EXP date
            = serial_item.try(:expiry_date).try(:to_date).try(:strftime, INOCRM_CONFIG['short_date_format'])
          %li
            %strong MF Date
            = serial_item.try(:manufatured_date).try(:to_date).try(:strftime, INOCRM_CONFIG['short_date_format'])
          %li
            %strong Used
            = boolean_in_word serial_item.used, "Yes", "No"
          %li
            %strong Condition
            = serial_item.try(:product_condition).try(:condition)

            
        %strong Description:
        = serial_item.inventory_product.try(:description)

        %br/
        %strong Remarks:
        %span{title: serial_item.try(:remarks)}
          = serial_item.try(:remarks).try :truncate, 50

      %tr
        %td
          %a{ "type"=> "button", "class"=> "btn btn-link has-popover", "data-toggle"=> "popover", "title"=> "Serial No: #{serial_item.try(:serial_no)}", "data-content"=> yield(:serial_item_more), "data-html" => "true", "data-trigger" => "hover", "data-placement" => "top" }
            - if params[:page]
              = (index+1) + 10*(params[:page].to_i-1)
            - else
              = (index+1)
        %td
          = serial_item.inventory_product.try(:generated_item_code)
        %td
          = serial_item.try(:serial_no)
        %td
          = serial_item.try(:ct_no)
        / %td
        /   = serial_item.try(:product_condition).try(:condition)
        %td
          = serial_item.try(:inventory_serial_item_status).try(:name)
        %td
          = boolean_in_word serial_item.parts_not_completed, "Yes", "No"
        %td
          = serial_item.remaining_grn_items.map{|g| g.currency.code}.join(", ")
        %td
          / = serial_item.remaining_grn_items.map{|g| g.current_unit_cost}.join(", ")
          = number_with_precision serial_item.remaining_grn_items.map{|g| g.current_unit_cost}.join(", "), precision: 2
        %td
          = number_with_precision serial_item.inventory_serial_items_additional_costs.map{|g| g.cost}.join(", "), precision: 2
        %td
          - a = (serial_item.inventory_serial_items_additional_costs.map{|g| g.cost}.join(", ").to_i + serial_item.remaining_grn_items.map{|g| g.current_unit_cost}.join(", ").to_i)
          = number_with_precision a, precision: 2
        %td
          = link_to "Select", search_inventory_serial_item_admins_searches_path(serial_item_id: serial_item.id, store: @store), target: "_blank"
= paginate serial_items, remote: false, method: :get