= render "contracts/edit_product"
%font{:color => "blue"}
  %strong
    Imported Excel Sheet Results - Records Count: #{(Rails.cache.fetch([:bulk_serial, @time_store.to_i ]).to_a.count)}
    .red Total Existing Product Serial No: #{@duplicate_serials.join(", ")} 
%br
= initiate_table table_type: "table-bordered" do
  = table_header ["No", "Serial No", "SLA Id", "Location address Id"]
  = multi_table_body do
    - Rails.cache.fetch([:bulk_serial, @time_store.to_i ]).each_with_index do |r, index|
      = multi_table_row [index+1].concat(r)