- organizations = (@organizations || Organization.organization_customers)

/ = collapse collapse_type: "info", labelledby: "contracts_form_collapse_search_customers", header_content: "Search Customers", collapse_link: "contracts_form_collapse_search_customers_link", collapse_id: "contracts_form_collapse", collapse_in: "in" do
= form_tag contracts_path(contracts_callback: "search_customers", from_where: from_where), remote: true, method: :get, class: "form-horizontal" do
  .row
    .col-md-3
      = label_tag "Customer Name" do
        Customer Name
        = text_field_tag "organization_customers[name]", (params[:organization_customers] and params[:organization_customers][:name]), :placeholder => "Customer Name", class: "form-control"
    .col-md-3
      = label_tag "Account Number" do
        Account Number
        = text_field_tag "organization_customers[account.account_no]", (params[:organization_customers] and params[:organization_customers][:account][:account_no]), :placeholder => "Account Number", class: "form-control"
    .col-md-3
      = label_tag "Customer Code" do
        Customer Code
        = text_field_tag "organization_customers[account.code]", (params[:organization_customers] and params[:organization_customers][:account][:code]), :placeholder => "Customer Code", class: "form-control"
    .col-md-3
      = label_tag "Industry Type" do
        Industry Type
        = select_tag "organization_customers[industry_type.id]", options_from_collection_for_select(IndustryType.where(active: true), :id, :name, (params[:organization_customers] and params[:organization_customers]["industry_type.id"])), include_blank: true, class: "form-control parent_class"

    .col-md-12
    
      = submit_tag "Search", name: "search", class: "btn btn-sm btn-success"
