.row
  %table.table
    %thead
      %tr
        %th Active
        %th Name
        %th Code
        %th Brand
        %th Edit
    %tbody
      - @inventory_category_all.each do |inventory_category|
        %tr
          %td
            = link_to "#", class: "inline_edit", data: {type: "select", resource: "inventory_category3", source: {"1": "Active", "2": "Inactive"}, name: "active", url: category_admins_inventories_path(edit: true, inventory_category3_id: inventory_category.id), "original-title" => "Update Active"} do
              -if inventory_category.active
                Active
              - else
                Inactive
          %td
            = link_to "#", class: "inline_edit", data: {type: "text", resource: "inventory_category3", name: "name", url: category_admins_inventories_path(edit: true, inventory_category3_id: inventory_category.id), "original-title" => "Update Product Category"} do
              = inventory_category.name
          %td
            = link_to "#", class: "inline_edit", data: {type: "text", resource: "inventory_category3", name: "code", url: category_admins_inventories_path(edit: true, inventory_category3_id: inventory_category.id), "original-title" => "Update Product Category"} do
              = inventory_category.code
          %td
            = inventory_category.inventory_category2.inventory_category1.name
          %td
            = link_to "Edit more", category_admins_inventories_path(edit_more: true, inventory_category3_id: inventory_category.id )