= collapse_wrapper collapse_id: "product_category", labelledby: "labelledby" do
  - @inventory_product_category_all.each do |inventory_product_category|
    = collapse collapse_type: "success", labelledby: "labelledby_#{inventory_product_category.id}", header_content: inventory_product_category.name, collapse_link: "link_#{inventory_product_category.id}", collapse_id: "product_category" do
      .row
        .col-md-4
          %strong Name:
          = link_to "#", class: "inline_edit", data: {type: "text", resource: "inventory_category2", name: "name", url: inventory_product_category_admins_inventories_path(edit: true, inventory_category2_id: inventory_product_category.id), "original-title" => "Update Product Category"} do
            = inventory_product_category.name
        .col-md-4
          %strong Code:
          = link_to "#", class: "inline_edit", data: {type: "text", resource: "inventory_category2", name: "code", url: inventory_product_category_admins_inventories_path(edit: true, inventory_category2_id: inventory_product_category.id), "original-title" => "Update Product Category"} do
            = inventory_product_category.code
        .col-md-4
          %strong Brand:
          = link_to "#", class: "inline_edit", data: {type: "select", resource: "inventory_category2", source: InventoryCategory1.all.collect{|category1| {value: category1.id, text: category1.name}}, name: "name", url: inventory_product_category_admins_inventories_path(edit: true, inventory_category2_id: inventory_product_category.id), "original-title" => "Update Product Category"} do
            = inventory_product_category.inventory_category1.name