= collapse_wrapper collapse_id: "product_category", labelledby: "labelledby" do
  - @inventory_product_category_all.each do |inventory_product_category|
    = collapse collapse_type: "success", labelledby: "labelledby_#{inventory_product_category.try(:id)}", header_content: "#{inventory_product_category.inventory_category1.try(:name)} -> #{inventory_product_category.try(:name)}", collapse_link: "link_#{inventory_product_category.try(:id)}", collapse_id: "product_category" do
      .row
        .col-md-12
          .pull-right
            - unless inventory_product_category.is_used_anywhere?
              = link_to delete_inventory_product_category_admins_inventories_path(product_id: inventory_product_category.id),method: :delete, rel: "tooltip", :data => { :confirm => 'Are you sure?', toggle: "tooltip", placement: "bottom" }, title: "Delete" do
                %span.glyphicon.glyphicon-trash
      .row
        .col-md-4
          %strong Active :
          = link_to "#", class: "inline_edit", data: {type: "select", resource: "inventory_category2", source: {"1"=> "Active", "2"=> "Inactive"}, name: "active", url: inventory_product_category_admins_inventories_path(edit: true, inventory_category2_id: inventory_product_category.id), "original-title" => "Update Active"} do
            -if inventory_product_category.active
              Active
            - else
              Inactive
        .col-md-4
          %strong Name:
          = link_to "#", class: "inline_edit", data: {type: "text", resource: "inventory_category2", name: "name", url: inventory_product_category_admins_inventories_path(edit: true, inventory_category2_id: inventory_product_category.id), "original-title" => "Update Product Category"} do
            = inventory_product_category.name
        .col-md-4
          %strong Code:
          = link_to "#", class: "inline_edit", data: {type: "text", resource: "inventory_category2", name: "code", url: inventory_product_category_admins_inventories_path(edit: true, inventory_category2_id: inventory_product_category.id), "original-title" => "Update Product Category"} do
            = inventory_product_category.code
        .col-md-4
          %strong Brand:
          = link_to "#", class: "inline_edit", data: {type: "select", resource: "inventory_category2", source: InventoryCategory1.where(active: true).collect{|category1| {value: category1.id, text: category1.name}}, name: "name", url: inventory_product_category_admins_inventories_path(edit: true, inventory_category2_id: inventory_product_category.id), "original-title" => "Update Product Category"} do
            = inventory_product_category.inventory_category1.name