%h3 Inventory Category
= simple_nested_form_for @inventory_category, url: category_admins_inventories_path, method: :post, html: {class: "validate_form"} do |c1|
  = c1.input :created_by,  as: :hidden, input_html: {value: current_user.id}
  = hidden_field_tag :inventory_category3_id, c1.object.id
  .row

    .col-md-3.brand
      .form-group
        = label_tag InventoryCategoryCaption.first.caption
        = select_tag "search_inventory[brand]", options_from_collection_for_select(InventoryCategory1.all, :id, :name, (params[:search_inventory] and params[:search_inventory][:brand])), include_blank: true, class: "form-control parent_class", onchange: "Admins.filter_product(this); return false;", data: {"filter-params" => "inventory_category21_id", "render-dom" => "categories", child_select_class: "category2_id"}

      - if c1.object.inventory_category2
        %strong Brand:
        = c1.object.inventory_category2.inventory_category1.name
    .col-md-3
      = c1.input :category2_id, collection: InventoryCategory1.all, as: :grouped_select, group_method: :inventory_category2s, group_label_method: :id, input_html: {class: "category2_id", onchange: "Admins.filter_product(this); return false;", required: true, data: {"filter-params" => "inventory_category22_id", "render-dom" => "categories"}}, label: "Product"
      - if c1.object.inventory_category2
        %strong Product:
        = c1.object.inventory_category2.name
    .col-md-3
      = c1.input :code, label: "Brand code", input_html: {required: true}, label: "Category code"
    .col-md-3
      = c1.input :name, label: "Brand name", input_html: {required: true}, label: "Category name"

  .row
    .col-md-12
      = c1.submit "Save", class: "btn btn-success", id: "submit_new_inventory_category", name: "#{params[:edit_more] ? 'update' : 'create'}"

%hr
#categories
  = render "categories"