= simple_form_for @inventory_brand, url: inventory_brand_admins_inventories_path, method: :post, html: {class: "validate_form"} do |f|
  = f.input :created_by, as: :hidden, input_html: {value: current_user.id}
  = f.input :code, label: "Brand code", required: true, input_html: { maxlength: InventoryCategoryCaption.first.code_length }
  = f.input :name, label: "Brand name", input_html: {required: true}
  = f.submit "Save", class: "btn btn-sm btn-success", name: "#{params[:edit_more] ? 'update' : 'create'}", data: {disable_with: "Please wait..."}

%hr
= collapse_wrapper collapse_id: "product_brand", labelledby: "labelledby" do
  - @inventory_brand_all.each do |inventory_brand|
    = collapse collapse_type: "success", labelledby: "labelledby_#{inventory_brand.try(:id)}", header_content: inventory_brand.try(:name), collapse_link: "link_#{inventory_brand.try(:id)}", collapse_id: "product_brand" do
      .row
        .col-md-4
          %strong Active:
          = link_to "#", class: "inline_edit", data: {type: "select", resource: "inventory_category1", source: {"1"=> "Active", "2"=> "Inactive"}, name: "active", url: inventory_brand_admins_inventories_path(edit: true, inventory_category1_id: inventory_brand.id), "original-title" => "Update Active"} do
            -if inventory_brand.active
              Active
            - else
              Inactive
        .col-md-4
          %strong Brand code:
          = link_to "#", class: "inline_edit", data: {type: "text", resource: "inventory_category1", name: "code", url: inventory_brand_admins_inventories_path(edit: true, inventory_category1_id: inventory_brand.id), "original-title" => "Update Product Category"} do
            = inventory_brand.code

        .col-md-4
          %strong Brand name:
          = link_to "#", class: "inline_edit", data: {type: "text", resource: "inventory_category1", name: "name", url: inventory_brand_admins_inventories_path(edit: true, inventory_category1_id: inventory_brand.id), "original-title" => "Update Product Category"} do
            = inventory_brand.name