= simple_form_for @inventory_product_category, url: inventory_product_category_admins_inventories_path, method: :post, html: {class: "validate_form"} do |f|
  = f.input :created_by, as: :hidden, input_html: {value: current_user.id}
  .row
    .col-md-4
      = f.association :inventory_category1, input_html: {required: true, id: "filter_product", onchange: "Admins.filter_product(this); return false;", data: {"filter-params" => "inventory_category1_id", "render-dom" => "product_categories"}}, label: "Brand"
    .col-md-4
      = f.input :code, input_html: {maxlength: InventoryCategoryCaption.second.code_length }, label: "Product code", required: true
    .col-md-4
      = f.input :name, input_html: {required: true}, label: "Product name"
  = f.submit "Save", class: "btn btn-sm btn-success", name: "#{params[:edit_more] ? 'update' : 'create'}"

%hr
#product_categories
  = render "inventory_product_categories"