%h3 Payment Item
= simple_form_for @payment_item, url: inventory_payment_item_admins_inventories_path(create: true), method: :post do |f|
  .row{style: "margin-top:15px;"}
    .col-md-6
      = f.input :name
  .row
    .col-md-6
      = f.input :default_amount
  .row{style: "margin-top:20px;margin-bottom:20px;"}
    .col-md-6
      = f.submit "Save", class: "btn btn-success pull-right", id: "submit_new_payment_item"

#accordion.panel-group
  - @payment_item_all.each_with_index do |payment_item, index|
    .panel.panel-info
      .panel-heading
        %h3.panel-title
          %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "##{index}"}
            #{index+1} Payment Item : #{payment_item.name}
          - unless payment_item.is_used_anywhere?
            = link_to delete_admin_payment_item_admins_inventories_path(payment_item_id: payment_item.id), method: :delete, :data => { :confirm => 'Are you sure?' } do
              %span.glyphicon.glyphicon-trash

      .panel-collapse.collapse.in{:id => "#{index}"}
        .panel-body
          .row.col-md-12
            .col-md-2
              %strong Name:
            .col-md-3
              = link_to "#", class: "inline_edit load_style", data: {type: "text", resource: "payment_item", name: "name", url: inventory_payment_item_admins_inventories_path(edit: true, payment_item_id: payment_item.id), "original-title" => "Update Payment Item", value: ""}, style: "line-height: 6px;" do
                = payment_item.name
            .col-md-2
              %strong Default amount:
            .col-md-3
              = link_to "#", class: "inline_edit load_style only_float", data: {type: "text", resource: "payment_item", name: "default_amount", url: inventory_payment_item_admins_inventories_path(edit: true, payment_item_id: payment_item.id), "original-title" => "Update Payment Item", value: ""}, style: "line-height: 6px;" do
                = payment_item.default_amount