%h3 Inventory Product Condition
= simple_nested_form_for @inventory_product_condition, url: product_condition_admins_inventories_path(create: true), html: {class: "validate_form" }, method: :post do |c|
  .row{style: "margin-top: 15px; "}
    .col-md-8
      = c.input :condition
    .col-md-4
      = c.input :created_by,  as: :hidden, input_html: {value: current_user.id}
      = c.input :updated_by,  as: :hidden, input_html: {value: current_user.id}
  .row{style: "margin-top:20px; margin-bottom:20px;"}
    .col-md-8
      = c.submit "Save", class: "btn btn-success pull-right", id: "submit_new_inventory_product_condition"
%h3 Inventory Product Conditions
= collapse_wrapper collapse_id: "inventory_product_condition_list", labelledby: "inv_product_condition_labelledby" do
  - @inventory_product_condition_all.each_with_index do |inv_product_condition, index|
    = collapse collapse_type: "info", labelledby: "labelledby_#{inv_product_condition.id}", header_content: "#{inv_product_condition.condition}", collapse_link: "invproduct_conditionlink_#{inv_product_condition.id}", collapse_id: "inventory_product_condition_list" do
      .pull-right
        - unless inv_product_condition.is_used_anywhere?
          = link_to delete_product_condition_admins_inventories_path(product_condition_id: inv_product_condition.id), method: :delete, rel: "tooltip", :data => { :confirm => 'Are you sure?', toggle: "tooltip", placement: "bottom" }, title: "Delete" do
            %span.glyphicon.glyphicon-trash
      .row
        .col-md-1
          %strong Active:
        .col-md-4
          = link_to "#", class: "inline_edit", data: {type: "select", resource: "product_condition", source: {"1": "Active", "2": "Inactive"}, name: "active", url: product_condition_admins_inventories_path(edit: true, product_condition_id: inv_product_condition.id), "original-title" => "Update Active"} do
            -if inv_product_condition.active
              Active
            - else
              Inactive
      %br
      .row
        .col-md-1
          %strong Condition:
        .col-md-4
          = link_to "#", class: "inline_edit load_style", data: {type: "text", resource: "product_condition", name: "condition", url: product_condition_admins_inventories_path(edit: true, product_condition_id: inv_product_condition.id), "original-title" => "Update product condition", value: ""}, style: "line-height: 6px;" do
            = inv_product_condition.condition
        .col-md-3
          %strong Inventory Serial Items #{inv_product_condition.inventory_serial_items.count}
        .col-md-3
          %strong Inventory Serial Parts #{inv_product_condition.inventory_serial_parts.count}