%h3 Inventory Reason
= simple_nested_form_for @inventory_reason, url: reason_admins_inventories_path(create: true), method: :post, html: { class: "validate_form" } do |i|
  .row{style: "margin-top: 15px; "}
    .col-md-3{style: "color: #900303;"}
      = i.input :srn_issue_terminate, label: "SRN Issue Terminate", wrapper: :append
    .col-md-3{style: "color: #900303;"}
      = i.input :damage, wrapper: :append
    .col-md-3{style: "color: #900303;"}
      = i.input :srr, label: "SRR", wrapper: :append
    .col-md-3{style: "color: #900303;"}
      = i.input :disposal, wrapper: :append
  .row
    .col-md-4
      = i.input :created_by,  as: :hidden, input_html: {value: current_user.id}
      = i.input :updated_by,  as: :hidden, input_html: {value: current_user.id}
      
  .row
    .col-md-7{style: "color: #900303;"}
      = i.input :reason, input_html: {required: true}
  .row{style: "margin-top:20px; margin-bottom:20px;"}
    .col-md-7
      = i.submit "Save", class: "btn btn-success pull-right", id: "submit_new_inventory_reason"

/ #accordion.panel-group
/   - @inventory_reason_all.each_with_index do |inv_reason, index|
/     .panel.panel-info
/       .panel-heading
/         %h3.panel-title
/           %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "##{index}"}
/             #{index+1} inventory reason : #{inv_reason.reason}
/           - unless inv_reason.is_used_anywhere?
/             = link_to delete_admin_inventory_reason_admins_inventories_path(inventory_reason_id: inv_reason.id), method: :delete,  :data => { :confirm => 'Are you sure?' } do
/               %span.glyphicon.glyphicon-trash
/       .panel-collapse.collapse.in{:id => "#{index}"}
/         .panel-body

= collapse_wrapper collapse_id: "inventory_reason_list", labelledby: "inv_reason_labelledby" do
  - @inventory_reason_all.each_with_index do |inv_reason, index|
    = collapse collapse_type: "info", labelledby: "labelledby_#{inv_reason.id}", header_content: "#{index+1} inventory reason : #{inv_reason.reason}", collapse_link: "invreasonlink_#{inv_reason.id}", collapse_id: "inventory_reason_list" do
      .pull-right
        - unless inv_reason.is_used_anywhere?
          = link_to delete_admin_inventory_reason_admins_inventories_path(inventory_reason_id: inv_reason.id), method: :delete, rel: "tooltip", :data => { :confirm => 'Are you sure?', toggle: "tooltip", placement: "bottom" }, title: "Delete" do
            %span.glyphicon.glyphicon-trash

      .row.col-md-12
        .col-md-2
          %strong srn issue terminate:
        .col-md-4
          = link_to "#", class: "inline_edit", data: {type: "select", source: {1=>"Yes",0=>"No"}, resource: "inventory_reason", name: "srn_issue_terminate", url: reason_admins_inventories_path(edit: true, inventory_reason_id: inv_reason.id), "original-title" => "Update reason"} do
            = inv_reason.srn_issue_terminate && "Yes" || "No"
        .col-md-2
          %strong Damage:
        .col-md-4
          = link_to "#", class: "inline_edit", data: {type: "select", source: {1=>"Yes",0=>"No"}, resource: "inventory_reason", name: "damage", url: reason_admins_inventories_path(edit: true, inventory_reason_id: inv_reason.id), "original-title" => "Update reason"} do
            = inv_reason.damage && "Yes" || "No"
      .row.col-md-12
        .col-md-2
          %strong srr:
        .col-md-4
          = link_to "#", class: "inline_edit", data: {type: "select", source: {1=>"Yes",0=>"No"}, resource: "inventory_reason", name: "srr", url: reason_admins_inventories_path(edit: true, inventory_reason_id: inv_reason.id), "original-title" => "Update reason"} do
            = inv_reason.srr && "Yes" || "No"
        .col-md-2
          %strong Disposal:
        .col-md-4
          = link_to "#", class: "inline_edit", data: {type: "select", source: {1=>"Yes",0=>"No"}, resource: "inventory_reason", name: "disposal", url: reason_admins_inventories_path(edit: true, inventory_reason_id: inv_reason.id), "original-title" => "Update reason"} do
            = inv_reason.disposal && "Yes" || "No"
      .row.col-md-12
        .col-md-2
          %strong Reason:
        .col-md-4
          = link_to "#", class: "inline_edit", data: {type: "textarea", resource: "inventory_reason", name: "reason", url:reason_admins_inventories_path(edit: true, inventory_reason_id: inv_reason.id), "original-title" => "Update reason", value: inv_reason.reason}, style: "line-height: 6px;" do
            = inv_reason.reason
