%h3 Inventory Unit
= simple_nested_form_for @inventory_unit, url: unit_admins_inventories_path(create: true), html: { class: "validate_form" }, method: :post do |u|
  .row
    .col-md-3
      = u.input :unit
    / .col-md-3
    /   = u.input :base_unit_id
    .col-md-3
      = u.input :base_unit_conversion
    .col-md-3
      = u.input :per_base_unit, wrapper: :append
  .row
    .col-md-6
      = u.input :description
  .row
    = u.input :created_by,  as: :hidden, input_html: {value: current_user.id}
    = u.input :updated_by,  as: :hidden, input_html: {value: current_user.id}

  .row
    .col-md-6{style: "margin-top:20px;margin-bottom:20px;"}
      = u.submit "Save", class: "btn btn-success pull-right", id: "submit_new_inventory_unit"

= collapse_wrapper collapse_id: "inventory_unit_list", labelledby: "inv_unit_labelledby" do
  - @inventory_unit_all.each_with_index do |inv_unit, index|
    = collapse collapse_type: "info", labelledby: "labelledby_#{inv_unit.id}", header_content: "#{index+1} Unit : #{inv_unit.unit}", collapse_link: "invunitlink_#{inv_unit.id}", collapse_id: "inventory_unit_list" do
      .pull-right
        - unless inv_unit.is_used_anywhere?
          = link_to delete_inventory_unit_admins_inventories_path(unit_id: inv_unit.id), method: :delete, rel: "tooltip", :data => { :confirm => 'Are you sure?', toggle: "tooltip", placement: "bottom" }, title: "Delete" do
            %span.glyphicon.glyphicon-trash
      .row.col-md-12{style: "margin-bottom:20px;"}
        .col-md-5
          %strong Unit:
          = link_to "#", class: "inline_edit", data: {type: "text", resource: "inventory_unit", name: "unit", url: unit_admins_inventories_path(edit: true, unit_id: inv_unit.id), "original-title" => "Update Inventory Unit code", value: inv_unit.unit}, style: "line-height: 6px;" do
            = inv_unit.unit
        .col-md-5
          %strong Base unit conversion:
          = link_to "#", class: "inline_edit", data: {type: "text", resource: "inventory_unit", name: "base_unit_conversion", url: unit_admins_inventories_path(edit: true, unit_id: inv_unit.id), "original-title" => "Update Inventory Unit code", value: inv_unit.base_unit_conversion}, style: "line-height: 6px;" do
            = inv_unit.base_unit_conversion
      .row.col-md-12
        .col-md-5
          %strong Per base unit:
          = link_to "#", class: "inline_edit", data: {type: "select", source: {1=>"Yes",0=>"No"}, resource: "inventory_unit", name: "per_base_unit", url: unit_admins_inventories_path(edit: true, unit_id: inv_unit.id), "original-title" => "Update Inventory Unit code", value: inv_unit.per_base_unit && "Yes" || "No" } do
            = inv_unit.per_base_unit && "Yes" || "No"
            / .col-md-2
            /   %strong Per base unit:
            / .col-md-2
            /   / = link_to class: "inline_edit load_style", data: {type: "checkbox", resource: "inventory_unit", name: "per_base_unit", url: inline_update_inventory_unit_admins_path(unit_id: inv_unit.id), "original-title" => "Update Inventory Unit code", value: ""}, style: "line-height: 6px;" do
            /   per base unit
        .col-md-5
          %strong Description:
          = link_to "#", class: "inline_edit", data: {type: "textarea", resource: "inventory_unit", name: "description", url: unit_admins_inventories_path(edit: true, unit_id: inv_unit.id), "original-title" => "Update Inventory Unit code", value: inv_unit.description}, style: "line-height: 6px;" do
            = inv_unit.description
      %br
      %br
      %br
      %br
      .row.col-md-12
        .col-md-4
          %strong Active :
          = link_to "#", class: "inline_edit", data: {type: "select", resource: "inventory_unit", source: {"1"=> "Active", "2"=> "Inactive"}, name: "active", url: unit_admins_inventories_path(edit: true, unit_id: inv_unit.id), "original-title" => "Update Active"} do
            -if inv_unit.active
              Active
            - else
              Inactive