- display_form = @display_form
.row.refresh
  = link_to "", new_warranty_path, remote: true, class: "glyphicon glyphicon-refresh"

= initiate_table table_type: "table-hover" do
  = table_header ["Priority", "Problem Category", "Problem description", "Warranty", "Ticket type", "Customer chargeable", "Informed Method"]
  = table_body [INOCRM_CONFIG["priority"].key(ticket.priority.to_i), ticket.problem_category.name, ticket.problem_description, ticket.warranty_type.name, ticket.ticket_type.name, ticket.cus_chargeable, ticket.inform_method.name]
.row
  = render "users/customer_and_contact_person", customer: customer, ticket: ticket
%hr
#warranty_details
  / = label_tag "Select Warranty" do
  /   = radio_button_tag "warranty_select", "select", false, class: "radio_for_warranty_select", onchange: "Warranties.warranty_create('select'); false;"
  /   Select Warranty
  / = label_tag "New Warranty" do
  /   = radio_button_tag "warranty_select", "create", false, class: "radio_for_warranty_select", onchange: "Warranties.warranty_create('display_form'); false;"
  /   New Warranty
  .row
    .col-md-12
      = link_to "Back", "#"

  - if display_form
    = simple_form_for @warranty, remote: true do |f|
      = f.input :product_serial_id, as: :hidden
      .row
        .col-md-6
          = f.association :warranty_type, as: :radio_buttons
        .col-md-6
          .strong
            Date Format
          %select.selectpicker{:name => "selValue", class: "small_scale_margin-top1"}
            %option dd M, yy
            %option dd, yyyy, M
            %option M, yyyy, dd
            %option M, dd, yyyy
            %option yyyy, M, dd
            %option yyyy, dd, M
      .row
        .col-md-6
          = f.input :start_at, as: :string, input_html: {class: "datepicker"}
        .col-md-6
          = f.input :end_at, as: :string, input_html: {class: "datepicker"}
      .row
        .col-md-4
          = f.input :period_part
        .col-md-4
          = f.input :period_labour
        .col-md-4
          = f.input :corporate_onsight
      .row
        .col-md-3
          = f.input :care_pack_product_no
        .col-md-3
          = f.input :care_pack_reg_no
        .col-md-6
          = f.input :note
      .row
        .col-md-12
          = f.submit "Next", class: "btn btn-success"
          = link_to "Back", "#", onclick: "Warranties.warranty_create('select'); false;"
  - else
    = link_to "New Warranty", "#", onclick: "Warranties.warranty_create('display_form'); false;"
    - if @warranties.present?
      = render "warranties/select_warranties", warranties: @warranties

    = link_to "Next", select_for_warranty_warranties_path, method: :post, remote: true, class: "btn btn-success btn-sm pull-right"

  #warranties_modal.modal.fade{tabindex: -1, role: "dialog", "aria-labelledby" => "warranties_modal", "aria-hidden" => true}
    .modal-dialog
      .modal-content