- display_form = @display_form
.row.refresh
  = link_to "", new_warranty_path, remote: true, class: "glyphicon glyphicon-refresh"

- priority = link_to "#", class: "inline_edit", data: {type: "select", source: INOCRM_CONFIG["priority"].collect{ |key,value| {value: value, text: key} }, resource: "ticket", name: "priority", url: ticket_update_tickets_path, "original-title" => "Update priority"} do
  = INOCRM_CONFIG["priority"].key(ticket.priority.to_i)

- problemcategory = link_to "#", class: "inline_edit disable", data: {type: "select", source: ProblemCategory.all.collect{|warranty| {value: warranty.id, text: warranty.name}}, resource: "ticket", name: "problem_category_id", url: ticket_update_tickets_path, "original-title" => "Update problem category"} do
  = ticket.problem_category.name

- problemdescription = link_to "#", class: "inline_edit", data: {type: "text", resource: "ticket", name: "problem_description", url: ticket_update_tickets_path, "original-title" => "Update problem description"} do
  = ticket.problem_description

- warranty = link_to "#", class: "inline_edit", data: {type: "select", source: WarrantyType.all.collect{|warranty| {value: warranty.id, text: warranty.name}}, resource: "ticket", name: "warranty_type_id", url: ticket_update_tickets_path, "original-title" => "Update Warranty type"} do
  = ticket.warranty_type.name

- tickettype = link_to "#", class: "inline_edit", data: {type: "select", source: TicketType.all.collect{|warranty| {value: warranty.id, text: warranty.name}}, resource: "ticket", name: "ticket_type_id", url: ticket_update_tickets_path, "original-title" => "Update ticket type"} do
  = ticket.ticket_type.name

- customerchargeable = link_to "#", class: "inline_edit", data: {type: "select", source: [{value: 1, text: "yes"},{value: 0, text: "no"}], resource: "ticket", name: "cus_chargeable", url: ticket_update_tickets_path, "original-title" => "Update cus chargeable"} do
  = ticket.cus_chargeable

- informmethod = link_to "#", class: "inline_edit", data: {type: "select", source: InformMethod.all.collect{|category| {value: category.id, text: category.name}}, resource: "ticket", name: "informed_method_id", url: ticket_update_tickets_path, "original-title" => "Update Informed method name"} do
  = ticket.inform_method.name
  

= initiate_table table_type: "table-hover" do
  = table_header ["Priority", "Problem Category", "Problem description", "Warranty", "Ticket type", "Customer chargeable", "Informed Method"]
  = table_body [priority, problemcategory, problemdescription, warranty, tickettype, customerchargeable, informmethod]
.row
  = render "users/customer_and_contact_person", customer: customer, ticket: ticket
%hr
#tab_panel
  = tab_panel do
    = tab_nav_tab({id: "w_q_h_tab"}, warranty: {active_class: "active", content: "Warranty"}, join_ticket: {content: "Join"}, q_and_a: {content: "Q And A"})
    .tab-content
      = tab_content active_class: "active", tabpointer: "warranty" do
        #warranty_details
          - if display_form
            = simple_form_for @warranty, remote: true do |f|
              = f.input :product_serial_id, as: :hidden
              .row
                .col-md-12
                  = link_to "Back", "#", onclick: "Warranties.warranty_create('select'); false;"
              .row
                .col-md-6
                  = f.association :warranty_type, as: :radio_buttons, wrapper: :append
                .col-md-6
                  .strong
                    Date Format
                  %select.selectpicker{:name => "selValue", class: "small_scale_margin-top1"}
                    %option dd M, yyyy
                    %option dd, yyyy, M
                    %option M, yyyy, dd
                    %option M, dd, yyyy
                    %option yyyy, M, dd
                    %option yyyy, dd, M
              .row
                .col-md-6
                  = f.input :start_at, as: :string, input_html: {class: "datepicker"}
                .col-md-6
                  = f.input :end_at, as: :string, input_html: {class: "datepicker"}
              .row
                .col-md-4
                  = f.input :period_part
                .col-md-4
                  = f.input :period_labour
                .col-md-4
                  = f.input :corporate_onsight
              .row
                .col-md-3
                  = f.input :care_pack_product_no
                .col-md-3
                  = f.input :care_pack_reg_no
                .col-md-6
                  = f.input :note

              = f.submit "Save", class: "btn btn-success pull-right"
          - else
            = link_to "New Warranty", "#", onclick: "Warranties.warranty_create('display_form'); false;"
            - if @warranties.present?
              = render "warranties/select_warranties", warranties: @warranties

      = tab_content tabpointer: "join_ticket" do
        .row
          .col-md-12
            = render "tickets/join_ticket", customer: customer, ticket: ticket

      = tab_content tabpointer: "q_and_a" do
        = render "q_and_as/q_and_a_form"

  = link_to "Back", create_customer_tickets_path(customer_id: customer.id), remote: true, method: :post
#warranties_modal.modal.fade{tabindex: -1, role: "dialog", "aria-labelledby" => "warranties_modal", "aria-hidden" => true}
  .modal-dialog
    .modal-content