- created_warranty = Rails.cache.read([:created_warranty, request.remote_ip.to_s, session[:time_now]])

%table.table.table-responsive.table-condensed.table-bordered
  %thead
    %tr
      %th{colspan: 2} Warranty date
      %th{colspan: 3} Period in month
      %th Warranty
      %th{colspan: 2} Care pack
      %th
    %tr
      %th Start
      %th End
      %th Part
      %th labour
      %th Onsite
      %th Type
      %th Product number
      %th Reg number
      %th Note
      / %th Function

  %tbody
    - warranties.order("created_at ASC").each do |warranty|
      %tr{class: "#{'danger' if created_warranty.try(:id) == warranty.id }"}
        %td #{(link_to "Remove", warranty_path(created_warranty), method: :delete, remote: true, data: {confirm: "Are you sure?"} if created_warranty.try(:id) == warranty.id)} #{warranty.start_at.to_date.strftime("%b %d, %Y")}
        %td= (warranty.end_at && warranty.end_at.to_date.strftime("%b %d, %Y"))
        %td= warranty.period_part
        %td= warranty.period_labour
        %td= warranty.corporate_onsight
        %td= warranty.warranty_type.try(:name)
        %td= warranty.care_pack_product_no
        %td= warranty.care_pack_reg_no
        %td= warranty.note