- created_warranty = Rails.cache.read([:created_warranty, request.remote_ip.to_s, session[:time_now]])
- select_for_pop = params["function_param"]
- ticket = @ticket

- if ticket.ticket_contract.present?
  .row
    .col-md-12
      %h4 Contract
    .col-md-12
      .col-md-3
        %strong Created At:
        = ticket.ticket_contract.created_at.try(:strftime, INOCRM_CONFIG['short_date_format'])
      .col-md-3
        %strong Created By:
        = ticket.ticket_contract.created_by_user_full_name
      .col-md-3
        %strong Under Contract
      .col-md-3
        %strong Contract No:
        = ticket.ticket_contract.contract_no
      .col-md-3
        %strong Contract Type:
        = ticket.ticket_contract.ticket_contract_type.name
      .col-md-3
        %strong Owner Department:
        = ticket.ticket_contract.organization.name
      .col-md-3
        %strong Back to Back Contract:
        = boolean_in_word ticket.ticket_contract.contract_b2b, "Yes", "No"
      .col-md-3
        %strong Hold:
        = boolean_in_word ticket.ticket_contract.hold, "Yes", "No"
      .col-md-3
        %strong Start Date:
        = ticket.ticket_contract.contract_start_at.try(:strftime, INOCRM_CONFIG['short_date_format'])
      .col-md-3
        %strong Exp Date:
        = ticket.ticket_contract.contract_end_at.try(:strftime, INOCRM_CONFIG['short_date_format'])
      .col-md-3
        %strong Amount:
        = ticket.ticket_contract.amount
      .col-md-6
        %strong Remarks:
        = ticket.ticket_contract.remarks
  %br

%table.table.table-responsive.table-condensed.table-bordered
  %thead
    %tr
      %th{colspan: 2} Warranty date
      %th{colspan: 3} Period in month
      %th Warranty
      %th{colspan: 2} Care pack
      %th
    %tr
      %th Start
      %th End
      %th Part
      %th labour
      %th Onsite
      %th Type
      %th Product number
      %th Reg number
      %th Note
      / %th Function

  %tbody
    - warranties.order("created_at ASC").each do |warranty|
      %tr{class: "#{'danger' if created_warranty.try(:id) == warranty.id } #{'success' if (warranty.start_at.to_date..warranty.end_at.to_date).include?(Date.today)}"}
        %td #{(link_to "Remove", warranty_path(created_warranty, function_param: select_for_pop), method: :delete, remote: true, data: {confirm: "Are you sure?"} if created_warranty.try(:id) == warranty.id)} #{warranty.start_at.to_date.strftime("%b %d, %Y")}
        %td= (warranty.end_at && warranty.end_at.to_date.strftime("%b %d, %Y"))
        %td= warranty.period_part
        %td= warranty.period_labour
        %td= warranty.period_onsight
        %td= warranty.warranty_type.try(:name)
        %td= warranty.care_pack_product_no
        %td= warranty.care_pack_reg_no
        %td= warranty.note