- warranty_create = display_form_for_pop ? 'select_for_pop' : 'select'
%fieldset
  %legend New Warranty
  = simple_form_for warranty, remote: true do |f|
    = f.input :product_serial_id, as: :hidden
    = hidden_field_tag :function_param, warranty_create
    .row
      .col-md-6
        = f.association :warranty_type, as: :radio_buttons, wrapper: :append, collection: WarrantyType.where(id: [1,2]), checked: WarrantyType.find_by_code("MW").id
      .col-md-6
        .strong
          Warranty date format
        %select.selectpicker{:name => "selValue", class: "small_scale_margin-top1"}
          %option dd M, yyyy
          %option dd, yyyy, M
          %option M, yyyy, dd
          %option M, dd, yyyy
          %option yyyy, M, dd
          %option yyyy, dd, M
    .row
      .col-md-6
        = f.input :start_at, as: :string, input_html: {class: "datepicker"}
      .col-md-6
        = f.input :end_at, as: :string, input_html: {class: "datepicker"}
    .row
      .col-md-4
        = f.input :period_part, input_html: {min: "0", class: "only_float"}
      .col-md-4
        = f.input :period_labour, input_html: {min: "0", class: "only_float"}
      .col-md-4
        = f.input :period_onsight, label: "Corporate on-site", input_html: {min: "0", class: "only_float"}
    .row
      .col-md-3
        = f.input :care_pack_product_no, label: "Care pack product number"
      .col-md-3
        = f.input :care_pack_reg_no, label: "Care pack reg number"
      .col-md-6
        = f.input :note, input_html: {rows: 1}
    = link_to "Cancel", "#", onclick: "Warranties.warranty_create('#{warranty_create}', '#{warranty.product.id}'); false;"
    = f.submit "Save", class: "btn btn-info"