%h4 Warranty
%table.table
  %thead
    %tr
      %th Start Date
      %th Exp.Date
      %th Part
      %th Labour
      %th On-Sight
      %th Warranty Type
      %th Product No
      %th Reg.No
      %th Note
  %tbody
    %tr
      %td= warranty.start_at.try(:strftime, "%b %d %y")
      %td= warranty.end_at.try(:strftime, "%b %d %y")
      %td= warranty.period_part
      %td= warranty.period_labour
      %td= warranty.corporate_onsight
      %td= warranty.warranty_type.try(:name)
      %td= warranty.care_pack_product_no
      %td= warranty.care_pack_reg_no
      %td= warranty.note