= collapse_wrapper collapse_id: "product_category1_id", labelledby: "labelledby" do
  - @product_category1_all.each do |product_category1|
    = collapse collapse_type: "success", labelledby: "labelledby_#{product_category1.id}", header_content: "#{product_category1.product_brand.name} -> #{product_category1.name}", collapse_link: "link_#{product_category1.id}", collapse_id: "product_category1_id" do
      .row
        .col-md-12
          .pull-right
            - unless product_category1.is_used_anywhere?
              = link_to delete_brand_category1_admins_tickets_path(product_category1_id: product_category1.id),method: :delete, rel: "tooltip", :data => { :confirm => 'Are you sure?', toggle: "tooltip", placement: "bottom" }, title: "Delete" do
                %span.glyphicon.glyphicon-trash
      .row
        .col-md-4
          %strong Active :
          = link_to "#", class: "inline_edit", data: {type: "select", resource: "product_category1", source: {"1": "Active", "2": "Inactive"}, name: "active", url:  brand_category1_admins_tickets_path(edit: true, product_category1_id: product_category1.id), "original-title" => "Update Active"} do
            -if product_category1.active
              Active
            - else
              Inactive
        .col-md-4
          %strong #{CompanyConfig.first.try(:sup_product_category1_label)} :
          = link_to "#", class: "inline_edit", data: {type: "text", resource: "product_category1", name: "name", url: brand_category1_admins_tickets_path(edit: true, product_category1_id: product_category1.id), "original-title" => "Update Product Category"} do
            = product_category1.name
        .col-md-4
          %strong Contract No Value:
          = link_to "#", class: "inline_edit", data: {type: "text", resource: "product_category1", name: "contract_no_value", url: brand_category1_admins_tickets_path(edit: true, product_category1_id: product_category1.id), "original-title" => "Update Product Category"} do
            = product_category1.contract_no_value