= collapse_wrapper collapse_id: "product_category3_id", labelledby: "labelledby" do
  - @product_category3_all.each do |product_category3|
    = collapse collapse_type: "success", labelledby: "labelledby_#{product_category3.id}", header_content: "#{product_category3.product_category2.try(:product_category1).try(:product_brand).try(:name)} ->#{product_category3.product_category2.try(:product_category1).try(:name)} ->#{product_category3.product_category2.try(:name)} -> #{product_category3.name}", collapse_link: "link_#{product_category3.id}", collapse_id: "product_category3_id" do
      .row
        .col-md-12
          .pull-right
            - unless product_category3.is_used_anywhere?
              = link_to delete_brand_category3_admins_tickets_path(product_category3_id: product_category3.id),method: :delete, rel: "tooltip", :data => { :confirm => 'Are you sure?', toggle: "tooltip", placement: "bottom" }, title: "Delete" do
                %span.glyphicon.glyphicon-trash
      .row
        .col-md-3
          %strong #{CompanyConfig.first.try(:sup_product_category_label)} :
          = link_to "#", class: "inline_edit", data: {type: "text", resource: "product_category", name: "name", url: brand_category3_admins_tickets_path(edit: true, product_category3_id: product_category3.id), "original-title" => "Update Product Category"} do
            = product_category3.name
        .col-md-3
          %strong Contract No Value:
          = link_to "#", class: "inline_edit", data: {type: "text", resource: "product_category", name: "contract_no_value", url: brand_category3_admins_tickets_path(edit: true, product_category3_id: product_category3.id), "original-title" => "Update Product Category"} do
            = product_category3.contract_no_value
        .col-md-3
          %strong SLA Time:
          = link_to "#", class: "inline_edit", data: {type: "select", resource: "product_category", source: SlaTime.all.collect{|sla_time| {value: sla_time.id, text: sla_time.description}}, name: "sla_id", url: brand_category3_admins_tickets_path(edit: true, product_category3_id: product_category3.id), "original-title" => "Update Product Category"} do
            = product_category3.sla_time.try(:description)