%fieldset
  %legend Product Category 1
  = simple_form_for @product_category1, url: brand_category1_admins_tickets_path, method: :post, html: {class: "validate_form"} do |f|
    / = f.input :created_by, as: :hidden, input_html: {value: current_user.id}
    .row
      .col-md-4
        = f.association :product_brand, include_blank: false, onchange: "Admins.filter_cat1(this); return false;" ,input_html: {required: true, id: "filter_cat1", data: {"filter-params" => "product_brand_id", "render-dom" => "product_category1"}}, label: "Brand"
      .col-md-4
        = f.input :name, input_html: {required: true}, label: "Name"
      .col-md-4
        = f.input :contract_no_value, input_html: {required: true}, label: "Contract No Value"
    = f.submit "Save", class: "btn btn-sm btn-success", name: "#{params[:edit_more] ? 'update' : 'create'}"

  %hr
  #brand_category1s
    = render "brand_category1s"