= simple_nested_form_for @brands_and_category, url: brands_and_category_admins_tickets_path, method: :post do |f|
  = hidden_field_tag :brands_and_category_id, f.object.id
  .panel.panel-primary
    .panel-heading
      %h3.panel-title Product Brand
    .panel-body
      .row
        .col-md-4
          = f.label "Organization:"
          = f.select :organization_id, Organization.all.map{|a| [a.name, a.id]}
        .col-md-4
          = f.label "Currency:"
          = f.select :currency_id, Currency.all.map{|a| [a.currency, a.id]}
        .col-md-4
          = f.label "SLA Time (hrs):"
          = f.select :sla_id, SlaTime.all.map{|a| [a.sla_time, a.id]}
        
      .row
        .col-md-3
          = f.input :name
        .col-md-3
          = f.input :parts_return_days
        .col-md-3
          = f.input :warranty_date_format

      .col-md-10
        .row
          = f.simple_fields_for :product_categories do |product_category|
            .panel.panel-danger
              .panel-heading
                %h3.panel-title Product Category
              .panel-body
                .row.col-md-10
                  .col-md-4
                    = product_category.label "SLA Time (hrs):"
                    = product_category.select :sla_id, SlaTime.all.map{|a| [a.sla_time, a.id]}
                  .col-md-6
                    = product_category.input :name
                    .add_sign
                      = product_category.link_to_remove do
                        %span.glyphicon.glyphicon-remove-sign
          .row.col-md-12
            .col-md-12
              = f.link_to_add :product_categories do
                %span.glyphicon.glyphicon-plus-sign Add a Category
      .row{style: "margin-top:20px;"}
        .col-md-11
          = f.submit "Save", class: "btn btn-success pull-right", id: "submit_new_brands_and_category", name: "#{params[:edit_more] ? 'update' : 'create'}"

#accordion.panel-group
  - @brands_and_category_all.each_with_index do |brands_and_category, index|
    .panel.panel-info
      .panel-heading
        %h3.panel-title
          %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "##{index}"}
            #{index+1} Brands & category : #{brands_and_category.name}
          - unless brands_and_category.is_used_anywhere?
            = link_to delete_admin_brands_and_category_admins_tickets_path(brands_and_category_id: brands_and_category.id), method: :delete,  :data => { :confirm => 'Are you sure?' } do
              %span.glyphicon.glyphicon-trash
          = link_to brands_and_category_admins_tickets_path(brands_and_category_id: brands_and_category.id, edit_more: true), method: :post do
            %span Edit More

      .panel-collapse.collapse.in{:id => "#{index}"}
        .panel-body
          .row.col-md-12
            .col-md-2.pull-right
              = link_to brands_and_category_admins_tickets_path(edit_more: true, brands_and_category_id: brands_and_category.id), method: :post do
                %span.glyphicon.glyphicon-pencil Edit More>>
          .row.col-md-12
            .col-md-2
              %strong Organization:
            .col-md-4
              = link_to "#", class: "inline_edit", data: {type: "select", source: Organization.all.collect{|organization| {value: organization.id, text: organization.name}}, resource: "product_brand", name: "organization_id", url: brands_and_category_admins_tickets_path(edit: true, brands_and_category_id: brands_and_category.id), "original-title" => "Update Brands"} do
                = brands_and_category.organization.try(:name)
            .col-md-2
              %strong Currency:
            .col-md-4
              = link_to "#", class: "inline_edit", data: {type: "select", source: Currency.all.collect{|currency| {value: currency.id, text: currency.currency}}, resource: "product_brand", name: "currency_id", url: brands_and_category_admins_tickets_path(edit: true, brands_and_category_id: brands_and_category.id), "original-title" => "Update Brands"} do
                = brands_and_category.currency.try(:currency)
          .row.col-md-12
            .col-md-2
              %strong SLA Time (hrs):
            .col-md-4
              = link_to "#", class: "inline_edit", data: {type: "select", source: SlaTime.all.collect{|sla| {value: sla.id, text: sla.sla_time}}, resource: "product_brand", name: "sla_id", url: brands_and_category_admins_tickets_path(edit: true, brands_and_category_id: brands_and_category.id), "original-title" => "Update Brands"} do
                = brands_and_category.sla_time.try(:sla_time)
            .col-md-2
              %strong Name:
            .col-md-4
              = link_to "#", class: "inline_edit load_style", data: {type: "text", resource: "product_brand", name: "name", url: brands_and_category_admins_tickets_path(edit: true, brands_and_category_id: brands_and_category.id), "original-title" => "Update Brands"}, style: "line-height: 6px;" do
                = brands_and_category.name
          .row.col-md-12
            .col-md-2
              %strong Parts return days:
            .col-md-4
              = link_to "#", class: "inline_edit load_style", data: {type: "text", resource: "product_brand", name: "parts_return_days", url: brands_and_category_admins_tickets_path(edit: true, brands_and_category_id: brands_and_category.id), "original-title" => "Update Brands"}, style: "line-height: 6px;" do
                = brands_and_category.parts_return_days
            .col-md-2
              %strong Warranty date format:
            .col-md-4
              = link_to "#", class: "inline_edit load_style", data: {type: "text", resource: "product_brand", name: "warranty_date_format", url: brands_and_category_admins_tickets_path(edit: true, brands_and_category_id: brands_and_category.id), "original-title" => "Update Brands", value: ""}, style: "line-height: 6px;" do
                = brands_and_category.warranty_date_format


          .row.col-md-12
            - brands_and_category.product_categories.each do |product_category|
              .panel.panel-danger
                .panel-heading
                  %h3.panel-title
                    %span Product Category: #{product_category.name}
                    - unless product_category.is_used_anywhere?
                      = link_to delete_product_category_admins_inventories_path(product_category_id: product_category.id),  method: :delete, :data => { :confirm => 'Are you sure?' } do
                        %span.glyphicon.glyphicon-trash
                .panel-body
                  .row.col-md-12
                    .col-md-2
                      %strong Name:
                    .col-md-4
                      = link_to "#", class: "inline_edit load_style", data: {type: "text", resource: "product_category", name: "name", url: brands_and_category_admins_tickets_path(edit: true, product_category_id: product_category.id), "original-title" => "Update Product Category"}, style: "line-height: 6px;" do
                        = product_category.name
                    .col-md-2
                      %strong SLA Time (hrs):
                    .col-md-4
                      = link_to "#", class: "inline_edit", data: {type: "select", source: SlaTime.all.collect{|sla| {value: sla.id, text: sla.sla_time}}, resource: "product_category", name: "sla_id", url: brands_and_category_admins_tickets_path(edit: true, product_category_id: product_category.id), "original-title" => "Update Product Category"} do
                        = product_category.sla_time.try(:sla_time)