= simple_form_for @customer_feedback, url: customer_feedback_admins_tickets_path(create: true), html: { class: "validate_form" }, method: :post do |f|
  .row
    .col-md-6
      = f.input :feedback, input_html: {rows: 1}
  .row{style: "margin-top:20px; margin-bottom:20px;"}
    .col-md-6
      = f.submit "Save", class: "btn btn-success pull-right", id: "submit_new_customer_feedback"

= collapse_wrapper collapse_id: "ticket_customer_feedback_list", labelledby: "tic_customer_feedback_labelledby" do
  - @customer_feedback_all.each_with_index do |ad_feedback, index|
    = collapse collapse_type: "info", labelledby: "labelledby_#{ad_feedback.id}", header_content: "Customer Feedback : #{ad_feedback.feedback}", collapse_link: "ticcustomer_feedbacklink_#{ad_feedback.id}", collapse_id: "ticket_customer_feedback_list" do
      .pull-right
        - unless ad_feedback.is_used_anywhere?
          = link_to delete_admin_customer_feedback_admins_tickets_path(customer_feedback_id: ad_feedback.id), method: :delete, rel: "tooltip", :data => { :confirm => 'Are you sure?', toggle: "tooltip", placement: "bottom" }, title: "Delete" do
            %span.glyphicon.glyphicon-trash
      .row.col-md-12
        .col-md-2
          %strong Active:
        .col-md-4
          = link_to "#", class: "inline_edit", data: {type: "select", resource: "feedback", source: {"1"=> "Active", "2"=> "Inactive"}, name: "active", url: customer_feedback_admins_tickets_path(edit: true, customer_feedback_id: ad_feedback.id), "original-title" => "Update Active"} do
            -if ad_feedback.active
              Active
            - else
              Inactive
      %br
      %br
      .row.col-md-12
        .col-md-2
          %strong Customer Feedback:
        .col-md-4
          = link_to "#", class: "inline_edit", data: {type: "textarea", resource: "feedback", name: "feedback", url:customer_feedback_admins_tickets_path(edit: true, customer_feedback_id: ad_feedback.id), "original-title" => "Update Customer Feedback", value: ""}, style: "line-height: 6px;" do
            = ad_feedback.feedback