%h3 Payment Term
= simple_form_for @payment_term, url: payment_term_admins_tickets_path(create: true), html: {class: "validate_form"},method: :post do |f|
  .row{style: "margin-top:15px;"}
    .col-md-6
      = f.input :name, input_html: {required: true}
  .row{style: "margin-top:15px;"}
    .col-md-6
      = f.input :description
  .row{style: "margin-top:20px;margin-bottom:20px;"}
    .col-md-6
      = f.submit "Save", class: "btn btn-success pull-right", id: "submit_new_payment_term"

= collapse_wrapper collapse_id: "ticket_payment_term_list", labelledby: "tic_payment_term_labelledby" do
  - @payment_term_all.each_with_index do |payment_term, index|
    = collapse collapse_type: "info", labelledby: "labelledby_#{payment_term.id}", header_content: "#{index+1} Payment Term : #{payment_term.name}", collapse_link: "ticpayment_termlink_#{payment_term.id}", collapse_id: "ticket_payment_term_list" do
      .pull-right
        - unless payment_term.is_used_anywhere?
          = link_to delete_payment_term_admins_tickets_path(payment_term_id: payment_term.id), method: :delete, rel: "tooltip", :data => { :confirm => 'Are you sure?', toggle: "tooltip", placement: "bottom" }, title: "Delete" do
            %span.glyphicon.glyphicon-trash
      .row.col-md-12
        .col-md-1
          %strong Active:
        .col-md-3
          = link_to "#", class: "inline_edit", data: {type: "select", resource: "payment_term", source: {"1"=> "Active", "2"=> "Inactive"}, name: "active", url: payment_term_admins_tickets_path(edit: true, payment_term_id: payment_term.id), "original-title" => "Update Active"} do
            -if payment_term.active
              Active
            - else
              Inactive
      %br
      %br
      .row.col-md-12
        .col-md-1
          %strong Name:
        .col-md-3
          = link_to "#", class: "inline_edit load_style", data: {type: "text", resource: "payment_term", name: "name", url: payment_term_admins_tickets_path(edit: true, payment_term_id: payment_term.id), "original-title" => "Update Payment Term", value: payment_term.name}, style: "line-height: 6px;" do
            = payment_term.name
        .col-md-2
          %strong Description:
        .col-md-6
          = link_to "#", class: "inline_edit load_style", data: {type: "textarea", resource: "payment_term", name: "description", url: payment_term_admins_tickets_path(edit: true, payment_term_id: payment_term.id), "original-title" => "Update Payment Term", value: payment_term.description}, style: "line-height: 6px;" do
            = payment_term.description