%fieldset
  %legend Terminate payment item
  = simple_form_for @payment_item, url: payment_item_admins_tickets_path(create: true), html: {class: "validate_form"}, method: :post do |f|
    .row{style: "margin-top:15px;"}
      .col-md-6
        = f.input :name, as: :string, input_html: {required: true}
    .row
      .col-md-6
        = f.input :default_amount, as: :float, input_html: {required: true}
    .row{style: "margin-top:20px;margin-bottom:20px;"}
      .col-md-6
        = f.submit "Save", class: "btn btn-success btn-sm", id: "submit_new_payment_item"

= collapse_wrapper collapse_id: "ticket_payment_item_list", labelledby: "tic_payment_item_labelledby" do
  - @payment_item_all.each_with_index do |payment_item, index|
    = collapse collapse_type: "info", labelledby: "labelledby_#{payment_item.id}", header_content: payment_item.name, collapse_link: "ticpayment_itemlink_#{payment_item.id}", collapse_id: "ticket_payment_item_list" do
      .pull-right
        - unless payment_item.is_used_anywhere?
          = link_to delete_admin_payment_item_admins_tickets_path(payment_item_id: payment_item.id), method: :delete, rel: "tooltip", :data => { :confirm => 'Are you sure?', toggle: "tooltip", placement: "bottom" }, title: "Delete" do
            %span.glyphicon.glyphicon-trash

      .row.col-md-12
        .col-md-1
          %strong Name:
        .col-md-3
          = link_to "#", class: "inline_edit", data: {type: "text", resource: "payment_item", name: "name", url: payment_item_admins_tickets_path(edit: true, payment_item_id: payment_item.id), "original-title" => "Update Payment Item", value: payment_item.name} do
            = payment_item.name
        .col-md-2
          %strong Default amount:
        .col-md-3
          = link_to "#", class: "inline_edit", data: {type: "text", resource: "payment_item", name: "default_amount", url: payment_item_admins_tickets_path(edit: true, payment_item_id: payment_item.id), "original-title" => "Update Payment Item", value: payment_item.default_amount} do
            = number_with_precision(payment_item.default_amount, precision: 2)