= simple_nested_form_for @problem_category, url: problem_and_category_admins_tickets_path, html: { class: "validate_form" }, method: :post do |f|
  = hidden_field_tag :problem_category_id, f.object.id
  .panel.panel-primary
    .panel-heading
      %h3.panel-title Problem Category
    .panel-body
      .row
        .col-md-6
          = f.label "Problem category:"
          = f.input :name, input_html: {rows: 1}
        .col-md-12
          .row
            = f.simple_fields_for :q_and_as do |qa|
              .panel.panel-danger
                .panel-heading
                  %h3.panel-title Q And A
                .panel-body
                  .row.col-md-12
                    .col-md-12
                      .col-md-4
                        = label_tag "Answer Type"
                        = qa.select :answer_type, options_for_select([["Yes No", "YN"], ["Text", "TX"]])
                        / = qa.input :answer_type
                      .col-md-4
                        = qa.input :compulsory
                      .col-md-4
                        = qa.input :active
                    .col-md-12
                      .col-md-6
                        = qa.label "Action:"
                        / = qa.select :action_id, TaskAction.where(action_no: [1, 5, 58, 57, 67]).map{|a| [a.action_description, a.id]}
                        = qa.select :action_id, options_for_select([["Add Ticket", 1], ["Engineer Resolution", 5], ["Quality Control", 57], ["Customer Feed Back", 58]])
                      .col-md-6
                        = qa.input :question
                        .add_sign
                          = qa.link_to_remove do
                            %span.glyphicon.glyphicon-remove-sign
            .row.col-md-12
              .col-md-12
                = f.link_to_add :q_and_as do
                  %span.glyphicon.glyphicon-plus-sign Add Q And A
      .row{style: "margin-top:20px;"}
        .col-md-11
          = f.submit "Save", class: "btn btn-success pull-right", id: "submit_new_problem_category", name: "#{params[:edit_more] ? 'update' : 'create'}"
#accordion.panel-group
  - @problem_category_all.each_with_index do |pc, index|
    .panel.panel-primary
      .panel-heading
        %h3.panel-title
          %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "##{index}"}
            = pc.name
          - unless pc.is_used_anywhere?
            = link_to delete_problem_category_admins_tickets_path(problem_category_id: pc.id), method: :delete, :data => { :confirm => 'Are you sure?' } do
              %span.glyphicon.glyphicon-trash

      .panel-collapse.collapse.in{:id => "#{index}"}
        .panel-body
          .row.col-md-12
            .col-md-2.pull-right
              = link_to problem_and_category_admins_tickets_path(edit_more: true, problem_category_id: pc.id), method: :post do
                %span.glyphicon.glyphicon-pencil Edit More>>
          .row.col-md-12
            .col-md-2
              %strong Problem Category:
            .col-md-4
              = link_to "#", class: "inline_edit load_style", data: {type: "textarea", resource: "problem_category", name: "name", url: problem_and_category_admins_tickets_path(edit: true, problem_category_id: pc.id), "original-title" => "Update Problem Category", value: ""}, style: "line-height: 6px;" do
                = pc.name
          .row.col-md-12
            - pc.q_and_as.each do |q_a|
              .panel.panel-danger
                .panel-heading
                  %h3.panel-title
                    %span Question: #{q_a.question}
                    - unless q_a.is_used_anywhere?
                      = link_to delete_q_and_a_admins_tickets_path(q_and_a_id: q_a.id), method: :delete,  :data => { :confirm => 'Are you sure?' } do
                        %span.glyphicon.glyphicon-trash
                .panel-body
                  .row.col-md-12
                    .col-md-3
                      %strong Question:
                    .col-md-9
                      = link_to "#", class: "inline_edit load_style", data: {type: "textarea", resource: "q_and_a", name: "question", url: problem_and_category_admins_tickets_path(edit: true, q_and_a_id: q_a.id), "original-title" => "Update QAndA", value: ""}, style: "line-height: 6px;" do
                        = q_a.question
                  .row.col-md-12
                    .col-md-2
                      %strong Answer type:
                    .col-md-4
                      = link_to "#", class: "inline_edit load_style", data: {type: "text", resource: "q_and_a", name: "answer_type", url: problem_and_category_admins_tickets_path(edit: true, q_and_a_id: q_a.id), "original-title" => "Update QAndA", value: ""}, style: "line-height: 6px;" do
                        = q_a.answer_type
                    .col-md-1
                      %strong Active:
                    .col-md-5
                      = link_to "#", class: "inline_edit", data: {type: "select", source: {1=>"Yes",0=>"No"}, resource: "q_and_a", name: "active", url: problem_and_category_admins_tickets_path(edit: true, q_and_a_id: q_a.id), "original-title" => "Update QAndA"} do
                        = q_a.active && "Yes" || "No"
                  .row.col-md-12
                    .col-md-1
                      %strong Compulsory:
                    .col-md-5
                      = link_to "#", class: "inline_edit", data: {type: "select", source: {1=>"Yes",0=>"No"}, resource: "q_and_a", name: "compulsory", url: problem_and_category_admins_tickets_path(edit: true,  q_and_a_id: q_a.id), "original-title" => "Update QAndA"} do
                        = q_a.compulsory && "Yes" || "No"
                    .col-md-1
                      %strong Action:
                    .col-md-5
                      = link_to "#", class: "inline_edit", data: {type: "select", source: {1=>"Add Ticket",5=>"Engineer Resolution",57=>"Quality Control",58=>"Customer Feed Back"}, resource: "q_and_a", name: "action_id", url: problem_and_category_admins_tickets_path(edit: true,  q_and_a_id: q_a.id), "original-title" => "Update QAndA"} do
                        = q_a.task_action.try(:action_description)
                  .row.col-md-12
                    .col-md-1
                      %strong Question:
                    .col-md-5
                      = link_to "#", class: "inline_edit load_style", data: {type: "textarea", resource: "q_and_a", name: "question", url: problem_and_category_admins_tickets_path(edit: true, q_and_a_id: q_a.id), "original-title" => "Update QAndA", value: ""}, style: "line-height: 6px;" do
                        = q_a.question
