= simple_nested_form_for @problem_category, url: problem_and_category_admins_tickets_path(create:true), html: { class: "validate_form" }, method: :post do |f|
  .panel.panel-primary
    .panel-heading
      %h3.panel-title Problem Category
    .panel-body
      .row
        .col-md-6
          = f.label "Problem category:"
          = f.input :name, input_html: {rows: 1}
        .col-md-12
          .row
            = f.simple_fields_for :q_and_as do |qa|
              .panel.panel-danger
                .panel-heading
                  %h3.panel-title QAndA
                .panel-body
                  .row.col-md-12
                    .col-md-12
                      .col-md-4
                        = label_tag "Answer Type"
                        = qa.select :answer_type, options_for_select([["Yes No", "YN"], ["Text", "TX"]])
                        / = qa.input :answer_type
                      .col-md-4
                        = qa.input :compulsory
                      .col-md-4
                        = qa.input :active
                    .col-md-12
                      .col-md-6
                        = qa.label "Action:"
                        = qa.select :action_id, TaskAction.where(action_no: [1, 5, 58, 57, 67]).map{|a| [a.action_description, a.id]}
                      .col-md-6
                        = qa.input :question
                        .add_sign
                          = qa.link_to_remove do
                            %span.glyphicon.glyphicon-remove-sign
            .row.col-md-12
              .col-md-12
                = f.link_to_add :q_and_as do
                  %span.glyphicon.glyphicon-plus-sign Add QAndA
      .row{style: "margin-top:20px;"}
        .col-md-11
          = f.submit "Save", class: "btn btn-success pull-right", id: "submit_new_problem_category"
#accordion.panel-group
  - @problem_category_all.each_with_index do |pc, index|
    .panel.panel-primary
      .panel-heading
        %h3.panel-title
          %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "##{index}"}
            = pc.name
          - unless pc.is_used_anywhere?
            = link_to delete_problem_category_admins_tickets_path(problem_category_id: pc.id), method: :delete, :data => { :confirm => 'Are you sure?' } do
              %span.glyphicon.glyphicon-trash
