%h3 Reason
= simple_form_for @reason, url: reason_admins_tickets_path(create: true), html: {class: "validate_form"}, method: :post do |f|
  .row{style: "margin-top:15px;"}
    .col-md-2
      = f.input :hold, wrapper: :append
    #fff.col-md-2.hide
      = f.input :sla_pause, wrapper: :append
    .col-md-3
      = f.input :re_assign_request, wrapper: :append
    .col-md-2
      = f.input :terminate_job, wrapper: :append
    .col-md-3
      = f.input :terminate_spare_part, wrapper: :append
  .row
    .col-md-2
      = f.input :warranty_extend, wrapper: :append
    .col-md-2
      = f.input :spare_part_unused, wrapper: :append
    .col-md-3
      = f.input :reject_returned_part, wrapper: :append
    .col-md-2
      = f.input :reject_close, wrapper: :append
    .col-md-3
      = f.input :adjust_terminate_job_payment, wrapper: :append
  .row
    .col-md-6
      = f.input :reason, input_html: {rows: 1, required: true}
  .row{style: "margin-top:20px; margin-bottom:20px;"}
    .col-md-6
      = f.submit "Save", class: "btn btn-success pull-right", id: "submit_new_reason"

#accordion.panel-group
  - @reason_all.each_with_index do |mst_reason, index|
    .panel.panel-info
      .panel-heading
        %h3.panel-title
          %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "##{index}"}
            = mst_reason.reason
          - unless mst_reason.is_used_anywhere?
            = link_to delete_admin_reason_admins_tickets_path(mst_reason_id: mst_reason.id), method: :delete, :data => { :confirm => 'Are you sure?' }do
              %span.glyphicon.glyphicon-trash

      .panel-collapse.collapse.in{:id => "#{index}"}
        .panel-body
          .row.col-md-12
            .col-md-3
              %strong Hold:
            .col-md-3
              = link_to "#", class: "inline_edit", data: {type: "select", source: {1=>"Yes",0=>"No"}, resource: "reason", name: "hold", url: reason_admins_tickets_path(edit: true,mst_reason_id: mst_reason.id), "original-title" => "Update admin reason"} do
                = mst_reason.hold && "Yes" || "No"
            .col-md-3
              %strong Sla pause:
            .col-md-3
              = link_to "#", class: "inline_edit", data: {type: "select", source: {1=>"Yes",0=>"No"}, resource: "reason", name: "sla_pause", url: reason_admins_tickets_path(edit: true,mst_reason_id: mst_reason.id), "original-title" => "Update admin reason"} do
                = mst_reason.sla_pause && "Yes" || "No"
          .row.col-md-12
            .col-md-3
              %strong Re assign request:
            .col-md-3
              = link_to "#", class: "inline_edit", data: {type: "select", source: {1=>"Yes",0=>"No"}, resource: "reason", name: "re_assign_request", url: reason_admins_tickets_path(edit: true,mst_reason_id: mst_reason.id), "original-title" => "Update admin reason"} do
                = mst_reason.re_assign_request && "Yes" || "No"
            .col-md-3
              %strong Terminate job:
            .col-md-3
              = link_to "#", class: "inline_edit", data: {type: "select", source: {1=>"Yes",0=>"No"}, resource: "reason", name: "terminate_job", url: reason_admins_tickets_path(edit: true,mst_reason_id: mst_reason.id), "original-title" => "Update admin reason"} do
                = mst_reason.terminate_job && "Yes" || "No"
          .row.col-md-12
            .col-md-3
              %strong Terminate spare part:
            .col-md-3
              = link_to "#", class: "inline_edit", data: {type: "select", source: {1=>"Yes",0=>"No"}, resource: "reason", name: "terminate_spare_part", url: reason_admins_tickets_path(edit: true,mst_reason_id: mst_reason.id), "original-title" => "Update admin reason"} do
                = mst_reason.terminate_spare_part && "Yes" || "No"
            .col-md-3
              %strong Warranty extend:
            .col-md-3
              = link_to "#", class: "inline_edit", data: {type: "select", source: {1=>"Yes",0=>"No"}, resource: "reason", name: "warranty_extend", url: reason_admins_tickets_path(edit: true,mst_reason_id: mst_reason.id), "original-title" => "Update admin reason"} do
                = mst_reason.warranty_extend && "Yes" || "No"
          .row.col-md-12
            .col-md-3
              %strong Spare part unused:
            .col-md-3
              = link_to "#", class: "inline_edit", data: {type: "select", source: {1=>"Yes",0=>"No"}, resource: "reason", name: "spare_part_unused", url: reason_admins_tickets_path(edit: true,mst_reason_id: mst_reason.id), "original-title" => "Update admin reason"} do
                = mst_reason.spare_part_unused && "Yes" || "No"
            .col-md-3
              %strong Reject returned part:
            .col-md-3
              = link_to "#", class: "inline_edit", data: {type: "select", source: {1=>"Yes",0=>"No"}, resource: "reason", name: "reject_returned_part", url: reason_admins_tickets_path(edit: true,mst_reason_id: mst_reason.id), "original-title" => "Update admin reason"} do
                = mst_reason.reject_returned_part && "Yes" || "No"
          .row.col-md-12
            .col-md-3
              %strong Reject close:
            .col-md-3
              = link_to "#", class: "inline_edit", data: {type: "select", source: {1=>"Yes",0=>"No"}, resource: "reason", name: "reject_close", url: reason_admins_tickets_path(edit: true,mst_reason_id: mst_reason.id), "original-title" => "Update admin reason"} do
                = mst_reason.reject_close && "Yes" || "No"
            .col-md-3
              %strong Adjust terminate job payment:
            .col-md-3
              = link_to "#", class: "inline_edit", data: {value: boolean_in_word(mst_reason.adjust_terminate_job_payment, "1", "0"), type: "select", source: {1=>"Yes",0=>"No"}, resource: "reason", name: "adjust_terminate_job_payment", url: reason_admins_tickets_path(edit: true,mst_reason_id: mst_reason.id), "original-title" => "Update admin reason"} do
                = boolean_in_word(mst_reason.adjust_terminate_job_payment, "Yes", "No")
          .row.col-md-12
            .col-md-3
              %strong Reason:
            .col-md-4
              = link_to "#", class: "inline_edit load_style", data: {value: mst_reason.reason, type: "textarea", resource: "reason", name: "reason", url: reason_admins_tickets_path(edit: true,mst_reason_id: mst_reason.id), "original-title" => "Update admin reason"}, style: "line-height: 6px;" do
                = mst_reason.reason
