= simple_form_for @spare_part_description, url: spare_part_description_admins_tickets_path(create: true), method: :post do |f|
  .row
    .col-md-6
      = f.input :description, input_html: {rows: 1, autocomplete: "off"}, label: "Spare Part Description"
  .row{style: "margin-top:20px; margin-bottom:20px;"}
    .col-md-6
      = f.submit "Save", class: "btn btn-success pull-right", id: "submit_new_spare_part_description", data: {disable_with: "Please wait..."}

= collapse_wrapper collapse_id: "ticket_spare_part_description_list", labelledby: "tic_spare_part_description_labelledby" do
  - @spare_part_description_all.each_with_index do |sp_description, index|
    = collapse collapse_type: "info", labelledby: "labelledby_#{sp_description.id}", header_content: "#{index+1} #{sp_description.description}", collapse_link: "ticspare_part_descriptionlink_#{sp_description.id}", collapse_id: "ticket_spare_part_description_list" do
      .pull-right
        / - unless inv_unit.is_used_anywhere?
        = link_to delete_admin_spare_part_description_admins_tickets_path(sp_description_id: sp_description.id), method: :delete, rel: "tooltip", :data => { :confirm => 'Are you sure?', toggle: "tooltip", placement: "bottom" }, title: "Delete" do
          %span.glyphicon.glyphicon-trash

      .row.col-md-12
        .col-md-3
          %strong Active :
          = link_to "#", class: "inline_edit", data: {type: "select", resource: "spare_part_description", source: {"1"=> "Active", "2"=> "Inactive"}, name: "active", url: spare_part_description_admins_tickets_path(edit: true, sp_description_id: sp_description.id), "original-title" => "Update Active"} do
            -if sp_description.active
              Active
            - else
              Inactive
        .col-md-3
          %strong Spare Part Description:
        .col-md-5
          = link_to "#", class: "inline_edit load_style", data: {type: "textarea", resource: "spare_part_description", name: "description", url: spare_part_description_admins_tickets_path(edit: true, sp_description_id: sp_description.id), "original-title" => "Update Spare Part Description", value: ""}, style: "line-height: 6px;" do
            = sp_description.description


:javascript
  setTimeout(function(){
  $('#submit_new_spare_part_description').prop('disabled', true);
  $( "#new_spare_part_description" ).validate({
    rules: {
      "spare_part_description[description]": {
        required: true,

        remote: {
          url: "/validate_resource",
          type: "post",
          data: {
            resource_name: "SparePartDescription",
            resource_column: "description",
            resource_column_value: function() {
              return $( "input[name = 'spare_part_description[description]']" ).val();
            }
          }
        
        }

      }
    },
    messages: {
      "spare_part_description[description]": {
        required: "Required input",
        remote: "Description is already used."
      }
    }

  })

  $('#new_spare_part_description input').on('blur keyup', function () {
    if ($('#new_spare_part_description').valid()) {
      $('#submit_new_spare_part_description').prop('disabled', false);
    } else {
      $('#submit_new_spare_part_description').prop('disabled', true);
    }
  });
  }, 1000);

