%fieldset
  %legend Edit Serial No
  = simple_nested_form_for product, url: update_order_mfp_edit_serial_no_tickets_path, method: :post do |f|
    = hidden_field_tag :process_id, session[:process_id]
    = hidden_field_tag :task_id, session[:task_id]
    = hidden_field_tag :owner, session[:owner]
    = hidden_field_tag :request_spare_part_id, session[:request_spare_part_id]

    %strong Serial No:
    = f.object.serial_no
    %br/
    = f.input :serial_no
    = f.simple_fields_for :ticket_product_serials do |sr|
      - if sr.object.ticket_id == ticket.id
        = sr.association :ref_product_serial, value_method: :id, label_method: :serial_no

    = f.submit "Save", class: "btn btn-success"