- ticket = @ticket
- product = @product

- uri = URI(request.url)
- uri_path = uri.path == "/tickets/edit_serial" ? uri.path : "/#{params[:controller].split('/').last}/#{params[:action]}"
%fieldset
  %legend Edit Serial No
  = simple_nested_form_for product, url: update_edit_serial_tickets_path, method: :post do |f|
    = hidden_field_tag :process_id, Rails.cache.fetch([uri_path, params[:task_id]])[:process_id]
    = hidden_field_tag :task_id, Rails.cache.fetch([uri_path, params[:task_id]])[:task_id]
    = hidden_field_tag :owner, Rails.cache.fetch([uri_path, params[:task_id]])[:owner]
    - Rails.cache.fetch([uri_path, params[:task_id]])[:bpm_input_variables].each do |bpm_input_variable|
      = hidden_field_tag bpm_input_variable[0], bpm_input_variable[1]

    = hidden_field_tag :product_id, product.id

    %strong Serial No:
    = f.object.serial_no
    %br/

    .row
      .col-md-6
        = f.input :serial_no, label:"New Serial No"
      .col-md-6
        = f.simple_fields_for :ticket_product_serials do |sr|
          - if sr.object.ticket_id == ticket.id
            = sr.association :ref_product_serial, value_method: :id, label_method: :serial_no
    - if @complete_task
      = label_tag "Task completed"
      = check_box_tag "complete_task" # this is for extend_warranty purpose. this can be used anywhere as render
    = f.submit "Save", class: "btn btn-success"