- ticket = @ticket
- product = @product

- uri = URI(request.url)

- from_order_template = (uri.path == "/tickets/call_mf_order_template")

- uri_path = (uri.path == "/tickets/edit_serial") ? uri.path : from_order_template ? "/tickets/order_manufacture_parts" : "/#{params[:controller].split('/').last}/#{params[:action]}"
- bpm_params_variables = Rails.cache.fetch([uri_path, params[:task_id]])[:bpm_input_variables].present? ? Hash[ Rails.cache.fetch([uri_path, params[:task_id]])[:bpm_input_variables] ] : {}

%fieldset
  %legend Edit Serial No
  %h4 Product Info
  %dl.dl-horizontal
    %dt Brand
    %dd= product.product_brand.name
    %dt Category
    %dd= product.category_full_name("|")
    %dt Model number
    %dd= product.model_no
    %dt Product number
    %dd= product.product_no
    %dt Serial no
    %dd= product.serial_no
    %dt Name
    %dd= product.name
    %dt Description
    %dd= product.description
    %dt Product Inside The Premises
    %dd= boolean_in_word ticket.product_inside, "Yes", "No"
  %hr

  - if ticket.ticket_contract.present?
    .row
      .col-md-12
        %dl.dl-horizontal
          %dt Contract No:
          %dd= ticket.ticket_contract.contract_no
          %dt Created At:
          %dd= ticket.ticket_contract.created_at.try(:strftime, INOCRM_CONFIG['short_date_format'])
          %dt Created By:
          %dd= ticket.ticket_contract.created_by_user_full_name
          %dt Contract Type:
          %dd= ticket.ticket_contract.ticket_contract_type.name
          %dt Service Provider:
          %dd= ticket.ticket_contract.owner_organization.try(:name)
          %dt Back to Back Contract:
          %dd= boolean_in_word ticket.ticket_contract.contract_b2b, "Yes", "No"
          %dt Hold:
          %dd= boolean_in_word ticket.ticket_contract.hold, "Yes", "No"
          %dt Start Date:
          %dd= ticket.ticket_contract.contract_start_at.try(:strftime, INOCRM_CONFIG['short_date_format'])
          %dt Exp Date:
          %dd= ticket.ticket_contract.contract_end_at.try(:strftime, INOCRM_CONFIG['short_date_format'])
          %dt Amount:
          %dd= ticket.ticket_contract.amount
          %dt Remarks:
          %dd= ticket.ticket_contract.remarks
    %hr
    .row.strong
      .col-md-2 Serial No
      .col-md-2 Category
      .col-md-1 Model No
      .col-md-1 Product No
      .col-md-4 Description
      .col-md-2 Select

    %hr
    .row
      .col-md-12
        .panel.panel-default
          .panel-heading
            .panel-title Contract No: #{ticket.ticket_contract.contract_no}
          .panel-body
            - ticket.ticket_contract.products.each do |product|
              .row
                .col-md-2= product.serial_no
                .col-md-2= product.category_full_name("|")
                .col-md-1= product.model_no
                .col-md-1= product.product_no
                .col-md-4= product.description
                .col-md-2= link_to "Select", update_edit_serial_tickets_path({complete_task: !from_order_template, from_order_template: from_order_template, selected_product: true, product_id: product.id, process_id: Rails.cache.fetch([uri_path, params[:task_id]])[:process_id], task_id: Rails.cache.fetch([uri_path, params[:task_id]])[:task_id], owner: Rails.cache.fetch([uri_path, params[:task_id]])[:owner] }.merge(bpm_params_variables)), method: :post, data: {confirm: "Are you sure? do you want this product to be with this ticket?"}
              %hr

  - elsif product.owner_customer.present?
    .row.strong
      .col-md-2 Serial No
      .col-md-2 Category
      .col-md-1 Model No
      .col-md-1 Product No
      .col-md-4 Description
      .col-md-2 Select
    %hr

    - product.owner_customer.products.each do |product|
      .row
        .col-md-2= product.serial_no
        .col-md-2= product.category_full_name("|")
        .col-md-1= product.model_no
        .col-md-1= product.product_no
        .col-md-4= product.description
        .col-md-2= link_to "Select", update_edit_serial_tickets_path({complete_task: !from_order_template, from_order_template: from_order_template, selected_product: true, product_id: product.id, process_id: Rails.cache.fetch([uri_path, params[:task_id]])[:process_id], task_id: Rails.cache.fetch([uri_path, params[:task_id]])[:task_id], owner: Rails.cache.fetch([uri_path, params[:task_id]])[:owner] }.merge(bpm_params_variables)), method: :post, data: {confirm: "Are you sure? do you want this product to be with this ticket?"}
      %hr

  - elsif product.tickets.any?{|t| t.id != ticket.id }
    #product_form_template
      = simple_nested_form_for @new_product, url: update_edit_serial_tickets_path, method: :post do |f|
        = hidden_field_tag :new_product, "true"
        = hidden_field_tag :process_id, Rails.cache.fetch([uri_path, params[:task_id]])[:process_id]
        = hidden_field_tag :task_id, Rails.cache.fetch([uri_path, params[:task_id]])[:task_id]
        = hidden_field_tag :owner, Rails.cache.fetch([uri_path, params[:task_id]])[:owner]
        - Rails.cache.fetch([uri_path, params[:task_id]])[:bpm_input_variables].each do |bpm_input_variable|
          = hidden_field_tag bpm_input_variable[0], bpm_input_variable[1]
        = hidden_field_tag :from_order_template, from_order_template

        .panel-body
          .row
            %h4 New Product
          .row
            .col-md-4
              = f.input :serial_no, required: true
            .col-md-4
              = f.association :sla_time, collection: SlaTime.where(active: true),required: true, label_method: :description, include_blank: false, label: "SLA"

          .row.product_cat
            .select_wrapper
              .col-md-3
                = f.association :product_brand, collection: ProductBrand.where(active: true), required: true, input_html: {class: "product_brand"}
              .col-md-3
                %font{:color => "#90032A"}
                  = label_tag "#{CompanyConfig.first.try(:sup_product_category1_label)} : "
                  = select_tag "search_product_category1_cus_product", option_groups_from_collection_for_select(ProductBrand.where(active: true), :active_product_category1s, :id, :id, :name, "#"), include_blank: true, class: "product_category1 form-control"
              .col-md-3
                %font{:color => "#90032A"}
                  = label_tag "#{CompanyConfig.first.try(:sup_product_category2_label)} : "
                  = select_tag "search_product_category2_cus_product", option_groups_from_collection_for_select(ProductCategory1.all, :active_product_category2s, :id, :id, :name, "#"), include_blank: true, class: "product_category2 form-control"
              .col-md-3
                = f.association :product_category, collection: ProductCategory2.all, as: :grouped_select, group_method: :active_product_categories, group_label_method: :id, value_method: :id, required: true, input_html: {class: "product_category", onchange: "Tickets.product_name(this);"}, label: "#{CompanyConfig.first.try(:sup_product_category_label)} : "
          .row
            .col-md-2
              = f.input :model_no
            .col-md-2
              = f.input :product_no
          .row.pro_name
            .col-md-4
              = f.input :name, input_html: {class: "product_name"}
            .col-md-8
              =f.input :description


          %br
          .row
            .col-md-8
              = f.input :note

          .hide
            = label_tag "Task completed"
            = check_box_tag "complete_task", true, !from_order_template # this is for extend_warranty purpose. this can be used anywhere as render
            / - if @complete_task or @edit_serial
          .row
            .col-md-12
              = f.submit "Save", class: "btn btn-success", data: {disable_with: "Please wait..."}


  - else
    / product may have another tickets binded
    = simple_nested_form_for product, url: update_edit_serial_tickets_path, method: :post do |f|
      = hidden_field_tag :process_id, Rails.cache.fetch([uri_path, params[:task_id]])[:process_id]
      = hidden_field_tag :task_id, Rails.cache.fetch([uri_path, params[:task_id]])[:task_id]
      = hidden_field_tag :owner, Rails.cache.fetch([uri_path, params[:task_id]])[:owner]
      - Rails.cache.fetch([uri_path, params[:task_id]])[:bpm_input_variables].each do |bpm_input_variable|
        = hidden_field_tag bpm_input_variable[0], bpm_input_variable[1]

      = hidden_field_tag :product_id, product.id
      = hidden_field_tag :from_order_template, from_order_template

      %strong Serial No:
      = f.object.serial_no
      %br/

      .row
        .col-md-6
          = f.input :serial_no, label:"New Serial No"

      .hide
        = label_tag "Task completed"
        = check_box_tag "complete_task", true, !from_order_template # this is for extend_warranty purpose. this can be used anywhere as render
        / - if @complete_task or @edit_serial

      = f.submit "Save", class: "btn btn-success", data: {disable_with: "Please wait..."}