%fieldset
  %legend Order Parts
  = simple_nested_form_for spare_part, url: update_order_mfp_part_order_tickets_path, method: :post do |f|
    = hidden_field_tag :process_id, Rails.cache.fetch(["/tickets/order_manufacture_parts", params[:task_id]])[:process_id]
    = hidden_field_tag :task_id, Rails.cache.fetch(["/tickets/order_manufacture_parts", params[:task_id]])[:task_id]
    = hidden_field_tag :owner, Rails.cache.fetch(["/tickets/order_manufacture_parts", params[:task_id]])[:owner]
    - Rails.cache.fetch(["/tickets/order_manufacture_parts", params[:task_id]])[:bpm_input_variables].each do |bpm_input_variable|
      = hidden_field_tag bpm_input_variable[0], bpm_input_variable[1]

    = f.simple_fields_for :ticket_spare_part_manufacture do |tm|
      .row
        .col-md-12
          = tm.input :event_no, input_html: {id: "event_no", value: INOCRM_CONFIG['TicketSparePartManufacture']['event_no']}
        .col-md-12
          = tm.input :order_no, input_html: {id: "order_no", value: INOCRM_CONFIG['TicketSparePartManufacture']['order_no']}
        .col-md-12
          = f.input :note, input_html: {value: nil}
          = simple_format spare_part.note
        .col-md-12
          = f.submit "Save", class: "btn btn-success", onclick: "Tickets.presence_validater(this, {presence: ['#event_no', '#order_no']}); return false;"