- ticket = @ticket
- product = @product
- spare_part = @spare_part

.row
  .col-md-4
    %strong FSR No:
    = spare_part.fsr_id.to_s.rjust(6, INOCRM_CONFIG["fsr_no_format"]) if spare_part.fsr_id
  .col-md-4
    %strong Product Brand:
    #{product.product_brand.name}
  .col-md-4
    %strong Part Status:
    #{spare_part.spare_part_status_action.try(:name)} #{"(Terminated)" if spare_part.part_terminated}
.row
  .col-md-4
    %strong Spare Part No:
    #{spare_part.spare_part_no}
  .col-md-4
    %strong Faulty Serial No:
    #{spare_part.faulty_serial_no}
  .col-md-4
    %strong Terminated Reason:
    #{spare_part.part_terminated_reason.try(:reason)}
.row
  .col-md-4
    %strong Part Description:
    #{spare_part.spare_part_description}
  .col-md-4
    %strong Faulty CT No:
    #{spare_part.faulty_ct_no}

.row
  .col-md-12.small_scale_margin-top2
    .form-group
      %label Activity
      %select{:class => "activity_id", :id => "mf_template_caller"}
        %option{:value => ""}
        - if ticket.status_hold
          %option{:value => "un_hold"} Un hold
        - else
          %option{:value => "hold"} Hold
        / - if present_of_start_ticket_action and not ticket.job_finished
        - if (spare_part.status_action_id != SparePartStatusAction.find_by_code("CLS").id)
          %option{:value => "order_parts"} Order Parts
        / - if present_of_start_ticket_action and not ticket.job_finished
        %option{:value => "warranty_extend"} Warranty Extend Request
        / - if present_of_start_ticket_action and not ticket.job_finished
        - if (spare_part.status_action_id != SparePartStatusAction.find_by_code("CLS").id) and not spare_part.ticket_spare_part_store.present?
          %option{:value => "request_from_store"} Request From Store
        / - if present_of_start_ticket_action and not ticket.job_finished
        %option{:value => "terminate_order"} Terminate Order
        / - if present_of_start_ticket_action and not ticket.job_finished
        %option{:value => "edit_serial_no_request"} Edit Serial No
    .form-group
      #mf_order_templates