= paginate @estimation_grn_items, remote: true, method: :get, params: {controller: "tickets", action: "load_estimation_grn_items", rendering_id: "#grn_items_pagination", per_page: 2, rendering_file: "tickets_pack/low_margin_estimate_parts_approval/load_estimation_grn_items"}

%strong Last Perchased Prices
%table.table.table-hover.table-condensed
  %thead
    %tr
      %th No
      %th Date Purchase
      %th Price
      %th Currency

  %tbody
    - @estimation_grn_items.each_with_index do |g, index|
      %tr
        %td= index+1
        %td= g.created_at
        %td= number_with_precision g.unit_cost, precision: 2
        %td= number_with_precision g.unit_cost, precision: 2