= simple_form_for @country, url: country_admins_organizations_path(create: true), method: :post do |f|
  .row
    .col-md-6
      = f.input :Country
      
  .row
    .col-md-6
      = f.input :code

  .row{style: "margin-top:20px; margin-bottom:20px;"}
    .col-md-6
      = f.submit "Save", class: "btn btn-success pull-right", id: "submit_new_country"

#accordion.panel-group
  - @country_all.each_with_index do |ad_country, index|
    .panel.panel-primary
      .panel-heading
        %h3.panel-title
          %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "##{index}"}
            = ad_country.Country
          - unless ad_country.is_used_anywhere?
            = link_to delete_admin_country_admins_tickets_path(country_id: ad_country.id), method: :delete, :data => { :confirm => 'Are you sure?' } do
              %span.glyphicon.glyphicon-trash
      .panel-collapse.collapse.in{:id => "#{index}"}
        .panel-body
          .row.col-md-12
            .col-md-1
              %strong Country:
            .col-md-4
              = link_to "#", class: "inline_edit load_style", data: {type: "text", resource: "product_sold_country", name: "Country", url: country_admins_organizations_path(edit: true, country_id: ad_country.id), "original-title" => "Update admin country", value: ""}, style: "line-height: 6px;" do
                = ad_country.Country
            .col-md-1
              %strong Code:
            .col-md-4
              = link_to "#", class: "inline_edit load_style", data: {type: "text", resource: "product_sold_country", name: "code", url: country_admins_organizations_path(edit: true, country_id: ad_country.id), "original-title" => "Update admin country", value: ""}, style: "line-height: 6px;" do
                = ad_country.code
= params[:action]