= simple_form_for @country, url: country_admins_organizations_path(create: true), method: :post, html: {class: "validate_form"} do |f|

  .row
    .col-md-6
      = f.input :code
  .row
    .col-md-6
      = f.input :Country

  .row{style: "margin-top:20px; margin-bottom:20px;"}
    .col-md-6
      = f.submit "Save", class: "btn btn-success pull-right", id: "submit_new_country", data: {disable_with: "Please wait..."}

= collapse_wrapper collapse_id: "org_country_list", labelledby: "org_country_labelledby" do
  - @country_all.each_with_index do |ad_country, index|
    = collapse collapse_type: "info", labelledby: "labelledby_#{ad_country.id}", header_content: "#{ad_country.Country}", collapse_link: "org_countrylink_#{ad_country.id}", collapse_id: "org_country_list" do
      .pull-right
        - unless ad_country.is_used_anywhere?
          = link_to delete_admin_country_admins_organizations_path(country_id: ad_country.id), method: :delete, rel: "tooltip", :data => { :confirm => 'Are you sure?', toggle: "tooltip", placement: "bottom" }, title: "Delete" do
            %span.glyphicon.glyphicon-trash

      .row.col-md-12
        .col-md-1
          %strong Country:
        .col-md-4
          = link_to "#", class: "inline_edit load_style", data: {type: "text", resource: "product_sold_country", name: "Country", url: country_admins_organizations_path(edit: true, country_id: ad_country.id), "original-title" => "Update admin country"}, style: "line-height: 6px;" do
            = ad_country.Country
        .col-md-1
          %strong Code:
        .col-md-4
          = link_to "#", class: "inline_edit load_style", data: {type: "text", resource: "product_sold_country", name: "code", url: country_admins_organizations_path(edit: true, country_id: ad_country.id), "original-title" => "Update admin country"}, style: "line-height: 6px;" do
            = ad_country.code