= simple_form_for @sla, url: sla_admins_organizations_path(create: true), method: :post do |f|
  .row
    / .col-md-4
    /   = f.select :created_by, User.all.uniq{|e| e.id}.map{|e| [(e.first_name ? "#{e.name_title} #{e.first_name}" : e.email), e.id]}
    .col-md-3
      = f.input :sla_time
    .col-md-3
      = f.input :created_by,  as: :hidden, input_html: {value: current_user.id}

  .row
    .col-md-8
      = f.input :description


  .row{style: "margin-top:20px; margin-bottom:20px;"}
    .col-md-8
      = f.submit "Save", class: "btn btn-success pull-right", id: "submit_new_sla"

#accordion.panel-group
  - @sla_all.each_with_index do |sla, index|
    .panel.panel-info
      .panel-heading
        %h3.panel-title
          %a.accordion-toggle{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "##{index}"}
            #{index+1} sla : #{sla.description}
          - unless sla.is_used_anywhere?
            = link_to delete_admin_sla_admins_tickets_path(sla_id: sla.id),  method: :delete, :data => { :confirm => 'Are you sure?' } do
              %span.glyphicon.glyphicon-trash

      .panel-collapse.collapse.in{:id => "#{index}"}
        .panel-body
          .row.col-md-12
            .col-md-2
              %strong Sla time:
            .col-md-4
              = link_to "#", class: "inline_edit load_style", data: {type: "text", resource: "sla_time", name: "sla_time", url: sla_admins_organizations_path(edit: true, sla_id: sla.id), "original-title" => "Update sla", value: ""}, style: "line-height: 6px;" do
                = sla.sla_time
            .col-md-1
              %strong Description:
            .col-md-3
              = link_to "#", class: "inline_edit load_style", data: {type: "text", resource: "sla_time", name: "description", url: sla_admins_organizations_path(edit: true, sla_id: sla.id), "original-title" => "Update sla", value: ""}, style: "line-height: 6px;" do
                = sla.description