.row.margin-none
  .col-md-3
    = link_to "#", class: "inline_edit", data: {type: "select", source: Address::TYPES.collect{|category| {value: category, text: category}}, resource: "address", name: "category", url: polymorphic_path([address.addressable, address]), "original-title" => "Update address"} do
      = address.category
    %br/
    = link_to content_tag(:span, glyph(:trash)), polymorphic_path([address.addressable, address]), method: :delete, rel: "tooltip", data: {toggle: "tooltip", placement: "right", confirm: "Are you sure? do you want to delete?"}, title: "Delete"
    = link_to content_tag(:span, glyph(:send)), polymorphic_path([:make_primary_address, address.addressable, address]), method: :post, rel: "tooltip", data: {toggle: "tooltip", placement: "right", confirm: "Are you sure? do you want to make this as primary address?"}, title: "Make Primary" unless address.primary
  .col-md-5
    = link_to "#", class: "inline_edit", data: {type: "textarea", resource: "address", name: "address", url: polymorphic_path([address.addressable, address]), "original-title" => "Update address"} do
      %address= address.address

/ = render "addresses/mustache_template", mustache: {a: "a"}