= simple_form_for address, url: polymorphic_path([address.addressable, address]), html: {class: "validate_form1"} do |address|
  = address.input :addressable_type, as: :hidden
  = address.input :addressable_id, as: :hidden
  .row
    = panels panel_type: "success", header_content: "Add Address" do
      - if address.object.errors.present?
        %ul.alert.alert-danger
          - address.object.errors.full_messages.each do |error|
            %li= error
      .col-md-6
        .row
          .col-md-12
            = address.association :country, label_method: :Country, input_html: {class: "chosen-select"}
          .col-md-12
            = address.association :province, input_html: {class: "chosen-select"}
          .col-md-12
            = address.association :district, input_html: {class: "chosen-select"}
      .col-md-6
        .row
          .col-md-12
            .has-tooltip{data: {toggle: "tooltip", placement: "left"}, title: "Type"}
              = address.input :category, collection: Address::TYPES, include_blank: false, input_html: {class: "chosen-select"}

          .col-md-3
            = address.association :contact_person_title, lebel_method: :title, label: "Title", required: true
          .col-md-9
            = address.input :contact_person_name, required: true
          = address.input :address1, wrapper_html: {class: "col-md-12"}, label:"Address Line1", input_html: {class: "has-tooltip", data: {toggle: "tooltip", placement: "left"}, title: "Type the Line1"}
          = address.input :address2, wrapper_html: {class: "col-md-12"}, label:"Address Line2", input_html: {class: "has-tooltip", data: {toggle: "tooltip", placement: "left"}, title: "Type the Line2"}
          = address.input :address3, wrapper_html: {class: "col-md-12"}, label:"Address Line3", input_html: {class: "has-tooltip", data: {toggle: "tooltip", placement: "left"}, title: "Type the Line3"}
          = address.input :city, wrapper_html: {class: "col-md-12"}, label:"City", input_html: {class: "has-tooltip", data: {toggle: "tooltip", placement: "left"}, title: "Type city"}

      - if address.object.addressable_type == "User"
        .form-group.col-md-12
          = password_field_tag "current_user_password", nil, placeholder: "password", class: "form-control has-tooltip", data: {toggle: "tooltip", placement: "left"}, title: "Password"
      .col-md-12
        .hide
          = address.label "Make primary"
          = address.check_box :primary
        = address.submit "Save", class: "btn btn-success btn-sm", id: "submit_new_address"

= javascript_tag do
  setTimeout(function(){$(".validate_form1").validate()}, 1000);