.row.margin-none
  - if can?(:inline_customer_contact_detail, Customer)
    .col-md-5
      .row
        .col-md-12
          = link_to "#", class: "inline_edit", data: {type: "select", source: OrganizationContactType.all.collect{|category| {value: category.id, text: category.name}}, resource: "contact_number", name: "type_id", url: polymorphic_path([contact_number.c_numberable, contact_number]), "original-title" => "Update contact_number"} do
            / = contact_number.category
            = contact_number.organization_contact_type.try(:name)
        .col-md-12
          = link_to content_tag(:span, glyph(:trash, {:tag => :span})), polymorphic_path([contact_number.c_numberable, contact_number]), method: :delete, rel: "tooltip", data: {toggle: "tooltip", placement: "right", confirm: "Are you sure? do you want to delete?"}, title: "Delete"
          = link_to content_tag(:span, glyph(:send, {:tag => :span})), polymorphic_path([:make_primary_contact_number, contact_number.c_numberable, contact_number]), method: :post, rel: "tooltip", data: {toggle: "tooltip", placement: "right", confirm: "Are you sure? do you want to make this as primary contact_number?"}, title: "Make Primary" unless contact_number.primary_contact
    .col-md-7
      = link_to "#", class: "inline_edit", data: {type: "text", resource: "contact_number", name: "value", url: polymorphic_path([contact_number.c_numberable, contact_number]), "original-title" => "Update contact_number"} do
        = contact_number.value
    %hr
  - else
    .col-md-5
      = contact_number.organization_contact_type.try(:name)
    .col-md-7
      = contact_number.value