- uri = URI(request.url)

- if spare_part
  .row
    .col-md-3
      %strong Part No:
      #{spare_part.spare_part_no}
    .col-md-3
      %strong Part Description:
      #{spare_part.spare_part_description}
    .col-md-3
      %strong Part terminated:
      = boolean_in_word spare_part.part_terminated, "Yes", "No"
  %hr

%fieldset
  %legend Approve Manufacture store part
  = simple_nested_form_for spare_part, url: update_approve_manufacture_parts_tickets_path, method: :post, html: {id: "new_ticket_spare_part"} do |f|
    = hidden_field_tag :process_id, Rails.cache.fetch([uri.path, params[:task_id]])[:process_id]
    = hidden_field_tag :task_id, Rails.cache.fetch([uri.path, params[:task_id]])[:task_id]
    = hidden_field_tag :owner, Rails.cache.fetch([uri.path, params[:task_id]])[:owner]
    - Rails.cache.fetch([uri.path, params[:task_id]])[:bpm_input_variables].each do |bpm_input_variable|
      = hidden_field_tag bpm_input_variable[0], bpm_input_variable[1]

    = f.simple_fields_for :ticket_spare_part_manufacture do |sto|
      = sto.input :id, as: :hidden

      .row
        .col-md-6
          = f.radio_button :request_approved, true, checked: true, class: "request_approved", disabled: sto.object.ticket_spare_part.part_terminated
          = label_tag "Approve"
          = f.radio_button :request_approved, false, checked: sto.object.ticket_spare_part.part_terminated, class: "request_approved"
          = label_tag "Reject"

    .row
      .col-md-12
        = f.input :note, input_html: { value: nil}
        = simple_format f.object.note

        = f.submit "Save", class: "btn btn-success btn-sm", id: "approve_store_part"