- uri = URI(request.url)

- if spare_part
  .row
    .col-md-3
      %strong Part No:
      #{spare_part.spare_part_no}
    .col-md-3
      %strong Part Description:
      #{spare_part.spare_part_description}
    .col-md-3
      %strong Part terminated:
      = boolean_in_word spare_part.part_terminated, "Yes", "No"
    .col-md-3
      %strong Chargeable part:
      = boolean_in_word spare_part.cus_chargeable_part, "Yes", "No"
    .col-md-3
      %strong Requested quantity:
      = spare_part.ticket_spare_part_manufacture.try(:requested_quantity)
  %hr

%fieldset
  %legend Approve Manufacture Part
  = simple_nested_form_for spare_part, url: update_approve_manufacture_parts_tickets_path, method: :post, html: {id: "new_ticket_spare_part"} do |f| # 
    = hidden_field_tag :process_id, Rails.cache.fetch([uri.path, params[:task_id]])[:process_id]
    = hidden_field_tag :task_id, Rails.cache.fetch([uri.path, params[:task_id]])[:task_id]
    = hidden_field_tag :owner, Rails.cache.fetch([uri.path, params[:task_id]])[:owner]
    - Rails.cache.fetch([uri.path, params[:task_id]])[:bpm_input_variables].each do |bpm_input_variable|
      = hidden_field_tag bpm_input_variable[0], bpm_input_variable[1]

    = f.simple_fields_for :ticket_spare_part_manufacture do |sto|
      = sto.input :id, as: :hidden

      .row
        .col-md-6
          = f.input :request_approved, as: :radio_buttons, collection: {"Approve" => "true", "Reject" => "false"}, checked: ("false" if sto.object.ticket_spare_part.part_terminated), disabled: ("true" if sto.object.ticket_spare_part.part_terminated), wrapper: :append

    .row
      .col-md-12
        = f.input :note, input_html: { value: nil}, label: "Spare Part Note"
        = simple_format f.object.note

        - msg = "Do you really want to reject? #{'It is estimated part' if spare_part.estimation_required }"
        %div{class: "alertMsg hide", data: {msg: msg}}

        %button{ type: "button", class: "btn btn-success btn-sm", onclick: "Tickets.approveManufacturePart(this); return false;"}
          Save