.row
  .col-md-12
    - ge_q_and_as.merge(pr_q_and_as){|key, ge, pe| ge.merge(pe)}.each do |key, value|
      = panels panel_type: "default", header_content: key do
        - value.each do |value_key, value_value|
          %fieldset
            %legend= value_key
            - value_value.each do |q_and_a|
              - if q_and_a.class==GeQAndAnswer
                %dl
                  %dt= q_and_a.ge_q_and_a.question
                  %dd= q_and_a.answer

              - elsif q_and_a.class==QAndAnswer
                %dl
                  %dt= q_and_a.q_and_a.question
                  %dd= q_and_a.answer