- ticket = @ticket
- problem_category = @problem_category
- ticket_action_id = @ticket_action_id
- unless ticket.q_and_answers.present?
  - ticket.problem_category.q_and_as.each do |q_and_a|
    - ticket.q_and_answers.build problematic_question_id: q_and_a.id

%h4 Q and A
= simple_nested_form_for ticket, url: q_and_answer_save_tickets_path, remote: true do |f|
  = f.simple_fields_for :q_and_answers do |qa|
    .col-md-6
      .strong= qa.object.q_and_a.question
      = qa.input :problematic_question_id, as: :hidden
      - if qa.object.q_and_a.answer_type == "YN"
        = qa.input :answer, as: :radio_buttons, collection: ["Yes", "No"], include_blank: false, wrapper: :for_radio_button
      - elsif qa.object.q_and_a.answer_type == "TX"
        = qa.input :answer, required: qa.object.q_and_a.compulsory

  = f.submit "Save and Next", class: "btn btn-sm btn-success", data: { disable_with: "Please wait..." }