/ - level = {"Low" => "info", "Highest" => "danger", "High" => "warning", "Normal" => "success"}
- level = {"blue" => "info", "red" => "danger", "orange" => "warning", "yellow" => "yellowish", "success" => "success"}
- assigned_color = "success"
- if formatted_workflow_mapping[:second_header_title].present?
  - splitted_header = formatted_workflow_mapping[:second_header_title].split("|", 2)
  - formatted_elementes = splitted_header.count > 1 ? splitted_header.first : ""
  - assigned_color = formatted_elementes.split(",").present? ? formatted_elementes.split(",").map{|e| f = e.split(":"); f.empty? ? ["color", "success"] : f.length > 1 ? f : [f.first, "success"] }.to_h["color"] : assigned_color


= link_to to_do_call_todos_path(url: formatted_workflow_mapping[:url], input_variables: formatted_workflow_mapping[:input_variables], task_id: formatted_workflow_mapping[:task_content]["id"], process_instance_id: formatted_workflow_mapping[:task_content]["process_instance_id"], owner: formatted_workflow_mapping[:task_content]["actual_owner"]), class: "to_do_list_link" do

  .col-md-12.small_scale_padding-top1.small_scale_padding-bottom1.small_scale_padding-left0.small_scale_padding-right0{class: "text-#{level[assigned_color]} bg-#{level[assigned_color]}", :style => "margin-top: 5px;", data: {toggle: "tooltip", placement: "right"}, title: "#{INOCRM_CONFIG["priority"].key formatted_workflow_mapping[:task_content]["priority"].to_i}"}

    / .col-md-1.position_relative{style: "background: transparent url(#{image_path (INOCRM_CONFIG['priority'].key(formatted_workflow_mapping[:task_content]['priority'].to_i) || 'calendar-256')+'.png'}) no-repeat scroll center top / contain; height: 70px; text-align: center;"}

    .col-md-3
      .fixed.small_scale_padding-top2{style: "font-size: 10px;"}
        .strong.col-md-6= formatted_workflow_mapping[:task_content]["created_on"].to_time.strftime(INOCRM_CONFIG['short_date_format'])
        %em.col-md-6= formatted_workflow_mapping[:task_content]["created_on"].to_time.strftime("%H:%M %p")
      / .row
      /   .col-md-12
      /     .label{class: "label-#{level[INOCRM_CONFIG["priority"].key(formatted_workflow_mapping[:task_content]["priority"].to_i)]}"}
      /       = formatted_workflow_mapping[:first_header_title].split("-").first.strip
    .col-md-8.text_header.strong
      %strong
        = formatted_workflow_mapping[:first_header_title]
      = splitted_header ? splitted_header.last : formatted_workflow_mapping[:second_header_title]
    .col-md-1.text-right
      %span.badge= INOCRM_CONFIG["priority"].key formatted_workflow_mapping[:task_content]["priority"].to_i