- formatted_workflow_mapping_for_role = @formatted_workflow_mapping_for_role
- formatted_workflow_mapping_for_user = @formatted_workflow_mapping_for_user
- count = 0
/ = formatted_workflow_mapping_for_role
.row
  .col-xs-12.col-sm-6.col-md-8
    #todo_list 
      %p To Do list (#{@formatted_workflow_mapping_for_user.try(:count).to_i+@formatted_workflow_mapping_for_role.try(:count).to_i})
      %a{:href => todos_path} 
        %i.fa.fa-repeat

  .col-xs-6.col-md-4
    #sort_by
      %p Sort by
      = select(:todolist, :sorted, options_for_select([["Date", "1"], ["Priority", "2"], ["Module", "3"]]))
  


#table
  = tab_panel do
    = tab_nav_tab({}, user_details: {active_class: "active", content: "User (#{@formatted_workflow_mapping_for_user.try(:count).to_i})"}, role: {content: "#{current_user.current_user_role_name} (#{@formatted_workflow_mapping_for_role.try(:count).to_i})"})
    .tab-content
      = tab_content active_class: "active", tabpointer: "user_details" do
        .product
        %table.table
          %thead
            %tr
              %th No.
              %th Date
              %th Priority
              %th Module
              %th Task title
              %th Action    
          %tbody
            - formatted_workflow_mapping_for_user.each do |formatted_workflow_mapping|
              %tr
                %td= count += 1
                %td= formatted_workflow_mapping[:task_content]["created_on"].to_datetime.strftime("%Y-%m-%d %H:%M")
                %td= INOCRM_CONFIG["priority"].key formatted_workflow_mapping[:task_content]["priority"].to_i
                %td= formatted_workflow_mapping[:first_header_title].split("-").first.strip
                %td #{formatted_workflow_mapping[:first_header_title]} #{formatted_workflow_mapping[:second_header_title]}
                %td= link_to "Do", to_do_call_todos_path(url: formatted_workflow_mapping[:url], input_variables: formatted_workflow_mapping[:input_variables], task_id: formatted_workflow_mapping[:task_content]["id"], process_instance_id: formatted_workflow_mapping[:task_content]["process_instance_id"], owner: formatted_workflow_mapping[:task_content]["actual_owner"]), target: "_blank"
      = tab_content tabpointer: "role" do
        .product
        %table.table
          %thead
            %tr
              %th NO
              %th Date
              %th Priority
              %th Module
              %th Task title
              %th Action    
          %tbody    
            - (formatted_workflow_mapping_for_role and formatted_workflow_mapping_for_role).try(:each) do |formatted_workflow_mapping|
              %tr
                %td= count += 1
                %td= formatted_workflow_mapping[:task_content]["created_on"].to_datetime.strftime("%Y-%m-%d %H:%M")
                %td= INOCRM_CONFIG["priority"].key formatted_workflow_mapping[:task_content]["priority"].to_i
                %td= formatted_workflow_mapping[:first_header_title].split("-").first.strip
                %td #{formatted_workflow_mapping[:first_header_title]} #{formatted_workflow_mapping[:second_header_title]}
                %td= link_to "Do", to_do_call_todos_path(url: formatted_workflow_mapping[:url], input_variables: formatted_workflow_mapping[:input_variables], task_id: formatted_workflow_mapping[:task_content]["id"], process_instance_id: formatted_workflow_mapping[:task_content]["process_instance_id"], owner: formatted_workflow_mapping[:task_content]["actual_owner"]), target: "_blank"