- formatted_workflow_mapping_for_role = @formatted_workflow_mapping_for_role
- formatted_workflow_mapping_for_user = @formatted_workflow_mapping_for_user
- count = 0

/ = formatted_workflow_mapping_for_role
.row
  .col-xs-12.col-sm-6.col-md-8
    #todo_list 
      %p To Do list (#{@formatted_workflow_mapping_for_user.try(:count).to_i+@formatted_workflow_mapping_for_role.try(:count).to_i})
      %a{:href => todos_path} 
        %i.fa.fa-repeat

  .col-xs-6.col-md-4
    #sort_by
      %p Sort by
      = select(:todolist, :sorted, options_for_select([["Date", "1"], ["Priority", "2"], ["Module", "3"]]))

#table
  = tab_panel do
    = tab_nav_tab({}, user_details: {active_class: "active", content: "User (#{@formatted_workflow_mapping_for_user.try(:count).to_i})"}, role: {content: "#{current_user.current_user_role_name} (#{@formatted_workflow_mapping_for_role.try(:count).to_i})"})
    .tab-content
      = tab_content active_class: "active", tabpointer: "user_details" do
        .product
          - if formatted_workflow_mapping_for_user.is_a?(Array)
            - formatted_workflow_mapping_for_user.sort{|pf, lf| pf[:task_content]["created_on"].to_time <=> lf[:task_content]["created_on"].to_time}.each do |formatted_workflow_mapping|
              = render "to_do_list", formatted_workflow_mapping: formatted_workflow_mapping

      = tab_content tabpointer: "role" do
        .product
          - if formatted_workflow_mapping_for_role.is_a?(Array)
            - formatted_workflow_mapping_for_role.sort{|pf, lf| pf[:task_content]["created_on"].to_time <=> lf[:task_content]["created_on"].to_time}.each do |formatted_workflow_mapping|
              = render "to_do_list", formatted_workflow_mapping: formatted_workflow_mapping