.row
  .col-md-12
    = simple_nested_form_for po, url: close_po_admins_inventories_path(po_id: po.id, form_param: true), method: :post, html: {class: "validate_form"} do |f|
      = f.input :remarks, input_html: {value: nil}, required: true
      = simple_format f.object.remarks
      / = f.input :closed, as: :hidden, input_html: {value: true}

      .row
        .col-md-1
          Remove
        .col-md-2
          %strong Item Code
        .col-md-2
          %strong Description
        .col-md-2
          %strong Model No
        .col-md-2
          %strong Product No
        .col-md-2
          %strong Quantity
        .col-md-1
          %strong Close
      = f.simple_fields_for :inventory_po_items do |p|
        .row
          .col-md-1
            = p.link_to_remove "    X" if p.object.hard_deletable?
          .col-md-2
            = p.object.inventory_prn_item.inventory_product.generated_item_code
          .col-md-2
            = p.object.inventory_prn_item.inventory_product.description
          .col-md-2
            = p.object.inventory_prn_item.inventory_product.model_no
          .col-md-2
            = p.object.inventory_prn_item.inventory_product.product_no
          .col-md-2
            = p.object.quantity
          .col-md-1
            = p.input :closed, wrapper: :append, label: false

      = f.submit "Delete/Close", class: "btn btn-sm btn-success", data: {confirm: "Are you sure? This sensitive action cannot be undone!."}
      = link_to "Cancel", "#", data: {dismiss: "modal"}, class: "btn btn-link"

= javascript_tag do
  $("#validate_form").validate();