= link_to "Change store", po_admins_inventories_path
= simple_nested_form_for @po, url: create_po_admins_inventories_path, html: {class: "validate_form"} do |f|
  = hidden_field_tag :prn_id, @prn.id
  = f.input :created_by, as: :hidden, input_html: { value: current_user.id }
  / = f.input :po_no, as: :hidden, input_html: {value: CompanyConfig.first.next_inv_last_po_no}
  = f.input :store_id, as: :hidden, input_html: {value: @store.id }
  .row
    .col-md-12
      - if @po.errors.any?
        %ul
          - @po.errors.full_messages.each do |error|
            %li.alert.alert-danger= error
    .col-md-6
      /   %strong PO No:
      /   = CompanyConfig.first.next_sup_last_po_no.to_s.rjust(5, INOCRM_CONFIG["inventory_po_no_format"])
      .customer_supplier
        = f.input :supplier_id, as: :hidden, input_html: {class: "dynamic_customer_supplier_id" }
        .customer_supplier_info
      = link_to "javascript:void(0)", id: "add_customer", onclick: "Users.search_customers(this); return false;", data: {modalId: "modal_for_main_part", remote: "true", selectpath: "", selectoptions: "onclick:Users.assign_customer(this, 'modal_for_main_part', 'add_customer');<>type:supplier"} do
        Select customer

    .col-md-6.text-right
      %strong Created by:
      = current_user.full_name
      %br/
      %strong Created at:
      = DateTime.now.strftime("%Y-%m-%d %H:%M")

  .row
    .col-md-3
      = f.input :po_no, required: true
    .col-md-3
      = f.input :delivery_date, as: :string, input_html: {class: "datepicker"}, label: "Deliver date"
    .col-md-3
      = f.input :your_ref, label: "Your reference"
    .col-md-3
      = f.input :payment_term
  .row
    .col-md-2
      = f.input :discount_amount, required: true
    .col-md-2
      = f.association :currency, label_method: :currency, required: true
    .col-md-3
      = f.input :deliver_to
    .col-md-5
      = f.input :remarks
  .row
    .col-md-8
      %h4 Add Items
      = f.simple_fields_for :inventory_po_items do |i|
        - if i.object.inventory_prn_item and i.object.inventory_prn_item.inventory_product
          .row
            .col-md-6
              %h4 Product Information
              %dl
                %dt Item code:
                %dd= i.object.inventory_prn_item.inventory_product.generated_item_code
                %dt Item description:
                %dd= i.object.inventory_prn_item.inventory_product.description
                %dt Balance to be issued:
                %dd= @prn.inventory_prn_items.sum(:quantity) - i.object.inventory_prn_item.inventory_product.inventory_po_items.sum(:quantity)
                %dt Order unit
                %dd= i.object.inventory_prn_item.inventory_product.inventory_unit.unit
                %dt Stock in hand
                %dd= i.object.inventory_prn_item.inventory_product.inventories.map { |i| i.stock_quantity if i.store_id.to_i == @store.id }.compact.join(", ")
                %dt Type
                %dd= i.object.inventory_prn_item.inventory_product.inventory_product_info.need_serial ? "Serial" : i.object.inventory_prn_item.inventory_product.inventory_product_info.need_batch ? "Batch" : "Non of Serial or Batch"
                %dt PRN remarks
                %dd= i.object.inventory_prn_item.remarks
            .col-md-6
              - last_po_item = i.object.inventory_prn_item.inventory_product.last_po_item
              - if last_po_item.present?
                %h4 Last PO Information
                %dl
                  %dt No:
                  %dd= last_po_item.inventory_po.po_no
                  %dt Supplier
                  %dd= last_po_item.inventory_po.supplier.name
                  %dt Item status
                  %dd= boolean_in_word last_po_item.inventory_po.closed, "Closed", "Open"
                  %dt Quantity
                  %dd= last_po_item.quantity
                  %dt Date
                  %dd= last_po_item.inventory_po.created_at.strftime(INOCRM_CONFIG["short_date_format"])
                  %dt Unit cost
                  %dd= last_po_item.unit_cost
                  %dt Total recieved quantity
                  %dd= i.object.inventory_prn_item.inventory_product.inventory_po_items.sum(:quantity)
                  %dt Created by
                  %dd= last_po_item.inventory_po.created_by_user.full_name
                  %dt PO Unit
                  %dd= last_po_item.inventory_unit.unit
                  %dt Currency
                  %dd= last_po_item.inventory_po.currency.code
        = i.input :prn_item_id, as: :hidden
        %hr
        .row
          .col-md-1
            = i.link_to_remove class: "remove_c_t_v_link", title: "Remove item" do
              %span.glyphicon.glyphicon-remove-sign
          .col-md-3
            = i.input :quantity, required: true, as: :string, input_html: {value: @prn.inventory_prn_items.sum(:quantity) - i.object.inventory_prn_item.inventory_product.inventory_po_items.sum(:quantity)}
          .col-md-3
            = i.association :inventory_unit, label_method: :unit, required: true
          .col-md-2
            = i.input :unit_cost, required: true, as: :string
          .col-md-3
            = i.input :unit_cost_grn, required: true, as: :string
          .col-md-12
            = i.input :remarks

    .col-md-4
      %h4 Add Taxes
      = f.simple_fields_for :inventory_po_taxes do |t|
        %hr
        .row
          .col-md-1
            = t.link_to_remove class: "remove_c_t_v_link", title: "Remove tax" do
              %span.glyphicon.glyphicon-remove-sign
          .col-md-5
            = t.input :tax, required: true
          .col-md-5
            = t.input :amount, required: true
      .row
        .col-md-12
          = f.link_to_add :inventory_po_taxes do
            %span.glyphicon.glyphicon-plus-sign
            Add tax
    .col-md-12
      = f.submit "Save", class: "btn btn-sm btn-success"

#modal_for_main_part.modal.fade{tabindex: -1, role: "dialog", "aria-labelledby" => "modal_for_main_part", "aria-hidden" => true}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title Select Suppliers
      .modal-body
      .modal-footer