%h4 Create PO

= link_to "Change Store", po_admins_inventories_path
= simple_nested_form_for @po, url: create_po_admins_inventories_path, html: {class: "validate_form"} do |f|
  = hidden_field_tag :prn_id, @prn.id
  = f.input :created_by, as: :hidden, input_html: { value: current_user.id }
  = f.input :po_no, as: :hidden, input_html: {value: CompanyConfig.first.next_inv_last_po_no}
  = f.input :store_id, as: :hidden, input_html: {value: @store.id }
  .row
    .col-md-12
      - if @po.errors.any?
        %ul
          - @po.errors.full_messages.each do |error|
            %li.alert.alert-danger= error
    .col-md-6
      %strong PO No:
      = CompanyConfig.first.next_inv_last_po_no.to_s.rjust(5, INOCRM_CONFIG["inventory_po_no_format"])
      .br
      %strong Store:
      = @store.name
      .customer_supplier
        = f.input :supplier_id, as: :hidden, input_html: {class: "dynamic_customer_supplier_id" }
        .customer_supplier_info
      = link_to "javascript:void(0)", id: "add_customer", class: "btn btn-danger btn-sm", onclick: "Users.search_customers(this); return false;", data: {modalId: "modal_for_main_part", remote: "true", selectpath: "", selectoptions: "onclick:Users.assign_customer(this, 'modal_for_main_part', 'add_customer');<>type:supplier"} do
        Select Supplier
    .col-md-6.text-right
      %strong Created by:
      = current_user.full_name
      %br/
      %strong Created at:
      = DateTime.now.strftime("%Y-%m-%d %H:%M")
  %hr
  .row
    .col-md-12
      .row
        .col-md-3
          = f.input :discount_amount, required: true, label: "Discount"
        .col-md-3
          = f.association :currency, label_method: :code, required: true, label: "PO Currency", include_blank: false, input_html: {id: "select_currency_unit"}
        .col-md-3
          = f.input :delivery_date, as: :string, input_html: {class: "datepicker"}, label: "Delivery Date"
        .col-md-3
          = f.input :delivery_date_text, label: "Required Date info", as: :text, placeholder: "Ex: Immedietly"
        .col-md-3
          = f.input :your_ref, label: "Your Reference"
        .col-md-3
          = f.input :quotation_no, label: "Qutoation No"
        .col-md-3
          = f.input :delivery_mode, label: "Delivery Mode"
        .col-md-4
          = f.association :payment_term, required: true, input_html: {class: "chosen-select"}
        .col-md-4
          = f.input :deliver_to, label: "Deliver To", input_html: {value: Organization.owner.primary_address.try(:full_address)}
        .col-md-4
          = f.input :remarks
    .col-md-12
      = collapse_wrapper collapse_id: "prn_info", labelledby: "prn_info_labelledby" do
        = collapse collapse_type: "info", labelledby: "prn_info_labelby", header_content: "PRN Information", collapse_link: "prn_info_link", collapse_id: "prn_info" do
          %dl.dl-horizontal
            %dt PRN No:
            %dd= @prn.formated_prn_no
            %dt Required Date:
            %dd= @prn.required_at.try(:strftime, INOCRM_CONFIG["short_date_format"])
            %dt Remarks:
            %dd= simple_format @prn.remarks
            %dt Created By:
            %dd= @prn.created_by_user_full_name
            %dt Created at:
            %dd= @prn.created_at.strftime(INOCRM_CONFIG["short_date_format"])
    .col-md-12.main_issue
      %h4 PO Items
      = f.simple_fields_for :inventory_po_items do |i|
        = i.input :unit_id, as: :hidden, input_html: {class: "dynamic_unit_id"}
        = i.input :prn_item_id, as: :hidden

        - if i.object.inventory_prn_item and i.object.inventory_prn_item.inventory_product
          .row
            .col-md-4
              %strong Item Code:
              = i.object.inventory_prn_item.inventory_product.generated_item_code
            .col-md-4
              %strong Item Description:
              = i.object.inventory_prn_item.inventory_product.description
            .col-md-4
              %strong Balance Qty to be Purchased:
              = i.object.inventory_prn_item.quantity - i.object.inventory_prn_item.inventory_po_items.sum(:quantity)

          = collapse_wrapper collapse_id: "issue_po_item_#{i.object.object_id}", labelledby: "issue_po_item_#{i.object.object_id}_labelledby" do
            = collapse collapse_type: "info", labelledby: "issue_po_item_labelby", header_content: "Select the item", collapse_link: "issue_po_item_#{i.object.object_id}_link", onClick: "Admins.onClick_hide_quantity(this); return false;", collapse_id: "issue_po_item_#{i.object.object_id}", collapse_in: "in" do
              .row
                .col-md-3
                  %strong Unit:
                  = i.object.inventory_prn_item.inventory_product.inventory_unit.unit
                .col-md-3
                  %strong Stock in Hand:
                  = i.object.inventory_prn_item.inventory_product.inventories.map { |i| i.stock_quantity if i.store_id.to_i == @store.id }.compact.join(", ")
                .col-md-3
                  %strong Type:
                  = i.object.inventory_prn_item.inventory_product.inventory_product_info.need_serial ? "Serial" : i.object.inventory_prn_item.inventory_product.inventory_product_info.need_batch ? "Batch" : "Non of Serial or Batch"
                .col-md-3
                  %strong PRN Remarks:
                  = i.object.inventory_prn_item.remarks
              %hr
              .row
                .col-md-2
                  = i.input :quantity, required: true, as: :string, input_html: {value: i.object.inventory_prn_item.quantity - i.object.inventory_prn_item.inventory_po_items.sum(:quantity), class: "dynamic_quantity"}, label: "Order Quantity"
                .col-md-2
                  / = label_tag "PO Unit Cost" do
                  /   PO Unit Cost
                  /   (<span class="dynamic_unit_cost"></span>)
                  = i.input :unit_cost, required: true, as: :string, label: "PO Unit Cost"
                .col-md-2
                  = i.input :unit_cost_grn, required: true, as: :string, label: "GRN Unit Cost (#{i.object.inventory_prn_item.inventory_product.inventory_product_info.currency.code})"
                .col-md-3
                  = i.input :description, as: :string, label: "Description"
                .col-md-6
                  = i.input :remarks

              - last_po_item = i.object.inventory_prn_item.inventory_product.last_po_item
              - if last_po_item.present?
                .row
                  .col-md-12
                    %h4 Last PO Information
                  .col-md-4
                    %strong PO No:
                    = last_po_item.inventory_po.po_no
                  .col-md-4
                    %strong Supplier
                    = last_po_item.inventory_po.supplier.name
                  .col-md-4
                    %strong PO Items Status
                    = boolean_in_word last_po_item.inventory_po.closed, "Closed", "Open"
                  .col-md-4
                    %strong PO Quantity
                    = last_po_item.quantity
                  .col-md-4
                    %strong PO Date
                    = last_po_item.inventory_po.created_at.strftime(INOCRM_CONFIG["short_date_format"])
                  .col-md-4
                    %strong PO Unit Cost
                    = last_po_item.unit_cost
                  .col-md-4
                    %strong Total Received Quantity
                    = last_po_item.inventory_po.inventory_po_items.sum(:quantity)
                  .col-md-4
                    %strong Created By
                    = last_po_item.inventory_po.created_by_user.full_name
                  .col-md-4
                    %strong PO Unit
                    = last_po_item.inventory_unit.unit
                  .col-md-4
                    %strong Currency
                    = last_po_item.inventory_po.currency.code

        .col-md-12.small_scale_padding-bottom1
          %h4 Add Taxes
          = i.simple_fields_for :inventory_po_item_taxes do |t|
            %hr
            .row
              .col-md-1
                = t.link_to_remove class: "remove_c_t_v_link", title: "Remove tax" do
                  %span.glyphicon.glyphicon-remove-sign
              .col-md-4
                = label_tag "Tax"
                %br/
                = t.select :tax_id, Tax.all.map{|p| ["#{p.tax} (#{p.tax_rates.find_by_active(true).try(:rate).to_f}%)", p.id, {"data-default-amount" => (p.tax_rates.find_by_active(true).try(:rate).to_f || 0)}]}, {include_blank: true}, {class: "payment_item_select tax_rate_calculation col-md-4", onchange: "Inventories.payment_amount_select(this); return false;"}
              .col-md-5
                = t.input :amount, require: true
              .col-md-3
                = t.input :tax_rate, as: :hidden, input_html: {class: "payment_item_value"}
        .row
          .col-md-12
            / = f.link_to_add :inventory_po_taxes do
            = i.link_to_add :inventory_po_item_taxes do
              %span.glyphicon.glyphicon-plus-sign
              Add tax

    .col-md-12
      = f.submit "Save", class: "btn btn-sm btn-success"

#modal_for_main_part.modal.fade{tabindex: -1, role: "dialog", "aria-labelledby" => "modal_for_main_part", "aria-hidden" => true}
  .modal-dialog.modal-lg
    .modal-content
      .modal-header
        %h4.modal-title Select Suppliers
      .modal-body
      .modal-footer