- po = @po
.row
  .col-md-12
    = panels panel_type: "success", header_content: "Po no: #{@po.formated_po_no}" do

      %h4 Purchase Order Info
      %dl.dl-horizontal
        %dt Supplier
        %dd= @po.supplier.name
        %dt PO. No
        %dd= @po.formated_po_no
        %dt PO. Date
        %dd= @po.created_at.try(:strftime, INOCRM_CONFIG["short_date_format"])
        %dt Delivery date
        %dd= @po.delivery_date.try(:strftime, INOCRM_CONFIG["short_date_format"])
        %dt Remarks
        %dd= simple_format @po.remarks
        %dt Delivery to
        %dd= @po.deliver_to
        %dt Created at
        %dd= @po.created_at.try(:strftime, INOCRM_CONFIG["short_date_format"])
        %dt Created by
        %dd= @po.created_by_user_full_name

      - if po.persisted?
        = link_to "Print PDF", po_output_reports_path(po_id: po.id, format: :pdf), target: "_blank", class: "btn btn-sm btn-info"
      %h4.small_scale_padding-top1 Purchase Order items
      %table.table.table-bordered
        %thead
          %tr
            %th{colspan: 4} PO item
            %th{colspan: 1}
            %th{colspan: 5} Product
          %tr
            %th Quantity
            %th Unit cost
            %th Unit cost GRN
            %th Description
            %th
            %th product no
            %th model no
            %th Serial no
            %th Description
        %tbody
          - @po.inventory_po_items.where(closed: false).each do |po_item|
            - if !po_item.inventory_prn_item.inventory_product.non_stock_item
              %tr
                %td= po_item.quantity
                %td= number_with_precision po_item.unit_cost, precision: 2
                %td= number_with_precision po_item.unit_cost_grn, precision: 2
                %td= po_item.description
                %td
                %td= po_item.inventory_prn_item.inventory_product.product_no
                %td= po_item.inventory_prn_item.inventory_product.model_no
                %td= po_item.inventory_prn_item.inventory_product.serial_no
                %td= po_item.inventory_prn_item.inventory_product.description