- prns = @prns

%h4 Create PO

= form_tag po_admins_inventories_path, method: :get do
  .row
    .col-md-3
      %strong Store
      = select_tag "search_prn[store_id]", options_from_collection_for_select(Organization.stores, :id, :name), include_blank: true, class: "form-control"
    .col-md-3
      %strong PRN No
      = text_field_tag "search_prn[prn_no]", nil, class: "form-control"
    .col-md-3
      %strong PRN Date From
      = text_field_tag "range_from", nil, class: "form-control datepicker"
    .col-md-3
      %strong PRN Date To
      = text_field_tag "range_to", nil, class: "form-control datepicker"
    .col-md-12.small_scale_margin-top1
      = submit_tag "Search", class: "btn btn-sm btn-success", name: "search"

- if @prns.present?
  = paginate prns, remote: false, method: :get
  %table.table.table-hover
    %thead
      %tr
        %th No
        %th Store
        %th PRN No
        %th PRN Date
        %th Required Date
        %th Remarks
        %th Created By
        %th Action
    %tbody
      - @prns.each_with_index do |prn, index|
        %tr
          %td
            - if params[:page]
              = (index+1)+ 10*(params[:page].to_i-1)
            - else
              = (index+1)
          %td= prn.store_name
          %td= prn.formated_prn_no
          %td= prn.created_at.to_date.strftime(INOCRM_CONFIG["short_date_format"])
          %td= prn.required_at and prn.required_at.to_date.try :strftime, INOCRM_CONFIG["short_date_format"]
          %td= simple_format prn.remarks
          %td= prn.created_by_user_full_name
          %td= link_to "Select", po_admins_inventories_path(prn_id: prn.id)
  = paginate prns, remote: false, method: :get