- uri = URI(request.url)

= simple_nested_form_for ticket, url: update_terminate_invoice_invoices_path, method: :post do |f|

  = hidden_field_tag :process_id, Rails.cache.fetch([uri.path, params[:task_id]])[:process_id]
  = hidden_field_tag :task_id, Rails.cache.fetch([uri.path, params[:task_id]])[:task_id]
  = hidden_field_tag :owner, Rails.cache.fetch([uri.path, params[:task_id]])[:owner]
  - Rails.cache.fetch([uri.path, params[:task_id]])[:bpm_input_variables].each do |bpm_input_variable|
    = hidden_field_tag bpm_input_variable[0], bpm_input_variable[1]

  = f.simple_fields_for :act_terminate_job_payments do |t|
    = t.object.payment_item.name
    = t.object.payment_item.default_amount
    = label_tag "Adjust"
    = check_box_tag :adjust_checked
    = t.input :amount, label: "Adjust amount"
    = t.association :reason, label: "Adjust reason"

  Final amount to be paid:
  = f.object.final_amount_to_be_paid