- uri = URI(request.url)
- ticket = @ticket
- user_ticket_action = @ticke_action
.row
  .col-md-12
    %strong Terminated Reason :
    #{user_ticket_action.try(:ticket_terminate_job).try(:reason).try(:reason)}

.row
  .col-md-12
    = simple_nested_form_for :terminate_invoice, url: terminate_invoice_tickets_path, method: :post do |f|
      %fieldset
        %legend

        .row
          .col-md-6
            %strong Payment Type:
            xxx

          .col-md-6
            %strong Payment Amount (Rs):
            #{user_ticket_action.try(:ticket_terminate_job_payments).try(:amount)}

        = f.simple_fields_for @terminate_job_payment do |a|

          = hidden_field_tag :process_id, Rails.cache.fetch([uri.path, params[:task_id]])[:process_id]
          = hidden_field_tag :task_id, Rails.cache.fetch([uri.path, params[:task_id]])[:task_id]
          = hidden_field_tag :owner, Rails.cache.fetch([uri.path, params[:task_id]])[:owner]
          - Rails.cache.fetch([uri.path, params[:task_id]])[:bpm_input_variables].each do |bpm_input_variable|
            = hidden_field_tag bpm_input_variable[0], bpm_input_variable[1]

          .row
            .col-md-12
              = label_tag "re_open"
              = check_box_tag :re_open, nil, false, disabled: false
          .row
            .col-md-6
              = a.input :amount , label: "Ajusted Payment Amount (Rs):", input_html: {value: nil}
          .row
            .col-md-6
              = a.label "Ajust Reason : "
              = a.select :adjust_reason_id, Reason.where(terminate_spare_part: true).map{|r| [r.reason, r.id]}, {include_blank: true},label: "Ajust Reason : "

      .row
        .col-md-12
          %strong Final Amount To Be Paid (Rs) :

      / - if ticket.cus_payment_required
      .row
        .col-md-12
          %fieldset
            %legend
            = f.simple_fields_for @ticket_payment_received do |py|

              .row.small_scale_margin-bottom1
                .col-md-6
                  %strong Payment Type : Final Payment

              .row
                .col-md-6
                  = py.input :amount , label: "Recieved Amount (Rs) :"
              .row
                .col-md-6
                  = py.input :note
              .row
                .col-md-2
                  = label_tag "Payment Completed"
                  = check_box_tag :re_open, nil, false, disabled: false

                .col-md-4
                  = label_tag "Invoicing Completed"
                  = check_box_tag :re_open, nil, false, disabled: false

                / = py.input :payment_completed , as: :boolean ,label: "Payment Completed", wrapper_html: {class: "col-md-2"}, wrapper: :append
                / = py.input :invoicing_completed , as: :boolean, label: "Invoicing Completed", wrapper_html: {class: "col-md-2"}, wrapper: :append
                .col-md-2
                  = button_tag "View Invoice" , class: "btn btn-success"
                .col-md-2
                  = button_tag "Print Invoice" , class: "btn btn-success"

      .row.small_scale_margin-bottom1
        .col-md-6
          .row
            .col-md-12
              %strong Informed To Customer:
          .row
            .col-md-12
              %strong Informed by:
          .row
            .col-md-12
              %strong Informed at:
          .row.small_scale_margin-bottom1
            .col-md-12
              %strong Informed Note:
          .row
            .col-md-3
              = button_tag "Inform Customer" , class: "btn btn-success"
            .col-md-3
              = button_tag "Print Delivery Note" , class: "btn btn-success"
        .col-md-6
          .row
            .col-md-4
              = label_tag "Unit Returned to Customer"
            .col-md-1
              = f.input :unit_returned , as: :boolean, label: false, checked: (ticket.ticket_type.name == 'IH'), disabled: (ticket.ticket_type.name != 'IH')

      .row.small_scale_margin-bottom1
        .col-md-12
          = f.submit "Save", class: "btn btn-success"