- uri = URI(request.url)
= simple_nested_form_for estimation, url: update_estimation_part_tickets_path, method: :post do |f|
  / = hidden_field_tag :process_id, session[:process_id]
  / = hidden_field_tag :task_id, session[:task_id]
  / = hidden_field_tag :owner, session[:owner]
  / - session[:bpm_input_variables].each do |bpm_input_variable|
  /   = hidden_field_tag bpm_input_variable[0], bpm_input_variable[1]

  = hidden_field_tag :process_id, Rails.cache.fetch([uri.path, params[:task_id]])[:process_id]
  = hidden_field_tag :task_id, Rails.cache.fetch([uri.path, params[:task_id]])[:task_id]
  = hidden_field_tag :owner, Rails.cache.fetch([uri.path, params[:task_id]])[:owner]
  - Rails.cache.fetch([uri.path, params[:task_id]])[:bpm_input_variables].each do |bpm_input_variable|
    = hidden_field_tag bpm_input_variable[0], bpm_input_variable[1]

  = f.simple_fields_for :ticket_estimation_parts do |t|
    %fieldset
      %legend Part No #{t.object.ticket_spare_part.try(:spare_part_no)}
      .row
        .col-md-12.tyyt
          %strong Part No:
          #{t.object.ticket_spare_part.try(:spare_part_no)}
      .row
        .col-md-4
          %strong Part description:
          #{t.object.ticket_spare_part.try(:spare_part_description)}
      .row
        .col-md-4
          %strong Part status:
          #{t.object.ticket_spare_part.spare_part_status_action.try(:name)}

      .row
        .col-md-12
          %h4 Requested part
      .row
        .col-md-5
          .spare_part_select.pull-right
            = link_to "select", inventory_in_modal_inventories_path(select_frame: "request_from"), id: "request_from_select", remote: true
          .request_from
            %dl.dl-horizontal
              %dt
                Store
              %dd
                = t.object.ticket_spare_part.ticket_spare_part_store and t.object.ticket_spare_part.ticket_spare_part_store.store.name
              %dt
                Item code
              %dd
                = t.object.ticket_spare_part.ticket_spare_part_store and t.object.ticket_spare_part.ticket_spare_part_store.store.name
              %dt
                Item description
              %dd
                = t.object.ticket_spare_part.ticket_spare_part_store and t.object.ticket_spare_part.ticket_spare_part_store.inventory_product.try(:description)

              %dt
                Available Qnt.
              %dd
                = t.object.ticket_spare_part.ticket_spare_part_store and t.object.ticket_spare_part.ticket_spare_part_store.main_inventory_product.try(:inventories).try :sum, :available_quantity
              %dt
                Unit
              %dd
                = t.object.ticket_spare_part.ticket_spare_part_store and t.object.ticket_spare_part.ticket_spare_part_store.inventory_product.try(:inventory_unit).try(:unit)
        .col-md-1
        .col-md-6
          .row.col-md-12
            %p.pull-right{style: "color: red;"} Estimate below the margin
          .row.col-md-12
            %strong Last Perchased Prices
            .table-responsive
              %table.table.table-bordered
                %thead
                  %tr
                    %th No
                    %th Date Purchased
                    %th Supplier
                    %th Price
                %tbody
                  %tr
                    %th{:scope => "row"}
                    %td
                    %td
                    %td
                  %tr
                    %th{:scope => "row"}
                    %td
                    %td
                    %td

      .row
        .col-md-3
          = t.association :supplier
        .col-md-3
          = t.input :cost_price, input_html: {class: "only_float"}
        .col-md-3
          = t.input :estimated_price, input_html: {class: "only_float"}
        .col-md-3
          = t.input :warranty_period, input_html: {class: "only_float"}, label: "Warranty period (months)"

  = f.simple_fields_for :ticket_estimation_additionals do |a|

    .row
      = a.input :ticket_id, as: :hidden, input_html: {value: estimation.ticket.id}
      .col-md-3
        = a.association :additional_charge, value_method: :id, label_method: :additional_charge
      .col-md-3
        = a.input :cost_price, input_html: {class: "only_float"}
      .col-md-3
        = a.input :estimated_price, input_html: {class: "only_float"}

      .add_sign.col-md-3{style: "padding-top:2.5%;"}
        = a.link_to_remove class: "remove_c_t_v_link" do
          %span.glyphicon.glyphicon-remove-sign
          %br

  = f.link_to_add :ticket_estimation_additionals, class: "small_scale_padding-right2" do
    %span.glyphicon.glyphicon-plus-sign
    Add
  .row
    .col-md-3
      = f.input :advance_payment_amount, input_html: {class: "only_float"}
  .row
    .col-md-6
      = f.input :note, input_html: {value: nil}
      = simple_format estimation.note
    .col-md-3
      %strong Total Estimate:
    .col-md-3
      %p.pull-right{style: "color: red;"} (Total Estimate below the margin)

  .row{style: "margin-top:10px;"}
    .col-md-12
      %strong Other Estimations
      .table-responsive
        %table.table.table-bordered
          %thead
            %tr
              %th No.
              %th Date Requested
              %th No of parts
              %th Parts Estimationed Price
              %th Addi. Estimationed Price
              %th Total Estimationed Price
              %th Min Advance pay.
              %th Estimation Status
          %tbody
            %tr
              %th{:scope => "row"}
              %td
              %td
              %td
              %td
              %td
              %td
              %td
            %tr
              %th{:scope => "row"}
              %td
              %td
              %td
              %td
              %td
              %td
              %td
  .row{style: "margin-bottom:10px;"}
    .col-md-6
      = label_tag "Estimation complete"
      = check_box_tag :estimation_completed
    .col-md-6
      = f.submit "Save", class: "btn btn-success btn-sm"
      %button.btn.btn-default.btn-sm{:type => "button"} Cancel

#inventory_modal.modal.fade{tabindex: -1, role: "dialog", "aria-labelledby" => "inventory_modal", "aria-hidden" => true}
  .modal-dialog.modal-lg
    .modal-content