- uri = URI(request.url)
= simple_nested_form_for estimation, url: update_estimate_the_part_internal_inventories_path, method: :post do |f|

  = hidden_field_tag :process_id, Rails.cache.fetch([uri.path, params[:task_id]])[:process_id]
  = hidden_field_tag :task_id, Rails.cache.fetch([uri.path, params[:task_id]])[:task_id]
  = hidden_field_tag :owner, Rails.cache.fetch([uri.path, params[:task_id]])[:owner]
  - Rails.cache.fetch([uri.path, params[:task_id]])[:bpm_input_variables].each do |bpm_input_variable|
    = hidden_field_tag bpm_input_variable[0], bpm_input_variable[1]

  = f.simple_fields_for :ticket_estimation_parts do |t|

    %fieldset
      %legend Part No: #{t.object.ticket_spare_part.try(:spare_part_no)} (#{t.object.ticket_spare_part.ticket_spare_part_store ? 'Store' : t.object.ticket_spare_part.ticket_spare_part_manufacture.present? ? 'Manufacture' : t.object.ticket_spare_part.ticket_spare_part_non_stock.present? ? 'Non Stock' : ''})
      .row
        .col-md-3
          %strong Part No:
          #{t.object.ticket_spare_part.try(:spare_part_no)}
        .col-md-3
          %strong Part description:
          #{t.object.ticket_spare_part.try(:spare_part_description)}
        .col-md-3
          %strong Part status:
          #{t.object.ticket_spare_part.try(:spare_part_status_action).try(:name)}
      %hr
      - if t.object.ticket_spare_part.ticket_spare_part_store.present?
        .row
          .col-md-5
            %h4 Requested part
            .request_from
              %dl.dl-horizontal
                %dt Store
                %dd
                  = t.object.ticket_spare_part.ticket_spare_part_store.store.try(:name)
                %dt Item Code
                %dd
                  = t.object.ticket_spare_part.ticket_spare_part_store.inventory_product.try(:serial_no)
                %dt Item Description
                %dd
                  = t.object.ticket_spare_part.ticket_spare_part_store.inventory_product.try(:description)
                %dt Model No
                %dd
                  = t.object.ticket_spare_part.ticket_spare_part_store.inventory_product.try(:model_no)
                %dt Product No
                %dd
                  = t.object.ticket_spare_part.ticket_spare_part_store.inventory_product.try(:product_no)
                %dt Part No
                %dd
                  = t.object.ticket_spare_part.ticket_spare_part_store.inventory_product.try(:spare_part_no)
                %dt Available Qnty
                %dd
                  / = t.object.ticket_spare_part.ticket_spare_part_store.inventory_product.inventories.where(store_id: t.object.ticket_spare_part.ticket_spare_part_store.store_id).try(:sum, :available_quantity)
            .spare_part_select.pull-left
              = link_to "Change part", inventory_in_modal_inventories_path(select_frame: "request_from"), id: "request_from_select", remote: true

          .col-md-7
            #paginate_grns
              = paginate grn_items, remote: true, method: :get, params: {controller: "tickets", action: "paginate_ticket_grn_items", per_page: 3}
              %table.table
                %thead
                  %tr
                    %th No
                    %th Grn no
                    %th Date Purchased
                    %th Price
                %tbody
                  - grn_items.each_with_index do |grn_item, index|
                    %tr
                      %td= index+1
                      %td= grn_item.grn.grn_no
                      %td= grn_item.grn.created_at.try(:strftime, "%d-%m-%Y")
                      %td
                        = grn_item.unit_cost
                        (#{grn_item.currency.code})

      .row
        .col-md-4
          = t.simple_fields_for :ticket_spare_part do |p|
            = p.input :current_user_id, as: :hidden, input_html: {value: current_user.id}
            = p.input :note, input_html: {value: nil}
            = simple_format p.object.note

        - unless t.object.ticket_spare_part.ticket_spare_part_manufacture.present?
          .col-md-8
            .row
              .col-md-10
                = t.association :supplier, input_html: {class: "est_internal_supplier"}
              .col-md-3
                = t.input :cost_price, input_html: {min: "0", class: "est_internal_cost_price only_float", oninput: "Inventories.calculate_internal_cost_price();"}, label: false, placeholder: "Cost price"
                .append_cost_price_internal.hide
              .col-md-3
                = t.input :estimated_price, input_html: {min: "0", class: "est_internal_estimated_price only_float", oninput: "Inventories.calculate_internal_cost_price();"}, label: false, placeholder: "entimated price"
                .append_estimated_price_internal.hide
              .col-md-4
                = t.input :warranty_period, input_html: {min: "0", class: "est_internal_warranty only_float"}, label: false, placeholder: "Warranty period in months"
              .col-md-2
                %strong Profit:
                %span.append_profit_margin_internal{style: "font-weight:bold;"}
              .col-md-4
                .below_margine_append_profit_margin_internal

  = f.simple_fields_for :ticket_estimation_additionals do |a|

    .row
      .add_sign.col-md-3{style: "padding-top:2.5%;"}
        = a.link_to_remove class: "remove_c_t_v_link" do
          %span.glyphicon.glyphicon-remove-sign
      = a.input :ticket_id, as: :hidden, input_html: {value: estimation.ticket.id}
      .col-md-3
        = a.association :additional_charge, value_method: :id, label_method: :additional_charge
      .col-md-2
        = a.input :cost_price, input_html: {min: "0", class: "est_internal_add_cost_price only_float", oninput: "Inventories.calculate_internal_cost_price();"}
        .append_cost_price_internal.hide
      .col-md-2
        = a.input :estimated_price, input_html: {min: "0", class: "est_internal_add_estimated_price only_float", oninput: "Inventories.calculate_internal_cost_price();"}
        .append_estimated_price_internal.hide
      .col-md-2
        %strong Profit:
        %span.append_profit_margin_internal{style: "font-weight:bold;"}
      .col-md-12
        = a.simple_fields_for :ticket_estimation_additional_taxes, {:index => 0} do |t|

          .row
            .add_sign.col-md-3{style: "padding-top:2.5%;"}
              = t.link_to_remove class: "remove_c_t_v_link" do
                %span.glyphicon.glyphicon-remove-sign

            .col-md-2
              / = t.association :tax, label_method: :tax, value_method: :id, input_html: {class: "tax_field_class"}
              = t.association :tax, label_method: :tax, value_method: :id, input_html: {class: "tax_field_class",id: "tax_field_idwww"}
              / = t.label :tax_id, "Tax"
              / = label_tag 'tax', 'Tax'
              / %br
            .col-md-2
              = t.simple_fields_for :tax do |r|
                / = r.association :tax_rates, label_method: :rate, value_method: :id, input_html: {id: "taxrate_field_id"}
                = r.input :rate, :collection => TaxRate.all, :label_method => :rate, :value_method => :id, :include_blank => true, input_html: {id: "tax_rate_field_id"}

              / = t.select :tax_id, options_from_collection_for_select(Tax.all, :id, :tax), include_blank: true
              / = t.select :tax_id, Tax.all.uniq{|t| t.id}.map{|t| ["#{t.tax} #{t.tax_rates.first.try(:rate)}%", t.id]}, include_blank: true

              /= t.select :tax_id, Tax.all.uniq{|t| t.id}.map{|t| ["#{t.tax}", t.id]}, include_blank: true
              / = t.select :tax_id, options_from_collection_for_select(Tax.all, :id, :tax, :class => 'tax_select'), include_blank: true
              / = t.select :tax_id, Tax.all.map {|c| [c.tax, c.id]}, label: "Tax"
              / .col-md-2
              /   = label_tag 'tax_rate', 'Rate'
              /   %br
              / = t.simple_fields_for :tax do |r|
              / = t.select :id, TaxRate.all.uniq{|x| x.tax_id}.map{|x| ["#{x.rate} %", x.id]}, include_blank: true, id: "chosen-select"
            - if f.object.approval_required == true
              .col-md-2
                = t.input :approved_tax_amount, input_html: {id: "approved_tax_amount_id"}
            - else
              .col-md-2
                = t.input :estimated_tax_amount, input_html: {id: "estimated_tax_amount_id"}
            

        = a.link_to_add :ticket_estimation_additional_taxes, class: "small_scale_padding-right2" do
          %span.glyphicon.glyphicon-plus-sign
          Add tax
      
    %hr

  = f.link_to_add :ticket_estimation_additionals, class: "small_scale_padding-right2" do
    %span.glyphicon.glyphicon-plus-sign
    Add additional charge

  .row
    .col-md-2

      %strong Total Cost:
      %span#total_internal_cost_price

    .col-md-2

      %strong Total Estimate:
      %span#total_internal_estimated_price

    .col-md-3
      %strong Total profit:
      %span#total_internal_margin_price{style: "font-weight:bold;"}
      %span (
      %span#db_margin{style: "font-weight:bold;"}= CompanyConfig.first.try(:sup_internal_part_profit_margin).to_f
      %span )
      %span %
    .col-md-5
      .below_margine_total_internal_margin_price
      = hidden_field_tag :estimate_low_margin
  %hr


  .row
    .col-md-3
      = f.input :advance_payment_amount, input_html: {min: "0", class: "only_float", value: 0}

  .row
    .col-md-5
      = f.input :note, input_html: {value: nil}
      = simple_format estimation.note

  .row{style: "margin-bottom:10px;"}
    .col-md-12
      = label_tag "Estimation complete"
      = check_box_tag :estimation_complete_check, true, true
      = f.submit "Save", class: "btn btn-success btn-sm", onclick: "Tickets.presence_validater(this, {presence: ['.est_internal_supplier', '.est_internal_cost_price', '.est_internal_estimated_price', '.est_internal_warranty']}); return false;"

#inventory_modal.modal.fade{tabindex: -1, role: "dialog", "aria-labelledby" => "inventory_modal", "aria-hidden" => true}
  .modal-dialog.modal-lg
    .modal-content