- ticket = @ticket
- product = @product
- estimation = @estimation
= render "tickets/tickets_pack/ticket_header", ticket: ticket, product: product

= tab_panel do
  = tab_nav_tab({class: "small_scale_margin-bottom1"}, ticket_info: {content: "Ticket info"}, estimate_the_part_internal: {content: "Estimate the part internal", active_class: "active"} )
  .tab-content
    = tab_content tabpointer: :ticket_info do
      = tab_panel do
        = render "tickets/tickets_pack/ticket_info", ticket: ticket, product: product
    = tab_content tabpointer: :estimate_the_part_internal, active_class: "active" do
      = tab_panel do
        = render "tickets/tickets_pack/estimate_the_part_internal/estimate_the_part_internal", estimation: estimation