- spare_part_count = TicketSparePartManufacture.count
- manufacture_parts = TicketSparePartManufacture.all

.row
  .col-md-6.col-xs-6

    .row
      .col-md-4.col-xs-4 No
      .col-md-4.col-xs-4 Event No
      .col-md-4.col-xs-4 Ticket No
    #bundle_return_part_add_mustache
      - manufacture_parts.each do |manufacture_part|
        .row
          .col-md-4.col-xs-4= manufacture_part.id
          .col-md-4.col-xs-4= manufacture_part.event_no
          .col-md-3.col-xs-3= manufacture_part.ticket_spare_part.ticket_id
          .col-md-1.col-xs-1= link_to "Add", "#", onclick: "Inventories.load_mustache_bundle_return_part('add', #{manufacture_part.id}); return false;"
      

  .col-md-6.col-xs-6

    .row
      .col-md-4.col-xs-4 No
      .col-md-4.col-xs-4 Event No
      .col-md-4.col-xs-4 Ticket No
    #bundle_return_part_with_form
      = simple_form_for ReturnPartsBundle.new, url: update_bundle_return_part_tickets_path, method: :post do |f|
        = f.input :id, as: :hidden
        = f.input :bundle_no
        = f.input :note
        = f.submit "Save", class: "btn btn-sm btn-success"
.row
  .col-md-6.col-xs-6
    = link_to "Un delivered bundled", "#", onclick: "Inventories.load_mustache_bundle_return_part('undelivered_bundle', ''); return false;"
    = link_to "create new bundle", "#", onclick: "Inventories.load_mustache_bundle_return_part('new_bundle', ''); return false;"
    #bundle_return_part_exist
  .col-md-6.col-xs-6
    #bundle_return_part_remove_mustache

%script{type: "text/html", id: "bundle_return_part_mustache"}
  = render "tickets/tickets_pack/bundle_return_part/bundle_return_part_mustache"

%script{type: "text/html", id: "bundle_return_part_with_form_mustache"}
  = render "tickets/tickets_pack/bundle_return_part/bundle_return_part_with_form"

%script{type: "text/html", id: "bundle_return_part_exist_mustache"}
  = render "tickets/tickets_pack/bundle_return_part/bundle_return_part_with_exist"