- uri = URI(request.url)
.row
  .col-md-12.col-xs-12
    %p Total no of parts: #{@manufacture_parts.count}
.row.to_bundle_parts{style: "margin-bottom: 30px"}
  .table-responsive{style: "height: 110px;overflow-y: auto;"}
    %table.table.table-bordered
      %thead
        %tr
          %th
            %strong No
          %th
            %strong Date Returned
          %th
            %strong Event No
          %th
            %strong Ticket No
          %th
            %strong Part No
          %th
            %strong Description
          %th
            %strong Serial No
          %th
            %strong Used Status
          %th
            %strong Part Status
          %th
            %strong Engineer SBU            
          %th
            %strong Action
      %tbody
        - @manufacture_parts.each_with_index do |manufacture_part, index|
          %tr
            %th= index+1
            %td= manufacture_part.ticket_spare_part.try(:part_returned_at).try(:strftime, "%m-%d-%Y")
            %td= manufacture_part.event_no
            %td= manufacture_part.ticket_spare_part.ticket.ticket_no.to_s.rjust(6, INOCRM_CONFIG["ticket_no_format"])
            %td= manufacture_part.ticket_spare_part.spare_part_no
            %td= manufacture_part.ticket_spare_part.spare_part_description
            %td= manufacture_part.ticket_spare_part.return_part_serial_no
            %td= manufacture_part.ticket_spare_part.spare_part_status_use.try(:name)
            %td= manufacture_part.ticket_spare_part.spare_part_status_action.name
            %td= manufacture_part.ticket_spare_part.try(:engineer).try(:sbu_name)
            %td= link_to "Add", "#", onclick: "Inventories.load_mustache_bundle_return_part('add', #{manufacture_part.id}); return false;"
.row.added_to_bundle_parts
  .title.hide{style: "margin-bottom: 15px;"}
    %strong Add To Existing bundle
  #bundle_return_part_remove_mustache
.row{style: "margin-top: 30px;"}
  - unless @manufacture_parts.empty?
    %hr
    .col-md-6.col-xs-6
      %strong Manufacture name:
      = @manufacture.try(:supplier).try(:name)
    .col-md-1.col-xs-1
      %strong Bundle to:
    .col-md-5.col-xs-5
      %select
        %option{:value => "saab", :href => "#", :onclick => "Inventories.load_mustache_bundle_return_part('new_bundle', ''); return false;"} Create New Bundle
        %option{:value => "volvo", :href => "#", :onclick => "Inventories.load_mustache_bundle_return_part('undelivered_bundle', ''); return false;"} Un delivered bundled
    .col-md-12.col-xs-12{style: "margin-top: 30px;"}
      #bundle_return_part_exist
    .col-md-12.col-xs-12{style: "margin-top: 15px;"}
      #bundle_return_part_with_form
        = simple_form_for ReturnPartsBundle.new, url: update_bundle_return_part_tickets_path, method: :post do |f|

          = hidden_field_tag :process_id, Rails.cache.fetch(["/tickets/bundle_return_part", params[:task_id]])[:process_id]
          = hidden_field_tag :task_id, Rails.cache.fetch(["/tickets/bundle_return_part", params[:task_id]])[:task_id]
          = hidden_field_tag :owner, Rails.cache.fetch(["/tickets/bundle_return_part", params[:task_id]])[:owner]
          - Rails.cache.fetch(["/tickets/bundle_return_part", params[:task_id]])[:bpm_input_variables].each do |bpm_input_variable|
            = hidden_field_tag bpm_input_variable[0], bpm_input_variable[1]

          = f.input :id, as: :hidden
          %strong Bundle no:
          = CompanyConfig.first.sup_last_bundle_no + 1.to_i
          %br
          = f.input :note
          = f.submit "Save", class: "btn btn-sm btn-success"
    .col-md-12.col-xs-12{style: "margin-top: 20px;"}
      #bundle_return_part_from_undeliver_bundle


%script{type: "text/html", id: "bundle_return_part_mustache"}
  = render "tickets/tickets_pack/bundle_return_part/bundle_return_part_mustache"

%script{type: "text/html", id: "bundle_return_part_with_form_mustache"}
  = render "tickets/tickets_pack/bundle_return_part/bundle_return_part_with_form"

%script{type: "text/html", id: "bundle_return_part_exist_mustache"}
  = render "tickets/tickets_pack/bundle_return_part/bundle_return_part_with_exist"