#paginate_payment_pendings
  = paginate tickets, remote: false, method: :get
  %table.table.table-striped
    %thead
      %tr
        %th No
        %th Ticket Date
        %th status_id
        %th Ticket No
        %th Customer
        %th Serial No
        %th Product Brand
        %th Product Category
        %th Product No
        %th
    %tbody
      - tickets.each_with_index do |ticket|
        %tr
          %td
            - if params[:page]
              = (index+1)+ 100**(params[:page].to_i-1)
            - else
              = (index+1)
          %td #{ticket.logged_at.try :strftime, "#{INOCRM_CONFIG['short_date_format']} #{INOCRM_CONFIG['time_format']}" }
          %td= ticket.status_id
          %td #{ticket.ticket_no}
          %td #{ticket.try(:customer).try(:name)}
          %td
            - ticket.try(:products).each do |product|
              #{product.serial_no}
              %br
          %td
            - ticket.try(:products).each do |product|
              #{product.product_brand.name}
              %br

          %td
            - ticket.try(:products).each do |product|
              #{product.product_category.name}
              %br
          %td
            - ticket.try(:products).each do |product|
              #{product.product_no}
              %br
          %td
            = link_to "Select", ticket_path(ticket.id)