#quotation_wrapper
%hr
.col-md-9
  %h3 Available customer qoutation
.col-md-3
  = link_to "new", edit_estimation_ajax_invoices_path(ticket_id: ticket.id), remote: true
  / = link_to "new", new_estimation_ajax_invoices_path(ticket_id: ticket.id), remote: true, onclick: "$('#quotation_wrapper').empty(); return false;"
  / %button.btn.btn-primary.pull-right.new_btn{:type => "button", onclick: "$('#quotation_wrapper'); return true;"} New
.col-md-12
  %table.table.table-responsive.table-condensed.table-bordered
    %thead
      %tr
        %th No
        %th Validity period
        %th Warranty
        %th Customer contacted
        %th Canceled
        %th Action

    %tbody
      - ticket.customer_quotations.each_with_index do |quotation, index|
        %tr
          %td
            = index+1
          %td.validity_period= quotation.try(:validity_period)
          %td= quotation.try(:warranty)
          %td
            - if quotation.customer_contacted == true
              Yes
            - else
              No
          %td
            - if quotation.canceled == true
              Yes
            - else
              No
          %td
            = link_to "edit", edit_estimation_ajax_invoices_path(quotation_id: quotation.id, ticket_id: ticket.id), remote: true
            / %button.btn.btn-default.btn-xs.center-block.btn_edit{:type => "button", :value => "#{quotation.id}" } Edit
            / = link "edit", edit_estimation_ajax_tickets_path(quotation_id: quotation.id), remote: true
            / = link_to 'Edit', "#"#edit_invoice_path(invoice)
            / %button.btn.btn-default.btn-xs.edit_btn{:type => "button"} Edit



