- tapbar = [["Contact Number", "#contact_numbers#{organization.id}"], ["Address", "#addresses#{organization.id}"], ["Employees", "#contact_persons#{organization.id}"], ["Documents & Attachements", "#documents#{organization.id}"], ["Designations", "#designations#{organization.id}"], ["Organization Relations", "#organization_relations#{organization.id}"], ["Roles and Permissions", "#roles_and_permissions#{organization.id}"], ["Dealer Types", "#dealer_types#{organization.id}"]]

= simple_nested_form_for organization, url: url, html: {class: "validate_form"} do |f|
  = hidden_field_tag :organization_id, f.object.id
  - if organization.errors.present?
    .row
      = panels header_content: "Something gone wrong", panel_type: "danger" do
        %ul
          - organization.errors.full_messages.each do |message|
            %li= message
  .row
    .col-md-1
      #organization_upload_logo
        = image_tag organization.logo.url, class: "img-responsive" if organization.logo.present?
      .btn.btn-success.btn-file.has-tooltip{data: {toggle: "tooltip", placement: "left"}, title: "Upload organization Logo"}
        = f.input :logo, as: :file, label: "Upload Logo", placeholder: "Upload organization Logo", wrapper_html: {class: "margin-none"}

      .organization_attachment_wrapper

      %script#organization_attachment_upload_tmpl{type: "text/x-tmpl"}
        .organization_logo_upload.span12
          {%= o.name %}
          .progress
            .progress-bar.progress-bar-success.progress-bar-striped{role: "progressbar", "aria-valuemax" => 100, "aria-valuemin" => 0, "aria-valuenow" => 0}

    .col-md-10.pull-right
      - if params[:category].to_s[0..2] == "IND"
        = f.label "Title ", {style: "color: #900303;"}
        = f.select :title_id, MstTitle.all.uniq{|t| t.id}.map{|o| [o.title, o.id]}, {required: true}, include_blank: false

      = f.input :name, placeholder: "Name", input_html: {class: "has-tooltip", data: {toggle: "tooltip", placement: "left"}, title: "Name"}
      / %blockquote
      = f.input :short_name, placeholder: "Short name", input_html: {class: "has-tooltip", data: {toggle: "tooltip", placement: "left"}, title: "Short name"}
  .row
    .col-md-4
      = f.association :organization_type, include_blank: false, input_html: {onchange: "Inventories.limit_visible_vat_web(this); return false;"}
    - unless Organization::TYPES[2,3].include?(organization.category)
      .col-md-4{class: "#{'for_store_and_branch' if params[:action] == 'store_and_branch'}"}
        = f.input :vat_number, placeholder: "VAT Number", input_html: {class: "has-tooltip", data: {toggle: "tooltip", placement: "left"}, title: "VAT Number"}
    .col-md-4.pull-right{class: "#{'for_store_and_branch' if params[:action] == 'store_and_branch'}"}
      = f.input :web_site, placeholder: "Web Site", input_html: {class: "has-tooltip", data: {toggle: "tooltip", placement: "left"}, title: "Web Site"}

  - unless params[:action] == "store_and_branch"
    - f.object.build_account if !f.object.account.present? and f.object.refers != "VSIS"
    = f.simple_fields_for :account do |a|
      .row
        .col-md-4{class: "has-tooltip", title: "Industry type", data: {toggle: "tooltip", placement: "left"}}
          = a.association :industry_type, include_blank: false
        .col-md-2
          = a.input :credit_allow, as: :boolean, label: "Allow credit", input_html: {class: "credit_allow"}
          .credit_allow_control.hide
            = a.input :credit_period_day
        .col-md-2
          = a.input :goodwill_status, as: :boolean
        .col-md-2
          = a.input :svat_no, include_blank: false
        .col-md-2
          = a.association :account_manager, include_blank: false, label_method: :full_name
        .col-md-2
          = a.input :code, label: "Account Number"
        .col-md-2
          = f.input :code, label: "Customer Code"

  .row
    .col-md-12
      = f.input :description, placeholder: "Description", input_html: {class: "has-tooltip", data: {toggle: "tooltip", placement: "left"}, title: "Description"}
      = hidden_field_tag :category, params[:category] 

  .row
    .col-md-12
      .pull-right
        = f.submit "Save", class: "btn btn-success"

  -if params[:action] == "store_and_branch"
    .row.small_scale_padding-top1
      .col-md-12
        %table.table.table-hover
          %thead
            %tr
              %th No
              %th Name
              %th Short Name
              %th Organization Type
              %th Description
              %th VAT Number
              %th Website
          %tbody
            - Organization.owner.members.each_with_index do |organization, index|
              %tr
                %td
                  =(index+1)
                %td
                  = link_to organization.name, organization_path(organization), target: "_blank"
                %td
                  =organization.short_name
                %td
                  =organization.organization_type.name
                %td
                  =organization.description
                %td
                  =organization.vat_number
                %td
                  =organization.web_site

  %br

- if organization.persisted?
  .row
    .col-md-12
      %ul.nav.nav-tabs{role: "tablist"}
        - tapbar.each do |link_info|
          - if organization.id == Organization.owner.id
            - if tapbar[5]==link_info or tapbar[7] == link_info
              %li= link_to link_info[0], link_info[1], role: "tab", data: {toggle: "tab"} unless(Organization::TYPES[2,3].include?(organization.category))
            - elsif tapbar[7]==link_info
              %li= link_to link_info[0], link_info[1], role: "tab", data: {toggle: "tab"} if organization.refers=="VSIS"
            - else
              %li= link_to link_info[0], link_info[1], role: "tab", data: {toggle: "tab"}
          - else
            - if ["Contact Number", "Address", "Documents & Attachements", "Organization Relations", "Dealer Types"].include? link_info[0]
              %li= link_to link_info[0], link_info[1], role: "tab", data: {toggle: "tab"}

  .tab-content.small_scale_margin-top1

    .tab-pane.limit-height{id: "contact_numbers#{organization.id}"}
      = render "contact_numbers/form", contact_number: organization.contact_numbers.build
      - organization.contact_numbers.order("created_at DESC").each do |contact_number|
        = render "contact_numbers/contact_number", contact_number: contact_number if contact_number.persisted?

    .tab-pane.limit-height{id: "addresses#{organization.id}"}
      / .row
      /   - organization.customers.each do |customer|
      /     .col-md-6
      /       = render "contact", customer: customer if customer.persisted?
      / = render "contact_form", organization: organization
      - organization.addresses.order("created_at DESC").each do |address|
        = render "addresses/address", address: address if address.persisted?
      = render "addresses/form", address: organization.addresses.build

    .tab-pane.limit-height{id: "contact_persons#{organization.id}"}
      = link_to "Add Employee", new_user_path(organization_id: encrypt_org(organization.id)), class: "btn btn-primary btn-sm small_scale_margin-bottom1"
      .limit-height
        - organization.employees.each do |user|
          = render "users/user", user: user

    .tab-pane.limit-height{id: "designations#{organization.id}"}
      = render "designations/form", designation: organization.designations.build

      - organization.designations.order("created_at DESC").each do |designation|
        = render "designations/designation", designation: designation

    .tab-pane.limit-height{id: "documents#{organization.id}"}
      = render "document_attachments/form", document_attachment: organization.document_attachments.build
      .fixed-height
        #autoloadable_prepend
        - organization.document_attachments.order("created_at DESC").each do |document_attachment|
          = render "document_attachments/documents_attachments", document_attachment: document_attachment

    - unless Organization::TYPES[2,3].include?(organization.category)
      .tab-pane.limit-height{id: "organization_relations#{organization.id}"}
        #org_members
          = render "organizations/members", organizations: organization.members, by: "origin", parent_organization: organization
        = render "organizations/parent_member", parent_member: organization

    - if organization.refers == "VSIS"
      .tab-pane.limit-height{id: "roles_and_permissions#{organization.id}"}
        .fixed-height
          = link_to "Add Roles and set Permissions", new_organization_roles_and_permission_path(organization), class: "btn btn-primary btn-sm small_scale_margin-bottom1"
          - organization.roles.order("created_at DESC").each do |role|
            = render "roles_and_permissions/role", role: role

    - unless organization.refers == "VSIS"
      .tab-pane.limit-height{id: "dealer_types#{organization.id}"}
        = render "dealer_types/form", organization: organization

      / - organization.accounts_dealer_types.order("created_at DESC").each do |accounts_dealer_type|
      /   = render "dealer_types/dealer_type", dealer_type: accounts_dealer_type

%script{type: "text/html", id: "load_logo"}
  <img src="{{{result.logo.url}}}" alt= "Organization logo" class="img-responsive" />