- tapbar = [["Address", "#addresses#{organization.id}"], ["Contact Details", "#contacts#{organization.id}"], ["#{[Organization::TYPES[1], Organization::TYPES[3]].include?(organization.category) ? 'Contact Persons' : 'Employees'}", "#contact_persons#{organization.id}"], ["Documents & Attachements", "#documents#{organization.id}"], ["Designations", "#designations#{organization.id}"], ["Organization Relations", "#organization_relations#{organization.id}"], ["Roles and Permissions", "#roles_and_permissions#{organization.id}"], ["Departments", "#organization_departments#{organization.id}"]]

= simple_nested_form_for organization do |f|
  - if organization.errors.present?
    .row
      = panels header_content: "Something gone wrong", panel_type: "danger" do
        %ul
          - organization.errors.full_messages.each do |message|
            %li= message
  .row
    .col-md-2
      = image_tag organization.logo.url, class: "img-responsive" if organization.logo.present?
      .btn.btn-success.btn-file.has-tooltip{data: {toggle: "tooltip", placement: "left"}, title: "Upload organization Logo"}
        Upload Logo
        = f.input :logo, label: false, placeholder: "Upload organization Logo", wrapper_html: {class: "margin-none"}

      .organization_attachment_wrapper

      %script#organization_attachment_upload_tmpl{type: "text/x-tmpl"}
        .organization_logo_upload.span12
          {%= o.name %}
          .progress
            .progress-bar.progress-bar-success.progress-bar-striped{role: "progressbar", "aria-valuemax" => 100, "aria-valuemin" => 0, "aria-valuenow" => 0}


    .col-md-9.pull-right
      = f.input :name, placeholder: "Name of Organization / Business", input_html: {class: "has-tooltip", data: {toggle: "tooltip", placement: "left"}, title: "Organization/Business Name"}
      %blockquote
        = f.input :short_name, placeholder: "Short name of Organization / Business", input_html: {class: "has-tooltip", data: {toggle: "tooltip", placement: "left"}, title: "Short name of Organization / Business"}
  .row
    - unless Organization::TYPES[2,3].include?(organization.category)
      .col-md-4
        = f.input :vat_number, placeholder: "Vat Number", input_html: {class: "has-tooltip", data: {toggle: "tooltip", placement: "left"}, title: "Vat Number"}
    .col-md-4.pull-right
      = f.input :web_site, placeholder: "Web Site", input_html: {class: "has-tooltip", data: {toggle: "tooltip", placement: "left"}, title: "Web Site"}
  .row
    .col-md-12
      = f.input :description, placeholder: "Description", input_html: {class: "has-tooltip", data: {toggle: "tooltip", placement: "left"}, title: "Description"}
      = f.input :category, as: :hidden

  .row
    .pull-right
      = f.submit nil, class: "btn btn-success"
- if organization.persisted?
  .row
    %ul.nav.nav-tabs{role: "tablist"}
      - tapbar.each do |link_info|
        - if tapbar[5]==link_info or tapbar[7] == link_info
          %li= link_to link_info[0], link_info[1], role: "tab", data: {toggle: "tab"} unless(Organization::TYPES[2,3].include?(organization.category))
        - elsif tapbar[6]==link_info
          %li= link_to link_info[0], link_info[1], role: "tab", data: {toggle: "tab"} if organization.refers=="VSIS"
        - else
          %li= link_to link_info[0], link_info[1], role: "tab", data: {toggle: "tab"}

  .tab-content.small_scale_margin-top1
    .tab-pane.limit-height{id: "addresses#{organization.id}"}
      = render "addresses/form", address: organization.addresses.build

      .fixed-height
        - organization.addresses.order("created_at DESC").each do |address|
          = render "addresses/address", address: address

    .tab-pane.limit-height{id: "contacts#{organization.id}"}
      = render "contact_numbers/form", contact_number: organization.contact_numbers.build

      .fixed-height
        - organization.contact_numbers.order("created_at DESC").each do |contact_number|
          = render "contact_numbers/contact_number", contact_number: contact_number

    .tab-pane.limit-height{id: "contact_persons#{organization.id}"}
      = link_to "Add Employee", new_user_path(organization_id: encrypt_org(organization.id)), class: "btn btn-primary btn-sm small_scale_margin-bottom1"
      .limit-height
        - organization.employees.each do |user|
          = render "users/user", user: user

    .tab-pane.limit-height{id: "designations#{organization.id}"}
      = render "designations/form", designation: organization.designations.build

      .fixed-height
        - organization.designations.order("created_at DESC").each do |designation|
          = render "designations/designation", designation: designation

    .tab-pane.limit-height{id: "documents#{organization.id}"}
      = render "document_attachments/form", document_attachment: organization.document_attachments.build
      .fixed-height
        #autoloadable_prepend
        - organization.document_attachments.order("created_at DESC").each do |document_attachment|
          = render "document_attachments/documents_attachments", document_attachment: document_attachment

    - unless Organization::TYPES[2,3].include?(organization.category)
      .tab-pane.limit-height{id: "organization_relations#{organization.id}"}
        = render "organizations/parent_member", parent_member: organization
        .fixed-height
          = render "organizations/member",organization: organization.parent_organization, relation: "Parent", relation_organization: organization if organization.parent_organization.present?
          - organization.members.order("created_at DESC").each do |member|
            = render "organizations/member", organization: member, relation: "Member", relation_organization: organization

      .tab-pane.limit-height{id: "organization_departments#{organization.id}"}
        = render "departments/form", department: organization.departments.build

        .fixed-height
          - organization.departments.order("created_at DESC").each do |department|
            = render "departments/department", department: department

    - if organization.refers == "VSIS"
      .tab-pane.limit-height{id: "roles_and_permissions#{organization.id}"}
        .fixed-height
          = link_to "Add Roles and set Permissions", new_organization_roles_and_permission_path(organization), class: "btn btn-primary btn-sm small_scale_margin-bottom1"
          - organization.roles.order("created_at DESC").each do |role|
            = render "roles_and_permissions/role", role: role