.row
  .col-md-1
    = image_tag (organization.logo.thumb.url || "organization_image.png"), alt: organization.name, class: "img-responsive img-thumbnail"
  .col-md-11
    .row
      .col-md-12
        %h4.strong.margin-top0= link_to organization.name, organization, target: "_blank"
        - organization.accounts_dealer_types.each do |d|
          %span.label.label-success= d.dealer_type.name
      .col-md-12
        Vat Number: #{organization.account.vat_number}
      .col-md-12
        %span
          = link_to edit_organization_path(organization), class: "has-tooltip", data: {toggle: "tooltip", placement: "right"}, title: "Edit #{organization.name}" do
            Edit
        %span
        -if params[:action] != "show"
          - if organization.parent_organization.present?
            - if organization.parent_organization.id == parent_organization.id
              |
              = link_to pin_relation_organization_path(organization, parent_organization: organization.parent_organization.id, pin_direction: "opened"), class: "has-tooltip", data: {confirm: "Do you want to modify the relationship? Please consider of the vat number with high priority",toggle: "tooltip", placement: "right"}, title: "Modify relation of #{organization.name}", remote: true do
                Remove from member
            - else
              |
              Already member of #{link_to organization.parent_organization.name, organization.parent_organization, target: "_blank"}
          - elsif params[:parent_organization].present?
            |
            = link_to pin_relation_organization_path(organization, parent_organization: params[:parent_organization], pin_direction: "closed"), class: "has-tooltip", data: {confirm: "Do you want to modify the relationship? Please consider of the vat number with high priority",toggle: "tooltip", placement: "right"}, title: "Modify relation of #{organization.name}", remote: true do
              Set as member
%hr