- tapbar = [["Address", "#addresses#{organization.id}"], ["Contact Details", "#contacts#{organization.id}"], ["Employees", "#contact_persons#{organization.id}"], ["Documents & Attachements", "#documents#{organization.id}"], ["Designations", "#designations#{organization.id}"], ["Organization Relations", "#organization_relations#{organization.id}"], ["Roles and Permissions", "#roles_and_permissions#{organization.id}"], ["Departments", "#organization_departments#{organization.id}"]]

.row
  .col-lg-1
    = image_tag (organization.logo.thumb.url || "organization_image.png"), class: "img-responsive img-thumbnail"
  .col-lg-11
    %h4.strong
      .edit_organization
        - if current_page?(controller: "organizations", action: "show", id: organization.id)
          = link_to edit_organization_path(organization), class: "has-tooltip", data: {toggle: "tooltip", placement: "left"}, title: "Edit #{organization.name}" do
            = glyph(:pencil)
            = organization.name
        - else
          = link_to organization do
            %span
              - case organization.category
              - when Organization::TYPES[0]
                = image_tag("organization_suppliers.png", style: "width: 2%;", alt: organization.name, title: "Supplier (organization)")
              - when Organization::TYPES[1]
                = image_tag("organization_customers.png", style: "width: 2%;", alt: organization.name, title: "Customer (organization)")
              - when Organization::TYPES[2]
                = image_tag("individual_supplier.png", style: "width: 2%;", alt: organization.name, title: "Supplier (Individual)")
              - when Organization::TYPES[3]
                = image_tag("individual_customer.png", style: "width: 2%;", alt: organization.name, title: "Customer (Individual)")
              - else
                = image_tag("home.png", style: "width: 2%;", alt: organization.name, title: "Home")
            = content_tag(:span, organization.name, class: "has-tooltip", data: {toggle: "tooltip", placement: "left"}, title: "More about #{organization.name}")
            - if can? :edit, organization
              |
              = link_to edit_organization_path(organization), class: "has-tooltip", data: {toggle: "tooltip", placement: "left"}, title: "Edit #{organization.name}" do
                %span= glyph(:pencil)

    %blockquote.font1
      = organization.short_name

.row
  .col-lg-6.padding-left0= "Vat Number: #{organization.vat_number}" if organization.vat_number
  .col-lg-6.pull-right.padding0.text-right= link_to "Visit website",organization.web_site, data: {toggle: "tooltip", placement: "bottom"}, title: organization.web_site, rel: "tooltip", :target => "_blank" 
.row.small_scale_margin-top1
  .col-lg-12.padding0
    .panel.panel-default
      .panel-body.show-limit
        %p= organization.description
        .hide_screen
          = link_to "More >>", "#", onclick: "Organizations.toggle_more(); return false;", class: "hide more_toggle"

.row
  .col-lg-12.padding0
    %ul.nav.nav-tabs{role: "tablist"}
      - tapbar.each do |link_info|
        - if tapbar[5]==link_info or tapbar[7]==link_info
          %li= link_to link_info[0], link_info[1], role: "tab", data: {toggle: "tab"} unless(Organization::TYPES[2,3].include?(organization.category))
        - elsif tapbar[6]==link_info
          %li= link_to link_info[0], link_info[1], role: "tab", data: {toggle: "tab"} if organization.refers=="VSIS"
        - else
          %li= link_to link_info[0], link_info[1], role: "tab", data: {toggle: "tab"}

    .tab-content.small_scale_margin-top1
      .tab-pane.limit-height{id: "addresses#{organization.id}"}
        .fixed-height
          - organization.addresses.order("created_at DESC").each do |address|
            = render "addresses/address", address: address
      .tab-pane.limit-height{id: "contacts#{organization.id}"}
        .fixed-height
          - organization.contact_numbers.order("created_at DESC").each do |contact_number|
            = render "contact_numbers/contact_number", contact_number: contact_number
      .tab-pane.limit-height{id: "contact_persons#{organization.id}"}
        .fixed-height
          - organization.users.order("created_at DESC").each do |user|
            = render "users/user", user: user

      .tab-pane.limit-height{id: "designations#{organization.id}"}
        .fixed-height
          - organization.designations.order("created_at DESC").each do |designation|
            = render "designations/designation", designation: designation

      - unless Organization::TYPES[2,3].include?(organization.category)
        .tab-pane.limit-height{id: "organization_relations#{organization.id}"}
          .fixed-height
            = render "organizations/member",organization: organization.parent_organization, relation: "Parent", relation_organization: organization if organization.parent_organization.present?
            - organization.members.order("created_at DESC").each do |member|
              = render "organizations/member", organization: member, relation: "Member", relation_organization: organization

        .tab-pane.limit-height{id: "organization_departments#{organization.id}"}
          .fixed-height
            - organization.departments.order("created_at DESC").each do |department|
              = render "departments/department", department: department

      - if organization.refers == "VSIS"
        .tab-pane.limit-height{id: "roles_and_permissions#{organization.id}"}
          .fixed-height
            = link_to "Add Roles and set Permissions", new_organization_roles_and_permission_path(organization), class: "btn btn-primary btn-sm small_scale_margin-bottom1"
            - organization.roles.order("created_at DESC").each do |role|
              = render "roles_and_permissions/role", role: role