.row.border-right1.border-left1.border-top1.border-bottom1.small_scale_margin-bottom1.small_scale_padding-top1.small_scale_padding-bottom1
  .col-md-1.col-xs-4.col-sm-2
    = link_to organization do
      = image_tag (organization.logo.url || "organization_image.png"), class: "img-responsive"
  .col-md-8.col-sm-5.col-xs-8.border-right1
    .edit_organization
      %span.h4.strong
        = link_to edit_organization_path(organization), class: "has-tooltip", data: {toggle: "tooltip", placement: "left"}, title: "Edit #{organization.name}" do
          = glyph(:pencil, {:tag => :span})
        = link_to organization, class: "has-tooltip organization_name", data: {toggle: "tooltip", placement: "left"}, title: "Edit #{organization.name}" do
          = organization.name
      %em.font1.grey.short_name
        = organization.short_name
    .small_scale_margin-top1= link_to "Visit website",organization.web_site, data: {toggle: "tooltip", placement: "bottom"}, title: organization.web_site, rel: "tooltip", :target => "_blank"    
    %p= organization.description
    = link_to "More >>", "#", onclick: "Organizations.toggle_more(); return false;", class: "hide more_toggle"
    - organization.accounts_dealer_types.each do |d|
      %span.label.label-success= d.dealer_type.name
  .col-md-3.col-sm-5.col-xs-10
    %table.table-default.col-md-offset-1.col-sm-offset-1
      %tbody
        %tr
          %th.text-right Vat Number : &nbsp;
          %td.vat_number= organization.vat_number
        %tr
          %th.text-right Created at : &nbsp;
          %td= organization.account and organization.account.created_at.strftime(INOCRM_CONFIG["short_date_format"])
        %tr
          %th.text-right Created by : &nbsp;
          %td= organization.account and organization.account.created_user.try(:full_name)
        %tr
          %th.text-right Industry type : &nbsp;
          %td.industry_type= organization.industry_type.try(:name)