- tapbar = [["Address", "#addresses#{organization.id}"], ["Contact Details", "#contacts#{organization.id}"], ["#{[Organization::TYPES[1], Organization::TYPES[3]].include?(organization.category) ? 'Contact Persons' : 'Employees'}", "#contact_persons#{organization.id}"], ["Documents & Attachements", "#documents#{organization.id}"], ["Designations", "#designations#{organization.id}"], ["Organization Relations", "#organization_relations#{organization.id}"], ["Roles and Permissions", "#roles_and_permissions#{organization.id}"], ["Departments", "#organization_departments#{organization.id}"]]

.row
  .col-md-1
    = link_to organization do
      = image_tag (organization.logo.thumb.url || "organization_image.png"), class: "img-responsive img-thumbnail"
  .col-md-11
    %h4.strong
      .edit_organization
        = link_to edit_organization_path(organization), class: "has-tooltip", data: {toggle: "tooltip", placement: "left"}, title: "Edit #{organization.name}" do
          = glyph(:pencil, {:tag => :span})
          = organization.name
        - organization.accounts_dealer_types.each do |d|
          %span.label.label-success= d.dealer_type.name

    %blockquote.font1
      = organization.short_name
      %br/
      (Industry type: #{organization.industry_type.try(:name)})

.row
  .col-md-3
    %strong Vat Number:
    = organization.vat_number
  .col-md-3
    %strong Created at:
    = organization.account and organization.account.created_at.strftime(INOCRM_CONFIG["short_date_format"])
  .col-md-3
    %strong Created by:
    = organization.account and organization.account.created_user.full_name
  .col-md-3.pull-right.text-right= link_to "Visit website",organization.web_site, data: {toggle: "tooltip", placement: "bottom"}, title: organization.web_site, rel: "tooltip", :target => "_blank" 
.row.small_scale_margin-top1
  .col-md-12
    .panel.panel-default
      .panel-body.show-limit
        %p= organization.description
        .hide_screen
          = link_to "More >>", "#", onclick: "Organizations.toggle_more(); return false;", class: "hide more_toggle"

.row
  .col-md-12
    %ul.nav.nav-tabs{role: "tablist"}
      - tapbar.each do |link_info|
        - if tapbar[5]==link_info or tapbar[7]==link_info
          %li= link_to link_info[0], link_info[1], role: "tab", data: {toggle: "tab"} unless(Organization::TYPES[2,3].include?(organization.category))
        - elsif tapbar[6]==link_info
          %li= link_to link_info[0], link_info[1], role: "tab", data: {toggle: "tab"} if organization.refers=="VSIS"
        - else
          %li= link_to link_info[0], link_info[1], role: "tab", data: {toggle: "tab"}

    .tab-content.small_scale_margin-top1
      .tab-pane.limit-height{id: "addresses#{organization.id}"}
        .fixed-height
          - organization.addresses.primary_address.order("created_at DESC").each do |address|
            = render "addresses/address", address: address
          - organization.addresses.non_primary_address.order("created_at DESC").each do |address|
            = render "addresses/address", address: address
      .tab-pane.limit-height{id: "contacts#{organization.id}"}
        .fixed-height
          - organization.contact_numbers.primary_contactnumber.order("created_at DESC").each do |contact_number|
            = render "contact_numbers/contact_number", contact_number: contact_number
          - organization.contact_numbers.nonprimary_contactnumber.order("created_at DESC").each do |contact_number|
            = render "contact_numbers/contact_number", contact_number: contact_number
      .tab-pane.limit-height{id: "contact_persons#{organization.id}"}
        / .fixed-height
        .limit-height
          - organization.employees.each do |user|
            = render "users/user", user: user

      .tab-pane.limit-height{id: "designations#{organization.id}"}
        .fixed-height
          - organization.designations.order("created_at DESC").each do |designation|
            = render "designations/designation", designation: designation

      .tab-pane.limit-height{id: "documents#{organization.id}"}
        .fixed-height
          - organization.document_attachments.order("created_at DESC").each do |document_attachment|
            = render "document_attachments/documents_attachments", document_attachment: document_attachment

      - unless Organization::TYPES[2,3].include?(organization.category)
        .tab-pane.limit-height{id: "organization_relations#{organization.id}"}
          .fixed-height
            = render "organizations/member",organization: organization.parent_organization, relation: "Parent", relation_organization: organization if organization.parent_organization.present?
            - organization.members.order("created_at DESC").each do |member|
              = render "organizations/member", organization: member, relation: "Member", relation_organization: organization

      .tab-pane.limit-height{id: "organization_departments#{organization.id}"}
        .fixed-height
          - organization.members.each do |org|
            - if org.organization_type.try(:code) == "DPT"
              .col-md-12
                = org.name

      - if organization.refers == "VSIS"
        .tab-pane.limit-height{id: "roles_and_permissions#{organization.id}"}
          .fixed-height
            = link_to "Add Roles and set Permissions", new_organization_roles_and_permission_path(organization), class: "btn btn-primary btn-sm small_scale_margin-bottom1"
            - organization.roles.order("created_at DESC").each do |role|
              = render "roles_and_permissions/role", role: role
