= panels header_content: "Add relationship", panel_type: "success" do
  = form_tag organizations_path, remote: true, method: :get do
    = hidden_field_tag :parent_organization, parent_member.id
    .row
      .col-md-3
        = select_tag :type_id, options_from_collection_for_select(OrganizationType.all, :id, :name), include_blank: true, class: "form-control", prompt: "Select organization type", include_blank: false
      .col-md-3
        = text_field_tag :name, nil, class: "form-control", placeholder: "Name"
      .col-md-3
        = text_field_tag :short_name, nil, class: "form-control", placeholder: "Short Name"
      .col-md-3
        = submit_tag "Search", class: "btn btn-success btn-sm", name: "search_members"
  %hr
  #search_members