= panels header_content: "Add relationship", panel_type: "success" do
  = simple_form_for parent_member, url: relate_organization_path(parent_member), method: :put do |f|
    / = f.association :members
    / = f.association :parent_organization
    .col-md-12.small_scale_margin-bottom1
      = select_tag "relate_id", options_from_collection_for_select(Organization.where.not(id: parent_member.id), "id", "name"), include_blank: true, class: "chosen-select"
    .col-md-4.pull-right
      = select_tag "relate", options_for_select([["Member of #{parent_member.name}", "member"], ["Parent of #{parent_member.name}", "parent"]]), include_blank: true, class: "chosen-select"
    .col-md-12
      = f.submit "Add relations", class: "btn btn-success"