- organization = @organization
.row
  .col-lg-2
    = image_tag organization.logo.thumb.url, class: "img-responsive img-thumbnail"
  .col-lg-10
    %h3= organization.name
    %blockquote
      %p= organization.short_name
.row
  .col-lg-12
    %p Vat Number: #{organization.vat_number}
    = link_to "visit website",organization.web_site, data: {toggle: "tooltip", placement: "bottom"}, title: organization.web_site, rel: "tooltip", :target => "_blank" 
  .col-lg-12
    = truncate(organization.description, :omission => "... (continued)", :length => 350)
  %ul.nav.nav-tabs{role: "tablist"}
    %li.active= link_to "Address", "#add", role: "tab", data: {toggle: "tab"}
    %li= link_to "Contact Details", "#contact", role: "tab", data: {toggle: "tab"}
    %li= link_to "Contact Person", "#person", role: "tab", data: {toggle: "tab"}
    %li= link_to "Documents & Attachements", "#", role: "tab", data: {toggle: "tab"}
    %li= link_to "Organization Relations", "#", role: "tab", data: {toggle: "tab"}

  .tab-content
    .tab-pane.active#add
      - organization.addresses.each do |address|
        = address.category
        = address.address
    .tab-pane#contact
      - organization.contact_numbers.each do |contact_number|
        = contact_number.category
        = contact_number.value
    .tab-pane#person


- content_for :dynamic_sidebar do
  %li.active= link_to "Organization", "#"
  %li= link_to "Edit Organization", edit_organization_path(organization)
  %li= link_to "Add Employees", "#"
  %li= link_to "Add Branches", "#"
  %li= link_to "Add Addresses", "#"
  %li= link_to "Add Contact details", "#"


#sample-handlebar

%script{id: "entry-template", type: "text/x-handlebars-template"}
  .entry
    %h1
      {{title}}
    .bodier
      {{body}}