- accounts = @accounts
#organizations_search_initialization
  .row
    = form_tag organizations_path, method: :get do
      = hidden_field_tag :category, params[:category]
      .col-md-11= text_field_tag "search_query", nil, placeholder: "Search", class: "form-control"
      .col-md-1= submit_tag "Search", class: "btn btn-success btn-sm pull-right"

  %br
  %h2
    %span
      - if params[:category] == "CUS"
        Organizational Customers
      - if params[:category] == "INDCUS"
        Individual Customers
      - if params[:category] == "SUP"
        Organizational Suppliers
      - if params[:category] == "INDSUP"
        Individual Suppliers
    %strong (#{@total_count})
  .organization_list
    - accounts.each do |account|
      = render "organization", organization: account

    = paginate accounts, method: :get, remote: false