- accounts = @accounts
#organizations_search_initialization
  .row
    .col-md-11= text_field_tag "search", nil, placeholder: "Search", class: "form-control search"
    .col-md-1= submit_tag "Search", class: "btn btn-success btn-sm pull-right"
  %br
  %h2
    %span
      - if params[:category] == "CUS"
        Organizational Customers
      - if params[:category] == "INDCUS"
        Individual Customers
      - if params[:category] == "SUP"
        Organizational Suppliers
      - if params[:category] == "INDSUP"
        Individual Suppliers
    %strong (#{@total_count})
  .organization_list
    - accounts.each do |account|
      = render "organization", organization: account

    = paginate accounts, method: :get, remote: false