- uri = URI(request.url)
.row
  .col-md-12
    %h4 Type of warranty: #{ticket.warranty_type.name}
    = simple_nested_form_for ticket, url: update_estimate_job_final_invoices_path, method: :post do |f|
      = f.input :id, as: :hidden

      = hidden_field_tag :process_id, Rails.cache.fetch([uri.path, params[:task_id]])[:process_id]
      = hidden_field_tag :task_id, Rails.cache.fetch([uri.path, params[:task_id]])[:task_id]
      = hidden_field_tag :owner, Rails.cache.fetch([uri.path, params[:task_id]])[:owner]
      - Rails.cache.fetch([uri.path, params[:task_id]])[:bpm_input_variables].each do |bpm_input_variable|
        = hidden_field_tag bpm_input_variable[0], bpm_input_variable[1]

      - if f.object.ticket_terminated
        - act_terminate_job = ticket.user_ticket_actions.select{|u| u.ticket_terminate_job.present? }.first
        = label_tag "Foc"
        = radio_button_tag :foc_payment_required, "true", act_terminate_job.try(:foc_requested)
        = label_tag "Payment required"
        = radio_button_tag :foc_payment_required, "false", act_terminate_job.try(:foc_requested)
        = f.simple_fields_for :act_terminate_job_payments do |t|
          .add_sign.col-md-3
            = t.link_to_remove class: "remove_c_t_v_link" do
              %span.glyphicon.glyphicon-remove-sign
          .col-md-4
            = t.association :payment_item
          .col-md-3
            = t.input :amount, label: "Cost (#{ticket.ticket_currency.code})"
        = f.link_to_add :act_terminate_job_payments, class: "col-md-12" do
          %span.glyphicon.glyphicon-plus-sign
          Add
        / = f.input :final_amount_to_be_paid, wrapper_html: {class: "col-md-3"}
        %hr
      %strong Total estimated amount(#{ticket.ticket_currency.code}):
      = @total_estimation_amount
      %br/
      %strong Total payments received amount(#{ticket.ticket_currency.code}):
      = @ticket_payment_received
      %br/
      = label_tag "Payment completed"
      = check_box_tag :payment_completed, "payment completed"
      = f.submit "Save", class: "btn btn-sm btn-success"