#estimation_wrapper
%hr
.col-md-11
  %h3 Available Invoices
- if ticket.ticket_invoices.empty? or !ticket.ticket_invoices.any?{ |i| !i.canceled}
  .col-md-1
    = link_to "new", edit_invoice_ajax_invoices_path(ticket_id: ticket.id, task_id: params[:task_id], action_type: "create"), remote: true, class: "btn btn-sm btn-success"
.col-md-12
  %table.table.table-responsive.table-condensed.table-bordered.small_scale_margin-top1
    %thead
      %tr
        %th{colspan: 6} Invoice
        %th{colspan: 5} Total
      %tr
        %th No
        %th Created by
        %th Created at
        %th Customer sent
        %th Canceled
        %th Currency
        %th Cost
        %th Tax
        %th Total Amount
        %th Deduction
        %th Advance received
        %th Net payment
        %th Action
    %tbody
      - ticket.ticket_invoices.each do |i|
        %tr
          %td= i.invoice_no.to_s.rjust(6, INOCRM_CONFIG["invoice_no_format"])
          %td= i.created_by_ch_eng.try(:full_name)
          %td= i.created_at.try(:strftime, "#{INOCRM_CONFIG['short_date_format']} #{INOCRM_CONFIG['time_format']}")
          %td= boolean_in_word i.customer_sent, "Yes", "No"
          %td= boolean_in_word i.canceled, "Yes", "No"
          %td= i.currency.code
          %td= number_to_currency i.total_cost, delimiter: ",", unit: ticket.ticket_currency.code, format: "%u %n"
          %td= number_to_currency i.ticket_invoice_total_taxes.sum(:amount), delimiter: ",", unit: ticket.ticket_currency.code, format: "%u %n"
          %td= number_to_currency i.total_amount, delimiter: ",", unit: ticket.ticket_currency.code, format: "%u %n"
          %td= number_to_currency i.total_deduction, delimiter: ",", unit: ticket.ticket_currency.code, format: "%u %n"
          %td= number_to_currency i.total_advance_recieved, delimiter: ",", unit: ticket.ticket_currency.code, format: "%u %n"
          %td= number_to_currency i.net_total_amount, delimiter: ",", unit: ticket.ticket_currency.code, format: "%u %n"
          %td= link_to "edit/print", edit_invoice_ajax_invoices_path(invoice_id: i.id, task_id: params[:task_id], ticket_id: ticket.id, action_type: "update"), remote: true