.row
  = form_tag update_collect_parts_tickets_path, method: :post do

    = hidden_field_tag :process_id, session[:process_id]
    = hidden_field_tag :task_id, session[:task_id]
    = hidden_field_tag :owner, session[:owner]
    - session[:bpm_input_variables].each do |bpm_input_variable|
      = hidden_field_tag bpm_input_variable[0], bpm_input_variable[1]

    %table.table.table-bordered
      %thead
        %tr
          %th No
          %th Date Ordered
          %th Part No
          %th Description
          %th Order No
          %th Event No
          %th Note
          %th Ticket No
          %th Collected
      %tbody
        - @manufacture_parts.each_with_index do |manufacture_part, i|
          %tr
            %th= i+1
            %td #{manufacture_part.created_at.strftime "%m-%d-%Y"}
            %td #{manufacture_part.ticket_spare_part.spare_part_no}
            %td #{manufacture_part.ticket_spare_part.spare_part_description}
            %td= manufacture_part.order_no
            %td #{manufacture_part.event_no}
            %td= simple_format manufacture_part.ticket_spare_part.note
            %td #{manufacture_part.ticket_spare_part.ticket.ticket_no.to_s.rjust(6, INOCRM_CONFIG["ticket_no_format"])}
            %td 
              = check_box_tag("manufacture_part[]", manufacture_part.id, false, id: "manufacture_part_#{manufacture_part.id}")
    = submit_tag "Save"