- request_spare_part_id = (params[:request_spare_part_id] or session[:request_spare_part_id])
- spare_part = TicketSparePart.find request_spare_part_id
- ticket_for_sp = spare_part.ticket
.row
  .col-md-4
    %strong Activity:
    Recieve / Issue
.row{style: "margin-top:5px;"}
  .col-md-12
    %strong Part Status:
    #{spare_part.spare_part_status_action.name}
.row
  .col-md-4
    %strong Spare Part No:
    #{spare_part.spare_part_no}
  .col-md-4
    %strong Product Brand:
    HP

.row
  .col-md-4
    %strong Part Description:
    #{spare_part.spare_part_description}
  .col-md-4
    %strong Faulty Serial No:
    #{spare_part.faulty_serial_no}
  .col-md-4
    %strong Faulty CT No:
    #{spare_part.faulty_ct_no}

.row{style: "margin-top:10px;"}
  .col-md-4
    %strong Order No:
    #{spare_part.ticket_spare_part_manufacture.try(:order_no)}
  .col-md-4
    %strong Event No:
    #{spare_part.ticket_spare_part_manufacture.try(:event_no)}

.row.col-md-12{style: "margin-top:15px;"}
  .form-group
    = simple_nested_form_for spare_part, url: update_received_and_issued_tickets_path, method: :post, remote: true do |f|
      = f.input :id, as: :hidden
      = f.input :received_part_serial_no, wrapper_html: {class: "col-md-6"}
      = f.input :received_part_ct_no, wrapper_html: {class: "col-md-6"}
      / - if hold_checked == true
      /   = f.input :received_part_ct_no
      / = select_tag "hold_select", options_from_collection_for_select(Reason.where(hold: true), :id, :name)
      = f.input :note, wrapper_html: {class: "col-md-12"}
      = f.submit "Save", class: "btn btn-success"
