%h3 Contract Report
%table{:border => "1"}
  %thead
    %tr
      %th Contract No
      %th Customer Name
      %th Customer- With Descendants
      %th Service Provider
      %th Account Manager
      %th Contract Start Date
      %th Contract End Date
      %th Season
      %th Brand
      %th Category
      %th Contract Type
      %th Payment Type
      %th Accepted
      %th Currency
      %th Status
      %th Contract Amount
      %th Payment Received
      %th Pending Amount

  - total_product_amount = 0
  - total_payment_receiveds = 0
  - total_pending_amount = 0

  %tbody
    - @contracts.each do |contract|
      %tr
        - pending_amount = ((contract.product_amount).to_f - contract.contract_payment_receiveds.to_a.sum{|e| e.try(:amount).to_f})

        - total_product_amount = total_product_amount + contract.product_amount.to_f
        - total_payment_receiveds = total_payment_receiveds + contract.contract_payment_receiveds.to_a.sum{|e| e.try(:amount).to_f}
        - total_pending_amount = total_pending_amount + pending_amount.to_f

        %td= contract.contract_no
        %td= contract.organization.name
        %td
        %td= contract.owner_organization.try(:name)
        %td= contract.organization.account.get_account_manager
        %td= contract.formated_contract_start_at
        %td= contract.formated_contract_end_at
        %td
          - if contract.season == 1
            Season 1
          - if contract.season == 2
            Season 2
        %td= contract.brand_name
        %td= contract.category_full_name_index
        %td= contract.ticket_contract_type.try(:name)
        %td= contract.ticket_contract_payment_type.try(:name)
        %td
          - if  contract.formated_accepted_at.present?
            Yes
          -else
            No
        %td= contract.ticket_currency.try(:code)
        %td= contract.status_name
        %td= standard_currency_format(contract.product_amount)
        %td= contract.contract_payment_receiveds.to_a.sum{|e| e.try(:amount).to_f}
        %td= number_with_precision standard_currency_format(contract.pending_amount), precision: 2
    %tr
      %td
        %strong Total
      %td{ colspan: 14 }
      %td
        %strong
          = total_product_amount
      %td
        %strong
          = total_payment_receiveds
      %td
        %strong
          = total_pending_amount

%h5 Print By : #{current_user.full_name}
%h5 Print At : #{(DateTime.now).to_date}