%h3 Contract - Ticket Report

/ %br
/ %h4 Search Critaria
/ %table{:border => "1"}
/   %thead
/     %tr
/       %th Customer Name
/       %th Service Provider
/       %th Account manager
/       %th Season
/       %th Contract Date From
/       %th Contract Date To
/       %th Brand
/       %th Category
/       %th Contract type
/       %th Currency
/   %tbody
/     %tr
/       %td= @customer_name
/       %td= @service_provider
/       %td= @account_manager
/       %td= @season
/       %td= @date_from
/       %td= @date_to
/       %td= @brand_name
/       %td= @category_name
/       %td= @contract_type
/       %td= @currnecy
/ %br
/ %br
%table{:border => "1"}
  %thead
    %tr
      %th Contract No
      %th Customer Name
      %th Season
      %th Contract Type
      %th Account Manager
      %th Brand
      %th Product Name
      %th Location
      %th Product Serial Number
      %th Currency
      %th Product Amount
      %th Ticket Number
      %th Log Date
      %th Problem Description
      %th Job Type
      %th Start Date
      %th Start Action
      / %th Engineer Name
      / %th Engineers Assign Date
      / %th Engineer Finished Date
      %th Re-Open Count
      %th Chargeable
      %th Final Resolution
      %th Engineer Cost
      %th Support_engineer Cost
      %th Additional Cost
      %th Part Cost
      %th Total Cost
  - total_product_amount = 0
  - total_eng_cost = 0
  - total_support_engineer_cost = 0
  - total_part_cost = 0
  - total_additional_cost = 0
  - total_total_cost = 0

  %tbody
    - @tickets.each do |ticket|
      %tr
        - total_cost = (ticket.ticket_engineer_cost.to_f + ticket.ticket_support_engineer_cost.to_f + ticket.ticket_additional_cost.to_f + ticket.ticket_part_cost.to_f + ticket.ticket_external_cost.to_f)


        - total_product_amount = total_product_amount + ticket.ticket_contract_product_amount.to_f
        - total_eng_cost = total_eng_cost + ticket.ticket_engineer_cost.to_f
        - total_support_engineer_cost = total_support_engineer_cost + ticket.ticket_support_engineer_cost.to_f
        - total_part_cost = total_part_cost + ticket.ticket_part_cost.to_f
        - total_additional_cost = total_additional_cost + ticket.ticket_additional_cost.to_f
        - total_total_cost = total_total_cost + total_cost

        %td= ticket.ticket_contract.try(:contract_no)
        %td= ticket.ticket_contract.try(:organization).try(:name)
        %td
          - if ticket.ticket_contract.try(:season) == 1
            Season 1
          - if ticket.ticket_contract.try(:season) == 2
            Season 2
        %td= ticket.ticket_contract.try(:ticket_contract_type).try(:name)
        %td= ticket.ticket_contract.try(:organization).try(:account).try(:get_account_manager)
        %td= ticket.ticket_contract.try(:brand_name)
        %td= ticket.products.first.try(:name)
        %td= ticket.ticket_contract.try(:location_address_full)
        %td= ticket.products.first.try(:serial_no)
        %td= ticket.ticket_contract.try(:ticket_currency).try(:code)
        %td= standard_currency_format ticket.ticket_contract_product_amount.to_f
        %td= ticket.ticket_no.to_s.rjust(6, INOCRM_CONFIG["ticket_no_format"])
        %td
          - if ticket.present?
            = ticket.try(:logged_at).to_date.strftime(INOCRM_CONFIG["short_date_format"])
        %td= ticket.problem_description
        %td= ticket.job_type_get
        %td
          - if ticket.job_started_at.present?
            = ticket.job_started_at.to_date.strftime(INOCRM_CONFIG["short_date_format"])
        %td= ticket.ticket_start_action.try(:action)
        / %td= ticket.owner_engineer.try(:full_name)
        / %td
        /   - if ticket.owner_engineer.present?
        /     = ticket.owner_engineer.created_at.to_date.strftime(INOCRM_CONFIG["short_date_format"])
        / %td
        /   - if ticket.owner_engineer.present?
        /     = ticket.owner_engineer.try(:job_completed_at).to_date.strftime(INOCRM_CONFIG["short_date_format"])
        %td= ticket.re_open_count
        %td= boolean_in_word ticket.cus_chargeable, "Yes", "No"
        %td= ticket.resolution_summary

        %td= standard_currency_format ticket.ticket_engineer_cost.to_f
        %td= standard_currency_format ticket.ticket_support_engineer_cost.to_f
        %td= standard_currency_format ticket.ticket_additional_cost.to_f
        %td= standard_currency_format ticket.ticket_part_cost.to_f
        %td= standard_currency_format standard_currency_format total_cost
    %tr
      %td
        %strong Total
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
        %strong
          = standard_currency_format total_product_amount
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
        %strong
          = standard_currency_format total_eng_cost
      %td
        %strong
          = standard_currency_format total_support_engineer_cost
      %td
        %strong
          = standard_currency_format total_additional_cost
      %td
        %strong
          = standard_currency_format total_part_cost
      %td
        %strong
          = standard_currency_format total_total_cost
%h4 * Note : Engineer = Ticket Owner Engineer
%h5 Print By : #{current_user.full_name}
%h5 Print At : #{(DateTime.now).to_date}
