- combined_tickets = @combined_tickets
- num = 0
%h3 Items Not Collected By Customer Report
%br
%table.table.table-striped.collected_list
  %thead
    %tr
      %th No
      %th Job Finished Date
      %th Job Completed Date
      %th Ticket No
      %th Customer Name
      %th Model No
      %th No. of days Since Job Completed Date

  %tbody{class: "list"}
    - combined_tickets.each_with_index do |ticket, index|
      %tr
        %td= (index+1)
        %td= ticket.try(:job_finished_at).try(:to_date).try :strftime, INOCRM_CONFIG["short_date_format"]
        %td=  [ticket.job_finished_at, ticket.qc_passed_at, ticket.final_invoice.try(:created_at)].compact.max.to_date.try :strftime, INOCRM_CONFIG["short_date_format"]
        %td= ticket.support_ticket_no
        %td= ticket.customer_name
        %td= ticket.products.first.model_no
        %td
          - if [ticket.job_finished_at, ticket.qc_passed_at, ticket.final_invoice.try(:created_at)].compact.max.present?
            = (Date.today - [ticket.job_finished_at, ticket.qc_passed_at, ticket.final_invoice.try(:created_at)].compact.max.to_date).to_i
          - else
            NAN
