.row
  .col-md-12
    %fieldset
      %legend Customer Product Report
      #search_frame
        = form_tag customer_product_report_reports_path, method: :get, class: "form-horizontal" do
          .row
            .col-md-4
              = label_tag "Customer Name"
              = select_tag "search_product[]", options_from_collection_for_select(Organization.customers, :id, :name), class: "form-control parent_class", include_blank: true
          .row
            .col-md-3
              = label_tag "Brand"
              = select_tag "search_product[]", options_from_collection_for_select(ProductBrand.all, :name, :name), class: "form-control parent_class", include_blank: true, id: "search_product_ticket_contract_brand_name"
            .col-md-3
              = label_tag "Account Manager:"
              = select_tag "search_product[customer.organization.account.get_account_manager_id]", options_from_collection_for_select(User.where(id: Account.pluck(:account_manager_id)).order("first_name ASC"), :id, :full_name), class: "form-control parent_class", include_blank: true

            .col-md-3
              = label_tag "Serial No:"
              = text_field_tag "search_product[ticket_product_serial_no", params[:ticket_product_serial_no], class: "form-control", placeholder: "Serial No"

          .row.small_scale_margin-top1
            .col-md-1
              .search
                = submit_tag "Generate Report", class: "btn btn-sm btn-warning", name: "search"