.row
  .col-md-12
    %fieldset
      %legend Customer Product Report
      #search_frame
        = form_tag customer_product_report_reports_path, method: :get, class: "form-horizontal" do
          .row
            .col-md-3
              = label_tag "Customer Name"
              = select_tag "search_contracts[owner_customer_id]", options_from_collection_for_select(Organization.customers, :id, :name), class: "form-control parent_class", include_blank: true
          .row
            .col-md-3
              = label_tag "Brand"
              = select_tag "search_contracts[brand_name]", options_from_collection_for_select(ProductBrand.all, :name, :name), class: "form-control parent_class", include_blank: true
            .col-md-3
              = label_tag "#{CompanyConfig.first.try(:sup_product_category1_label)} : "
              = select_tag "search_contracts[category_cat1_id]", option_groups_from_collection_for_select(ProductBrand.all, :product_category1s, :name, :id, :name, "#"), include_blank: true, id: "search_product_category1",class: "product_category1 form-control"
            .col-md-3
              = label_tag "#{CompanyConfig.first.try(:sup_product_category2_label)} : "
              = select_tag "search_contracts[category_cat2_id]", option_groups_from_collection_for_select(ProductCategory1.all, :product_category2s, :name, :id, :name, "#"), include_blank: true, id: "search_product_category2", class: "product_category2 form-control"
            .col-md-3
              = label_tag "#{CompanyConfig.first.try(:sup_product_category_label)} : "
              = select_tag "search_contracts[category_cat_id]", option_groups_from_collection_for_select(ProductCategory2.all, :product_categories, :name, :id, :name), class: "form-control parent_class product_category", include_blank: true
          .row
            .col-md-3
              = label_tag "Product Name"
              = text_field_tag "search_contracts[name]", (params[:search_contracts] and params[:search_contracts][:name]), :placeholder => "Product Name", class: "form-control"
            .col-md-3
              = label_tag "Product No:"
              = text_field_tag "search_contracts[product_no]", params[:product_no], class: "form-control", placeholder: "Product No"
            .col-md-3
              = label_tag "Serial No:"
              = text_field_tag "search_contracts[serial_no]", params[:serial_no], class: "form-control", placeholder: "Serial No"
            .col-md-3
              = label_tag "Model No:"
              = text_field_tag "search_contracts[model_no]", params[:model_no], class: "form-control", placeholder: "Model No"

          .row.small_scale_margin-top1
            .col-md-1
              .search
                = submit_tag "Generate Report", class: "btn btn-sm btn-warning", name: "search"