- delivered_items = @delivered_items
%h3 Delivered items not collected
%br
%br
.row
  .col-md-1
    %strong No
  .col-md-2
    %strong Supplier
  .col-md-1
    %strong Ticket No
  .col-md-1
    %strong Serial No
  .col-md-2
    %strong Engineer
  .col-md-1
    %strong Delivered date
  .col-md-2
    %strong Warranty type
  .col-md-2
    %strong Delivered Note
%hr
- delivered_items.each_with_index do |delivered_item, index|
  .row
    .col-md-1
      - if params[:page]
        = (index+1)+ 10*(params[:page].to_i-1)
      - else
        = (index+1)
    .col-md-2= delivered_item.organization.name
    .col-md-1= delivered_item.ticket.support_ticket_no
    .col-md-1= delivered_item.ticket.ticket_product_serial_no
    .col-md-2= delivered_item.user.full_name
    .col-md-1= delivered_item.delivered_to_sup_at.strftime(INOCRM_CONFIG["short_date_format"])
    .col-md-2= delivered_item.ticket.warranty_type_name
    .col-md-2= delivered_item.note

  %hr