- spare_part_count = 10
%table{:border => "1"}
  %thead
    %tr
      %th Company Name
      %th Customer Type (Corporate/Walking)
      %th Customer Address
      %th District
      %th Customer Contact No
      %th Customer Email
      %th Product Brand
      %th Category
      %th Model Number
      %th Product Number
      %th Product Serial No
      %th SLA
      %th Job Number (Partner)
      %th CASE ID / HP Advisory
      %th Log Date
      %th Engineer Assign Date
      %th Start Date
      %th Start Action
      %th Problem Description
      %th Support Group (SBU)
      %th Engineer Name

      - spare_part_count.times.each do |i|
        %th #{i+1} Part NumberIn Use
        %th #{i+1} Part Description
        %th #{i+1} event No.
        %th #{i+1} Item Code

      %th Engrs Finished Date & Time
      %th Call Status
      %th Hold
      %th Hold Reason
      %th Re-Open Count
      %th Chargeable
      %th Total Amount
      %th Final Resolution
  %tbody
    //0.0.0.0:3000/reports/excel_output.xls
    - @ticket.each do |ticket|
      %tr
        %td= ticket.logged_at
        / %td= ticket.customer.name
        %td
          - if ticket.customer.organization
            Corporate
          - else
            Walking
        %td{style: "text-align: left;"}
          / #{ticket.customer.address1},#{ticket.customer.try(:address2)},#{ticket.customer.try(:address3)},#{ticket.customer.try(:address4)}
          - if ticket.customer.address1.present?
            #{ticket.customer.address1}
          - if ticket.customer.address2.present?
            , #{ticket.customer.address2}
          - if ticket.customer.address3.present?
            , #{ticket.customer.address3}
          - if ticket.customer.address4.present?
            , #{ticket.customer.address4}
        %td
          = ticket.customer.try(:district).try(:name)
        %td
          - ticket.customer.contact_type_values.each do |mobile|
            - if  mobile.contact_type_id == 2
              #{mobile.value}
            - else
              - if mobile.contact_type_id == 3
                #{mobile.value}
        %td
          - ticket.customer.contact_type_values.each do |email|
            - if email.contact_type_id == 1
              #{email.value}
        %td
          - if ticket.products
            = ticket.products.map { |p| p.brand_name }.join(", ")
            / - ticket.products.each do |product|
            /   = product.try(:brand_name)
        %td
          // Category
          - if ticket.products
            = ticket.products.map { |p| p.category_full_name_index }.join(", ")
        %td
          - if ticket.products
            = ticket.products.map { |p| p.model_no }.join(", ")
            / - ticket.products.pluck(:model_no).join(", ")
            / - ticket.products.each do |product|
            /   = product.try(:model_no)
        %td
          // Product Number
          - if ticket.products
            = ticket.products.map { |p| p.product_no }.join(", ")
            / - ticket.products.pluck(:product_no).join(", ")
        %td
          // Product Serial No
          - if ticket.products
            = ticket.products.map { |p| p.serial_no }.join(", ")
            / - ticket.products.pluck(:serial_no).join(", ")
            
        %td
          // SLA
          = ticket.slatime
        %td
          // Job Number (Partner)
          = ticket.support_ticket_no
        %td
          // CASE ID / HP Advisory
          = ticket.hp_cases.map { |h| h.case_id }.join(", ")
          / - ticket.hp_cases.pluck(:case_id).join(", ")

        %td
          // Log Date & Time
          = ticket.logged_at.to_date.strftime(INOCRM_CONFIG["short_date_format"])
        %td
          // Engrs Assign Date & Time
          - if  ticket.owner_engineer.present?
            = ticket.try(:owner_engineer).try(:created_at).to_date.strftime(INOCRM_CONFIG["short_date_format"])
        %td
          // Start Date & Time
          - if ticket.job_started_at.present?
            = ticket.try(:job_started_at).to_date.strftime(INOCRM_CONFIG["short_date_format"])
        %td
          // Start Action
          = ticket.try(:ticket_start_action).try(:action)
        %td
          // Problem Description
          = ticket.try(:problem_description)
        %td
          // Support Group (SBU)
          = ticket.try(:owner_engineer).try(:sbu_name)
        %td
          // Engineer Name (Last)
          = ticket.try(:owner_engineer).try(:full_name)

        - spare_part_count.times.each do |e|
          - sp = ticket.ticket_spare_parts.to_a[e]
          - if sp.present?
            %td
              // 1st Part NumberIn Use
              = sp.spare_part_no
            %td
              // 1st Part Description
              = sp.spare_part_description
            %td
              // 1st event No.
              = sp.request_from == 'M' ? ticket.ticket_spare_parts.first.ticket_spare_part_manufacture.try(:event_no) : ""
            %td
              // 1st Item Code
              = sp.try(:inventory_product_generated_serial_item)
          - else
            %td
            %td
            %td
            %td

        %td
          // Engrs Finished Date & Time
          = ticket.try(:job_finished_at).try(:strftime, "#{INOCRM_CONFIG['short_date_format']} #{INOCRM_CONFIG['time_format']}")
        %td
          // Call Status
          = ticket.ticket_status_name
        %td
          // Hold
          = boolean_in_word ticket.status_hold, "Yes", "No"
        %td
          // Hold Reason
          = ticket.try(:reason).try(:reason)
        %td
          // Re-Open Count
          = ticket.re_open_count
        %td
          // Chargeable
          = boolean_in_word ticket.cus_chargeable, "Yes", "No"
        %td
          // Total Amount
          - tot_amount = 0.00
          - ded_amount = 0.00
          - ans = 0.00

          - tot_amount = ticket.try(:final_invoice).try(:total_amount).try(:to_f)
          - ded_amount = ticket.try(:final_invoice).try(:total_deduction).try(:to_f)
          - if ticket.try(:final_invoice).try(:total_amount) and ticket.try(:final_invoice).try(:total_deduction)
            - ans = tot_amount - ded_amount
            = number_with_precision ans, precision: 2
          - else
            = number_with_precision 0, precision: 2
        %td
          // Final Resolution
          = ticket.try(:resolution_summary)