- tickets = @tickets
%h3 Hold Ticket Report
.row
  .col-md-1
    %strong No
  .col-md-1
    %strong Ticket No
  .col-md-2
    %strong Logged at
  .col-md-2
    %strong Date of hold
  .col-md-2
    %strong Hold By
  .col-md-2
    %strong Hold Reason
- num = 0
%hr
- tickets.each_with_index do |ticket, index|
  / =ticket.is_hold_and_have_last_hold_action?
  .row
    .col-md-1
      - if params[:page]
        = (index+1)+ 10*(params[:page].to_i-1)
      - else
        - num= num+1
        = (num)

    .col-md-1=ticket.support_ticket_no
    .col-md-2=ticket.logged_at.to_date.strftime("#{INOCRM_CONFIG['short_date_format']} #{INOCRM_CONFIG['time_format']}")
    .col-md-2=ticket.last_hold_action.try(:action_at).try(:strftime, "#{INOCRM_CONFIG['short_date_format']} #{INOCRM_CONFIG['time_format']}")
    .col-md-2=ticket.last_hold_action.try(:action_by_name)
    .col-md-2=ticket.reason.try(:reason)
  %hr