%h3 Contract - Ticket Report
%table{:border => "1"}
  %thead
    %tr
      %th Customer Name
      %th Brand
      %th Product Name
      %th Product serial Number
      %th Product cost
      %th Part cost
      %th Job number
      %th Job type
      %th Log Date
      %th Engineers Assign Date
      %th Start Date
      %th Start action
      %th Problem description
      %th Engineer name
      %th Engineer Finished Date
      %th Re-Open Count
      %th Chargeable
      %th Final resolution

  %tbody
    - @ticket.each do |ticket|
      %tr
        %td= ticket.ticket_contract.try(:organization).try(:name)
        %td= ticket.ticket_contract.try(:brand_name)
        %td= ticket.products.first.try(:name)
        %td= ticket.products.first.try(:serial_no)
        %td= ticket.ticket_contract_product_amount
        %td= ticket.ticket_part_cost
        %td= ticket.ticket_no
        %td= ticket.job_type_get
        %td
          - if ticket.present?
            = ticket.try(:logged_at).to_date.strftime(INOCRM_CONFIG["short_date_format"])
        %td
          - if ticket.owner_engineer.present?
            = ticket.owner_engineer.created_at.to_date.strftime(INOCRM_CONFIG["short_date_format"])
        %td
          - if ticket.job_started_at.present?
            = ticket.job_started_at.to_date.strftime(INOCRM_CONFIG["short_date_format"])
        %td= ticket.ticket_start_action.try(:action)
        %td= ticket.problem_description
        %td= ticket.owner_engineer.try(:full_name)
        %td
          - if ticket.owner_engineer.present?
            = ticket.owner_engineer.try(:job_completed_at).to_date.strftime(INOCRM_CONFIG["short_date_format"])
        %td= ticket.re_open_count
        %td= ticket.cus_chargeable
        %td= ticket.resolution_summary
