.row
  .col-md-12
    %fieldset
      %legend Search Manufacture Parts
      #search_frame
        = form_tag manufacture_part_order_report_reports_path, method: :get, class: "form-horizontal" do

          .row.small_scale_margin-top1
            .col-md-4
              = label_tag "Order date & time (Eng)"
              = text_field_tag "search_manufacture_part[requested_at]", nil, :placeholder => "Order date & time (Eng)", class: "form-control datepicker"
            .col-md-4
              = label_tag "order updated time by (Sup.cor)"
              = text_field_tag "search_manufacture_part[ticket_spare_part_manufacture.order_pending_at]", nil, :placeholder => "order updated time by (Sup.cor)", class: "form-control datepicker"
            .col-md-4
              = label_tag "Collected Date"
              = text_field_tag "collected_date", nil, :placeholder => "Collected Date", class: "form-control datepicker"
            .col-md-4
              = label_tag "Return part accepted date (Deliv. Cord)"
              = text_field_tag "return_part_accepted_date", nil, :placeholder => "Return part accepted date (Deliv. Cord)", class: "form-control datepicker"
            .col-md-4
              = label_tag "Return part accepted by (Sup. Cor.)"
              = select_tag "return_part_accepted_by", options_from_collection_for_select(User.all, :id, :full_name), include_blank: true, id: "search_contracts_brand_name", class: "form-control"
            .col-md-4
              = label_tag "Event Close by (Sup.cor)"
              = select_tag "event_closed_by", options_from_collection_for_select(User.all, :id, :full_name), include_blank: true, id: "search_contracts_brand_name", class: "form-control"
            .col-md-4
              = label_tag "Ticket No"
              = text_field_tag "search_manufacture_part[ticket.support_ticket_no]", nil, :placeholder => "Ticket No", class: "form-control"
            .col-md-4
              = label_tag "Spare Part No"
              = text_field_tag "search_manufacture_part[spare_part_no]", nil, :placeholder => "Spare Part No", class: "form-control"
            .col-md-4
              = label_tag "SBU"
              = select_tag "search_manufacture_part[engineer.sbu_id]", options_from_collection_for_select(Sbu.all, :id, :sbu), include_blank: true, id: "search_contracts_brand_name",class: "form-control"
            .col-md-4
              = label_tag "Engineer"
              = select_tag "search_manufacture_part[engineer.id]", options_from_collection_for_select(TicketEngineer.all, :id, :full_name), include_blank: true, id: "search_contracts_brand_name",class: "form-control"
            .col-md-4
              = label_tag "Part Status"
              = select_tag "search_manufacture_part[status_action_id]", options_from_collection_for_select(SparePartStatusAction.all, :id, :name), include_blank: true, id: "search_contracts_brand_name",class: "form-control"
            .col-md-4
              = label_tag "Terminated status"
              = select_tag "search_manufacture_part[part_terminated]", options_for_select({"Terminated" => true, "Not Terminated" => false}), include_blank: true, id: "search_contracts_brand_name", class: "form-control"
            .col-md-4
              = label_tag "Part Used Status"
              = select_tag "search_manufacture_part[ticket_use_status]", options_from_collection_for_select(SparePartStatusUse.all, :name, :name), include_blank: true, id: "search_contracts_brand_name",class: "form-control"
            .col-md-4
              = label_tag "Bundle #"
              = text_field_tag "search_manufacture_part[ticket_spare_part_manufacture.return_part_bundle_no]", nil, :placeholder => "Bundle #", class: "form-control"
            .col-md-4
              = label_tag "PO #"
              = text_field_tag "search_manufacture_part[so_po_items.po_info.po_no_format]", nil, :placeholder => "PO #", class: "form-control"
            .col-md-4
              = label_tag "Machine Model #"
              = text_field_tag "search_manufacture_part[ticket.product_info.model_no]", nil, :placeholder => "Machine Model #", class: "form-control"
            .col-md-4
              = label_tag "Machine Product #"
              = text_field_tag "search_manufacture_part[ticket.product_info.product_no]", nil, :placeholder => "Machine Product #", class: "form-control"
            .col-md-4
              = label_tag "Machine S/N"
              = text_field_tag "search_manufacture_part[ticket.product_info.serial_no]", nil, :placeholder => "Machine S/N", class: "form-control"
            .col-md-4
              = label_tag "Created to"
              = text_field_tag "created_at_to", Date.today, :placeholder => "Created to", class: "form-control datepicker"
              %strong.hint Manufacture date is just 3 months prior records from 'Create to' date or default Today
          .row.small_scale_margin-top1
            .col-md-1
              .search
                = submit_tag "Search", class: "btn btn-sm btn-warning", name: "search"