- ticket_manufactures = @ticket_manufactures
%h3 Manufacture Parts Order Updated
%h5.blue Order updated parts by coordinator
%br
.row
  .col-md-1
    %strong No
  .col-md-2
    %strong Order updated date
  .col-md-1
    %strong Ticket No
  .col-md-2
    %strong Engineer Name
  .col-md-1
    %strong Event No
  .col-md-1
    %strong Part No
  .col-md-2
    %strong Part Description
  .col-md-2
    %strong Spare Part Note
- num = 0
%hr
- ticket_manufactures.each_with_index do |ticket_manufacture, index|
  .row
    .col-md-1
      - if params[:page]
        = (index+1)+ 10*(params[:page].to_i-1)
      - else
        - num= num+1
        = (num)
    .col-md-2= ticket_manufacture.updated_at.to_date.try :strftime, "#{INOCRM_CONFIG['short_date_format']}"
    .col-md-1= ticket_manufacture.ticket_spare_part.ticket.support_ticket_no
    .col-md-2= ticket_manufacture.ticket_spare_part.engineer_name
    .col-md-1= ticket_manufacture.event_no
    .col-md-1= ticket_manufacture.ticket_spare_part.spare_part_no
    .col-md-2= ticket_manufacture.ticket_spare_part.spare_part_description
    .col-md-2{ "class"=> "has-popover", "data-toggle"=> "popover", "title"=> "Note: #{ticket_manufacture.ticket_spare_part.note}", "data-content"=> "#{yield(:customer_supplier_p_more)}", "data-html" => "true", "data-trigger" => "hover", "data-placement" => "left" }= strip_tags(ticket_manufacture.ticket_spare_part.note).truncate(100)
  %hr