- part_histories = @part_histories
- serial_no = @serial_no
%h3 Parts Order History
%br
%br
- num = 0

= paginate part_histories, method: :get, remote: false

%table.table
  %thead
    %tr
      %th No
      %th Ticket No
      %th Ticket Log Date
      %th Problem Description
      %th Ticket Status
      %th Spare Part No
      %th Spare Part Description
      %th Spare Part Type
      %th Part Ordered Date
      %th Part Ordered By
      %th Event No
      %th Part Used Status
      %th Part Status

  %tbody
    - part_histories.each_with_index do |part_history, index|
      %tr
        %td
          - if params[:page]
            = (index+1)+ 100*(params[:page].to_i-1)
          - else
            - num= num+1
            = (num)
        %td= part_history.ticket.support_ticket_no
        %td= part_history.ticket.logged_at.strftime(INOCRM_CONFIG["short_date_format"])
        %td= part_history.ticket.problem_description
        %td= part_history.ticket_status
        %td= part_history.spare_part_no
        %td= part_history.spare_part_description
        %td= part_history.spare_part_type
        %td= part_history.requested_at.to_datetime.strftime(INOCRM_CONFIG["short_date_format"])
        %td= User.cached_find_by_id(part_history.requested_by).full_name
        %td= part_history.try(:ticket_spare_part_manufacture).try(:event_no)
        %td= part_history.ticket_use_status
        %td= part_history.status_action_name
    %hr
= paginate part_histories, method: :get, remote: false