- available_parts = @available_parts
%h3 Parts available at store
%br
%br
.row
  .col-md-1
    %strong No
  .col-md-1
    %strong Requested date
  .col-md-2
    %strong Available date
  .col-md-2
    %strong Requested By
  .col-md-1
    %strong Ticket No
  .col-md-2
    %strong Customer
  .col-md-2
    %strong Item/description
  .col-md-1
    %strong Spare Part No
%hr
- available_parts.each_with_index do |available_part, index|
  .row
    .col-md-1
      - if params[:page]
        = (index+1)+ 10*(params[:page].to_i-1)
      - else
        = (index+1)
    .col-md-1= available_part.store_requested_at.strftime(INOCRM_CONFIG["short_date_format"])
    .col-md-2= available_part.issued_at.strftime(INOCRM_CONFIG["short_date_format"])
    .col-md-2= available_part.store_requested_engineer.full_name
    .col-md-1= available_part.ticket_no
    .col-md-2= available_part.customer_name
    .col-md-2= available_part.ticket_spare_part.spare_part_description
    .col-md-1= available_part.ticket_spare_part.spare_part_no
  %hr