= wicked_pdf_stylesheet_link_tag "reports"

- print_object = @print_hash_to_object

.report_pdf.container
  .row
    .col-xs-2
      = wicked_pdf_image_tag (print_object.owner.logo || "organization_image.png"), class: "img-responsive"
    .col-xs-7.text-center
      %span12
        %h3{:style => "text-decoration: underline;"} PURCHASE ORDER
      %span12
        %strong=print_object.owner.name
      %br/
      %span12
        %strong=print_object.owner.address
      %br/
      %span12
        %strong=print_object.owner.website
      %br/
      %span12
        %table.col-xs-4.col-xs-offset-4
          %tbody
            - print_object.owner.contactDetails.each do |contact_detail|
              %tr
                %th.text-right
                  .col-xs-offset-1
                    = contact_detail[:category]
                %td
                  .col-xs-offset-1
                    = contact_detail[:value]

  %hr/

  .row
    .col-xs-5
      %p=print_object.customer.contactPerson
      %strong=print_object.customer.name
      %p=print_object.customer.address
    .col-xs-4.col-xs-offset-2
      %table.table-condensed
        %tr
          %th.text-right Number:
          %td
            = print_object.poNo
        %tr
          %th.text-right Date:
          %td
            =print_object.date
        %tr
          %th.pull-right Page No:
          %td

  %br/
  .row
    .col-xs-11
      %table.table.table-default
        %thead
          %tr
            %th Our Ref.
            %th Quotation
            %th Date Required
            %th Payment Term
            %th Delivery Mode
        %tbody
          %tr
            %td=print_object.ourRef
            %td=print_object.quotation
            %td=print_object.dateRequired
            %td=print_object.paymentTerm
            %td=print_object.deliveryMode

  .row
    .col-xs-11
      %table.table.table-stripped
        %thead
          %tr
            %th Item Code
            %th Article number/ Description
            %th Quantity
            %th Unit Price
            %th Total
        %tbody
          - print_object.poItems.each do |po_item|
            %tr
              %td=po_item[:itemCode]
              %td{class: "ellipses"}=po_item[:description]
              %td=po_item[:quantity]
              %td=po_item[:unitPrice]
              %td.text-right= po_item[:total]

      %br/

      %table.table.table-striped
        %tbody
          %tr
            %th
            %td{colspan: 3}
            %th.text-right Sub Total:
            %td.text-right{colspan: 2}= number_with_precision print_object.subTotal, precision: 2

          %tr
            %th
            %td{colspan: 3}
            %th.text-right Discount:
            %td.text-right{colspan: 2}= number_with_precision print_object.discount, precision: 2

          %tr
            %th
            %td{colspan: 3}
            %th.text-right VAT(11%):
            %td.text-right{colspan: 2}= number_with_precision print_object.poItemTax, precision: 2

          %tr
            %th
            %td{colspan: 3}
            %th.text-right Total Amount:
            %td.text-right{colspan:2}= number_with_precision print_object.total, precision: 2

  %br/
  .row
    .col-xs-11
      .col-xs-7
      .col-xs-4
        %strong V S Information Systems (pvt) Ltd
        %br/
        %br/
        %strong ....................................................
        %h5.col-xs-offset-1 Authorized Signature