= wicked_pdf_stylesheet_link_tag "reports"

- print_object = @print_object
- print_object1 = @print_hash_to_object

- if print_object[:canceled]
  .watermark
    %h4.watermark-text Cancelled

  .report_pdf.container.watermark_container
- else
  .report_pdf.container
.row
  .col-xs-2
    = wicked_pdf_image_tag (print_object1.owner.logo || "organization_image.png"), class: "img-responsive"
  .col-xs-7.text-center
    %span12
      %h3{:style => "text-decoration: underline;"} Customer Quotation
    %span12
      %strong=print_object1.owner.name
    %span12
      %strong=print_object1.owner.address
    %br/
    %span12
      %strong=print_object1.owner.website
    %br/
    %span12
      %table.col-xs-4.col-xs-offset-4
        %tbody
          - print_object1.owner.contactDetails.each do |contact_detail|
            %tr
              %th.text-right
                .col-xs-offset-1
                  = contact_detail[:category]
              %td
                .col-xs-offset-1
                  = contact_detail[:value]
  %br/
  .row
    .col-md-12
      %table
        %tbody
          %tr
            %td
              %strong
                Customer Name
            %td :&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            %td
              =print_object[:company_name]

          %tr
            %td
              %strong
                Cus Contact Name
            %td :
            %td
              =print_object[:cus_contact_person]

          %tr
            %td
              %strong
                Cus Contact No
            %td :
            %td=print_object[:cus_contact_info]
            
          %tr
            %td
              %strong
                Address
            %td :
            %td
              =print_object[:address1]
              ,
              =print_object[:address2]
              ,
              =print_object[:address3]
              ,
              =print_object[:address4]
          %tr
            %td
              %strong
                Ticket No
            %td :
            %td=print_object[:ticket_ref]
          %tr
            %td
              %strong
                Product Brand
            %td :
            %td=print_object[:product_brand]

          %tr
            %td
              %strong
                Model No
            %td :
            %td=print_object[:model_no]
          %tr
            %td
              %strong
                Serial No
            %td :
            %td=print_object[:serial_no]
          %tr
            %td
              %strong
                Product No
            %td :
            %td=print_object[:product_no]
          %tr
            %td
              %strong
                Proforma Invoice No
            %td :
            %td
              = print_object[:quotation_no].to_s.rjust(10, INOCRM_CONFIG["quotation_no_format"])
          %tr
            %td
              %strong
                Cus VAT No
            %td :
            %td
              = print_object[:vat_no]
          %tr
            %td
              %strong
                Cus SVAT No
            %td :
            %td
              = print_object[:svat_no]
          %tr
            %td
              %strong
                VAT REG No
            %td :
            %td
              = print_object1.owner.vat_num
          %tr
            %td
              %strong
                Created Date
            %td :
            %td
              = print_object[:created_date]
          %tr
            %td
              %strong
                Validity Period
            %td :
            %td
              = print_object[:validity_period]
          %tr
            %td
              %strong
                Contact Person
            %td :
            %td
              = print_object[:created_by]
          %tr
            %td
              %strong
                Delivery Period
            %td :
            %td
              = print_object[:delivery_period]
  %hr
  .row
    .col-xs-11
      %table.table.table-stripped{style: "width: 90%"}
        %thead
          %tr{style: "text-align: left"}
            %th No
            %th Description
            %th Quantity
            %th{style: "text-align: right"} Unit Price
            %th{style: "text-align: right"} Total Price
        %tbody
          - @print_object[:repeat_data].each_with_index do |ob, index|
            %tr
              %td
                = ob[:item_index]
              %td{class: "ellipses"}
                = ob[:description]
              %td
                = (ob[:quantity] and ob[:quantity].to_f)
              %td.col-xs-2{style: "text-align: right"}
                - if ob[:unit_price].present?
                  =ob[:currency]
                = ob[:unit_price]
              %td.col-xs-2{style: "text-align: right"}
                = ob[:currency]
                = ob[:totalprice]
          %td
            %td{colspan: 3 , style: "text-align: right; font-weight: bold" } Total Amount
            %td{style: "text-align: right"}
              = print_object[:currency]
              = number_with_precision print_object[:total_amount], precision: 2

      %table.table.table-striped
        %tbody

          %tr
            %th
            %td
            %td
              %strong Minimum Advanced Required
            %td :
            %td
              = print_object[:currency]
              = number_with_precision print_object[:total_advance_amount], precision: 2

          %tr
            %th
            %td
            %td
              %strong Payment Term
            %td :
            %td= print_object[:payment_term]

          %tr
            %th
            %td
            %td
              %strong Bank Name
            %td :
            %td= print_object[:print_organization_bank]
          %tr
            %th
            %td
            %td
              %strong Bank Account Number
            %td :
            %td= print_object[:print_organization_bank_acc_no]
          %tr
            %th
            %td
            %td
              %strong Bank Address
            %td :
            %td= print_object[:print_organization_bank_address]
          %tr
            %th
            %td
            %td
              %strong Swift Code
            %td :
            %td= print_object[:print_organization_bank_swift_code]
          %tr
            %th
            %td
            %td
              %strong Warranty
            %td :
            %td= print_object[:warranty]
          %tr
            %th
            %td
            %td
              %strong Note
            %td :
            %td= print_object[:note]
            
      %br/

    .col-xs-11
      %strong TERMS AND CONDITIONS
      %ul.list-group
        %li.list
          1. Payment Terms: Full payment with the Purchase Order/Acknowledgement,
        %li.list
          2. Taxes, Duty, Shipping and Freight Cost: This quotation inclusive of Duty, Shipping and Freight Cost.
        %li.list
          3. Options and Accessories: Value of optional items and accessories (if any) not included in above total.
        %li.list
          4. Cheques to be drawn in favor of "V S Information Systems (Pvt)Ltd" and crossed :A/C Payee Only
        %br/
        %li.list
          Should you have any changes/issues or require any clarifications to above terms and conditions and details, please inform above mentioned person within 24 hours of the recipt of this acknowledgement.
          %br/
          VSIS is pleased to accept this order in accordance with our standard terms and conditions.
          %br/
          %br/
          _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
          I hereby confirm that I am an authorized signatory and that I accept this quotation with given terms and conditions and confirm an order on these items on behalf of the purchaser/investor (pl. put your official company stamp here)
