= wicked_pdf_stylesheet_link_tag "reports"

- print_object = @print_object

.report_pdf.container
  .row
    .col-xs-2
      = image_tag wicked_pdf_asset_base64("vsis.png")
    .col-xs-7.text-center
      %span12
        %h3{:style => "text-decoration: underline;"} CUSTOMER QUOTATION
      %span12
        %strong V S Information Systems (Pvt) Ltd
      %br/
      %span12
        %strong NO: 07 , Suleimen Terrace ,
      %br/
      %span12
        %strong Colombo - 05 . Sri Lanka.
      %br/
      %span12
        %strong Tel : 011 2 599 499 , 011 2 555 803
      %br/
      %span12
        %strong Fax : 011 2 555 805

  %br/
  .row
    .col-xs-5
      %table.table-default
        %tr
          %th.pull-right Customer Name:
          %td
            =print_object[:company_name]
        %tr
          %th.pull-right Address:
          %td
            .col-xs-offset-1
              =print_object[:address1]
              %br/
              =print_object[:address2]
              %br/
              =print_object[:address3]
              %br/
              =print_object[:address4]
        %tr
          %th.pull-right Ticket No:
          %td
            .col-xs-offset-1
              =print_object[:ticket_ref]
        %tr
          %th.pull-right Product Brand:
          %td
            .col-xs-offset-1
              =print_object[:product_brand]
        %tr
          %th.pull-right Model No:
          %td
            .col-xs-offset-1
              =print_object[:model_no]
        %tr
          %th.pull-right Serial No:
          %td
            .col-xs-offset-1
              =print_object[:serial_no]
        %tr
          %th.pull-right Product No:
          %td
            .col-xs-offset-1
              =print_object[:product_no]

    .col-xs-4.col-xs-offset-2
      %table.table-default
        %tr
          %th.pull-right Quotation No:
          %td
            = print_object[:quotation_no]
        %tr
          %th.pull-right VAT REG No:
          %td
        %tr
          %th.pull-right Created Date:
          %td
            = print_object[:created_at]
        %tr
          %th.text-right Validity Period:
          %td
            = print_object[:validity_period]
        %tr
          %th.text-right Delivery Period:
          %td
            = print_object[:delivery_period]
        %tr
          %th.pull-right Contact Person:
          %td
            = print_object[:created_by]

  .row
    .col-xs-11
      %table.table.table-stripped
        %thead
          %tr
            %th No
            %th Item Code
            %th Description
            %th Quantity
            %th Unit Price
            %th Total Price
        %tbody
          - @print_object[:repeat_data].each_with_index do |ob, index|
            %tr
              %td
                =(index+1)
              %td
                = ob[:item_index]
              %td
                = ob[:description]
              %td
                = ob[:quantity]
              %td
                = ob[:unit_price]
              %td.text-right
                = ob[:totalprice]

      %table.table.table-striped
        %tbody
          %tr
            %th
            %td{colspan: 3}
            %th.text-right Total Amount:
            %td.text-right{colspan: 2}= number_with_precision print_object[:total_amount], precision: 2

          %tr
            %th
            %td{colspan: 3}
            %th.text-right Minimum Advanced Required:
            %td.text-right{colspan: 2}= number_with_precision print_object[:total_advance_amount], precision: 2

          %tr
            %th
            %td{colspan: 3}
            %th.text-right Payment Term:
            %td.text-right{colspan: 2}= print_object[:payment_term]

    .col-md-6
      %table.table-default
        %tr
          %th Warranty:
          %td
            = print_object[:warranty]
        %tr
          %th Note:
          %td
            = print_object[:quotation_note]
    %br/

    .col-xs-11
      %strong TERMS AND CONDITIONS
      %ul.list-group
        %li.list
          1. Payment Terms: Full payment with the Purchase Order/Acknowledgement,
        %li.list
          2. Taxes, Duty, Shipping and Freight Cost: This quotation inclusive of Duty, Shipping and Freight Cost.
        %li.list
          3. Options and Accessories: Value of optional items and accessories (if any) not included in above total.
        %li.list
          %strong 4. Warranty: Six month warranty
        %li.list
          5. Cheques to be drawn in favor of "V S Information Systems (Pvt)Ltd" and crossed :A/C Payee Only
        %br/
        %li.list
          Should you have any changes/issues or require any clarifications to above terms and conditions and details, please inform above mentioned person within 24 hours of the recipt of this acknowledgement.
          %br/
          VSIS is pleased to accept this order in accordance with our standard terms and conditions.
          %br/
          %br/
          _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _
          I hereby confirm that I am an authorized signatory and that I accept this quotation with given terms and conditions and confirm an order on these items on behalf of the purchaser/investor (pl. put your official company stamp here)
