- user_ticket_actions = @user_ticket_actions
%h3 Parts to be returned to manufacturer
.row
  .col-md-1
    %strong No
  .col-md-2
    %strong Part Receive at
  .col-md-1
    %strong Ticket No
  .col-md-2
    %strong Part Description
  .col-md-1
    %strong Spare Part No
  .col-md-1
    %strong Event No
  .col-md-2
    %strong Engineer Name
  .col-md-2
    %strong No of days since receive date
%hr

- user_ticket_actions.each_with_index do |user_ticket_action, index|
  / =user_ticket_action.is_hold_and_have_last_hold_action?
  .row
    .col-md-1
      - if params[:page]
        = (index+1)+ 10*(params[:page].to_i-1)
      - else
        = (index+1)

    .col-md-2= user_ticket_action.action_at.strftime(INOCRM_CONFIG["short_date_format"])
    .col-md-1= user_ticket_action.ticket.support_ticket_no
    .col-md-2= user_ticket_action.request_spare_part.ticket_spare_part.spare_part_description
    .col-md-1= user_ticket_action.request_spare_part.ticket_spare_part.spare_part_no
    .col-md-1= user_ticket_action.request_spare_part.ticket_spare_part.spare_part_event_no
    .col-md-2= user_ticket_action.action_by_name
    - date_sent = Date.parse(user_ticket_action.action_at.strftime(INOCRM_CONFIG["short_date_format"]))
    - date_now = Date.today
    .col-md-2= (date_now - date_sent).to_i

  %hr