.row
  .col-md-12
    %fieldset
      %legend Contract Summary Report
      #search_frame
        = form_tag summery_reports_path, method: :get, class: "form-horizontal" do
          .row
            .col-md-3
              = label_tag "Report Generate Date", "Report Generate Date"
              = text_field_tag "contract_date_from", params[:contract_date_from], class: "form-control datepicker", placeholder: "Select from date"
          .row
            .col-md-3
              = label_tag "Brand"
              = select_tag "search_contracts[brand_id]", options_from_collection_for_select(ProductBrand.where(active: true), :id, :name), class: "form-control parent_class", id: "search_contracts_brand_name",include_blank: true
            .col-md-3
              = label_tag "#{CompanyConfig.first.try(:sup_product_category1_label)} : "
              = select_tag "search_contracts[category_cat1_id]", option_groups_from_collection_for_select(ProductBrand.where(active: true), :active_product_category1s, :id, :id, :name, "#"), include_blank: true, id: "search_product_category1", class: "product_category1 form-control"
            .col-md-3
              = label_tag "#{CompanyConfig.first.try(:sup_product_category2_label)} : "
              = select_tag "search_contracts[category_cat2_id]", option_groups_from_collection_for_select(ProductCategory1.all, :active_product_category2s, :id, :id, :name, "#"), include_blank: true, id: "search_product_category2", class: "product_category2 form-control"
            / .col-md-3
            /   = label_tag "Product Category 2: "
            /   = select_tag "search_contracts[category_cat_id]", option_groups_from_collection_for_select(ProductCategory2.all, :product_categories, :name, :id, :name), class: "form-control parent_class product_category chosen-select", include_blank: true

            .col-md-3
              = label_tag "#{CompanyConfig.first.try(:sup_product_category_label)} : "
              = select_tag "search_contracts[category_cat_id]", option_groups_from_collection_for_select(ProductCategory2.all, :active_product_categories, :id, :id, :name), class: "form-control parent_class product_category", include_blank: true
          .row.small_scale_margin-top1
            .col-md-1
              .search
                = submit_tag "Generate Report", class: "btn btn-sm btn-warning", name: "search"
