- uri = URI(request.url)
- ticket = @ticket

- if  !@continue and @ticket_payment_received.new_record?
  = simple_nested_form_for @ticket_payment_received, url: update_customer_feedback_invoices_path, method: :post, remote: true do |f|

    = hidden_field_tag :process_id, Rails.cache.fetch([uri.path, params[:task_id]])[:process_id]
    = hidden_field_tag :task_id, Rails.cache.fetch([uri.path, params[:task_id]])[:task_id]
    = hidden_field_tag :owner, Rails.cache.fetch([uri.path, params[:task_id]])[:owner]
    - Rails.cache.fetch([uri.path, params[:task_id]])[:bpm_input_variables].each do |bpm_input_variable|
      = hidden_field_tag bpm_input_variable[0], bpm_input_variable[1]

    .row
      - unless ticket.ticket_terminated
        .col-md-2
          = label_tag "Re-open"
          = check_box_tag :re_opened

      .col-md-3#unit_dispatch_wrapper
        = label_tag "Unit return customer"
        = check_box_tag :unit_return_customer, true, (ticket.ticket_type.code == 'IH'), disabled: (ticket.ticket_type.code != 'IH')
        %br/
        = label_tag "Dispatch method"
        = select_tag :dispatch_method_id, options_from_collection_for_select(DispatchMethod.all, :id, :name), include_blank: true
      .col-md-3
        = label_tag "Feedback"
        %br
        = select_tag :feedback_id, options_from_collection_for_select(Feedback.all, :id, :feedback), include_blank: true
      .col-md-4
        = label_tag "Feedback description"
        %br
        = text_area_tag :feedback_description, nil, class: "form-control"
    - if ticket.cus_payment_required
      %fieldset#ticket_payment_reciever_wrapper
        %legend Final Payment Required

        .row
          .col-md-3
            %strong Final Amount to be Paid (#{ticket.ticket_currency.code}):
            = number_with_precision ticket.final_amount_to_be_paid.to_f, precision: 2
            #final_amount_to_be_paids.hide= ticket.final_amount_to_be_paid.to_f
          .col-md-4
            = f.input :amount, input_html: {value: 0}, label: "Received amount"
          .col-md-4
            = f.input :receipt_description
          .col-md-2
            = label_tag "Payment type"
            = f.select :payment_type, TicketPaymentReceivedType::TYPES
          .col-md-4
            = f.input :payment_note, label: "Payment note (Ex: credit card no, cheque no, bank, etc...)"
          .col-md-5
            = f.input :note, input_html: {value: nil}
        .row
          .col-md-4
            = label_tag "Payment completed"
            = check_box_tag :payment_completed
    = f.submit "Save", class: "btn btn-success"

- else
  .col-md-4
    - if @ticket_payment_received.persisted?
      = link_to "Print reciept", "#", class: "btn btn-sm btn-success", onclick: "Users.request_printer_application('receipt', '#{@ticket_payment_received.id}', 'receipt_request_type', 'print_receipt_tag_value', 'print_receipt'); false;"


    = link_to "Print delivery", "#", class: "btn btn-sm btn-success", onclick: "Users.request_printer_application('deliver', '#{ticket_payment_received.ticket.id}', 'deliver_type', 'print_ticket_delivery_note_tag_value', 'print_ticket_delivery_note'); false;" if not params[:re_opened].present?