- TaskAction
= simple_form_for InformCustomer.new, url: update_inform_customer_invoices_path, method: :post, remote: true do |f|
  = hidden_field_tag :ticket_id, @ticket.id
  .col-md-4
    %strong Informed by:
    #{current_user.email}
  .col-md-4
    %strong Informed at:
    #{DateTime.now.strftime("%Y-%m-%d %H:%M")}
  %hr
  .row
    .col-md-6
      = f.input :subject
    .col-md-6
      = f.association :ticket_contact_type, label: "Inform to customer"
    .col-md-12
      = f.input :note, label: "Inform note"
    .col-md-12
      = f.submit "Save", class: "btn btn-xs btn-success"

- InformCustomer.where(ticket_action_id: @ticket.user_ticket_action_ids).each do |i|
  .panel-group
    .panel.panel-success
      .panel-heading= i.subject
      .panel-body
        .row
          .col-md-4
            %address
              %strong= i.contact_type.name
              %br
              = i.contact_address
          .col-md-8
            = i.note
            