.row.col-md-12
  %strong ON-LOAN Part Request
.row.col-md-12
  .col-md-6
    %strong Part No:
    #{spare_part.spare_part_no}
  .col-md-6
    %strong Part Status:
    #{spare_part.spare_part_status_action.try(:name)}
.row.col-md-12
  .col-md-6
    %strong Part Description:
    #{spare_part.spare_part_description}
  .col-md-6
    - if spare_part.part_terminated == true
      %strong Terminated
    - else
      %strong Not Terminated
      %br
.row.col-md-12
  .form-group
    = simple_nested_form_for spare_part, url: update_approved_part_tickets_path, method: :post, remote: true do |f|
      = f.simple_fields_for :ticket_spare_part_store do |sto|
        .row
          .col-md-6
            - if spare_part.status_action_id == 11
              = sto.input :store_request_approved, as: :radio_buttons, collection: {"Approved" => true, "Reject" => false}, label:"", :disabled => true
            - else
              = sto.input :store_request_approved, as: :radio_buttons, collection: {"Approved" => true, "Reject" => false}, label:""
          .col-md-6
            = sto.input :part_of_main_product, as: :radio_buttons, collection: {"Part of a Main Product" => true, "Seperate Product" => false}, label:""
        .row
          .col-md-6
            - if spare_part.ticket_spare_part_store.store_request_approved == true
              = link_to "Item", inventory_in_modal_inventories_path(select_frame: "request_from"), id: "request_from_select", remote: true
              .request_from
          .col-md-6
            - if spare_part.ticket_spare_part_store.part_of_main_product == true
              = link_to "Item", inventory_in_modal_inventories_path(select_frame: "main_product"), id: "part_of_main_product_select", remote: true
              .main_product
        .col-md-12
          = f.input :note
        .col-md-12
          = f.submit "Save", class: "btn btn-success btn-sm"

#inventory_modal.modal.fade{tabindex: -1, role: "dialog", "aria-labelledby" => "inventory_modal", "aria-hidden" => true}
  .modal-dialog.modal-lg
    .modal-content