%nav.navbar.navbar-default.navbar-static-top
  .container
    %button.navbar-toggle{type: "button", data: {toggle: "collapse", target: "#header-nav"}}
      %span.sr-only Toggle Navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    / .logo= link_to image_tag("logo.png", class: "small_scale_margin-top1"),root_url
    = link_to root_url, class: "navbar-brand" do
      INOCRM
    .navbar-collapse.collapse.navbar-responsive-collapse.navbar-right.fixed#header-nav
      %ul.nav.navbar-nav
        %li
          = link_to "todo", todos_path, class: "dropdown-toggle todo text-hide nav-icon", data: {placement: "bottom"}, title: "To Do", rel: "tooltip"
        %li#websocket_alert_list
          = link_to "Alert", "#", class: "dropdown-toggle alert text-hide nav-icon margin-bottom0", title: "Alert", rel: "tooltip", id: "websocket_alert"

        - if can? :dashboard, Organization
          %li#dashboard.small_scale_margin-right10.dropdown{role: "presentation"}
            = link_to "Configuration", "#", class: "dropdown-toggle organization text-hide nav-icon", data: {toggle: "dropdown", placement: "bottom"}, "aria-haspopup" => "true", "aria-expanded" => "true", title: "Configuration", rel: "tooltip"
            %ul.dropdown-menu{"aria-labelledby" => "conf_dropdown"}
              %li{role: "presentation"}
                = link_to "Organization", dashboard_organization_path(Organization.owner)
              %li{role: "presentation"}
                = link_to admins_root_path do
                  Admin board

        %li.dropdown.small_scale_margin-right10{role: "presentation"}
          = link_to "supplier", "#", id: "supplier_dropdown", class: "dropdown-toggle supplier text-hide nav-icon", data: {toggle: "dropdown", placement: "bottom"}, "aria-haspopup" => "true", "aria-expanded" => "true", title: "Supplier", rel: "tooltip"
          %ul.dropdown-menu{"aria-labelledby" => "supplier_dropdown"}
            %li{role: "presentation"}
              = link_to organizations_path(category: Organization::TYPES[0]) do
                %span= image_tag "organization_suppliers.png", style: "width: 12%;"
                %span Organization Suppliers
            %li{role: "presentation"}
              = link_to organizations_path(category: Organization::TYPES[2]) do
                %span= image_tag "individual_supplier.png", style: "width: 12%;"
                %span Individual Suppliers
            - if can? :new, Organization
              %li.divider
              %li.dropdown-header Create Supplier
              %li{role: "presentation"}= link_to "New Organization Supplier", new_organization_path(category: Organization::TYPES[0])
              %li{role: "presentation"}= link_to "New Individual Supplier", new_organization_path(category: Organization::TYPES[2])

        %li.dropdown.small_scale_margin-right10{role: "presentation"}
          = link_to "Customers", "#", class: "dropdown-toggle customers text-hide nav-icon", id: "customer_dropdown", data: {toggle: "dropdown", placement: "bottom"}, title: "Customer", rel: "tooltip"
          %ul.dropdown-menu{"aria-labelledby" => "customer_dropdown"}
            %li{role: "presentation"}
              = link_to organizations_path(category: Organization::TYPES[1]) do
                %span= image_tag "organization_customers.png", style: "width: 12%;"
                %span Organizaion Customers
            %li{role: "presentation"}
              = link_to organizations_path(category: Organization::TYPES[3]) do
                %span= image_tag "individual_customer.png", style: "width: 12%;"
                %span Individual Customers
            - if can? :new, Organization
              %li.divider
              %li.dropdown-header Create Customer
              %li{role: "presentation"}= link_to "New Organization Customer", new_organization_path(category: Organization::TYPES[1])
              %li{role: "presentation"}= link_to "New Individual Customer", new_organization_path(category: Organization::TYPES[3])

        %li.dropdown.small_scale_margin-right10{role: "presentation"}
          = link_to "Supports", "#", class: "dropdown-toggle tickets text-hide nav-icon", id: "ticket_dropdown", data: {toggle: "dropdown", placement: "bottom"}, title: "Support tickets", rel: "tooltip"
          %ul.dropdown-menu{"aria-labelledby" => "ticket_dropdown"}
            / %li{role: "presentation"}= link_to "HP PO", hp_po_inventories_path
            %li{role: "presentation"}= link_to "New Support Ticket", new_ticket_path
            %li{role: "presentation"}= link_to "Customer Product", customer_search_contracts_path
            %li{role: "presentation"}= link_to "Customer Contract", contracts_path
            %li{role: "presentation"}= link_to "Customer Inquire", customer_inquire_tickets_path
            %li{role: "presentation"}= link_to "Customer Advance Payment", customer_advance_payment_tickets_path
            %li{role: "presentation"}= link_to "View Delivered Bundle", view_delivered_bundle_tickets_path
            %li{role: "presentation"}= link_to "Create PO", hp_po_tickets_path
            %li{role: "presentation"}= link_to "View PO", view_po_tickets_path
            %li{role: "presentation"}= link_to "Create Invoice for HP", create_invoice_for_hp_tickets_path
            / %li{role: "presentation"}= link_to "Add Edit Contract",add_edit_contract_tickets_path
            %li.divider
            %li.dropdown-header Reports
            %li{role: "presentation"}= link_to "ERP Report", excel_output_reports_path
            %li{role: "presentation"}= link_to "Contract Report", contract_report_reports_path
            %li{role: "presentation"}= link_to "Contract Cost Analysis Report", ticket_wise_report_reports_path
            %li{role: "presentation"}= link_to "Contract - Ticket Report", job_tickets_report_reports_path

        - if user_signed_in?
          %li.dropdown.profile_image_dropdown
            = link_to image_tag((current_user.avatar.thumb.url || "no_image.jpg"), class: "img-responsive padding-top1 padding-bottom1"), "#", "data-toggle" => "dropdown", data: {placement: "bottom", toggle: "dropdown"}, title: "Hi! #{current_user.current_user_role_name} #{current_user.full_name || current_user.email}", rel: "tooltip", class: "padding0"
            %ul.dropdown-menu{role: "menu"}
              %li= link_to "My Profile", profile_user_path(current_user)
              %li.divider
              %li.dropdown-header Switch to role
              - current_user.roles.to_a.reject{|r| r.id == current_user.current_user_role_id.to_i}.each do |role|
                %li= link_to role.name, assign_role_user_path(current_user.id, set_role_id: role.id)
              %li.divider
              %li= link_to "Sign Out", destroy_user_session_path, method: :delete

        %li.dropdown.small_scale_margin-right10{role: "presentation"}
          = link_to "Inventory", "#", class: "dropdown-toggle inventory text-hide nav-icon", id: "inventory_dropdown", data: {toggle: "dropdown", placement: "bottom"}, title: "Inventory", rel: "tooltip"
          %ul.dropdown-menu{"aria-labelledby" => "inventory_dropdown"}
            %li.dropdown-submenu{role: "presentation"}
              = link_to "Create", "#"
              %ul.dropdown-menu
                %li.dropdown-header GRN
                %li{role: "presentation"}= link_to "GRN", grn_admins_inventories_path
                %li{role: "presentation"}= link_to "Part of main unit", grn_main_part_admins_inventories_path
                %li.divider
                %li{role: "presentation"}= link_to "SRN", srn_admins_inventories_path
                %li{role: "presentation"}= link_to "GIN", gin_admins_inventories_path
                %li{role: "presentation"}= link_to "SRR", srr_admins_inventories_path
                %li{role: "presentation"}= link_to "PO", po_admins_inventories_path, id: "go_to_po"
                %li{role: "presentation"}= link_to "PRN", prn_admins_inventories_path

            %li.dropdown-submenu{role: "presentation"}
              = link_to "Search", "#"
              %ul.dropdown-menu
                %li{role: "presentation"}= link_to "GRN", search_grn_admins_searches_path
                %li{role: "presentation"}= link_to "Inventory", inventories_admins_searches_path
                %li{role: "presentation"}= link_to "PO", pos_admins_inventories_path
                %li{role: "presentation"}= link_to "Receives (PRN,PO,GRN)", search_receives_admins_searches_path
                %li{role: "presentation"}= link_to "Returns (GIN,SRR,GRN)", search_returns_admins_searches_path
                %li{role: "presentation"}= link_to "Issues (SRN,GIN)", search_issues_admins_searches_path
                %li{role: "presentation"}= link_to "Inventory Serial Item", search_inventory_serial_item_admins_searches_path
