%nav.navbar.navbar-default.navbar-static-top.navbar-inverse
  .container
    %button.navbar-toggle{type: "button", data: {toggle: "collapse", target: "#header-nav"}}
      %span.sr-only Toggle Navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    .logo= link_to image_tag("logo.png", class: "small_scale_margin-top1"),root_url
    .navbar-collapse.collapse.navbar-responsive-collapse.navbar-right.fixed#header-nav
      %ul.nav.navbar-nav
        %li
          = link_to "todo", "#", class: "dropdown-toggle todo text-hide nav-icon", data: {placement: "bottom"}, title: "To Do", rel: "tooltip"
        %li
          = link_to "Alert", "#", class: "dropdown-toggle alert text-hide nav-icon margin-bottom0", data: {placement: "bottom"}, title: "Alert", rel: "tooltip"
        - if can? :dashboard, Organization
          %li.small_scale_margin-right10.dropdown{role: "presentation"}
            = link_to "Configuration", "#", class: "dropdown-toggle organization text-hide nav-icon", data: {toggle: "dropdown", placement: "bottom"}, "aria-haspopup" => "true", "aria-expanded" => "true", title: "Configuration", rel: "tooltip"
            %ul.dropdown-menu{"aria-labelledby" => "conf_dropdown"}
              %li{role: "presentation"}
                = link_to "Organization", dashboard_organization_path(Organization.owner)
              %li{role: "presentation"}
                = link_to "#" do
                  Admin board

        %li.dropdown.small_scale_margin-right10{role: "presentation"}
          = link_to "supplier", "#", id: "supplier_dropdown", class: "dropdown-toggle supplier text-hide nav-icon", data: {toggle: "dropdown", placement: "bottom"}, "aria-haspopup" => "true", "aria-expanded" => "true", title: "Supplier", rel: "tooltip"
          %ul.dropdown-menu{"aria-labelledby" => "supplier_dropdown"}
            %li{role: "presentation"}
              = link_to root_path(category: "organization_suppliers") do
                %span= image_tag "organization_suppliers.png", style: "width: 12%;"
                %span Organization Suppliers
            %li{role: "presentation"}
              = link_to root_path(category: "individual_suppliers") do
                %span= image_tag "individual_supplier.png", style: "width: 12%;"
                %span Individual Suppliers
            - if can? :new, Organization
              %li.divider
              %li.dropdown-header Create Supplier
              %li{role: "presentation"}= link_to "New Organization Supplier", new_organization_path(category: Organization::TYPES[0])
              %li{role: "presentation"}= link_to "New Individual Supplier", new_organization_path(category: Organization::TYPES[2])

        %li.dropdown.small_scale_margin-right10{role: "presentation"}
          = link_to "Customers", "#", class: "dropdown-toggle customers text-hide nav-icon", id: "customer_dropdown", data: {toggle: "dropdown", placement: "bottom"}, title: "Customer", rel: "tooltip"
          %ul.dropdown-menu{"aria-labelledby" => "customer_dropdown"}
            %li{role: "presentation"}
              = link_to root_path(category: "organization_customers") do
                %span= image_tag "organization_customers.png", style: "width: 12%;"
                %span Organizaion Customers
            %li{role: "presentation"}
              = link_to individual_customers_users_path do
                %span= image_tag "individual_customer.png", style: "width: 12%;"
                %span Individual Customers
            - if can? :new, Organization
              %li.divider
              %li.dropdown-header Create Customer
              %li{role: "presentation"}= link_to "New Organization Customer", new_organization_path(category: Organization::TYPES[1])
              %li{role: "presentation"}= link_to "New Individual Customer", new_user_path(is_customer: true)#new_organization_path(category: Organization::TYPES[3])

        %li.dropdown.small_scale_margin-right10{role: "presentation"}
          = link_to "Supports", "#", class: "dropdown-toggle tickets text-hide nav-icon", id: "ticket_dropdown", data: {toggle: "dropdown", placement: "bottom"}, title: "Support tickets", rel: "tooltip"
          %ul.dropdown-menu{"aria-labelledby" => "ticket_dropdown"}
            %li{role: "presentation"}
              = link_to tickets_path do
                %span= image_tag "ticket.png", style: "width: 12%;"
                %span Supports
            %li{role: "presentation"}
              %li.divider
              / %li.dropdown-header Create Ticket
              %li{role: "presentation"}= link_to "New Support", new_ticket_path

        - if user_signed_in?
          %li.dropdown.profile_image_dropdown
            = link_to image_tag((current_user.avatar.thumb.url || "no_image.jpg"), class: "img-responsive padding-top1 padding-bottom1"), "#", "data-toggle" => "dropdown", data: {toggle: "tooltip", placement: "bottom", toggle: "dropdown"}, title: "Hi! #{current_user.current_user_role_name} #{current_user.last_name || current_user.email}", rel: "tooltip", class: "padding0"
            %ul.dropdown-menu{role: "menu"}
              %li= link_to "My Profile", profile_user_path(current_user)
              %li.divider
              %li.dropdown-header Switch to role
              - current_user.roles.where.not(id: current_user.current_user_role_id).each do |role|
                %li= link_to role.name, assign_role_user_path(current_user.id, set_role_id: role.id)
              %li.divider
              %li= link_to "Sign Out", destroy_user_session_path, method: :delete