- if user_signed_in?
  %ul.nav.nav-pills.nav-stacked
    %li.active= link_to "sample", "#"
    %li= link_to "sample", "#"
    %li= link_to "sample", "#"
    %li= link_to "sample", "#"
    %li= link_to "sample", "#"
    %li= link_to "sample", "#"
