.navbar-default
  .sidebar-nav
    %ul#side-menu.nav.nav-pills.nav-stacked

      - [{path: "#", is_active: "#{'active' if controller_name == 'organizations'}", content: "Organizations", icon_symbol: "sitemap"}, {path: "#", is_active: "#{'active' if controller_name == 'employees'}", content: "Employees", icon_symbol: "group"}, {path: admins_tickets_path, is_active: "#{'active' if controller_name == 'tickets'}", content: "Tickets", icon_symbol: "tty"}, {path: "#", is_active: "#{'active' if controller_name == 'roles'}", content: "Roles & Permissions", icon_symbol: "paper-plane-o"}, {path: "#", is_active: "#{'active' if controller_name == 'sales'}", content: "Sales", icon_symbol: "exchange"}, {path: "#", is_active: "#{'active' if controller_name == 'inventories'}", content: "Inventory", icon_symbol: "list-alt"}].each do |e|
        %li{class: "#{e[:is_active]}"}
          = link_to e[:path], class: "text6" do
            %span{class: "icon-#{e[:icon_symbol]}"}
            = e[:content]